#lego-wrap-cms
	display: block
	margin: 0 auto
	max-width: 1316px
	width: 100%
	height: auto
	position: relative
	margin-top: 15px
	img
		&:hover
			opacity: 1
	&:first-letter
		padding-left: 0
	img
		display: block
		margin-right: initial
		margin-left: initial
	p
		font-size: 18px
		margin-bottom: 0
		color: #fff
		text-align: center
		letter-spacing: -0.015em
		text-transform: uppercase
		max-width: 151px
		margin: 0 auto
		display: block
		font-weight: 500
span.word-wrap
	display: block
	word-wrap: break-word
// default
.lego-cms-banner__desktop
	display: block
	border-radius: 16px
	overflow: hidden
.lego-cms-banner__mob
	display: none
	img
		margin: 0 auto !important
.lego-cms-grid
	padding-top: 15px
	padding-bottom: 50px
	display: grid
	grid-gap: 23px
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr
	align-items: flex-end
.lego-cms-grid__item-img
	transition: .3s
.lego-cms-grid__item
	position: relative
	min-height: 360px
	display: flex
	align-items: flex-end
	transition: .3s
	&:hover
		.lego-cms-grid__item-img
			position: relative
			top: -3px
			transition: .3s
	&::before
		content: ""
		position: absolute
		width: 200px
		height: 275px
		left: 0
		top: 0
		right: 0
		margin: 0 auto
		filter: blur(50px)
		z-index: 1
	&:nth-child(1)
		&::before
			background: linear-gradient(180deg, rgba(255, 174, 32, 0.16) 0%, #000000 100%)
		.lego-cms-grid__item-p
			background: #5B141C
	&:nth-child(2)
		&::before
			background: linear-gradient(180deg, rgba(47, 93, 255, 0.09) 0%, #000000 100%)
		.lego-cms-grid__item-p
			background: #001B2B
	&:nth-child(3)
		&::before
			background: linear-gradient(180deg, rgba(97, 128, 0, 0.38) 0%, #000000 100%)
		.lego-cms-grid__item-p
			background: #031B09
	&:nth-child(4)
		&::before
			background: linear-gradient(180deg, rgba(115, 30, 95, 0.34) 0%, #000000 100%)
		.lego-cms-grid__item-p
			background: #15000E
	&:nth-child(5)
		&::before
			background: linear-gradient(180deg, rgba(0, 21, 21, 0.47) 0%, rgba(0, 136, 136, 0.37) 0.01%, #000000 100%)
		.lego-cms-grid__item-p
			background: #001515
	&:nth-child(6)
		&::before
			background: linear-gradient(180deg, rgba(150, 107, 0, 0.3) 0%, #000000 100%)
		.lego-cms-grid__item-p
			background: #291100
.lego-cms-grid__item-content
	position: relative
	max-width: 199px
	z-index: 2
.lego-cms-grid__item-p
	position: absolute
	bottom: 0
	left: 0
	width: 100%
	border-radius: 0px 0px 16px 16px
	padding: 16px 5px
	min-height: 92px
	overflow: hidden
// media
// @media (max-width: 1250px)
@media (max-width: 1024px)
	.lego-cms-grid
		padding-top: 15px
		padding-bottom: 50px
		grid-gap: 5px
		grid-template-columns: 1fr 1fr 1fr
	.lego-cms-grid__item
		margin: 0 auto
	.lego-cms-banner
		padding: 0 15px
// @media (max-width: 812px)
@media (max-width: 480px)
	.lego-cms-grid
		grid-template-columns: 1fr 1fr
		padding: 0 5px 25px 5px
	.lego-cms-banner
		padding: 0 0
	.lego-cms-grid__item
		min-height: 305px
	.lego-cms-banner__desktop
		display: none
	.lego-cms-banner__mob
		display: block
	.lego-cms-grid__item-content
		max-width: 170px
	.lego-cms-grid__item::before
		top: 15px
		width: 170px
		height: 250px
	#lego-wrap-cms p
		font-size: 16px
	.lego-cms-grid__item-p
		padding: 8px 5px
		min-height: 71px
	#lego-wrap-cms
		margin-top: 0
