#lego-wrap-cms {
  display: block;
  margin: 0 auto;
  max-width: 1316px;
  width: 100%;
  height: auto;
  position: relative;
  margin-top: 15px;
}

#lego-wrap-cms img:hover {
  opacity: 1;
}

#lego-wrap-cms:first-letter {
  padding-left: 0;
}

#lego-wrap-cms img {
  display: block;
  margin-right: initial;
  margin-left: initial;
}

#lego-wrap-cms p {
  font-size: 18px;
  margin-bottom: 0;
  color: #fff;
  text-align: center;
  letter-spacing: -0.015em;
  text-transform: uppercase;
  max-width: 151px;
  margin: 0 auto;
  display: block;
  font-weight: 500;
}

span.word-wrap {
  display: block;
  word-wrap: break-word;
}

.lego-cms-banner__desktop {
  display: block;
  -webkit-border-radius: 16px;
     -moz-border-radius: 16px;
          border-radius: 16px;
  overflow: hidden;
}

.lego-cms-banner__mob {
  display: none;
}

.lego-cms-banner__mob img {
  margin: 0 auto !important;
}

.lego-cms-grid {
  padding-top: 15px;
  padding-bottom: 50px;
  display: -ms-grid;
  display: grid;
  grid-gap: 23px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
     -moz-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.lego-cms-grid__item-img {
  -webkit-transition: .3s;
  -o-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
}

.lego-cms-grid__item {
  position: relative;
  min-height: 360px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
     -moz-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-transition: .3s;
  -o-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
}

.lego-cms-grid__item:hover .lego-cms-grid__item-img {
  position: relative;
  top: -3px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
}

.lego-cms-grid__item::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 275px;
  left: 0;
  top: 0;
  right: 0;
  margin: 0 auto;
  -webkit-filter: blur(50px);
          filter: blur(50px);
  z-index: 1;
}

.lego-cms-grid__item:nth-child(1)::before {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 174, 32, 0.16)), to(#000000));
  background: -webkit-linear-gradient(top, rgba(255, 174, 32, 0.16) 0%, #000000 100%);
  background: -moz-linear-gradient(top, rgba(255, 174, 32, 0.16) 0%, #000000 100%);
  background: -o-linear-gradient(top, rgba(255, 174, 32, 0.16) 0%, #000000 100%);
  background: linear-gradient(180deg, rgba(255, 174, 32, 0.16) 0%, #000000 100%);
}

.lego-cms-grid__item:nth-child(1) .lego-cms-grid__item-p {
  background: #5B141C;
}

.lego-cms-grid__item:nth-child(2)::before {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 93, 255, 0.09)), to(#000000));
  background: -webkit-linear-gradient(top, rgba(47, 93, 255, 0.09) 0%, #000000 100%);
  background: -moz-linear-gradient(top, rgba(47, 93, 255, 0.09) 0%, #000000 100%);
  background: -o-linear-gradient(top, rgba(47, 93, 255, 0.09) 0%, #000000 100%);
  background: linear-gradient(180deg, rgba(47, 93, 255, 0.09) 0%, #000000 100%);
}

.lego-cms-grid__item:nth-child(2) .lego-cms-grid__item-p {
  background: #001B2B;
}

.lego-cms-grid__item:nth-child(3)::before {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(97, 128, 0, 0.38)), to(#000000));
  background: -webkit-linear-gradient(top, rgba(97, 128, 0, 0.38) 0%, #000000 100%);
  background: -moz-linear-gradient(top, rgba(97, 128, 0, 0.38) 0%, #000000 100%);
  background: -o-linear-gradient(top, rgba(97, 128, 0, 0.38) 0%, #000000 100%);
  background: linear-gradient(180deg, rgba(97, 128, 0, 0.38) 0%, #000000 100%);
}

.lego-cms-grid__item:nth-child(3) .lego-cms-grid__item-p {
  background: #031B09;
}

.lego-cms-grid__item:nth-child(4)::before {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(115, 30, 95, 0.34)), to(#000000));
  background: -webkit-linear-gradient(top, rgba(115, 30, 95, 0.34) 0%, #000000 100%);
  background: -moz-linear-gradient(top, rgba(115, 30, 95, 0.34) 0%, #000000 100%);
  background: -o-linear-gradient(top, rgba(115, 30, 95, 0.34) 0%, #000000 100%);
  background: linear-gradient(180deg, rgba(115, 30, 95, 0.34) 0%, #000000 100%);
}

.lego-cms-grid__item:nth-child(4) .lego-cms-grid__item-p {
  background: #15000E;
}

.lego-cms-grid__item:nth-child(5)::before {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 21, 21, 0.47)), color-stop(0.01%, rgba(0, 136, 136, 0.37)), to(#000000));
  background: -webkit-linear-gradient(top, rgba(0, 21, 21, 0.47) 0%, rgba(0, 136, 136, 0.37) 0.01%, #000000 100%);
  background: -moz-linear-gradient(top, rgba(0, 21, 21, 0.47) 0%, rgba(0, 136, 136, 0.37) 0.01%, #000000 100%);
  background: -o-linear-gradient(top, rgba(0, 21, 21, 0.47) 0%, rgba(0, 136, 136, 0.37) 0.01%, #000000 100%);
  background: linear-gradient(180deg, rgba(0, 21, 21, 0.47) 0%, rgba(0, 136, 136, 0.37) 0.01%, #000000 100%);
}

.lego-cms-grid__item:nth-child(5) .lego-cms-grid__item-p {
  background: #001515;
}

.lego-cms-grid__item:nth-child(6)::before {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(150, 107, 0, 0.3)), to(#000000));
  background: -webkit-linear-gradient(top, rgba(150, 107, 0, 0.3) 0%, #000000 100%);
  background: -moz-linear-gradient(top, rgba(150, 107, 0, 0.3) 0%, #000000 100%);
  background: -o-linear-gradient(top, rgba(150, 107, 0, 0.3) 0%, #000000 100%);
  background: linear-gradient(180deg, rgba(150, 107, 0, 0.3) 0%, #000000 100%);
}

.lego-cms-grid__item:nth-child(6) .lego-cms-grid__item-p {
  background: #291100;
}

.lego-cms-grid__item-content {
  position: relative;
  max-width: 199px;
  z-index: 2;
}

.lego-cms-grid__item-p {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  -webkit-border-radius: 0px 0px 16px 16px;
     -moz-border-radius: 0px 0px 16px 16px;
          border-radius: 0px 0px 16px 16px;
  padding: 16px 5px;
  min-height: 92px;
  overflow: hidden;
}

@media (max-width: 1024px) {
  .lego-cms-grid {
    padding-top: 15px;
    padding-bottom: 50px;
    grid-gap: 5px;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .lego-cms-grid__item {
    margin: 0 auto;
  }
  .lego-cms-banner {
    padding: 0 15px;
  }
}

@media (max-width: 480px) {
  .lego-cms-grid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    padding: 0 5px 25px 5px;
  }
  .lego-cms-banner {
    padding: 0 0;
  }
  .lego-cms-grid__item {
    min-height: 305px;
  }
  .lego-cms-banner__desktop {
    display: none;
  }
  .lego-cms-banner__mob {
    display: block;
  }
  .lego-cms-grid__item-content {
    max-width: 170px;
  }
  .lego-cms-grid__item::before {
    top: 15px;
    width: 170px;
    height: 250px;
  }
  #lego-wrap-cms p {
    font-size: 16px;
  }
  .lego-cms-grid__item-p {
    padding: 8px 5px;
    min-height: 71px;
  }
  #lego-wrap-cms {
    margin-top: 0;
  }
}
