// @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap')

// body
//    margin: 0

.rkt-neor-juicer-h160-wt__container
   overflow: hidden

.bc-description__content p:first-letter
   padding-left: 0 !important

$bp-mobile: 320px
$bp-tablet: 768px
$bp-hd-desktop: 1024px
$maxWidthContainer: 1023

@mixin adaptiv-value($property, $startSize, $minSize)
   $addSize: $startSize - $minSize
   #{$property}: $startSize + px
   @media (max-width: #{$maxWidthContainer + px})
      #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}))

#rkt-neor-juicer-h160-wt
   // margin: 0 auto
   // display: grid
   // grid-template-columns: calc(100% - 400px) 400px
   // max-width: 1406px
   // font-family: 'Roboto', sans-serif
   max-width: 1023px
   width: 100%
   height: auto
   position: relative
   overflow: hidden
   background: #fff
   h2, h3, h4, h5, h6, p
      margin: 0
      padding: 0
      line-height: 1.2
   ul
      margin: 0
      padding: 0
      list-style-type: disc
      padding-left: 20px
      margin: 0.5rem 0
      display: flex
      flex-direction: column
      gap: 1em
   img
      display: block
      max-width: 100%
      opacity: 1
      margin: 0 auto
      &:hover
         opacity: 1
   h2
      @include adaptiv-value("font-size", 26, 20)
      font-weight: 900
      text-align: left
      margin-bottom: 1rem
   h3
      @include adaptiv-value("font-size", 20, 18)
      font-weight: 900
      text-align: left
      margin-bottom: 1rem
   p
      @include adaptiv-value("font-size", 16, 14)
      font-weight: 400
      text-align: left
   li
      @include adaptiv-value("font-size", 16, 14)
      font-weight: 400
      text-align: left
      line-height: 1.2
   i
      line-height: 1.2
      @include adaptiv-value("font-size", 16, 14)
      margin-top: 0.5rem
      display: block
      font-style: italic

//aeno

.neor
   display: flex
   flex-direction: column
   gap: 2em
   padding: 2em

.neor__row
   display: flex
   flex-direction: row-reverse
   align-items: center
   gap: 4em
   >div
      flex-basis: 50%
      box-sizing: border-box
   &:nth-of-type(even)
      flex-direction: row

.neor__txt
   padding: 2em
   p
      &:nth-of-type(n+2)
         margin-top: 1em !important

.neor__block
   h2,p
      text-align: center !important

.neor__title
   h2
      text-align: center !important

//*********************************media*************************

// @media (min-width: $bp-mobile) and (max-width: 767.9px)
   // #rkt-neor-juicer-h160-wt
   //    display: block !important

@media (min-width: $bp-tablet) and (max-width: 1023.9px)
   // #rkt-neor-juicer-h160-wt
   //    display: block !important

   .neor
      padding: 2em !important
   .neor__txt
      padding: 2em !important
   .neor__row
      flex-direction: row !important
      gap: 4em !important
      align-items: center !important
      &:nth-of-type(even)
         flex-direction: row-reverse !important

@media (min-width: $bp-mobile) and (max-width: 1201px)
   // #rkt-neor-juicer-h160-wt
   //    display: grid
   //    grid-template-columns: calc(100% - 400px) 400px

   .neor
      padding: 1em
   .neor__txt
      padding: 0
   .neor__row
      flex-direction: column
      gap: 1em
      align-items: unset
      &:nth-of-type(even)
         flex-direction: column

   .neor__block
      h2,p
         text-align: left !important
      .neor__txt
         padding-bottom: 1em
