#samsungs21 {
  display: block;
  margin: 0 auto;
  max-width: 1316px;
  width: 100%;
  height: auto;
  overflow: hidden;
  background: #fff;
  position: relative;
}

#samsungs21 img:hover {
  opacity: 1;
}

#samsungs21:first-letter {
  padding-left: 0;
}

#samsungs21 img {
  display: block;
  margin-right: initial;
  margin-left: initial;
}

#samsungs21 p {
  margin-bottom: 0;
}

#samsungs21 h2 {
  font-size: 48px;
  line-height: 1;
  font-weight: bold;
  color: #000;
  text-align: center;
}

#samsungs21 h3 {
  font-size: 34px;
  margin: 0;
  padding-top: 0;
  line-height: 1;
  font-weight: bold;
  text-align: center;
  color: #000;
}

span.word-wrap {
  display: block;
  word-wrap: break-word;
}

.breadcrumbs {
  display: none;
}

.main-container.page {
  padding-left: 0;
  padding-right: 0;
}

.main-container_gray {
  background: #fff;
}

.header-s21 {
  background: #F4F4F4;
  -webkit-border-radius: 16px;
     -moz-border-radius: 16px;
          border-radius: 16px;
}

.header-s21__container {
  padding: 60px 20px 0 20px;
  margin-top: 20px;
  position: relative;
}

.header-s21__logo {
  position: absolute;
  left: 50px;
  top: 45px;
}

.header-s21__h2 {
  text-align: center;
}

.header-s21__h2 h2:last-child {
  padding-top: 35px;
}

.header-s21__item-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  max-width: 1075px;
  margin: 0 auto;
  padding: 50px 0 53px 0;
}

.header-s21__item {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 105px;
     -moz-box-flex: 1;
      -ms-flex: 1 1 105px;
          flex: 1 1 105px;
  max-width: 105px;
}

.header-s21__item img {
  margin: 0 auto;
  display: block;
}

.header-s21__item p {
  text-align: center;
  padding-top: 10px;
  font-weight: bold;
  font-size: 16px;
}

.header-s21__link {
  background: #000000;
  -webkit-border-radius: 28px;
     -moz-border-radius: 28px;
          border-radius: 28px;
  width: 100%;
  max-width: 275px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.header-s21__link a {
  text-transform: uppercase;
  color: #fff;
  font-size: 20px;
  text-align: center;
  padding: 10px 0;
  display: block;
}

.header-s21__phone-desk img {
  margin: 0 auto !important;
  display: block;
}
