/*default styles*/
#lg {
  max-width: 1316px;
  width: 100%;
  margin: 0 auto;
  height: auto;
  display: block;
  background-color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#lg p {
  margin-bottom: 0;
  font-size: 18px;
}

#lg p:first-letter {
  padding-left: 0;
}

#lg h2 {
  display: block;
  line-height: normal;
  font-size: 36px;
  font-weight: normal;
  padding: 20px 0 10px 0;
}

#lg img {
  opacity: 1;
  max-width: 100%;
  display: block;
  height: auto;
}

#lg img:hover {
  opacity: 1;
}

#lg ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.features-desc__text img {
  margin-bottom: 0rem;
}

.one-col .features-desc__text p:first-letter {
  padding-left: 0rem !important;
}

/*end default styles*/
#lg .wins {
  position: relative;
}

#lg .wins .wins_txt {
  position: absolute;
  top: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 900px;
  text-align: center;
  color: #fff;
  max-width: 100%;
}

#lg .ips .ips_txt {
  padding: 70px;
  background-color: #333333;
  color: #fff;
}

#lg .moment {
  height: 1036px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url("https://cdn.comfy.ua/media/x/img/1619054/4.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

#lg .moment .moment_txt {
  padding: 70px;
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  color: #fff;
}

#lg .srgb .srgb_txt {
  text-align: center;
  padding: 70px;
  max-width: 900px;
  margin: 0 auto;
}

#lg .sync .sync_txt {
  padding: 70px;
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}

#lg .sync span {
  padding: 20px;
  display: block;
}

#lg .freesync .freesync_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

#lg .freesync .freesync_list li {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  max-width: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#lg .freesync .freesync_list li:last-of-type {
  padding: 40px;
}

#lg .hdr {
  height: 1036px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url("https://cdn.comfy.ua/media/x/img/1619054/8.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

#lg .hdr .hdr_txt {
  padding: 70px;
  max-width: 900px;
  color: #fff;
  margin: 0 auto;
  text-align: center;
}

#lg .dynamic {
  padding: 70px;
  background-color: #000;
}

#lg .dynamic .dynamic_list {
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

#lg .dynamic .dynamic_list li {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  max-width: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#lg .dynamic .dynamic_list li:last-of-type {
  padding-left: 40px;
}

#lg .stab, #lg .optic {
  padding: 70px;
  background-color: #000;
}

#lg .stab .stab_list, #lg .stab .optic_list, #lg .optic .stab_list, #lg .optic .optic_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

#lg .stab .stab_list li, #lg .stab .optic_list li, #lg .optic .stab_list li, #lg .optic .optic_list li {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  max-width: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
}

#lg .stab .stab_list li:last-of-type, #lg .stab .optic_list li:last-of-type, #lg .optic .stab_list li:last-of-type, #lg .optic .optic_list li:last-of-type {
  padding-right: 40px;
}

#lg .optic .optic_list {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-right: 0;
}

#lg .optic .optic_list li:last-of-type {
  padding-left: 40px;
  padding-right: 0;
}

#lg .design .design_txt {
  max-width: 900px;
  margin: 0 auto;
  padding: 70px;
  text-align: center;
}

#lg .design .design_img img {
  margin: 0 auto;
}

/*media**************************************************************/
@media (max-width: 812px) {
  #lg h2 {
    font-size: 28px;
  }
  #lg p > strong {
    font-size: 16px;
  }
  #lg .wins .wins_txt {
    width: unset;
  }
  #lg .ips .ips_txt {
    padding: 20px;
  }
  #lg .moment {
    background-image: url("https://cdn.comfy.ua/media/x/img/1619054/4m.jpg");
  }
  #lg .moment .moment_txt {
    padding: 20px;
  }
  #lg .srgb .srgb_txt {
    padding: 20px;
  }
  #lg .sync .sync_txt {
    padding: 20px;
  }
  #lg .dynamic, #lg .stab, #lg .optic {
    padding: 20px;
  }
  #lg .hdr .hdr_txt {
    padding: 20px;
  }
  #lg .design .design_txt {
    padding: 20px;
  }
}

@media (max-width: 812px) and (max-width: 480px) {
  #lg .wins .wins_txt {
    width: 80%;
  }
  #lg .ips .ips_txt {
    text-align: center;
  }
  #lg .moment {
    -webkit-background-size: cover;
            background-size: cover;
    height: 750px;
  }
  #lg .freesync .freesync_list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #lg .freesync .freesync_list li {
    max-width: 100%;
  }
  #lg .freesync .freesync_list li:last-of-type {
    padding: 20px;
    text-align: center;
  }
  #lg .hdr {
    height: 900px;
    -webkit-background-size: cover;
            background-size: cover;
  }
  #lg .dynamic .dynamic_list, #lg .dynamic .stab_list, #lg .dynamic .optic_list, #lg .stab .dynamic_list, #lg .stab .stab_list, #lg .stab .optic_list, #lg .optic .dynamic_list, #lg .optic .stab_list, #lg .optic .optic_list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #lg .dynamic .dynamic_list li, #lg .dynamic .stab_list li, #lg .dynamic .optic_list li, #lg .stab .dynamic_list li, #lg .stab .stab_list li, #lg .stab .optic_list li, #lg .optic .dynamic_list li, #lg .optic .stab_list li, #lg .optic .optic_list li {
    max-width: 100%;
  }
  #lg .dynamic .dynamic_list li:last-of-type, #lg .dynamic .stab_list li:last-of-type, #lg .dynamic .optic_list li:last-of-type, #lg .stab .dynamic_list li:last-of-type, #lg .stab .stab_list li:last-of-type, #lg .stab .optic_list li:last-of-type, #lg .optic .dynamic_list li:last-of-type, #lg .optic .stab_list li:last-of-type, #lg .optic .optic_list li:last-of-type {
    padding: 20px 0 0 0;
    text-align: center;
  }
}
