.watch {
  width: 100%;
  margin: 0 auto;
  height: auto;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

p {
  font-size: 21px;
  font-weight: bold;
  line-height: 30px;
  margin-bottom: 0;
  margin: 0;
  text-align: unset;
  color: #6e6e73;
}

p:first-letter {
  padding-left: 0 !important;
}

h2 {
  text-align: unset;
  display: block;
  line-height: normal;
  font-size: 34px;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

img {
  margin: 0 auto;
  opacity: 1;
  max-width: 100%;
  display: block;
  height: auto;
}

img:hover {
  opacity: 1 !important;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

span {
  display: block;
  line-height: normal;
}

.features-desc__text img {
  margin-bottom: 0rem;
}

.one-col .features-desc__text p:first-letter {
  padding-left: 0rem !important;
}

.watch .container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

.watch .sub__container {
  width: 100%;
  max-width: 1390px;
  margin: 0 auto;
}

.one__title {
  font-size: 80px;
  font-weight: bold;
  line-height: normal;
}

.two__title {
  font-weight: bold;
  line-height: normal;
  font-size: 48px;
}

.two__title .orange {
  color: #fcc057;
  display: inline-block;
}

.two__title .pink {
  display: inline-block;
  color: #f63575;
}

.two__title .blue {
  display: inline-block;
  color: #0095d0;
}

.two__title .salat {
  display: inline-block;
  color: #12b00a;
}

.two__title .red {
  color: #f42f19;
  display: inline-block;
}

.two__title .purple {
  color: #a82d98;
  display: inline-block;
}

.two__title .mint {
  display: inline-block;
  color: #05ece0;
}

.watch__main {
  padding-bottom: 100px;
}

.watch__main .one__title {
  text-align: center;
}

.watch__main__logo {
  margin: 100px 0 40px 0;
}

.watch__wrap__one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #fdfaf4;
  border-radius: 35px;
  overflow: hidden;
}

.watch__wrap__one div {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
}

.watch__wrap__one div img {
  margin-left: unset;
}

.watch__wrap__txt {
  padding: 0 40px;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}

.watch__wrap__two {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.watch__wrap__cal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fdf2f5;
  border-radius: 35px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: hidden;
}

.watch__wrap__cal div {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
}

.watch__wrap__cal .watch__wrap__txt {
  -webkit-box-flex: 0.3;
      -ms-flex: 0.3;
          flex: 0.3;
  padding: 0 40px;
}

.watch__wrap__cal:first-child {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  margin-right: 20px;
}

.watch__wrap__cal:last-child {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #f2fcff;
}

.watch__wrap__cal:last-child .watch__wrap__txt {
  margin: 0 auto;
  padding-top: 40px;
}

.watch__wrap__cal:last-child .watch__wrap__img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.r__reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.r__reverse .watch__wrap__cal:first-child {
  margin-right: 0;
  margin-left: 20px;
}

.r__reverse.watch__wrap__one div img {
  margin: 0 0 0 auto;
}

.r__center div {
  -webkit-box-flex: 1 !important;
      -ms-flex: 1 1 0px !important;
          flex: 1 1 0 !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.p__top {
  padding-top: 40px !important;
}

.t__center {
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: absolute;
  bottom: 50%;
  right: 50%;
  -webkit-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
  max-width: 100%;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 0 !important;
}

.flex__cal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex__cal .watch__wrap__img {
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
}

.watch__wrap {
  padding-bottom: 40px;
}

@media (max-width: 1201px) {
  .watch .container {
    width: 960px;
    padding: 0 15px;
  }
  .one__title {
    font-size: calc(40px + (60 - 40) * ((100vw - 320px) / (1201 - 320)));
  }
  .two__title {
    font-size: calc(24px + (36 - 24) * ((100vw - 320px) / (1201 - 320)));
  }
  .watch__main {
    padding-bottom: 40px;
  }
}

@media (max-width: 991px) {
  .watch .container {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .p__top {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
  }
  .watch .container {
    width: 540px;
  }
  .watch__main__logo {
    margin: 40px 0 20px 0;
  }
  .watch__wrap__two {
    display: block;
  }
  .watch__wrap__cal:first-child {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .watch__wrap__cal .watch__wrap__txt,
  .watch__wrap__txt {
    padding: 0 20px;
  }
  .watch__wrap__cal:last-child .watch__wrap__txt {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .r__reverse .watch__wrap__cal:first-child {
    margin-left: 0;
  }
  .t__center {
    position: unset;
    -webkit-transform: unset;
            transform: unset;
    padding: 40px 20px !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

@media (max-width: 576px) {
  .watch .container {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .watch__wrap__cal,
  .watch__wrap__one {
    border-radius: 15px;
  }
  .d__block {
    display: block;
  }
  .d__block.watch__wrap__one .watch__wrap__txt {
    margin-top: 20px;
  }
}
