#office_home_student_services { max-width: 1316px; width: 100%; display: block; margin: 0 auto; background: #fff; }


#office_home_student_services p:first-letter { padding-left: 0; }
#office_home_student_services p { margin-bottom: 0; }
#office_home_student_services img:hover { opacity: 1; }
#office_home_student_services img { opacity: 1; max-width: 100%; }

.container_office_home_student {  }
.container_office_home_student .row_office_home_student { 
    display: -webkit-box;
    display: -ms-flexbox;
    display: -o-flexbox;
    display: flex;
    flex-direction: row;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px 30px 0 30px;
}
.container_office_home_student .row_office_home_student .item_office_home_student {
	flex: 1 1 0;
}
.container_office_home_student .row_office_home_student .item_office_home_student .item_bl_img img { margin: 3%; }
.container_office_home_student .row_office_home_student .item_office_home_student .item_bl_img img:last-child { /*margin: 0px 0px 0 0;*/ }
.container_office_home_student .row_office_home_student .item_office_home_student .item_bl_text p { font-size: 20px; text-align: left; }
.container_office_home_student .row_office_home_student .item_office_home_student .item_bl_text, .item_bl_img { 
    display: -webkit-box;
    display: -ms-flexbox;
    display: -o-flexbox;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 8rem 0px 8rem;
    flex-wrap: wrap;
}



@media screen and (min-width: 320px) and (max-width: 480px){
	.container_office_home_student .row_office_home_student {
		flex-direction: column;
	}
	.container_office_home_student .row_office_home_student .item_office_home_student .item_bl_text p { text-align: justify; }
	.container_office_home_student .row_office_home_student .item_office_home_student .item_bl_img img { margin: 2%; }
	.container_office_home_student .row_office_home_student .item_office_home_student .item_bl_img img:last-child { margin: 0px 0px 0 0; }
	.container_office_home_student .row_office_home_student { width: 90%; margin: 0 auto; }
	.container_office_home_student .row_office_home_student .item_office_home_student .item_bl_text, .item_bl_img { margin: 1rem 0px 2rem; }

}
@media screen and (min-width: 481px) and (max-width: 768px){

}
@media screen and (min-width: 769px) and (max-width: 1024px){

}
@media screen and (min-width: 1025px){  }