.rkt-fiesta-g-5403-sacd-w__container {
  overflow: hidden;
}

.bc-description__content p:first-letter {
  padding-left: 0 !important;
}

#rkt-fiesta-g-5403-sacd-w {
  max-width: 1023px;
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  background: #fff;
}
#rkt-fiesta-g-5403-sacd-w h2, #rkt-fiesta-g-5403-sacd-w h3, #rkt-fiesta-g-5403-sacd-w h4, #rkt-fiesta-g-5403-sacd-w h5, #rkt-fiesta-g-5403-sacd-w h6, #rkt-fiesta-g-5403-sacd-w p {
  margin: 0;
  padding: 0;
  line-height: 1.2;
}
#rkt-fiesta-g-5403-sacd-w ul {
  margin: 0;
  padding: 0;
  list-style-type: disc;
  padding-left: 20px;
  margin: 0.5rem 0;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
#rkt-fiesta-g-5403-sacd-w img {
  display: block;
  max-width: 100%;
  opacity: 1;
  margin: 0 auto;
}
#rkt-fiesta-g-5403-sacd-w img:hover {
  opacity: 1;
}
#rkt-fiesta-g-5403-sacd-w h2 {
  font-size: 26px;
  font-weight: 900;
  text-align: left;
  margin-bottom: 1rem;
}
@media (max-width: 1023px) {
  #rkt-fiesta-g-5403-sacd-w h2 {
    font-size: calc(20px + 6 * (100vw - 320px) / 703);
  }
}
#rkt-fiesta-g-5403-sacd-w h3 {
  font-size: 20px;
  font-weight: 900;
  text-align: left;
  margin-bottom: 1rem;
}
@media (max-width: 1023px) {
  #rkt-fiesta-g-5403-sacd-w h3 {
    font-size: calc(18px + 2 * (100vw - 320px) / 703);
  }
}
#rkt-fiesta-g-5403-sacd-w p {
  font-size: 16px;
  font-weight: 400;
  text-align: left;
}
@media (max-width: 1023px) {
  #rkt-fiesta-g-5403-sacd-w p {
    font-size: calc(14px + 2 * (100vw - 320px) / 703);
  }
}
#rkt-fiesta-g-5403-sacd-w li {
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  line-height: 1.2;
}
@media (max-width: 1023px) {
  #rkt-fiesta-g-5403-sacd-w li {
    font-size: calc(14px + 2 * (100vw - 320px) / 703);
  }
}
#rkt-fiesta-g-5403-sacd-w i {
  line-height: 1.2;
  font-size: 16px;
  margin-top: 0.5rem;
  display: block;
  font-style: italic;
}
@media (max-width: 1023px) {
  #rkt-fiesta-g-5403-sacd-w i {
    font-size: calc(14px + 2 * (100vw - 320px) / 703);
  }
}

.fiesta__block .fiesta__block__title {
  padding: 1em;
}
.fiesta__block .fiesta__block__title h2 {
  margin: 0 !important;
  text-align: center !important;
}

.fiesta__block__wrap {
  position: relative;
}

.fiesta__block__abs {
  position: absolute;
  left: 2em;
  top: 4em;
}

.fiesta__block__i img {
  width: 60%;
}

.fiesta__block__sub {
  padding-top: 2em;
}
.fiesta__block__sub h2 {
  color: #fff;
  text-align: center !important;
}
.fiesta__block__sub h2 strong {
  color: #F1543D;
}

.advantages {
  background: url("https://cdn.comfy.ua/media/x/img3/2149542/bg1.jpg") no-repeat center/cover;
  padding: 2em 4em;
}

.fiesta__title {
  color: #F1543D;
}
.fiesta__title h2 strong {
  color: #fff;
}

.advantages__flex {
  color: #fff;
  display: flex;
  gap: 2em 2em;
}

.advantages__cal {
  flex-basis: 50%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.advantages__cal > div {
  display: flex;
  align-items: center;
  gap: 1em;
}
.advantages__cal:nth-of-type(1) {
  justify-content: space-between;
}

.advantages__i {
  min-width: 14%;
  max-width: 14%;
}
.advantages__i img {
  max-height: 40px;
}

.fiesta__char {
  background: url("https://cdn.comfy.ua/media/x/img3/2149542/bg2.jpg") no-repeat center/cover;
  padding: 0 0 0 4em;
  color: #fff;
}

.fiesta__char__row {
  display: flex;
  align-items: center;
}
.fiesta__char__row > div {
  flex-basis: 50%;
}

.fiesta__char__items {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding-left: 2em;
  padding-top: 2em;
}

.fiesta__char__item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
}

.fiesta__char__i {
  flex-basis: 50px;
}
.fiesta__char__i img {
  height: 35px;
}

.fiesta__special {
  padding: 0 4em 0 0;
}
.fiesta__special .fiesta__char__row {
  flex-direction: row-reverse;
}
.fiesta__special .fiesta__char__items {
  padding-left: 0;
}
.fiesta__special .fiesta__char__img {
  flex-basis: 60%;
}
.fiesta__special .fiesta__char__cont {
  flex-basis: 40%;
}

.fiesta__images {
  background: url("https://cdn.comfy.ua/media/x/img3/2149542/bg2.jpg") no-repeat center/cover;
  display: flex;
  gap: 2em;
}
.fiesta__images > div:nth-of-type(1) {
  flex-basis: 60%;
}
.fiesta__images > div:nth-of-type(2) {
  flex-basis: 40%;
}

.fiesta__burner .fiesta__char__row {
  align-items: unset;
}
.fiesta__burner .fiesta__char__items {
  padding-top: 5em;
}

.fiesto__eco {
  background: url("https://cdn.comfy.ua/media/x/img3/2149542/bg2.jpg") no-repeat center/cover;
  padding-top: 1em;
  color: #fff;
}
.fiesto__eco .fiesta__title {
  padding-left: 4em;
}

.fiesto__eco__row {
  display: flex;
  gap: 4em;
}
.fiesto__eco__row > div {
  flex-basis: 50%;
  box-sizing: border-box;
}

.fiesto__eco__cont {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  padding-right: 4em;
  padding-top: 2em;
}

.fiesto__eco__item {
  display: flex;
  align-items: center;
  gap: 1em;
}
.fiesto__eco__item::before {
  content: "";
  display: block;
  width: 20px;
  min-width: 20px;
  height: 20px;
  background: url("https://cdn.comfy.ua/media/x/img3/2149542/ring.svg") no-repeat center/contain;
}

@media (min-width: 320px) and (max-width: 767.9px) {
  .fiesta__block__wrap {
    background: url("https://cdn.comfy.ua/media/x/img3/2149542/bg2.jpg") no-repeat left bottom/cover;
    padding-top: 2em;
  }
  .fiesta__block__abs {
    position: unset;
  }
  .fiesta__block__i img {
    width: 35%;
  }
  .fiesta__img img {
    min-width: 140%;
    margin-left: -40% !important;
  }
  .advantages {
    padding: 2em 1em;
    background-position: center left 60%;
  }
  .advantages__flex {
    flex-direction: column;
    gap: 1em;
  }
  .advantages__cal {
    gap: 1em;
  }
  .fiesta__char {
    padding-left: 1em;
    padding-top: 2em;
  }
  .fiesta__char__items {
    padding: 1em;
    gap: 1em;
  }
  .fiesta__char__row {
    flex-direction: column;
  }
  .fiesta__special {
    padding-right: 0;
    padding-left: 0;
  }
  .fiesta__special .fiesta__char__cont {
    padding: 0 1em;
  }
  .fiesta__special .fiesta__char__row {
    flex-direction: column;
    align-items: unset;
  }
  .fiesta__images {
    flex-direction: column-reverse;
    gap: 1em;
  }
  .fiesta__burner {
    padding: 0;
  }
  .fiesta__burner .fiesta__char__cont {
    padding: 1em;
  }
  .fiesta__burner .fiesta__char__items {
    padding: 0;
  }
  .fiesto__eco .fiesta__title {
    padding-left: 1em;
  }
  .fiesto__eco__row {
    flex-direction: column-reverse;
    gap: 2em;
  }
  .fiesto__eco__cont {
    padding: 0 1em;
    gap: 1em;
  }
  .fiesto__eco__img img {
    width: 70%;
    margin: 0 !important;
  }
}
@media (min-width: 768px) and (max-width: 1023.9px) {
  .fiesto__eco__row {
    align-items: flex-end;
  }
  .fiesto__eco__cont {
    padding-top: 0;
    padding-bottom: 1em;
  }
}
@media (min-width: 1024px) and (max-width: 1201px) {
  .fiesta__block__wrap {
    background: url("https://cdn.comfy.ua/media/x/img3/2149542/bg2.jpg") no-repeat left bottom/cover;
    padding-top: 2em;
  }
  .fiesta__block__abs {
    position: unset;
  }
  .fiesta__block__i img {
    width: 35%;
  }
  .fiesta__img img {
    min-width: 140%;
    margin-left: -40% !important;
  }
  .advantages {
    padding: 2em 1em;
  }
  .fiesta__char {
    padding-left: 1em;
  }
  .fiesta__char__items {
    padding: 1em 0 0 1em;
    gap: 1em;
  }
  .fiesta__special {
    padding-left: 0;
    padding-right: 1em;
  }
  .fiesta__burner .fiesta__char__items {
    padding-top: 3em;
  }
  .fiesto__eco .fiesta__title {
    padding-left: 1em;
  }
  .fiesto__eco__row {
    flex-direction: column-reverse;
    gap: 2em;
  }
  .fiesto__eco__cont {
    padding: 0 1em;
    gap: 1em;
  }
  .fiesto__eco__img img {
    width: 70%;
    margin: 0 !important;
  }
}