/*default styles*/
#lg {
  max-width: 1316px;
  width: 100%;
  margin: 0 auto;
  height: auto;
  display: block;
  background-color: #fff;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#lg p {
  margin-bottom: 0;
  font-size: 18px;
}

#lg p:first-letter {
  padding-left: 0;
}

#lg h2 {
  display: block;
  line-height: normal;
  font-size: 36px;
  font-weight: normal;
  padding: 20px 0 10px 0;
}

#lg img {
  opacity: 1;
  max-width: 100%;
  display: block;
  height: auto;
}

#lg img:hover {
  opacity: 1;
}

#lg ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.features-desc__text img {
  margin-bottom: 0rem;
}

.one-col .features-desc__text p:first-letter {
  padding-left: 0rem !important;
}

/*end default styles*/
#lg .wins .wins_txt {
  max-width: 900px;
  text-align: center;
  margin: 0 auto;
}

#lg .srgb .srgb_txt {
  text-align: center;
  padding: 70px;
  max-width: 900px;
  margin: 0 auto;
}

#lg .sync .sync_txt {
  padding: 70px;
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}

#lg .sync span {
  padding: 20px;
  display: block;
}

#lg .hdr .hdr_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
     -moz-box-orient: horizontal;
     -moz-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 70px;
}

#lg .hdr .hdr_list li {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
     -moz-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  max-width: 50%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#lg .hdr .hdr_list li:last-of-type {
  padding-right: 40px;
}

#lg .ips {
  padding: 70px;
}

#lg .ips .ips_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#lg .ips .ips_list li {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
     -moz-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  max-width: 50%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#lg .ips .ips_list li:last-of-type {
  padding-left: 40px;
}

#lg .onscreen {
  background-color: #e9e9e9;
}

#lg .onscreen .onscreen_txt {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  padding: 70px 0;
}

#lg .onscreen .onscreen_txt h2 {
  margin-top: 0;
}

#lg .onscreen .onscreen_img img {
  margin: 0 auto;
}

#lg span {
  display: block;
  padding: 20px;
  background-color: #fff;
}

#lg .freesync {
  height: 939px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 70px;
  background-image: url("https://cdn.comfy.ua/media/x/img/1619060/4.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

#lg .freesync .freesync_txt {
  color: #fff;
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
}

#lg .dynamic {
  padding: 70px;
  background-color: #131313;
}

#lg .dynamic ul.dynamic_list li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #fff;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#lg .dynamic ul.dynamic_list li > div {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
     -moz-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  max-width: 50%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#lg .dynamic ul.dynamic_list li .dynamic_txt {
  padding-right: 40px;
}

#lg .dynamic ul.dynamic_list li:nth-of-type(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
     -moz-box-orient: horizontal;
     -moz-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

#lg .dynamic ul.dynamic_list li:nth-of-type(even) .dynamic_txt {
  padding-right: 0;
  padding-left: 40px;
}

#lg .arcline {
  background-color: #333333;
}

#lg .arcline .arcline_txt {
  padding: 70px;
  max-width: 900px;
  color: #fff;
}

/*media**************************************************************/
@media (max-width: 812px) {
  #lg h2 {
    font-size: 28px;
  }
  #lg p > strong {
    font-size: 16px;
  }
  #lg .wins .wins_txt {
    width: unset;
  }
  #lg .srgb .srgb_txt {
    padding: 20px;
  }
  #lg .sync .sync_txt {
    padding: 20px;
  }
  #lg .freesync {
    background-image: url("https://cdn.comfy.ua/media/x/img/1619060/8.jpg");
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    padding: 20px;
    background-position: center bottom;
    height: 1060px;
  }
  #lg .hdr .hdr_list {
    padding: 20px;
  }
  #lg .ips {
    padding: 20px;
  }
  #lg .onscreen .onscreen_txt {
    padding: 20px;
  }
  #lg .dynamic {
    padding: 20px;
  }
  #lg .arcline .arcline_txt {
    padding: 20px;
  }
}

@media (max-width: 812px) and (max-width: 480px) {
  #lg .wins .wins_txt {
    width: 80%;
  }
  #lg .hdr .hdr_list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #lg .hdr .hdr_list li {
    max-width: 100%;
  }
  #lg .hdr .hdr_list li:last-of-type {
    padding: 20px;
    text-align: center;
  }
  #lg .ips .ips_list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #lg .ips .ips_list li {
    max-width: 100%;
  }
  #lg .ips .ips_list li:last-of-type {
    padding: 20px 0 0 0;
    text-align: center;
  }
  #lg .freesync {
    background-image: url("https://cdn.comfy.ua/media/x/img/1619059/8.jpg");
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    padding: 20px;
  }
  #lg .hdr .hdr_list {
    padding: 20px;
  }
  #lg .hdr .hdr_list li:last-of-type {
    padding: 20px 0px;
  }
  #lg .ips {
    padding: 20px;
  }
  #lg .onscreen .onscreen_txt {
    padding: 20px;
  }
  #lg .dynamic {
    padding: 20px;
  }
  #lg .dynamic ul.dynamic_list li {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -webkit-flex-direction: column !important;
       -moz-box-orient: vertical !important;
       -moz-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  #lg .dynamic ul.dynamic_list li .dynamic_txt {
    padding: 20px 0px 40px 0px !important;
    text-align: center;
  }
  #lg .dynamic ul.dynamic_list li > div {
    max-width: 100%;
  }
}
