/*default styles*/

#ergo
  max-width: 1316px
  width: 100%
  margin: 0 auto
  height: auto
  display: block
  box-sizing: border-box
  overflow: hidden
  p
    margin-bottom: 0
    margin: 0
    color: #fff
    &:first-letter
      padding-left: 0
  h2
    display: block
    line-height: normal
    font-size: 34px
    font-weight: bold
    padding: 0
    margin: 0
    text-transform: uppercase
    color: #fff
    margin-bottom: 30px
  img
    opacity: 1
    max-width: 100%
    display: block
    height: auto
    &:hover
      opacity: 1
  ul
    list-style-type: none
    padding: 0
    margin: 0

.features-desc__text
  img
    margin-bottom: 0rem
.one-col .features-desc__text
  p:first-letter
    padding-left: 0rem !important

/*end default styles*/

#ergo
  .livepic
    position: relative
    .livepic__wrap
      position: absolute
      bottom: 50%
      transform: translateY(50%)
      left: 80px
      .livepic__txt
        border-left: 4px solid #3baaa7
        padding: 0 1.5em

  .sound
    position: relative
    .sound__wrap
      position: absolute
      bottom: 50%
      transform: translateY(50%)
      right: 80px
      .sound__txt
        border-left: 4px solid #3baaa7
        padding: 0 1.5em

  .connect
    position: relative
    .connect__wrap
      position: absolute
      left: 80px
      top: 80px
      .connect__list
        display: flex
        flex-direction: row
        align-items: flex-end
        li
          &:nth-of-type(n+2)
            margin-left: 40px
          img
            margin: 0 auto
          span
            display: block
            line-height: normal
            color: #328e8b
            font-size: 16px
            text-align: center
            margin-top: 20px

  .position
    position: relative
    .position__txt
      position: absolute
      top: 40px
      text-align: center
      width: 100%
      h2
        margin-bottom: 10px
      span
        color: #fff
        font-size: 20px
        display: block
        line-height: normal
    .position__size
      background-color: #04151c
      padding: 40px
      display: flex
      flex-direction: row
      align-items: center
      .position__size__list
        display: flex
        flex-direction: row
        max-width: 50%
        flex: 1 1 0
        li
          padding: 1em
          max-height: 80px
          display: flex
          flex-direction: column
          justify-content: space-between
          align-items: center
          box-sizing: content-box
          span
            display: block
            line-height: normal
            &:nth-of-type(1)
              color: #358c8b
              font-size: 1.1em
            &:nth-of-type(2)
              color: #9ca4a7
              font-size: 1.1em
              margin-top: 20px
          &:nth-of-type(1)
            border: solid 3px #3ea19c
            span
              &:nth-of-type(2)
                font-weight: bold
                color: #fff
                font-size: 1.2em
          &:nth-of-type(n+2)
            border-right: solid 2px #3ea19c
          &:last-of-type
            border: none

      .position__size__img
        max-width: 50%
        box-sizing: border-box
        flex: 1 1 0

//media***************************************************

@media (max-width: 1024px)
  #ergo .position .position__txt
    top: 20px

@media (max-width: 812px)
  #ergo .livepic .livepic__wrap
    left: 40px
  #ergo .sound .sound__wrap
    right: 40px
  #ergo .connect .connect__wrap
    top: 20px
    left: 40px
  #ergo h2
    font-size: 24px
  #ergo .position .position__txt
    top: 20px
  #ergo .position .position__size
    flex-direction: column
  #ergo .position .position__size .position__size__list
    max-width: 100%
  #ergo .position .position__size .position__size__img
    max-width: 100%
    margin-top: 20px
  #ergo .position .position__size
    padding: 1em

@media (max-width: 480px)
  #ergo .livepic,
  #ergo .sound,
  #ergo .connect,
  #ergo .position
    background-color: #000
    .livepic__wrap,
    .sound__wrap,
    .connect__wrap,
    .position__txt
      position: unset
      transform: unset
      padding: 1em
      box-sizing: border-box
  #ergo .livepic .livepic__wrap .livepic__txt p br
    content: ""
    display: none
  #ergo .livepic .livepic__wrap .livepic__txt
    padding: 0
    border: none
    text-align: center
  #ergo .livepic .livepic__wrap
    text-align: center
  #ergo .livepic .livepic__img img
    min-width: 200%
    margin-left: -260px
  #ergo .sound .sound__img img
    min-width: 200%
  #ergo .sound .sound__wrap
    text-align: center
  #ergo .sound .sound__wrap .sound__txt
    padding: 0
    border: none
    p
      br
        content: ""
        display: none
  #ergo .connect .connect__wrap .connect__title
    text-align: center
  #ergo
    .position
      .position__size
        .position__size__list
          overflow-x: scroll
          min-height: 150px
          li
            // min-width: 100px
            &:nth-of-type(2)
              min-width: 110px
            &:last-of-type
              min-width: 75px
  #ergo .connect .connect__img img
    min-width: 200%
    margin-left: -170px
  #ergo .position .position__img img
    min-width: 200%
    margin-left: -180px
  #ergo h2 br
    content: ""
    display: none

@media (max-width: 320px)
  #ergo .livepic .livepic__img img
    margin-left: -222px
  #ergo .position .position__img img
    margin-left: -157px
