.bc-description__content p:first-letter {
  padding-left: 0 !important;
}

#rkt-bang-product {
  max-width: 1023px;
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  background: #fff;
}
#rkt-bang-product h2, #rkt-bang-product h3, #rkt-bang-product h4, #rkt-bang-product h5, #rkt-bang-product h6, #rkt-bang-product p {
  margin: 0;
  padding: 0;
  line-height: 1.2;
}
#rkt-bang-product ul {
  margin: 0;
  padding: 0;
  list-style-type: disc;
  padding-left: 20px;
  margin: 0.5rem 0;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
#rkt-bang-product img {
  display: block;
  max-width: 100%;
  opacity: 1;
  margin: 0 auto;
}
#rkt-bang-product img:hover {
  opacity: 1;
}
#rkt-bang-product h2 {
  font-size: 26px;
  font-weight: 900;
  text-align: left;
  margin-bottom: 1rem;
}
@media (max-width: 1023px) {
  #rkt-bang-product h2 {
    font-size: calc(20px + 6 * (100vw - 320px) / 703);
  }
}
#rkt-bang-product h3 {
  font-size: 20px;
  font-weight: 900;
  text-align: left;
  margin-bottom: 1rem;
}
@media (max-width: 1023px) {
  #rkt-bang-product h3 {
    font-size: calc(18px + 2 * (100vw - 320px) / 703);
  }
}
#rkt-bang-product p {
  font-size: 16px;
  font-weight: 400;
  text-align: left;
}
@media (max-width: 1023px) {
  #rkt-bang-product p {
    font-size: calc(14px + 2 * (100vw - 320px) / 703);
  }
}
#rkt-bang-product li {
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  line-height: 1.2;
}
@media (max-width: 1023px) {
  #rkt-bang-product li {
    font-size: calc(14px + 2 * (100vw - 320px) / 703);
  }
}
#rkt-bang-product i {
  line-height: 1.2;
  font-size: 16px;
  margin-top: 0.5rem;
  display: block;
  font-style: italic;
}
@media (max-width: 1023px) {
  #rkt-bang-product i {
    font-size: calc(14px + 2 * (100vw - 320px) / 703);
  }
}

.bang__block {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.bang__row {
  display: flex;
  align-items: center;
}
.bang__row > div {
  flex-basis: 50%;
  box-sizing: border-box;
}
.bang__row:nth-of-type(even) {
  flex-direction: row-reverse;
}

.bang__cont {
  padding: 1em;
}

.func {
  padding: 3em 1em 1em;
}

.func__row {
  display: flex;
  gap: 2em;
  margin-top: 2em;
}
.func__row > div {
  flex-basis: 50%;
  box-sizing: border-box;
}

.func__flex {
  display: flex;
  gap: 1em;
}
.func__flex > div {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

@media (min-width: 320px) {
  .bang__row,
  .func__row,
  .bang__row:nth-of-type(even) {
    flex-direction: column;
    align-items: unset;
  }
}
@media (min-width: 768px) {
  .bang__row,
  .func__row {
    flex-direction: row;
    align-items: center;
  }
  .bang__row:nth-of-type(even) {
    flex-direction: row-reverse;
    align-items: center;
  }
}
@media (min-width: 1024px) {
  .bang__row,
  .func__row {
    flex-direction: row;
  }
}
@media (max-width: 1024px) and (min-width: 1024px) {
  .bang__row,
  .func__row {
    flex-direction: column !important;
  }
}
@media (max-width: 1341px) and (min-width: 1024px) {
  .bang__row,
  .func__row {
    flex-direction: column !important;
    align-items: unset;
  }
}