#comfy-podarki {
  display: block;
  margin: 0 auto;
  max-width: 1366px;
  width: 100%;
  height: auto;
  overflow: hidden;
  background: #FFD400;
  position: relative;
}

#comfy-podarki img:hover {
  opacity: 1;
}

#comfy-podarki:first-letter {
  padding-left: 0;
}

#comfy-podarki img {
  display: block;
  margin-right: initial;
  margin-left: initial;
}

#comfy-podarki p {
  margin-bottom: 0;
  color: #000;
}

#comfy-podarki h2 {
  font-weight: bold;
  line-height: 0.8;
  color: #fff;
}

#comfy-podarki h2.h2fwbold-uppercase {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 64px;
}

#comfy-podarki h2.h2fwnormal-uppercase-none {
  font-weight: normal;
  font-size: 64px;
  padding-bottom: 15px;
}

#comfy-podarki h2.h2fwbold-uppercase-fz {
  font-weight: bold;
  font-size: 48px;
  text-transform: uppercase;
}

#comfy-podarki h3 {
  font-size: 20px;
  margin: 0;
  padding-top: 0;
  line-height: 1.1;
  text-align: inherit;
  font-weight: bold;
  color: #000;
  margin-bottom: 20px;
}

#comfy-podarki h4 {
  font-size: 18px;
  margin: 0;
  font-weight: bold;
  color: #43B02A;
  position: relative;
  padding-left: 25px;
  margin-bottom: 25px;
  padding-top: 5px;
}

span.word-wrap {
  display: block;
  word-wrap: break-word;
}

.breadcrumbs {
  display: none;
}

.main-container.page {
  padding-left: 0;
  padding-right: 0;
}

.main-container_gray {
  background: #ffd400;
}

.comfy-podarki-banner.banner-only-desk {
  display: block;
}

.comfy-podarki-banner.banner-only-mob {
  display: none;
}

.comfy-podarki-banner img {
  margin: 0 auto !important;
}

.comfy-podarki-banner__img1-pos,
.comfy-podarki-banner__img2-pos,
.comfy-podarki-banner__img3-pos {
  position: absolute;
}

.comfy-podarki-banner__img1-pos {
  left: 0;
  top: 14px;
}

.comfy-podarki-banner__img2-pos {
  right: 0;
  top: 0;
}

.comfy-podarki-banner__img3-pos {
  right: 21px;
  bottom: 43px;
}

.comfy-podarki-banner__text-wrap {
  position: relative;
  max-width: 260px;
  margin: 0 auto;
  width: 100%;
  padding-top: 65px;
}

#comfy-podarki .comfy-podarki-banner__text h2.h2top {
  font-size: 40px;
  color: #fff;
  font-weight: bold;
  text-align: right;
}

#comfy-podarki .comfy-podarki-banner__text h2.h2bottoom {
  font-size: 49px;
  color: #fff;
  font-weight: bold;
  text-align: right;
}

.comfy-podarki-banner__img img {
  margin: 0 auto !important;
}

.comfy-podarki-banner__wrap {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.comfy-podarki-banner-flex {
  display: -ms-grid;
  display: grid;
  height: 100%;
  -ms-grid-columns: 564px 1fr;
      grid-template-columns: 564px 1fr;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 278px;
}

.comfy-podarki-banner-flex .comfy-podarki-banner-flex__item {
  position: relative;
  z-index: 3;
  height: 100%;
}

.comfy-podarki-banner-flex.blflex-row {
  position: relative;
}

.comfy-podarki-banner-flex.blflex-row .comfy-podarki-banner-flex__item:last-child {
  background-image: url(https://cdn.comfy.ua/media/x/img2/sect1_img1.png);
  background-position: left;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  width: 100%;
}

.comfy-podarki-banner-flex.blflex-row .comfy-podarki-banner-flex__item.sect_bgrd3:last-child {
  background-image: url(https://cdn.comfy.ua/media/x/img2/lp/Vector4.png);
  background-position: left;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  width: 100%;
}

.comfy-podarki-banner-flex.blflex-row .comfy-podarki-banner-flex__item.sect_bgrd5:last-child {
  background-image: url(https://cdn.comfy.ua/media/x/img2/lp/sect5_img4.png);
  background-position: left;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  width: 100%;
}

.comfy-podarki-banner-flex.blflex-row .comfy-podarki-banner-flex__item.sect_bgrd7:last-child {
  background-image: url(https://cdn.comfy.ua/media/x/img2/sect7_img4.png);
  background-position: left;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  width: 100%;
}

.comfy-podarki-banner-flex.blflex-row::before {
  content: "";
  background: -webkit-gradient(linear, left top, left bottom, from(#FCA728), to(rgba(255, 212, 0, 0)));
  background: -webkit-linear-gradient(top, #FCA728 0%, rgba(255, 212, 0, 0) 100%);
  background: -moz-linear-gradient(top, #FCA728 0%, rgba(255, 212, 0, 0) 100%);
  background: -o-linear-gradient(top, #FCA728 0%, rgba(255, 212, 0, 0) 100%);
  background: linear-gradient(180deg, #FCA728 0%, rgba(255, 212, 0, 0) 100%);
  width: 100%;
  height: 278px;
  position: absolute;
  left: 0;
  top: 0;
}

.comfy-podarki-banner-flex.blflex-row .comfy-podarki-banner-flex__item:first-child {
  padding: 12px 6px 12px 28px;
}

.comfy-podarki-banner-flex.blflex-row .comfy-podarki-banner-flex__item:last-child img {
  margin: 0 0 0 auto !important;
}

.comfy-podarki-banner-flex.blflex-row-rev {
  -ms-grid-columns: 1fr 564px;
      grid-template-columns: 1fr 564px;
  position: relative;
}

.comfy-podarki-banner-flex.blflex-row-rev .comfy-podarki-banner-flex__item:first-child {
  background-image: url(https://cdn.comfy.ua/media/x/img2/sect2_img1.png);
  background-position: right;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  width: 100%;
}

.comfy-podarki-banner-flex.blflex-row-rev .comfy-podarki-banner-flex__item.sect_bgrd4:first-child {
  background-image: url(https://cdn.comfy.ua/media/x/img2/sect4_img1.png);
  background-position: right;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  width: 100%;
}

.comfy-podarki-banner-flex.blflex-row-rev .comfy-podarki-banner-flex__item.sect_bgrd6:first-child {
  background-image: url(https://cdn.comfy.ua/media/x/img2/sect6_img1new.png);
  background-position: right;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  width: 100%;
}

.comfy-podarki-banner-flex.blflex-row-rev::before {
  content: "";
  background: -webkit-gradient(linear, left top, left bottom, from(#FCA728), to(rgba(255, 212, 0, 0)));
  background: -webkit-linear-gradient(top, #FCA728 0%, rgba(255, 212, 0, 0) 100%);
  background: -moz-linear-gradient(top, #FCA728 0%, rgba(255, 212, 0, 0) 100%);
  background: -o-linear-gradient(top, #FCA728 0%, rgba(255, 212, 0, 0) 100%);
  background: linear-gradient(180deg, #FCA728 0%, rgba(255, 212, 0, 0) 100%);
  width: 100%;
  height: 278px;
  position: absolute;
  left: 0;
  top: 0;
}

.comfy-podarki-banner-flex.blflex-row-rev .comfy-podarki-banner-flex__item:last-child {
  padding: 12px 85px 12px 6px;
}

.comfy-podarki-banner-flex.blflex-row-rev .comfy-podarki-banner-flex__item:first-child img {
  margin: 0 auto 0 0 !important;
}

.comfy-podarki-banner-flex__item-content {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.comfy-podarki-banner-flex__item-content__img-pos {
  position: absolute;
}

.comfy-podarki-banner-flex__item-content__img-pos.img-pos1 {
  right: 0;
  top: 18px;
}

.comfy-podarki-banner-flex__item-content__img-pos.img-pos2 {
  bottom: 0;
  left: 0;
}

.comfy-podarki-banner-flex__item-content__img-pos.img-pos3 {
  left: -50px;
  top: 18px;
}

.comfy-podarki-banner-flex__item-content__img-pos.img-pos4 {
  bottom: 0;
  right: 35px;
}

.comfy-podarki-banner-flex__item-content__img-pos.img-pos5 {
  left: -15px;
  top: 0;
}

.comfy-podarki-banner-flex__item-content__img-pos.img-pos6 {
  left: 0;
  bottom: 45px;
}

.comfy-podarki-banner-flex__item-content__img-pos.img-pos7 {
  top: 0;
}

.comfy-podarki-banner-flex__item-content__img-pos.img-pos8 {
  right: 0;
}

.comfy-podarki-banner-flex__item-content__img-pos.img-pos9 {
  left: -50px;
  top: 0;
}

.comfy-podarki-banner-flex__item-content__img-pos.img-pos10 {
  right: -50px;
  bottom: 0;
}

.comfy-podarki-banner-flex__item-content__img-pos.img-pos11 {
  left: 0;
  top: 0;
}

.comfy-podarki-banner-flex__item-content__img-pos.img-pos12 {
  left: 0;
  bottom: 15px;
}

.comfy-podarki-banner-flex__item-content__img-pos.img-pos13 {
  right: -40px;
  top: 0;
}

.comfy-podarki-banner-flex__item-content__img-pos.img-pos14 {
  left: -40px;
  top: 0;
}

.comfy-podarki-banner-flex__item-content__img-pos.img-pos15 {
  bottom: 0;
  left: 0;
}

.comfy-podarki-banner-flex__item-content__img-pos.img-pos16 {
  right: -55px;
  bottom: 0;
}

.comfy-podarki-banner-flex__item-content__img-pos.img-pos17 {
  left: 0;
  top: 0;
}

.comfy-podarki-banner-flex__item-content__img-pos.img-pos18 {
  left: 0;
  bottom: 0;
}

.comfy-podarki-banner-flex__item-content__img-pos.img-pos19 {
  right: -20px;
  top: 0;
}

.sect_bgrd6-posimg {
  position: absolute;
  left: 15px;
  top: 15px;
}

.comfy-podarki-banner-flex__item-content__h2 {
  position: relative;
  text-align: center;
}

.comfy-podarki-banner-product {
  padding: 16px 16px 0 16px;
  position: relative;
  overflow: hidden;
}

.comfy-podarki-banner-product.blikbl::before {
  content: "";
  background-repeat: no-repeat;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  position: absolute;
}

.comfy-podarki-banner-product.blikbl.blikbl_1::before {
  background-image: url(https://cdn.comfy.ua/media/x/img2/blik1.png);
  width: 795px;
  height: 667px;
  left: 0;
  bottom: -215px;
}

.comfy-podarki-banner-product.blikbl.blikbl_1.lastblik::before {
  bottom: -10px;
}

.comfy-podarki-banner-product.blikbl.blikbl_2::before {
  background-image: url(https://cdn.comfy.ua/media/x/img2/blik2.png);
  width: 877px;
  height: 647px;
  right: -30px;
  bottom: -85px;
}

.comfy-podarki-banner-product__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 8px;
  position: relative;
}

.comfy-podarki-banner-product__grid-item {
  border: 2px solid #FFFFFF;
}

.comfy-podarki-banner-product__img {
  width: 100%;
  height: 170px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.comfy-podarki-banner-product__p {
  text-align: center;
  padding: 24px 27px;
}

.comfy-podarki-banner-product__p p {
  font-size: 16px;
}

.comfy-podarki-banner-product__a {
  padding: 0 27px;
}

.comfy-podarki-banner-product__a a {
  background: #DC0024;
  text-align: center;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  display: block;
  padding: 10px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
}

.comfy-podarki-banner-product__a a:hover {
  background: #FFA217;
}

.comfy-podarki-banner-product__item-content {
  padding: 30px 0 32px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.comfy-podarki-banner-product__link {
  padding: 26px 10px 48px 10px;
}

.comfy-podarki-banner-product__link.bl-only-desk {
  display: block;
  position: relative;
}

.comfy-podarki-banner-product__link.all-desk-mob {
  display: block;
}

.comfy-podarki-banner-product__link a {
  display: block;
  width: 100%;
  max-width: 310px;
  border: 2px solid #FFFFFF;
  margin: 0 auto;
  -webkit-transition: .3s;
  -o-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
}

.comfy-podarki-banner-product__link a:hover {
  border: 2px solid #FFA217;
  background: #FFA217;
}

.comfy-podarki-banner-product__link a span {
  display: table;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  position: relative;
  color: #fff;
  padding: 16px 30px 16px 0;
  margin: 0 auto;
  text-transform: uppercase;
}

.comfy-podarki-banner-product__link a span::after {
  content: "";
  background-image: url(https://cdn.comfy.ua/media/x/img2/lp/str.png);
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  top: 13px;
  width: 22px;
  height: 29px;
}

.only-desk-img-pos1,
.only-desk-img-pos2,
.only-desk-img-pos3,
.only-desk-img-pos4 {
  position: absolute;
}

.only-desk-img-pos1 {
  left: 180px;
  bottom: 0;
}

.only-desk-img-pos2 {
  right: 200px;
  bottom: 28px;
}

.only-desk-img-pos3 {
  left: 170px;
  bottom: 20px;
}

.only-desk-img-pos4 {
  right: 97px;
  bottom: 34px;
}

.comfy-podarki-banner-product__grid-item.bl-only-mob {
  display: none;
}

.comfy-podarki-banner-product__link-img-desk {
  display: block;
  margin-top: -80px;
}

.comfy-podarki-banner-product__link-img-desk img {
  margin: 0 auto !important;
}

.comfy-podarki-banner-product__link-img-mob {
  display: none;
}

.comfy-podarki-banner-product__link-img-mob img {
  margin: 0 auto !important;
}

@media (max-width: 1024px) {
  #comfy-podarki h2.h2fwbold-uppercase {
    font-size: 45px;
  }
  #comfy-podarki h2.h2fwnormal-uppercase-none {
    font-size: 40px;
    padding-bottom: 10px;
  }
  #comfy-podarki h2.h2fwbold-uppercase-fz {
    font-size: 38px;
  }
  .comfy-podarki-banner-flex.blflex-row .comfy-podarki-banner-flex__item:first-child {
    padding: 12px 10px 12px 10px;
  }
  .comfy-podarki-banner-flex {
    -ms-grid-columns: 440px 1fr;
        grid-template-columns: 440px 1fr;
  }
  .comfy-podarki-banner-product__item-content {
    padding: 15px 0 20px 0;
  }
  .comfy-podarki-banner-product__item-content {
    padding: 15px 0 20px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 100%;
  }
  .comfy-podarki-banner-product__p {
    text-align: center;
    padding: 5px 10px 15px 10px;
  }
  .comfy-podarki-banner-product__a {
    padding: 0 15px;
  }
  .comfy-podarki-banner-product__img {
    height: auto;
    padding: 0 10px 0 10px;
  }
  .comfy-podarki-banner-product__a a {
    font-size: 20px;
  }
  .comfy-podarki-banner-flex.blflex-row-rev {
    -ms-grid-columns: 1fr 440px;
        grid-template-columns: 1fr 440px;
  }
  .comfy-podarki-banner-flex.blflex-row-rev .comfy-podarki-banner-flex__item:last-child {
    padding: 12px 10px 12px 10px;
  }
  .comfy-podarki-banner-flex__item-content__img-pos.img-pos4 {
    right: 0;
  }
  .comfy-podarki-banner-flex {
    height: 215px;
  }
  .comfy-podarki-banner-flex__item-content__img-pos.img-pos5 {
    left: 0;
  }
  .comfy-podarki-banner-flex__item-content__img-pos.img-pos6 {
    left: 0;
    bottom: 0;
  }
  .comfy-podarki-banner-flex__item-content__img-pos.img-pos9 {
    left: -25px;
    top: 10px;
    max-width: 70px;
  }
  .comfy-podarki-banner-flex__item-content__img-pos.img-pos10 {
    right: 0;
  }
}

@media (max-width: 812px) {
  #comfy-podarki h2.h2fwbold-uppercase {
    font-size: 35px;
  }
  #comfy-podarki h2.h2fwnormal-uppercase-none {
    font-size: 30px;
    padding-bottom: 8px;
  }
  #comfy-podarki h2.h2fwbold-uppercase-fz {
    font-size: 30px;
  }
  .comfy-podarki-banner-flex {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .comfy-podarki-banner-flex.blflex-row-rev {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .comfy-podarki-banner-flex.blflex-row::before {
    height: 100px;
  }
  .comfy-podarki-banner-flex.blflex-row-rev::before {
    height: 100px;
  }
  .comfy-podarki-banner-product__grid {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .comfy-podarki-banner-product__link.bl-only-desk {
    display: none;
  }
  .comfy-podarki-banner-product__grid-item.bl-only-mob {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  a.link-only-mob-bl {
    display: block;
    font-weight: bold;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
  }
  a.link-only-mob-bl .link-only-mob {
    margin-bottom: 15px;
    display: block;
  }
  a.link-only-mob-bl img {
    margin: 0 auto !important;
  }
  .comfy-podarki-banner-product {
    padding: 10px 10px 10px 10px;
  }
  .comfy-podarki-banner-flex__item-content__img-pos.img-pos3 {
    left: -25px;
    top: 0;
    max-width: 70px;
  }
  .comfy-podarki-banner-flex__item-content__img-pos.img-pos1 {
    top: 0;
  }
  .comfy-podarki-banner-flex.blflex-row .comfy-podarki-banner-flex__item:first-child {
    padding: 5px 5px 5px 10px;
  }
  .comfy-podarki-banner-flex.blflex-row-rev .comfy-podarki-banner-flex__item:last-child {
    padding: 5px 10px 5px 10px;
  }
  .comfy-podarki-banner-flex {
    height: 155px;
  }
  .comfy-podarki-banner-product.blikbl.blikbl_1::before {
    bottom: 0;
  }
  .comfy-podarki-banner-product.blikbl.blikbl_2::before {
    bottom: 0;
  }
  .comfy-podarki-banner-flex__item-content__img-pos.img-pos7 {
    display: none;
  }
  .comfy-podarki-banner-flex__item-content__img-pos.img-pos5 {
    max-width: 140px;
  }
  .comfy-podarki-banner-flex__item-content__img-pos.img-pos11 {
    left: 0;
    top: 0;
    max-width: 105px;
  }
  .comfy-podarki-banner-flex__item-content__img-pos.img-pos12 {
    left: 0;
    bottom: 0;
    max-width: 40px;
  }
  .comfy-podarki-banner-flex__item-content__img-pos.img-pos13 {
    right: 0;
    top: 0;
    max-width: 60px;
  }
  .comfy-podarki-banner-flex__item-content__img-pos.img-pos16 {
    right: 0;
    bottom: 0;
    max-width: 35px;
  }
  .comfy-podarki-banner-flex__item-content__img-pos.img-pos14 {
    left: -40px;
    top: 0;
    max-width: 65px;
  }
  .comfy-podarki-banner-product__link.all-desk-mob {
    display: block;
  }
  .comfy-podarki-banner-product__link.all-desk-mob a {
    display: none;
  }
  .comfy-podarki-banner-flex__item-content__img-pos.img-pos17 {
    left: 0;
    top: 0;
    max-width: 30px;
  }
  .comfy-podarki-banner-flex__item-content__img-pos.img-pos18 {
    left: 15px;
    bottom: 0;
    max-width: 25px;
  }
  .comfy-podarki-banner-flex__item-content__img-pos.img-pos19 {
    right: -10px;
    top: 0;
    max-width: 45px;
  }
  .comfy-podarki-banner-product__link-img-desk {
    display: block;
    margin-top: 0;
  }
}

@media (max-width: 480px) {
  .comfy-podarki-banner-product__link-img-desk {
    display: none;
  }
  .comfy-podarki-banner-product__link-img-mob {
    display: block;
  }
  .comfy-podarki-banner.banner-only-desk {
    display: none;
  }
  .comfy-podarki-banner.banner-only-mob {
    display: block;
  }
  #comfy-podarki h2.h2fwbold-uppercase {
    font-size: 30px;
  }
  #comfy-podarki h2.h2fwnormal-uppercase-none {
    font-size: 25px;
    padding-bottom: 8px;
  }
  #comfy-podarki h2.h2fwbold-uppercase-fz {
    font-size: 25px;
  }
  .comfy-podarki-banner-flex {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .comfy-podarki-banner-flex.blflex-row-rev {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .comfy-podarki-banner-flex.blflex-row .comfy-podarki-banner-flex__item:first-child {
    padding: 16px 10px 16px 10px;
  }
  .comfy-podarki-banner-flex__item-content__img-pos.img-pos1 {
    max-width: 23px;
  }
  .comfy-podarki-banner-flex__item-content__img-pos.img-pos2 {
    max-width: 23px;
  }
  .comfy-podarki-banner-flex.blflex-row .comfy-podarki-banner-flex__item:last-child {
    height: 135px;
    background-position: left bottom;
  }
  .comfy-podarki-banner-flex.blflex-row-rev .comfy-podarki-banner-flex__item:first-child {
    height: 135px;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
       -moz-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    background-position: right bottom;
  }
  .comfy-podarki-banner-flex {
    height: auto;
  }
  .comfy-podarki-banner-product__grid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .comfy-podarki-banner-product__item-content {
    padding: 16px 0 12px 0;
  }
  .comfy-podarki-banner-product__img {
    padding: 0 15px 0 15px;
  }
  .comfy-podarki-banner-product__a {
    padding: 0px 16px;
  }
  .comfy-podarki-banner-product__p p {
    font-size: 12px;
  }
  .comfy-podarki-banner-product__a a {
    font-size: 16px;
  }
  .comfy-podarki-banner-flex.blflex-row-rev .comfy-podarki-banner-flex__item:last-child {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
       -moz-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding: 16px 10px 16px 10px;
  }
  a.link-only-mob-bl {
    font-size: 18px;
  }
  .comfy-podarki-banner-flex__item-content__img-pos.img-pos3 {
    left: 0;
    top: 0;
    max-width: 37px;
  }
  .comfy-podarki-banner-flex__item-content__img-pos.img-pos4 {
    right: 0;
    max-width: 31px;
  }
  .comfy-podarki-banner-product__p {
    text-align: center;
    padding: 12px 10px 12px 10px;
  }
  .comfy-podarki-banner-product {
    padding: 10px 10px 25px 10px;
  }
  .comfy-podarki-banner-product.blikbl.blikbl_1::before {
    width: 400px;
    height: 375px;
    left: 0;
    bottom: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
         -o-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .comfy-podarki-banner-product.blikbl.blikbl_2::before {
    width: 400px;
    height: 375px;
    right: -30px;
    bottom: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
         -o-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .comfy-podarki-banner-flex__item-content__img-pos.img-pos5 {
    display: none;
  }
  .comfy-podarki-banner-flex__item-content__img-pos.img-pos6 {
    max-width: 14px;
    left: 25px;
  }
  .comfy-podarki-banner-flex__item-content__img-pos.img-pos7 {
    top: 0;
    left: 0;
    display: block;
    max-width: 19px;
  }
  .comfy-podarki-banner-flex__item-content__img-pos.img-pos8 {
    right: 0;
    max-width: 25px;
  }
  .comfy-podarki-banner-flex__item-content__img-pos.img-pos9 {
    left: 0;
    top: 0;
    max-width: 40px;
  }
  .comfy-podarki-banner-flex__item-content__img-pos.img-pos11 {
    display: none;
  }
  .comfy-podarki-banner-flex__item-content__img-pos.img-pos12 {
    max-width: 25px;
  }
  .comfy-podarki-banner-flex__item-content__img-pos.img-pos13 {
    max-width: 35px;
  }
  .comfy-podarki-banner-flex__item-content__img-pos.img-pos10 {
    right: 0;
    max-width: 25px;
  }
  .comfy-podarki-banner-flex__item-content__img-pos.img-pos14 {
    left: inherit;
    top: 0;
    max-width: 33px;
    right: 0;
  }
  .comfy-podarki-banner-flex__item-content__img-pos.img-pos16 {
    right: inherit;
    bottom: inherit;
    max-width: 12px;
    left: 0;
    top: 0;
  }
  .comfy-podarki-banner-flex__item-content__img-pos.img-pos15 {
    bottom: 0;
    left: 15px;
    max-width: 15px;
  }
  .comfy-podarki-banner-flex__item-content__img-pos.img-pos17 {
    left: inherit;
    top: 8px;
    max-width: 19px;
    right: 0;
  }
  .comfy-podarki-banner-flex__item-content__img-pos.img-pos19 {
    right: inherit;
    top: -10px;
    max-width: 33px;
    left: -2px;
  }
  .comfy-podarki-banner-flex__item-content__img-pos.img-pos18 {
    left: 0;
    bottom: 0;
    max-width: 12px;
  }
}

@media (max-width: 320px) {
  #comfy-podarki h2.h2fwbold-uppercase {
    font-size: 23px;
  }
  #comfy-podarki h2.h2fwnormal-uppercase-none {
    font-size: 21px;
    padding-bottom: 5px;
  }
  #comfy-podarki h2.h2fwbold-uppercase-fz {
    font-size: 21px;
  }
  .comfy-podarki-banner-flex.blflex-row .comfy-podarki-banner-flex__item:last-child {
    height: 110px;
  }
  .comfy-podarki-banner-flex.blflex-row-rev .comfy-podarki-banner-flex__item:first-child {
    height: 110px;
  }
  .comfy-podarki-banner-product__p p {
    font-size: 11px;
  }
}
