.rkt-bosch-mfws650b__container {
  overflow: hidden;
}

.bc-description__content p:first-letter {
  padding-left: 0 !important;
}

#rkt-bosch-mfws650b {
  max-width: 1023px;
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  background: #fff;
}
#rkt-bosch-mfws650b h2, #rkt-bosch-mfws650b h3, #rkt-bosch-mfws650b h4, #rkt-bosch-mfws650b h5, #rkt-bosch-mfws650b h6, #rkt-bosch-mfws650b p {
  margin: 0;
  padding: 0;
  line-height: 1.2;
}
#rkt-bosch-mfws650b ul {
  margin: 0;
  padding: 0;
  list-style-type: disc;
  padding-left: 20px;
  margin: 0.5rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
#rkt-bosch-mfws650b img {
  display: block;
  max-width: 100%;
  opacity: 1;
  margin: 0 auto;
}
#rkt-bosch-mfws650b img:hover {
  opacity: 1;
}
#rkt-bosch-mfws650b h2 {
  font-size: 26px;
  font-weight: 900;
  text-align: left;
  margin-bottom: 1rem;
}
@media (max-width: 1023px) {
  #rkt-bosch-mfws650b h2 {
    font-size: calc(20px + 6 * (100vw - 320px) / 703);
  }
}
#rkt-bosch-mfws650b h3 {
  font-size: 20px;
  font-weight: 900;
  text-align: left;
  margin-bottom: 1rem;
}
@media (max-width: 1023px) {
  #rkt-bosch-mfws650b h3 {
    font-size: calc(18px + 2 * (100vw - 320px) / 703);
  }
}
#rkt-bosch-mfws650b p {
  font-size: 16px;
  font-weight: 400;
  text-align: left;
}
@media (max-width: 1023px) {
  #rkt-bosch-mfws650b p {
    font-size: calc(14px + 2 * (100vw - 320px) / 703);
  }
}
#rkt-bosch-mfws650b li {
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  line-height: 1.2;
}
@media (max-width: 1023px) {
  #rkt-bosch-mfws650b li {
    font-size: calc(14px + 2 * (100vw - 320px) / 703);
  }
}
#rkt-bosch-mfws650b i {
  line-height: 1.2;
  font-size: 16px;
  margin-top: 0.5rem;
  display: block;
  font-style: italic;
}
@media (max-width: 1023px) {
  #rkt-bosch-mfws650b i {
    font-size: calc(14px + 2 * (100vw - 320px) / 703);
  }
}

.bosch__main {
  position: relative;
}

.bosch__main__abs {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 4em 4em 2em 2em;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.bosch__main__note {
  position: absolute;
  bottom: 2em;
  right: 2em;
}

#rkt-bosch-mfws650b .bosch__main__note {
  font-size: 12px;
  font-weight: bold;
}

.bosch__main__ring {
  color: #fff;
  max-width: 150px;
  position: relative;
  max-height: -moz-max-content;
  max-height: max-content;
}
.bosch__main__ring::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2em;
  top: -2em;
  right: -3em;
  left: -3em;
  z-index: 0;
  background: #2f968b;
  border-radius: 50%;
  transform: rotate(-10deg);
  border: solid #d2eec0 2px;
}
.bosch__main__ring h3 {
  position: relative;
  z-index: 1;
}

#rkt-bosch-mfws650b .bosch__main__ring h3 {
  text-align: center;
  margin: 0;
}

.bosch__main__title {
  max-width: 250px;
  display: flex;
  flex-direction: column;
  gap: 3em;
}

.complete {
  padding-top: 2em;
  position: relative;
}

#rkt-bosch-mfws650b .complete__title h2 {
  text-align: center;
}

#rkt-bosch-mfws650b .complete__list {
  display: none;
}

.complete__logo {
  position: absolute;
  bottom: 1em;
  right: 0.5em;
}

#rkt-bosch-mfws650b .complete__logo img {
  max-width: 100px;
}

.knife {
  background: #fefefe;
  position: relative;
}

.knife__row {
  display: flex;
  align-items: center;
  position: relative;
}

.knife__img {
  flex-basis: 70%;
}

.knife__cont {
  flex-basis: 30%;
  padding: 1em;
}

.knife__txt {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

#rkt-bosch-mfws650b .knife__txt p {
  text-align: center;
}
#rkt-bosch-mfws650b .knife__txt p b {
  display: block;
}

.knife__logo {
  position: absolute;
  right: 0.5em;
  bottom: 1em;
}

#rkt-bosch-mfws650b .knife__logo img {
  max-width: 100px;
  margin: 0 0 0 auto;
}

.func {
  background: #fefefe;
}

.func__row {
  display: flex;
  align-items: center;
}
.func__row > div {
  flex-basis: 50%;
  box-sizing: border-box;
}
.func__row:nth-of-type(even) {
  flex-direction: row-reverse;
}

.func__txt {
  padding: 1em;
}

#rkt-bosch-mfws650b .func__txt p {
  text-align: center;
}

.compact__wrap {
  padding: 2em 1em 0 1em;
}

.compact__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
}
.compact__grid > div {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.compact__logo {
  margin: 2em 0 1em;
}

#rkt-bosch-mfws650b .compact__title h2,
#rkt-bosch-mfws650b .compact__txt p,
#rkt-bosch-mfws650b .compact__txt h3 {
  text-align: center;
}
#rkt-bosch-mfws650b .compact__txt h3 {
  margin: 0;
}
#rkt-bosch-mfws650b .compact__logo img {
  margin: 0 0 0 auto;
  max-width: 100px;
}

.bosch__accessories .compact__grid {
  grid-template-columns: repeat(4, 1fr);
}

.washing__wrap {
  padding: 2em 1em 0;
}

.washing__txt {
  margin-top: 1em;
}

#rkt-bosch-mfws650b .washing__txt p {
  text-align: center;
}

.warranty {
  position: relative;
}

.warranty__txt {
  position: absolute;
  max-width: 250px;
  top: 2em;
  right: 2em;
}

#rkt-bosch-mfws650b .warranty__txt p {
  text-align: center;
}
#rkt-bosch-mfws650b .warranty__note {
  font-size: 12px;
  text-align: right;
  max-width: -moz-max-content;
  max-width: max-content;
  position: absolute;
  right: 2em;
  bottom: 2em;
}

.quality__wrap {
  padding: 2em 1em 0;
}

#rkt-bosch-mfws650b .quality h2, #rkt-bosch-mfws650b .quality p {
  text-align: center;
}

.quality__txt {
  max-width: 70%;
  margin: 0 auto;
}

@media (min-width: 320px) and (max-width: 767.9px), (min-width: 1024px) and (max-width: 1201px) {
  .bosch__main__abs {
    position: unset;
    padding: 3em 4em 1em 1em;
  }
  .bosch__accessories .compact__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 2em 1em;
  }
  .warranty__txt {
    position: unset;
    max-width: 100%;
    padding: 1em;
  }
  .quality__wrap {
    padding: 1em 1em 0;
  }
  .quality__txt {
    max-width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 767.9px) {
  #rkt-bosch-mfws650b .complete__list {
    display: flex;
    padding: 1em 1em 1em 2em;
  }
  #rkt-bosch-mfws650b .bosch__main__title h2 {
    text-align: center;
  }
  #rkt-bosch-mfws650b .complete__logo img {
    margin: 0 0 0 auto;
    padding-right: 1em;
    padding-bottom: 0.5em;
  }
  .bosch__main__abs {
    padding: 1em;
    display: block;
  }
  .bosch__main__ring {
    color: inherit;
    max-width: 100%;
  }
  .bosch__main__title {
    display: block;
    max-width: 100%;
  }
  .bosch__main__ring::before {
    display: none;
  }
  .complete__title {
    padding: 0 1em;
  }
  .complete__logo {
    position: unset;
  }
  .knife__row {
    flex-direction: column;
  }
  .knife__logo {
    position: unset;
    padding: 0 1em 0.5em;
  }
  .func__row {
    flex-direction: column-reverse !important;
  }
  .compact__grid {
    grid-template-columns: auto !important;
    gap: 2em;
  }
  #rkt-bosch-mfws650b .warranty__note,
  #rkt-bosch-mfws650b .bosch__main__note {
    position: unset;
    margin: 0 0 0 auto;
    padding: 1em;
  }
}