/*default styles*/

#archer
  max-width: 1316px
  width: 100%
  margin: 0 auto
  height: auto
  display: block
  box-sizing: border-box
  overflow: hidden
  p
    margin-bottom: 0
    margin: 0
    &:first-letter
      padding-left: 0
  h2
    display: block
    line-height: normal
    font-size: 34px
    font-weight: normal
    padding: 0
    margin: 0
  h3
    display: block
    line-height: normal
    font-size: 24px
    font-weight: normal
    padding: 0
    margin: 0
    text-align: unset
  img
    opacity: 1
    max-width: 100%
    display: block
    height: auto
    &:hover
      opacity: 1
  ul
    list-style-type: none
    padding: 0
    margin: 0

.features-desc__text
  img
    margin-bottom: 0rem
.one-col .features-desc__text
  p:first-letter
    padding-left: 0rem !important

/*end default styles*/

#archer
  h2
    font-weight: bold
    font-size: 40px
  .proc
    position: relative
    box-sizing: border-box
    .proc__txt
      position: absolute
      bottom: 10%
      text-align: center
      right: 50%
      transform: translateX(50%)
      width: max-content
      display: flex
      flex-direction: row
      flex-wrap: wrap
      justify-content: space-between
      h2
        color: #fff
        width: 100%
        margin-bottom: 30px
      span
        color: #fff
        width: 50%
        font-size: 20px

  .revolution
    .revolution__title
      text-align: center
      max-width: 600px
      margin: 0 auto
      padding: 40px 0
      h2
        margin-bottom: 30px

  .gigabit
    padding: 70px
    box-sizing: border-box
    .gigabit__flex
      display: flex
      flex-direction: row
      .gigabit__item
        h3
          margin-bottom: 30px
        &:nth-of-type(1)
          flex: 1
          padding-right: 2em
        &:nth-of-type(2)
          flex: 2
        .gigabit__list
          li
            display: flex
            flex-direction: row
            align-items: center
            .gigabit__list__img
              min-width: 118px
            >span
              margin-top: 1em
              font-size: 20px
              color: #0877ea
            .poloska
              margin: 0 30px 0 10px
              span
                display: block
                color: #787878
                font-size: 14px
                >strong
                  font-size: 16px
                &:nth-of-type(2)
                  background: linear-gradient(90deg,#2af4dd,#0877ea)
                  width: 30em
                  display: block
                  height: 1em
            &:nth-of-type(n+2)
              margin-top: 20px
              >span
                color: #787878
              .poloska
                span
                  &:nth-of-type(2)
                    width: 25em
                    background: #d1d1d1
            &:nth-of-type(3)
              .poloska
                span
                  &:nth-of-type(2)
                    width: 20em
            &:nth-of-type(4)
              .poloska
                span
                  &:nth-of-type(2)
                    width: 15em

  .connected
    padding: 0 70px
    box-sizing: border-box
    .connected__flex
      display: flex
      flex-direction: row
      align-items: flex-start
      .connected__item
        h3
          margin-bottom: 30px
        &:nth-of-type(1)
          flex: 1
        &:nth-of-type(2)
          flex: 2
          position: relative
          padding: 60px
          box-sizing: border-box
          img
            margin: 0 auto
          span
            position: absolute
            display: block
            line-height: 1
            &:nth-of-type(1)
              transform: translateY(50%) rotate(-90deg)
              bottom: 50%
              left: -50px
            &:nth-of-type(2)
              bottom: 20px
              right: 50%
              transform: translateX(50%)
            &:nth-of-type(3)
              right: 4%
              top: 12%
            &:nth-of-type(4)
              right: 3%
              bottom: 43%

  .zaderzhka
    padding: 70px
    box-sizing: border-box
    .zaderzhka__flex
      display: flex
      flex-direction: row
      align-items: flex-start
    .zaderzhka__item
      h3
        margin-bottom: 30px
      &:nth-of-type(1)
        flex: 1
      &:nth-of-type(2)
        flex: 2
        position: relative
        span
          position: absolute
          bottom: 0
          display: block
          line-height: 1
          font-weight: bold
          color: #0b25cf
          font-size: 24px
          &:nth-of-type(1)
            left: 18%
            bottom: 9%
          &:nth-of-type(2)
            left: 49%
            bottom: -6%
          &:last-of-type
            font-size: 16px
            right: 16%
            bottom: -6%
        img
          margin: 0 auto

  .faster
    height: 685px
    box-sizing: border-box
    background-image: url("https://cdn.comfy.ua/media/x/img/1634904/5.jpg")
    background-repeat: no-repeat
    background-position: center right
    padding: 70px
    box-sizing: border-box
    position: relative
    .faster__txt
      max-width: 50%
      box-sizing: border-box
      padding-right: 150px
      color: #fff
      position: absolute
      bottom: 50%
      transform: translateY(50%)
      >span
        font-size: 20px
      h2
        margin-bottom: 30px
      .faster__router
        display: flex
        flex-direction: row
        margin-top: 50px
        >div
          flex: 1 1 0
          padding-right: 40px
          &:nth-of-type(1)
            color: rgba(255, 255, 255, 0.5)
          span
            display: block
            font-size: 16px
            &:nth-of-type(2)
              font-size: 40px
              line-height: 40px
              font-weight: bold

  .zone
    padding: 70px
    box-sizing: border-box
    .zone__flex
      display: flex
      flex-direction: row
      align-items: flex-start
      .zone__txt
        flex: 1
        h2
          margin-bottom: 30px
        p
          margin-bottom: 10px
      .zone__img
        flex: 2

  .broadband
    padding: 170px 70px 70px 70px
    box-sizing: border-box
    background: linear-gradient( 120deg , #425cd8,#4bd7ff)
    .broadband__flex
      display: flex
      flex-direction: row
      align-items: flex-start
      >div
        flex: 1 1 0
        max-width: 50%
        box-sizing: border-box
      .broadband__txt
        color: #fff
        padding: 0 100px
        h2
          margin-bottom: 30px
        .broadband__txt__sub
          margin-top: 20px
          display: flex
          flex-direction: row
          align-items: flex-start
          img
            margin-right: 20px
          span
            display: block
            font-size: 16px
            line-height: 1
            >strong
              font-size: 40px

  .settings
    padding: 70px 70px 0 70px
    box-sizing: border-box
    .settings__flex
      display: flex
      flex-direction: row
      align-items: center
      >div
        flex: 1 1 0
        max-width: 50%
        box-sizing: border-box
      .settings__txt
        padding: 0 100px
        h2
          margin-bottom: 30px

  .archer_footer
    background-image: url("https://cdn.comfy.ua/media/x/img/1634904/10.jpg")
    background-repeat: no-repeat
    background-position: center
    height: 422px
    box-sizing: border-box
    position: relative
    display: flex
    align-items: center
    padding: 70px
    .archer_footer__list
      display: flex
      flex-direction: row
      padding: 0 100px
      li
        text-align: center
        flex: 1 1 0
        color: #fff
        &:nth-of-type(2)
          margin: 0 80px
        img
          margin: 0 auto
        span
          font-size: 22px
          display: block
          line-height: 1
          margin: 10px 0 20px 0

//media*****************************************************************

@media (max-width: 1024px)
  #archer .gigabit,
  #archer .zaderzhka,
  #archer .faster,
  #archer .zone,
  #archer .broadband,
  #archer .archer_footer
    padding: 70px 1em
  #archer .gigabit .gigabit__flex .gigabit__item .gigabit__list li .poloska span:nth-of-type(2)
    width: 25em
  #archer .gigabit .gigabit__flex .gigabit__item .gigabit__list li:nth-of-type(n+2) .poloska span:nth-of-type(2)
    width: 20em
  #archer .gigabit .gigabit__flex .gigabit__item .gigabit__list li:nth-of-type(3) .poloska span:nth-of-type(2)
    width: 15em
  #archer .gigabit .gigabit__flex .gigabit__item .gigabit__list li:nth-of-type(4) .poloska span:nth-of-type(2)
    width: 10em
  #archer .connected
    padding: 0 1em
  #archer .connected .connected__flex .connected__item:nth-of-type(2) span:nth-of-type(1)
    left: -60px
  #archer .zaderzhka .zaderzhka__item:nth-of-type(2) span:last-of-type
    right: 4%
  #archer .faster .faster__txt
    padding-right: 0
  #archer .settings
    padding: 70px 1em 0 1em
  #archer .archer_footer .archer_footer__list
    padding: 0 50px
  #archer .proc .proc__txt
    bottom: 4%

@media (max-width: 812px)
  #archer h2
    font-size: 28px
  #archer .gigabit .gigabit__flex
    flex-direction: column
  #archer .gigabit .gigabit__flex .gigabit__item:nth-of-type(1)
    padding-right: 0
    text-align: center
    margin-bottom: 30px
  #archer .gigabit .gigabit__flex .gigabit__item:nth-of-type(2)
    max-width: max-content
    margin: 0 auto
  #archer .connected .connected__flex
    flex-direction: column
  #archer .connected .connected__flex .connected__item:nth-of-type(1)
    text-align: center
  #archer .zaderzhka .zaderzhka__flex
    flex-direction: column
  #archer .zaderzhka .zaderzhka__item:nth-of-type(1)
    text-align: center
    margin-bottom: 30px
  #archer .zaderzhka .zaderzhka__item:nth-of-type(2)
    margin: 0 auto
  #archer .faster
    height: auto
    background-size: cover
  #archer .faster .faster__txt
    position: unset
    transform: unset
    max-width: 80%
    text-align: center
    margin: 0 auto
  #archer .zone .zone__flex
    flex-direction: column
  #archer .zone .zone__flex .zone__txt
    text-align: center
    img
      margin: 0 auto
  #archer .broadband .broadband__flex
    flex-direction: column
    >div
      max-width: 100%
  #archer .broadband .broadband__flex .broadband__txt
    padding: 0
    text-align: center
  #archer .broadband .broadband__flex .broadband__txt .broadband__txt__sub
    max-width: max-content
    margin: 30px auto 0 auto
  #archer .settings .settings__flex .settings__txt
    padding: 0
  #archer .archer_footer .archer_footer__list
    padding: 0
  #archer .archer_footer .archer_footer__list li:nth-of-type(2)
    margin: 0 20px

@media (max-width: 480px)
  #archer .proc .proc__txt span
    width: 100%
    font-size: 15px
  #archer h2
    font-size: 24px
  #archer .proc .proc__txt
    bottom: 50%
    right: 50%
    transform: translate(50%, 50%)
  #archer .revolution .revolution__title,
  #archer .gigabit
    padding: 1em
  #archer .revolution .revolution__title h2,
  #archer .connected .connected__flex .connected__item h3,
  #archer .zaderzhka .zaderzhka__item h3,
  #archer .zone .zone__flex .zone__txt h2,
  #archer .broadband .broadband__flex .broadband__txt h2
    margin-bottom: 10px
  #archer .gigabit .gigabit__flex .gigabit__item .gigabit__list li
    flex-direction: column
  #archer .gigabit .gigabit__flex .gigabit__item .gigabit__list li .poloska
    margin: 10px 0 0 0
  #archer .gigabit .gigabit__flex .gigabit__item .gigabit__list li:nth-of-type(n+2)
    margin-top: 40px
  #archer .gigabit .gigabit__flex .gigabit__item .gigabit__list li .poloska span:nth-of-type(2)
    width: 17em
    margin-top: 10px
  #archer .gigabit .gigabit__flex .gigabit__item .gigabit__list li > span
    margin-top: 10px
  #archer .gigabit .gigabit__flex .gigabit__item .gigabit__list li:nth-of-type(n+2) .poloska span:nth-of-type(2)
    width: 15em
  #archer .gigabit .gigabit__flex .gigabit__item .gigabit__list li:nth-of-type(3) .poloska span:nth-of-type(2)
    width: 13em
  #archer .gigabit .gigabit__flex .gigabit__item .gigabit__list li:nth-of-type(4) .poloska span:nth-of-type(2)
    width: 11em
  #archer .connected .connected__flex .connected__item:nth-of-type(2)
    padding: 0
  #archer .connected .connected__flex .connected__item:nth-of-type(2) span:nth-of-type(1)
    font-size: 10px
    left: -77px
  #archer .connected .connected__flex .connected__item:nth-of-type(2) span:nth-of-type(2)
    font-size: 10px
    text-align: center
    bottom: -30px
  #archer .connected .connected__flex .connected__item:nth-of-type(2) span:nth-of-type(3),
  #archer .connected .connected__flex .connected__item:nth-of-type(2) span:nth-of-type(4)
    font-size: 11px
  #archer .connected .connected__flex .connected__item:nth-of-type(2) span:nth-of-type(4)
    bottom: 27%
  #archer h3
    font-size: 20px
  #archer .zaderzhka .zaderzhka__item:nth-of-type(2) span:nth-of-type(1),
  #archer .zaderzhka .zaderzhka__item:nth-of-type(2) span:nth-of-type(2)
    font-size: 12px
  #archer .zaderzhka .zaderzhka__item:nth-of-type(2) span:last-of-type
    font-size: 8px
  #archer .faster
    padding: 1em
  #archer .faster .faster__txt
    max-width: 100%
  #archer .faster .faster__txt .faster__router > div
    padding-right: 0
  #archer .faster .faster__txt .faster__router > div:nth-of-type(1)
    margin-right: 20px
  #archer .faster .faster__txt .faster__router > div span:nth-of-type(2)
    font-size: 24px
    margin: 10px 0
  #archer .faster .faster__txt .faster__router > div span
    font-size: 13px
  #archer .zone,
  #archer .broadband,
  #archer .settings,
  #archer .archer_footer
    padding: 1em
  #archer .settings .settings__flex
    flex-direction: column
    >div
      max-width: 100%
      text-align: center
  #archer .settings .settings__flex .settings__txt
    margin-bottom: 20px
  #archer .settings
    padding-bottom: 0
  #archer
    .archer_footer
      .archer_footer__list
        overflow-x: scroll
        li
          min-width: 180px
