/*default styles*/
#archer {
  max-width: 1316px;
  width: 100%;
  margin: 0 auto;
  height: auto;
  display: block;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

#archer p {
  margin-bottom: 0;
  margin: 0;
}

#archer p:first-letter {
  padding-left: 0;
}

#archer h2 {
  display: block;
  line-height: normal;
  font-size: 34px;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

#archer h3 {
  display: block;
  line-height: normal;
  font-size: 24px;
  font-weight: normal;
  padding: 0;
  margin: 0;
  text-align: unset;
}

#archer img {
  opacity: 1;
  max-width: 100%;
  display: block;
  height: auto;
}

#archer img:hover {
  opacity: 1;
}

#archer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.features-desc__text img {
  margin-bottom: 0rem;
}

.one-col .features-desc__text p:first-letter {
  padding-left: 0rem !important;
}

/*end default styles*/
#archer h2 {
  font-weight: bold;
  font-size: 40px;
}

#archer .proc {
  position: relative;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#archer .proc .proc__txt {
  position: absolute;
  bottom: 10%;
  text-align: center;
  right: 50%;
  -webkit-transform: translateX(50%);
     -moz-transform: translateX(50%);
      -ms-transform: translateX(50%);
       -o-transform: translateX(50%);
          transform: translateX(50%);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#archer .proc .proc__txt h2 {
  color: #fff;
  width: 100%;
  margin-bottom: 30px;
}

#archer .proc .proc__txt span {
  color: #fff;
  width: 50%;
  font-size: 20px;
}

#archer .revolution .revolution__title {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  padding: 40px 0;
}

#archer .revolution .revolution__title h2 {
  margin-bottom: 30px;
}

#archer .gigabit {
  padding: 70px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#archer .gigabit .gigabit__flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#archer .gigabit .gigabit__flex .gigabit__item h3 {
  margin-bottom: 30px;
}

#archer .gigabit .gigabit__flex .gigabit__item:nth-of-type(1) {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-right: 2em;
}

#archer .gigabit .gigabit__flex .gigabit__item:nth-of-type(2) {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
     -moz-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

#archer .gigabit .gigabit__flex .gigabit__item .gigabit__list li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#archer .gigabit .gigabit__flex .gigabit__item .gigabit__list li .gigabit__list__img {
  min-width: 118px;
}

#archer .gigabit .gigabit__flex .gigabit__item .gigabit__list li > span {
  margin-top: 1em;
  font-size: 20px;
  color: #0877ea;
}

#archer .gigabit .gigabit__flex .gigabit__item .gigabit__list li .poloska {
  margin: 0 30px 0 10px;
}

#archer .gigabit .gigabit__flex .gigabit__item .gigabit__list li .poloska span {
  display: block;
  color: #787878;
  font-size: 14px;
}

#archer .gigabit .gigabit__flex .gigabit__item .gigabit__list li .poloska span > strong {
  font-size: 16px;
}

#archer .gigabit .gigabit__flex .gigabit__item .gigabit__list li .poloska span:nth-of-type(2) {
  background: -webkit-gradient(linear, left top, right top, from(#2af4dd), to(#0877ea));
  background: -webkit-linear-gradient(left, #2af4dd, #0877ea);
  background: -moz-linear-gradient(left, #2af4dd, #0877ea);
  background: -o-linear-gradient(left, #2af4dd, #0877ea);
  background: linear-gradient(90deg, #2af4dd, #0877ea);
  width: 30em;
  display: block;
  height: 1em;
}

#archer .gigabit .gigabit__flex .gigabit__item .gigabit__list li:nth-of-type(n+2) {
  margin-top: 20px;
}

#archer .gigabit .gigabit__flex .gigabit__item .gigabit__list li:nth-of-type(n+2) > span {
  color: #787878;
}

#archer .gigabit .gigabit__flex .gigabit__item .gigabit__list li:nth-of-type(n+2) .poloska span:nth-of-type(2) {
  width: 25em;
  background: #d1d1d1;
}

#archer .gigabit .gigabit__flex .gigabit__item .gigabit__list li:nth-of-type(3) .poloska span:nth-of-type(2) {
  width: 20em;
}

#archer .gigabit .gigabit__flex .gigabit__item .gigabit__list li:nth-of-type(4) .poloska span:nth-of-type(2) {
  width: 15em;
}

#archer .connected {
  padding: 0 70px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#archer .connected .connected__flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#archer .connected .connected__flex .connected__item h3 {
  margin-bottom: 30px;
}

#archer .connected .connected__flex .connected__item:nth-of-type(1) {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#archer .connected .connected__flex .connected__item:nth-of-type(2) {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
     -moz-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  position: relative;
  padding: 60px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#archer .connected .connected__flex .connected__item:nth-of-type(2) img {
  margin: 0 auto;
}

#archer .connected .connected__flex .connected__item:nth-of-type(2) span {
  position: absolute;
  display: block;
  line-height: 1;
}

#archer .connected .connected__flex .connected__item:nth-of-type(2) span:nth-of-type(1) {
  -webkit-transform: translateY(50%) rotate(-90deg);
     -moz-transform: translateY(50%) rotate(-90deg);
      -ms-transform: translateY(50%) rotate(-90deg);
       -o-transform: translateY(50%) rotate(-90deg);
          transform: translateY(50%) rotate(-90deg);
  bottom: 50%;
  left: -50px;
}

#archer .connected .connected__flex .connected__item:nth-of-type(2) span:nth-of-type(2) {
  bottom: 20px;
  right: 50%;
  -webkit-transform: translateX(50%);
     -moz-transform: translateX(50%);
      -ms-transform: translateX(50%);
       -o-transform: translateX(50%);
          transform: translateX(50%);
}

#archer .connected .connected__flex .connected__item:nth-of-type(2) span:nth-of-type(3) {
  right: 4%;
  top: 12%;
}

#archer .connected .connected__flex .connected__item:nth-of-type(2) span:nth-of-type(4) {
  right: 3%;
  bottom: 43%;
}

#archer .zaderzhka {
  padding: 70px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#archer .zaderzhka .zaderzhka__flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#archer .zaderzhka .zaderzhka__item h3 {
  margin-bottom: 30px;
}

#archer .zaderzhka .zaderzhka__item:nth-of-type(1) {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#archer .zaderzhka .zaderzhka__item:nth-of-type(2) {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
     -moz-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  position: relative;
}

#archer .zaderzhka .zaderzhka__item:nth-of-type(2) span {
  position: absolute;
  bottom: 0;
  display: block;
  line-height: 1;
  font-weight: bold;
  color: #0b25cf;
  font-size: 24px;
}

#archer .zaderzhka .zaderzhka__item:nth-of-type(2) span:nth-of-type(1) {
  left: 18%;
  bottom: 9%;
}

#archer .zaderzhka .zaderzhka__item:nth-of-type(2) span:nth-of-type(2) {
  left: 49%;
  bottom: -6%;
}

#archer .zaderzhka .zaderzhka__item:nth-of-type(2) span:last-of-type {
  font-size: 16px;
  right: 16%;
  bottom: -6%;
}

#archer .zaderzhka .zaderzhka__item:nth-of-type(2) img {
  margin: 0 auto;
}

#archer .faster {
  height: 685px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url("https://cdn.comfy.ua/media/x/img/1634904/5.jpg");
  background-repeat: no-repeat;
  background-position: center right;
  padding: 70px;
  box-sizing: border-box;
  position: relative;
}

#archer .faster .faster__txt {
  max-width: 50%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding-right: 150px;
  color: #fff;
  position: absolute;
  bottom: 50%;
  -webkit-transform: translateY(50%);
     -moz-transform: translateY(50%);
      -ms-transform: translateY(50%);
       -o-transform: translateY(50%);
          transform: translateY(50%);
}

#archer .faster .faster__txt > span {
  font-size: 20px;
}

#archer .faster .faster__txt h2 {
  margin-bottom: 30px;
}

#archer .faster .faster__txt .faster__router {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 50px;
}

#archer .faster .faster__txt .faster__router > div {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
     -moz-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  padding-right: 40px;
}

#archer .faster .faster__txt .faster__router > div:nth-of-type(1) {
  color: rgba(255, 255, 255, 0.5);
}

#archer .faster .faster__txt .faster__router > div span {
  display: block;
  font-size: 16px;
}

#archer .faster .faster__txt .faster__router > div span:nth-of-type(2) {
  font-size: 40px;
  line-height: 40px;
  font-weight: bold;
}

#archer .zone {
  padding: 70px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#archer .zone .zone__flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#archer .zone .zone__flex .zone__txt {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#archer .zone .zone__flex .zone__txt h2 {
  margin-bottom: 30px;
}

#archer .zone .zone__flex .zone__txt p {
  margin-bottom: 10px;
}

#archer .zone .zone__flex .zone__img {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
     -moz-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

#archer .broadband {
  padding: 170px 70px 70px 70px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  background: -webkit-linear-gradient(330deg, #425cd8, #4bd7ff);
  background: -moz-linear-gradient(330deg, #425cd8, #4bd7ff);
  background: -o-linear-gradient(330deg, #425cd8, #4bd7ff);
  background: linear-gradient(120deg, #425cd8, #4bd7ff);
}

#archer .broadband .broadband__flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#archer .broadband .broadband__flex > div {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
     -moz-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  max-width: 50%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#archer .broadband .broadband__flex .broadband__txt {
  color: #fff;
  padding: 0 100px;
}

#archer .broadband .broadband__flex .broadband__txt h2 {
  margin-bottom: 30px;
}

#archer .broadband .broadband__flex .broadband__txt .broadband__txt__sub {
  margin-top: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#archer .broadband .broadband__flex .broadband__txt .broadband__txt__sub img {
  margin-right: 20px;
}

#archer .broadband .broadband__flex .broadband__txt .broadband__txt__sub span {
  display: block;
  font-size: 16px;
  line-height: 1;
}

#archer .broadband .broadband__flex .broadband__txt .broadband__txt__sub span > strong {
  font-size: 40px;
}

#archer .settings {
  padding: 70px 70px 0 70px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#archer .settings .settings__flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#archer .settings .settings__flex > div {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
     -moz-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  max-width: 50%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#archer .settings .settings__flex .settings__txt {
  padding: 0 100px;
}

#archer .settings .settings__flex .settings__txt h2 {
  margin-bottom: 30px;
}

#archer .archer_footer {
  background-image: url("https://cdn.comfy.ua/media/x/img/1634904/10.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 422px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 70px;
}

#archer .archer_footer .archer_footer__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0 100px;
}

#archer .archer_footer .archer_footer__list li {
  text-align: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
     -moz-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  color: #fff;
}

#archer .archer_footer .archer_footer__list li:nth-of-type(2) {
  margin: 0 80px;
}

#archer .archer_footer .archer_footer__list li img {
  margin: 0 auto;
}

#archer .archer_footer .archer_footer__list li span {
  font-size: 22px;
  display: block;
  line-height: 1;
  margin: 10px 0 20px 0;
}

@media (max-width: 1024px) {
  #archer .gigabit,
  #archer .zaderzhka,
  #archer .faster,
  #archer .zone,
  #archer .broadband,
  #archer .archer_footer {
    padding: 70px 1em;
  }
  #archer .gigabit .gigabit__flex .gigabit__item .gigabit__list li .poloska span:nth-of-type(2) {
    width: 25em;
  }
  #archer .gigabit .gigabit__flex .gigabit__item .gigabit__list li:nth-of-type(n+2) .poloska span:nth-of-type(2) {
    width: 20em;
  }
  #archer .gigabit .gigabit__flex .gigabit__item .gigabit__list li:nth-of-type(3) .poloska span:nth-of-type(2) {
    width: 15em;
  }
  #archer .gigabit .gigabit__flex .gigabit__item .gigabit__list li:nth-of-type(4) .poloska span:nth-of-type(2) {
    width: 10em;
  }
  #archer .connected {
    padding: 0 1em;
  }
  #archer .connected .connected__flex .connected__item:nth-of-type(2) span:nth-of-type(1) {
    left: -60px;
  }
  #archer .zaderzhka .zaderzhka__item:nth-of-type(2) span:last-of-type {
    right: 4%;
  }
  #archer .faster .faster__txt {
    padding-right: 0;
  }
  #archer .settings {
    padding: 70px 1em 0 1em;
  }
  #archer .archer_footer .archer_footer__list {
    padding: 0 50px;
  }
  #archer .proc .proc__txt {
    bottom: 4%;
  }
}

@media (max-width: 812px) {
  #archer h2 {
    font-size: 28px;
  }
  #archer .gigabit .gigabit__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #archer .gigabit .gigabit__flex .gigabit__item:nth-of-type(1) {
    padding-right: 0;
    text-align: center;
    margin-bottom: 30px;
  }
  #archer .gigabit .gigabit__flex .gigabit__item:nth-of-type(2) {
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    margin: 0 auto;
  }
  #archer .connected .connected__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #archer .connected .connected__flex .connected__item:nth-of-type(1) {
    text-align: center;
  }
  #archer .zaderzhka .zaderzhka__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #archer .zaderzhka .zaderzhka__item:nth-of-type(1) {
    text-align: center;
    margin-bottom: 30px;
  }
  #archer .zaderzhka .zaderzhka__item:nth-of-type(2) {
    margin: 0 auto;
  }
  #archer .faster {
    height: auto;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
  }
  #archer .faster .faster__txt {
    position: unset;
    -webkit-transform: unset;
       -moz-transform: unset;
        -ms-transform: unset;
         -o-transform: unset;
            transform: unset;
    max-width: 80%;
    text-align: center;
    margin: 0 auto;
  }
  #archer .zone .zone__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #archer .zone .zone__flex .zone__txt {
    text-align: center;
  }
  #archer .zone .zone__flex .zone__txt img {
    margin: 0 auto;
  }
  #archer .broadband .broadband__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #archer .broadband .broadband__flex > div {
    max-width: 100%;
  }
  #archer .broadband .broadband__flex .broadband__txt {
    padding: 0;
    text-align: center;
  }
  #archer .broadband .broadband__flex .broadband__txt .broadband__txt__sub {
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    margin: 30px auto 0 auto;
  }
  #archer .settings .settings__flex .settings__txt {
    padding: 0;
  }
  #archer .archer_footer .archer_footer__list {
    padding: 0;
  }
  #archer .archer_footer .archer_footer__list li:nth-of-type(2) {
    margin: 0 20px;
  }
}

@media (max-width: 480px) {
  #archer .proc .proc__txt span {
    width: 100%;
    font-size: 15px;
  }
  #archer h2 {
    font-size: 24px;
  }
  #archer .proc .proc__txt {
    bottom: 50%;
    right: 50%;
    -webkit-transform: translate(50%, 50%);
       -moz-transform: translate(50%, 50%);
        -ms-transform: translate(50%, 50%);
         -o-transform: translate(50%, 50%);
            transform: translate(50%, 50%);
  }
  #archer .revolution .revolution__title,
  #archer .gigabit {
    padding: 1em;
  }
  #archer .revolution .revolution__title h2,
  #archer .connected .connected__flex .connected__item h3,
  #archer .zaderzhka .zaderzhka__item h3,
  #archer .zone .zone__flex .zone__txt h2,
  #archer .broadband .broadband__flex .broadband__txt h2 {
    margin-bottom: 10px;
  }
  #archer .gigabit .gigabit__flex .gigabit__item .gigabit__list li {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #archer .gigabit .gigabit__flex .gigabit__item .gigabit__list li .poloska {
    margin: 10px 0 0 0;
  }
  #archer .gigabit .gigabit__flex .gigabit__item .gigabit__list li:nth-of-type(n+2) {
    margin-top: 40px;
  }
  #archer .gigabit .gigabit__flex .gigabit__item .gigabit__list li .poloska span:nth-of-type(2) {
    width: 17em;
    margin-top: 10px;
  }
  #archer .gigabit .gigabit__flex .gigabit__item .gigabit__list li > span {
    margin-top: 10px;
  }
  #archer .gigabit .gigabit__flex .gigabit__item .gigabit__list li:nth-of-type(n+2) .poloska span:nth-of-type(2) {
    width: 15em;
  }
  #archer .gigabit .gigabit__flex .gigabit__item .gigabit__list li:nth-of-type(3) .poloska span:nth-of-type(2) {
    width: 13em;
  }
  #archer .gigabit .gigabit__flex .gigabit__item .gigabit__list li:nth-of-type(4) .poloska span:nth-of-type(2) {
    width: 11em;
  }
  #archer .connected .connected__flex .connected__item:nth-of-type(2) {
    padding: 0;
  }
  #archer .connected .connected__flex .connected__item:nth-of-type(2) span:nth-of-type(1) {
    font-size: 10px;
    left: -77px;
  }
  #archer .connected .connected__flex .connected__item:nth-of-type(2) span:nth-of-type(2) {
    font-size: 10px;
    text-align: center;
    bottom: -30px;
  }
  #archer .connected .connected__flex .connected__item:nth-of-type(2) span:nth-of-type(3),
  #archer .connected .connected__flex .connected__item:nth-of-type(2) span:nth-of-type(4) {
    font-size: 11px;
  }
  #archer .connected .connected__flex .connected__item:nth-of-type(2) span:nth-of-type(4) {
    bottom: 27%;
  }
  #archer h3 {
    font-size: 20px;
  }
  #archer .zaderzhka .zaderzhka__item:nth-of-type(2) span:nth-of-type(1),
  #archer .zaderzhka .zaderzhka__item:nth-of-type(2) span:nth-of-type(2) {
    font-size: 12px;
  }
  #archer .zaderzhka .zaderzhka__item:nth-of-type(2) span:last-of-type {
    font-size: 8px;
  }
  #archer .faster {
    padding: 1em;
  }
  #archer .faster .faster__txt {
    max-width: 100%;
  }
  #archer .faster .faster__txt .faster__router > div {
    padding-right: 0;
  }
  #archer .faster .faster__txt .faster__router > div:nth-of-type(1) {
    margin-right: 20px;
  }
  #archer .faster .faster__txt .faster__router > div span:nth-of-type(2) {
    font-size: 24px;
    margin: 10px 0;
  }
  #archer .faster .faster__txt .faster__router > div span {
    font-size: 13px;
  }
  #archer .zone,
  #archer .broadband,
  #archer .settings,
  #archer .archer_footer {
    padding: 1em;
  }
  #archer .settings .settings__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #archer .settings .settings__flex > div {
    max-width: 100%;
    text-align: center;
  }
  #archer .settings .settings__flex .settings__txt {
    margin-bottom: 20px;
  }
  #archer .settings {
    padding-bottom: 0;
  }
  #archer .archer_footer .archer_footer__list {
    overflow-x: scroll;
  }
  #archer .archer_footer .archer_footer__list li {
    min-width: 180px;
  }
}
