/*default styles*/
#huawei {
  max-width: 1316px;
  width: 100%;
  margin: 0 auto;
  height: auto;
  display: block;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

#huawei p {
  margin-bottom: 0;
  margin: 0;
}

#huawei p:first-letter {
  padding-left: 0;
}

#huawei h2 {
  display: block;
  line-height: normal;
  font-size: 34px;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

#huawei h3 {
  display: block;
  line-height: normal;
  font-size: 24px;
  font-weight: bold;
  padding: 0;
  margin: 0;
  text-align: unset;
}

#huawei img {
  opacity: 1;
  max-width: 100%;
  display: block;
  height: auto;
}

#huawei img:hover {
  opacity: 1;
}

#huawei ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.features-desc__text img {
  margin-bottom: 0rem;
}

.one-col .features-desc__text p:first-letter {
  padding-left: 0rem !important;
}

/*end default styles*/
#huawei sup {
  font-size: 0.6em;
}

#huawei .show__mob {
  display: none;
}

#huawei .noise {
  padding-top: 40px;
}

#huawei .noise .noise__flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#huawei .noise .noise__flex .noise__img img {
  margin-left: -50px;
}

#huawei .noise .noise__flex .noise__wrap {
  margin: 0 auto;
}

#huawei .noise .noise__flex .noise__wrap img {
  margin: auto 0 0 0;
  padding: 1em;
}

#huawei .noise .noise__flex .noise__wrap .noise__txt {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#huawei .noise .noise__flex .noise__wrap .noise__txt span {
  display: block;
  line-height: normal;
  padding: 0 1em;
  font-size: 1em;
}

#huawei .noise .noise__flex .noise__wrap .noise__txt span:first-of-type {
  border-right: 1px solid black;
}

#huawei .like {
  padding: 80px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#huawei .like .like__title {
  text-align: center;
  margin-bottom: 20px;
}

#huawei .like .like__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 20px 20px;
      grid-template-areas: ".." "..";
}

#huawei .like .like__list li {
  background-color: #f2f2f2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#huawei .like .like__list li > div {
  max-width: 50%;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
     -moz-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#huawei .like .like__list li .like__img {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#huawei .like .like__list li .like__txt {
  padding: 1em;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#huawei .like .like__list li .like__txt h3 {
  margin-bottom: 10px;
}

#huawei .like .like__list li:nth-of-type(1) .like__img {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
     -moz-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 100%;
}

#huawei .like .like__list li:nth-of-type(1) .like__img img {
  mix-blend-mode: multiply;
  margin: 0 0 0 auto;
}

#huawei .like .like__list li:nth-of-type(3) .like__img img {
  margin: auto 10px 10px 0;
}

#huawei .size .size__flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0 80px 80px 80px;
}

#huawei .size .size__flex > div {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
     -moz-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  max-width: 50%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#huawei .size .size__flex .size__txt {
  padding-left: 150px;
}

#huawei .comfort .comfort__flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 80px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#huawei .comfort .comfort__flex > div {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
     -moz-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  max-width: 50%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#huawei .comfort .comfort__flex .comfort__img {
  margin-right: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
     -moz-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#huawei .comfort .comfort__flex .comfort__img img {
  margin: auto 0 0 0;
  background-color: #f2f2f2;
}

#huawei .comfort .comfort__flex .comfort__txt {
  margin-left: 40px;
  margin-bottom: -80px;
  max-width: 500px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
     -moz-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#huawei .comfort .comfort__flex .comfort__txt h2 {
  margin-bottom: 20px;
}

#huawei .comfort .comfort__flex .comfort__txt img {
  margin-top: 20px;
}

#huawei .hear {
  padding: 80px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#huawei .hear .hear__title {
  margin-bottom: 40px;
}

#huawei .hear .hear__txt {
  max-width: 50%;
  margin: 40px 0 0 auto;
}

#huawei .hear .hear__flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 80px;
}

#huawei .hear .hear__flex > div {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
     -moz-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  max-width: 50%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#huawei .hear .hear__flex > div:nth-of-type(1) {
  padding-right: 80px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
     -moz-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#huawei .hear .hear__flex > div:nth-of-type(2) {
  background-color: #f0f0f0;
  padding: 40px;
}

#huawei .communication {
  padding: 0 80px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#huawei .communication .communication__title {
  margin-bottom: 40px;
}

#huawei .communication .communication__txt {
  max-width: 50%;
  margin: 40px 0 0 0;
}

#huawei .music {
  padding: 80px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#huawei .music .music__title {
  margin-bottom: 40px;
}

#huawei .music .music__img img:nth-of-type(2) {
  margin: 40px auto 20px auto;
}

#huawei .music .music__txt {
  max-width: 50%;
  margin: 40px 0 40px auto;
}

#huawei .music .music__flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#huawei .music .music__flex > div {
  max-width: 200px;
}

#huawei .music .music__flex span {
  display: block;
  text-align: left;
  font-size: 0.8em;
  line-height: normal;
}

#huawei .music .music__flex span > strong {
  font-size: 40px;
}

#huawei .crystal {
  padding: 0 80px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#huawei .crystal .crystal__title {
  margin-bottom: 40px;
}

#huawei .crystal .crystal__txt {
  max-width: 50%;
  margin: 40px 0 0 auto;
}

#huawei .win {
  padding: 80px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#huawei .win .win__title {
  margin-bottom: 40px;
}

#huawei .win .win__txt {
  max-width: 50%;
  margin: 40px 0 0 auto;
}

#huawei .connect {
  padding: 0 80px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#huawei .connect .connect__flex {
  background-color: #f5f5f5;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 40px;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#huawei .connect .connect__flex > div {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
     -moz-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  max-width: 50%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#huawei .connect .connect__flex .connect__txt {
  padding-left: 40px;
}

#huawei .connect .connect__flex .connect__txt h2 {
  margin-bottom: 40px;
}

#huawei .sense {
  padding: 80px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#huawei .sense .sense__flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#huawei .sense .sense__flex > div {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
     -moz-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  max-width: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#huawei .sense .sense__flex .sense__txt {
  margin-right: 80px;
}

#huawei .sense .sense__flex .sense__txt .sense__wrap h2 {
  margin-bottom: 40px;
}

#huawei .sense .sense__flex .sense__txt img {
  margin-top: 40px;
}

#huawei .sense .sense__flex .sense__img .sense__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 40px;
}

#huawei .sense .sense__flex .sense__img .sense__list li {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
     -moz-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
}

#huawei .sense .sense__flex .sense__img .sense__list li span {
  font-size: 0.8em;
  display: block;
  line-height: normal;
}

#huawei .sense .sense__flex .sense__img .sense__list li span > strong {
  font-size: 16px;
}

#huawei .sense .sense__flex .sense__img .sense__list li::before {
  content: "";
  display: block;
  background-image: url("https://cdn.comfy.ua/media/x/img/1757813/icon6.png");
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
     -moz-background-size: contain;
       -o-background-size: contain;
          background-size: contain;
  width: 30px;
  height: 30px;
  margin: 0 auto 10px auto;
}

#huawei .sense .sense__flex .sense__img .sense__list li:nth-of-type(2) {
  margin: 0 40px;
}

#huawei .moment .moment__flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f5f5f5;
  padding: 0 80px;
  position: relative;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#huawei .moment .moment__flex > div {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
     -moz-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  max-width: 50%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#huawei .moment .moment__flex .moment__txt {
  margin-left: 80px;
}

#huawei .moment .moment__flex .moment__txt img {
  position: absolute;
  bottom: 40px;
  right: 80px;
}

#huawei .buds {
  padding: 80px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#huawei .buds .buds__flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}

#huawei .buds .buds__flex > div {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
     -moz-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  max-width: 50%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#huawei .buds .buds__flex .buds__txt {
  padding-right: 40px;
}

#huawei .buds .buds__flex .buds__txt h2 {
  margin-bottom: 40px;
}

#huawei .buds .buds__list li {
  list-style-type: decimal;
  font-size: 0.8em;
  line-height: normal;
}

#huawei .buds .buds__list li:nth-of-type(n+2) {
  margin-top: 10px;
}

@media (max-width: 1024px) {
  #huawei .like .like__list li .like__txt h3 {
    font-size: 22px;
  }
}

@media (max-width: 812px) {
  #huawei .noise {
    padding-top: 1em;
  }
  #huawei .noise .noise__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
       -moz-box-orient: vertical;
       -moz-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  #huawei .noise .noise__flex .noise__wrap {
    margin-bottom: 1.5em;
  }
  #huawei .noise .noise__flex .noise__img img {
    margin: 0 auto;
  }
  #huawei .like {
    padding: 1em;
  }
  #huawei .like .like__list li .like__txt h3 {
    font-size: 20px;
  }
  #huawei .size .size__flex {
    padding: 0 1em 1em 1em;
  }
  #huawei .size .size__flex .size__txt {
    padding-left: 1em;
  }
  #huawei .comfort .comfort__flex {
    padding: 1em;
  }
  #huawei .comfort .comfort__flex .comfort__img {
    margin-right: 1em;
  }
  #huawei .comfort .comfort__flex .comfort__txt {
    margin-left: 1em;
  }
  #huawei .hear {
    padding: 80px 1em 1em 1em;
  }
  #huawei .hear .hear__flex {
    margin-top: 1em;
  }
  #huawei .hear .hear__flex > div:nth-of-type(1) {
    padding-right: 1em;
  }
  #huawei .hear .hear__txt {
    margin-top: 1em;
  }
  #huawei .communication {
    padding: 0 1em;
  }
  #huawei .communication .communication__txt {
    margin-top: 1em;
  }
  #huawei .music {
    padding: 1em;
  }
  #huawei .crystal {
    padding: 1em;
  }
  #huawei .crystal .crystal__txt {
    margin-top: 1em;
  }
  #huawei .win {
    padding: 1em;
  }
  #huawei .win .win__txt {
    margin-top: 1em;
  }
  #huawei .connect {
    padding: 0 1em;
  }
  #huawei .sense {
    padding: 1em;
  }
  #huawei .sense .sense__flex .sense__txt {
    margin-right: 1em;
  }
  #huawei .sense .sense__flex .sense__img {
    margin-left: 1em;
  }
  #huawei .sense .sense__flex .sense__img .sense__list li:nth-of-type(2) {
    margin: 0 1em;
  }
  #huawei .moment .moment__flex {
    padding: 0 1em;
  }
  #huawei .buds {
    padding: 1em;
  }
  #huawei .like .like__list li:nth-of-type(2) .like__img img {
    margin: auto 0 0 0;
  }
}

@media (max-width: 480px) {
  #huawei .show__mob {
    display: block;
  }
  #huawei .hide__mob {
    display: none;
  }
  #huawei .noise .noise__flex .noise__wrap img {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
  #huawei .noise .noise__flex .noise__wrap .noise__txt span {
    font-size: 0.8em;
  }
  #huawei h2 {
    font-size: 24px;
  }
  #huawei .like .like__list {
        grid-template-areas: "." "." "." ".";
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  #huawei .like .like__list li:nth-of-type(2) .like__img img {
    margin: auto 10px 0px 0;
  }
  #huawei .like .like__list li .like__txt h3 {
    font-size: 17px;
  }
  #huawei .size .size__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #huawei .size .size__flex > div {
    max-width: 100%;
  }
  #huawei .size .size__flex .size__txt {
    padding-left: 0;
    margin-top: 20px;
  }
  #huawei .comfort .comfort__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
       -moz-box-orient: vertical;
       -moz-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 1em 0;
  }
  #huawei .comfort .comfort__flex .comfort__txt {
    margin-left: 0;
    margin-bottom: 20px;
    padding: 0 1em;
  }
  #huawei .comfort .comfort__flex .comfort__img {
    margin-right: 0;
    max-width: 100%;
  }
  #huawei .hear {
    padding: 1em;
  }
  #huawei .hear {
    padding: 1em 0;
  }
  #huawei .hear .hear__img img {
    min-width: 740px;
  }
  #huawei .hear .hear__txt {
    max-width: 100%;
    padding: 0 1em;
  }
  #huawei .hear .hear__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
       -moz-box-orient: vertical;
       -moz-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  #huawei .hear .hear__flex > div {
    max-width: 100%;
  }
  #huawei .hear .hear__flex > div:nth-of-type(1) {
    padding: 1em;
  }
  #huawei .communication {
    padding: 0;
  }
  #huawei .communication .communication__img img {
    min-width: 740px;
    margin-left: -225px;
  }
  #huawei .communication .communication__txt {
    max-width: 100%;
    padding: 1em;
  }
  #huawei .music {
    padding: 1em 0;
  }
  #huawei .music .music__txt {
    max-width: 100%;
    padding: 0 1em 1em 1em;
    margin-bottom: 0;
  }
  #huawei .music .music__flex span > strong {
    font-size: 20px;
  }
  #huawei .music .music__flex {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    padding: 1em;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
  #huawei .music .music__flex > div {
    max-width: 50%;
  }
  #huawei .music .music__flex .music__item:nth-of-type(3) {
    margin-top: 1em;
  }
  #huawei .crystal {
    padding: 1em 0;
  }
  #huawei .crystal .crystal__img img {
    min-width: 720px;
    margin-left: -160px;
  }
  #huawei .crystal .crystal__txt {
    max-width: 100%;
    padding: 0 1em 1em 1em;
  }
  #huawei .win {
    padding: 1em 0;
  }
  #huawei .win .win__img img {
    min-width: 740px;
    margin-left: -100px;
  }
  #huawei .win .win__txt {
    max-width: 100%;
    padding: 0 1em;
  }
  #huawei .connect .connect__flex {
    padding: 1em 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #huawei .connect .connect__flex > div {
    max-width: 100%;
  }
  #huawei .connect .connect__flex .connect__txt {
    padding: 1em;
  }
  #huawei .sense .sense__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #huawei .sense .sense__flex > div {
    max-width: 100%;
  }
  #huawei .sense .sense__flex .sense__img {
    margin-left: 0;
    margin-top: 1em;
  }
  #huawei .sense .sense__flex .sense__img .sense__list {
    margin-top: 20px;
    margin-bottom: 20px;
    overflow-x: scroll;
  }
  #huawei .sense .sense__flex .sense__img .sense__list li {
    min-width: 180px;
  }
  #huawei .sense .sense__flex .sense__txt img {
    display: none;
  }
  #huawei .moment .moment__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1em;
  }
  #huawei .moment .moment__flex > div {
    max-width: 100%;
  }
  #huawei .moment .moment__flex .moment__txt {
    margin-left: 0;
    text-align: center;
  }
  #huawei .moment .moment__flex .moment__txt img {
    position: unset;
    margin: 20px auto 0 auto;
  }
  #huawei .buds .buds__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #huawei .buds .buds__flex > div {
    max-width: 100%;
  }
  #huawei .buds .buds__flex .buds__txt {
    padding: 0;
    text-align: center;
    margin-bottom: 20px;
  }
  #huawei .buds .buds__list {
    padding-left: 1em;
  }
  #huawei .win .win__title,
  #huawei .crystal .crystal__title,
  #huawei .music .music__title,
  #huawei .communication .communication__title,
  #huawei .hear .hear__title {
    padding: 0 1em;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
}
