#cms-for-them {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  background: #fff;
  max-width: 1366px;
}
#cms-for-them a {
  text-decoration: none;
}
#cms-for-them img {
  display: block;
  max-width: 100%;
  opacity: 1;
}
#cms-for-them img:hover {
  opacity: 1;
}

.cms-for-them-banner {
  background: #43B02A;
}

.cms-for-them__p p {
  color: #616161;
  padding: 15px 0 0 0;
}

.cms-for-them__a a {
  padding-top: 10px;
  display: block;
  color: #43b02a;
  text-decoration: underline !important;
}

.cms-for-them-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
  padding: 15px 0 15px 0;
}
.cms-for-them-grid__for-her, .cms-for-them-grid__for-him {
  -webkit-border-radius: 10px;
          border-radius: 10px;
  overflow: hidden;
  position: relative;
  height: 128px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.cms-for-them-grid__for-her:hover .cms-for-them-grid__text, .cms-for-them-grid__for-him:hover .cms-for-them-grid__text {
  text-shadow: 0 0 2px #fff;
}
.cms-for-them-grid__for-her {
  background: -webkit-gradient(linear, left top, right top, from(#ED57B0), to(#FC6767));
  background: -webkit-linear-gradient(left, #ED57B0 0%, #FC6767 100%);
  background: -o-linear-gradient(left, #ED57B0 0%, #FC6767 100%);
  background: linear-gradient(90deg, #ED57B0 0%, #FC6767 100%);
}
.cms-for-them-grid__for-him {
  background: -webkit-gradient(linear, left top, right top, from(#FC6767), to(#ED57B0));
  background: -webkit-linear-gradient(left, #FC6767 0%, #ED57B0 100%);
  background: -o-linear-gradient(left, #FC6767 0%, #ED57B0 100%);
  background: linear-gradient(90deg, #FC6767 0%, #ED57B0 100%);
}
.cms-for-them-grid__img1 {
  position: absolute;
  left: 0;
  bottom: 0;
}
.cms-for-them-grid__img2 {
  position: absolute;
  right: 3%;
  bottom: 0;
}
.cms-for-them-grid__img3 {
  position: absolute;
  left: 0;
  bottom: 0;
}
.cms-for-them-grid__img4 {
  position: absolute;
  right: 3%;
  bottom: 0;
}
.cms-for-them-grid__text {
  font-size: 34px;
  font-weight: 900;
  text-align: center;
  color: #fff;
  position: relative;
}
@media (max-width: 1366px) {
  .cms-for-them-grid__text {
    font-size: -webkit-calc(12px + 22 * (100vw - 320px) / 1046);
    font-size: calc(12px + 22 * (100vw - 320px) / 1046);
  }
}

.cms-for-them-price-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 8px;
}
.cms-for-them-price-grid__item {
  -webkit-border-radius: 10px;
          border-radius: 10px;
  border: 2px solid #ED57B0;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 128px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.cms-for-them-price-grid__item:hover .cms-for-them-price-grid__text {
  color: #FF671F;
}
.cms-for-them-price-grid__text {
  font-size: 24px;
  font-weight: 900;
  text-align: center;
  color: #F05B9F;
  position: relative;
}
@media (max-width: 1366px) {
  .cms-for-them-price-grid__text {
    font-size: -webkit-calc(12px + 12 * (100vw - 320px) / 1046);
    font-size: calc(12px + 12 * (100vw - 320px) / 1046);
  }
}

@media (max-width: 1023px) {
  .cms-for-them-price-grid {
    padding: 0 15px 15px 15px;
  }
  .cms-for-them-grid {
    padding: 15px;
  }
  .cms-for-them-grid__for-her, .cms-for-them-grid__for-him {
    height: 128px;
  }
  .cms-for-them-grid__img1 {
    max-width: 190px;
  }
  .cms-for-them-grid__img2 {
    max-width: 120px;
  }
  .cms-for-them-grid__img3 {
    max-width: 165px;
  }
  .cms-for-them-grid__img4 {
    max-width: 145px;
  }
  .cms-for-them__p p {
    padding: 15px 15px 0 15px;
  }
}
@media (max-width: 768px) {
  .cms-for-them-grid__for-her, .cms-for-them-grid__for-him {
    height: 90px;
  }
  .cms-for-them-grid__img1 {
    max-width: 135px;
  }
  .cms-for-them-grid__img2 {
    max-width: 90px;
  }
  .cms-for-them-grid__img3 {
    max-width: 115px;
  }
  .cms-for-them-grid__img4 {
    max-width: 100px;
  }
  .cms-for-them-price-grid__item {
    height: 90px;
  }
}
@media (max-width: 480px) {
  .cms-for-them-grid {
    padding: 8px 8px 16px 8px;
    grid-gap: 8px;
  }
  .cms-for-them-grid__for-her, .cms-for-them-grid__for-him {
    height: 105px;
  }
  .cms-for-them-grid__img2 {
    max-width: 100%;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
         -o-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .cms-for-them-grid__img4 {
    right: inherit;
    left: 0;
    bottom: 0;
  }
  .cms-for-them-grid__img3 {
    bottom: 0;
    right: 0;
    left: inherit;
  }
  .cms-for-them-price-grid {
    grid-template-columns: 1fr 1fr;
    padding: 0 8px 8px 8px;
  }
  .cms-for-them-banner {
    padding-top: 15px;
  }
  .cms-for-them__p p {
    padding: 8px 8px 0 8px;
  }
}