#xbox-series-s {
  display: block;
  margin: 0 auto;
  max-width: 1366px;
  width: 100%;
  height: auto;
  overflow: hidden;
  background: #fff;
  position: relative;
}
#xbox-series-s img:hover {
  opacity: 1;
}
#xbox-series-s:first-letter {
  padding-left: 0;
}
#xbox-series-s img {
  display: block;
  margin-right: initial;
  margin-left: initial;
}
#xbox-series-s h2 {
  line-height: 1.3;
  margin: 0;
  padding: 0;
}
#xbox-series-s h3 {
  line-height: 1.3;
  margin: 0;
  padding: 0;
}
#xbox-series-s h4 {
  line-height: 1.3;
  margin: 0;
  padding: 0;
}

span.word-wrap {
  display: block;
  word-wrap: break-word;
}

span.word-wrap2 {
  display: block;
  word-wrap: break-word;
}

span.fw-bold {
  font-weight: bold;
}

span.tx-uppercase {
  text-transform: uppercase;
}

span.color43B02A {
  color: #43B02A;
}

.features-desc__text h2 {
  text-align: inherit;
}

.one-col .features-desc__text p {
  text-align: inherit;
}

.bc-description__content p:first-letter {
  padding-left: 0 !important;
}

.bc-description__content p {
  margin-bottom: 0;
}

.xbox__move-bl {
  position: relative;
}

.xbox__move-text-top {
  position: absolute;
  top: 35px;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
}
.xbox__move-text-top h2 {
  font-weight: 500;
  font-size: 34px;
  text-align: center;
  color: #000000;
}

.xbox__move-wp video {
  display: block;
  width: 100%;
  height: auto;
}

.xbox__move-text-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.xbox__move-text-bottom h3 {
  font-weight: 700;
  font-size: 70px;
  text-align: center;
  color: #000000;
}
.xbox__move-text-bottom .xbox__move-img {
  padding-top: 13px;
}
.xbox__move-text-bottom .xbox__move-img img {
  margin: 0 auto !important;
}

.xbox__go-play {
  margin-top: 71px;
  position: relative;
}

.xbox__go-play-bgrd {
  background-image: url(https://cdn.comfy.ua/media/x/img2/xbox/bgrd1.png);
  background-position: center top;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  width: 100%;
  height: 1302px;
  position: absolute;
  top: 0;
  z-index: 2;
}
.xbox__go-play-bgrd::after {
  content: "";
  background: -webkit-gradient(linear, left bottom, left top, from(#FFFFFF), color-stop(72.61%, rgba(255, 255, 255, 0.08)), color-stop(102.51%, rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(bottom, #FFFFFF 0%, rgba(255, 255, 255, 0.08) 72.61%, rgba(255, 255, 255, 0) 102.51%);
  background: -moz-linear-gradient(bottom, #FFFFFF 0%, rgba(255, 255, 255, 0.08) 72.61%, rgba(255, 255, 255, 0) 102.51%);
  background: -o-linear-gradient(bottom, #FFFFFF 0%, rgba(255, 255, 255, 0.08) 72.61%, rgba(255, 255, 255, 0) 102.51%);
  background: linear-gradient(0deg, #FFFFFF 0%, rgba(255, 255, 255, 0.08) 72.61%, rgba(255, 255, 255, 0) 102.51%);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 289px;
  z-index: 3;
}

.xbox__go-play-content {
  max-width: 700px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.5);
  z-index: 4;
  position: relative;
  top: -27px;
  padding-bottom: 160px;
}

.xbox__go-play-h2-p {
  padding: 38px 70px 30px 70px;
}
.xbox__go-play-h2-p h2 {
  font-weight: bold;
  font-size: 42px;
  color: #FFFFFF;
  text-align: left;
  padding-bottom: 12px !important;
}
.xbox__go-play-h2-p p {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  text-align: left;
}

.xbox__go-play-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 550px;
  padding-bottom: 40px;
  margin: 0 auto 0 -85px;
}
.xbox__go-play-flex .xbox__go-play__item-text {
  padding: 0 0 0 20px;
}
.xbox__go-play-flex.row-rev {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
     -moz-box-orient: horizontal;
     -moz-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin: 0px -85px 0 auto;
}
.xbox__go-play-flex.row-rev .xbox__go-play__item-text {
  padding: 0 20px 0 0;
}

.xbox__go-play__item-text-img {
  padding-bottom: 16px;
}

.xbox__go-play__item-text-h2 {
  padding-bottom: 16px;
}
.xbox__go-play__item-text-h2 h2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: #FFFFFF;
  text-align: left;
}

.xbox__go-play__item-text-p p {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.xbox__go-play__item:last-child {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
     -moz-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
}

.xbox__go-bl-img {
  max-width: 739px;
  margin: 0 auto;
  position: relative;
  margin-top: -150px;
  z-index: 5;
}
.xbox__go-bl-img img {
  margin: 0 auto !important;
}

.xbox__go-standart {
  padding-top: 105px;
}

.xbox__go-standart__content {
  margin-top: 20px;
  position: relative;
}

.xbox__go-standart__bgrd {
  background-image: url(https://cdn.comfy.ua/media/x/img2/xbox/bgrd2.png);
  background-position: center top;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  width: 100%;
  height: 1113px;
  z-index: 2;
}

.xbox__go-standart__h2 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  max-width: 875px;
  margin: 0 auto;
}
.xbox__go-standart__h2.mobdis {
  display: none;
}
.xbox__go-standart__h2 .mobnone {
  display: block;
}
.xbox__go-standart__h2 h2 {
  font-weight: 700;
  font-size: 60px;
  line-height: 76px;
  text-transform: uppercase;
  color: #000000;
}

.xbox__go-standart__flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 875px;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 4;
}

.xbox__go-standart__item:nth-child(2) {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
     -moz-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
}

.xbox__go-standart__p {
  padding: 175px 40px 0 0;
}
.xbox__go-standart__p p {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}

.xbox__go-standart__text {
  padding: 175px 0 0 15px;
}

.xbox__go-standart__text-wr {
  padding: 0 0 12px 27px;
}

.xbox__go-standart__move video {
  max-width: 448px;
  height: auto;
}

.xbox__go-standart__img {
  max-width: 875px;
  margin: 0 auto;
}

.xbox__go-standart__text-h2 h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.xbox__go-standart__text-p {
  padding-top: 12px;
}
.xbox__go-standart__text-p p {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}

.xbox__performance {
  max-width: 875px;
  margin: -130px auto 0 auto;
  z-index: 4;
  position: relative;
}

.xbox-performance__img img {
  margin: 0 auto !important;
}

.xbox-performance__text {
  max-width: 716px;
  margin: 0 0 0 auto;
  padding-top: 30px;
}

.xbox-performance__text-h2 {
  padding-bottom: 16px;
}
.xbox-performance__text-h2 h2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.xbox-performance__text-p p {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.xbox-performance__flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 36px;
}

.xbox-performance__item-text {
  padding: 10px 21px 10px 0;
  max-width: 295px;
}

.xbox-performance__item-text-h2 {
  padding-bottom: 10px;
}
.xbox-performance__item-text-h2 h2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.xbox-performance__item-text-p p {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.xbox__sound {
  position: relative;
  margin-top: -35px;
}

.xbox__sound-text {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 854px;
  margin: 0 auto;
}

.xbox__sound-text__h2 {
  padding-bottom: 36px;
}
.xbox__sound-text__h2 h2 {
  font-weight: 700;
  font-size: 50px;
  line-height: 63px;
  text-align: center;
  color: #000000;
}

.xbox__sound-text__p p {
  font-weight: 500;
  font-size: 34px;
  line-height: 43px;
  text-align: center;
  color: #000000;
}

.xbox-dolby__text {
  max-width: 875px;
  margin: 0 auto;
}

.xbox-dolby__img img {
  margin: 0 auto !important;
}

.xbox-dolby__p {
  padding: 50px 0 50px 0;
}
.xbox-dolby__p p {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #000000;
}

.xbox-dolby__h2 h2 {
  font-weight: 700;
  font-size: 70px;
  line-height: 70px !important;
  text-align: center;
  color: #000000;
}

.xbox-dolby__img img {
  margin: 0 auto;
}

.xbox-dolby__img {
  padding-top: 50px;
}

.xbox-control {
  max-width: 875px;
  margin: 0 auto;
  position: relative;
  margin-top: -155px;
}

.xbox-control-text {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 4;
}

.xbox-control-text__h2 {
  padding-bottom: 17px;
}
.xbox-control-text__h2 h2 {
  font-weight: 700;
  font-size: 70px;
  line-height: 60px !important;
  color: #000000;
  text-transform: uppercase;
}

.xbox-control__flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
     -moz-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.xbox-control__item-text {
  max-width: 193px;
  margin-right: 18px;
}

.xbox-control__item__h2 {
  padding-bottom: 16px;
  word-break: break-word;
}
.xbox-control__item__h2 h2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.xbox-control__item__p p {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  text-align: left;
}

.xbox-grid {
  padding-top: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 14px;
  max-width: 875px;
  margin: 0 auto;
}

.xbox-grid__item {
  max-width: 430px;
  width: 100%;
}
.xbox-grid__item video {
  max-width: 430px;
  width: 100%;
}
.xbox-grid__item:first-child {
  margin-top: 40px;
}
.xbox-grid__item:last-child {
  margin-top: -40px;
}

.xbox-grid__item-cont {
  position: relative;
}

.xbox-grid__item-text {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 8px;
  margin: 0 32px 32px 32px;
  background: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
}

.xbox-grid__item-text-h2 {
  padding-bottom: 16px;
}
.xbox-grid__item-text-h2 h2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.xbox-grid__item-text-p p {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.xbox-textbl {
  max-width: 875px;
  margin: 0 auto;
  padding-top: 60px;
}
.xbox-textbl p {
  font-weight: 700;
  font-size: 25px;
  line-height: 40px;
  color: #000000;
}

.xbox-games {
  padding-top: 30px;
}

.xbox-games__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 1px;
}

.xbox-games__item-bgrd {
  position: relative;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  max-width: 274px;
  width: 100%;
  height: 800px;
}
.xbox-games__item-bgrd.bgrd-img1 {
  background-image: url(https://cdn.comfy.ua/media/x/img2/xbox/img22.png);
}
.xbox-games__item-bgrd.bgrd-img2 {
  background-image: url(https://cdn.comfy.ua/media/x/img2/xbox/img23new.png);
}
.xbox-games__item-bgrd.bgrd-img3 {
  background-image: url(https://cdn.comfy.ua/media/x/img2/xbox/img24new.png);
}
.xbox-games__item-bgrd.bgrd-img4 {
  background-image: url(https://cdn.comfy.ua/media/x/img2/xbox/img25new.png);
}
.xbox-games__item-bgrd.bgrd-img5 {
  background-image: url(https://cdn.comfy.ua/media/x/img2/xbox/img26new.png);
}

.xbox-games__item-logo {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 0 16px 30px 16px;
}
.xbox-games__item-logo img {
  margin: 0 auto !important;
}

.VisibilityBlock {
  opacity: 0;
  -webkit-animation: showDiv 0.3s forwards;
     -moz-animation: showDiv 0.3s forwards;
       -o-animation: showDiv 0.3s forwards;
          animation: showDiv 0.3s forwards;
  -webkit-animation-delay: 7.7s;
     -moz-animation-delay: 7.7s;
       -o-animation-delay: 7.7s;
          animation-delay: 7.7s;
}

@-webkit-keyframes showDiv {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes showDiv {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes showDiv {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

@keyframes showDiv {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
@media (max-width: 1024px) {
  .xbox__move-text-bottom h3 {
    font-size: 50px;
  }
  .xbox__go-play-h2-p h2 {
    font-size: 45px;
  }
  .xbox__go-standart__h2 h2 {
    font-size: 48px;
  }
  .xbox__go-standart__p {
    padding: 145px 40px 0 0;
  }
  .xbox__go-standart__text {
    padding: 145px 0 0 15px;
  }
  .xbox__sound-move video {
    max-height: 865px;
    height: 100%;
  }
  .xbox__sound-text__h2 h2 {
    font-size: 40px;
  }
  .xbox__sound-text__p p {
    font-size: 28px;
  }
  .xbox-dolby__h2 h2 {
    font-size: 50px;
    line-height: 50px !important;
  }
  .xbox-control-text__h2 h2 {
    font-size: 50px;
    line-height: 50px !important;
  }
  .xbox-textbl p {
    font-size: 28px;
  }
}
@media (max-width: 812px) {
  .xbox__move-text-top h2 {
    font-size: 28px;
    line-height: 1.1 !important;
  }
  .xbox__move-text-bottom h3 {
    font-size: 38px;
  }
  .xbox__go-play-h2-p h2 {
    font-size: 34px;
  }
  .xbox__go-play-flex {
    margin: 0 auto;
  }
  .xbox__go-play-flex.row-rev {
    margin: 0 auto;
  }
  .xbox__go-standart__item {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 0;
       -moz-box-flex: 1;
        -ms-flex: 1 1 0px;
            flex: 1 1 0;
  }
  .xbox__go-standart__move video {
    max-width: 100%;
    height: auto;
  }
  .xbox__go-standart__flex {
    padding: 0 20px;
  }
  .xbox__go-standart__h2 {
    position: relative;
  }
  .xbox__go-standart__h2.mobdis {
    display: block;
    padding: 0 20px;
  }
  .xbox__go-standart__h2.mobnone {
    display: none;
  }
  .xbox__go-standart__img {
    padding: 0 20px;
  }
  .xbox__go-standart__p {
    padding: 0 40px 0 0;
  }
  .xbox__go-standart__text {
    padding: 0 0 0 15px;
  }
  .xbox__go-standart__bgrd {
    height: 910px;
  }
  .xbox-performance__img {
    padding: 0 20px;
  }
  .xbox-performance__text {
    padding: 30px 20px 0 20px;
  }
  .xbox-performance__flex {
    padding: 36px 20px 0 20px;
  }
  .xbox__sound-text__h2 h2 {
    font-size: 34px;
  }
  .xbox__sound-text__p {
    padding: 0 20px;
  }
  .xbox__sound-text__p p {
    font-size: 26px;
  }
  .xbox-dolby__text {
    padding: 0 20px;
  }
  .xbox-dolby__h2 h2 {
    font-size: 42px;
    line-height: 42px !important;
  }
  .xbox-control-text__h2 h2 {
    font-size: 40px;
    line-height: 40px !important;
  }
  .xbox-control__flex {
    padding: 0 20px;
  }
  .xbox-control__item-text {
    max-width: 215px;
  }
  .xbox-control-text__h2 {
    padding-right: 20px;
  }
  .xbox-grid {
    padding: 60px 20px 0 20px;
  }
  .xbox-textbl {
    padding: 60px 20px 0 20px;
  }
  .xbox-textbl p {
    font-size: 26px;
  }
  .xbox-games__grid {
    grid-template-columns: 1fr 1fr;
    padding: 0 20px;
  }
  .xbox-games__item-bgrd {
    position: relative;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    max-width: 375px;
    width: 100%;
    height: 375px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .xbox-games__item-bgrd.bgrd-img1 {
    background-image: url(https://cdn.comfy.ua/media/x/img2/xbox/img22mob.png);
  }
  .xbox-games__item-bgrd.bgrd-img2 {
    background-image: url(https://cdn.comfy.ua/media/x/img2/xbox/img23mob.png);
  }
  .xbox-games__item-bgrd.bgrd-img3 {
    background-image: url(https://cdn.comfy.ua/media/x/img2/xbox/img24mob.png);
  }
  .xbox-games__item-bgrd.bgrd-img4 {
    background-image: url(https://cdn.comfy.ua/media/x/img2/xbox/img25mob.png);
  }
  .xbox-games__item-bgrd.bgrd-img5 {
    background-image: url(https://cdn.comfy.ua/media/x/img2/xbox/img26mob.png);
  }
  .xbox-games__item-logo {
    position: relative;
    padding: 0;
  }
  .xbox__go-play-content {
    margin: 0 20px;
    top: 0;
    max-width: 100%;
  }
}
@media (max-width: 480px) {
  .xbox__move-text-top {
    position: relative;
    top: 0;
    padding: 40px 20px 10px 20px;
  }
  span.word-wrap {
    display: initial;
    word-wrap: normal;
  }
  .xbox__move-text-top h2 {
    font-size: 18px;
    text-align: left;
  }
  .xbox__move-text-bottom .xbox__move-img img {
    margin: 0 !important;
    max-width: 98px;
  }
  .xbox__move-text-bottom .xbox__move-img {
    padding-top: 8px;
  }
  .xbox__move-text-bottom h3 {
    font-size: 28px;
  }
  .xbox__move-text-bottom {
    position: absolute;
    bottom: initial;
    left: 20px;
    right: inherit;
    margin: 0 auto;
    top: 85px;
  }
  .VisibilityBlock.noneanim {
    -webkit-animation: none;
       -moz-animation: none;
         -o-animation: none;
            animation: none;
    -webkit-animation-delay: 0s;
       -moz-animation-delay: 0s;
         -o-animation-delay: 0s;
            animation-delay: 0s;
    opacity: 1;
  }
  .xbox__go-play {
    margin-top: 35px;
  }
  .xbox__go-play-h2-p {
    padding: 24px 12px 40px 12px;
  }
  .xbox__go-play-h2-p h2 {
    font-size: 40px;
    line-height: 1.2 !important;
  }
  .xbox__go-play-h2-p p {
    font-weight: 600;
    font-size: 16px;
    padding-top: 12px;
  }
  .xbox__go-play-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 12px 40px 12px;
  }
  .xbox__go-play-flex.row-rev {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .xbox__go-play__item img {
    margin: 0 auto !important;
  }
  .xbox__go-play-flex .xbox__go-play__item-text {
    padding: 0;
  }
  .xbox__go-play__item-text-img img {
    margin: 0 auto !important;
  }
  .xbox__go-play__item {
    width: 100%;
  }
  .xbox__go-play__item-text-img {
    padding-top: 20px;
  }
  .xbox__go-bl-img {
    margin-top: -70px;
    padding: 0 20px;
  }
  .xbox__go-play-content {
    padding-bottom: 100px;
  }
  .xbox__go-standart__h2 h2 {
    font-size: 35px;
  }
  .xbox__go-standart {
    padding-top: 55px;
  }
  .xbox__go-standart__img {
    padding: 0 20px 26px 20px;
  }
  .xbox__go-standart__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
  }
  .xbox__go-standart__p {
    padding: 0 0 20px 0;
  }
  .xbox__go-standart__text {
    padding: 0;
  }
  .xbox__go-standart__text-wr {
    padding: 33px 0 12px 0;
  }
  .xbox__go-standart__text-wr.wrmob {
    padding: 20px 0 12px 0;
  }
  .xbox__go-standart__text-wr.wrmob .xbox__go-standart__text-p {
    padding-top: 0;
  }
  .xbox__go-standart__bgrd {
    height: 100%;
  }
  .xbox-performance__text {
    padding: 20px 20px 0 20px;
  }
  .xbox-performance__flex {
    padding: 20px 20px 0 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
       -moz-box-orient: vertical;
       -moz-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .xbox-performance__item-text {
    padding: 12px 0 12px 0;
    max-width: 100%;
  }
  .xbox__sound {
    position: relative;
    margin-top: 0;
  }
  .xbox__sound-move video {
    max-height: 535px;
  }
  .xbox__sound-text__h2 h2 {
    font-size: 30px;
  }
  .xbox__sound-text__p p {
    font-size: 18px;
    line-height: 1.3;
  }
  .xbox__sound-text__h2 {
    padding: 0 20px 20px 20px;
  }
  .xbox-dolby__img {
    padding-top: 20px;
  }
  .xbox-dolby__p {
    padding: 20px 0 12px 0;
  }
  .xbox-dolby__p p {
    font-size: 18px;
    line-height: 1.3;
  }
  .xbox-dolby__h2 h2 {
    font-size: 40px;
    line-height: 40px !important;
    text-align: left;
  }
  .xbox-control {
    margin-top: 0;
  }
  .xbox-control-text {
    position: relative;
    padding: 0 20px;
  }
  .xbox-control-text__h2 {
    padding-bottom: 12px;
  }
  .xbox-control__flex {
    padding: 20px 20px 0 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
       -moz-box-orient: vertical;
       -moz-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .xbox-control__item-text {
    max-width: 100%;
    margin-right: 0;
    padding: 20px 0 0 0;
  }
  .xbox-grid {
    padding: 50px 20px 0 20px;
    grid-template-columns: 1fr;
  }
  .xbox-grid__item:first-child {
    margin-top: 0;
  }
  .xbox-grid__item-text {
    margin: 0 12px 20px 12px;
  }
  .xbox-grid__item:last-child {
    margin-top: 0;
  }
  .xbox-textbl {
    padding: 30px 20px 40px 20px;
  }
  .xbox-textbl p {
    font-size: 20px;
    line-height: 1.3;
  }
  .xbox-games {
    padding-top: 0;
  }
  .xbox-games__grid {
    grid-template-columns: 1fr;
    grid-gap: 0px;
  }
}
@media (max-width: 320px) {
  .xbox__move-text-bottom {
    top: 105px;
  }
  .xbox__go-standart__h2 h2 {
    font-size: 28px;
  }
  .xbox__sound-text__h2 h2 {
    font-size: 26px;
  }
  .xbox__go-play-h2-p h2 {
    font-size: 32px;
  }
  .xbox-dolby__h2 h2 {
    font-size: 34px;
    line-height: 34px !important;
  }
}
@media (max-width: 812px) and (orientation: landscape) {
  .xbox__move-text-top {
    top: 20px;
  }
  .xbox__move-text-top h2 {
    font-size: 23px;
  }
  .xbox__move-text-bottom h3 {
    font-size: 33px;
  }
  .xbox__go-play-flex {
    padding: 0 20px;
  }
  .xbox__go-play-h2-p {
    padding: 38px 20px 30px 20px;
  }
  .xbox__go-play-flex {
    margin: 0 auto;
    padding: 0 20px 30px 20px;
  }
  .xbox__go-bl-img {
    padding: 0 15px;
  }
  .xbox__go-standart__h2 h2 {
    font-size: 36px;
  }
  .xbox__sound {
    margin-top: 0;
  }
  .xbox__sound-text__h2 h2 {
    font-size: 28px;
  }
  .xbox__sound-text__p p {
    font-size: 18px;
    line-height: 1.3;
  }
  .xbox-dolby__p p {
    font-weight: 500;
    font-size: 18px;
  }
  .xbox-dolby__h2 h2 {
    font-size: 33px;
    line-height: 33px !important;
  }
  .xbox-control {
    margin-top: 0;
  }
  .xbox-control-text {
    position: relative;
    padding: 0 20px;
  }
  .xbox-textbl p {
    font-size: 18px;
    line-height: 1.3;
  }
}