#xiaomi-12t {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  background-color: #000;
}
#xiaomi-12t img {
  display: block;
  max-width: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.xiaomi-wp__banner {
  background-image: url(https://cdn.comfy.ua/media/x/img2/xiaomi12t/img2.png);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  position: relative;
  overflow: hidden;
}

.xiaomi-wp__banner-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.xiaomi-wp__banner-item {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
     -moz-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
}
.xiaomi-wp__banner-item img {
  height: 100vh;
  max-height: 100vh;
}

.xiaomi-wp__banner-text {
  padding: 0 15px;
}

.xiaomi-wp__banner-subtitle, .xiaomi-wp__banner-titile {
  color: #000;
  text-align: left;
  line-height: 1.2;
}

.xiaomi-wp__banner-subtitle {
  font-size: -webkit-calc(40px + 44 * ((100vw - 320px) / 1600));
  font-size: -moz-calc(40px + 44 * ((100vw - 320px) / 1600));
  font-size: calc(40px + 44 * ((100vw - 320px) / 1600));
  font-weight: bold;
  padding-bottom: 10px;
}

.xiaomi-wp__banner-titile {
  font-size: -webkit-calc(30px + 24 * ((100vw - 320px) / 1600));
  font-size: -moz-calc(30px + 24 * ((100vw - 320px) / 1600));
  font-size: calc(30px + 24 * ((100vw - 320px) / 1600));
}

.xiaomi-wp-smart {
  padding: 200px 15px 0 15px;
}

.xiaomi-wp-smart__grid {
  max-width: 1605px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-auto-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  grid-template-areas: "grd-itm1 grd-itm2 grd-itm2" "grd-itm1 grd-itm3 grd-itm4";
  -webkit-box-align: end;
  -webkit-align-items: end;
     -moz-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  justify-items: center;
}

.grd-itm1 {
  grid-area: grd-itm1;
}

.grd-itm2 {
  grid-area: grd-itm2;
}

.grd-itm3 {
  grid-area: grd-itm3;
}

.grd-itm4 {
  grid-area: grd-itm4;
}

.xiaomi-wp-smart__grid-item {
  position: relative;
  background-position: center bottom;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  width: 100%;
  height: 100%;
  -webkit-border-radius: 55px;
     -moz-border-radius: 55px;
          border-radius: 55px;
  overflow: hidden;
}
.xiaomi-wp-smart__grid-item.grd-itm1 {
  background-image: url(https://cdn.comfy.ua/media/x/img2/xiaomi12t/img4.png);
  min-height: 1018px;
}
.xiaomi-wp-smart__grid-item.grd-itm2 {
  background-image: url(https://cdn.comfy.ua/media/x/img2/xiaomi12t/img5.png);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.xiaomi-wp-smart__grid-item.grd-itm2 .xiaomi-wp-smart__text {
  margin: auto 0;
  padding: 0px 0px 0 50px;
}
.xiaomi-wp-smart__grid-item.grd-itm3 {
  background-image: url(https://cdn.comfy.ua/media/x/img2/xiaomi12t/img6.png);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.xiaomi-wp-smart__grid-item.grd-itm3 .xiaomi-wp-smart__text {
  max-width: 285px;
}
.xiaomi-wp-smart__grid-item.grd-itm4 {
  background-image: url(https://cdn.comfy.ua/media/x/img2/xiaomi12t/img7.png);
}

.xiaomi-wp-smart__text {
  padding: 50px 15px 0 15px;
  max-width: 400px;
  margin: 0 auto;
}

.xiaomi-wp-smart__subtitile {
  font-size: -webkit-calc(21px + 7 * ((100vw - 320px) / 1600));
  font-size: -moz-calc(21px + 7 * ((100vw - 320px) / 1600));
  font-size: calc(21px + 7 * ((100vw - 320px) / 1600));
  text-align: left;
  color: #fff;
  padding-bottom: 15px;
  font-weight: bold;
}

.xiaomi-wp-smart__title {
  font-size: -webkit-calc(18px + 5 * ((100vw - 320px) / 1600));
  font-size: -moz-calc(18px + 5 * ((100vw - 320px) / 1600));
  font-size: calc(18px + 5 * ((100vw - 320px) / 1600));
  text-align: left;
  color: #cdcdcd;
}

.xiaomi-wp-textbl {
  padding: 200px 15px 100px 15px;
  max-width: 1600px;
  margin: 0 auto;
}

.xiaomi-wp-textbl__subtitle {
  font-size: -webkit-calc(21px + 49 * ((100vw - 320px) / 1600));
  font-size: -moz-calc(21px + 49 * ((100vw - 320px) / 1600));
  font-size: calc(21px + 49 * ((100vw - 320px) / 1600));
  text-align: left;
  color: #fff;
  padding-bottom: 15px;
  font-weight: bold;
  line-height: 1;
}

.xiaomi-wp-textbl__title {
  font-size: -webkit-calc(18px + 5 * ((100vw - 320px) / 1600));
  font-size: -moz-calc(18px + 5 * ((100vw - 320px) / 1600));
  font-size: calc(18px + 5 * ((100vw - 320px) / 1600));
  text-align: left;
  color: #cdcdcd;
  max-width: 1000px;
}

.xiaomi-wp-textbl-flex {
  padding: 100px 15px;
  max-width: 1600px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.xiaomi-wp-textbl-flex__item {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
     -moz-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
}

.xiaomi-wp-textbl-flex__text-l {
  font-size: -webkit-calc(21px + 29 * ((100vw - 320px) / 1600));
  font-size: -moz-calc(21px + 29 * ((100vw - 320px) / 1600));
  font-size: calc(21px + 29 * ((100vw - 320px) / 1600));
  text-align: left;
  color: #fff;
  max-width: 685px;
  width: 100%;
  line-height: 1;
}

.xiaomi-wp-textbl-flex__text-r {
  font-size: -webkit-calc(18px + 5 * ((100vw - 320px) / 1600));
  font-size: -moz-calc(18px + 5 * ((100vw - 320px) / 1600));
  font-size: calc(18px + 5 * ((100vw - 320px) / 1600));
  text-align: left;
  color: #cdcdcd;
  max-width: 700px;
  margin: 0 0 0 auto;
  line-height: 1.3;
  padding: 0 0 0 15px;
}

.xiaomi-wp-img {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 15px;
}
.xiaomi-wp-img img {
  width: auto !important;
  margin: 0 auto !important;
}

.xiaomi-wp-img2 {
  max-width: 1049px;
  margin: 0 auto;
  padding: 0 15px;
}

.xiaomi-wp-repfomance__container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 100px 15px;
}

.xiaomi-wp-repfomance__text {
  max-width: 700px;
  width: 100%;
  margin: 0 0 0 auto;
  padding-bottom: 100px;
}

.xiaomi-wp-repfomance__subtitle {
  font-size: -webkit-calc(21px + 14 * ((100vw - 320px) / 1600));
  font-size: -moz-calc(21px + 14 * ((100vw - 320px) / 1600));
  font-size: calc(21px + 14 * ((100vw - 320px) / 1600));
  font-weight: 900;
  text-align: left;
  color: #cdcdcd;
  max-width: 700px;
  margin: 0 0 0 auto;
  line-height: 1.3;
  padding-bottom: 30px;
}

.xiaomi-wp-repfomance__title {
  font-size: -webkit-calc(18px + 5 * ((100vw - 320px) / 1600));
  font-size: -moz-calc(18px + 5 * ((100vw - 320px) / 1600));
  font-size: calc(18px + 5 * ((100vw - 320px) / 1600));
  text-align: left;
  color: #cdcdcd;
  max-width: 700px;
  margin: 0 0 0 auto;
  line-height: 1.3;
}

.xiaomi-wp-camera {
  background-image: url(https://cdn.comfy.ua/media/x/img2/xiaomi12t/img11new.png);
  background-position: right top;
  background-repeat: no-repeat;
  max-width: 100%;
  width: 100%;
  min-height: auto;
  -webkit-background-size: contain;
     -moz-background-size: contain;
       -o-background-size: contain;
          background-size: contain;
}

.xiaomi-wp-camera__flex {
  max-width: 1316px;
  width: 100%;
  padding: 12vw 15px 6vw 15px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: auto;
  color: #fff;
  height: 100vh;
}

.xiaomi-wp-camera__textbl1 {
  max-width: 700px;
  width: 100%;
}

.xiaomi-wp-camera__textbl1__subtitle {
  font-size: -webkit-calc(23px + 10 * ((100vw - 320px) / 1600));
  font-size: -moz-calc(23px + 10 * ((100vw - 320px) / 1600));
  font-size: calc(23px + 10 * ((100vw - 320px) / 1600));
  text-align: left;
  line-height: 1;
  padding-bottom: 30px;
}

.xiaomi-wp-camera__textbl1__title {
  font-size: -webkit-calc(18px + 2 * ((100vw - 320px) / 1600));
  font-size: -moz-calc(18px + 2 * ((100vw - 320px) / 1600));
  font-size: calc(18px + 2 * ((100vw - 320px) / 1600));
  text-align: left;
  line-height: 1.3;
  color: #cdcdcd;
}

.xiaomi-wp-camera__textbl2 {
  max-width: 700px;
  width: 100%;
  padding-bottom: 100px;
}

.xiaomi-wp-camera__textbl2__subtitle {
  font-size: -webkit-calc(23px + 10 * ((100vw - 320px) / 1600));
  font-size: -moz-calc(23px + 10 * ((100vw - 320px) / 1600));
  font-size: calc(23px + 10 * ((100vw - 320px) / 1600));
  text-align: left;
  line-height: 1;
  padding-bottom: 30px;
}

.xiaomi-wp-camera__textbl2__title {
  font-size: -webkit-calc(18px + 2 * ((100vw - 320px) / 1600));
  font-size: -moz-calc(18px + 2 * ((100vw - 320px) / 1600));
  font-size: calc(18px + 2 * ((100vw - 320px) / 1600));
  text-align: left;
  line-height: 1.3;
  color: #cdcdcd;
}

.xiaomi-wp-camera__textbl3 {
  max-width: 700px;
  width: 100%;
}

.xiaomi-wp-camera__textbl3__subtitle {
  font-size: -webkit-calc(23px + 10 * ((100vw - 320px) / 1600));
  font-size: -moz-calc(23px + 10 * ((100vw - 320px) / 1600));
  font-size: calc(23px + 10 * ((100vw - 320px) / 1600));
  text-align: left;
  line-height: 1;
  padding-bottom: 30px;
}

.xiaomi-wp-camera__textbl3__title {
  font-size: -webkit-calc(18px + 2 * ((100vw - 320px) / 1600));
  font-size: -moz-calc(18px + 2 * ((100vw - 320px) / 1600));
  font-size: calc(18px + 2 * ((100vw - 320px) / 1600));
  text-align: left;
  line-height: 1.3;
  color: #cdcdcd;
}

.xiaomi-wp-mediatek__bgrd {
  background-image: url(https://cdn.comfy.ua/media/x/img2/xiaomi12t/img12.png);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  width: 100%;
  height: 1000px;
}

.xiaomi-wp-mediatek__flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  max-width: 1600px;
  width: 100%;
  padding: 100px 15px;
  margin: 0 auto;
}

.xiaomi-wp-mediatek__item {
  max-width: 33.3333333333%;
  width: 100%;
}

.xiaomi-wp-mediatek__titile {
  font-size: -webkit-calc(23px + 20 * ((100vw - 320px) / 1600));
  font-size: -moz-calc(23px + 20 * ((100vw - 320px) / 1600));
  font-size: calc(23px + 20 * ((100vw - 320px) / 1600));
  color: #fff;
  text-align: left;
  line-height: 1;
  font-weight: bold;
}

.xiaomi-wp-mediatek__subtitle {
  font-size: -webkit-calc(18px + 12 * ((100vw - 320px) / 1600));
  font-size: -moz-calc(18px + 12 * ((100vw - 320px) / 1600));
  font-size: calc(18px + 12 * ((100vw - 320px) / 1600));
  color: #fff;
  text-align: left;
  line-height: 1;
}

.xiaomi-wp-mediatek__txt {
  font-size: -webkit-calc(23px + 27 * ((100vw - 320px) / 1600));
  font-size: -moz-calc(23px + 27 * ((100vw - 320px) / 1600));
  font-size: calc(23px + 27 * ((100vw - 320px) / 1600));
  color: #F7AB09;
  text-align: left;
  font-weight: bold;
  line-height: 1;
  padding-top: 10px;
}

.xiaomi-wp-mediatek__content {
  padding: 10px;
  display: table;
  margin: 0 auto;
}

.xiaomi-wp-row-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1600px;
  width: 100%;
  padding: 100px 15px;
  margin: 0 auto;
}

.xiaomi-wp-row-flex__item {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
     -moz-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
}
.xiaomi-wp-row-flex__item img {
  margin: 0 auto !important;
  width: auto !important;
}

.xiaomi-wp-row-flex__text {
  padding: 0 15px;
}

.xiaomi-wp-row-flex__subtitle {
  font-size: -webkit-calc(23px + 7 * ((100vw - 320px) / 1600));
  font-size: -moz-calc(23px + 7 * ((100vw - 320px) / 1600));
  font-size: calc(23px + 7 * ((100vw - 320px) / 1600));
  color: #fff;
  text-align: left;
  line-height: 1;
}

.xiaomi-wp-row-flex__title {
  font-size: -webkit-calc(23px + 17 * ((100vw - 320px) / 1600));
  font-size: -moz-calc(23px + 17 * ((100vw - 320px) / 1600));
  font-size: calc(23px + 17 * ((100vw - 320px) / 1600));
  color: #fff;
  text-align: left;
  line-height: 1;
  padding: 30px 0;
}

.xiaomi-wp-row-flex__txt {
  font-size: -webkit-calc(18px + 5 * ((100vw - 320px) / 1600));
  font-size: -moz-calc(18px + 5 * ((100vw - 320px) / 1600));
  font-size: calc(18px + 5 * ((100vw - 320px) / 1600));
  color: #fff;
  text-align: left;
  line-height: 1;
}

#xiaomi-12t .slick-track {
  position: inherit;
  left: inherit;
  top: inherit;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  overflow: hidden;
}
#xiaomi-12t .slick-slider {
  height: auto;
  margin-top: 0;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: column-reverse;
     -moz-box-orient: vertical;
     -moz-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
#xiaomi-12t .slick-slide {
  float: inherit;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
#xiaomi-12t .slick-list {
  position: relative;
}
#xiaomi-12t .slick-dots {
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  list-style-type: none;
  z-index: 6;
  max-width: 1316px;
  padding: 0 15px 50px 15px;
}
#xiaomi-12t .slick-dots li {
  margin: 10px 20px 0 0;
  cursor: pointer;
}
#xiaomi-12t .slick-dots li.slick-active:nth-child(1) button::before {
  border: 2px solid #151717;
}
#xiaomi-12t .slick-dots li.slick-active:nth-child(2) button::before {
  border: 2px solid #B0B5BE;
}
#xiaomi-12t .slick-dots li.slick-active:nth-child(3) button::before {
  border: 2px solid #3991C1;
}
#xiaomi-12t .slick-dots li:nth-child(1) button {
  background: #151717;
}
#xiaomi-12t .slick-dots li:nth-child(2) button {
  background: #B0B5BE;
}
#xiaomi-12t .slick-dots li:nth-child(3) button {
  background: #3991C1;
}
#xiaomi-12t .slick-dots li button {
  -webkit-border-radius: 12px;
     -moz-border-radius: 12px;
          border-radius: 12px;
  color: transparent;
  width: 40px;
  height: 40px;
  border: 0;
  position: relative;
  cursor: pointer;
}
#xiaomi-12t .slick-dots li button::before {
  content: "";
  width: 48px;
  height: 48px;
  -webkit-border-radius: 15px;
     -moz-border-radius: 15px;
          border-radius: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
#xiaomi-12t .slick-dots li.slick-active {
  width: 40px;
  height: 40px;
}

@media (max-width: 1200px) {
  .xiaomi-wp-smart__grid-item.grd-itm1 {
    min-height: 800px;
  }
  .xiaomi-wp__banner {
    max-height: 70vh;
  }
  .xiaomi-wp__banner-item img {
    height: 70vh;
    max-height: 70vh;
  }
  .xiaomi-wp-camera__flex {
    max-width: 465px;
    margin: 0;
  }
  .xiaomi-wp-camera {
    background-position: 55% 100%;
    -webkit-background-size: 150% 150%;
       -moz-background-size: 150%;
         -o-background-size: 150%;
            background-size: 150%;
  }
  .xiaomi-wp-mediatek__bgrd {
    height: 600px;
  }
}
@media (max-width: 1024px) {
  .xiaomi-wp__banner {
    max-height: 50vh;
  }
  .xiaomi-wp__banner-item img {
    height: 50vh;
    max-height: 50vh;
  }
  .xiaomi-wp-smart {
    padding: 100px 15px;
  }
  .xiaomi-wp-camera__flex {
    height: auto;
  }
  .xiaomi-wp-camera {
    background-position: bottom center;
    -webkit-background-size: 150% 150%;
       -moz-background-size: 150%;
         -o-background-size: 150%;
            background-size: 150%;
  }
}
@media (max-width: 812px) {
  .xiaomi-wp-smart__grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "grd-itm1 grd-itm2 grd-itm2" "grd-itm1 grd-itm3 grd-itm3" "grd-itm1 grd-itm4 grd-itm4";
  }
  .xiaomi-wp-smart__grid-item.grd-itm3 {
    background-position: top;
  }
  .xiaomi-wp-smart__grid-item.grd-itm4 {
    background-position: center;
  }
  .xiaomi-wp-mediatek__content {
    display: block;
  }
}
@media (max-width: 480px) {
  .xiaomi-wp-row-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 50px 15px;
    width: auto;
  }
  .xiaomi-wp-row-flex__text {
    padding: 0px 0px 30px 0;
  }
  .xiaomi-wp__banner {
    max-height: initial;
    height: 600px;
    -webkit-background-size: 500% 500%;
       -moz-background-size: 500%;
         -o-background-size: 500%;
            background-size: 500%;
    background-position: 95% 85%;
  }
  .xiaomi-wp__banner-item img {
    height: auto;
    max-height: initial;
  }
  .xiaomi-wp__banner-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
       -moz-box-orient: vertical;
       -moz-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .xiaomi-wp__banner-text {
    padding: 36px 15px 0 15px;
    position: relative;
    z-index: 5;
  }
  .xiaomi-wp__banner-subtitle, .xiaomi-wp__banner-titile {
    text-align: center;
  }
  .xiaomi-wp__banner-item img {
    height: auto;
    max-height: initial;
    position: absolute;
    left: 0;
    bottom: -118px;
    -webkit-transform: rotate(90deg);
       -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
         -o-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .xiaomi-wp-smart__grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "grd-itm1" "grd-itm2" "grd-itm3" "grd-itm4";
  }
  .xiaomi-wp-smart__grid-item.grd-itm1 {
    min-height: auto;
    height: 635px;
  }
  .xiaomi-wp-smart__grid-item {
    height: 450px;
  }
  .xiaomi-wp-smart__grid-item.grd-itm2 {
    background-position: 40% 100%;
  }
  .xiaomi-wp-smart__grid-item.grd-itm3 {
    -webkit-background-size: 100% 100%;
       -moz-background-size: 100%;
         -o-background-size: 100%;
            background-size: 100%;
    background-color: #101213;
    background-position: bottom;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
       -moz-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .xiaomi-wp-smart__grid-item.grd-itm2 .xiaomi-wp-smart__text {
    padding: 0px 15px 0 15px;
  }
  .xiaomi-wp-smart {
    padding: 60px 15px;
  }
  .xiaomi-wp-smart__grid-item.grd-itm3 .xiaomi-wp-smart__text {
    max-width: 100%;
  }
  .xiaomi-wp-textbl {
    padding: 60px 15px 50px 15px;
  }
  .xiaomi-wp-textbl-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 50px 15px;
  }
  .xiaomi-wp-textbl-flex__text-r {
    padding-top: 30px;
    padding: 50px 0;
  }
  .xiaomi-wp-camera {
    background-image: none;
  }
  .xiaomi-wp-camera__flex {
    padding: 50px 15px 50px 15px;
    width: auto;
  }
  .xiaomi-wp-mediatek__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 50px 15px;
  }
  .xiaomi-wp-mediatek__item {
    max-width: 100%;
  }
  .xiaomi-wp-mediatek__content {
    padding: 0px 10px 25px 10px;
  }
}
@media (max-width: 320px) {
  .xiaomi-wp__banner {
    height: 100vh;
  }
}
@media (max-width: 812px) and (orientation: landscape) {
  .xiaomi-wp__banner {
    max-height: initial;
    height: auto;
  }
  .xiaomi-wp__banner-item img {
    height: auto;
    max-height: initial;
  }
}