/*default styles*/

#lg 
  max-width: 1316px
  width: 100%
  margin: 0 auto
  height: auto
  display: block
  background-color: #fff
  box-sizing: border-box
  p  
    margin-bottom: 0
    margin: 0
    &:first-letter
     padding-left: 0
  h2 
    display: block
    line-height: normal
    font-size: 32px
    font-weight: normal
    padding: 0
    margin: 0
  img  
    opacity: 1 
    max-width: 100% 
    display: block 
    height: auto
    &:hover  
      opacity: 1 
  ul
    list-style-type: none
    padding: 0
    margin: 0
  
  span
    display: block
    line-height: normal
    font-size: 16px
  

.features-desc__text 
  img
    margin-bottom: 0rem 
.one-col .features-desc__text 
  p:first-letter
    padding-left: 0rem !important 

/*end default styles*/

#lg
  h2
    padding-bottom: 20px
  p>strong
    display: block
    padding-bottom: 10px
  
  .snoska
    padding: 20px
    text-align: center
  
  .qualit
    .qualit_list
      display: flex
      flex-direction: row
      align-items: center

      li
        flex: 1 1 0
        max-width: 50%
        box-sizing: border-box
        &:last-of-type
          padding: 40px

  .arcline
    position: relative
    .arcline_txt
      position: absolute
      text-align: center
      color: #fff
      padding: 70px
      right: 50%
      transform: translateX(50%)

  .design
    position: relative
    .design_txt
      position: absolute
      max-width: 600px
      left: 70px
      top: 50%
      transform: translateY(-50%)

  .vision
    position: relative
    .vision_txt
      position: absolute
      right: 70px
      top: 50%
      transform: translateY(-50%)
      max-width: 470px
      color: #fff

  .stab
    .stab_txt
      background-color: #000
      color: #fff
      padding: 70px
      text-align: center
  
  .oneclick
    .oneclick_txt
      text-align: center
      color: #fff
      background-color: #000
      padding: 70px

  .multi
    .multi_txt
      color: #fff
      background-color: #000
      text-align: center
      padding: 70px

  .colors
    .colors_txt
      text-align: center
      background-color: #000
      color: #fff
      padding: 70px


/*media**************************************************************/

@media (max-width: 812px)
  #lg
    .qualit .qualit_list li:last-of-type
      padding: 20px
    .design .design_txt
      left: 20px
      max-width: 400px
    .vision .vision_txt
      right: 20px
      max-width: 350px
    .stab .stab_txt,
    .oneclick .oneclick_txt,
    .multi .multi_txt,
    .colors .colors_txt,
    .arcline .arcline_txt
      padding: 20px



@media (max-width: 480px)
  #lg
    h2
      font-size: 24px

    .qualit .qualit_list
      flex-direction: column-reverse
      li
        text-align: center
        max-width: 100%

    .arcline .arcline_txt
      position: unset
      transform: unset
      color: #000

    .design .design_txt
      position: unset
      transform: unset 
      text-align: center
      padding: 20px

    .vision .vision_txt
      position: unset
      transform: unset
      text-align: center
      padding: 20px
      background-color: #000
      max-width: 100%