.bc-description__content p:first-letter {
  padding-left: 0 !important;
}

#rkt-kivi-optimal5hdr {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  background: #fff;
  max-width: 1100px;
}
#rkt-kivi-optimal5hdr h2, #rkt-kivi-optimal5hdr h3, #rkt-kivi-optimal5hdr h4, #rkt-kivi-optimal5hdr h5, #rkt-kivi-optimal5hdr h6, #rkt-kivi-optimal5hdr p {
  margin: 0;
  padding: 0;
  line-height: 1.2;
}
#rkt-kivi-optimal5hdr ul {
  list-style-type: disc;
  color: #fff;
  padding-left: 15px;
}
#rkt-kivi-optimal5hdr ul li {
  padding-bottom: 10px;
}
#rkt-kivi-optimal5hdr ul li:last-child {
  padding-bottom: 0;
}
#rkt-kivi-optimal5hdr img {
  display: block;
  max-width: 100%;
  opacity: 1;
}
#rkt-kivi-optimal5hdr img:hover {
  opacity: 1;
}
#rkt-kivi-optimal5hdr h2 {
  font-size: 30px;
  font-weight: 900;
  text-align: left;
  color: #fff;
  text-transform: uppercase;
}
@media (max-width: 1366px) {
  #rkt-kivi-optimal5hdr h2 {
    font-size: -webkit-calc(23px + 7 * (100vw - 320px) / 1046);
    font-size: calc(23px + 7 * (100vw - 320px) / 1046);
  }
}
#rkt-kivi-optimal5hdr h3 {
  font-size: 24px;
  font-weight: 900;
  text-align: left;
  color: #000;
}
@media (max-width: 1366px) {
  #rkt-kivi-optimal5hdr h3 {
    font-size: -webkit-calc(20px + 4 * (100vw - 320px) / 1046);
    font-size: calc(20px + 4 * (100vw - 320px) / 1046);
  }
}
#rkt-kivi-optimal5hdr p {
  font-size: 18px;
  font-weight: 400;
  text-align: left;
}
@media (max-width: 1366px) {
  #rkt-kivi-optimal5hdr p {
    font-size: -webkit-calc(16px + 2 * (100vw - 320px) / 1046);
    font-size: calc(16px + 2 * (100vw - 320px) / 1046);
  }
}
#rkt-kivi-optimal5hdr i {
  font-size: 14px;
}

.kivi-optimal5hdr-smart,
.kivi-optimal5hdr-whykivi,
.kivi-optimal5hdr-funk,
.kivi-optimal5hdr-comfort,
.kivi-optimal5hdr-modes,
.kivi-optimal5hdr-smarttv,
.kivi-optimal5hdr-smarttv-teh,
.kivi-optimal5hdr-service,
.kivi-optimal5hdr-rc45 {
  padding: 50px 15px;
}

.kivi-optimal5hdr-smart {
  background: -webkit-gradient(linear, left top, left bottom, from(#060714), to(#252639));
  background: -webkit-linear-gradient(#060714, #252639);
  background: -o-linear-gradient(#060714, #252639);
  background: linear-gradient(#060714, #252639);
}

.kivi-optimal5hdr-whykivi {
  background: #46475C;
  overflow: hidden;
  -webkit-border-radius: 15px 15px 0 0;
          border-radius: 15px 15px 0 0;
  margin-top: -15px;
}
.kivi-optimal5hdr-whykivi__h2 {
  padding-bottom: 20px;
}
.kivi-optimal5hdr-whykivi__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}
.kivi-optimal5hdr-whykivi__grid-item {
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-gap: 15px;
}
.kivi-optimal5hdr-whykivi__p {
  padding-left: 15px;
  position: relative;
  color: #fff;
}
.kivi-optimal5hdr-whykivi__p::before {
  content: "";
  left: 0;
  top: 0;
  width: 1px;
  height: 50px;
  background: #fff;
  position: absolute;
}

.kivi-optimal5hdr-funk {
  margin-top: -15px;
  background: #fff;
  -webkit-border-radius: 15px 15px 0 0;
          border-radius: 15px 15px 0 0;
}
.kivi-optimal5hdr-funk__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
.kivi-optimal5hdr-funk__grid.grid-three {
  grid-template-columns: 1fr 1fr 1fr;
}
.kivi-optimal5hdr-funk__grid-item {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 15px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.kivi-optimal5hdr-funk__content {
  padding: 15px;
}
.kivi-optimal5hdr-funk__h3 {
  position: relative;
}
.kivi-optimal5hdr-funk__h3::before {
  content: "";
  left: -15px;
  top: 0;
  width: 1px;
  height: 50px;
  background: #000;
  position: absolute;
}

.kivi-optimal5hdr-comfort {
  position: relative;
}
.kivi-optimal5hdr-comfort::before {
  content: "";
  background: #8C96BA;
  position: absolute;
  height: 100%;
  width: 30%;
  left: 0;
  top: 0;
}
.kivi-optimal5hdr-comfort::after {
  content: "";
  background: #46475C;
  position: absolute;
  height: 100%;
  width: 70%;
  right: 0;
  top: 0;
}
.kivi-optimal5hdr-comfort__img, .kivi-optimal5hdr-comfort__content {
  position: relative;
  z-index: 1;
  color: #fff;
}
.kivi-optimal5hdr-comfort__h2 {
  padding: 15px 0;
}

.kivi-optimal5hdr-modes__h2 h2 {
  color: #000 !important;
  text-align: center !important;
}

.kivi-optimal5hdr-smarttv {
  position: relative;
}
.kivi-optimal5hdr-smarttv::before {
  content: "";
  background: #C0C6DD;
  position: absolute;
  height: 70%;
  width: 100%;
  left: 0;
  top: 0;
}
.kivi-optimal5hdr-smarttv::after {
  content: "";
  background: #A6AECB;
  position: absolute;
  height: 30%;
  width: 100%;
  left: 0;
  bottom: 0;
}
.kivi-optimal5hdr-smarttv__img, .kivi-optimal5hdr-smarttv__content {
  position: relative;
  z-index: 1;
  max-width: 750px;
  margin: 0 auto;
}
.kivi-optimal5hdr-smarttv.smarttv2::before {
  background: #46475C;
}
.kivi-optimal5hdr-smarttv.smarttv2::after {
  background: #36374B;
}
.kivi-optimal5hdr-smarttv__content {
  padding-bottom: 20px;
  text-align: center;
}
.kivi-optimal5hdr-smarttv__content h2 {
  text-align: center !important;
}

.kivi-optimal5hdr-smarttv-teh__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
}
.kivi-optimal5hdr-smarttv-teh__img {
  padding-bottom: 15px;
  max-width: 250px;
}

.kivi-optimal5hdr-service__content {
  padding-left: 80px;
  max-width: 500px;
  margin: 0 auto;
  min-height: 80px;
}
.kivi-optimal5hdr-service__h2 {
  position: relative;
}
.kivi-optimal5hdr-service__h2::before {
  content: "";
  left: -15px;
  top: 0;
  width: 1px;
  height: 50px;
  position: absolute;
  background: #000326;
}
.kivi-optimal5hdr-service__h2.icon1::after {
  background-image: url(https://cdn.comfy.ua/media/x/img5/3299737/img24.png);
}
.kivi-optimal5hdr-service__h2.icon2::after {
  background-image: url(https://cdn.comfy.ua/media/x/img5/3299737/img25.png);
}
.kivi-optimal5hdr-service__h2.icon3::after {
  background-image: url(https://cdn.comfy.ua/media/x/img5/3299737/img26.png);
}
.kivi-optimal5hdr-service__h2.icon4::after {
  background-image: url(https://cdn.comfy.ua/media/x/img5/3299737/img27.png);
}
.kivi-optimal5hdr-service__h2::after {
  content: "";
  background-image: url(https://cdn.comfy.ua/media/x/img5/3299737/img22.png);
  -webkit-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  width: 51px;
  height: 51px;
  position: absolute;
  left: -80px;
  top: 0;
}
.kivi-optimal5hdr-service__h2 h2 {
  color: #000326 !important;
}
.kivi-optimal5hdr-service__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
  max-width: 800px;
  margin: 0 auto;
}
.kivi-optimal5hdr-service__grid-h2 {
  padding-bottom: 25px;
}
.kivi-optimal5hdr-service__grid-clmn {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 15px;
}
.kivi-optimal5hdr-service__grid-h2 h2 {
  color: #000 !important;
}
.kivi-optimal5hdr-service__a, .kivi-optimal5hdr-service__grid__a {
  padding: 15px 0;
}
.kivi-optimal5hdr-service__a a, .kivi-optimal5hdr-service__grid__a a {
  background: #000326;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  text-align: center;
  padding: 8px 16px;
  -webkit-border-radius: 15px;
          border-radius: 15px;
  overflow: hidden;
  display: table;
  margin: 0 auto;
  text-decoration: none;
}
.kivi-optimal5hdr-service__i {
  max-width: 580px;
  margin: 0 auto;
}

.kivi-optimal5hdr-rc45 {
  background: #46475C;
}
.kivi-optimal5hdr-rc45__flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}
.kivi-optimal5hdr-rc45__item {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
     -moz-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
}
.kivi-optimal5hdr-rc45__h2 {
  padding-bottom: 20px;
}
.kivi-optimal5hdr-rc45__i {
  padding-top: 20px;
}
.kivi-optimal5hdr-rc45__i i {
  color: #C5CADC !important;
}
.kivi-optimal5hdr-rc45__img {
  max-width: 400px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .kivi-optimal5hdr-funk__grid.grid-three {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 480px) {
  .kivi-optimal5hdr-whykivi__grid,
  .kivi-optimal5hdr-funk__grid,
  .kivi-optimal5hdr-funk__grid.grid-three,
  .kivi-optimal5hdr-smarttv-teh__grid,
  .kivi-optimal5hdr-service__grid {
    grid-template-columns: 1fr;
  }
  .kivi-optimal5hdr-rc45__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}