.bc-description__content p:first-letter {
  padding-left: 0 !important;
}

#rkt-name-product {
  margin: 0 auto;
  display: block;
  max-width: 1023px;
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  background: #fff;
}
#rkt-name-product h2, #rkt-name-product h3, #rkt-name-product h4, #rkt-name-product h5, #rkt-name-product h6, #rkt-name-product p {
  margin: 0;
  padding: 0;
  line-height: 1.2;
}
#rkt-name-product ul {
  margin: 0;
  padding: 0;
  list-style-type: disc;
  padding-left: 20px;
  margin: 0.5rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
#rkt-name-product img {
  display: block;
  max-width: 100%;
  opacity: 1;
  margin: 0 auto;
}
#rkt-name-product img:hover {
  opacity: 1;
}
#rkt-name-product h2 {
  font-size: 30px;
  font-weight: 900;
  text-align: left;
  margin-bottom: 1rem;
}
@media (max-width: 1023px) {
  #rkt-name-product h2 {
    font-size: calc(20px + 10 * (100vw - 320px) / 703);
  }
}
#rkt-name-product h3 {
  font-size: 20px;
  font-weight: 900;
  text-align: left;
  margin-bottom: 1rem;
}
@media (max-width: 1023px) {
  #rkt-name-product h3 {
    font-size: calc(18px + 2 * (100vw - 320px) / 703);
  }
}
#rkt-name-product h4 {
  font-size: 16px;
  font-weight: 900;
  text-align: left;
  margin-bottom: 0;
}
@media (max-width: 1023px) {
  #rkt-name-product h4 {
    font-size: calc(18px + -2 * (100vw - 320px) / 703);
  }
}
#rkt-name-product p {
  font-size: 16px;
  font-weight: 400;
  text-align: left;
}
@media (max-width: 1023px) {
  #rkt-name-product p {
    font-size: calc(14px + 2 * (100vw - 320px) / 703);
  }
}
#rkt-name-product li {
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  line-height: 1.2;
}
@media (max-width: 1023px) {
  #rkt-name-product li {
    font-size: calc(14px + 2 * (100vw - 320px) / 703);
  }
}
#rkt-name-product i {
  line-height: 1.2;
  font-size: 16px;
  margin-top: 0.5rem;
  display: block;
  font-style: italic;
}
@media (max-width: 1023px) {
  #rkt-name-product i {
    font-size: calc(14px + 2 * (100vw - 320px) / 703);
  }
}

.logo {
  position: relative;
  color: #fff;
}

.logo__abs {
  position: absolute;
  bottom: 15%;
  left: 3em;
  max-width: 30%;
}
.logo__abs h2 {
  margin-bottom: 30% !important;
}

.advantsges {
  padding: 4em 0 0;
}

.advantsges__title {
  padding: 0 4em;
}
.advantsges__title h2 {
  text-align: center !important;
}

.advantsges__row {
  background: url("https://cdn.comfy.ua/media/x/img3/2066640/bg1.jpg") no-repeat center right/cover;
  display: flex;
  align-items: center;
  gap: 4em;
  color: #fff;
  padding: 4em;
}
.advantsges__row > div {
  flex-basis: 50%;
  box-sizing: border-box;
}

.advantsges__cal {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.advantsges__item {
  display: flex;
  align-items: center;
  gap: 1em;
}

.advantsges__i img {
  max-width: 80px !important;
  min-width: 80px !important;
}

.trim {
  padding-top: 4em;
}

.trim__cont {
  padding: 0 4em 1em;
}
.trim__cont h2, .trim__cont p {
  text-align: center !important;
}

.func {
  padding-top: 4em;
}

.func__title {
  padding: 0 4em 1em;
}
.func__title h2, .func__title p {
  text-align: center !important;
}

.func__row {
  color: #fff;
  background: url("https://cdn.comfy.ua/media/x/img3/2066640/bg1.jpg") no-repeat center right/cover;
  display: flex;
  align-items: center;
  gap: 4em;
  justify-content: center;
}
.func__row > div {
  box-sizing: border-box;
}
.func__row p {
  text-align: center !important;
}

.func__img {
  flex-basis: 40%;
}

.func__cal {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 30%;
  align-items: flex-end;
  gap: 1em 1em;
  justify-content: center;
}
.func__cal > div {
  flex-basis: 47%;
}

.philips__table {
  padding: 4em 1em 1em;
}
.philips__table h2 {
  text-align: center !important;
}

.table__grid__two {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
  margin-bottom: 0.5em;
}
.table__grid__two h4 {
  text-align: center !important;
}

.table__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "cal1 cal1 cal1 cal1" "cal2 cal3 cal4 cal5";
  gap: 0 1em;
}
.table__grid > div {
  padding: 0.5em;
}
.table__grid > div:nth-of-type(1) {
  grid-area: cal1;
  background-color: #D9D9D9;
}
.table__grid > div:nth-of-type(2) {
  grid-area: cal2;
}
.table__grid > div:nth-of-type(3) {
  grid-area: cal3;
}
.table__grid > div:nth-of-type(4) {
  grid-area: cal4;
}
.table__grid > div:nth-of-type(5) {
  grid-area: cal5;
}
.table__grid p {
  text-align: center !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.table__grid p b {
  font-weight: normal;
  font-size: 18px;
  line-height: normal;
}

.table__mark {
  font-size: 24px !important;
  font-weight: bold !important;
  line-height: 18px !important;
}

.philipsLogo {
  background: url("https://cdn.comfy.ua/media/x/img3/2066640/bg1.jpg") no-repeat center right/cover;
  padding: 10%;
}

@media (min-width: 320px) and (max-width: 767.9px) {
  .logo__abs {
    position: unset;
    color: #000;
    padding: 1em;
    max-width: 100%;
  }
  .logo__abs h2, .logo__abs p {
    text-align: center !important;
  }
  .logo__abs h2 {
    margin-bottom: 1rem !important;
  }
  .advantsges,
  .trim,
  .func,
  .philips__table {
    padding-top: 1em;
  }
  .advantsges__title {
    padding: 0 1em;
  }
  .advantsges__row {
    padding: 1em;
    flex-direction: column;
    gap: 1em;
  }
  .advantsges__cal {
    gap: 1em;
  }
  .trim__cont,
  .func__title {
    padding-right: 1em;
    padding-left: 1em;
  }
  .func__row {
    padding: 1em 1em 0;
    gap: 1em;
  }
  .func__row {
    flex-direction: column-reverse;
  }
  .func__img img {
    max-height: 340px;
  }
  .table__scroll {
    overflow-x: scroll;
  }
  .table__wrap {
    min-width: 960px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .func__cal > div {
    flex-basis: 45%;
  }
}
@media (min-width: 1024px) and (max-width: 1201px) {
  .logo__abs {
    bottom: 10%;
    left: 1em;
    max-width: 40%;
  }
  .advantsges,
  .trim,
  .func {
    padding-top: 2em;
  }
  .advantsges__title {
    padding: 0 1em;
  }
  .advantsges__row {
    padding: 2em;
    gap: 1em;
  }
  .advantsges__i img {
    max-width: 70px !important;
    min-width: 70px !important;
  }
  .trim__cont,
  .func__title {
    padding: 0 1em 1em 1em;
  }
  .func__cal > div {
    flex-basis: 43%;
  }
  .func__cal p {
    font-size: 12px !important;
  }
  .philips__table {
    padding-top: 2em;
  }
  .table__wrap {
    min-width: 960px;
  }
  .table__scroll {
    overflow-x: scroll;
  }
}