#apple-applestrt {
  background: #07101C;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
#apple-applestrt h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 55px;
  background: -webkit-gradient(linear, left top, left bottom, from(#C24F14), to(#E09241));
  background: -webkit-linear-gradient(top, #C24F14 0%, #E09241 100%);
  background: -moz-linear-gradient(top, #C24F14 0%, #E09241 100%);
  background: -o-linear-gradient(top, #C24F14 0%, #E09241 100%);
  background: linear-gradient(180deg, #C24F14 0%, #E09241 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
  line-height: 1;
}
#apple-applestrt h2 {
  font-size: 35px;
  font-style: normal;
  font-weight: 500;
  background: -webkit-gradient(linear, left top, left bottom, from(#C24F14), to(#E09241));
  background: -webkit-linear-gradient(top, #C24F14 0%, #E09241 100%);
  background: -moz-linear-gradient(top, #C24F14 0%, #E09241 100%);
  background: -o-linear-gradient(top, #C24F14 0%, #E09241 100%);
  background: linear-gradient(180deg, #C24F14 0%, #E09241 100%);
  padding: 12px 0 25px 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1;
}
#apple-applestrt a {
  font-style: normal;
  color: #07101C;
  font-size: 18px;
  font-weight: bold;
  background: -webkit-gradient(linear, left top, left bottom, from(#C24F14), to(#E09241));
  background: -webkit-linear-gradient(top, #C24F14 0%, #E09241 100%);
  background: -moz-linear-gradient(top, #C24F14 0%, #E09241 100%);
  background: -o-linear-gradient(top, #C24F14 0%, #E09241 100%);
  background: linear-gradient(180deg, #C24F14 0%, #E09241 100%);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  max-width: 220px;
  width: 100%;
  height: 44px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}
#apple-applestrt a:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#bf4304), to(#d8842d));
  background: -webkit-linear-gradient(top, #bf4304 0%, #d8842d 100%);
  background: -moz-linear-gradient(top, #bf4304 0%, #d8842d 100%);
  background: -o-linear-gradient(top, #bf4304 0%, #d8842d 100%);
  background: linear-gradient(180deg, #bf4304 0%, #d8842d 100%);
}

.breadcrumbs {
  display: none !important;
}

.sect-applestrt__bgrd {
  position: relative;
  max-width: 900px;
  min-height: 615px;
  margin: 0 auto;
}

.sect-applestrt__text {
  text-align: center;
  padding: 0 15px;
  margin-top: -9rem;
  position: relative;
  z-index: 9;
}

.sect-applestrt__container {
  padding: 0 0 215px 0;
}

.sect-applestrt__bgrd-1 {
  position: relative;
  z-index: 5;
}
.sect-applestrt__bgrd-1::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -287px;
  margin: 0 auto;
  background-image: url(https://cdn.comfy.ua/media/x/img/appleiphone-start/bgrd1new.svg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  max-width: 900px;
  width: 100%;
  height: 900px;
  margin: 0 auto;
}

.sect-applestrt__bgrd-1_1 {
  position: relative;
  z-index: 6;
}
.sect-applestrt__bgrd-1_1::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-image: url(https://cdn.comfy.ua/media/x/img/appleiphone-start/bgrd1_1.svg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  max-width: 770px;
  width: 100%;
  height: 603px;
}

.sect-applestrt__bgrd-2 {
  position: relative;
  z-index: 7;
}
.sect-applestrt__bgrd-2::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -140px;
  margin: 0 auto;
  background-image: url(https://cdn.comfy.ua/media/x/img/appleiphone-start/bgrd2new.svg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  max-width: 615px;
  width: 100%;
  height: 615px;
  margin: 0 auto;
}

.sect-applestrt__bgrd-3 {
  position: relative;
  z-index: 8;
}
.sect-applestrt__bgrd-3::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  background-image: url(https://cdn.comfy.ua/media/x/img/appleiphone-start/bgrd3.svg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  max-width: 400px;
  width: 100%;
  height: 400px;
  margin: 0 auto;
  top: 35px;
}

.sect-applestrt__bgrd-4 {
  position: relative;
  z-index: 9;
}
.sect-applestrt__bgrd-4::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  background-image: url(https://cdn.comfy.ua/media/x/img/appleiphone-start/bgrd4.svg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  max-width: 268px;
  width: 100%;
  height: 268px;
  margin: 0 auto;
  top: 70px;
}

.sect-applestrt__bgrd-5logo {
  position: relative;
  z-index: 10;
}
.sect-applestrt__bgrd-5logo::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  background-image: url(https://cdn.comfy.ua/media/x/img/appleiphone-start/bgrd5_logo.svg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  max-width: 108px;
  width: 100%;
  height: 133px;
  margin: 0 auto;
  top: 135px;
}

@media (max-width: 480px) {
  .sect-applestrt__bgrd {
    position: relative;
    max-width: 900px;
    min-height: 275px;
  }
  .sect-applestrt__text {
    text-align: center;
    padding: 0 15px;
    margin-top: 0;
    position: relative;
    z-index: 9;
  }
  .sect-applestrt__container {
    padding: 0 0 115px 0;
  }
  .sect-applestrt__bgrd-1 {
    position: relative;
    z-index: 5;
  }
  .sect-applestrt__bgrd-1::before {
    left: 50%;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
         -o-transform: translateX(-50%);
            transform: translateX(-50%);
    right: 0;
    top: -152px;
    max-width: 450px;
    width: 450px;
    height: 400px;
  }
  .sect-applestrt__bgrd-1_1 {
    position: relative;
    z-index: 6;
  }
  .sect-applestrt__bgrd-1_1::before {
    left: 0;
    right: 0;
    -webkit-background-size: contain;
       -moz-background-size: contain;
         -o-background-size: contain;
            background-size: contain;
    max-width: 375px;
    width: 100%;
    height: 275px;
  }
  .sect-applestrt__bgrd-2 {
    position: relative;
    z-index: 7;
  }
  .sect-applestrt__bgrd-2::before {
    max-width: 267px;
    width: 100%;
    height: 267px;
    top: -60px;
  }
  .sect-applestrt__bgrd-3 {
    position: relative;
    z-index: 8;
  }
  .sect-applestrt__bgrd-3::before {
    max-width: 175px;
    width: 100%;
    height: 175px;
    margin: 0 auto;
    top: -20px;
  }
  .sect-applestrt__bgrd-4 {
    position: relative;
    z-index: 9;
  }
  .sect-applestrt__bgrd-4::before {
    max-width: 115px;
    width: 100%;
    height: 115px;
    margin: 0 auto;
    top: -10px;
  }
  .sect-applestrt__bgrd-5logo {
    position: relative;
    z-index: 10;
  }
  .sect-applestrt__bgrd-5logo::before {
    max-width: 46px;
    width: 100%;
    height: 57px;
    margin: 0 auto;
    top: 15px;
  }
}