#container_promo { 
   width: 100%;
   max-width: 1316px;
   background: #fff;
   margin: 0 auto;
   padding: 15px 2rem;
}
#container_promo p:first-letter{ padding-left: 0; }
#container_promo p{ margin-bottom: 0; }
#container_promo img:hover { opacity: 1; }
#container_promo img { opacity: 1; }

/* container_banner_top */

.container_banner_top {}
.container_banner_top img {}

/* container_banner_top END */

/* container_product_flex */

.container_product_flex {
   margin-top: 5rem;
   margin-bottom: 0rem;
}
.row_product_flex {
   display: flex;
   flex-direction: row;
   align-items: center;
}
.row_product_flex .item {
   flex: 1 1 0;
   padding: 0 5px 15px 5px;
}
.row_product_flex .item:nth-child(1) {}
.row_product_flex .item:nth-child(2) {}
.row_product_flex .item:nth-child(3) {}
.row_product_flex .item:nth-child(4) {}
.row_product_flex .item:nth-child(5) {}
.row_product_flex .item:nth-child(6) {}
.row_product_flex .item:nth-child(7) {}

.row_product_flex .item.item_plus {
   text-align: center;
   display: block;
   font-size: 5rem;
   color: #ff671f;
   margin-bottom: 0;
   padding: 0;
   height: 100%;
   width: 100%;
   margin: auto 0;
}
.row_product_flex .item.item_plus span.rdlt_bl {
   height: 100%;
   display: block;
   margin: auto 0;
}
.row_product_flex .item h2 {
   text-align: center;
   font-size: 2.3rem;
   color: #000;
   line-height: 1.1;
   margin-top: 15px;
}
.row_product_flex .item img {
   max-width: 190px;
   width: 100%;
   height: auto;
   margin: 0 auto;
   display: block;
}


/* container_product_flex END */

/* container-price-flex */

.container-price-flex { margin: 5rem 0 0rem; }
.row-price-flex {
   display: flex;
   flex-direction: row;
}
.row-price-flex .item {
   flex: 1 1 0;
   padding-right: 10px;
}
.row-price-flex .item:nth-child(1) {}
.row-price-flex .item:nth-child(2) {}
.row-price-flex .item:nth-child(3) {}
.row-price-flex .item:nth-child(4) { padding-right: 0px;}

#acordion_list {}
#acordion_list .accordion {}
#acordion_list .accordion li.accordion__item { margin-bottom: 1rem; }
#acordion_list .accordion li.accordion__item a.accordion__link {}
#acordion_list .accordion li.accordion__item a.accordion__link span.accordion__link-title { font-size: 2rem;}

#acordion_list .accordion li.accordion__item .accordion__item-content { padding: 1rem 0rem 0rem; }

#acordion_list .accordion li.accordion__item .accordion__item-content a {
   color: #43b02a;
   text-decoration: underline;
   font-size: 1.5rem;
   display: block;
}
#acordion_list .accordion li.accordion__item .accordion__item-content a:hover {
   text-decoration: none;
}

/* container-list-product */

.container-list-product {
   display: flex;
   flex-direction: row;
   align-items: center;
   border-bottom: 2px solid #f2f2f2;
   padding-bottom: 5px;
}
.container-list-product .item:nth-child(1) {
   flex: 1 1 20%;
}
.container-list-product .item:nth-child(2) {
   flex: 1 1 55%;
}
.container-list-product .item:nth-child(3) {
   flex: 1 1 25%;
}
.container-list-product .item img {}
.container-list-product .item a {}
.container-list-product .item p.pricebl {}
.container-list-product .item p.pricebl span.grnsp {}

/* container-list-product END */

/* container-price-flex END */
