/*default styles*/
#samsung {
  max-width: 1316px;
  width: 100%;
  margin: 0 auto;
  height: auto;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

#samsung p {
  margin-bottom: 0;
  margin: 0;
  text-align: unset;
}

#samsung p:first-letter {
  padding-left: 0;
}

#samsung h2 {
  text-align: unset;
  display: block;
  line-height: normal;
  font-size: 34px;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

#samsung img {
  opacity: 1;
  max-width: 100%;
  display: block;
  height: auto;
}

#samsung img:hover {
  opacity: 1;
}

#samsung ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#samsung span {
  display: block;
  line-height: normal;
}

.features-desc__text img {
  margin-bottom: 0rem;
}

.one-col .features-desc__text p:first-letter {
  padding-left: 0rem !important;
}

/*end default styles*/
