/*default styles*/

#braun
  max-width: 1316px
  width: 100%
  margin: 0 auto
  height: auto
  display: block
  box-sizing: border-box
  overflow: hidden
  p
    margin-bottom: 0
    margin: 0
    text-align: unset
    font-size: 18px
    &:first-letter
      padding-left: 0
  h2
    text-align: unset
    display: block
    line-height: normal
    font-size: 38px
    font-weight: bold
    padding: 0
    margin: 0
  h3
    text-align: unset
    display: block
    line-height: normal
    font-size: 26px
    font-weight: bold
    padding: 0
    margin: 0
  img
    opacity: 1
    max-width: 100%
    display: block
    height: auto
    &:hover
      opacity: 1
  ul
    list-style-type: none
    padding: 0
    margin: 0
  span
    display: block
    line-height: normal
    font-size: 15px
    text-transform: uppercase

.features-desc__text
  img
    margin-bottom: 0rem
.one-col .features-desc__text
  p:first-letter
    padding-left: 0rem !important

/*end default styles*/

#braun
  padding-bottom: 40px
  .show__mob
    display: none
  .power
    display: flex
    flex-direction: row
    align-items: center
    background-color: #000
    >div
      max-width: 50%
      box-sizing: border-box
    .power__txt
      color: #fff
      padding: 100px 60px 100px 135px
      span
        font-size: 18px
        margin-bottom: 10px
      h2
        margin-bottom: 50px
        line-height: 53px
      .power__list
        li
          display: flex
          flex-direction: row
          align-items: center
          p
            font-size: 19px
          &::before
            content: ""
            display: block
            min-width: 48px
            height: 48px
            background-repeat: no-repeat
            background-position: center
            background-image: url("https://cdn.comfy.ua/media/x/img/1679364/icon1.svg")
            margin-right: 30px
          &:nth-of-type(2)
            margin: 50px 0
            &::before
              background-image: url("https://cdn.comfy.ua/media/x/img/1679364/icon2.svg")
          &:nth-of-type(3)
            &::before
              background-image: url("https://cdn.comfy.ua/media/x/img/983023/icon3.svg")

  .freeglide
    padding: 80px 135px
    .freeglide__flex
      display: flex
      flex-direction: row
      align-items: flex-end
      justify-content: space-between
      >div
        max-width: 50%
        box-sizing: border-box
      .freeglide__cont
        .freeglide__txt
          max-width: 480px
          min-height: 132px
          h3
            margin: 10px 0
        .freeglide__img
          img
            margin-top: 40px

  .ceramic
    position: relative
    .hide__desc
      display: none
    .ceramic__txt
      position: absolute
      max-width: 480px
      box-sizing: border-box
      top: 80px
      right: 60px
      span
        text-transform: unset
      h3
        margin: 10px 0 5px 0
      span.small__txt
        font-size: 13px
        margin-bottom: 18px
      .ceramic__icon
        display: flex
        flex-direction: row
        align-items: center
        &::before
          content: ""
          display: block
          min-width: 48px
          height: 48px
          background-repeat: no-repeat
          background-position: center
          background-image: url("https://cdn.comfy.ua/media/x/img/1679364/icon4.svg")
          margin-right: 10px

  .braun__list
    display: flex
    flex-direction: row
    padding: 80px 135px 0 135px
    box-sizing: border-box
    li
      flex: 1 1 0
      box-sizing: border-box
      display: flex
      flex-direction: column
      justify-content: space-between
      .braun__list__img
        img
          margin: 40px auto 0 auto
      .braun__list__txt
        h3
          margin: 10px 0 15px 0
      &:nth-of-type(2)
        margin: 0 40px
    li.not__margin
      margin-right: 0

  .nosik
    position: relative
    padding-top: 70px
    .nosik__abs
      .nosik__txt
        position: absolute
        max-width: 480px
        h3
          margin: 10px 0 15px 0
        .nosik__icon
          display: flex
          flex-direction: row
          align-items: center
          &::before
            content: ""
            display: block
            min-width: 48px
            height: 48px
            background-repeat: no-repeat
            background-position: center
            background-image: url("https://cdn.comfy.ua/media/x/img/1679364/icon5.svg")
            margin-right: 10px
        &:nth-of-type(1)
          top: 140px
          left: 135px
          .nosik__icon
            display: none
        &:nth-of-type(3)
          bottom: 40px
          right: 135px
          .nosik__icon
            &::before
              background-image: url("https://cdn.comfy.ua/media/x/img/1679364/icon6.svg")

//media************************************************************

@media (max-width: 1024px)
  #braun .power .power__txt,
  #braun .freeglide
    padding: 1em
  #braun .freeglide .freeglide__flex .freeglide__cont:nth-of-type(1)
    margin-right: 1em
  #braun .ceramic .ceramic__txt
    top: 1em
    right: 1em
  #braun .braun__list
    padding: 1em 1em 0 1em
  #braun .nosik .nosik__abs .nosik__txt:nth-of-type(1)
    top: 1em
    left: 1em
  #braun .nosik .nosik__abs .nosik__txt:nth-of-type(3)
    right: 1em

@media (max-width: 812px)
  #braun .hide__mob
    display: none
  #braun .show__mob
    display: block
  #braun .power
    flex-direction: column
    >div
      max-width: 100%
  #braun .power .power__txt
    img
      margin-left: 1em
  #braun .ceramic .ceramic__txt
    right: unset
    left: 1em
  #braun .nosik .nosik__abs .nosik__txt
    position: unset
    padding: 1em
    max-width: 100%
  #braun .nosik .nosik__show__mob
    background-image: url("https://cdn.comfy.ua/media/x/img/1679364/10abs.png")
    background-size: contain
  #braun .braun__list li:nth-of-type(2)
    margin: 0 1em
  #braun .braun__list li.not__margin
    margin-right: 0

@media (max-width: 480px)
  #braun span
    font-size: 13px
  #braun .power .power__txt
    padding: 40px 1em 30px 1em
  #braun .power .power__txt span
    font-size: 14px
  #braun h2
    font-size: 24px
  #braun .power .power__txt h2
    line-height: normal
    margin-bottom: 15px
  #braun .power .power__txt .power__list li p
    font-size: 14px
  #braun .power .power__txt .power__list
    margin-top: 17px
  #braun .power .power__txt .power__list li::before
    min-width: 34px
    height: 34px
    margin-right: 8px
    background-size: contain
  #braun .power .power__txt .power__list li:nth-of-type(2)
    margin: 15px 0
  #braun .freeglide .freeglide__flex
    flex-direction: column
    >div
      max-width: 100%
  #braun .freeglide .freeglide__flex .freeglide__cont:nth-of-type(1)
    margin-right: 0
    margin-bottom: 45px
  #braun .freeglide .freeglide__flex .freeglide__cont .freeglide__txt
    h3
      display: none
    p
      display: block
      margin-top: 5px
      font-size: 19px
      font-weight: bold
  #braun .freeglide .freeglide__flex .freeglide__cont .freeglide__img img
    margin-top: 25px
  #braun .freeglide
    padding: 35px 1em
  #braun .ceramic .ceramic__txt
    position: unset
    .ceramic__icon
      display: none
    span
      display: none
  #braun .ceramic .ceramic__txt h3
    font-size: 19px
    margin-bottom: 5px
    margin-top: 0
    padding: 0 1em
  #braun .ceramic .ceramic__img
    position: relative
    &::after
      content: ""
      display: block
      background-image: url("https://cdn.comfy.ua/media/x/img/1679364/4bg.png")
      background-repeat: no-repeat
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      background-size: contain
  #braun span.hide__desc
    display: flex !important
    flex-direction: row
    font-size: 14px
    text-transform: unset
    position: absolute
    top: 10px
    left: 1em
    z-index: 10
    &::before
      content: ""
      display: block
      min-width: 34px
      height: 34px
      background-repeat: no-repeat
      background-position: center
      background-image: url("https://cdn.comfy.ua/media/x/img/1679364/icon4.svg")
      background-size: contain
      margin-right: 10px
  #braun .braun__list
    padding: 36px 1em
    flex-direction: column
  #braun .braun__list li:nth-of-type(2)
    margin: 45px 0
  #braun .braun__list li .braun__list__txt h3
    display: none
  #braun .braun__list li .braun__list__txt p
    display: block
    font-size: 19px
    font-weight: bold
    margin-top: 5px
  #braun .braun__list li .braun__list__img img
    margin: 25px auto 0 auto
  #braun .nosik
    margin-top: -50px
  #braun .nosik .nosik__abs .nosik__txt h3
    font-size: 19px
    margin: 0 0 15px 0
  #braun .nosik .nosik__abs .nosik__txt span
    display: none
  #braun .ceramic .ceramic__txt span.small__txt
    padding-left: 1em
    display: block
  #braun .nosik .nosik__abs .nosik__txt .nosik__icon p
    font-size: 14px
  #braun .nosik .nosik__abs .nosik__txt .nosik__icon::before
    min-width: 34px
    height: 34px
    background-size: contain
    margin-right: 12px
  #braun .braun__list li.not__margin
    margin-bottom: 0
  #braun .freeglide .freeglide__flex .freeglide__cont .freeglide__txt
    min-height: unset
  #braun .nosik .nosik__abs .nosik__txt:nth-of-type(1) .nosik__icon
    display: flex
  #braun
    padding-bottom: 0