//default styles

// body
//    margin: 0

.philips
   // font-family: sans-serif
   // max-width: 1406px
   max-width: 1023px
   width: 100%
   margin: 0 auto
   height: auto
   display: block
   box-sizing: border-box
   overflow: hidden
   img
      margin: 0 auto
      opacity: 1 !important
      max-width: 100%
      display: block
      height: auto
      &:hover
         opacity: 1 !important
   div
      line-height: normal
   ul
      margin: 0
      padding: 0 0 0 20px
      list-style-type: disc

.features-desc__text
   img
      margin-bottom: 0rem

//end default styles

.philips .container
   width: 100%
   max-width: 100%
   margin: 0 auto

//logo

.logo
   position: relative
   color: #fff

.logo__i
   position: absolute
   top: -10px
   left: 2em
   img
      max-width: 70%
      margin: 0

.logo__abs
   position: absolute
   left: 2em
   bottom: 100px
   max-width: 550px

.logo__title
   font-size: clamp(22px, 3vw, 32px)
   margin-bottom: 1rem
   b
      font-weight: bold

.logo__txt
   font-size: clamp(16px, 2vw, 20px)

//advantsges

.philips__violet
   font-size: clamp(20px, 3vw, 32px)
   color: #fff
   background-color: #8a0a5e
   padding: 20px 2em

.advantsges
   padding: 2em

.advantsges__row
   display: flex
   align-items: center
   justify-content: space-between
   gap: 60px

.advantsges__list
   max-width: 750px
   display: flex
   flex-direction: column
   gap: 2em
   li
      font-size: clamp(16px, 2vw, 18px)

.advantsges__cont,
.advantsges__img
   flex-basis: 50%

.philips__txt
   font-size: clamp(16px, 2vw, 18px)

//ion

.ion
   position: relative
   color: #fff

.ion__abs
   position: absolute
   top: 2em
   right: 2em
   max-width: 35%

//thermo

.thermo
   .ion__abs
      right: unset
      left: 2em

.styling
   .ion__abs
      top: unset
      left: 2em
      bottom: 2em
      max-width: 45%

//warranty

.warranty
   padding: 2em
   .philips__txt
      color: #5d5d5d

.warranty__row
   display: flex
   align-items: center

.warranty__i
   border-radius: 50%
   overflow: hidden
   background-color: #e84373
   max-width: 275px
   min-width: 275px
   height: 275px
   color: #fff
   position: relative
   margin-right: -30px
   margin-top: -150px

.warranty__abs
   position: absolute
   bottom: 50%
   right: 50%
   transform: translate(50%, 50%)
   width: max-content

.warranty__title
   font-weight: bold
   font-size: clamp(32px, 3vw, 42px)
   b
      font-size: clamp(42px, 5vw, 70px)
      line-height: 40px !important

.warranty__txt
   font-size: clamp(22px, 3vw, 32px)
   text-align: center

//prof

.prof
   position: relative
   color: #7e1363

.prof__abs
   position: absolute
   left: 2em
   bottom: 40%

.prof__title
   font-size: clamp(22px, 3vw, 40px)
   font-weight: bold
   margin-bottom: 1rem

.prof__txt
   font-size: clamp(18px, 2.6vw, 20px)

//media*****************************************************

@media (max-width: 1441px)
   .logo__abs
      max-width: 45vw

   .advantsges__cont
      max-width: 50vw

@media (max-width: 1201px)
   .philips .container
      width: 960px
      padding: 0 15px

   .logo__i
      max-width: 20vw
      left: 1em
   .logo__abs
      left: 1em

   .philips__violet
      padding: 0.5em 1em

   .advantsges
      padding: 2em 0

   .ion__abs
      right: 1em
      max-width: 35vw

   .thermo .ion__abs
      left: 1em

   .styling .ion__abs
      max-width: 60vw
      left: 1em
      bottom: 2em

   .warranty
      padding: 2em 0
   .warranty__i
      min-width: 20vw
      min-height: 20vw
      height: unset

   .prof__abs
      left: 1em

@media (max-width: 991px)
   .philips .container
      width: 720px

   .logo
      display: flex
      flex-direction: column-reverse
      color: #000
   .logo__abs
      position: unset
      max-width: 100%
      padding: 1em 0
   .logo__i
      max-width: 35vw
   .logo__img img
      min-width: 150%
      margin-left: -50%

   .advantsges__row
      flex-direction: column
      gap: 1em
   .advantsges__list
      gap: 1em
   .advantsges__cont
      max-width: 100%

   .ion
      display: flex
      flex-direction: column-reverse
      color: #000
   .ion__abs
      position: unset
      padding: 1em 0
      max-width: 100% !important

   .warranty__row
      flex-direction: column
   .warranty__i
      min-width: 38vw
      min-height: 38vw
      margin: 0 0 -18vw auto

   .prof
      display: flex
      flex-direction: column
   .prof__abs
      position: unset
      padding: 1em 0
      max-width: 100%
   .prof__title br
      display: none

@media (max-width: 767px)
   .philips .container
      width: 540px

@media (max-width: 576px)
   .philips .container
      width: 100%
      box-sizing: border-box

// @media (min-width: 320px)
//    .philips
//       display: block

@media (min-width: 768px)
   .warranty__i
      min-width: 20vw
      min-height: 20vw

@media (min-width: 1024px)
   // .philips
   //    display: grid
   //    grid-template-columns: calc(100% - 400px) 400px
   .warranty__i
      max-width: 275px
      min-width: 275px
      min-height: unset

@media (min-width: 1024px) and (max-width: 1024px)
   .ion
      display: flex
      flex-direction: column-reverse
      color: #000

   .ion__abs
      position: unset
      padding: 1em 0
      max-width: 100% !important

   .warranty__i
      min-width: 20vw
      min-height: 20vw
