.rkt-ufesa-supreme-barista-71705256__container {
  overflow: hidden;
}

.bc-description__content p:first-letter {
  padding-left: 0 !important;
}

#rkt-ufesa-supreme-barista-71705256 {
  max-width: 1023px;
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  background: #fff;
}
#rkt-ufesa-supreme-barista-71705256 h2, #rkt-ufesa-supreme-barista-71705256 h3, #rkt-ufesa-supreme-barista-71705256 h4, #rkt-ufesa-supreme-barista-71705256 h5, #rkt-ufesa-supreme-barista-71705256 h6, #rkt-ufesa-supreme-barista-71705256 p {
  margin: 0;
  padding: 0;
  line-height: 1.2;
}
#rkt-ufesa-supreme-barista-71705256 ul {
  margin: 0;
  padding: 0;
  list-style-type: disc;
  padding-left: 20px;
  margin: 0.5rem 0;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
#rkt-ufesa-supreme-barista-71705256 img {
  display: block;
  max-width: 100%;
  opacity: 1;
  margin: 0 auto;
}
#rkt-ufesa-supreme-barista-71705256 img:hover {
  opacity: 1;
}
#rkt-ufesa-supreme-barista-71705256 h2 {
  font-size: 26px;
  font-weight: 900;
  text-align: center;
  margin-bottom: 1rem;
}
@media (max-width: 1023px) {
  #rkt-ufesa-supreme-barista-71705256 h2 {
    font-size: calc(20px + 6 * (100vw - 320px) / 703);
  }
}
#rkt-ufesa-supreme-barista-71705256 h3 {
  font-size: 20px;
  font-weight: 900;
  text-align: left;
  margin-bottom: 1rem;
}
@media (max-width: 1023px) {
  #rkt-ufesa-supreme-barista-71705256 h3 {
    font-size: calc(18px + 2 * (100vw - 320px) / 703);
  }
}
#rkt-ufesa-supreme-barista-71705256 p {
  font-size: 16px;
  font-weight: 400;
  text-align: left;
}
@media (max-width: 1023px) {
  #rkt-ufesa-supreme-barista-71705256 p {
    font-size: calc(14px + 2 * (100vw - 320px) / 703);
  }
}
#rkt-ufesa-supreme-barista-71705256 li {
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  line-height: 1.2;
}
@media (max-width: 1023px) {
  #rkt-ufesa-supreme-barista-71705256 li {
    font-size: calc(14px + 2 * (100vw - 320px) / 703);
  }
}
#rkt-ufesa-supreme-barista-71705256 i {
  line-height: 1.2;
  font-size: 16px;
  margin-top: 0.5rem;
  display: block;
  font-style: italic;
}
@media (max-width: 1023px) {
  #rkt-ufesa-supreme-barista-71705256 i {
    font-size: calc(14px + 2 * (100vw - 320px) / 703);
  }
}

.ufesa__func {
  padding: 2em 4em;
}

.ufesa__func__i {
  margin-bottom: 1em;
}
.ufesa__func__i img {
  width: 10%;
}

.ufesa__func__row {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 2em;
  margin-top: 2em;
  padding: 1em 1em 0;
  background: linear-gradient(180deg, rgba(159, 107, 53, 0.6) 0%, rgba(255, 255, 255, 0.6) 100%);
  position: relative;
}
.ufesa__func__row > div {
  flex-basis: 50%;
  position: relative;
  z-index: 2;
}
.ufesa__func__row::before, .ufesa__func__row::after {
  content: "";
  display: block;
  background: url("https://cdn.comfy.ua/media/x/img3/3004706/coffee.png") no-repeat;
  background-position: center left;
  background-size: contain;
  width: 420px;
  height: 220px;
  position: absolute;
}
.ufesa__func__row::before {
  top: -10%;
  left: -3%;
}
.ufesa__func__row::after {
  bottom: 0;
  right: -6%;
  transform: scale(-1, -1);
}

.ufesa__func__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.ufesa__func__grid__i img {
  width: 25px;
  height: 25px;
}

.ufesa__func__grid__txt {
  margin-top: 0.5em;
}
.ufesa__func__grid__txt p {
  text-align: center !important;
}

.barista {
  position: relative;
}

.barista__abs {
  position: absolute;
  width: 40%;
  padding: 2em;
  box-sizing: border-box;
  background: rgba(240, 216, 191, 0.8);
  border-radius: 16px;
  bottom: 50%;
  transform: translateY(50%);
  left: 4em;
}
.barista__abs p {
  text-align: center !important;
}

.sensazione__txt {
  padding: 4em 4em 0;
}
.sensazione__txt p {
  text-align: center !important;
}

.thermoblock__txt {
  padding: 4em 2em 0;
}
.thermoblock__txt p {
  text-align: center !important;
}

.ufesa__options {
  display: flex;
  flex-direction: column;
  padding-top: 2em;
}

.ufesa__item {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.ufesa__item > div {
  flex-basis: 50%;
  box-sizing: border-box;
}
.ufesa__item:nth-of-type(even) {
  flex-direction: row-reverse;
  margin-top: -10%;
}

.ufesa__options__txt {
  padding: 1em;
}

@media (min-width: 320px) and (max-width: 767.9px) {
  .ufesa__func__i img {
    width: 20%;
  }
  .ufesa__func {
    padding: 1em 0;
  }
  .ufesa__func__row {
    gap: 0;
    flex-direction: column-reverse;
    align-items: unset;
  }
  .ufesa__func__grid {
    gap: 1em;
    margin-top: 2em;
    grid-template-columns: repeat(2, 1fr);
  }
  .ufesa__func__grid__txt p {
    font-size: 12px !important;
  }
  .ufesa__title h2 br {
    display: none;
  }
  .sensazione__txt {
    padding: 2em 1em 0;
  }
  .ufesa__options {
    gap: 2em;
    padding-top: 1em;
  }
  .ufesa__item {
    padding: 0 1em;
    flex-direction: column-reverse !important;
  }
  .ufesa__options__txt p {
    text-align: center !important;
  }
  .ufesa__func__list {
    gap: 0.5em !important;
  }
  .ufesa__func__row::before {
    width: 200px;
    height: 172px;
  }
  .ufesa__func__row::before {
    top: -5%;
    left: -7%;
  }
  .ufesa__func__row::after {
    right: -37%;
    display: none;
  }
  .barista__abs {
    position: unset;
    transform: unset;
    width: 100%;
    border-radius: 12px 12px 0 0;
    padding: 1em;
  }
  .barista__img img {
    min-width: 150%;
    margin-left: -50% !important;
  }
  .ufesa__item:nth-of-type(even) {
    margin-top: unset;
  }
}
@media (min-width: 768px) and (max-width: 1023.9px) {
  .ufesa__func {
    padding-right: 0;
    padding-left: 0;
  }
  .ufesa__func__row::after {
    right: -13%;
  }
}
@media (min-width: 1024px) and (max-width: 1201px) {
  .ufesa__func {
    padding: 1em 0;
  }
  .ufesa__func__row {
    gap: 2em;
  }
  .ufesa__func__grid {
    gap: 1em;
    margin-top: 2em;
    padding: 0 1em;
  }
  .ufesa__func__grid__txt p {
    font-size: 12px !important;
  }
  .sensazione__txt {
    padding: 2em 1em 0;
  }
  .ufesa__options {
    gap: 2em;
  }
  .ufesa__item {
    padding: 0 1em;
  }
  .ufesa__func__list {
    gap: 0.5em !important;
  }
  .ufesa__func__row::before,
  .ufesa__func__row::after {
    width: 200px;
    height: 172px;
  }
  .ufesa__func__row::after {
    right: -15%;
  }
  .barista__abs {
    left: 2em;
    padding: 1em;
    width: 45%;
  }
}