#xiaomi_id p:first-letter {
  padding-left: 0;
}

#xiaomi_id p {
  margin-bottom: 0;
}

#xiaomi_id img:hover {
  opacity: 1;
}

#xiaomi_id img {
  opacity: 1;
  max-width: 100%;
  display: block;
  vertical-align: middle;
  height: auto;
  margin: 0 auto;
}

#xiaomi_id {
  max-width: 1316px;
  width: 100%;
  margin: 0 auto;
  height: auto;
  display: block;
  background-color: #fff;
  box-sizing: border-box;
}

.features-desc__text img {
  margin-bottom: 0rem;
}

.one-col .features-desc__text p:first-letter {
  padding-left: 0rem !important;
}

.xiaomi {
  max-width: 1316px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

.xiaomi h2 {
  font-size: 20px;
  font-weight: bold;
  color: #000;
  margin: 0;
  padding: 0;
}

.xiaomi h3 {
  font-size: 18px;
  font-weight: bold;
  color: #000;
  margin: 0;
  padding: 0;
  text-align: left;
}

.xiaomi p {
  font-size: 18px !important;
}

.xiaomi ul li {
  list-style-type: none;
}

/*section 1*/

.xiaomi .x_table {
  padding: 20px 40px;
  box-sizing: border-box;
}

.xiaomi .x_table .x_table_txt {
  margin-bottom: 40px;
}

.xiaomi .x_table .x_table_txt h2 {
  margin-bottom: 10px;
}

.xiaomi .x_table .x_table_txt h2:last-of-type {
  margin-top: 40px;
}

.xiaomi .x_table ul.table_row_1,
.xiaomi .x_table ul.table_row_2 {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

.xiaomi .x_table ul.table_row_2 {
  margin: 15px 0;
}

.xiaomi .x_table ul.table_row_1 li,
.xiaomi .x_table ul.table_row_2 li {
  -webkit-box-flex: 1;
          flex: 1 1 0;
  background-color: #fddce7;
  padding: 10px 20px;
}

.xiaomi .x_table ul.table_row_2 li {
  background-color: unset;
}

.xiaomi .x_table ul.table_row_1 li:nth-child(2),
.xiaomi .x_table ul.table_row_2 li:nth-child(2) {
  margin: 0 20px;
}

.xiaomi .x_table ul.table_row_1 li span {
  font-size: 16px;
}

/*section 2*/

.xiaomi .generation {
  box-sizing: border-box;
}

.xiaomi .generation .generation_txt {
  padding: 0 40px;
}

.xiaomi .generation .generation_txt h2 {
  margin-bottom: 10px;
}

.xiaomi .generation .generation_content .gen_cont_img {
  box-sizing: border-box;
  margin: 20px auto;
  text-align: center;
  position: relative;
  min-width: 627px;
}

/*section 3*/

.xiaomi .ion .ion_txt {
  padding: 0 40px;
}

.xiaomi .ion .ion_txt h2 {
  margin-bottom: 10px;
}

.xiaomi .ion .ion_cont {
  text-align: center;
  margin: 20px 0;
}

.xiaomi .ion .ion_cont img {
  text-align: center;
  min-width: 627px;
}

/*section 4*/

.xiaomi .nasadki .nasadki_txt {
  padding: 0 40px;
}

.xiaomi .nasadki .nasadki_txt h2 {
  margin-bottom: 10px;
}

.xiaomi .nasadki .nasadki_img {
  text-align: center;
  margin: 20px 0;
}

/*section 5*/

.xiaomi .settings .settings_txt {
  padding: 0 40px;
}

.xiaomi .settings .settings_txt h2 {
  margin-bottom: 10px;
}

.xiaomi .settings .settings_cont {
  max-width: 100%;
  width: 850px;
  height: 500px;
  margin: 20px auto;
  background-image: url("https://cdn.comfy.ua/media/x/img/Xiaomi-Jimmy-F6/4.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.xiaomi .settings .settings_cont .set_txt {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  padding: 0 40px;
  -webkit-box-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 66%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 100%;
  box-sizing: border-box;
  -webkit-box-align: center;
          align-items: center;
}

.xiaomi .settings .settings_cont .set_txt .set_txt_col {
  -webkit-box-flex: 1;
          flex: 1 1 0;
  color: #fff;
  max-width: 270px;
}

.xiaomi .settings .settings_cont .set_txt .set_txt_col h2 {
  color: #fff;
  margin-bottom: 20px;
}

.xiaomi .settings .settings_cont .set_txt .set_txt_col>ul>li {
  margin-bottom: 10px;
  line-height: normal;
}

/*section 6*/

.xiaomi .noise .noise_txt {
  padding: 0 40px;
}

.xiaomi .noise .noise_txt h2 {
  margin-bottom: 10px;
}

.xiaomi .noise .noise_img {
  margin: 20px 0 0 0;
  text-align: center;
}

/**************************MEDIA*******************/

@media (max-width: 812px) and (min-width: 481px) {
  .xiaomi p {
    font-size: 16px !important;
  }

  .xiaomi .x_table .x_table_txt h2 {
    font-size: 18px;
  }

  .xiaomi h3 {
    font-size: 16px;
    text-align: left;
  }

  .xiaomi .x_table,
  .xiaomi .generation .generation_txt,
  .xiaomi .ion .ion_txt,
  .xiaomi .nasadki .nasadki_txt,
  .xiaomi .settings .settings_txt,
  .xiaomi .noise .noise_txt {
    padding: 20px;
  }

  .xiaomi .settings .settings_cont .set_txt {
    padding: 0 20px;
  }

  .xiaomi .generation .generation_content .gen_cont_img,
  .xiaomi .ion .ion_cont,
  .xiaomi .nasadki .nasadki_img,
  .xiaomi .settings .settings_cont,
  .xiaomi .noise .noise_img {
    margin: 0;
  }

}

@media (max-width: 480px) and (min-width: 320px) {
  .xiaomi p {
    font-size: 16px !important;
  }

  .xiaomi .x_table .x_table_txt h2 {
    font-size: 18px;
  }

  .xiaomi h3 {
    font-size: 16px;
    text-align: left;
  }

  .xiaomi .x_table ul.table_row_1,
  .xiaomi .x_table ul.table_row_2 {
    min-width: 688px;
  }

  .xiaomi .x_table {
    padding: 20px;
  }

  .xiaomi .xiaomi_table {
    overflow-x: scroll;
  }

  .xiaomi .x_table,
  .xiaomi .generation .generation_txt,
  .xiaomi .ion .ion_txt,
  .xiaomi .nasadki .nasadki_txt,
  .xiaomi .settings .settings_txt,
  .xiaomi .noise .noise_txt {
    padding: 20px;
  }

  .xiaomi .generation .generation_content,
  .xiaomi .ion .ion_cont {
    overflow-x: scroll;
  }

  .xiaomi .settings .settings_cont {
    height: auto;
  }

  .xiaomi .settings .settings_cont .set_txt {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    position: unset;
    -webkit-transform: unset;
            transform: unset;
    padding: 20px;
  }

  .xiaomi .settings .settings_cont .set_txt .set_txt_col {
    max-width: unset;
  }

  .xiaomi .settings .settings_cont .set_txt .set_txt_col:last-child {
    padding-left: 0;
    margin-top: 30px;
  }

  .xiaomi .settings .settings_cont .set_txt .set_txt_col>ul>li:last-child {
    margin-bottom: 0;
  }

  .xiaomi .generation .generation_content .gen_cont_img,
  .xiaomi .ion .ion_cont,
  .xiaomi .nasadki .nasadki_img,
  .xiaomi .settings .settings_cont,
  .xiaomi .noise .noise_img {
    margin: 0;
  }
}