    .block_ctg {
        display: flex;
        flex-flow: row;
        margin: 35px 0;
    }
    .htcont_categ.bll {
        display: flex;
        flex-flow: row;
    }
    .item_ctg {
        min-width: 125px;
        text-align: center;
    }