//default styles

// body
//    margin: 0

.grifon
   // font-family: PTRootUIWeb,-apple-system,BlinkMacSystemFont,sans-serif
   width: 100%
   max-width: 1300px
   margin: 0 auto
   height: auto
   display: block
   box-sizing: border-box
   overflow: hidden
   color: #415461
   img
      margin: 0 auto
      opacity: 1 !important
      max-width: 100%
      display: block
      height: auto
      &:hover
         opacity: 1 !important
   div
      line-height: normal

.features-desc__text
   img
      margin-bottom: 0rem

.one-col .features-desc__text
   p:first-letter
      padding-left: 0rem !important

//end default styles

.grifon .container
   width: 100%
   max-width: 100%
   margin: 0 auto

//model

.model
   position: relative

.model__txt
   color: #fff
   font-size: 30px
   margin-bottom: 30px

.model__title
   text-transform: uppercase
   font-size: 70px
   color: #375077

.model__abs
   position: absolute
   top: 130px
   left: 80px

//smart

.grifon__title
   text-transform: uppercase
   font-weight: bold
   color: #375077
   font-size: 24px
   margin-bottom: 1rem

.grifon__txt
   font-size: 20px

.smart
   padding-left: 80px
   // padding-top: 80px
   background: linear-gradient(180deg, #415461 0%, #232425 100%)

.smart__row
   display: flex
   align-items: center
   gap: 40px

.smart__cont
   max-width: 500px

.smart__items
   max-width: 430px
   margin-top: 15px
   display: flex
   flex-direction: column
   gap: 23px

.smart__item
   display: flex
   align-items: center
   gap: 20px

.smart__i
   min-width: 60px
   max-width: 60px

.clr__blue
   color: #CAD6E9
   .grifon__title
      color: #CAD6E9

//modes

.modes
   position: relative

.modes__abs
   position: absolute
   right: 0
   bottom: 50%
   transform: translateY(50%)
   padding: 40px 80px 40px 40px
   background: rgba(0, 0, 0, 0.49)
   max-width: 535px
   box-sizing: border-box

//comfort

.comfort
   background: linear-gradient(180deg, rgba(247, 248, 251, 0.00) 0%, #F7F8FB 22.4%)
   padding-top: 145px
   margin-top: -145px
   position: relative
   .smart__img
      margin-left: -15%
   .smart__items
      margin-bottom: -23%

.show__mob
   display: none !important

//prop

.prop
   padding-right: 80px
   padding-top: 55px

.prop__row
   display: flex
   align-items: center

.prop__img
   position: relative

.prop__items
   position: absolute
   color: #fff
   display: flex
   flex-direction: column
   gap: 50px
   max-width: 290px
   top: 256px
   left: 80px
   .grifon__txt
      &:nth-of-type(n+3)
         padding-top: 12px
      &:last-of-type
         padding-top: 0

.prop__cont
   max-width: 333px

//economy

.economy
   position: relative

.economy__abs
   position: absolute
   bottom: 50%
   transform: translateY(50%)
   left: 80px
   max-width: 435px
   height: max-content
   // .grifon__title
   //    color: #A6D4FF
   // .grifon__txt
   //    color: #fff

//minimalizm

.minimalizm
   .modes__abs
      transform: unset
      top: 80px
      height: max-content

//warranty

.warranty
   padding-top: 0
   background: #252B34
   // .grifon__title
   //    color: #A6D4FF
   // .grifon__txt
   //    color: #fff

//place

.place
   position: relative
   text-align: center
   background: linear-gradient(180deg, rgba(247, 248, 251, 0.00) 0%, #F7F8FB 30.73%)
   padding: 230px 80px 0 80px
   margin-top: -230px

.place__cont
   max-width: 880px
   margin: 50px auto 0

//fresh

.fresh
   padding-top: 100px
   padding-left: 0
   padding-right: 80px
   background: #F7F8FB
   .smart__row
      flex-direction: row-reverse

//safe

.safe
   position: relative

.safe__abs
   position: absolute
   max-width: 500px
   left: 80px
   bottom: 50%
   transform: translateY(50%)

//media*****************************************************

@media (max-width: 1201px)
   .grifon .container
      width: 960px
      padding: 0 15px

   .model__abs
      left: 1em
   .model__txt
      margin-bottom: 1rem
      font-size: 24px
   .model__title
      font-size: 42px

   .smart
      padding-top: 2em
      padding-left: 0
   .grifon__txt
      font-size: 16px
   .grifon__title
      font-size: 20px
   .smart__img img
      min-width: calc( 100% + 32px )
      margin-right: -32px

   .modes__abs
      padding-right: 1em
      height: max-content
   .hide__mob
      display: none !important
   .show__mob
      display: block !important
   .comfort .smart__img
      margin-left: 0

   .prop
      padding-top: 2em
      padding-right: 0
   .prop__img div img
      min-width: calc( 100% + 32px )
      margin-left: -32px
   .prop__items
      top: 30%
      left: 1em
      max-width: 240px

   .economy__abs
      left: 1em

   .place
      background: linear-gradient(180deg, rgba(247, 248, 251, 0) 0%, #F7F8FB 30.73%)
      padding: 150px 0 0 0
      margin-top: -190px
   .place__cont
      margin-top: 70px

   .fresh
      padding-right: 0
      .smart__img img
         margin-right: 0
         margin-left: -32px

   .safe__abs
      left: 1em
      max-width: 400px

@media (max-width: 991px)
   .grifon .container
      width: 720px

   .model
      padding-top: 1em
      background-color: #9ba6b3
   .model__abs
      position: unset
      transform: unset
      text-align: center
      max-width: max-content
      margin: 0 auto
      padding-bottom: 1em
   .model__img
      overflow: hidden
      img
         min-width: 200%
         margin-left: -82%
         margin-top: -10%

   .smart__row
      flex-direction: column
      gap: 2em
      text-align: center
   .smart__i
      max-width: 47px
      min-width: 47px
   .smart__items
      text-align: left

   .modes__abs
      position: unset
      transform: unset
      text-align: center
      margin: 0 auto
      padding: 2em 0
      background: unset
   .clr__blue
      color: inherit
      .grifon__title
         color: inherit
   .modes__img img
      min-width: 200%
      margin-left: -10%

   .comfort
      margin-top: 0
   .comfort .smart__items
      margin-bottom: 0
      .smart__item
         justify-content: center
   .smart__img img
      min-width: calc( 100% + 30px )
      margin-right: -15px
      margin-left: -15px

   .prop__row
      flex-direction: column-reverse
      gap: 1em
      text-align: center
   .prop__img div img
      min-width: 120%
      margin-left: -10%
   .prop__items
      text-align: left
      gap: 15px
      max-width: 120px
      top: 30vw
      left: 15px
      .grifon__txt
         font-size: 12px
         padding-top: 0 !important

   .economy
      padding-top: 2em
      background-color: #414a52
   .economy__abs
      position: unset
      transform: unset
      text-align: center
   .economy__abs.clr__blue,
   .smart__cont.clr__blue,
   .smart.clr__blue
      color: #cad6e9
   .economy__img img
      min-width: 150%
      margin-left: -50%

   .place
      margin-top: -160px

   .fresh .smart__row
      flex-direction: column
   .fresh .smart__img img
      margin-right: -15px
      margin-left: -15px

   .safe
      background-color: #f7f8fa
   .safe__abs
      position: unset
      transform: unset
      text-align: center
      padding: 2em 0 1em
   .safe__img img
      min-width: 150%
      margin-left: -50%

@media (max-width: 767px)
   .grifon .container
      width: 540px

@media (max-width: 576px)
   .grifon .container
      width: 100%
      box-sizing: border-box
