/****** default style ******/

#wrapper-cv9820 {
   max-width: 1316px;
   width: 100%;
   display: block;
   margin: 0 auto;
   background: #fff;
}

#wrapper-cv9820 p:first-letter {
   padding-left: 0;
}

#wrapper-cv9820 p {
   margin-bottom: 0;
   max-width: 1200px;
   margin: 0 auto;
   display: block;
   padding: 10px 15px;
}

#wrapper-cv9820 img:hover {
   opacity: 1;
}

#wrapper-cv9820 img {
   opacity: 1;
   max-width: 100%;
}

.default_style h2 {
   font-size: 3.8rem;
   padding: 15px 0 15px 5rem;
   line-height: 1;
   color: #000;
   text-transform: uppercase;
   background-color: rgba(255, 255, 255, 0.7);
}

.default_style p {
   font-size: 2.3rem;
   margin: 0 0 15px 0;
   color: #000;
   line-height: 1.5;
   z-index: 8;
}

span.word-wrap {
   word-wrap: break-word;
   display: block;
}

.color-org {
   color: #d2856a;
}

.features-desc__text img {
   margin-bottom: 0rem !important;
}

.one-col .features-desc__text p:first-letter {
   padding-left: 0rem !important;
}

.row-product {
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
   width: 100%;
   max-width: 1316px;
   height: 664px;
}

/****** default style END ******/

.row-product.bg1 {
   background-image: url(https://cdn.comfy.ua/media/x/img/1573127/bg1.png);
}

.row-product.bg2 {
   background-image: url(https://cdn.comfy.ua/media/x/img/1573127/bg2.png);
}

.row-product.bg3 {
   background-image: url(https://cdn.comfy.ua/media/x/img/1573127/bg3.png);
}

.row-product.bg4 {
   background-image: url(https://cdn.comfy.ua/media/x/img/1573127/bg4.png);
}

.row-product.bg5 {
   background-image: url(https://cdn.comfy.ua/media/x/img/1573127/bg5.png);
   height: auto;
}

.row-product.bg6 {
   background-image: url(https://cdn.comfy.ua/media/x/img/1573127/bg6.png);
   height: auto;
}

.row-product.bg7 {
   background-image: url(https://cdn.comfy.ua/media/x/img/1573127/bg7.png);
   height: auto;
}

.row-product-text {
   position: absolute;
   background-color: rgba(255, 255, 255, 0.8);
}

.row-product-text-top {
   position: relative;
   padding-top: 5rem;
}

.bottom-block {
   bottom: 5rem;
}

.top-block {}

.width100-block {
   width: 100%;
}

.width840-block {
   width: 100%;
   max-width: 840px;
}

.center-text-block {
   text-align: center;
}

.left-text-block {
   text-align: left;
}

.product-using-flex {
   display: flex;
   flex-direction: row;
   align-items: center;
   position: relative;
   padding: 5rem 5rem 0rem 5rem;
}

.item-using {
   flex: 1 1 0;
}

.product-using-flex::before {
   content: "";
   background-image: url(https://cdn.comfy.ua/media/x/img/1573127/bg5_img3.png);
   background-repeat: no-repeat;
   background-size: contain;
   position: absolute;
   left: 0;
   right: 0;
   margin: 0 auto;
   display: block;
   top: 50%;
   transform: translateY(-50%);
   width: 145px;
   height: 214px;
}

p.pblok {
   color: #fff;
}

.product-effect-flex {
   display: flex;
   flex-direction: row;
   align-items: center;
   padding: 15px 5rem;
}

.item-effect {
   flex: 1 1 0;
}

.item-effect:nth-child(1) {}

.item-effect:nth-child(2) {}

.item-effect:nth-child(3) {}

#wrapper-cv9820 .list-item-effect b {
   font-size: 2.3rem;
}

#wrapper-cv9820 .list-item-effect p {
   padding: 0;
   font-size: 2rem;
}

.list-item-effect {
   padding-bottom: 15px;
}

.list-item-effect:last-child {
   padding-bottom: 0;
}

.list-effect {
   padding: 0 15px;
}

#wrapper-cv9820 .item-effect img {
   margin: 0 auto;
   display: block;
}

#wrapper-cv9820 .item-effect p.colorfff {
   color: #fff;
   font-size: 2.2rem;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
   .default_style h2 {
      font-size: 2.8rem;
      padding: 15px 15px 15px 15px;
   }

   .list-effect {
      padding: 15px 0;
   }

   .product-effect-flex {
      padding: 15px 15px;
      flex-direction: column;
   }

   #wrapper-cv9820 p {
      padding: 10px 0px;
   }

   .product-using-flex {
      display: flex;
      flex-direction: column;
   }

   .product-using-flex::before {
      display: none;
   }

   .product-using-flex {
      padding: 5rem 15px 0rem 15px;
   }

   .bottom-block {
      bottom: 5rem;
      padding: 0 15px;
   }

   span.word-wrap {
      word-wrap: break-word;
      display: initial;
   }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
   .product-effect-flex {
      flex-direction: column;
   }

   .product-using-flex::before {
      display: none;
   }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {}