.philips {
  max-width: 1023px;
  margin: 0 auto;
  width: 100%;
  margin: 0 auto;
  height: auto;
  box-sizing: border-box;
  overflow: hidden;
  color: #5d5d5d;
}
.philips img {
  margin: 0 auto;
  opacity: 1 !important;
  max-width: 100%;
  display: block;
  height: auto;
}
.philips img:hover {
  opacity: 1 !important;
}
.philips div {
  line-height: normal;
}
.philips ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.features-desc__text img {
  margin-bottom: 0rem;
}

.philips .container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

.logo {
  position: relative;
  color: #023278;
}

.logo__i {
  position: absolute;
  top: 0;
  left: 1.5em;
}
.logo__i img {
  max-width: 60%;
  margin: 0;
}

.logo__abs {
  position: absolute;
  bottom: 1em;
  left: 2em;
  max-width: 40%;
}

.logo__title {
  font-weight: bold;
  margin-top: 1em;
  font-size: clamp(20px, 2vw, 30px);
}

.philips__txt {
  font-size: clamp(16px, 1.3vw, 18px);
}

.philips__img img {
  min-width: 150%;
  margin-left: -50%;
}

.tech {
  padding: 2em;
}

.tech__row {
  display: flex;
  align-items: center;
  gap: 4em;
}

.tech__img {
  min-width: -moz-max-content;
  min-width: max-content;
}

.tech__cont {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.tech__item {
  display: flex;
  align-items: center;
  gap: 1em;
}

.tech__i {
  min-width: -moz-max-content;
  min-width: max-content;
}

.philips__note {
  font-size: clamp(12px, 1.2vw, 16px);
  margin-top: 35px;
}

.howright__wrap {
  padding: 2em;
}

.philips__blue {
  padding: 1em 1.5em;
  color: #fff;
  font-size: clamp(20px, 2vw, 30px);
  background-color: #023278;
}

.howright iframe {
  width: 100%;
  max-width: 100%;
  height: 50vh;
  display: block;
}

.philips__title {
  font-weight: bold;
  color: #1b66a1;
  font-size: clamp(20px, 3vw, 30px);
  margin-bottom: 3rem;
}

.versus__wrap {
  padding: 2em;
}

.versus__row {
  display: flex;
  align-items: center;
  gap: 1em;
}

.versus__cont {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.versus__img {
  min-width: -moz-max-content;
  min-width: max-content;
}

.func {
  padding: 2em;
  background-color: #1b66a1;
  color: #fff;
}

.func__wrap {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.func__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4em;
}
.func__row > div {
  flex-basis: 50%;
  box-sizing: border-box;
}
.func__row:nth-of-type(even) {
  flex-direction: row-reverse;
}

.complete__wrap {
  padding: 2em;
}

.complete__row {
  display: flex;
  align-items: center;
  gap: 4em;
}

.philips .complete__list {
  padding-left: 20px;
  list-style-type: disc;
  font-size: clamp(16px, 1.3vw, 18px);
  display: flex;
  flex-direction: column;
  gap: 1em;
  max-width: 500px;
}

.table__scroll {
  padding: 2em;
  overflow-x: scroll;
}

.table__wrap {
  min-width: 150%;
}

.table__txt {
  font-size: clamp(14px, 1.3vw, 16px);
  margin-bottom: 10px;
}

.table__grid__two {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  text-align: center;
  color: #000;
}
.table__grid__two > div {
  background-color: #8ba9d4;
  padding: 20px 25px;
}
.table__grid__two > div:nth-of-type(even) {
  background-color: #e4eefb;
}

.table__grid {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-areas: "cal1 cal1 cal1 cal1 cal1 cal1 cal1 cal1 cal1" "cal2 cal3 cal4 cal5 cal6 cal6 cal7 cal7 cal7";
}
.table__grid > div {
  padding: 0.5em;
  background-color: #8ba9d4;
  display: flex;
  justify-content: center;
}
.table__grid > div:nth-of-type(odd) {
  background-color: #dae4f1;
}
.table__grid .philips__title {
  margin-bottom: 0;
  padding-left: 0;
  color: #023278;
  background-color: unset !important;
  display: block !important;
  grid-area: cal1;
}
.table__grid .philips__title .philips__txt {
  font-weight: normal;
  color: #000;
  margin-top: 0.5rem;
}
.table__grid .philips__txt {
  color: #000;
}
.table__grid .philips__txt:nth-of-type(2) {
  grid-area: cal2;
}
.table__grid .philips__txt:nth-of-type(3) {
  grid-area: cal3;
}
.table__grid .philips__txt:nth-of-type(4) {
  grid-area: cal4;
}
.table__grid .philips__txt:nth-of-type(5) {
  grid-area: cal5;
}
.table__grid .philips__txt:nth-of-type(6) {
  grid-area: cal6;
}
.table__grid .philips__txt:nth-of-type(7) {
  grid-area: cal7;
}

.table__grid__three {
  grid-template-areas: "cal1 cal1 cal1 cal1 cal1 cal1 cal1 cal1 cal1" "cal2 cal2 cal2 cal2 cal3 cal3 cal4 cal4 cal4";
}
.table__grid__three > div {
  background-color: #dae4f1;
}
.table__grid__three > div:nth-of-type(odd) {
  background-color: #8ba9d4;
}
.table__grid__three .philips__txt:nth-of-type(2) {
  grid-area: "cal2";
}
.table__grid__three .philips__txt:nth-of-type(3) {
  grid-area: "cal3";
}
.table__grid__three .philips__txt:nth-of-type(4) {
  grid-area: "cal4";
}

@media (max-width: 1201px) {
  .philips .container {
    padding: 0 15px;
    box-sizing: border-box;
  }
  .logo__i {
    left: 1.2em;
    max-width: 20vw;
  }
  .logo__abs {
    left: 2em;
    bottom: 2em;
  }
  .logo__title {
    margin-top: 1em;
  }
  .tech {
    padding: 2em 0;
  }
  .tech__img {
    min-width: unset;
  }
  .howright__wrap {
    padding: 2em 0;
  }
  .howright iframe {
    height: 30vh;
  }
  .versus__wrap {
    padding: 2em 0;
  }
  .versus__cont {
    gap: 1em;
  }
  .func {
    padding: 2em 0;
  }
  .func__row {
    gap: 2em;
  }
  .func__cont {
    max-width: 45vw;
  }
  .complete__wrap {
    padding: 0;
  }
  .table__scroll {
    padding: 2em 0;
  }
  .table__grid__two > div,
  .table__grid > div {
    padding: 15px;
  }
  .table__i img {
    max-height: 205px;
  }
  .logo__img img {
    min-width: 150%;
    margin-left: -20%;
  }
  .tech__row {
    gap: 2em;
  }
  .tech__cont {
    gap: 1em;
  }
  .tech__i img {
    max-width: 60%;
  }
}
@media (max-width: 767.9px) {
  .logo {
    display: flex;
    flex-direction: column-reverse;
  }
  .logo__abs {
    position: unset;
    max-width: unset;
    padding: 1em 0;
  }
  .logo__img img {
    min-width: 150%;
    margin-left: -40%;
  }
  .logo__i {
    max-width: 30vw;
    left: 1em;
  }
  .tech__row {
    flex-direction: column;
    gap: 1em;
  }
  .tech__item {
    gap: 1em;
  }
  .tech__cont {
    max-width: 100%;
    gap: 2em;
  }
  .tech__i {
    min-width: 20vw;
    max-width: 20vw;
  }
  .philips__blue {
    padding: 1em;
  }
  .philips__title {
    margin-bottom: 1rem;
  }
  .versus__row {
    flex-direction: column;
    gap: 1em;
  }
  .versus__img img {
    max-height: 140vw;
  }
  .func__wrap {
    gap: 2em;
  }
  .func__row {
    flex-direction: column !important;
    gap: 1em;
  }
  .func__cont {
    max-width: 100%;
  }
  .complete {
    padding-bottom: 1em;
  }
  .complete__row {
    flex-direction: column;
    gap: 1em;
  }
  .howright iframe {
    height: 58vw;
  }
  .table__wrap {
    min-width: 960px;
  }
}