.features-desc__text img {
  margin-bottom: 0rem !important;
}

#bosch {
  max-width: 1316px;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  padding: 0px 0 40px 0;
}

#bosch h2 {
  margin: 0;
  padding: 0;
  line-height: normal;
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 28px;
}

#bosch p {
  font-size: 20px;
}

#bosch p strong {
  font-weight: normal;
  color: red;
}

#bosch p:first-letter {
  padding-left: 0;
}

#bosch ul {
  margin: 0;
  padding: 0;
}

#bosch ul li {
  list-style-type: none;
}

#bosch p {
  margin-bottom: 0;
}

#bosch img:hover {
  opacity: 1;
}

#bosch img {
  display: block;
  max-width: 100%;
  margin-right: initial;
  margin-left: initial;
}

#bosch .bosch_cont1 {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
          flex-direction: row-reverse;
  padding: 0 40px;
  -webkit-box-align: center;
          align-items: center;
}

#bosch .bosch_cont1 div,
#bosch .bosch_cont2 div {
  -webkit-box-flex: 1;
          flex: 1 1 0;
  max-width: 50%;
}

#bosch .bosch_cont1 .cont_txt1 {
  padding-left: 40px;
  box-sizing: border-box;
}

#bosch .bosch_cont2 {
  padding: 0 40px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-align: center;
          align-items: center;
}

#bosch .bosch_cont2 .cont_txt2 {
  text-align: right;
}

#bosch .bosch_cont2 .cont_txt2 {
  padding-right: 40px;
  box-sizing: border-box;
}

#bosch .bosch_cont3 {
  padding: 0;
}

#bosch .bosch_cont3 ul.cont3_list > li:first-of-type {
  margin-bottom: 40px;
}

#bosch .bosch_cont3 ul.cont3_list > li:first-of-type {
  text-align: center;
  position: relative;
}

#bosch .bosch_cont3 ul.cont3_list > li:first-of-type > p {
  text-align: right;
  position: absolute;
  top: 40px;
  right: 120px;
  max-width: 400px;
  z-index: 1;
}

#bosch .bosch_cont3 ul.cont3_list > li:first-of-type img {
  margin: 0 auto;
}

#bosch .bosch_cont3 ul.cont3_list > li:first-of-type ul.drink_list {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  margin-top: 20px;
}

#bosch .bosch_cont3 ul.cont3_list > li:first-of-type ul.drink_list li {
  font-weight: bold;
  font-size: 20px;
}

#bosch .bosch_cont3 ul.cont3_list > li:first-of-type ul.drink_list li:nth-of-type(2) {
  padding: 0 40px;
}

#bosch .bosch_cont3 ul.cont3_list > li:last-of-type {
  padding: 0 40px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
          align-items: center;
}

#bosch .bosch_cont3 ul.cont3_list li:last-of-type div {
  -webkit-box-flex: 1;
          flex: 1 1 0;
  max-width: 50%;
}

#bosch .bosch_cont3 ul.cont3_list li:last-of-type .cont_txt3 {
  padding-left: 40px;
}

#bosch .bosch_cont0 {
  padding: 40px;
  text-align: center;
}

#bosch .bosch_cont0 .cont_img0 {
  padding-bottom: 40px;
}

#bosch .bosch_cont0 .cont_img0 img {
  max-width: 70%;
  margin: 0 auto;
}

#bosch .bosch_cont0:last-of-type .cont_img0 img {
  margin: 0 auto;
  max-width: 40%;
}



@media (max-width: 812px) and (min-width: 481px) {
  #bosch .bosch_cont3 ul.cont3_list > li:last-of-type {
    padding: 0;
  }

  #bosch {
    padding: 20px 0;
  }

  #bosch .bosch_cont1,
  #bosch .bosch_cont2 {
    padding: 0 20px;
  }

  #bosch .bosch_cont1 .cont_txt1 {
    padding-left: 20px;
  }

  #bosch .bosch_cont2 .cont_txt2 {
    padding-right: 20px;
  }

  #bosch .bosch_cont3 {
    padding: 40px 20px;
  }

  #bosch h2 {
    font-size: 24px;
  }

  #bosch p {
    font-size: 18px;
  }

  #bosch .bosch_cont3 ul.cont3_list > li:first-of-type ul.drink_list li {
    font-size: 16px;
  }
}

@media (max-width: 480px) and (min-width: 320px) {
  #bosch h2 {
    font-size: 22px;
  }

  #bosch p {
    font-size: 18px;
  }

  #bosch .bosch_cont3 ul.cont3_list > li:first-of-type ul.drink_list li {
    font-size: 14px;
  }

  #bosch .bosch_cont1,
  #bosch .bosch_cont2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    padding: 0 20px;
  }

  #bosch .bosch_cont1 div, #bosch .bosch_cont2 div {
    max-width: 100%;
  }

  #bosch .bosch_cont1 .cont_txt1,
  #bosch .bosch_cont2 .cont_txt2,
  #bosch .bosch_cont3 ul.cont3_list li:last-of-type .cont_txt3 {
    padding: 20px 0;
    text-align: center;
  }

  #bosch .bosch_cont3 {
    padding: 40px 20px;
  }

  #bosch .bosch_cont3 ul.cont3_list > li:last-of-type {
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }

  #bosch .bosch_cont3 ul.cont3_list li:last-of-type div {
    max-width: 100%;
  }

  #bosch .bosch_cont3 ul.cont3_list > li:first-of-type ul.drink_list li:nth-of-type(2) {
    padding: 0 20px;
  }

  #bosch {
    padding: 20px 0;
  }


  #bosch .bosch_cont0 .cont_img0 img {
    max-width: 90% !important;
  }

  #bosch .bosch_cont0 {
    padding: 20px;
  }

  #bosch .bosch_cont3 ul.cont3_list > li:first-of-type > p {
    position: unset;
    text-align: center;
  }
}