//default styles

// body
//   margin: 0

.apple
   width: 100%
   max-width: 1920px
   margin: 0 auto
   height: auto
   display: block
   box-sizing: border-box
   overflow: hidden
   background-color: #000
   color: #fff
   p
      font-size: 20px
      line-height: 30px
      margin-bottom: 0
      margin: 0
      text-align: unset
      &:first-letter
         padding-left: 0
   h2
      text-align: unset
      display: block
      line-height: normal
      font-size: 34px
      font-weight: normal
      padding: 0
      margin: 0
   img
      margin: 0 auto
      opacity: 1 !important
      max-width: 100%
      display: block
      height: auto
      &:hover
         opacity: 1 !important
   ul
      list-style-type: none
      padding: 0
      margin: 0
   span
      display: block
      line-height: normal
   div
      line-height: normal
   video
      display: block
      margin: 0 auto
      max-width: 100%

.features-desc__text
   img
      margin-bottom: 0rem

.one-col .features-desc__text
   p:first-letter
      padding-left: 0rem !important

//end default styles

.apple .container
   width: 100%
   max-width: 100%
   margin: 0 auto

.apple__txt
   font-size: 24px
   font-weight: bold

.apple__txt__small
   font-size: 17px
   font-weight: bold

.apple__title
   font-size: 74px
   font-weight: bold

.apple__transparent__txt
   text-transform: uppercase
   font-size: 97px
   font-weight: bold
   -webkit-background-clip: text
   -webkit-text-stroke: 1px white
   color: #ffffff00

.apple__row__txt
   display: flex
   max-width: 1100px
   margin: 20px auto 0 auto
   .apple__title
      text-align: right
   .apple__txt
      max-width: 572px
      margin-left: 30px
      margin-top: 25px

.hide__mob
   display: block
.show__mob
   display: none !important

// section noize

.noize
   .apple__transparent__txt
      text-align: center
      margin-top: -12%
   .apple__row__txt
      margin-bottom: 100px

.afro
   max-width: 1018px !important

.noize__cont
   width: 1018px
   margin: 0 auto
   .apple__txt__small
      max-width: 400px
      margin-bottom: 20px

//section microphone

.microphone
   margin-top: 58px

.microphone__row
   display: flex
   max-width: 1260px
   margin: 0 auto
   justify-content: space-between
   .apple__txt__small
      flex: 1 1 0
      box-sizing: border-box
      &:nth-of-type(2)
         margin: 0 120px

//section adapt

.adapt
   margin-top: 300px

.adapt__txt
   font-size: 32px
   font-weight: bold
   max-width: 670px
   margin: 0 436px 0 auto

//section chip

.chip
   video
      max-width: 600px

//section sensor

.sensor
   margin-top: 100px
   display: flex
   align-items: center
   padding-right: 2em
   video
      margin: 0 0 0 -7%
      max-width: 200%

.sensor__line
   min-width: 305px
   height: 2px
   background-color: #fff
   margin-right: 60px
   margin-top: 6%

.sensor__row
   display: flex
   align-items: center

.sensor__txt
  // width: 572px
   width: 585px
   .apple__title
      margin-bottom: 40px

//section sound

.sound
   margin-top: 60px

.sound__row
   display: flex
   align-items: flex-end
   justify-content: center

.sound__txt
   max-width: 570px

.sound__img
   margin: 0 0 0 -160px
   img
      min-width: 382px

.sound__cont
   text-align: right
   max-width: 770px

//section power

.power
   margin-top: 280px

.power__title
   font-weight: bold
   text-align: center
   font-size: 90px

.power__row
   display: flex
   max-width: max-content
   align-items: flex-start
   margin: 200px auto 0
   div
      &:nth-of-type(3)
         margin-left: 30px
      &:nth-of-type(2)
         margin-left: 20px

.earpads
   display: flex
   align-items: center
   margin-top: 34px
   div
      &:nth-of-type(1)
         margin-left: 36px
      &:nth-of-type(2)
         margin-left: 26px
      &:nth-of-type(3)
         margin-left: 22px

//section magsafe

.magsafe
   margin-top: 380px

.magsafe__row
   display: flex
   padding-right: 2em

.magsafe__cont
   max-width: 675px
   margin-left: 159px
   .apple__title
      margin-bottom: 40px
      margin-top: -50px

.magsafe__btn
   margin-top: 140px
   text-decoration: none
   display: block
   cursor: pointer
   font-size: 13px
   color: #F7FCFF
   display: flex
   align-items: center
   padding: 14px 34px
   background-color: #43B02A
   border-radius: 6px
   width: max-content
   transition: background-color 0.3s
   &::before
      content: ""
      display: block
      width: 16px
      height: 13px
      background: url("https://cdn.comfy.ua/media/x/img/1659050/buy.svg") no-repeat center / contain
      margin-right: 10px
   &:hover
      background-color: #e25c1d

//section easy

.easy
   margin-top: 185px
   padding-bottom: 3em
   video
      max-height: 790px
   .apple__txt
      max-width: 570px
      margin-top: 100px

.easy__txt
   max-width: max-content
   margin: 0 20% 0 auto

//media*****************************************************

@media (max-width: 1440px)
   .apple__title
      font-size: calc(28px + (60 - 28) * ((100vw - 320px) / (1440 - 320)))
   .power__title
      font-size: calc(40px + (70 - 40) * ((100vw - 320px) / (1440 - 320)))
   .apple__txt
      font-size: calc(12px + (20 - 12) * ((100vw - 320px) / (1440 - 320)))
   .adapt__txt
      font-size: calc(16px + (28 - 16) * ((100vw - 320px) / (1440 - 320)))
   .magsafe,
   .power,
   .adapt,
   .easy
      margin-top: 6em
   .power__row
      margin-top: 8em
   .sensor__line
      display: none
   .sensor__row
      justify-content: center
   .sound__txt
      max-width: 530px
   .easy .apple__txt
      margin-top: 70px
   .magsafe__btn
      margin-top: 70px

@media (max-width: 1201px)
   .apple .container
      width: 960px
      padding: 0 15px
   .noize .apple__transparent__txt
      font-size: 70px
   .microphone__row .apple__txt__small:nth-of-type(2)
      margin: 0 2em
   .apple__transparent__txt
      font-size: 70px
   .apple__row__txt .apple__txt
      max-width: 530px
      margin-top: 15px
   .microphone__video video,
   .adapt__video video
      min-width: 150%
      margin-left: -25%
   .sensor video
      max-width: 150%
   .sound .apple__transparent__txt
      text-align: center
   .sound__img img
      min-width: unset
   .sound__row
      flex-direction: column
   .sound__img
      order: 0
      margin: 0 auto
      position: relative
   .sound__cont
      order: 1
      max-width: 100%
      width: 100%
      margin-top: -8%
   .apple__title
      text-align: left
      margin: 10px 0 20px 0
   .sound__txt
      order: 2
      max-width: 100%
   .power__row
      flex-wrap: wrap
      justify-content: center
      margin-top: 4em
      >div
         &:nth-of-type(1),
         &:nth-of-type(2)
            order: 1
            margin: 140px 0 175px 0
         &:nth-of-type(1)
            margin-right: 20px
         &:nth-of-type(3)
            order: 2
            width: 100%
            margin-left: 0
   .earpads
      order: 0
      width: 100%
      justify-content: center
      div
         &:nth-of-type(1)
            margin-left: 0
   .magsafe__row
      flex-direction: column-reverse
   .magsafe__cont
      margin-left: 0
      max-width: 100%
      margin-bottom: 100px
   .magsafe__cont .apple__title
      margin-top: -45px
   .magsafe__img img
      max-width: 700px
      margin: 0 0 0 -45px
   .magsafe__btn
      margin-top: 4em
      font-size: 18px
      padding: 23px 55px
   .magsafe__btn::before
      width: 21px
      height: 18px
      margin-right: 15px
   .easy .apple__txt
      margin-top: 40px

@media (max-width: 991px)
   .apple .container
      width: 720px

@media (max-width: 767px)
   .apple .container
      width: 540px
   .afro
      max-width: 150% !important
      margin-left: -25% !important
   .noize .apple__transparent__txt
      font-size: calc(26px + (30 - 26) * ((100vw - 320px) / (991 - 320)))

@media (max-width: 576px)
   .apple .container
      width: 100%
      box-sizing: border-box
   .apple__txt__small
      font-size: 12px

   .hide__mob
      display: none !important
   .show__mob
      display: block !important

   .apple__transparent__txt
      font-size: 55px
   .apple__row__txt
      display: block
   .apple__row__txt .apple__txt
      max-width: unset
      margin-left: 0
      margin-top: 10px
   .apple__row__txt .apple__title
      text-align: unset
   .noize .apple__row__txt
      margin-bottom: 2em
      max-width: 90%
   .noize__cont
      max-width: 100%
   .noize .apple__txt__small
      max-width: 100% !important
      box-sizing: border-box
      font-size: 12px
      margin-top: 20px
      max-width: 90% !important
      margin-right: auto
      margin-left: auto
   .microphone__video video
      min-width: 350%
      margin-left: -125%
   .microphone__row
      display: block
      max-width: 90%
   .microphone__row .apple__txt__small:nth-of-type(2)
      margin: 20px 0 !important
   .adapt
      display: flex
      flex-direction: column-reverse
   .adapt__txt
      margin: 0 auto
      max-width: 90%
   .adapt__video video
      min-width: 250%
      margin-left: -75%
   .chip
      margin-top: 100px
   .apple__row__txt
      max-width: 90%
   .chip video
      max-width: 100%
   .sensor
      flex-direction: column
      padding-right: 0
   .sensor video
      max-width: 220%
      margin-left: -35%
   .sensor__row
      max-width: 90%
      margin: 70px auto 0 auto
   .sensor__txt
      width: 100%
   .sound
      margin-top: 160px
   .apple__transparent__txt
      font-size: 55px
   .apple__txt__small
      // max-width: 90%
      margin-right: auto
      margin-left: auto
   .sound .apple__title
      margin-bottom: 40px
   .sound__cont
      margin-top: -17%
      margin-bottom: 10px
   .power__row
      >div
         &:nth-of-type(1),
         &:nth-of-type(2)
            max-width: calc(50% - 20px)
   .magsafe__row
      padding-right: 0
   .magsafe__btn
      margin-right: auto
      margin-left: auto
   .magsafe__img img
      max-width: 100%
   .magsafe__cont .apple__title
      margin-top: -7%
      margin-bottom: 15px
   .easy .apple__transparent__txt
      font-size: 70px
      // font-size: 100px
      text-align: right
      margin-bottom: 40px
   .easy__txt
      margin: 0
   .easy .apple__txt
      max-width: 90%
      margin-right: auto
      margin-left: auto
   .easy__img
      margin-right: 50px
   .easy
      margin-top: 3em
   .adapt
      margin-top: 0
