#matepadt10
	display: block
	margin: 0 auto
	max-width: 1316px
	width: 100%
	height: auto
	overflow: hidden
	background: #fff
	position: relative
	img
		&:hover
			opacity: 1
	&:first-letter
		padding-left: 0
	img
		display: block
		margin-right: initial
		margin-left: initial
	p
		font-size: calc(1rem + 0.5vw)
		margin-bottom: 0
		color: #211d1e
		padding-top: 15px
	h2
		font-size: calc(1rem + 2vw)
		line-height: 1.1
      // text-transform: uppercase
		letter-spacing: 3px
		color: #1861c4
	h3
		font-size: calc(1rem + 1vw)
		margin: 0
		padding-top: 0
		line-height: 1.1
		color: #000000
		letter-spacing: 2px
		text-align: inherit
		font-weight: bold
		padding-bottom: 25px
	li
		font-size: calc(1rem + 0.3vw)
		padding-bottom: 10px
		color: #211d1e
		&:last-child
			padding-bottom: 0
span.word-wrap
	display: block
	word-wrap: break-word
span.fw-bold
	font-weight: bold
span.tx-uppercase
	text-transform: uppercase
.content-w1200
	max-width: 1200px
	margin: 0 auto
	padding: 0 15px
.content-w1316
	max-width: 100%
// default

// media
// @media (max-width: 1250px)
// @media (max-width: 1024px)
// @media (max-width: 812px)
// @media (max-width: 480px)
