#mac-all
   display: block
   margin: 0 auto
   max-width: 1316px
   width: 100%
   height: auto
   overflow: hidden
   background: #f2f2f2
   position: relative
   img
      &:hover
         opacity: 1
   &:first-letter
      padding-left: 0
   img
      display: block
      margin-right: initial
      margin-left: initial
   p
      margin-bottom: 0
      font-size: 18px
      font-weight: 500
      color: #000000
   h2
      font-size: 36px
      line-height: 1.1
      line-height: 1
      padding-bottom: 25px
   h3
      font-size: 26px
      margin: 0
      padding-top: 0
      line-height: 1.1
      text-align: inherit
      font-weight: bold
   h4
      font-size: 24px
      margin: 0
      padding-top: 0
      line-height: 1.1
      text-align: inherit
      font-weight: bold
   .mac-all__text p
      font-size: 24px
span.word-wrap
   display: block
   word-wrap: break-word
span.word-wrap-header
   display: block
   word-wrap: break-word
// default
.mac-all__img-desk
   display: block
.mac-all__mob
   display: none

.mac-all-header
   background: #fff
   border-radius: 16px
   overflow: hidden
   margin: 15px 0 35px 0
.mac-all__flex
   display: flex
   align-items: center
.mac-all__item
   height: 100%
.mac-all__text
   text-align: left
   max-width: 600px
   width: 100%
   padding: 0 15px 0 80px
.mac-all-h3
   margin: 0 15px 25px 20px
.mac-all-tabs__flex
   display: flex
   align-items: flex-start
.mac-all-tabs__itemfl
   flex: 1 1 0
   overflow: hidden
.mac-all-tabs__text
   border-radius: 16px
   overflow: hidden
   background: #fff
   min-height: 330px
   &.lastbl
      background: rgba(255, 255, 255, 0)
.mac-all-tabs__text-wrap
   padding: 15px 40px 25px 40px
.mac-all-tabs__line
   background: #43B02A
   width: 100%
   height: 22px
   padding-bottom: 20px
.mac-all-tabs__p-bold
   padding-bottom: 20px
   text-align: left
.mac-all-tabs__h4
   padding-bottom: 20px
   display: flex
   align-items: center
   justify-content: space-between
.mac-all-tabs__list
   ul
      li
         position: relative
         font-weight: 500
         font-size: 18px
         color: #000
         padding-left: 15px
         padding-bottom: 25px
         line-height: 1.2
         max-width: 536px
         &:last-child
            padding-bottom: 0
         &::before
            content: ""
            width: 5px
            height: 5px
            border-radius: 50%
            background: #000
            position: absolute
            left: 0
            top: 7px
.margin-l
   margin-left: 12px
.margin-r
   margin-right: 12px
.mac-all-tabs__flex-icon
   display: flex
   align-items: flex-end
   justify-content: space-between
   padding-top: 10px
   max-width: 250px
.mac-all-tabs__flex-icon__item
   flex: 1 1 0
.mac-all-tabs__wp-flex
   display: flex
   align-items: center
.mac-all-tabs__wp-flex__item
   flex: 1 1 0
.mac-all-tabs__text__flex-img
   display: flex
   flex-direction: row
   flex-wrap: wrap
.padding__wrap
   padding-top: 35px
   border-bottom: 2px solid #CCCCCC
   padding-bottom: 35px
.mac-all-tabs__text__flex-img__item
   background: #fff
   padding: 0 27px
   min-height: 60px
   display: flex
   align-items: center
   justify-content: center
   border-radius: 118.7px
   margin: 15px
   &.color1
      box-shadow: 0px 7.14739px 16.2441px rgba(34, 89, 161, 0.32), inset 0px -4.54834px 8.44691px -5.1981px rgba(68, 68, 68, 0.25)
   &.color2
      box-shadow: 0px 7.14739px 16.2441px rgba(247, 215, 48, 0.43), inset 0px -4.54834px 8.44691px -5.1981px rgba(68, 68, 68, 0.25)
   &.color3
      box-shadow: 0px 7.14739px 16.2441px rgba(236, 23, 79, 0.29), inset 0px -4.54834px 8.44691px -5.1981px rgba(68, 68, 68, 0.25)
   &.color4
      box-shadow: 0px 7.14739px 16.2441px rgba(253, 210, 44, 0.5), inset 0px -4.54834px 8.44691px -5.1981px rgba(68, 68, 68, 0.25)
   &.color5
      box-shadow: 0px 7.14739px 16.2441px rgba(255, 0, 0, 0.3), inset 0px -4.54834px 8.44691px -5.1981px rgba(68, 68, 68, 0.25)
   &.color6
      box-shadow: 0px 7.14739px 16.2441px rgba(247, 215, 48, 0.43), inset 0px -4.54834px 8.44691px -5.1981px rgba(68, 68, 68, 0.25)
   &.color7
      box-shadow: 0px 7.14739px 16.2441px rgba(0, 120, 193, 0.23), inset 0px -4.54834px 8.44691px -5.1981px rgba(68, 68, 68, 0.25)
   &.color8
      box-shadow: 0px 7.14739px 16.2441px rgba(2, 154, 255, 0.23), inset 0px -4.54834px 8.44691px -5.1981px rgba(68, 68, 68, 0.25)
   &.color9
      box-shadow: 0px 7.14739px 16.2441px rgba(245, 124, 20, 0.39), inset 0px -4.54834px 8.44691px -5.1981px rgba(68, 68, 68, 0.25)
   &.color10
      box-shadow: 0px 7.14739px 16.2441px rgba(133, 35, 227, 0.36), inset 0px -4.54834px 8.44691px -5.1981px rgba(68, 68, 68, 0.25)
.mac-all-footer
   margin-top: 35px
   margin-bottom: 30px
.mac-all-footer__flex
   display: flex
.mac-all-footer__item
   background: #E9F5FF
   border-radius: 16px
   overflow: hidden
   padding: 28px
   flex: 1 1 0
   h4
      padding-bottom: 15px
   &.margin-r
      margin-right: 12px
   &.margin-l
      margin-left: 12px
.mac-all-footer__text
   text-align: left
.numsize
   color: #000000
   font-weight: bold
   font-size: 36px
   padding-top: 20px
// tab
.active-mob.tablinks.active
   background: #43B02A
   color: #fff
.active-mob-cont.tabcontent
   display: block
.tab
   overflow: hidden
   padding-bottom: 20px
   display: none
.tablinks
   background: #fff
   border-radius: 36px
   float: left
   border: none
   outline: none
   cursor: pointer
   padding: 0 15px
   transition: 0.3s
   font-size: 14px
   text-align: center
   color: #000
   margin-right: 8px
   min-height: 42px
   &.active
      background: #43B02A
      color: #fff
.tabcontent
   animation: fadeEffect 1s
@keyframes fadeEffect
   from
      opacity: 0

   to
      opacity: 1
// tab END
// media
// @media (max-width: 1250px)
@media (max-width: 1024px)
   .mac-all__text
      padding: 0 15px
   .mac-all-tabs__text__flex-img__item
      margin: 9px
@media (max-width: 812px)
   #mac-all
      h2
         font-size: 28px
      h3
         font-size: 23px
   #mac-all .mac-all__text p
      font-size: 18px
@media (max-width: 480px)
   #mac-all
      h2
         font-size: 20px
      h3
         font-size: 20px
      h4
         font-size: 18px
   .tab
      display: flex
      padding: 0 15px 20px 15px
      width: 390px
      justify-content: space-between
   .tab .tablinks
      font-size: 16px
   .tabcontent
      display: none
      padding: 0 10px 0 10px
   .mac-all__img-desk
      display: none
   .mac-all__mob
      display: block
   .mac-all__mob__bgrd
      position: relative
      box-shadow: inset 0px -4px 26px rgba(0, 0, 0, 0.25)
      height: 250px
      background: #43B02A
      overflow: hidden
      .mac-all__mob__all
         text-transform: uppercase
         color: #63BD4E
         font-weight: bold
         font-size: 42px
         position: relative
         padding: 4px 9px 0 9px
         z-index: 1
         text-align: center
      .mac-all__mob__img-left,.mac-all__mob__img-right
         position: absolute
      .mac-all__mob__img-left
         left: -70px
         bottom: 5px
         z-index: 2
      .mac-all__mob__img-right
         right: -70px
         bottom: 20px
         z-index: 3
   .mac-all__text
      padding: 21px 25px 21px 25px
   .mac-all-header
      border-radius: 0
      margin: 2px 0 52px 0
   .margin-r
      margin-right: 0
   .margin-l
      margin-left: 0
   .mac-all-tabs__text
      border-radius: 0
      min-height: auto
   .mac-all-tabs__text-wrap
      padding: 10px 15px 20px 15px
   .mac-all-tabs__flex-icon
      max-width: 100%
   .mac-all-tabs__flex-icon__item
      display: flex
      align-items: center
      justify-content: center
   .mac-all-tabs__list ul li
      font-size: 17px
   .mac-all-tabs__wp-flex
      flex-direction: column
   .mac-all-tabs__text.lastbl
      background: #fff
   .mac-all-tabs__text__flex-img
      justify-content: space-between
      padding: 10px 10px 20px 10px
   .mac-all-tabs__text__flex-img__item
      padding: 0 10px
      min-height: 45px
      margin: 7px
      max-width: 29%
   .padding__wrap
      padding-top: 0px
      padding-bottom: 25px
   .mac-all-footer__flex
      flex-direction: column
      padding: 0 10px
   .mac-all-footer__item
      flex: 1 1 auto
      padding: 25px 15px 25px 15px
   .mac-all-footer__item.margin-r
      margin-right: 0
      margin-bottom: 17px
   .mac-all-footer__item.margin-l
      margin-left: 0
   .numsize
      font-size: 30px
   .mac-all-footer
      margin-top: 25px
      margin-bottom: 25px
   .tab-overflow-mob
      overflow: scroll
@media (max-width: 321px)
   .mac-all-tabs__text__flex-img__item
      max-width: 45%
