#philips_wrap_id p:first-letter {
  padding-left: 0;
}

#philips_wrap_id p {
  margin-bottom: 0;
}

#philips_wrap_id img:hover {
  opacity: 1;
}

#philips_wrap_id img {
  opacity: 1;
  max-width: 100%;
  display: block;
  margin: 0;
}

#philips_wrap_id {
  max-width: 1316px;
  margin: 0 auto;
  height: auto;
  display: block;
  background-color: #fff;
}

.features-desc__text img {
  margin-bottom: 0rem;
}

.one-col .features-desc__text p:first-letter {
  padding-left: 0rem !important;
}

.philips_wrap {
  width: 100%;
  max-width: 1316px;
  height: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
}

.philips_wrap img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.philips_wrap ul li {
  list-style-type: none;
}

.philips_wrap h1 {
  font-size: 38px;
  padding: 0;
  margin: 0;
  line-height: normal;
  color: #ffffff;
  font-weight: bold;
}

.philips_wrap h2 {
  font-size: 29px;
  padding: 0;
  margin: 0;
  line-height: normal;
  font-weight: bold;
}

.philips_wrap h2 strong {
  font-weight: bold;
}

.philips_wrap p {
  font-size: 20px !important;
  line-height: normal;
  color: #616266;
}

/*************************************************************************************/

.philips_wrap .logo {
  display: block;
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0 70px;
  background-image: url("https://cdn.comfy.ua/media/x/img/1460164/bg_sect1.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 606px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.philips_wrap .logo .logo_img {
  display: block;
  position: relative;
  top: -10px;
  left: -9px;
}

.philips_wrap .logo .logo_text {
  display: block;
  position: absolute;
  bottom: 50px;
}

.philips_wrap .logo .logo_text h1 {
  margin-top: 50px;
}

.philips_wrap .logo .logo_text h2 {
  font-weight: normal;
  color: #ffffff;
}

.philips_wrap .logo .logo_text span {
  line-height: normal;
  font-size: 24px;
  color: #ffffff;
}

/*end section 1*/

/**********************************************************/

.philips_wrap .philips_settings {
  position: relative;
  width: 100%;
  height: 745px;
  background-image: url(https://cdn.comfy.ua/media/x/img/1460164/bg.png);
  background-position: center top 33%;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.philips_wrap .philips_settings ul.settings_column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 70px 50px;
  padding: 0;
}

.philips_wrap .philips_settings ul.settings_column li .settings_text p {
  color: white;
  font-size: 18px !important;
  text-shadow: 0 0 0px black, 0 0 3px black;
  line-height: normal !important;
}

.philips_wrap .philips_settings ul.settings_column li .settings_text p:first-child {
  margin-bottom: 10px !important;
}

.philips_wrap .philips_settings ul.settings_column li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  max-height: 100px;
  margin-bottom: 50px;
}

.philips_wrap .philips_settings ul.settings_column li .settings_text {
  max-width: 350px;
}

.philips_wrap .philips_settings ul.settings_column li::before {
  display: block;
  content: '';
  min-width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 20px;
  background-size: contain;
}

.philips_wrap .philips_settings ul.settings_column:first-child li:nth-child(1)::before {
  background-image: url("https://cdn.comfy.ua/media/x/img/1460164/icon1_sect2.png");
}

.philips_wrap .philips_settings ul.settings_column:first-child li:nth-child(2)::before {
  background-image: url("https://cdn.comfy.ua/media/x/img/1460164/icon1_sect3.png");
}

.philips_wrap .philips_settings ul.settings_column:first-child li:nth-child(3)::before {
  background-image: url("https://cdn.comfy.ua/media/x/img/1460164/icon2_sect3.png");
}

.philips_wrap .philips_settings ul.settings_column:first-child li:nth-child(4)::before {
  background-image: url("https://cdn.comfy.ua/media/x/img/1460164/icon2.png");
}

.philips_wrap .philips_settings ul.settings_column:nth-child(2) li:nth-child(1)::before {
  background-image: url("https://cdn.comfy.ua/media/x/img/1460164/icon4_sect3.png");
}

.philips_wrap .philips_settings ul.settings_column:nth-child(2) li:nth-child(2)::before {
  background-image: url("https://cdn.comfy.ua/media/x/img/1460164/icon5_sect3.png");
}

.philips_wrap .philips_settings ul.settings_column:nth-child(2) li:nth-child(3)::before {
  background-image: url("https://cdn.comfy.ua/media/x/img/1460164/icon3.png");
}

.philips_wrap .philips_settings span {
  display: block;
  position: absolute;
  bottom: 50px;
  right: 120px;
  color: white;
  text-shadow: 0 0 0px black, 0 0 3px black;
}

/************************************************************/

.philips_wrap .brown_text span {
  display: block;
  line-height: normal;
  font-size: 42px;
  color: white;
  background-color: #4d141f;
  padding: 20px 70px;
}

/*end brown string text*/

.philips_wrap .pena_system {
  padding: 0 70px;
}

.philips_wrap .pena_system .pena_bg {
  margin: 0 auto;
  background-image: url("https://cdn.comfy.ua/media/x/img/1460164/bg_sect2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  max-width: 1178px;
  height: 474px;
}

.philips_wrap .pena_system .pena_row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 60px 0;
}

.philips_wrap .pena_system .pena_row::before {
  content: '';
  display: block;
  min-width: 208px;
  min-height: 208px;
  background-image: url("https://cdn.comfy.ua/media/x/img/1460164/icon1_sect2.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 30px;
}

.philips_wrap .pena_system ul.pena_col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 40px;
}

.philips_wrap .pena_system ul.pena_col li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 0px;
  flex: 1 1 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 345px;
}

.philips_wrap .pena_system ul.pena_col li .pena_text {
  padding-top: 40px;
  max-width: 345px;
}

.philips_wrap .pena_system ul.pena_col li .pena_text h2 {
  padding-bottom: 20px;
  color: #4d141f;
}


.philips_wrap .pena_system ul.pena_col li .pena_img img {
  max-height: 230px;
}

.philips_wrap .pena_system span {
  display: block;
  color: #616266;
  font-size: 12px;
  line-height: normal;
  /* padding: 0 20px; */
}

/*end section 2*/

.philips_wrap .coffee {
  padding: 60px 70px;
}

.philips_wrap .coffee ul.coffe_plitka li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.philips_wrap .coffee ul.coffe_plitka li:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.philips_wrap .coffee ul.coffe_plitka li .coffe_img,
.philips_wrap .coffee ul.coffe_plitka li .coffe_text {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 0px;
  flex: 1 1 0;
  max-width: 50%;
}

.philips_wrap .coffee ul.coffe_plitka li .coffe_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.philips_wrap .coffee ul.coffe_plitka li:nth-child(even) .coffe_text {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.philips_wrap .coffee ul.coffe_plitka li .coffe_text::before {
  content: '';
  display: block;
  min-width: 207px;
  min-height: 207px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0px 30px;
}

.philips_wrap .coffee ul.coffe_plitka li:nth-child(1) .coffe_text::before {
  background-image: url("https://cdn.comfy.ua/media/x/img/1460164/icon1_sect3.png");
}

.philips_wrap .coffee ul.coffe_plitka li:nth-child(2) .coffe_text::before {
  background-image: url("https://cdn.comfy.ua/media/x/img/1460164/icon2_sect3.png");
}

.philips_wrap .coffee ul.coffe_plitka li:nth-child(3) .coffe_text::before {
  background-image: url("https://cdn.comfy.ua/media/x/img/1460164/icon3_sect3.png");
}

.philips_wrap .coffee ul.coffe_plitka li:nth-child(4) .coffe_text::before {
  background-image: url("https://cdn.comfy.ua/media/x/img/1460164/icon4_sect3.png");
}

.philips_wrap .coffee ul.coffe_plitka li:nth-child(5) .coffe_text::before {
  background-image: url("https://cdn.comfy.ua/media/x/img/1460164/icon5_sect3.png");
}

.philips_wrap .coffee ul.coffe_plitka li:last-child .coffe_text {}

/* .philips_wrap .coffee ul.coffe_plitka li:last-child .coffe_text::before {
  display: none;
} */

.philips_wrap .coffee ul.coffe_plitka li .coffe_text h2 {
  color: #4d141f;
  margin-bottom: 20px;
}

.philips_wrap .coffee span {
  display: block;
  color: #616266;
  font-size: 12px;
  line-height: normal;
  margin-top: 40px;
}

/*end section 3*/

.philips_wrap .philips_table {
  padding: 70px;
}

.philips_wrap .philips_table ul.phil_tab_plitka {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-width: 728px;
}

.philips_wrap .philips_table ul.phil_tab_plitka li {
  max-width: 33%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #eeaf00;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px;
}

.philips_wrap .philips_table ul.phil_tab_plitka li:nth-child(2) {
  margin: 0 70px;
  background-color: #fff2d1;
}

.philips_wrap .philips_table ul.phil_tab_plitka li .phil_img {
  text-align: center;
  margin: 50px 0;
}

.philips_wrap .philips_table ul.phil_tab_plitka li .phil_img img {
  margin: 0 auto !important;
}

.philips_wrap .philips_table h2 {
  color: #4d141f;
  padding: 20px 0;
}

.philips_wrap .philips_table p {
  color: #000;
}

/*end section 4*/


/*MEDIA*/

@media (max-width: 1024px) and (min-width: 813px) {
  .philips_wrap .brown_text span {
    font-size: 32px;
  }

  .philips_wrap .pena_system .pena_bg {
    height: 357px;
  }

  .philips_wrap .pena_system ul.pena_col li:nth-child(2) {
    padding: 0 30px;
  }

  .philips_wrap .coffee ul.coffe_plitka li .coffe_text::before {
    min-width: 164px;
    min-height: 164px;
    margin: 0 15px;
  }

  .philips_wrap .coffee ul.coffe_plitka li:last-child .coffe_text {
    padding-right: 60px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  .philips_wrap .coffee ul.coffe_plitka li:last-child .coffe_text::before {
    display: none;
  }

  .philips_wrap p {
    line-height: 1.1;
  }


}

@media (max-width: 812px) and (min-width: 481px) {
  .philips_wrap .logo {
    padding: 0 20px;
  }

  .philips_wrap .brown_text span {
    padding: 10px 20px;
    font-size: 26px;
  }

  .philips_wrap .pena_system {
    padding: 0;
  }

  .philips_wrap .pena_system .pena_bg {
    background-size: cover;
    background-position: left;
  }

  .philips_wrap .pena_system .pena_row {
    padding: 40px 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  .philips_wrap .pena_system .pena_row::before {
    min-width: 190px;
    min-height: 190px;
  }

  .philips_wrap .pena_system ul.pena_col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .philips_wrap .pena_system ul.pena_col li {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    max-width: unset;
  }

  .philips_wrap .pena_system ul.pena_col li .pena_img img {
    max-height: unset;
  }

  .philips_wrap .pena_system ul.pena_col li .pena_text {
    max-width: unset;
    padding: 40px 20px;
  }

  .philips_wrap .coffee {
    padding: 0px;
  }

  .philips_wrap .coffee ul.coffe_plitka li {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .philips_wrap .coffee ul.coffe_plitka li:nth-child(even) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .philips_wrap .coffee ul.coffe_plitka li .coffe_text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .philips_wrap .coffee ul.coffe_plitka li:nth-child(even) .coffe_text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .philips_wrap .coffee ul.coffe_plitka li .coffe_img,
  .philips_wrap .coffee ul.coffe_plitka li .coffe_text {
    max-width: 100%;
  }

  .philips_wrap .coffee ul.coffe_plitka li .coffe_text {
    padding: 0 20px;
    margin-bottom: 20px;
  }

  ul.coffe_plitka li .coffe_img {
    width: 100%;
  }

  ul.coffe_plitka li .coffe_img img {
    width: 100%;
  }

  .philips_wrap .coffee ul.coffe_plitka li .coffe_text::before {
    margin-top: 60px;
    margin-bottom: 30px;
  }

  .philips_wrap .coffee ul.coffe_plitka li:last-child .coffe_text {
    margin-top: 60px;
  }

  .philips_wrap .coffee ul.coffe_plitka li:last-child .coffe_text::before {
    display: none;
  }

  .philips_wrap .coffee span {
    padding: 0 20px 60px 20px;
  }

  .philips_wrap .pena_system span {
    padding: 0 20px;
  }

  .philips_wrap .philips_table {
    padding: 20px;
  }

  .philips_wrap .philips_table {
    padding: 20px;
    overflow: scroll;
  }

  .philips_wrap .philips_table ul.phil_tab_plitka {
    overflow-x: scroll;
  }


  .philips_wrap .philips_settings ul.settings_column li .settings_text {
    max-width: unset;
  }

  .philips_wrap .philips_settings {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    padding-top: 50px;
  }

  .philips_wrap .philips_settings ul.settings_column {
    margin: 0px 20px;
  }

  .philips_wrap .philips_settings ul.settings_column li .settings_text p:first-child {
    margin-bottom: 10px;
  }

  .philips_wrap .philips_settings span {
    right: 50px;
  }
}

@media (max-width: 480px) and (min-width: 320px) {
  .philips_wrap .logo {
    padding: 0 20px;
  }

  .philips_wrap .brown_text span {
    padding: 10px 20px;
    font-size: 24px;
  }

  .philips_wrap .pena_system {
    padding: 0;
  }

  .philips_wrap .pena_system .pena_bg {
    background-size: cover;
  }

  .philips_wrap .pena_system .pena_row {
    padding: 40px 20px;
    padding-bottom: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .philips_wrap .pena_system .pena_row::before {
    min-width: 190px;
    min-height: 190px;
    margin-right: 0;
    margin-bottom: 30px;
  }

  .philips_wrap .pena_system ul.pena_col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .philips_wrap .pena_system ul.pena_col li {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    max-width: unset;
  }

  .philips_wrap .pena_system ul.pena_col li .pena_img img {
    max-height: unset;
  }

  .philips_wrap .pena_system ul.pena_col li .pena_text {
    max-width: unset;
    padding: 40px 20px;
  }

  .philips_wrap .coffee {
    padding: 0px;
  }

  .philips_wrap .coffee ul.coffe_plitka li {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .philips_wrap .coffee ul.coffe_plitka li:nth-child(even) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .philips_wrap .coffee ul.coffe_plitka li .coffe_text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .philips_wrap .coffee ul.coffe_plitka li:nth-child(even) .coffe_text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .philips_wrap .coffee ul.coffe_plitka li .coffe_img,
  .philips_wrap .coffee ul.coffe_plitka li .coffe_text {
    max-width: 100%;
  }

  .philips_wrap .coffee ul.coffe_plitka li .coffe_text {
    padding: 0 20px;
    margin-bottom: 20px;
  }

  ul.coffe_plitka li .coffe_img {
    width: 100%;
  }

  ul.coffe_plitka li .coffe_img img {
    width: 100%;
  }

  .philips_wrap .coffee ul.coffe_plitka li .coffe_text::before {
    margin-top: 40px;
    margin-bottom: 30px;
    margin-right: 0;
    margin-left: 0;
  }

  .philips_wrap .coffee ul.coffe_plitka li:last-child .coffe_text {
    margin-top: 60px;
  }

  .philips_wrap .coffee ul.coffe_plitka li:last-child .coffe_text::before {
    display: none;
  }

  .philips_wrap .coffee span {
    padding: 20px 20px 20px 20px;
    margin: 0;
  }

  .philips_wrap p {
    font-size: 18px !important;
  }

  .philips_wrap h2 {
    font-size: 26px;
  }

  .philips_wrap .pena_system span {
    padding: 0 20px;
  }

  .philips_wrap .philips_table {
    padding: 20px 0;
    overflow: scroll;
  }

  .philips_wrap .philips_table ul.phil_tab_plitka {
    overflow-x: scroll;
  }

  .philips_wrap .philips_settings ul.settings_column li .settings_text {
    max-width: unset;
  }

  .philips_wrap .philips_settings {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    padding-top: 30px;
    background-position: left;
  }

  .philips_wrap .philips_settings ul.settings_column {
    margin: 0px 20px;
  }

  .philips_wrap .philips_settings ul.settings_column li .settings_text p {
    font-size: 15px !important;
  }

  .philips_wrap .philips_settings ul.settings_column li::before {
    min-width: 80px;
  }

  .philips_wrap .philips_settings ul.settings_column li {
    margin-bottom: 30px;
  }

  .philips_wrap .philips_settings span {
    position: unset;
    padding: 30px 20px;
  }

  .philips_wrap .philips_table ul.phil_tab_plitka li:nth-child(2) {
    margin: 0 20px;
  }

}