#apple13
   display: block
   margin: 0 auto
   width: 100%
   height: auto
   overflow: hidden
   background: #fff
   position: relative
   img
      &:hover
         opacity: 1
   &:first-letter
      padding-left: 0
   img
      display: block
      margin-right: initial
      margin-left: initial
   p
      font-size: 20px
      margin-bottom: 0
      color: #010101
   h2
      font-size: 80px
      line-height: 1
      font-weight: bold
      line-height: 120px
   h3
      font-size: 32px
      margin: 0
      padding-top: 0
      line-height: 1
      text-align: inherit
      font-weight: bold
   a
      display: block
      color: #FFFFFF
      font-size: 20px
      text-align: center
      width: 260px
      padding: 20px 0
      font-weight: bold
      border-radius: 42px
   .marginbtm
      margin-bottom: 16px
span.word-wrap
   display: block
   word-wrap: break-word
span.fw-bold
   font-weight: bold
span.tx-uppercase
   text-transform: uppercase
.features-desc__text h2
   text-align: inherit
.one-col .features-desc__text p
   text-align: inherit
.main-container.page
   padding-left: 0
   padding-right: 0
.main-container_gray
   background: #fff
// default
.apple13-header
   max-width: 1920px
   margin: 0 auto
.apple13-header__container
   padding: 80px 0 0 0
.apple13-header__h2
   position: relative
   display: table
   margin: 0 auto 50px auto
   text-align: center
   padding-right: 90px
   &::after
      content: ""
      background-image: url(https://cdn.comfy.ua/media/x/img2/apple13/Group_2742.svg)
      background-repeat: no-repeat
      background-size: cover
      width: 70px
      height: 70px
      position: absolute
      right: 0
      top: 50%
      transform: translateY(-50%)
   h2
      background: linear-gradient(109.48deg, #364F87 -2.96%, #C3768E 106.09%)
      -webkit-background-clip: text
      -webkit-text-fill-color: transparent
.apple13-header__flex
   display: flex
   align-items: center
   margin: 0 auto
   padding: 0 170px 0 170px
.apple13-header__item
   flex: 1 1 0
.videoblock
   max-width: 716px
   width: 100%
   height: auto
   margin: 0 0 0 auto
   display: block
.apple13-header__text
   h2
      background: linear-gradient(109.48deg, #364F87 -2.96%, #C3768E 106.09%)
      -webkit-background-clip: text
      -webkit-text-fill-color: transparent
   .apple13-header__p
      text-align: left
      padding: 24px 0 32px 0
   a
      background: linear-gradient(109.48deg, #364F87 -2.96%, #C3768E 106.09%)
.apple13-advantage
   max-width: 1920px
   margin: 0 auto
   padding-bottom: 160px
   &.pddbl0
      padding-bottom: 0
.apple13-advantage__container-grid
   display: grid
   grid-gap: 32px
   &.grid-temp1
      grid-template-columns: 39.044% 1fr
      margin-bottom: 32px
   &.grid-temp2
      grid-template-columns: 1fr 1fr
.apple13-advantage__content
   background: #F5F5F7
   text-align: left
   height: 100%
   &.content__pdd1
      padding: 40px 60px 60px 170px
   &.content__pdd2
      padding: 40px 170px 60px 50px
   span
      display: block
      line-height: 1
      font-size: 16px
      color: #999999
      text-align: right !important
.apple13-advantage__content-h3
   padding: 34px 0 16px 0
.apple13-advantage__content-h2
   padding: 0px 0 16px 0
   h2
      background: linear-gradient(90deg, #ED7A72 0%, #6F39C7 100%)
      -webkit-background-clip: text
      -webkit-text-fill-color: transparent
.apple13-parallax
   position: relative
   background: #FDDFDC
   max-width: 1920px
   margin: 0 auto
   height: 800px
   overflow: hidden
.apple13-parallax__container-bgrd
   background-image: url(https://cdn.comfy.ua/media/x/img2/apple13/img6.png)
   background-attachment: fixed
   background-position: bottom center
   background-repeat: no-repeat
   // background-size: cover
   height: 800px
   max-width: 1024px
   margin: 0 auto
   bottom: 0
   position: absolute
   left: 0
   right: 0
.apple13-parallax__h2
   padding-top: 64px
   text-align: center
   h2
      background: linear-gradient(90deg, #82045F 0%, #FD7EA9 100%)
      -webkit-background-clip: text
      -webkit-text-fill-color: transparent
.apple13-text-cont
   max-width: 1920px
   margin: 0 auto
.apple13-text-cont__container
   padding: 100px 15px 75px 15px
.apple13-text-cont__h2
   text-align: center
   &.color1bg
      background: linear-gradient(90deg, #82045F 0%, #FD7EA9 100%)
      -webkit-background-clip: text
      -webkit-text-fill-color: transparent
   &.color2bg
      background: linear-gradient(90deg, #F5C242 0%, #EA334B 100%)
      -webkit-background-clip: text
      -webkit-text-fill-color: transparent
.apple13-text-cont__p
   text-align: center
   padding: 32px 0
   max-width: 675px
   margin: 0 auto
   &.pddbl0text
      padding: 0 0 32px 0
.apple13-text-cont__a
   text-align: center
   margin: 0 auto
   display: table
   a
      &.color1a
         background: linear-gradient(90deg, #82045F 0%, #FD7EA9 100%)
      &.color2a
         background: linear-gradient(90deg, #F5C242 0%, #EA334B 100%)
.apple13-text-cont__img img
   margin: 0 auto !important
.apple13-watch
   max-width: 1920px
   margin: 0 auto
   padding-bottom: 160px
.apple13-watch__container-grid
   display: grid
   grid-template-columns: 28% 1fr
   grid-gap: 32px
.apple13-watch__container-video
   padding-left: 185px
   height: 100%
   background: #F5F5F7
   display: flex
   align-items: center
.apple13-watch__container-gridbl
   display: grid
   grid-gap: 32px
   &.gridbl-temp1
      grid-template-columns: 44% 1fr
      margin-bottom: 32px
   &.gridbl-temp2
      grid-template-columns: 56% 1fr
.apple13-watch__container-gridbl__item
   padding: 40px 60px 60px 40px
   background: #f7f5f9
.apple13-watch__container-gridbl__item__h2 h2
   background: linear-gradient(90deg, #F5C242 0%, #EA334B 100%)
   -webkit-background-clip: text
   -webkit-text-fill-color: transparent
.apple13-watch__container-gridbl__item__p
   text-align: left
   padding-top: 16px
.apple13-watch__container-gridbl__item__img
   height: 120px
   display: flex
   align-items: center
.apple13-ipadbl
   max-width: 1920px
   margin: 0 auto
   margin-bottom: 90px
.apple13-ipadbl__container-flex
   display: flex
   align-items: center
   padding: 0 170px
.apple13-ipadbl__container-flex__item
   flex: 1 1 0
.apple13-ipadbl__container-flex__text
   display: flex
   flex-direction: column
   align-items: center
   padding: 15px
.apple13-ipadbl__container-flex__p
   text-align: center
   padding: 24px 0 32px 0
.apple13-ipadbl__container-flex__a a
   background: linear-gradient(90deg, #ED7A72 0%, #6F39C7 100%)
.apple13-ipadbl__container-flex__img
   max-width: 655px

.apple13-parallax2
   position: relative
   max-width: 1920px
   margin: 0 auto
   height: 900px
   overflow: hidden
.apple13-parallax2__container-bgrd
   background-image: url(https://cdn.comfy.ua/media/x/img2/apple13/img10.png)
   background-attachment: fixed
   background-position: bottom center
   background-repeat: no-repeat
   // background-size: cover
   height: 900px
   max-width: 940px
   margin: 0 auto
   bottom: 0
   position: absolute
   left: 0
   right: 0
.apple13-parallax2__h2
   text-align: center
   h2
      background: linear-gradient(90deg, #DA3B18 0%, #EDBC41 100%)
      -webkit-background-clip: text
      -webkit-text-fill-color: transparent
.apple13-parallax2__p
   padding: 24px 0
   max-width: 715px
   margin: 0 auto
   text-align: center
   p
      text-shadow: 0 0 3px #ffffff
.apple13-parallax2__a a
   background: linear-gradient(90deg, #DA3B18 0%, #EDBC41 100%)
.apple13-parallax2__a
   display: table
   margin: 0 auto
.apple13-parallax2__content
   padding-top: 100px
.apple13-footer
   max-width: 1920px
   margin: 0 auto
.apple13-footer__container-grid
   display: grid
   grid-template-columns: 1fr 1fr
   grid-gap: 32px
.apple13-footer__item
   background: #F5F5F7
   &.pdditm1
      padding: 40px 100px 60px 170px
   &.pdditm2
      padding: 40px 100px 60px 40px
.apple13-footer__h2 h2
   background: linear-gradient(90deg, #DA3B18 0%, #EDBC41 100%)
   -webkit-background-clip: text
   -webkit-text-fill-color: transparent
.apple13-footer__p
   padding-top: 16px
// acordion END
// media
@media (max-width: 1666px)
   #apple13 h2
      font-size: 75px
      line-height: 100px
   .videoblock
      max-width: 530px
      margin: 0 auto
   .apple13-header__flex
      padding: 0 30px 0 35px
   .apple13-header__container
      padding: 20px 0 0 0
   .apple13-header__h2
      margin: 0 auto 5px auto
   .apple13-advantage__content.content__pdd1
      padding: 40px 35px 50px 35px
   .apple13-advantage__content.content__pdd2
      padding: 40px 35px 50px 35px
   .apple13-watch__container-video
      padding-left: 20px
   .apple13-footer__item.pdditm1
      padding: 40px 35px 50px 35px
   .apple13-advantage
      padding-bottom: 100px
   .apple13-watch__container-gridbl__item
      padding: 40px 35px 50px 35px
   .apple13-ipadbl__container-flex
      padding: 0 35px
   .apple13-watch
      padding-bottom: 100px
   .apple13-parallax2
      height: 950px
   .apple13-parallax2__container-bgrd
      height: 950px
      background-attachment: inherit
// @media (max-width: 1024px)
// @media (max-width: 812px)
// @media (max-width: 480px)
