#note11pro5g {
  display: block;
  margin: 0 auto;
  max-width: 1920px;
  width: 100%;
  height: auto;
  overflow: hidden;
  background: #fff;
  position: relative;
}
#note11pro5g img:hover {
  opacity: 1;
}
#note11pro5g:first-letter {
  padding-left: 0;
}
#note11pro5g img {
  display: block;
  margin-right: initial;
  margin-left: initial;
}
#note11pro5g p {
  font-size: 40px;
  margin-bottom: 0;
}
#note11pro5g h2 {
  font-size: 192px;
  line-height: 1;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #43b02a;
}
#note11pro5g h3 {
  font-size: 50px;
  margin: 0;
  padding-top: 0;
  line-height: 1;
  font-weight: bold;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}
#note11pro5g h4 {
  font-size: 50px;
  margin: 0;
  padding-top: 0;
  line-height: 1;
  font-weight: bold;
  text-align: center;
  color: #43b02a;
  text-transform: uppercase;
}

.breadcrumbs {
  display: none;
}

span.word-wrap {
  display: block;
  word-wrap: break-word;
}

span.fw-bold {
  font-weight: bold;
}

span.tx-uppercase {
  text-transform: uppercase;
}

.features-desc__text h2 {
  text-align: inherit;
}

.one-col .features-desc__text p {
  text-align: inherit;
}

.main-container.page {
  padding-left: 0;
  padding-right: 0;
}

.note11pro5g__anim {
  position: relative;
}

.note11pro5g__anim-content {
  background-repeat: no-repeat;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  position: relative;
}