#bosch
	display: block
	margin: 0 auto
	max-width: 1316px
	width: 100%
	height: auto
	overflow: hidden
	position: relative
	padding-bottom: 15px
	img
		&:hover
			opacity: 1
	&:first-letter
		padding-left: 0
	img
		display: block
		margin-right: initial
		margin-left: initial
span.word-wrap
	display: block
	word-wrap: break-word
span.fw-bold
	font-weight: bold
span.tx-uppercase
	text-transform: uppercase
.breadcrumbs
	display: none
// default
.bosch-container
	position: relative
.bosch__logo
	padding: 0 0 15px 0
// .bosch__grid
// 	display: grid
// 	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr
// 	grid-gap: 16px
.bosch__item
	background: linear-gradient(180deg, #40A728 0%, #40A728 100%)
	border-radius: 8px
	overflow: hidden
	position: relative
	transition: .3s
	padding: 20px 0 15px 0
	display: flex
	flex-direction: column
	align-items: center
	justify-content: flex-end
	max-width: 150px
	&:hover
		background: linear-gradient(180deg, #40A728 0%, #156901 100%)
		.bosch__btn
			background: rgb(255, 103, 31)
.bosch__btn
	margin: 18px 0 0 0
	background: rgba(255, 102, 31, 0)
	min-height: 40px
	display: flex
	align-items: center
	border-radius: 4px
	p
		padding: 0 5px 0 5px
		text-align: center
		color: #fff
		font-size: 15px
		font-weight: bold
		border-radius: 4px
		line-height: 1
		margin: 0 auto
.bosch__img
	display: flex
	align-items: center
	justify-content: center
	height: 200px
.bosch__btn-wrap
	width: 100%
	padding: 0 10px
	position: relative
.bosch__grid__wrap
	position: relative
	max-height: 293px
	overflow: hidden
// slick
#bosch
	.slick-track
		position: inherit
		left: inherit
		top: inherit
		height: 100%
		display: flex
		align-items: flex-start
		justify-content: space-between
		overflow: hidden
		max-width: 1316px !important
	.slick-slider
		height: 100%
		z-index: 1
		margin-top: 0
	.slick-slide
		float: inherit
		height: auto
	.your-class-arrow
		display: block
		.slick-prev, .slick-next
			background: #E5E5E5
			width: 33px
			height: 33px
			position: absolute
			z-index: 2
			display: inline-block !important
			transition: .3s
			border-radius: 50%
			&::before
				width: 10px
				height: 15px
				border-radius: 50%
				position: absolute
				top: 50%
				transform: translateY(-50%)
				color: #fff
				font-size: 13px
				line-height: 1.2
				left: 1px
				right: 0
				margin: 0 auto
			&:hover
				cursor: pointer
			&.slick-disabled
				opacity: 0.5
				&::before
					background: #E5E5E5
		.slick-prev
			left: 5px
			top: 50%
			transform: translateY(-50%)
			&::before
				content: url(https://cdn.comfy.ua/media/x/img2/str-left.svg)
		.slick-next
			right: 5px
			top: 50%
			transform: translateY(-50%)
			&::before
				content: url(https://cdn.comfy.ua/media/x/img2/str-right.svg)
	.slick-track:after, .slick-track:before
		display: none
// media
@media (max-width: 1024px)
	.bosch__item
		max-width: inherit
	#bosch .slick-track
		max-width: inherit !important
	#bosch .slick-slide
		margin: 0 15px
// @media (max-width: 812px)
@media (max-width: 480px)
	.bosch__img
		height: 160px
