.bc-description__content p:first-letter {
  padding-left: 0 !important;
}

#rkt-name-product {
  margin: 0 auto;
  max-width: 1023px;
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  background: #fff;
  color: #4D403F;
}
#rkt-name-product h2, #rkt-name-product h3, #rkt-name-product h4, #rkt-name-product h5, #rkt-name-product h6, #rkt-name-product p {
  margin: 0;
  padding: 0;
  line-height: 1.2;
}
#rkt-name-product ul {
  margin: 0;
  padding: 0;
  list-style-type: disc;
  padding-left: 20px;
  margin: 0.5rem 0;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
#rkt-name-product img {
  display: block;
  max-width: 100%;
  opacity: 1;
  margin: 0 auto;
}
#rkt-name-product img:hover {
  opacity: 1;
}
#rkt-name-product h2 {
  font-size: 30px;
  font-weight: 900;
  text-align: left;
  margin-bottom: 1rem;
  text-transform: uppercase;
}
@media (max-width: 1023px) {
  #rkt-name-product h2 {
    font-size: calc(20px + 10 * (100vw - 320px) / 703);
  }
}
#rkt-name-product h2 strong {
  color: #E10D16;
  font-weight: 900;
}
#rkt-name-product h3 {
  font-size: 20px;
  font-weight: 900;
  text-align: left;
  margin-bottom: 0;
  text-transform: uppercase;
}
@media (max-width: 1023px) {
  #rkt-name-product h3 {
    font-size: calc(18px + 2 * (100vw - 320px) / 703);
  }
}
#rkt-name-product p {
  font-size: 16px;
  font-weight: 400;
  text-align: left;
}
@media (max-width: 1023px) {
  #rkt-name-product p {
    font-size: calc(14px + 2 * (100vw - 320px) / 703);
  }
}
#rkt-name-product li {
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  line-height: 1.2;
}
@media (max-width: 1023px) {
  #rkt-name-product li {
    font-size: calc(14px + 2 * (100vw - 320px) / 703);
  }
}
#rkt-name-product i {
  line-height: 1.2;
  font-size: 16px;
  margin-top: 0.5rem;
  display: block;
  font-style: italic;
}
@media (max-width: 1023px) {
  #rkt-name-product i {
    font-size: calc(14px + 2 * (100vw - 320px) / 703);
  }
}

.logo {
  position: relative;
}

.logo__i {
  position: absolute;
  padding: 1em;
  box-sizing: border-box;
  top: 0;
  left: 2em;
  width: 50%;
}

.logo__abs {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}

.logo__cont {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  margin-top: 70px;
}

.logo__note {
  position: absolute;
  bottom: 1em;
  right: 2em;
  font-size: clamp(14px, 1.4vw, 16px);
  text-transform: uppercase;
  line-height: normal;
  color: #4D403F;
  font-weight: bold;
}

.logo__cont {
  padding: 2em;
}
.logo__cont h2 {
  margin-bottom: 0 !important;
  margin-top: 1rem !important;
}

.hide__mob {
  display: block;
}

.show__mob {
  display: none;
}

.advantages__cont {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
}
.advantages__cont h3 {
  color: #E10D16;
}

.advantages__item {
  background-color: #e5e5e5;
  padding: 1em;
  border-radius: 20px;
}

.faster {
  position: relative;
}
.faster h2 {
  color: #E10D16;
}

.faster__abs {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  box-sizing: border-box;
}

.faster__cont {
  padding: 2em 4em;
  box-sizing: border-box;
}

.tefal__note {
  margin-top: 1rem !important;
  font-size: 12px !important;
}

.recipes {
  padding: 4em 0;
}
.recipes .tefal__note {
  margin-top: 0 !important;
}

.recipes__head {
  padding: 0 4em;
  display: flex;
  align-items: center;
  gap: 1em;
}
.recipes__head h2 {
  margin-bottom: 0 !important;
}
.recipes__head h3 {
  color: #E10D16;
}

.recipes__i {
  max-width: 140px;
}

.recipes__flex {
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 1em 4em;
  margin: 2em 0;
  border-top: 2px solid #C6C6C6;
  border-bottom: 2px solid #C6C6C6;
}
.recipes__flex h2 {
  margin-bottom: 0 !important;
}

.recipes__ten {
  line-height: normal;
  font-size: clamp(60px, 8vw, 100px);
  font-weight: bold;
}

.recipes__row {
  display: flex;
  gap: 4em;
  justify-content: space-between;
  padding: 0 4em;
}
.recipes__row > div {
  flex-basis: 50%;
  box-sizing: border-box;
}
.recipes__row h3 {
  color: #E10D16;
}

.recipes__cal {
  display: flex;
  align-items: center;
  gap: 2em;
}

.recipes__cal__i {
  flex-basis: 20%;
}

.recipes__items {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  height: 100%;
  flex-basis: 75%;
}
.recipes__items h3 {
  display: flex;
  align-items: center;
  font-size: clamp(16px, 2vw, 18px) !important;
}

.recipes__end {
  padding: 2em 4em 0;
}
.recipes__end h3 {
  text-align: center !important;
}

.warranty {
  padding: 0 4em 4em;
}
.warranty h3 {
  text-transform: none !important;
}

.warranty__wrap {
  background-color: rgba(217, 217, 217, 0.2);
  border-radius: 0px 0px 60px 60px;
  padding: 4em 2em 0;
}

.warranty__row {
  display: flex;
  gap: 4em;
}

.warranty__cont {
  color: #00304C;
  flex-basis: 50%;
}
.warranty__cont p {
  text-align: right !important;
  font-weight: bold !important;
}

.warranty__title {
  font-size: clamp(50px, 5vw, 80px);
  font-weight: bold;
  line-height: normal;
  margin-top: 1rem;
}

.warranty__img {
  flex-basis: 50%;
  margin-bottom: -17%;
}

.warranty__txt {
  width: 50%;
  padding: 2em 0 2em 4em;
  box-sizing: border-box;
}
.warranty__txt .tefal__note {
  margin-top: 0 !important;
  color: #6E6E6E;
}

@media (min-width: 320px) and (max-width: 767.9px) {
  .recipes__cal {
    gap: 1em;
  }
  .recipes__cal__i {
    flex-basis: 30% !important;
    max-width: 86px;
  }
  .recipes__flex {
    gap: 1em;
  }
  .warranty__wrap {
    padding: 1em !important;
  }
  .warranty__row {
    flex-direction: column;
  }
  .warranty__img {
    margin-bottom: 0 !important;
  }
  .warranty__txt {
    width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 1201px) {
  .logo__i {
    position: unset;
    width: 70%;
  }
  .logo__abs {
    position: unset;
  }
  .logo__abs br {
    display: none;
  }
  .logo__cont {
    margin-top: 0;
    padding: 1em;
  }
  .logo__img {
    position: relative;
  }
  .logo__img::before {
    content: "";
    display: block;
    position: absolute;
    top: -19px;
    right: -2px;
    left: -2px;
    height: 36px;
    background-color: #fff;
    filter: blur(10px);
  }
  .faster__abs {
    position: unset;
    width: 100%;
  }
  .faster__cont {
    padding: 1em;
  }
  .recipes {
    padding: 2em 0;
  }
  .recipes__head {
    padding: 0 1em;
  }
  .recipes__flex,
  .recipes__row {
    padding-right: 1em;
    padding-left: 1em;
  }
  .recipes__row {
    flex-direction: column;
    gap: 2em;
    align-items: unset;
  }
  .recipes__cal__i {
    flex-basis: 8%;
  }
  .recipes__end {
    padding-right: 1em;
    padding-left: 1em;
  }
  .recipes__items {
    height: unset;
    align-self: stretch;
  }
  .warranty {
    padding: 0 0 1em 0;
  }
  .warranty__wrap {
    padding: 2em 2em 0;
    border-radius: 0 0 30px 30px;
  }
  .warranty__row {
    gap: 2em;
  }
  .warranty__txt {
    padding: 1em;
  }
}
@media (max-width: 1201px) {
  .hide__mob {
    display: none;
  }
  .show__mob {
    display: block;
  }
  .logo__note {
    display: none;
  }
}
@media (max-width: 1441px) {
  .warranty__img {
    margin-bottom: -13%;
  }
}