#wrap_boiler_id p:first-letter {
  padding-left: 0;
}

#wrap_boiler_id p {
  margin-bottom: 0;
}

#wrap_boiler_id img:hover {
  opacity: 1;
}

#wrap_boiler_id img {
  opacity: 1;
  max-width: 100%;
  display: block;
}

#wrap_boiler_id {
  max-width: 1316px;
  margin: 0 auto;
  height: auto;
  display: block;
  background-color: #fff;
}

.features-desc__text img {
  margin-bottom: 0rem;
}

.one-col .features-desc__text p:first-letter {
  padding-left: 0rem !important;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.wrap_boiler {
  margin: 0 auto;
  max-width: 1316px;
  width: 100%;
  height: auto;
}

.wrap_boiler .prof_prof {
  max-width: 1316px;
  width: 100%;
  background-image: url("https://cdn.comfy.ua/media/x/img/profilaktika/condition/sect1_bg.png");
  background-repeat: no-repeat;
  background-position: top;
  padding-top: 210px;
}

.wrap_boiler .prof_prof .prof_content {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row-reverse;

  -webkit-box-pack: justify;

  -ms-flex-pack: justify;

  justify-content: space-between;

  padding-left: 75px;
  padding-right: 40px;
}

.wrap_boiler .prof_prof .prof_content .prof_list {
  max-width: 556px;
  -ms-flex: 1 1 0;
  -webkit-box-flex: 1;
  flex: 1 1 0;

  /*-ms-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;*/
}

.wrap_boiler .prof_prof .prof_content .prof_list h1 {
  font-size: 42px;
  line-height: 54px;
  font-weight: bold;
  color: #515151;
  margin-bottom: 40px;
  /*margin-top: 90px;*/
}

.wrap_boiler .prof_prof .prof_content .prof_list ul.prof_spisok li {
  list-style-type: none;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;

  -ms-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  margin-bottom: 30px;

  font-size: 16px;
  font-weight: bold;
  color: #3C3C3C;
  line-height: 21px;
}

.wrap_boiler .prof_prof .prof_content .prof_list ul.prof_spisok li:last-child {
  margin-bottom: 0;
}

.wrap_boiler .prof_prof .prof_content .prof_list ul.prof_spisok li::before {
  content: '';
  display: block;
  background-image: url("https://cdn.comfy.ua/media/x/img/profilaktika/condition/sect1_icon1.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 35px;
  height: 35px;
  margin-right: 16px;
  min-width: 35px;
}

.wrap_boiler .prof_prof .prof_content .prof_list ul.prof_spisok li:first-child::before {
  background-image: url("https://cdn.comfy.ua/media/x/img/profilaktika/condition/sect1_icon1.svg");
}

.wrap_boiler .prof_prof .prof_content .prof_list ul.prof_spisok li:nth-child(2)::before {
  background-image: url("https://cdn.comfy.ua/media/x/img/profilaktika/condition/sect1_icon2.svg");
}

.wrap_boiler .prof_prof .prof_content .prof_list ul.prof_spisok li:nth-child(3)::before {
  background-image: url("https://cdn.comfy.ua/media/x/img/profilaktika/condition/sect1_icon3.svg");
}

.wrap_boiler .prof_prof .prof_content .prof_list ul.prof_spisok li:nth-child(4)::before {
  background-image: url("https://cdn.comfy.ua/media/x/img/profilaktika/condition/sect1_icon4.svg");
}

.wrap_boiler .prof_prof .prof_content .prof_list ul.prof_spisok li:nth-child(5)::before {
  background-image: url("https://cdn.comfy.ua/media/x/img/profilaktika/condition/sect1_icon5.svg");
}

.wrap_boiler .prof_prof .prof_content .prof_list ul.prof_spisok li:nth-child(6)::before {
  background-image: url("https://cdn.comfy.ua/media/x/img/profilaktika/condition/sect1_icon6.svg");
}

.wrap_boiler .prof_prof .prof_content .prof_boiler {
  max-width: 495px;
  padding-right: 30px;
  -ms-flex: 1 1 0;
  -webkit-box-flex: 1;
  flex: 1 1 0;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.wrap_boiler .prof_content:last-child {
  -ms-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0;
  margin-top: 20px;
  padding-bottom: 100px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.wrap_boiler .prof_content:last-child .prof_img,
.wrap_boiler .prof_content:last-child .prof_txt {
  -ms-flex: 1 1 0;
  -webkit-box-flex: 1;
  flex: 1 1 0;
}

.wrap_boiler .prof_content:last-child h2 {
  font-weight: bold;
  font-size: 28px;
  line-height: 36px;
  color: #000000;
  max-width: 550px;
}

/*end section 1 (Профессиональная и вовремя проведенная профилактика...)*/

.wrap_boiler .usluga {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding: 0px 40px 100px 40px;

  -webkit-box-align: center;

  -ms-flex-align: center;

  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-height: 870px;
}

.wrap_boiler .usluga::after {
  position: absolute;
  content: '';
  display: block;
  width: 1086px;
  height: 735px;
  background-color: #F1F1F1;
  z-index: 1;
  left: 0;
  /*top: -23px;*/
  bottom: 0;
  max-width: 100%;
  margin-bottom: 120px;
}

.wrap_boiler .usluga::before {
  position: absolute;
  content: '';
  display: block;
  width: 213px;
  height: 97px;
  background-image: url("https://cdn.comfy.ua/media/x/img/profilaktika/condition/sect2_img3.png");

  top: 40px;
  left: 0;
  /*right: 551.5px;*/
  z-index: 2;

}

.wrap_boiler .usluga .usluga_content {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 0px;
  flex: 1 1 0;
  z-index: 3;
}

.wrap_boiler .usluga .usluga_content:first-child {
  padding-right: 20px;
  position: relative;
  top: 40px;
}

.wrap_boiler .usluga .usluga_content h3 {
  font-size: 26px;
  color: #000000;
  font-weight: bold;
  margin-bottom: 35px;
  margin-top: 0;
}

.wrap_boiler .usluga .usluga_content ul.usluga_list li {
  list-style-type: none;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 20px;

  color: #000000;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;

  -webkit-box-orient: horizontal;

  -webkit-box-direction: normal;

  -ms-flex-direction: row;

  flex-direction: row;

  -webkit-box-align: center;

  -ms-flex-align: center;

  align-items: center;
}

.wrap_boiler .usluga .usluga_content ul.usluga_list li::before {
  content: '';
  display: block;
  background-image: url("https://cdn.comfy.ua/media/x/img/profilaktika/condition/sect2_icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 25px;
  min-width: 25px;
  height: 19.54px;
  margin-right: 20px;
}

.wrap_boiler .usluga .usluga_content:last-child {
  position: absolute;
  right: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-orient: vertical;

  -webkit-box-direction: normal;

  -ms-flex-direction: column;

  flex-direction: column;

  max-width: 712px;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.wrap_boiler .usluga .usluga_content:last-child .usluga_img:first-child img {
  max-width: 712px !important;
}

/*.wrap_boiler .usluga .usluga_content:last-child::before {
  position: absolute;
  content: '';
  display: block;
  background-image: url("https://cdn.comfy.ua/media/x/img/profilaktika/condition/sect2_img4.png");
  background-repeat: no-repeat;
  background-position: center top;
  bottom: 10px;
  left: -100px;
  width: 100px;
  height: 160px;
  z-index: -1;
}

.wrap_boiler .usluga .usluga_content:last-child::after {
  position: absolute;
  content: '';
  display: block;
  width: 31px;
  height: 270px;
  background-image: url("https://cdn.comfy.ua/media/x/img/profilaktika/condition/sect2_img5.png");
  background-repeat: no-repeat;
  background-position: center;
  right: -60px;
  top: 155px;
  z-index: 2;
}*/

.wrap_boiler .usluga .usluga_content .usluga_img img {
  max-width: 100%;
  height: auto;
}

.wrap_boiler .usluga .usluga_content:first-child .usluga_img:first-child img {
  max-width: 712px;
}

/*.wrap_boiler .usluga .usluga_content .usluga_img:first-child img {
  margin-bottom: 20px;
}*/


/*MEDIA*/

@media (max-width: 1024px) and (min-width: 769px) {
  .wrap_boiler .prof_prof .prof_content .prof_list h1 {
    font-size: 38px;
    margin-top: 0;
  }

  .wrap_boiler .prof_prof .prof_content {
    padding-left: 80px;
    padding-right: 80px;
  }

  .wrap_boiler .usluga .usluga_content:first-child {
    max-width: 530px;
    top: 80px;
  }
}

/*adaptive for Iphone X rotate display 812px*/

@media (max-width: 812px) and (min-width: 768px) {
  .wrap_boiler .prof_prof {
    padding-top: 40px;
  }

  .wrap_boiler .prof_prof .prof_content .prof_list h1 {
    font-size: 30px;
  }

  .wrap_boiler .prof_prof .prof_content {
    padding-right: 30px;
    padding-left: 30px;
  }

  .wrap_boiler .prof_content:last-child {
    margin-top: 50px;
    padding-bottom: 40px;
  }

  .wrap_boiler .usluga {
    padding: 40px 30px 40px 50px;
    background-color: #f1f1f1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .wrap_boiler .usluga::before {
    display: none;
  }

  .wrap_boiler .usluga .usluga_content:last-child::before {
    display: none;
  }

  .wrap_boiler .usluga::after {
    /*height: 440px;
    top: 28px;*/
    display: none;
  }

  .wrap_boiler .usluga .usluga_content:last-child::after {
    display: none;
  }

  .wrap_boiler .usluga .usluga_content {
    position: unset !important;
  }

  .wrap_boiler .usluga .usluga_content:first-child {
    max-width: unset;
    padding-bottom: 30px;
  }
}

@media (max-width: 768px) and (min-width: 481px) {
  .wrap_boiler .prof_prof {
    padding-top: 40px;
  }

  .wrap_boiler .prof_prof .prof_content .prof_list h1 {
    font-size: 30px;
    margin-top: 0;
  }

  .wrap_boiler .prof_prof .prof_content {
    padding-right: 30px;
    padding-left: 30px;
  }

  /*.wrap_boiler .prof_prof .prof_content:first-child {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }*/

  .wrap_boiler .prof_prof .prof_content .prof_list {
    -ms-flex-item-align: start;
    align-self: flex-start;
  }

  .wrap_boiler .prof_prof .prof_content .prof_boiler {
    padding-left: 0;
    margin-top: 40px;
    -ms-flex-item-align: center;
    align-self: center;
  }

  .wrap_boiler .usluga {
    padding: 40px 30px 40px 30px;
    background-color: #f1f1f1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .wrap_boiler .usluga::before {
    display: none;
  }


  .wrap_boiler .usluga .usluga_content {
    position: unset !important;
  }


  .wrap_boiler .usluga .usluga_content:last-child::before {
    display: none;
  }

  .wrap_boiler .usluga::after {
    display: none;
  }

  .wrap_boiler .usluga .usluga_content:last-child::after {
    display: none;
  }

}

/*adaptive for Iphone 6/7/8 Plus rotate display 736px*/

@media (max-width: 736px) and (min-width: 668px) {
  .wrap_boiler .usluga::after {
    height: 430px;
    top: 6px;
  }

  .wrap_boiler .usluga .usluga_content:last-child {
    padding-top: 20px;
  }

  .wrap_boiler .usluga .usluga_content:last-child .usluga_img:first-child img {
    max-width: 100% !important;
  }
}

/*adaptive for Iphone 6/7/8 rotate display 667px*/

@media (max-width: 668px) and (min-width: 481px) {
  .wrap_boiler .prof_prof .prof_content .prof_list h1 {
    font-size: 30px;
    line-height: 40px;
  }

  .wrap_boiler .prof_prof .prof_content {
    padding-right: 20px;
    padding-left: 20px;
  }

  .wrap_boiler .prof_prof .prof_content .prof_list ul.prof_spisok li {
    font-size: 14px;
  }

  .wrap_boiler .prof_content:last-child {
    margin-top: 40px;
    padding-bottom: 20px;
  }

  .wrap_boiler .prof_prof {
    padding-top: 20px;
  }

  .wrap_boiler .prof_prof .prof_content .prof_boiler {
    padding-left: 25px;
  }

  .wrap_boiler .usluga {
    padding: 0px 20px 40px 20px;
    background-color: #f1f1f1;
  }

  .wrap_boiler .usluga::before {
    display: none;
  }

  .wrap_boiler .usluga .usluga_content:last-child::before {
    display: none;
  }

  .wrap_boiler .usluga::after {
    height: 440px;
    top: 13px;
    display: none;
  }

  .wrap_boiler .usluga .usluga_content:last-child::after {
    display: none;
  }

  .wrap_boiler .usluga .usluga_content:first-child {
    padding-right: 0;
    margin-right: 10px;
  }

  .wrap_boiler .usluga .usluga_content ul.usluga_list li {
    font-size: 14px;
  }

  .wrap_boiler .usluga .usluga_content:last-child .usluga_img:first-child img {
    max-width: 100% !important;
  }
}

@media (max-width: 480px) and (min-width: 320px) {
  .wrap_boiler .prof_prof {
    padding-top: 40px;
  }

  .wrap_boiler .prof_prof .prof_content .prof_list h1 {
    font-size: 28px;
    line-height: 40px;
    margin-top: 0;
  }

  .wrap_boiler .prof_prof .prof_content {
    padding-right: 20px;
    padding-left: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .wrap_boiler .prof_prof .prof_content .prof_list ul.prof_spisok li {
    font-size: 14px;
  }

  .wrap_boiler .prof_prof .prof_content .prof_boiler {
    padding-left: 0;
    padding-top: 30px;
  }

  .wrap_boiler .prof_content:last-child {
    margin-top: 50px;
    padding-bottom: 40px;
  }

  .wrap_boiler .prof_content:last-child h2 {
    font-size: 26px;
  }

  .wrap_boiler .usluga {
    padding: 40px 20px 40px 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    display: block;
    background-color: #f1f1f1;
    min-height: unset;
  }

  .wrap_boiler .usluga::before {
    display: none;
  }

  .wrap_boiler .usluga .usluga_content {
    position: unset !important;
  }

  .wrap_boiler .usluga .usluga_content:last-child::before {
    display: none;
  }

  .wrap_boiler .usluga::after {
    height: 440px;
    top: 13px;
    display: none;
  }

  .wrap_boiler .usluga .usluga_content:last-child::after {
    display: none;
  }

  .wrap_boiler .usluga .usluga_content:first-child {
    padding-right: 0;
  }

  .wrap_boiler .usluga .usluga_content ul.usluga_list li {
    font-size: 14px;
  }

  .wrap_boiler .usluga .usluga_content:last-child .usluga_img:first-child img {
    max-width: 100% !important;
  }

  .wrap_boiler .usluga .usluga_content:last-child {
    padding-top: 20px;
  }
}