.rkt-prologix-128gb-s360-2-5-sataiii-tlc-pro128gs360__container {
  overflow: hidden;
}

.bc-description__content p:first-letter {
  padding-left: 0 !important;
}

#rkt-prologix-128gb-s360-2-5-sataiii-tlc-pro128gs360 {
  max-width: 1023px;
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  background: #fff;
}
#rkt-prologix-128gb-s360-2-5-sataiii-tlc-pro128gs360 h2, #rkt-prologix-128gb-s360-2-5-sataiii-tlc-pro128gs360 h3, #rkt-prologix-128gb-s360-2-5-sataiii-tlc-pro128gs360 h4, #rkt-prologix-128gb-s360-2-5-sataiii-tlc-pro128gs360 h5, #rkt-prologix-128gb-s360-2-5-sataiii-tlc-pro128gs360 h6, #rkt-prologix-128gb-s360-2-5-sataiii-tlc-pro128gs360 p {
  margin: 0;
  padding: 0;
  line-height: 1.2;
}
#rkt-prologix-128gb-s360-2-5-sataiii-tlc-pro128gs360 ul {
  margin: 0;
  padding: 0;
  list-style-type: disc;
  padding-left: 20px;
  margin: 0.5rem 0;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
#rkt-prologix-128gb-s360-2-5-sataiii-tlc-pro128gs360 img {
  display: block;
  max-width: 100%;
  opacity: 1;
  margin: 0 auto;
}
#rkt-prologix-128gb-s360-2-5-sataiii-tlc-pro128gs360 img:hover {
  opacity: 1;
}
#rkt-prologix-128gb-s360-2-5-sataiii-tlc-pro128gs360 h2 {
  font-size: 26px;
  font-weight: 900;
  text-align: left;
  margin-bottom: 1rem;
}
@media (max-width: 1023px) {
  #rkt-prologix-128gb-s360-2-5-sataiii-tlc-pro128gs360 h2 {
    font-size: calc(20px + 6 * (100vw - 320px) / 703);
  }
}
#rkt-prologix-128gb-s360-2-5-sataiii-tlc-pro128gs360 h3 {
  font-size: 20px;
  font-weight: 900;
  text-align: left;
  margin-bottom: 1rem;
}
@media (max-width: 1023px) {
  #rkt-prologix-128gb-s360-2-5-sataiii-tlc-pro128gs360 h3 {
    font-size: calc(18px + 2 * (100vw - 320px) / 703);
  }
}
#rkt-prologix-128gb-s360-2-5-sataiii-tlc-pro128gs360 p {
  font-size: 16px;
  font-weight: 400;
  text-align: left;
}
@media (max-width: 1023px) {
  #rkt-prologix-128gb-s360-2-5-sataiii-tlc-pro128gs360 p {
    font-size: calc(14px + 2 * (100vw - 320px) / 703);
  }
}
#rkt-prologix-128gb-s360-2-5-sataiii-tlc-pro128gs360 li {
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  line-height: 1.2;
}
@media (max-width: 1023px) {
  #rkt-prologix-128gb-s360-2-5-sataiii-tlc-pro128gs360 li {
    font-size: calc(14px + 2 * (100vw - 320px) / 703);
  }
}
#rkt-prologix-128gb-s360-2-5-sataiii-tlc-pro128gs360 i {
  line-height: 1.2;
  font-size: 16px;
  margin-top: 0.5rem;
  display: block;
  font-style: italic;
}
@media (max-width: 1023px) {
  #rkt-prologix-128gb-s360-2-5-sataiii-tlc-pro128gs360 i {
    font-size: calc(14px + 2 * (100vw - 320px) / 703);
  }
}

.prologix__block__txt {
  padding: 1em;
}

.func {
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.func__row {
  display: flex;
  gap: 2em;
}
.func__row > div {
  flex-basis: 50%;
  box-sizing: border-box;
}
.func__row:nth-of-type(even) {
  flex-direction: row-reverse;
}

@media (min-width: 320px) and (max-width: 767.9px), (min-width: 1024px) and (max-width: 1201px) {
  #rkt-prologix-128gb-s360-2-5-sataiii-tlc-pro128gs360 h2, #rkt-prologix-128gb-s360-2-5-sataiii-tlc-pro128gs360 h3, #rkt-prologix-128gb-s360-2-5-sataiii-tlc-pro128gs360 p {
    text-align: center;
  }
  .func__row {
    flex-direction: column-reverse !important;
    gap: 1em;
  }
}