#toshiba_id p:first-letter {
  padding-left: 0;
}

#toshiba_id p {
  margin-bottom: 0;
  font-size: 18px !important;
}

#toshiba_id img:hover {
  opacity: 1;
}

#toshiba_id img {
  opacity: 1;
  max-width: 100%;
  display: block;
  margin: 0 auto;
  height: auto;
}

#toshiba_id {
  max-width: 1316px;
  width: 100%;
  margin: 0 auto;
  height: auto;
  display: block;
  background-color: #fff;
  box-sizing: border-box;
}

.features-desc__text img {
  margin-bottom: 0rem;
}

.one-col .features-desc__text p:first-letter {
  padding-left: 0rem !important;
}

.toshiba {
  width: 100%;
  max-width: 1316px;
  height: auto;
  box-sizing: border-box;
  margin: 0 auto;
}

.toshiba h2,
.toshiba h3,
.toshiba h4,
.toshiba p {
  margin: 0;
  padding: 0;
  line-height: normal;
}

.toshiba h2 {
  font-size: 30px;
}

.toshiba h4 {
  font-size: 22px;
}

.toshiba h3 {
  font-size: 26px;
}

.toshiba p {
  font-size: 18px;
}

.toshiba ul {
  margin: 0;
  padding: 0;
}

.toshiba ul li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.toshiba .logo {
  padding: 0 40px;
  box-sizing: border-box;
}

.toshiba .logo .logo_icon {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
}

.toshiba .logo .logo_icon>div {
  padding: 20px 100px;
  box-sizing: border-box;
}

.toshiba .logo .logo_icon>div img {
  margin: 0 !important;
}

.toshiba .logo .logo_icon>div:first-of-type {
  -webkit-box-flex: 3;
          flex: 3;
  background-color: #f2f2f2;
}

.toshiba .logo .logo_icon>div:last-of-type {
  -webkit-box-flex: 1;
          flex: 1;
}

.toshiba .logo .logo_cont {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: justify;
          justify-content: space-between;
  padding: 0 120px;

  background: rgba(255, 255, 255, 1);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(7%, rgba(255, 255, 255, 1)), color-stop(52%, rgba(242, 242, 242, 1)), color-stop(100%, rgba(242, 242, 242, 1)));
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 1)), color-stop(7%, rgba(255, 255, 255, 1)), color-stop(52%, rgba(242, 242, 242, 1)), to(rgba(242, 242, 242, 1)));
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 7%, rgba(242, 242, 242, 1) 52%, rgba(242, 242, 242, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f2f2f2', GradientType=0);
}



.toshiba .logo .logo_cont .logo_txt::before {
  content: '';
  display: block;
  width: 20px;
  height: 25px;
  background-color: #f01615;
  margin-bottom: 20px;
}

.toshiba .logo .logo_cont .logo_txt h2>span {
  font-weight: normal;
}

.toshiba .logo .logo_cont .logo_txt>span {
  padding-top: 30px;
  display: block;
  font-size: 16px;
}

/*section 2*/

.toshiba .small {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-align: start;
          align-items: flex-start;
  padding: 140px 40px 0 40px;
  box-sizing: border-box;
}

.toshiba .small .small_img,
.toshiba .small .small_txt {
  -webkit-box-flex: 1;
          flex: 1 1 0;
  max-width: 50%;
}

.toshiba .small .small_txt {
  padding: 20px 20px 20px 70px;
  box-sizing: border-box;
}

.toshiba .small .small_txt h3 {
  color: red;
  margin: 20px 0;
  text-align: left;
  font-weight: bold;
}

.toshiba .small .small_txt h2 {
  margin-bottom: 20px;
}

.toshiba .small .small_txt h2>span {
  font-weight: normal;
}

.toshiba .small .small_img {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}

.toshiba .small .small_img div {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}

.toshiba .small .small_img>div:last-of-type {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: center;
          justify-content: center;
  margin: 0 auto;
}

.toshiba .small .small_img>div:last-of-type img {
  max-width: 50%;
}

.toshiba .small .small_txt ul.small_list li {
  margin-bottom: 30px;
}

.toshiba .small .small_txt ul.small_list li:last-of-type {
  margin-bottom: 0;
}

.toshiba .small .small_txt ul.small_list li h4::before {
  content: '';
  display: block;
  min-width: 15px;
  height: 15px;
  background-color: #ef1616;
  margin-right: 20px;
  float: left;
}

/*section 3*/

.toshiba .air_cleaner {
  padding: 80px 40px;
}

.toshiba .air_cleaner h2 {
  padding: 0px 20px 20px 20px;
}

.toshiba .air_cleaner ul.air_list {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-align: start;
          align-items: flex-start;
}

.toshiba .air_cleaner ul.air_list li {
  -webkit-box-flex: 1;
          flex: 1 1 0;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  margin-bottom: 20px;
  box-sizing: border-box;
  max-height: -webkit-max-content;
  max-height: -moz-max-content;
  max-height: max-content;
  margin-bottom: 0;
}

.toshiba .air_cleaner ul.air_list li:nth-of-type(2) {
  align-self: center;
  -webkit-box-flex: 0.8;
          flex: 0.8;
}

.toshiba .air_cleaner ul.air_list li:nth-of-type(even) {
  margin-bottom: 0;
}

.toshiba .air_cleaner ul.air_list>li:nth-of-type(odd) {
  padding: 0 20px;
}

.toshiba .air_cleaner ul.air_list li .air_txt h4 {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
}

.toshiba .air_cleaner ul.air_list li .air_txt h4::before {
  content: '';
  display: inline-block;
  min-width: 10px;
  height: 35px;
  background-color: #ef1616;
  margin: 0 10px 10px 10px;
}

.toshiba .air_cleaner ul.air_list li ul.air_cont {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

.toshiba .air_cleaner ul.air_list li .air_img {
  align-self: flex-start;
}

/*section 4*/

.toshiba .difference {
  padding: 40px 60px;
  box-sizing: border-box;
}

.toshiba .difference h2 {
  margin-bottom: 20px;
}


.toshiba .difference ul.diff_list li {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-align: center;
          align-items: center;
}

.toshiba .difference ul.diff_list li:nth-last-of-type(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
          flex-direction: row-reverse;
}

.toshiba .difference ul.diff_list li .diff_txt,
.toshiba .difference ul.diff_list li .diff_img {
  -webkit-box-flex: 1;
          flex: 1 1 0;
  max-width: 50%;
  box-sizing: border-box;
}

.toshiba .difference ul.diff_list li .diff_txt {
  padding: 20px 20px 20px 0;
}

.toshiba .difference ul.diff_list li:nth-last-of-type(even) .diff_txt {
  padding: 10px 0 10px 20px;
}

.toshiba .difference ul.diff_list li .diff_txt h4::before {
  display: block;
  content: '';
  min-width: 20px;
  height: 20px;
  background-color: #ef1616;
  float: left;
  margin-right: 10px;
}

.toshiba .difference ul.diff_list li .diff_txt strong {
  margin-bottom: 30px;
  display: block;
}

/*section 5*/

.toshiba .questions {
  padding: 40px;
  box-sizing: border-box;
}


.toshiba .questions .red_title h3 {
  background-color: #ff0000;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  text-transform: uppercase;
  color: #fff;
  max-width: 100%;
  text-align: center;
  font-weight: bold;
}

.toshiba .questions .red_title h3:first-of-type {
  margin-bottom: 20px;
}

.toshiba .questions>h4 {
  margin: 40px auto;
  text-align: center;
}

.toshiba .questions .que_list_col {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
}

.toshiba .questions ul.que_list {
  -webkit-box-flex: 1;
          flex: 1 1 0;
}

.toshiba .questions ul.que_list:last-of-type {
  padding-left: 60px;
}

.toshiba .questions ul.que_list li {
  margin-bottom: 10px;
}

.toshiba .questions ul.que_list li p {
  display: -webkit-inline-box;
  display: inline-flex;
}

.toshiba .questions ul.que_list:first-of-type>li:last-of-type,
.toshiba .questions ul.que_list:last-of-type>li:last-of-type {
  margin-bottom: 0;
}


.toshiba .questions ul.que_list li p::before {
  display: inline-block;
  content: '';
  min-width: 15px;
  height: 15px;
  background-color: #ef1616;
  margin-right: 20px;
}

.toshiba .questions .else_border {
  position: relative;
  text-align: center;
  margin: 0 auto;
  margin-top: 40px;
  background-image: url("https://cdn.comfy.ua/media/x/img/1534387/19.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 480px;
  height: 140px;
  padding-top: 30px;
  background-size: contain;
  max-width: 100%;
}

.toshiba .questions .else_border .else_txt span {
  font-size: 18px;
}

/*section 6*/

.toshiba .size_room {
  padding: 40px;
  box-sizing: border-box;
}

.toshiba .size_room h2::before {
  content: '';
  display: -webkit-inline-box;
  display: inline-flex;
  min-width: 10px;
  max-height: 100%;
  height: 68px;
  background-color: #ef1616;
  float: left;
  margin-right: 10px;
}

.toshiba .size_room h2>span {
  font-weight: normal;
}

.toshiba ul.air_list {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-align: end;
          align-items: flex-end;
  height: auto;
  padding-top: 40px;
}

.toshiba ul.air_list li {
  -webkit-box-flex: 1;
          flex: 1 1 0;
  max-width: 25%;

  display: -webkit-box;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
}

.toshiba ul.air_list li span {
  font-size: 20px;
  font-weight: bold;
  display: block;
}

.toshiba ul.air_list li p {
  padding-top: 20px;
}

.toshiba ul.air_list li:nth-of-type(1) span {
  margin-bottom: 20px;
}


.toshiba ul.air_list li:nth-of-type(2) span {
  margin-bottom: 100px;
}

.toshiba ul.air_list li:nth-of-type(3) span {
  margin-bottom: 50px;
}

.toshiba ul.air_list li:nth-of-type(4) span {
  margin-bottom: 60px;
}

.toshiba ul.air_list li span>strong {
  font-size: 32px;
}

.toshiba ul.air_list li span>strong>sup {
  font-size: 18px;
}

/*section 7*/

.toshiba .dirty_air {
  box-sizing: border-box;
  padding: 40px;
}

.toshiba .dirty_air span {
  display: block;
}

.toshiba .dirty_air ul.dirty_list {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
}

.toshiba .dirty_air ul.dirty_list>li {
  -webkit-box-flex: 1;
          flex: 1 1 0;
  width: 50%;
  background-color: #f4f4f4;
  padding: 40px 30px;
  box-sizing: border-box;
}

.toshiba .dirty_air ul.dirty_list>li:first-of-type {
  margin-right: 10px;
}

.toshiba .dirty_air ul.dirty_list>li .dirty_title h2 {
  font-weight: normal;
}

.toshiba .dirty_air ul.dirty_list>li .dirty_title h2>span {
  color: #ef1616;
  font-weight: bold;
}

.toshiba .dirty_air ul.dirty_list>li>ul.dirty_col li>.dirty_txt>strong {
  font-size: 24px !important;
}

.toshiba .dirty_air ul.dirty_list>li>ul.dirty_col>li .dirty_txt>span {
  font-size: 16px;
}

.toshiba .dirty_air ul.dirty_list>li:first-of-type ul.dirty_col li:nth-of-type(1) {
  display: -webkit-inline-box;
  display: inline-flex;
  padding: 40px;
}

.toshiba .dirty_air ul.dirty_list>li:first-of-type ul.dirty_col li:nth-of-type(1) .dirty_txt {
  max-width: 50%;
  margin: 0 0 0 auto;
}

.toshiba .dirty_air ul.dirty_list>li:first-of-type ul.dirty_col li:nth-of-type(1) .dirty_txt>span:nth-of-type(1):after {
  content: '';
  display: block;
  width: 135%;
  height: 2px;
  background-color: #e4e4e4;
  margin-top: 20px;
  margin-left: 30px;
}

.toshiba .dirty_air ul.dirty_list>li:first-of-type ul.dirty_col li:nth-of-type(1)::after {
  content: '';
  min-width: 111px;
  height: 109px;
  background-image: url("https://cdn.comfy.ua/media/x/img/1534387/icon5.png");
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  margin: -40px auto 0 0;
}

.toshiba .dirty_air ul.dirty_list>li:first-of-type ul.dirty_col li:nth-of-type(1)::before {
  content: '';
  min-width: 128px;
  height: 128px;
  background-image: url("https://cdn.comfy.ua/media/x/img/1534387/icon6.png");
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  margin: 24px 0 auto 0;
}

.toshiba .dirty_air ul.dirty_list>li:first-of-type ul.dirty_col li:nth-of-type(2) {
  display: -webkit-inline-box;
  display: inline-flex;
  padding: 40px;
}

.toshiba .dirty_air ul.dirty_list>li:first-of-type ul.dirty_col li:nth-of-type(2)::after {
  content: '';
  display: block;
  min-width: 130px;
  height: 121px;
  background-image: url("https://cdn.comfy.ua/media/x/img/1534387/icon7.png");
  background-repeat: no-repeat;
  background-position: center;
  margin-top: -30px;
}

.toshiba .dirty_air ul.dirty_list>li:first-of-type ul.dirty_col li:nth-of-type(2) .dirty_txt {
  max-width: 50%;
}

.toshiba .dirty_air ul.dirty_list>li:first-of-type ul.dirty_col li:nth-of-type(2) .dirty_txt:after {
  content: '';
  display: block;
  width: 200%;
  height: 2px;
  background-color: #e4e4e4;
  margin-top: 20px;
}

.toshiba .dirty_air ul.dirty_list>li:first-of-type ul.dirty_col li:nth-of-type(3) {
  display: -webkit-inline-box;
  display: inline-flex;
  padding: 40px;
}

.toshiba .dirty_air ul.dirty_list>li:first-of-type ul.dirty_col li:nth-of-type(3)::before {
  content: '';
  display: block;
  min-width: 130px;
  height: 121px;
  background-image: url("https://cdn.comfy.ua/media/x/img/1534387/icon8.png");
  background-repeat: no-repeat;
  background-position: center;
  margin-top: -30px;
}

.toshiba .dirty_air ul.dirty_list>li:first-of-type ul.dirty_col li:nth-of-type(3) .dirty_txt {
  max-width: 50%;
}

.toshiba .dirty_air>span.small_txt {
  font-size: 14px;
}

.toshiba .dirty_air ul.dirty_list>li:last-of-type {
  position: relative;
}

.toshiba .dirty_air ul.dirty_list>li:last-of-type .dirty_txt {
  padding: 40px 0;
  font-size: 16px;
}

.toshiba .dirty_air ul.dirty_list>li:last-of-type .dirty_img {
  display: none;
}


.toshiba .dirty_air ul.dirty_list>li:last-of-type .dirty_img ul.disease_list li {
  max-width: 140px;
  position: absolute;
}

.toshiba .dirty_air ul.dirty_list>li:last-of-type .dirty_img ul.disease_list li strong:first-of-type {
  font-size: 24px;
}


.toshiba .dirty_air ul.dirty_list>li:last-of-type span.small_txt {
  position: absolute;
  bottom: 40px;
}

/*section 8*/

.toshiba .air_inside {
  box-sizing: border-box;
  padding: 40px;
}

.toshiba .air_inside .red_title {
  font-weight: normal;
  background-color: #ef1616;
  text-transform: uppercase;
  color: #fff;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  margin: 0 auto 30px auto;
}

.toshiba .air_inside ul.inside_list {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
}

.toshiba .air_inside ul.inside_list li {
  -webkit-box-flex: 1;
          flex: 1 1 0;
}

.toshiba .air_inside ul.inside_list>li:nth-of-type(2) {
  padding: 0 20px;
}

.toshiba .air_inside ul.inside_list>li:nth-of-type(2) .inside_txt {
  padding: 20px 40px;
}

.toshiba .air_inside ul.inside_list li h4::before {
  display: block;
  content: '';
  min-width: 20px;
  height: 20px;
  background-color: #ef1616;
  float: left;
  margin-right: 10px;
}

.toshiba .air_inside ul.inside_list li ul.inside_txt li {
  padding-bottom: 20px;
}

.toshiba .air_inside ul.inside_list li ul.inside_txt li:nth-of-type(4),
.toshiba .air_inside ul.inside_list li ul.inside_txt li:last-of-type {
  padding-bottom: 0;
}

.toshiba .air_inside .doing {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: center;
          justify-content: center;
  margin-top: 80px;
  background-color: #f4f4f4;
  padding: 30px 0;
  position: relative;
  -webkit-box-align: center;
          align-items: center;
}

.toshiba .air_inside .doing::before {
  content: '';
  display: block;
  min-width: 100px;
  height: 327px;
  background-image: url("https://cdn.comfy.ua/media/x/img/1534387/22.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.toshiba .air_inside .doing .do_title {
  margin-right: 200px;
}

.toshiba .air_inside .doing .do_title,
.toshiba .air_inside .doing .do_txt {
  -webkit-box-flex: 1;
          flex: 1 1 0;
  max-width: 30%;
}

.toshiba .air_inside .doing .do_title h2 {
  background-color: #ef1616;
  color: #fff;
}

.toshiba .air_inside .doing .do_title h2:first-of-type {
  margin-bottom: 5px;
}

.toshiba .air_inside .doing .do_title h2>span {
  font-weight: normal;
}

/*section 9*/

.toshiba .tech_design {
  padding: 40px;
}

.toshiba .tech_design .design_title {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  margin: 0 auto;
}

.toshiba .tech_design .design_title h2 {
  line-height: 30px;
}

.toshiba .tech_design .design_title h2>strong {
  font-size: 42px;
}

.toshiba .tech_design .design_title h2::before {
  display: block;
  content: '';
  min-width: 40px;
  height: 30px;
  background-color: #ef1616;
  float: left;
  margin-right: 20px;
}

.toshiba .tech_design ul.design_list {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: justify;
          justify-content: space-between;
  margin-top: 40px;
}

.toshiba .tech_design ul.design_list li {
  -webkit-box-flex: 1;
          flex: 1 1 0;
  box-sizing: border-box;
}

.toshiba .tech_design ul.design_list li:nth-of-type(2) {
  padding: 0 20px;
}


/*section 10*/

.toshiba .faq {
  padding: 40px;
  box-sizing: border-box;
}

.toshiba .faq ul.faq_list {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
}

.toshiba .faq ul.faq_list>li:first-of-type {
  -webkit-box-flex: 1;
          flex: 1;
  padding-right: 40px;
  box-sizing: border-box;
}

.toshiba .faq ul.faq_list li:last-of-type {
  -webkit-box-flex: 3;
          flex: 3;
}

.toshiba .faq ul.faq_list li h2 {
  font-weight: normal;
}

.toshiba .faq ul.faq_list li h2>strong {
  color: #ef1616;
}

.toshiba .faq ul.faq_list li ul.faq_txt li {
  margin-bottom: 20px;
}

.toshiba .faq ul.faq_list li ul.faq_txt li:last-of-type {
  margin-bottom: 0;
}

.toshiba .faq ul.faq_list li ul.faq_txt li h4::before {
  display: block;
  content: '';
  min-width: 20px;
  height: 20px;
  background-color: #ef1616;
  float: left;
  margin-right: 10px;
}

/*media*********************************************************************/

@media (max-width: 1024px) and (min-width: 813px) {


  .toshiba .logo .logo_icon>div {
    padding: 20px 60px;
  }

  .toshiba .logo .logo_cont {
    padding: 0 70px;
  }

  .toshiba .logo .logo_cont .logo_txt {
    padding-right: 20px;
  }

  .toshiba h2 {
    font-size: 26px;
  }

  .toshiba .small .small_txt {
    padding: 20px;
  }

  .toshiba h4 {
    font-size: 20px;
  }

  .toshiba h3 {
    font-size: 24px;
  }

  .toshiba .difference {
    padding: 40px 20px;
  }

  .toshiba .dirty_air ul.dirty_list>li:last-of-type .dirty_img img {
    width: 60%;
  }


  .toshiba .dirty_air ul.dirty_list>li:last-of-type .dirty_img ul.disease_list li strong:first-of-type {
    font-size: 20px;
  }

  .toshiba .dirty_air ul.dirty_list>li:first-of-type ul.dirty_col li:nth-of-type(1),
  .toshiba .dirty_air ul.dirty_list>li:first-of-type ul.dirty_col li:nth-of-type(2),
  .toshiba .dirty_air ul.dirty_list>li:first-of-type ul.dirty_col li:nth-of-type(3) {
    padding: 40px 0;
  }

  .toshiba .dirty_air ul.dirty_list>li:first-of-type ul.dirty_col li:nth-of-type(1)::before {
    margin: 40px 0 auto 0;
  }

  .toshiba .air_inside .doing .do_title {
    margin-right: 100px;
  }
}

@media (max-width: 812px) and (min-width: 481px) {
  .toshiba ul.air_list li:nth-of-type(4) span {
    margin-bottom: 120px;
  }

  .toshiba .logo {
    padding: 0 20px;
  }

  .toshiba .small {
    padding: 80px 20px 0 20px;
  }

  .toshiba ul.air_list {
    padding-top: 0;
  }

  .toshiba .logo .logo_icon>div {
    padding: 20px 60px;
  }

  .toshiba .logo .logo_cont {
    padding: 0 70px;
  }

  .toshiba .logo .logo_cont .logo_txt {
    padding-right: 20px;
  }

  .toshiba .logo .logo_cont .logo_img {
    -webkit-box-flex: 1;
            flex: 1;
  }

  .toshiba h2 {
    font-size: 26px;
  }

  .toshiba .logo .logo_icon>div:first-of-type img {
    max-height: 20px;
  }

  .toshiba .small .small_txt {
    padding: 20px;
  }

  .toshiba h4 {
    font-size: 20px;
  }

  .toshiba h3 {
    font-size: 22px;
  }

  .toshiba .air_cleaner {
    padding: 20px 0;
  }

  .toshiba .air_cleaner ul.air_list>li:nth-of-type(odd) {
    padding: 0 20px;
  }

  .toshiba .air_cleaner ul.air_list>li:nth-of-type(1) {
    align-self: flex-start;
  }

  .toshiba .air_cleaner ul.air_list li:nth-of-type(2) {
    -webkit-box-flex: 1;
            flex: 1;
  }

  .toshiba .difference {
    padding: 40px 20px;
  }

  .toshiba .difference ul.diff_list li .diff_txt strong {
    margin-bottom: 10px;
  }

  .toshiba .questions {
    padding: 40px 20px;
  }

  .toshiba .size_room {
    padding: 40px 20px;
  }

  .toshiba ul.air_list li>.air_list_img {
    max-width: 80%;
  }

  .toshiba .dirty_air {
    padding: 40px 20px;
  }

  .toshiba .dirty_air ul.dirty_list>li {
    padding: 20px;
  }

  .toshiba .dirty_air ul.dirty_list>li:first-of-type ul.dirty_col li:nth-of-type(1),
  .toshiba .dirty_air ul.dirty_list>li:first-of-type ul.dirty_col li:nth-of-type(2),
  .toshiba .dirty_air ul.dirty_list>li:first-of-type ul.dirty_col li:nth-of-type(3) {
    padding: 40px 0 0 0;
  }

  .toshiba .dirty_air ul.dirty_list>li:first-of-type ul.dirty_col li:nth-of-type(3) {
    padding-bottom: 20px;
  }

  .toshiba .dirty_air ul.dirty_list>li:first-of-type ul.dirty_col li:nth-of-type(1)::before {
    display: none;
  }

  .toshiba .dirty_air ul.dirty_list>li:last-of-type span.small_txt {
    bottom: 20px;
  }

  .toshiba .dirty_air ul.dirty_list>li:first-of-type ul.dirty_col li:nth-of-type(1) .dirty_txt>span:nth-of-type(1):after {
    display: none;
  }

  .toshiba .dirty_air ul.dirty_list>li:first-of-type ul.dirty_col li:nth-of-type(1) .dirty_txt {
    margin: 0;
  }

  .toshiba .dirty_air ul.dirty_list>li>ul.dirty_col li>.dirty_txt>strong {
    font-size: 20px !important;
  }

  .toshiba .dirty_air ul.dirty_list>li:last-of-type .dirty_txt {
    padding: 20px 0;
  }

  .toshiba .dirty_air ul.dirty_list>li:last-of-type .dirty_img {
    display: none;
  }

  .toshiba .dirty_air ul.dirty_list>li:last-of-type .dirty_img ul.disease_list li strong:first-of-type {
    font-size: 20px;
  }

  .toshiba .air_inside {
    padding: 40px 20px;
  }

  .toshiba .air_inside .doing .do_title {
    margin-right: 50px;
  }

  .toshiba .faq {
    padding: 40px 20px;
  }

  .toshiba .tech_design {
    padding: 40px 20px;
  }
}

@media (max-width: 480px) and (min-width: 320px) {
  .toshiba .logo .logo_icon>div:first-of-type {
    -webkit-box-flex: 1.5;
            flex: 1.5;
  }

  .toshiba .logo .logo_icon>div {
    padding: 20px;
  }

  .toshiba .logo .logo_cont {
    padding: 30px 20px 0 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }

  .toshiba .logo .logo_cont .logo_txt {
    padding-right: 20px;
  }

  .toshiba .logo .logo_cont .logo_img {
    -webkit-box-flex: 1;
            flex: 1;
  }

  .toshiba h2 {
    font-size: 22px;
  }

  .toshiba .logo .logo_icon>div:first-of-type img {
    max-height: 20px;
  }

  .toshiba .logo .logo_cont .logo_txt>span {
    font-size: 14px;
    padding-top: 20px;
  }

  .toshiba .small .small_txt {
    padding: 20px 20px;
  }

  .toshiba h4 {
    font-size: 18px;
  }

  .toshiba h3 {
    font-size: 20px;
  }

  .toshiba p {
    font-size: 18px !important;
  }

  .toshiba .small {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    padding: 70px 0 0 0;
  }

  .toshiba .small .small_img,
  .toshiba .small .small_txt {
    max-width: 100%;
  }

  .toshiba .small .small_txt h3 {
    margin: 0 0 40px 0;
  }

  .toshiba .air_cleaner ul.air_list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    padding-top: 0;
  }

  .toshiba .air_cleaner ul.air_list>li:nth-of-type(odd) {
    padding: 0 20px;
  }

  .toshiba .air_cleaner h2 {
    padding: 0px 20px 20px 20px;
  }

  .toshiba .air_cleaner {
    padding: 40px 0;
  }

  .toshiba .difference {
    padding: 0px 20px;
  }

  .toshiba .difference ul.diff_list li {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
            flex-direction: column !important;
  }

  .toshiba .difference ul.diff_list li .diff_txt,
  .toshiba .difference ul.diff_list li .diff_img {
    max-width: 100%;
  }

  .toshiba .difference ul.diff_list li .diff_txt {
    padding: 20px 0 !important;
  }

  .toshiba .questions {
    padding: 40px 20px;
  }

  .toshiba .questions .que_list_col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }

  .toshiba .questions ul.que_list:last-of-type {
    padding-left: 0;
    margin-top: 10px;
  }

  .toshiba .questions .else_border .else_txt span {
    font-size: 18px;
  }

  .toshiba .questions .else_border {
    padding-top: 0;
    margin-top: 20px;
    background-size: cover;
    box-sizing: border-box;
    background-position: center;
  }

  .toshiba .questions .else_border .else_txt {
    border-right: solid 3px red;
    border-left: solid 3px red;
    height: 90%;
    padding-top: 10px;
  }

  .toshiba .size_room {
    padding: 0 20px 0px 20px;
  }

  .toshiba ul.air_list {
    /* flex-direction: column; */
    -webkit-box-align: center;
            align-items: center;
    flex-wrap: wrap;
  }

  .toshiba ul.air_list li {
    max-width: 100%;
    min-width: 130px;
    margin-bottom: 30px;
  }

  .toshiba ul.air_list li .air_list_img img {
    height: 239px;
  }

  .toshiba ul.air_list li:nth-of-type(3),
  .toshiba ul.air_list li:nth-of-type(4) {
    margin-bottom: 0;
  }

  .toshiba ul.air_list li span {
    margin-bottom: 10px !important;
  }

  .toshiba ul.air_list li span>strong {
    font-size: 22px;
  }

  .toshiba .dirty_air {
    padding: 40px 0px;
  }

  .toshiba .dirty_air ul.dirty_list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }

  .toshiba .dirty_air ul.dirty_list li {
    width: 100%;
    box-sizing: border-box;
  }

  .toshiba .dirty_air ul.dirty_list>li:first-of-type ul.dirty_col li {
    box-sizing: border-box;
  }

  .toshiba .dirty_air ul.dirty_list>li:first-of-type ul.dirty_col li:nth-of-type(1),
  .toshiba .dirty_air ul.dirty_list>li:first-of-type ul.dirty_col li:nth-of-type(2),
  .toshiba .dirty_air ul.dirty_list>li:first-of-type ul.dirty_col li:nth-of-type(3) {
    padding: 20px 0;
  }

  .toshiba .dirty_air ul.dirty_list>li:first-of-type ul.dirty_col li:nth-of-type(1) {
    padding: 40px 0 20px 0 !important;
  }

  .toshiba .dirty_air ul.dirty_list>li:first-of-type ul.dirty_col li:nth-of-type(1) .dirty_txt>span:nth-of-type(1):after {
    width: 200%;
    margin-left: 0;
  }

  .toshiba .dirty_air ul.dirty_list>li {
    padding: 20px;
  }

  .toshiba .dirty_air ul.dirty_list>li:first-of-type ul.dirty_col li:nth-of-type(1)::before {
    margin: 78px 0 0 0;
    display: none;
  }

  .toshiba .dirty_air ul.dirty_list>li:first-of-type ul.dirty_col li:nth-of-type(1) .dirty_txt {
    margin: 0;
  }

  .toshiba .dirty_air ul.dirty_list>li>ul.dirty_col li>.dirty_txt>strong {
    font-size: 20px !important;
  }

  .toshiba .dirty_air ul.dirty_list>li:first-of-type {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .toshiba .air_inside {
    padding: 0 20px 40px 20px;
  }

  .toshiba .air_inside ul.inside_list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }

  .toshiba .air_inside ul.inside_list>li:nth-of-type(2) {
    padding: 20px 0;
  }

  .toshiba .air_inside ul.inside_list>li:nth-of-type(2) .inside_txt {
    padding: 20px 0px 0px 0px;
  }

  .toshiba .air_inside .doing::before {
    display: none;
  }

  .toshiba .air_inside .doing {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    padding: 30px 10px;
    margin-top: 40px;
  }

  .toshiba .air_inside .doing .do_title,
  .toshiba .air_inside .doing .do_txt {
    max-width: 100%;
  }

  .toshiba .air_inside .doing .do_title {
    margin: 0 0 20px 0;
    width: 100%;
    text-align: center;
  }


  .toshiba .dirty_air ul.dirty_list>li:last-of-type .dirty_img img {
    position: relative;
    right: 50%;
    -webkit-transform: translate(50%, 0);
            transform: translate(50%, 0);
  }

  .toshiba .dirty_air ul.dirty_list>li:last-of-type .dirty_txt {
    padding: 20px 0;
  }

  .toshiba .dirty_air ul.dirty_list>li:last-of-type .dirty_img ul.disease_list li:nth-of-type(1) {
    right: 15px;
    bottom: 230px;
  }

  .toshiba .dirty_air ul.dirty_list>li:last-of-type .dirty_img ul.disease_list li:nth-of-type(2) {
    right: 210px;
    top: 270px;
  }

  .toshiba .dirty_air ul.dirty_list>li:last-of-type .dirty_img ul.disease_list li:nth-of-type(3) {
    right: 50px;
    bottom: 110px;
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }

  .toshiba .dirty_air ul.dirty_list>li:last-of-type .dirty_img ul.disease_list li:nth-of-type(4) {
    left: 85px;
    bottom: 120px;
  }

  .toshiba .dirty_air ul.dirty_list>li:last-of-type .dirty_img ul.disease_list li:nth-of-type(5) {
    left: 23px;
    bottom: 202px;
    -webkit-transform: rotate(-18deg);
            transform: rotate(-18deg);
  }

  .toshiba .dirty_air ul.dirty_list>li:last-of-type span.small_txt {
    position: unset;
    margin-top: 20px;
  }

  .toshiba .faq {
    padding: 40px 20px;
  }

  .toshiba .faq ul.faq_list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }

  .toshiba .faq ul.faq_list>li:first-of-type {
    padding-right: 0;
    padding-bottom: 40px;
  }

  .toshiba .tech_design {
    padding: 0 20px;
  }

  .toshiba .tech_design ul.design_list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }

  .toshiba .tech_design ul.design_list li:nth-of-type(2) {
    padding: 20px 0;
  }

  .toshiba .tech_design .design_title h2>strong {
    font-size: 36px;
  }

  .toshiba .logo {
    padding: 0;
  }

}