/*default styles*/
#kingston {
  max-width: 1316px;
  width: 100%;
  margin: 0 auto;
  height: auto;
  display: block;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}
#kingston p {
  margin-bottom: 0;
  margin: 0;
  text-align: unset;
  font-size: 24px;
  color: #fff;
}
#kingston p:first-letter {
  padding-left: 0;
}
#kingston h2 {
  text-align: unset;
  display: block;
  line-height: normal;
  font-size: 38px;
  font-weight: bold;
  text-transform: uppercase;
  color: #F8D9B0;
  padding: 0;
  margin: 0;
}
#kingston img {
  opacity: 1;
  max-width: 100%;
  display: block;
  height: auto;
}
#kingston img:hover {
  opacity: 1;
}
#kingston ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#kingston span {
  display: block;
  line-height: normal;
}

.features-desc__text img {
  margin-bottom: 0rem;
}

.one-col .features-desc__text p:first-letter {
  padding-left: 0rem !important;
}

/*end default styles*/
#kingston .show__mob {
  display: none;
}
#kingston .logo {
  position: relative;
}
#kingston .logo .logo__list li {
  position: absolute;
}
#kingston .logo .logo__list li:nth-of-type(1) {
  top: 2em;
  left: 2em;
}
#kingston .logo .logo__list li:nth-of-type(1) span {
  text-align: center;
  letter-spacing: 0.3em;
}
#kingston .logo .logo__list li:nth-of-type(1) span:nth-of-type(1) {
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
}
#kingston .logo .logo__list li:nth-of-type(1) span:nth-of-type(2) {
  font-size: 20px;
  text-transform: uppercase;
  color: #F8D9B0;
}
#kingston .logo .logo__list li:nth-of-type(1) img:nth-of-type(1) {
  margin-bottom: 170px;
}
#kingston .logo .logo__list li:nth-of-type(1) img:nth-of-type(2) {
  margin: 10px 0 20px 0;
}
#kingston .logo .logo__list li:nth-of-type(2) {
  right: 6em;
  bottom: 2em;
  max-width: 500px;
}
#kingston .logo .logo__list li:nth-of-type(2) p {
  margin: 12px 0 50px 0;
}
#kingston .logo .logo__list li:nth-of-type(2) .logo__list__flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#kingston .logo .logo__list li:nth-of-type(2) .logo__list__flex .logo__list__flex__item:nth-of-type(1) {
  margin-right: 60px;
}
#kingston .creat {
  position: relative;
}
#kingston .creat .creat__title {
  position: absolute;
  text-align: center;
  right: 50%;
  -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
       -o-transform: translateX(50%);
          transform: translateX(50%);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  bottom: 2em;
}
#kingston .creat .creat__title h2 {
  margin-bottom: 8px;
}
#kingston .creat .creat__list {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  left: 4em;
  top: 18em;
}
#kingston .creat .creat__list li:nth-of-type(1) {
  margin-right: 2em;
}
#kingston .archive {
  background-color: #000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4em;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#kingston .archive li {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
     -moz-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
}
#kingston .archive li .archive__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1em;
}
#kingston .archive li .archive__row .archive__row__item {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
     -moz-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
}
#kingston .archive li .archive__row .archive__row__item img {
  margin: 0 auto;
}
#kingston .usb {
  position: relative;
}
#kingston .usb .usb__list li {
  position: absolute;
}
#kingston .usb .usb__list li:nth-of-type(1) {
  right: 175px;
  top: 6em;
}
#kingston .usb .usb__list li:nth-of-type(1) .usb__list__title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 35px;
}
#kingston .usb .usb__list li:nth-of-type(1) .usb__list__title div:nth-of-type(1) {
  margin-right: 2em;
}
#kingston .usb .usb__list li:nth-of-type(1) .usb__list__txt {
  max-width: 345px;
  margin: 0 0 0 auto;
}
#kingston .usb .usb__list li:nth-of-type(2) {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  text-align: center;
  right: 50%;
  -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
       -o-transform: translateX(50%);
          transform: translateX(50%);
  bottom: 150px;
}
#kingston .usb .usb__list li:nth-of-type(2) p {
  margin: 1em 0 2em;
}

@media (max-width: 1024px) {
  #kingston .logo .logo__list li:nth-of-type(1) {
    max-width: 400px;
  }
  #kingston .logo .logo__list li:nth-of-type(1) img:nth-of-type(1) {
    margin-bottom: 120px;
  }
  #kingston .logo .logo__list li:nth-of-type(1) span:nth-of-type(2) {
    font-size: 15px;
  }
  #kingston .logo .logo__list li:nth-of-type(1) span:nth-of-type(1) {
    font-size: 12px;
  }
  #kingston .logo .logo__list li:nth-of-type(2) {
    max-width: 430px;
  }
  #kingston .creat .creat__list {
    top: 13em;
    max-width: 350px;
  }
  #kingston .usb .usb__list li:nth-of-type(2) {
    bottom: 60px;
  }
}
@media (max-width: 812px) {
  #kingston h2 {
    font-size: 32px;
  }
  #kingston p {
    font-size: 18px;
  }
  #kingston .show__mob {
    display: block;
    position: relative;
  }
  #kingston .show__mob::after {
    content: "";
    display: block;
    position: absolute;
    top: -1px;
    bottom: -1px;
    right: 0;
    left: -1px;
    -webkit-box-shadow: 0px 0px 69px 70px rgb(0, 0, 0) inset;
    box-shadow: 0px 0px 69px 70px rgb(0, 0, 0) inset;
  }
  #kingston .logo {
    background-color: #000;
    padding: 1em;
  }
  #kingston .logo .logo__list li {
    position: unset;
    max-width: 100% !important;
  }
  #kingston .logo .logo__list li:nth-of-type(1) img:nth-of-type(2) {
    margin: 10px auto 20px auto;
  }
  #kingston .logo .logo__list li:nth-of-type(2) h2 {
    text-align: center;
  }
  #kingston .logo .logo__list li:nth-of-type(2) p {
    text-align: center;
  }
  #kingston .logo .logo__img {
    display: none;
  }
  #kingston .logo .logo__list li:nth-of-type(1) img:nth-of-type(1) {
    margin-bottom: 2em;
  }
  #kingston .logo .logo__list li:nth-of-type(1) span:nth-of-type(2) {
    margin-bottom: 2em;
  }
  #kingston .logo .logo__list li:nth-of-type(2) .logo__list__flex {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #kingston .creat .creat__list {
    max-width: 290px;
    top: 11em;
    left: 2em;
  }
  #kingston .creat .creat__title {
    bottom: 1em;
  }
  #kingston .archive {
    padding: 1em;
  }
  #kingston .usb .usb__list li:nth-of-type(1) {
    right: 50%;
    -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
         -o-transform: translateX(50%);
            transform: translateX(50%);
  }
  #kingston .usb .usb__list li:nth-of-type(1) {
    top: 2em;
  }
  #kingston .usb .usb__list li:nth-of-type(2) img {
    max-width: 60%;
    margin: 0 auto;
  }
}
@media (max-width: 480px) {
  #kingston h2 {
    font-size: 24px;
  }
  #kingston p {
    font-size: unset;
  }
  #kingston .show__mob::after {
    -webkit-box-shadow: 0px 0px 39px 38px black inset;
    box-shadow: 0px 0px 39px 38px black inset;
  }
  #kingston .logo .logo__list li:nth-of-type(2) .logo__list__flex .logo__list__flex__item:nth-of-type(1) {
    margin-right: 1em;
  }
  #kingston .creat .creat__img img {
    min-width: 150%;
    margin-left: -50%;
  }
  #kingston .creat .creat__title {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    max-width: 100%;
    padding: 0 1em;
  }
  #kingston .creat .creat__title,
  #kingston .creat .creat__list {
    position: unset;
    -webkit-transform: unset;
        -ms-transform: unset;
         -o-transform: unset;
            transform: unset;
  }
  #kingston .creat {
    background-color: #000;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
  #kingston .creat .creat__list {
    margin: 1em auto 0 auto;
    padding: 0 1em;
  }
  #kingston .archive {
    display: block;
  }
  #kingston .archive li .archive__row .archive__row__item img {
    max-width: 50px;
  }
  #kingston .archive li:nth-of-type(1) {
    margin-bottom: 1em;
  }
  #kingston .usb .usb__img img {
    min-width: 230%;
    margin-left: -30%;
  }
  #kingston .usb .usb__list li:nth-of-type(2) {
    max-width: 100%;
    padding: 1em;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
  #kingston .usb .usb__list li:nth-of-type(2) img {
    max-width: 90%;
  }
  #kingston .usb .usb__list li:nth-of-type(1) .usb__list__title {
    display: block;
  }
  #kingston .usb .usb__list li:nth-of-type(1) .usb__list__title div:nth-of-type(1) {
    margin-right: 0;
    margin-bottom: 1em;
  }
  #kingston .usb .usb__list li:nth-of-type(1) .usb__list__title div:nth-of-type(1) img {
    max-width: 20%;
    margin: 0;
  }
  #kingston .usb .usb__list li:nth-of-type(1) {
    max-width: 100%;
    width: 100%;
    padding: 1em;
    top: 0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
  #kingston .usb .usb__list li:nth-of-type(1) .usb__list__title {
    margin-bottom: 1em;
  }
  #kingston .usb .usb__list li:nth-of-type(1) .usb__list__txt {
    margin-left: 0;
  }
}