#philips_wrap_id p:first-letter {
  padding-left: 0;
}

#philips_wrap_id p {
  margin-bottom: 0;
}

#philips_wrap_id img:hover {
  opacity: 1;
}

#philips_wrap_id img {
  opacity: 1;
  max-width: 100%;
  display: block;
  margin: 0;
}

#philips_wrap_id {
  max-width: 1316px;
  margin: 0 auto;
  height: auto;
  display: block;
  background-color: #fff;
}

.features-desc__text img {
  margin-bottom: 0rem;
}

.one-col .features-desc__text p:first-letter {
  padding-left: 0rem !important;
}

.philips_wrap {
  margin: 0 auto;
  max-width: 1316px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.philips_wrap h1 {
  padding: 0;
  margin: 0;
  font-size: 42px;
  font-weight: bold;
  color: white;
  line-height: normal;
}

.philips_wrap h2 {
  padding: 0;
  margin: 0;
  font-size: 28px;
  font-weight: bold;
  color: #42145f;
  line-height: normal;
}

.philips_wrap p {
  font-size: 23px !important;
  color: #5d5d5d;
}

.philips_wrap img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.philips_wrap li {
  list-style-type: none;
}

.philips_wrap .logo {
  position: relative;
  background-image: url("https://cdn.comfy.ua/media/x/img/1220235/GC968280/logo_bg.png");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 606px;
  width: 100%;
  padding-left: 70px;
}

.philips_wrap .logo .logo_text {
  position: absolute;
  bottom: 70px;
  max-width: 580px;
}

.philips_wrap .logo .logo_img {
  position: relative;
  max-width: 100%;
  height: auto;
  left: -14px;
  top: -14px;
}

/*end section 1*/

.philips_wrap .purple_text {
  background-color: #42145f;
  padding: 10px 70px;
}

.philips_wrap .purple_text span {
  display: block;
  font-size: 35px;
  color: white;
  line-height: normal;
}

/*end purple text-string*/

.philips_wrap .osob {
  padding: 70px 70px 0px 70px;
}

.philips_wrap .osob ul.plitka li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.philips_wrap .osob ul.plitka li:nth-child(2) {
  padding: 0 30px;
}

.philips_wrap .osob ul.plitka:first-child {
  padding-bottom: 50px;
}

.philips_wrap .osob ul.plitka {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.philips_wrap .osob ul.plitka li::before {
  content: '';
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  width: 157px;
  min-height: 157px;
  margin-bottom: 30px;
}

.philips_wrap .osob ul.plitka li:first-child::before {
  background-image: url("https://cdn.comfy.ua/media/x/img/1220235/GC968280/icon1_sect1.png");
}

.philips_wrap .osob ul.plitka li:nth-child(2)::before {
  background-image: url("https://cdn.comfy.ua/media/x/img/1220235/GC968280/icon2_sect1.png");
}

.philips_wrap .osob ul.plitka li:last-child::before {
  background-image: url("https://cdn.comfy.ua/media/x/img/1220235/GC968280/icon3_sect1.png");
}

.philips_wrap .osob ul.plitka li h2 {
  -ms-flex-item-align: start;
      align-self: flex-start;
  min-height: 160px;
  line-height: normal;
  /* margin-bottom: 30px; */
}

.philips_wrap .osob ul.plitka li .plitka_text {
  height: 490px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.philips_wrap .osob ul.plitka:last-child li:first-child::before {
  background-image: url("https://cdn.comfy.ua/media/x/img/1220235/GC968280/icon4_sect1.png");
}

.philips_wrap .osob ul.plitka:last-child li:nth-child(2)::before {
  background-image: url("https://cdn.comfy.ua/media/x/img/1220235/GC968280/icon5_sect1.png");
}

.philips_wrap .osob ul.plitka:last-child li:last-child::before {
  background-image: url("https://cdn.comfy.ua/media/x/img/1220235/GC968280/icon6_sect1.png");
}

.philips_wrap .osob ul.plitka:last-child li .plitka_text {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.philips_wrap .osob ul.plitka:last-child {
  margin-bottom: 50px;
}

.philips_wrap .osob ul.plitka:last-child li h2 {
  min-height: 130px;
}

/*end section 2*/

.philips_wrap .rabota {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background-color: #b38fbb;
  padding: 70px 70px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  /*   background-image: url("https://cdn.comfy.ua/media/x/img/1220235/GC968280/img_sect2.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 667px;
  width: 1178px;
  box-sizing: border-box; */
}

/*end section 3*/

.philips_wrap .glajka .glajka_bg {
  display: block;
  width: 1316px;
  max-width: 100%;
  height: 606px;
  background-image: url("https://cdn.comfy.ua/media/x/img/1220235/GC968280/bg_sect4.png");
  background-position: center;
  background-repeat: no-repeat;
}

.philips_wrap .glajka ul.plitka {
  padding: 60px 0;
}

.philips_wrap .glajka ul.plitka li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.philips_wrap .glajka ul.plitka li .glajka_img,
.philips_wrap .glajka ul.plitka li .glajka_text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  max-width: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.philips_wrap .glajka ul.plitka li .glajka_text {
  padding-left: 20px;
  padding-right: 70px;
}

.philips_wrap .glajka ul.plitka li .glajka_text h2 {
  margin-bottom: 30px;
}

.philips_wrap .glajka ul.plitka li:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.philips_wrap .glajka ul.plitka li:nth-child(even) .glajka_text {
  padding-left: 70px;
  padding-right: 40px;
}

/*end section 4*/

.philips_wrap .strengths {
  padding: 60px 0;
  background-color: #dccfe9;
}

.philips_wrap .strengths ul.plitka li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.philips_wrap .strengths ul.plitka li:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.philips_wrap .strengths ul.plitka li .strengths_img,
.philips_wrap .strengths ul.plitka li .strengths_text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  max-width: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.philips_wrap .strengths ul.plitka li .strengths_text {
  padding-left: 20px;
  padding-right: 70px;
}

.philips_wrap .strengths ul.plitka li:nth-child(even) .strengths_text {
  padding-right: 20px;
  padding-left: 70px;
}

.philips_wrap .strengths ul.plitka li .strengths_text h2 {
  margin-bottom: 30px;
}

/*end section 5*/

.philips_wrap .ispit {
  padding: 0 70px 60px 70px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* .philips_wrap .ispit .ispit_text p strong {
  color: #42145f;
} */

.philips_wrap .ispit .ispit_bg {
  background-image: url("https://cdn.comfy.ua/media/x/img/1220235/GC968280/bg_sect6.png");
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 394px;
}

.philips_wrap .ispit .ispit_text {
  padding-top: 30px;
}

/*end section 6*/

.philips_wrap .nadegnost {
  padding: 0 70px;
}

.philips_wrap .nadegnost .nadeg_img {
  width: 100%;
  height: 422px;
  background-image: url("https://cdn.comfy.ua/media/x/img/1220235/GC968280/bg_sect7.png");
  background-repeat: no-repeat;
  background-position: center;
}

.philips_wrap .nadegnost ul.nadeg_row li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 60px 0;
}

.philips_wrap .nadegnost ul.nadeg_row li:last-child {
  margin-bottom: 0;
  padding-bottom: 60px;
}

/* .philips_wrap .nadegnost ul.nadeg_row li:nth-child(2) {
  margin: 60px 0;
}
 */
/* .philips_wrap .nadegnost ul.nadeg_row li:last-child {
  margin-bottom: 0;
} */

.philips_wrap .nadegnost ul.nadeg_row li::before {
  content: '';
  display: block;
  min-width: 200px;
  min-height: 200px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-right: 60px;
}

.philips_wrap .nadegnost ul.nadeg_row li:nth-child(1)::before {
  background-image: url("https://cdn.comfy.ua/media/x/img/1220235/GC968280/icon1_sect7.png");
}

.philips_wrap .nadegnost ul.nadeg_row li:nth-child(2)::before {
  background-image: url("https://cdn.comfy.ua/media/x/img/1220235/GC968280/icon2_sect7.png");
}

.philips_wrap .nadegnost ul.nadeg_row li:nth-child(3)::before {
  background-image: url("https://cdn.comfy.ua/media/x/img/1220235/GC968280/icon3_sect7.png");
}

.philips_wrap .nadegnost ul.nadeg_row li .nadeg_text h2 {
  margin-bottom: 40px;
}

/*end section 7*/



/* MEDIA */

@media (max-width: 1024px) and (min-width: 813px) {

  .philips_wrap h2 {
    line-height: 24px;
  }

  .philips_wrap p {
    font-size: 20px !important;
  }

  .philips_wrap .osob ul.plitka li .plitka_text {
    height: 100%;
  }

  .philips_wrap .glajka ul.plitka li:nth-child(even) .glajka_text,
  .philips_wrap .glajka ul.plitka li .glajka_text,
  .philips_wrap .strengths ul.plitka li .strengths_text,
  .philips_wrap .strengths ul.plitka li:nth-child(even) .strengths_text {
    padding: 0 20px;
  }

  .philips_wrap .glajka ul.plitka li .glajka_text h2,
  .philips_wrap .strengths ul.plitka li .strengths_text h2 {
    margin-bottom: 10px;
    font-size: 24px;
  }

  .philips_wrap .ispit .ispit_bg {
    background-size: contain;
    height: 296px;
  }

}

@media (max-width: 812px) and (min-width: 481px) {
  .philips_wrap .logo {
    padding-left: 20px;
  }

  .philips_wrap .purple_text {
    padding: 0 20px;
  }

  .philips_wrap .osob {
    padding: 70px 20px 0px 20px;
  }

  .philips_wrap .osob ul.plitka li .plitka_text {
    height: 100%;
  }

  .philips_wrap .osob ul.plitka li:nth-child(2) {
    padding: 0 20px;
  }

  .philips_wrap h2 {
    font-size: 22px;
  }

  .philips_wrap p {
    font-size: 18px;
    line-height: 25px;
  }

  .philips_wrap .osob ul.plitka li h2 {
    min-height: 80px !important;
  }

  .philips_wrap .osob ul.plitka:last-child li .plitka_text {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 100%;
  }

  .philips_wrap .rabota {
    padding: 20px 20px;
  }

  .philips_wrap .glajka ul.plitka li,
  .philips_wrap .glajka ul.plitka li:nth-child(even),
  .philips_wrap .strengths ul.plitka li,
  .philips_wrap .strengths ul.plitka li:nth-child(even) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-bottom: 60px;
  }

  .philips_wrap .glajka ul.plitka li:last-child,
  .philips_wrap .strengths ul.plitka li:last-child {
    margin-bottom: 0;
  }

  .philips_wrap .glajka ul.plitka li .glajka_img,
  .philips_wrap .glajka ul.plitka li .glajka_text,
  .philips_wrap .strengths ul.plitka li .strengths_text,
  .philips_wrap .strengths ul.plitka li .strengths_img {
    max-width: 100%;
    padding: 0 20px;
  }

  .philips_wrap .glajka ul.plitka li .glajka_img {
    padding: 0 20px;
  }

  .philips_wrap .glajka ul.plitka li:nth-child(even) .glajka_text,
  .philips_wrap .strengths ul.plitka li:nth-child(even) .strengths_text {
    padding: 0 20px;
  }

  .glajka ul.plitka li .glajka_text,
  .philips_wrap .strengths ul.plitka li .strengths_text {
    margin-bottom: 20px;
  }

  .philips_wrap .purple_text span {
    font-size: 28px;
  }

  .philips_wrap .ispit {
    padding: 0 20px 20px 20px;
  }

  .philips_wrap .nadegnost {
    padding: 0 20px;
  }

  .philips_wrap .nadegnost ul.nadeg_row li {
    margin: 0;
    padding: 0 !important;
  }

  .philips_wrap .nadegnost ul.nadeg_row li::before {
    margin-right: 30px;
    min-width: 150px;
  }

  .philips_wrap .nadegnost ul.nadeg_row li .nadeg_text h2 {
    margin-bottom: 10px;
  }

  .philips_wrap .glajka ul.plitka {
    padding: 20px 0;
  }

  .philips_wrap .strengths {
    padding: 20px 0;
  }

}

@media (max-width: 480px) and (min-width: 320px) {
  .philips_wrap .logo .logo_text h1 {
    font-size: 35px;
  }

  .philips_wrap .logo {
    padding: 0 20px;
  }

  .philips_wrap .osob {
    padding: 50px 20px 0px 20px;
  }

  .philips_wrap .osob ul.plitka li .plitka_text {
    height: 100%;
  }

  .philips_wrap .osob ul.plitka li:nth-child(2) {
    padding: 0 20px;
  }

  .philips_wrap h2 {
    font-size: 22px;
  }

  .philips_wrap p {
    font-size: 18px !important;
    line-height: 25px !important;
  }

  .philips_wrap .osob ul.plitka li h2 {
    min-height: 80px !important;
  }

  .philips_wrap .osob ul.plitka:last-child li .plitka_text {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .philips_wrap .osob ul.plitka {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .philips_wrap .osob ul.plitka li {
    margin-bottom: 50px;
    padding: 0 !important;
  }

  .philips_wrap .osob ul.plitka li h2 {
    min-height: unset !important;
    margin-bottom: 20px;
  }

  .philips_wrap .osob ul.plitka:last-child li .plitka_text {
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }

  .philips_wrap .osob ul.plitka li .plitka_text {
    height: unset !important;
  }

  .philips_wrap .osob ul.plitka:first-child {
    padding-bottom: 0;
  }

  .philips_wrap .osob ul.plitka:last-child li:last-child {
    margin-bottom: 0;
  }

  .philips_wrap .purple_text {
    padding: 10px 20px;
  }

  .philips_wrap .purple_text span {
    font-size: 20px;
  }

  .philips_wrap .rabota {
    padding: 20px 20px;
  }

  .philips_wrap .rabota img {
    display: none !important;
  }

  .philips_wrap .rabota {
    background-image: url("https://cdn.comfy.ua/media/x/img/1220235/GC968280/img_sect2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    /* width: 1178px; */
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }

  .philips_wrap .glajka ul.plitka li,
  .philips_wrap .glajka ul.plitka li:nth-child(even),
  .philips_wrap .strengths ul.plitka li,
  .philips_wrap .strengths ul.plitka li:nth-child(even) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-bottom: 30px;
  }

  .philips_wrap .glajka ul.plitka li:last-child,
  .philips_wrap .strengths ul.plitka li:last-child {
    margin-bottom: 0;
  }

  .philips_wrap .glajka ul.plitka li .glajka_text,
  .philips_wrap .strengths ul.plitka li .strengths_text {
    max-width: 100%;
    padding: 0 20px;
  }

  .philips_wrap .glajka ul.plitka li .glajka_img,
  .philips_wrap .strengths ul.plitka li .strengths_img {
    max-width: 100%;
    padding: 0 !important;
  }

  .philips_wrap .glajka ul.plitka li .glajka_img,
  .philips_wrap .strengths ul.plitka li .strengths_img {
    padding: 0 20px;
  }

  .philips_wrap .glajka ul.plitka li:nth-child(even) .glajka_text,
  .philips_wrap .strengths ul.plitka li:nth-child(even) .strengths_text {
    padding: 0 20px;
  }

  .philips_wrap .glajka ul.plitka li .glajka_text,
  .philips_wrap .strengths ul.plitka li .strengths_text {
    margin-bottom: 20px;
  }

  .philips_wrap .glajka ul.plitka,
  .philips_wrap .strengths {
    padding: 20px 0;
  }

  .philips_wrap .glajka .glajka_bg {
    background-position: center right 43%;
  }

  .philips_wrap .glajka ul.plitka li .glajka_text h2 {
    margin-bottom: 10px;
  }

  .philips_wrap .ispit {
    padding: 0;
  }

  .philips_wrap .ispit .ispit_bg {
    background-size: cover;
    height: 300px;
    background-position: center right 71%;
  }

  .philips_wrap .ispit .ispit_text {
    padding: 30px 20px 20px 20px;
  }

  .philips_wrap .nadegnost {
    padding: 0;
  }

  .philips_wrap .nadegnost ul.nadeg_row li {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .philips_wrap .nadegnost ul.nadeg_row li::before {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .philips_wrap .nadegnost ul.nadeg_row li {
    margin: 40px 0;
  }

  .philips_wrap .nadegnost ul.nadeg_row li .nadeg_text {
    padding: 0 20px;
  }

  .philips_wrap .nadegnost ul.nadeg_row li .nadeg_text h2 {
    margin-bottom: 10px;
  }

  .philips_wrap .nadegnost .nadeg_img {
    background-size: cover;
    max-width: 100%;
    height: 250px;
  }
}