#philips_wrap_id-fc690301 p:first-letter {
  padding-left: 0;
}

#philips_wrap_id-fc690301 p {
  margin-bottom: 0;
}

#philips_wrap_id-fc690301 img:hover {
  opacity: 1;
}

#philips_wrap_id-fc690301 img {
  opacity: 1;
  max-width: 100%;
  display: block;
}

#philips_wrap_id-fc690301 {
  max-width: 1316px;
  margin: 0 auto;
  height: auto;
  display: block;
  background-color: #fff;
}

.features-desc__text img {
  margin-bottom: 0rem;
}

.one-col .features-desc__text p:first-letter {
  padding-left: 0rem !important;
}

.philips_wrap {
  max-width: 1316px;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.philips_wrap ul li {
  list-style-type: none;
}

.philips_wrap img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  margin: 0;
}

.philips_wrap h1 {
  margin: 0;
  padding: 0;
  line-height: normal;
  font-size: 38px;
  color: #fff;
  font-weight: bold;
}

.philips_wrap h2 {
  margin: 0;
  padding: 0;
  line-height: normal;
  font-size: 29px;
  color: #024731;
  font-weight: bold;
}

.philips_wrap p {
  font-size: 21px !important;
  line-height: normal;
  color: #616266;
}

.philips_wrap .logo {
  position: relative;
  width: 100%;
  height: 690px;
  background-image: url("https://cdn.comfy.ua/media/x/img/1460221/logo_bg.png");
  background-repeat: no-repeat;
  background-position: center;
  padding: 0 70px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.philips_wrap .logo .logo_img {
  position: relative;
  left: -9px;
  top: -10px;
}

.philips_wrap .logo .logo_text {
  position: absolute;
  bottom: 0;
}

.philips_wrap .logo .logo_text span {
  display: block;
  color: #fff;
  line-height: normal;
  font-size: 24px;
}

.philips_wrap .logo .logo_text h1 {
  padding: 50px 0;
}

/*end section 1*/

.philips_wrap .vkusno ul.vkus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 694px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.philips_wrap .vkusno ul.vkus li {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  max-width: 33%;
  background-repeat: no-repeat;
  position: relative;
}

.philips_wrap .vkusno ul.vkus li h1 {
  text-align: center;
  max-width: 250px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-shadow: 0 0 5px black;
}

.philips_wrap .vkusno ul.vkus li:nth-child(1) {
  background-image: url("https://cdn.comfy.ua/media/x/img/1460221/ruka1.png");
  background-position: top right 38%;
  background-size: cover;
}

.philips_wrap .vkusno ul.vkus li:nth-child(2) {
  background-image: url("https://cdn.comfy.ua/media/x/img/1460221/ruka2.png");
  background-size: cover;
  background-position: top right 43%;
  margin: 0 5px;
}

.philips_wrap .vkusno ul.vkus li:nth-child(3) {
  background-image: url("https://cdn.comfy.ua/media/x/img/1460221/ruka3.png");
  background-size: cover;
  background-position: top right 43%;
}

/*end section*/

.philips_wrap .green_text span {
  display: block;
  color: #fff;
  font-size: 42px;
  line-height: normal;
  background-color: #024731;
  padding: 20px 70px;
}

/*end green string*/

.philips_wrap .function_video {
  padding: 0 70px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.philips_wrap .function_video iframe {
  vertical-align: middle;
}

/*end section*/

.philips_wrap .nasadka {
  width: 100%;
  height: 693px;
  background-image: url("https://cdn.comfy.ua/media/x/img/1460221/bg_sect2.png");
  background-repeat: no-repeat;
  background-position: right;
  padding: 80px 70px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.philips_wrap .nasadka p {
  max-width: 520px;
}

/*end section 2*/

.philips_wrap .promix {
  width: 100%;
  height: 692px;
  background-image: url("https://cdn.comfy.ua/media/x/img/1460221/bg_sect3.png");
  background-repeat: no-repeat;
  background-position: left;
  padding: 80px 70px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.philips_wrap .promix p {
  max-width: 310px;
  float: right;
}

/*end section 3*/

.philips_wrap .upravlenie {
  width: 100%;
  height: 694px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 50px 70px;
  background-image: url("https://cdn.comfy.ua/media/x/img/1460221/bg_sect4.png");
  background-repeat: no-repeat;
  background-position: right;
}

.philips_wrap .upravlenie .uprav_text {
  max-width: 500px;
}

.philips_wrap .upravlenie .uprav_text h2 {
  margin-bottom: 20px;
}

/*end section 4*/

.philips_wrap .smena_nasadok {
  width: 100%;
  height: 693px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 100px 70px;
  background-image: url("https://cdn.comfy.ua/media/x/img/1460221/bg_sect5.png");
  background-repeat: no-repeat;
  background-position: left;
  position: relative;
}

.philips_wrap .smena_nasadok .smena_text {
  max-width: 520px;
  position: absolute;
  right: 70px;
  bottom: 180px;
}

.philips_wrap .smena_nasadok .smena_text h2 {
  margin-bottom: 20px;
}

/*end section 5*/

.philips_wrap .motor {
  width: 100%;
  height: 692px;
  padding: 100px 70px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url("https://cdn.comfy.ua/media/x/img/1460221/bg_sect6.png");
  background-repeat: no-repeat;
  background-position: right;
  position: relative;
}

.philips_wrap .motor .motor_text {
  max-width: 510px;
}

.philips_wrap .motor .motor_text h2 {
  margin-bottom: 20px;
}

/*end section 6*/

.philips_wrap .clean_table {
  width: 100%;
  height: 693px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url("https://cdn.comfy.ua/media/x/img/1460221/bg_sect7.png");
  background-repeat: no-repeat;
  background-position: left;
  padding: 40px 70px;
  position: relative;
}

.philips_wrap .clean_table p {
  max-width: 400px;
  float: right;
}

/*end section 7*/

.philips_wrap .stakan {
  width: 100%;
  height: 693px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url("https://cdn.comfy.ua/media/x/img/1460221/bg_sect8.png");
  background-repeat: no-repeat;
  background-position: right;
  padding: 80px 70px;
  position: relative;
}

.philips_wrap .stakan p {
  max-width: 400px;
}

/*end section 8*/

.philips_wrap .izmelchitel {
  width: 100%;
  height: 693px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url("https://cdn.comfy.ua/media/x/img/1460221/bg_sect9.png");
  background-repeat: no-repeat;
  background-position: right;
  padding: 280px 70px 200px 70px;
  position: relative;
}

.philips_wrap .izmelchitel p {
  max-width: 420px;
}

/*end section 9*/

.philips_wrap .vzbivaet {
  width: 100%;
  height: 694px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url("https://cdn.comfy.ua/media/x/img/1460221/bg_sect10.png");
  background-repeat: no-repeat;
  background-position: left;
  padding: 280px 70px 200px 70px;
  position: relative;
}

.philips_wrap .vzbivaet p {
  max-width: 410px;
  float: right;
}

/*end section 10*/

.philips_wrap .povar_book {
  width: 100%;
  height: 692px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url("https://cdn.comfy.ua/media/x/img/1460221/bg_sect11.png");
  background-repeat: no-repeat;
  background-position: left;
  padding: 100px 70px;
  position: relative;
}

.philips_wrap .povar_book p {
  max-width: 315px;
  float: right;
}

/*end section 11*/

.philips_wrap .sravn_table {
  width: 100%;
  height: auto;
  padding: 70px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.philips_wrap .sravn_table ul.sravnit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.philips_wrap .sravn_table ul.sravnit li {
  max-width: 30%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  padding: 20px 40px;
  background-color: #d3d966;
  min-width: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.philips_wrap .sravn_table ul.sravnit li:nth-child(2) {
  margin: 0 70px;
  background-color: #edf0ca;
}

.philips_wrap .sravn_table ul.sravnit li .sravn_text p {
  color: black;
}

.philips_wrap .sravn_table ul.sravnit:first-child li .sravn_text p {
  margin-bottom: 10px;
}

.philips_wrap .sravn_table ul.sravnit:first-child li .sravn_text p:nth-child(2) {
  margin: 0;
}

.philips_wrap .sravn_table ul.sravnit li .sravn_img {
  margin: 40px 0;
  text-align: center;
  /* min-height: 234px; */
}

.philips_wrap .sravn_table ul.sravnit li .sravn_img img {
  max-height: 234px;
}

.philips_wrap .sravn_table h2 {
  margin: 20px 0 25px 0;
}



/* .philips_wrap .sravn_table ul.sravnit li .sravn_img {
  text-align: center;
} */

/*MEDIA*/

@media (max-width: 1024px) and (min-width: 813px) {
  .philips_wrap .smena_nasadok .smena_text {
    max-width: 370px;
    top: 100px;
  }

  .philips_wrap .sravn_table ul.sravnit li {
    padding: 10px 20px;
  }

  .philips_wrap .sravn_table ul.sravnit li .sravn_img {
    margin: 20px 0;
  }
}

@media (max-width: 812px) and (min-width: 481px) {
  .philips_wrap .logo {
    padding: 0 20px;
  }

  .philips_wrap .green_text span {
    padding: 20px;
    font-size: 34px;
  }

  .philips_wrap .nasadka {
    padding: 20px;
    position: relative;
  }

  /*   .philips_wrap .nasadka::before,
  .philips_wrap .motor::before,
  .philips_wrap .clean_table::before,
  .philips_wrap .nasadka::before,
  .philips_wrap .motor::before,
  .philips_wrap .clean_table::before,
  .philips_wrap .smena_nasadok::before,
  .philips_wrap .upravlenie::before,
  .philips_wrap .promix::before,
  .philips_wrap .promix::before,
  .philips_wrap .stakan::before,
  .philips_wrap .izmelchitel::before,
  .philips_wrap .vzbivaet::before,
  .philips_wrap .povar_book::before {
    content: '';
    width: 812px;
    max-width: 100%;
    height: inherit;
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  } */

  .philips_wrap .nasadka p,
  .philips_wrap .promix p,
  .philips_wrap .upravlenie .uprav_text,
  .philips_wrap .smena_nasadok .smena_text,
  .philips_wrap .motor .motor_text,
  .philips_wrap .clean_table p,
  .philips_wrap .stakan p,
  .philips_wrap .izmelchitel p,
  .philips_wrap .vzbivaet p,
  .philips_wrap .povar_book p {
    position: absolute;
    z-index: 2;
    max-width: unset;
    padding-right: 20px;
    right: unset;
    text-align: center;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);

    font-size: 25px !important;
    line-height: normal;
    color: #ffffff !important;
    text-shadow: 0 0 5px black;
  }

  .philips_wrap .upravlenie .uprav_text p,
  .philips_wrap .smena_nasadok .smena_text p,
  .philips_wrap .motor .motor_text p {
    font-size: 25px !important;
    line-height: normal;
    color: #ffffff !important;
    text-shadow: 0 0 5px black;
  }

  .philips_wrap .promix,
  .philips_wrap .upravlenie,
  .philips_wrap .smena_nasadok,
  .philips_wrap .motor,
  .philips_wrap .clean_table,
  .philips_wrap .stakan,
  .philips_wrap .izmelchitel,
  .philips_wrap .vzbivaet,
  .philips_wrap .povar_book {
    position: relative;
    padding: 20px;
  }

  .philips_wrap .sravn_table {
    padding: 20px;
  }

  .philips_wrap .sravn_table ul.sravnit li:nth-child(2) {
    margin: 0 20px;
  }

  .philips_wrap .sravn_table ul.sravnit li {
    padding: 20px 20px;
  }

  .philips_wrap .sravn_table ul.sravnit li .sravn_img img {
    max-height: 125px;
  }

  .philips_wrap h2.shadow_style {
    font-size: 35px;
    color: #024731;
    font-weight: bold;
    text-shadow: 0 0 5px white;
  }

  .philips_wrap .vkusno ul.vkus li h1 {
    font-size: 35px;
    text-shadow: 0 0 5px black;
  }

  .philips_wrap .function_video {
    padding: 0 0;
  }

}

@media (max-width: 480px) and (min-width: 320px) {
  .philips_wrap .logo {
    padding: 0 20px;
    background-position: center right 11%;
  }

  .philips_wrap .logo .logo_text h1 {
    padding-right: 20px;
    font-size: 32px;
  }

  .philips_wrap .green_text span {
    padding: 10px 20px;
    font-size: 24px;
  }

  .philips_wrap .nasadka,
  .philips_wrap .promix,
  .philips_wrap .motor,
  .philips_wrap .clean_table,
  .philips_wrap .stakan,
  .philips_wrap .izmelchitel,
  .philips_wrap .vzbivaet,
  .philips_wrap .povar_book {
    padding: 20px;
    position: relative;
  }

  .philips_wrap .vzbivaet {
    background-position: center left 41%;
  }

  .philips_wrap .povar_book {
    background-position: center left 20%;
  }

  .philips_wrap .clean_table {
    background-position: center right 50%;
  }

  /*   .philips_wrap .nasadka::before,
  .philips_wrap .promix::before,
  .philips_wrap .upravlenie::before,
  .philips_wrap .smena_nasadok::before,
  .philips_wrap .motor::before,
  .philips_wrap .clean_table::before,
  .philips_wrap .stakan::before,
  .philips_wrap .izmelchitel::before,
  .philips_wrap .vzbivaet::before,
  .philips_wrap .povar_book::before {
    content: '';
    width: 812px;
    max-width: 100%;
    height: inherit;
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  } */

  .philips_wrap p {
    font-size: 18px !important;

  }

  .philips_wrap .nasadka p,
  .philips_wrap .promix p,
  .philips_wrap .upravlenie .uprav_text,
  .philips_wrap .smena_nasadok .smena_text,
  .philips_wrap .motor .motor_text,
  .philips_wrap .clean_table p,
  .philips_wrap .stakan p,
  .philips_wrap .izmelchitel p,
  .philips_wrap .vzbivaet p,
  .philips_wrap .povar_book p {
    position: absolute;
    z-index: 2;
    max-width: unset;
    /* bottom: 20px; */
    padding-right: 20px;
    right: unset;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    text-align: center;

    color: #ffffff !important;
    text-shadow: 0 0 5px black;
  }

  .philips_wrap .smena_nasadok .smena_text p,
  .philips_wrap .motor .motor_text p,
  .philips_wrap .upravlenie .uprav_text p {
    color: #ffffff !important;
    text-shadow: 0 0 5px black;
  }

  .philips_wrap .stakan {
    background-position: center right 34%;
  }

  .philips_wrap .upravlenie {
    position: relative;
    padding: 20px;
    background-position: center right 33%;
  }

  .philips_wrap .smena_nasadok {
    padding: 20px;
    background-position: center left 16%;
  }

  .philips_wrap .sravn_table {
    padding: 20px;
    overflow-x: scroll;
  }

  .philips_wrap .sravn_table ul.sravnit li:nth-child(2) {
    margin: 0 20px;
  }

  .philips_wrap .sravn_table ul.sravnit li {
    padding: 20px 20px;
  }

  .philips_wrap .sravn_table h2 {
    margin: 10px 0 15px 0;
  }

  .philips_wrap .sravn_table ul.sravnit li .sravn_img img {
    max-height: 125px;
  }

  .philips_wrap h2.shadow_style {
    font-size: 28px;
    color: #024731;
    font-weight: bold;
    text-shadow: 0 0 5px white;
  }

  .philips_wrap .vkusno ul.vkus {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .philips_wrap .vkusno ul.vkus li {
    max-width: 100%;
  }

  .philips_wrap .vkusno ul.vkus li:nth-child(2) {
    margin: 0;
  }

  .philips_wrap .vkusno ul.vkus li h1 {
    font-size: 32px;
    text-shadow: 0 0 5px black;
  }

  .philips_wrap .function_video {
    padding: 0 0;
  }

  .philips_wrap .function_video iframe {
    height: 500px;
  }
}