/* default CSS  */

#wrapper-shanovniy-klient {
   display: block;
   margin: 0 auto;
   max-width: 1316px;
   width: 100%;
   overflow: hidden;
}

.breadcrumbs {
   display: none;
}

span.word-wrap {
   display: inline-block;
   word-wrap: break-word;
}

.features-desc__text img {
   margin-bottom: 0rem !important;
}

#wrapper-shanovniy-klient p:first-letter {
   padding-left: 0;
}

#wrapper-shanovniy-klient p {
   margin-bottom: 0;
}

#wrapper-shanovniy-klient img:hover {
   opacity: 1;
}

#wrapper-shanovniy-klient img {
   display: block;
   margin-right: initial;
   margin-left: initial;
}

#wrapper-shanovniy-klient h2 {
   font-size: 30px;
   color: #000;
   line-height: 1;
   font-weight: bold;
   padding: 0 0 15px 0;
}

#wrapper-shanovniy-klient h3 {
   font-size: 24px;
   color: #000;
   line-height: 1;
   font-weight: normal;
   margin: 0;
   padding-top: 0;
   text-align: left;
   padding-bottom: 12px;
}

#wrapper-shanovniy-klient p {
   font-size: 18px;
   color: #000;
}

#wrapper-shanovniy-klient .bg_color_43B02A {
   background-color: #43B02A;
}

/* default CSS END */

/* shanovniy-klient_cont */

.shanovniy-klient_cont {}

.shanovniy-klient__top-banner {
   background-image: url(https://cdn.comfy.ua/media/x/img/shanovniy-klient/bg_svg.svg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
   width: 100%;
   height: 238px;
   margin-top: 15px;
   background-color: #E5E5E5;
}

.shanovniy-klient__row-flex {
   padding: 30px 60px 60px 60px;
   background: #fff;
}

.shanovniy-klient__text-top {}

.shanovniy-klient__text-bottom-flex {
   display: -webkit-box;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   flex-direction: column;
   -webkit-box-align: start;
   align-items: flex-start;
   -webkit-box-pack: center;
   justify-content: center;
   padding-top: 60px;
}

.shanovniy-klient__item {
   padding: 0 0 0 150px;
   position: relative;
   min-height: 120px;
   display: -webkit-box;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   flex-direction: column;
   -webkit-box-pack: center;
   justify-content: center;
   margin-bottom: 30px;
}

.shanovniy-klient__item:last-child {
   margin-bottom: 0px;
}

.shanovniy-klient__item::before {
   content: "";
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   width: 120px;
   height: 120px;
   position: absolute;
   left: 0;
}

.shanovniy-klient__item:nth-child(1)::before {
   content: "";
   background-image: url(https://cdn.comfy.ua/media/x/img/shanovniy-klient/img-row1.svg);
}

.shanovniy-klient__item:nth-child(2)::before {
   content: "";
   background-image: url(https://cdn.comfy.ua/media/x/img/shanovniy-klient/img-row2_1.svg);
}

.shanovniy-klient__item:nth-child(3)::before {
   content: "";
   background-image: url(https://cdn.comfy.ua/media/x/img/shanovniy-klient/img-row3_1.svg);
}

.shanovniy-klient__item:nth-child(4)::before {
   content: "";
   background-image: url(https://cdn.comfy.ua/media/x/img/shanovniy-klient/img-row4.svg);
}

.shanovniy-klient__text-attention {
   padding: 70px 0 0 0;
}
.shanovniy-klient__text-attention p.attention {
   position: relative;
   padding-left: 50px;
   display: flex;
   align-items: center;
}
.shanovniy-klient__text-attention p.attention::before {
   content: "";
   background-image: url(https://cdn.comfy.ua/media/x/img/attention.svg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   width: 30px;
   height: 30px;
   position: absolute;
   left: 0;
}

/* shanovniy-klient_cont END */

@media (max-width: 767px) {
   #wrapper-shanovniy-klient p {
      font-size: 16px;
   }

   .shanovniy-klient__row-flex {
      padding: 30px 20px 30px 20px;
   }

   .shanovniy-klient__text-bottom-flex {
      padding-top: 30px;
   }

   .shanovniy-klient__item {
      padding: 130px 0 0 0;
   }

   .shanovniy-klient__item::before {
      left: 0;
      right: 0;
      margin: 0 auto;
      top: 0;
   }

   #wrapper-shanovniy-klient h3 {
      text-align: center;
   }

   #wrapper-shanovniy-klient p {
      text-align: center;
   }

   #wrapper-shanovniy-klient .shanovniy-klient__text-top p {
      text-align: left;
   }
   #wrapper-shanovniy-klient .shanovniy-klient__text-attention p.attention {
      text-align: left;
   }

   span.word-wrap {
      display: block;
      word-wrap: break-word;
   }
}

@media (max-width: 1024px) and (min-width: 768px) {}