/* default */

#bitdefender {
   max-width: 1316px;
   width: 100%;
   background: #fff;
   display: block;
   margin: 0 auto;
   position: relative;
   overflow: hidden;
}

#bitdefender p:first-letter {
   padding-left: 0;
}

#bitdefender p {
   margin-bottom: 0;
}

#bitdefender img:hover {
   opacity: 1;
}

#bitdefender img {
   opacity: 1;
   max-width: 100%;
}

.tabs-content {
   padding: 0 0 !important;
}

.word-wrap {
   display: block;
   word-wrap: break-word;
}

.bitdefender-size-text h2 {
   font-weight: bold;
   font-size: 70px;
   color: #000000;
   line-height: 1.1;
}

.bitdefender-size-text h3 {
   font-weight: bold;
   font-size: 28px;
   margin: 0;
}

.bitdefender-size-text h4 {
   font-weight: normal;
   font-size: 36px;
   color: #616161;
   margin: 0;
   line-height: 1;
}

.bitdefender-size-text p {
   font-size: 18px;
   color: #000000;
}

/* default END */

/* anvirus */

.anvirus {}
.anvirus__content-reshniy {
   position: relative;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   padding: 70px 75px 0px 65px;
}
.anvirus__item {
   position: relative;
   z-index: 6;
}
.anvirus__item:first-child {
   max-width: 470px;
   padding-top: 95px;
}
.anvirus__item h2 {
   padding-bottom: 42px;
}
.anvirus__content-reshniy::before {
   content: "";
   background-image: url(https://cdn.comfy.ua/media/x/img/bitdefender/img1-right-bgrd.png);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   position: absolute;
   right: 5rem;
   bottom: -25rem;
   width: 809px;
   height: 590px;
   z-index: 5;
}
.anvirus__content-logo {
   position: relative;
   z-index: 5;
}
.anvirus__logo {
   padding: 0 0 27px 65px;
}
.anvirus__anvirus-solutions {
   max-width: 885px;
   padding: 16px 0 16px 65px;
   background: linear-gradient(to right, rgba(14,31,121,1) 0%,rgba(255,255,255,1) 100%);
}
span.anvirus__letter-spacing {
   font-weight: bold;
   font-size: 16px;
   letter-spacing: 1.4em;
   text-transform: uppercase;
   color: #E2E2E2;
   opacity: 0.5;
}

.anvirus__content-protection {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-around;
   padding: 100px 65px 0px 65px;
}

.anvirus__item-prt {
   flex: 1 1 0;
}
.anvirus__prt__text {
   display: flex;
   padding-bottom: 25px;
   flex-direction: column;
}
.anvirus__prt__text h3 {
   padding-right: 25px;
}
.anvirus__prt__text p {
   padding-top: 20px;
   font-size: 16px;
}
.anvirus__prt-period {
   border-radius: 5px;
   border: 1px solid #FF671F;
   padding: 20px 17px;
   max-width: 240px;
}
.anvirus__prt-period p {
   color: #565656;
   position: relative;
   padding-left: 60px;
   display: flex;
   align-items: center;
   font-size: 14px;
}
.calandar-before::before {
   content: "";
   background-image: url(https://cdn.comfy.ua/media/x/img/bitdefender/img3-right-icon2.svg);
   background-position: center;
   background-size: cover;
   position: absolute;
   left: 0;
   top: 0;
   width: 38px;
   height: 38px;
}

.oneyr {
   font-size: 30px;
   font-weight: bold;
   color: #000;
   position: relative;
   top: -7px;
   padding: 0 5px;
}

.anvirus__content-ransomware {
   padding: 0 65px 100px 65px;
   display: flex;
   flex-direction: row;
   align-items: center;
   margin-top: -3rem;
}
.anvirus__item-rnsware {
   flex: 1 1 0;
}
.anvirus__item-rnsware:last-child {
   position: relative;
   top: -5rem;
}
.anvirus__rnsware-text {
   padding-right: 5rem;
}
.anvirus__rnsware-text:first-child {
   padding-bottom: 78px;
}
.anvirus__rnsware-text h4 {
   padding-bottom: 26px;
}
.anvirus__content-fnc h4 {
   position: relative;
}
.anvirus__content-fnc {
   padding: 0 65px 100px 65px;
}
.anvirus__content-fnc h4.line-before::before{
   content: "";
   width: 850px;
   height: 1px;
   background: linear-gradient(to right, rgb(180, 180, 180) 0%,rgba(255,255,255,1) 100%);
   position: absolute;
   right: 0;
   top: 50%;
   transform: translateY(-50%);
}

.anvirus__content-adv {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: flex-start;
   padding: 0 65px 100px 65px;
}
.anvirus__item-adv {
   flex: 1 1 0;
}
.anvirus__item-adv:nth-child(2) {
   padding: 0 15px;
}
.anvirus-adv__icon {
   display: flex;
   padding-bottom: 25px;
   align-items: flex-end;
}
.anvirus-adv__text {
   text-align: left;
}
.anvirus-adv__icon h3 {
   padding-left: 25px;
}
.anvirus__content-ftrbgrd {
   background-image: url(https://cdn.comfy.ua/media/x/img/bitdefender/img6-bgrd.png);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   max-width: 1316px;
   min-height: 567px;
   position: relative;
}
.ftrbgrd__text {
   padding: 65px 15px 0 65px;
   max-width: 585px;
}
.ftrbgrd__text p {
   color: #fff;
}

/* anvirus END */

/* anvirus__product */

.anvirus__product {}
.anvirus__product__flex {
   padding: 0 65px;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
}
.anvirus__product__item {
   flex: 1 1 0;
}
.anvirus__product__content {
   display: flex;
   flex-direction: column;
}
.anvirus__product__item-cont {
   width: 100%;
}
.prod-soft {
   background: #F2F2F2;
   border-radius: 4px;
   padding: 24px 13px 24px 13px;
   width: 100%;
   max-width: 185px;
}
.prod-soft__after {
   position: relative;
   position: relative;
   font-size: 16px;
   font-weight: bold;
   padding-right: 45px;
}

.anvirus__product__item:nth-child(1) .anvirus__product__item-cont:nth-child(1) .prod-soft__after::after {
   content: "";
   background-image: url(https://cdn.comfy.ua/media/x/img/bitdefender/img7-win-icon.png);
   background-position: center;
   background-repeat: no-repeat;
   background-size: contain;
   position: absolute;
   right: 0;
   width: 36px;
   height: 36px;
   top: 50%;
   transform: translateY(-50%);
}

.anvirus__product__item:nth-child(1) .anvirus__product__item-cont:nth-child(2) .prod-soft__after::after {
   content: "";
   background-image: url(https://cdn.comfy.ua/media/x/img/bitdefender/img9-ios-icon.png);
   background-position: center;
   background-repeat: no-repeat;
   background-size: contain;
   position: absolute;
   right: 0;
   width: 36px;
   height: 20px;
   top: 50%;
   transform: translateY(-50%);
}

.anvirus__product__item:nth-child(2) .anvirus__product__item-cont:nth-child(1) .prod-soft__after::after{
   content: "";
   background-image: url(https://cdn.comfy.ua/media/x/img/bitdefender/img8-apple-icon.png);
   background-position: center;
   background-repeat: no-repeat;
   background-size: contain;
   position: absolute;
   right: 0;
   width: 30px;
   height: 36px;
   top: 50%;
   transform: translateY(-50%);
}

.anvirus__product__item:nth-child(2) .anvirus__product__item-cont:nth-child(2) .prod-soft__after::after {
   content: "";
   background-image: url(https://cdn.comfy.ua/media/x/img/bitdefender/img10-android-icon.png);
   background-position: center;
   background-repeat: no-repeat;
   background-size: contain;
   position: absolute;
   right: 0;
   width: 31px;
   height: 36px;
   top: 50%;
   transform: translateY(-50%);
}

.prod_list {
   padding: 20px 0 25px 40px;
}

.prod_list ul {}
.prod_list ul li {
   position: relative;
   font-size: 16px;
   padding-left: 15px;
   max-width: 400px;
}
.prod_list ul li:nth-child(odd) {
   position: relative;
   font-weight: bold;
   font-size: 20px;
   color: #000000;
   padding-bottom: 15px;
}
.prod_list ul li:nth-child(even) {
   padding-bottom: 20px;
}
.prod_list ul li:nth-child(odd)::before {
   content: "";
   background: linear-gradient(134.37deg, #22C3B1 25.82%, rgba(0, 114, 249, 0) 139.5%);
   width: 6px;
   height: 6px;
   position: absolute;
   left: 0;
   top: 7px;
}

.anvirus__account {}
.account__content {
   padding: 85px 0 85px 0px;
}
.account__bgrd-top {
   background: linear-gradient(88.8deg, #182B5C 9.87%, #3189AA 98.98%);
   color: #fff;
   padding: 32px 15px 32px 65px;
   position: relative;
}
.account__content-flex {
   display: flex;
}
.account__list {
   padding: 50px 15px 50px 65px;
}
.account__content-item {}

.account__list ul {
   position: relative;
}
.account__list ul li {
   position: relative;
   font-size: 16px;
   padding-left: 15px;
   padding-bottom: 20px;
}
.account__list ul li:last-child {
   padding-bottom: 0px;
}
.account__list ul li::before {
   content: "";
   background: linear-gradient(134.37deg, #22C3B1 25.82%, rgba(0, 114, 249, 0) 139.5%);
   width: 6px;
   height: 6px;
   position: absolute;
   left: 0;
   top: 7px;
}
.account__img-prod {
   position: relative;
   margin-top: -15rem;
}



/* anvirus__product END */


@media screen and (min-width: 320px) and (max-width: 480px) {
   .anvirus__content-reshniy {
      padding: 20px 15px 0px 15px;
      flex-direction: column;
   }
   .anvirus__content-reshniy::before {
      right: 0;
      bottom: -4rem;
   }
   .anvirus__anvirus-solutions {
      padding: 16px 0 16px 15px;
   }
   .anvirus__logo {
      padding: 0 0 25px 15px;
   }
   .anvirus__item:first-child {
      padding-top: 0;
   }
   .bitdefender-size-text h2 {
      font-size: 35px;
   }
   .anvirus__content-protection {
      padding: 25px 15px 0px 15px;
      flex-direction: column;
   }
   .anvirus__content-ransomware {
      padding: 25px 15px 25px 15px;
      flex-direction: column;
      margin-top: 0rem;
   }
   .anvirus__rnsware-text:first-child {
      padding-bottom: 25px;
   }
   .anvirus__rnsware-text {
      padding-right: 0;
   }
   .anvirus__content-fnc {
      padding: 29px 15px 25px 15px;
   }
   .anvirus__content-fnc h4.line-before::before {
      display: none;
   }
   .anvirus__content-adv {
      padding: 0 15px 25px 15px;
      flex-direction: column;
   }
   .anvirus__content-ftrbgrd {
      min-height: 390px;
      background-position: 30% 100%;
   }
   .anvirus-adv__icon h3 {
      padding-left: 10px;
   }
   .bitdefender-size-text h3 {
      font-size: 18px;
   }
   .anvirus-adv__icon {
      display: flex;
      padding-bottom: 25px;
      align-items: center;
      flex-direction: column;
   }
   .anvirus-adv__icon h3 {
      padding-left: 0;
      padding-top: 10px;
   }
   .ftrbgrd__text {
      padding: 25px 15px 0 15px;
   }
   .bitdefender-size-text h4 {
      font-size: 25px;
   }
   .bitdefender-size-text p {
      font-size: 16px;
   }

   .anvirus__product__flex {
      padding: 0 15px;
      flex-direction: column;
   }
   .prod_list {
      padding: 20px 10px 25px 25px;
   }
   .account__bgrd-top {
      padding: 32px 15px 32px 15px;
   }
   .account__bgrd-top {
      padding: 20px 15px 20px 15px;
   }
   .account__list {
      padding: 50px 15px 50px 15px;
   }
   .account__img-prod {
      position: relative;
      margin-top: 0;
      right: 0;
      max-width: 90%;
      margin: 0 auto;
   }
   .account__content {
      padding: 0px 0 35px 0px;
   }
   .account__content-flex {
      display: flex;
      flex-direction: column;
   }
   .anvirus__item-prt:first-child {
      max-width: 65%;
   }
   .anvirus__item-prt {
      width: 100%;
   }
   .anvirus__prt-period {
      padding: 10px 17px;
   }

}
@media screen and (min-width: 481px) and (max-width: 768px) {
   .anvirus__content-reshniy {
      padding: 20px 15px 0px 15px;
      flex-direction: row;
   }
   .anvirus__item:first-child {
      padding-top: 0;
   }
   .bitdefender-size-text h2 {
      font-size: 35px;
   }
   .anvirus__content-protection {
      padding: 50px 15px 0px 15px;
   }
   .anvirus__content-ransomware {
      padding: 0 15px 50px 15px;
      margin-top: 0rem;
   }
   .anvirus__content-fnc {
      padding: 0 15px 50px 15px;
   }
   .anvirus__content-fnc h4.line-before::before {
      z-index: 1;
      width: 765px;
      right: -375%;
   }
   .anvirus__content-adv {
      padding: 0 15px 50px 15px;
   }
   .anvirus__content-ftrbgrd {
      min-height: 445px;
   }
   .anvirus-adv__icon h3 {
      padding-left: 10px;
   }
   .bitdefender-size-text h3 {
      font-size: 21px;
   }
   .anvirus-adv__icon {
      display: flex;
      padding-bottom: 25px;
      align-items: flex-start;
      flex-direction: column;
   }
   .anvirus-adv__icon h3 {
      padding-left: 0;
      padding-top: 10px;
   }
   .ftrbgrd__text {
      padding: 25px 15px 0 15px;
   }
   .bitdefender-size-text h4 {
      font-size: 25px;
   }
   .bitdefender-size-text p {
      font-size: 16px;
   }

   .anvirus__product__flex {
      padding: 0 15px;
   }
   .prod_list {
      padding: 20px 10px 25px 25px;
   }
   .account__bgrd-top {
      padding: 32px 15px 32px 15px;
   }
   .account__bgrd-top {
      padding: 20px 15px 20px 15px;
   }
   .account__list {
      padding: 50px 15px 50px 15px;
   }
   .account__img-prod {
      position: relative;
      margin-top: -2rem;
      right: 1rem;
   }
   .account__content {
      padding: 65px 0 35px 0px;
   }

}
@media screen and (min-width: 769px) and (max-width: 1024px) {
   .anvirus__product__flex {
      padding: 0 15px;
   }
   .prod_list {
      padding: 20px 10px 25px 25px;
   }
   .account__bgrd-top {
      padding: 32px 15px 32px 15px;
   }
   .account__bgrd-top {
      padding: 20px 15px 20px 15px;
   }
   .account__list {
      padding: 50px 15px 50px 15px;
   }
   .account__img-prod {
      position: relative;
      margin-top: -8rem;
      right: 3rem;
   }
   .account__content {
      padding: 65px 0 35px 0px;
   }


   .anvirus__content-reshniy {
      padding: 20px 15px 0px 15px;
      flex-direction: row;
   }
   .anvirus__item:first-child {
      padding-top: 0;
   }
   .bitdefender-size-text h2 {
      font-size: 35px;
   }
   .anvirus__content-protection {
      padding: 50px 15px 0px 15px;
   }
   .anvirus__content-ransomware {
      padding: 0 15px 50px 15px;
      margin-top: 0rem;
   }
   .anvirus__content-fnc {
      padding: 0 15px 50px 15px;
   }
   .anvirus__content-fnc h4.line-before::before {
      z-index: 1;
      width: 765px;
      right: -375%;
   }
   .anvirus__content-adv {
      padding: 0 15px 50px 15px;
   }
   .anvirus__content-ftrbgrd {
      min-height: 445px;
   }
   .anvirus-adv__icon h3 {
      padding-left: 10px;
   }
   .bitdefender-size-text h3 {
      font-size: 21px;
   }
   .anvirus-adv__icon {
      display: flex;
      padding-bottom: 25px;
      align-items: flex-start;
      flex-direction: column;
   }
   .anvirus-adv__icon h3 {
      padding-left: 0;
      padding-top: 10px;
   }
   .ftrbgrd__text {
      padding: 25px 15px 0 15px;
   }
   .bitdefender-size-text h4 {
      font-size: 25px;
   }
   
}
@media screen and (min-width: 1025px) {}