/*default styles*/

#huawei
  max-width: 1316px
  width: 100%
  margin: 0 auto
  height: auto
  display: block
  box-sizing: border-box
  overflow: hidden
  sup
    font-size: 0.6em
  p
    margin-bottom: 0
    margin: 0
    &:first-letter
      padding-left: 0
  h2
    display: block
    line-height: normal
    font-size: 34px
    font-weight: bold
    padding: 0
    margin: 0
    margin-bottom: 1em
  img
    opacity: 1
    max-width: 100%
    display: block
    height: auto
    margin: 0 auto
    &:hover
      opacity: 1
  ul
    list-style-type: none
    padding: 0
    margin: 0

.features-desc__text
  img
    margin-bottom: 0rem
.one-col .features-desc__text
  p:first-letter
    padding-left: 0rem !important
.one-col .features-desc__text
  p
    padding: 0
    text-align: unset
  h2
    padding: 0
    text-align: unset

/*end default styles*/

#huawei
  .show__mob
    display: none
  .logo
    padding: 2em 5em
    .logo__icon
      img
        max-width: 70%
        margin-bottom: 1.5em
    .logo__txt
      text-align: center
      margin-bottom: 40px
      span
        display: inline-block
        line-height: normal
        &:first-of-type
          padding-right: 5px
          border-right: 1px solid black
        &:nth-of-type(2)
          padding: 0 5px
        &:last-of-type
          padding-left: 5px
          border-left: 1px solid black
    .logo__list
      display: flex
      flex-direction: row
      flex-wrap: wrap
      margin-top: -250px
      li
        max-width: 32%
        position: relative
        border: solid 1px black
        &:nth-of-type(n+4)
          margin-top: 20px
        &:nth-of-type(2)
          margin: 0 20px
          span
            color: #fff
        &:nth-of-type(5)
          margin: 0 20px
          span
            color: #fff
            transform: unset
            right: unset
            left: 40px
            width: unset
        &:nth-of-type(5)
          margin-top: 20px
        span
          position: absolute
          display: block
          line-height: normal
          top: 40px
          right: 50%
          transform: translateX(50%)
          width: 100%
          text-align: center
          font-size: 16px
          font-weight: bold
        img
          vertical-align: middle

  .possibilitie
    background-color: #000
    color: #fff
    padding: 5em
    box-sizing: border-box
    .possibilitie__txt
      text-align: center
      max-width: 80%
      margin: 0 auto
    .possibilitie__list
      display: flex
      flex-direction: row
      align-items: center
      margin-top: 40px
      li
        flex: 1 1 0
        display: flex
        flex-direction: column
        justify-content: space-around
        height: 500px
        span
          display: block
          line-height: normal
          font-size: 17px
        span.large
          font-size: 34px
        &:nth-of-type(2)
          flex: 2
        &:nth-of-type(3)
          text-align: right

  .monitoring
    padding: 5em
    box-sizing: border-box
    .monitoring__txt
      text-align: center
      margin-bottom: 40px
    .monitoring__img
      background-color: #fafafa

  .trainer
    position: relative
    box-sizing: border-box
    .trainer__txt
      position: absolute
      color: #fff
      text-align: center
      bottom: 50%
      right: 50%
      width: 100%
      transform: translate(50%, 50%)
      padding: 0 10em
      box-sizing: border-box

  .design
    padding: 5em
    box-sizing: border-box
    .design__flex
      display: flex
      flex-direction: row
      align-items: center
      >div
        flex: 1 1 0
        max-width: 50%
        box-sizing: border-box

  .refresh
    padding: 5em
    box-sizing: border-box
    background-color: #000
    color: #fff
    .refresh__txt
      text-align: center
      margin-bottom: 40px

  .modes
    .modes__txt
      padding: 5em 5em 2em 5em
      box-sizing: border-box
      text-align: center

  .sleep
    padding: 2em 5em 0 5em
    box-sizing: border-box
    .sleep__wrap
      box-sizing: border-box
      padding: 5em 5em 0 5em
      text-align: center
      .sleep__txt
        margin-bottom: 40px
      &:nth-of-type(1)
        background-color: #fafafa

  .custom
    padding: 5em
    box-sizing: border-box
    background-color: #000
    color: #fff
    .custom__txt
      text-align: center
      padding: 0 5em
      margin-bottom: 40px

  .find
    padding: 5em
    box-sizing: border-box
    .find__flex
      display: flex
      flex-direction: row
      align-items: center
      >div
        flex: 1 1 0
        max-width: 50%
        box-sizing: border-box
      .find__txt
        padding-right: 5em

  .special
    padding: 0 5em
    box-sizing: border-box
    .special__wrap
      padding: 5em 5em 0 5em
      background-color: #fafafa
      .special__txt
        text-align: center
        padding: 0 5em 2em 5em

  .workout
    padding: 5em
    box-sizing: border-box
    .workout__wrap
      .workout__txt
        text-align: center
        padding: 0 5em 2em 5em
      .workout__img
        background-color: #fafafa

  .message
    padding: 0 5em 5em 5em
    box-sizing: border-box
    .message__flex
      display: flex
      flex-direction: row
      >div
        flex: 1 1 0
        max-width: 50%
        box-sizing: border-box
      .message__flex__txt
        padding-right: 10em
      .message__flex__img
        img
          min-width: 120%
    .message__img
      margin-top: -200px
      img
        min-width: 105%
        margin-right: -5em
    .message__list
      display: flex
      flex-direction: row
      li
        flex: 1 1 0
        &:nth-of-type(1)
          margin-top: -150px
        &:nth-of-type(2)
          flex: 0.5
          margin-left: -100px
          margin-top: 100px
        &:nth-of-type(3)
          margin-top: 150px
          margin-right: -14em
          img
            max-width: 90%
    .message__snoska
      span
        display: block
        font-size: 0.9em
        text-align: center
        padding: 20px

  .smart
    padding: 0 5em 5em 5em
    box-sizing: border-box
    .smart__flex
      display: flex
      flex-direction: row
      align-items: center
      padding: 0 5em
      >div
        flex: 1 1 0
        max-width: 50%
        box-sizing: border-box
      .smart__txt
        span
          display: block
          line-height: normal
          &:nth-of-type(2)
            margin-top: 20px
            color: #7c7c7c

  .dop
    padding: 0 5em 5em 5em
    box-sizing: border-box
    .dop__list
      li
        font-size: 1.2em
        &:nth-of-type(n+2)
          margin-top: 0.4em

//media*****************************************************************************

@media (max-width: 1024px)
  #huawei .logo .logo__list li
    max-width: 31%
  #huawei .message .message__img
    margin-top: -140px
  #huawei .message .message__list li:nth-of-type(3) img
    max-width: 75%
  #huawei .message .message__list li:nth-of-type(1) img
    max-width: 85%
  #huawei .message .message__list li:nth-of-type(2)
    margin-top: 35px
  #huawei .message .message__flex .message__flex__txt
    padding-right: 5em

@media (max-width: 812px)
  #huawei .logo .logo__list li span
    top: 10px
  #huawei .logo
    padding: 1em
  #huawei .logo .logo__list
    justify-content: space-between
  #huawei .possibilitie
    padding: 1em
  #huawei .monitoring
    padding: 1em
  #huawei .trainer .trainer__txt,
  #huawei .design,
  #huawei .refresh,
  #huawei .modes .modes__txt,
  #huawei .custom
    padding: 1em
  #huawei .sleep,
  #huawei .sleep .sleep__wrap:nth-of-type(1),
  #huawei .sleep .sleep__wrap,
  #huawei .find
    padding: 1em
    padding-bottom: 0
  #huawei .custom .custom__txt
    padding: 0
  #huawei .special
    padding: 0 1em
  #huawei .special .special__wrap
    padding: 0
  #huawei .special .special__wrap .special__txt
    padding: 1em
  #huawei .workout
    padding: 1em
  #huawei .workout .workout__wrap .workout__txt
    padding: 0
    padding-bottom: 1em
  #huawei .message
    padding: 1em
  #huawei .message .message__img
    margin-top: -70px
  #huawei .message .message__flex .message__flex__txt
    padding-right: 5em
  #huawei .message .message__list li:nth-of-type(3) img
    margin-left: -100px
    margin-top: 110px
    max-width: 90%
  #huawei .message .message__list li:nth-of-type(2)
    flex: 1
  #huawei .message .message__img img
    min-width: 110%
  #huawei .message .message__list li:nth-of-type(1) img
    max-width: 100%
  #huawei .message .message__flex .message__flex__txt
    padding-right: 0
  #huawei .smart,
  #huawei .smart .smart__flex,
  #huawei .dop
    padding: 1em
  #huawei .message .message__list li:nth-of-type(3)
    margin-top: 200px

@media (max-width: 480px)
  #huawei .logo .logo__list
    flex-direction: column
    margin-top: 20px
    li
      max-width: 100%
  #huawei .logo .logo__list li:nth-of-type(2),
  #huawei .logo .logo__list li:nth-of-type(5)
    margin: 0
  #huawei .logo .logo__list li:nth-of-type(n+2)
    margin-top: 1em
  #huawei .possibilitie .possibilitie__txt
    max-width: 100%
  #huawei h2
    font-size: 24px
  #huawei .possibilitie .possibilitie__list
    flex-direction: column
    li
      height: unset
      &:nth-of-type(1)
        order: 0
        display: flex
        flex-direction: row
        text-align: center
        >div
          flex: 1 1 0
      &:nth-of-type(2)
        order: 2
      &:nth-of-type(3)
        order: 1
        display: flex
        flex-direction: row
        text-align: center
        margin: 1em 0
        >div
          flex: 1 1 0
  #huawei .possibilitie .possibilitie__list li span.large
    font-size: 24px
  #huawei .possibilitie .possibilitie__list li span
    font-size: 15px
  #huawei .trainer .trainer__img img
    min-width: 750px
    margin-left: -95px
  #huawei .huawei__img img
    min-width: 750px
    margin-left: -260px
  #huawei .design .design__flex
    flex-direction: column-reverse
    >div
      max-width: 100%
      text-align: center
    .design__txt
      margin-bottom: 20px
  #huawei .refresh .refresh__img img
    min-width: 750px
    margin-left: -220px
  #huawei .modes .modes__img img
    min-width: 600px
    margin-left: -100px
  #huawei .show__mob
    display: block
  #huawei .hide__mob
    display: none
  #huawei .find .find__flex
    flex-direction: column
    >div
      max-width: 100%
      text-align: center
  #huawei
    .find
      padding: 0
      .find__flex
        .find__txt
          padding: 1em
          margin-bottom: 20px
  #huawei .message .message__img
    margin-top: 0
  #huawei .message .message__flex
    flex-direction: column
    >div
      max-width: 100%
  #huawei .message .message__flex .message__flex__txt
    padding: 1em
    margin-bottom: 20px
  #huawei .message .message__list
    flex-direction: column
    li
      &:nth-of-type(1)
        order: 1
      &:nth-of-type(2)
        order: 0
      &:nth-of-type(3)
        order: 2
  #huawei
    .message
      padding: 0
      .message__img
        img
          min-width: unset
          margin: 0
          // margin-left: -160px
  #huawei .message .message__list li:nth-of-type(1)
    margin-top: 20px
  #huawei
    .message
      display: flex
      flex-direction: column
      .message__flex
        order: 0
      .message__list
        order: 1
        display: flex
        flex-direction: row
        flex-wrap: wrap
        li
          max-width: 50%
          min-width: 50%
          box-sizing: border-box
          &:nth-of-type(1)
            display: none
          &:nth-of-type(2)
            margin: 0
            max-width: 100%
            padding: 1em
          &:nth-of-type(3)
            display: none
      .message__img
        order: 1
  #huawei .smart .smart__flex
    flex-direction: column
    padding: 0
    >div
      max-width: 100%
  #huawei .smart .smart__title
    text-align: center
  #huawei .logo .logo__icon img
    max-width: 90%
  #huawei .dop .dop__list li
    font-size: 1em
