.rowenta {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  height: auto;
  display: block;
  box-sizing: border-box;
  overflow: hidden;
  color: #fff;
}
.rowenta img {
  margin: 0 auto;
  opacity: 1 !important;
  max-width: 100%;
  display: block;
  height: auto;
}
.rowenta img:hover {
  opacity: 1 !important;
}
.rowenta div {
  line-height: normal;
}

.features-desc__text img {
  margin-bottom: 0rem;
}

.one-col .features-desc__text p:first-letter {
  padding-left: 0rem !important;
}

.rowenta .container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

.logo {
  padding: 50px 80px 0;
  background: url("https://cdn.comfy.ua/media/x/img3/1265625/bg1.jpg") no-repeat center top/cover;
}
.logo .rowenta__title {
  margin-top: 1rem;
}

.logo__row {
  display: flex;
  align-items: flex-end;
}

.logo__cont {
  max-width: 830px;
  margin-right: -450px;
}

.logo__i img {
  margin: 0 0 0 -70px;
}

.rowenta__title {
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-size: clamp(24px, 3vw, 44px);
}
.rowenta__title b {
  color: #6dc4e3;
}

.logo__flex {
  display: flex;
  gap: 20px;
}
.logo__flex .rowenta__txt {
  max-width: 400px;
}

.rowenta__txt {
  font-size: clamp(16px, 1.3vw, 24px);
}

.quiet {
  position: relative;
}
.quiet .rowenta__note {
  position: absolute;
  bottom: 45px;
  right: 170px;
}

.quiet__abs {
  position: absolute;
  left: 80px;
  top: 60px;
  max-width: 700px;
}

.rowenta__sub {
  text-transform: uppercase;
  font-size: clamp(18px, 2vw, 30px);
  margin-bottom: 1rem;
}
.rowenta__sub b {
  font-weight: normal;
  color: #6dc4e3;
}

.rowenta__note {
  font-size: clamp(10px, 1vw, 20px);
}

.noize {
  background: url("https://cdn.comfy.ua/media/x/img3/1265625/bg1.jpg") no-repeat center top/cover;
  padding: 65px 80px 50px;
}
.noize .rowenta__title {
  max-width: 480px;
}
.noize .rowenta__note {
  margin-top: 2rem;
  max-width: 250px;
}

.noize__row {
  display: flex;
  align-items: center;
  gap: 130px;
}

.noize__cal {
  min-width: 460px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.noize__txt {
  text-transform: uppercase;
  font-size: clamp(px, 1.3vw, 20px);
}

.noize__flex {
  display: flex;
  align-items: center;
  gap: 60px;
  margin-top: 40px;
}

.noize__flex__txt {
  max-width: 525px;
}

.power {
  position: relative;
  color: #000;
}
.power .rowenta__title {
  color: #38a8d0;
}

.power__abs {
  position: absolute;
  bottom: 65px;
  left: 80px;
  max-width: 740px;
}

.power__row {
  display: flex;
  align-items: flex-end;
  gap: 40px;
  margin-top: 40px;
}

.power__cont {
  max-width: 300px;
}
.power__cont .rowenta__txt {
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.motor {
  position: relative;
}

.motor__row {
  position: absolute;
  display: flex;
  align-items: center;
  bottom: 55px;
  left: 80px;
  gap: 60px;
}

.motor__cont {
  max-width: 600px;
}

.hydra {
  background: url("https://cdn.comfy.ua/media/x/img3/1265625/bg2.jpg") no-repeat center top/cover;
  padding: 100px 80px;
}
.hydra .rowenta__title {
  max-width: 500px;
}
.hydra .rowenta__note {
  margin-top: 1rem;
}

.hydra__row {
  display: flex;
  align-items: center;
  gap: 100px;
}
.hydra__row:nth-of-type(even) {
  flex-direction: row-reverse;
  padding-top: 110px;
}
.hydra__row:nth-of-type(even) .rowenta__title {
  max-width: unset;
}

.hydra__cal {
  max-width: 850px;
}

.hydra__flex {
  display: flex;
  align-items: center;
  gap: 45px;
}

.hydra__i {
  min-width: -moz-max-content;
  min-width: max-content;
}

.hair {
  color: #000;
  padding: 80px 0;
  background-color: #ececec;
}
.hair .rowenta__title b {
  font-weight: normal;
}

.hair__img img {
  margin-right: -180px;
  min-width: calc(100% + 180px);
}

.hair__row {
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 0 0 0 80px;
  gap: 270px;
}
.hair__row:nth-of-type(even) {
  flex-direction: row-reverse;
  padding: 100px 80px 0 0;
  gap: 170px;
}
.hair__row:nth-of-type(even) .hair__img img {
  margin-right: unset;
  margin-left: -230px;
  min-width: calc(100% + 230px);
}

.hair__i {
  margin-bottom: 70px;
}
.hair__i img {
  margin: 0;
}

.hair__cont {
  max-width: 600px;
}

.ion {
  background: url("https://scdn.comfy.ua/89fc351a-22e7-41ee-8321-f8a9356ca351/https://cdn.comfy.ua/media/x/img3/1265625/bg3.jpg/f_auto") no-repeat center/cover;
  padding: 130px 80px 110px;
}
.ion .hydra__row {
  gap: 160px;
}
.ion .hydra__cal {
  max-width: 760px;
}

.settings {
  padding: 60px 80px 0;
  background-color: #ececec;
  color: #000;
}

.settings__row {
  display: flex;
  align-items: center;
}

.settings__cal {
  display: flex;
  flex-direction: column;
  gap: 50px;
  max-width: 830px;
  margin-right: -150px;
}

.settings__item {
  display: flex;
  align-items: center;
  gap: 60px;
}

.settings__i {
  min-width: -moz-max-content;
  min-width: max-content;
}

.air {
  background: url("https://cdn.comfy.ua/media/x/img3/1265625/bg3.jpg") no-repeat center/cover;
  padding: 75px 80px 0;
}

.air__row {
  display: flex;
  gap: 160px;
  justify-content: space-between;
  align-items: center;
}

.air__cont {
  max-width: 600px;
}

.air__i {
  margin-bottom: 45px;
}
.air__i img {
  margin: 0;
}

.complete {
  color: #000;
  padding: 45px 80px 0;
  background-color: #ececec;
}

.complete__row {
  display: flex;
}

.complete__cal {
  max-width: 730px;
  padding-top: 50px;
}

.complete__head {
  margin-right: -150px;
}

.complete__foot {
  padding-top: 130px;
}

@media (max-width: 1441px) {
  .settings__i,
  .air__i,
  .hydra__i {
    min-width: 14vw;
    max-width: 14vw;
  }
  .motor__i {
    max-width: 14vw;
  }
}
@media (max-width: 1201px) {
  .rowenta .container {
    width: 960px;
    padding: 0 15px;
  }
  .logo {
    padding: 1em 0 0 0;
  }
  .quiet__abs {
    top: 2em;
    left: 2em;
    max-width: 500px;
  }
  .quiet .rowenta__note {
    right: 2em;
  }
  .noize {
    padding: 2em 0;
  }
  .noize__row {
    gap: 2em;
  }
  .noize__flex {
    gap: 1em;
  }
  .power__abs,
  .motor__row {
    left: 2em;
    bottom: 2em;
    max-width: 500px;
  }
  .power__i {
    min-width: unset;
    max-width: 15vw;
  }
  .motor__row {
    gap: 2em;
    max-width: 600px;
  }
  .motor__i {
    min-width: 15vw;
  }
  .hydra {
    padding: 2em 0;
  }
  .hydra__row {
    gap: 2em;
  }
  .hydra__flex {
    gap: 1em;
  }
  .hydra__cal {
    max-width: 500px;
  }
  .hydra__row:nth-of-type(even) {
    padding-top: 2em;
  }
  .hair {
    padding: 2em 0;
  }
  .hair__row {
    padding: 0;
    gap: 4em;
  }
  .hair__i {
    max-width: 25vw;
    margin-bottom: 2em;
  }
  .hair__row:nth-of-type(even) {
    padding: 2em 0 0 0;
    gap: 4em;
  }
  .ion .hydra__row {
    gap: 2em;
  }
  .ion .hydra__i {
    min-width: 20vw;
  }
  .ion .hydra__cal {
    max-width: 500px;
  }
  .settings,
  .air,
  .complete {
    padding: 2em 0 0 0;
  }
  .settings__item {
    gap: 2em;
  }
  .settings__i,
  .air__i {
    min-width: 15vw;
    max-width: 15vw;
  }
  .air__row {
    gap: 2em;
  }
}
@media (max-width: 991px) {
  .rowenta .container {
    width: 720px;
  }
  .logo__row {
    flex-direction: column;
  }
  .logo__cont {
    margin-right: unset;
    margin-bottom: 1em;
  }
  .logo__i img {
    margin-left: -12vw;
  }
  .quiet {
    background-color: #000;
  }
  .quiet__abs {
    position: unset;
    padding: 1em 0;
  }
  .quiet .rowenta__note {
    right: 1em;
    bottom: 1em;
    max-width: 50vw;
  }
  .noize__row {
    flex-direction: column;
  }
  .noize__cal {
    min-width: unset;
  }
  .noize__flex {
    margin-top: 1em;
    flex-direction: column;
  }
  .noize__i {
    max-width: 40vw;
  }
  .power {
    background-color: #ececec;
    padding-top: 1em;
  }
  .power__abs,
  .motor__row {
    position: unset;
  }
  .power__row {
    align-items: center;
    gap: 1em;
    margin: 1em 0;
  }
  .power__i {
    max-width: unset;
    min-width: 15vw;
  }
  .power__img img {
    min-width: 120%;
    margin-left: -15%;
  }
  .power .rowenta__title {
    margin-top: 0;
  }
  .motor {
    background-color: #000;
  }
  .motor__row {
    flex-direction: column;
    padding: 1em 0;
    gap: 1em;
  }
  .motor__i {
    min-width: unset;
    max-width: 40vw;
  }
  .hydra__row {
    flex-direction: column !important;
  }
  .hydra__i {
    min-width: 35vw;
    max-width: 35vw;
  }
  .hair__row {
    flex-direction: column !important;
    gap: 1em !important;
  }
  .hair__i {
    max-width: 45vw;
  }
  .hair__img img {
    min-width: unset !important;
    margin: 0 auto !important;
  }
  .settings__row {
    flex-direction: column;
  }
  .settings__cal {
    margin-right: unset;
    gap: 2em;
    margin-bottom: 1em;
  }
  .settings__item {
    gap: 1em;
    flex-direction: column;
  }
  .settings__i,
  .air__i {
    min-width: 45vw;
    max-width: 45vw;
  }
  .air__i {
    margin-bottom: 1em;
  }
  .air__row {
    flex-direction: column;
    gap: 0;
  }
  .complete__row {
    flex-direction: column;
  }
  .complete__cal,
  .complete__foot {
    padding: 0;
  }
  .complete__foot {
    margin: 1em 0;
  }
  .complete__head {
    margin: 0;
  }
  .hydra__flex {
    flex-direction: column;
  }
}
@media (max-width: 767px) {
  .rowenta .container {
    width: 540px;
  }
}
@media (max-width: 576px) {
  .rowenta .container {
    width: 100%;
    box-sizing: border-box;
  }
}