/* default CSS  */

#wrapper-product-sc1994 {
   display: block;
   margin: 0 auto;
   max-width: 1316px;
   width: 100%;
   background: #fff;
   overflow: hidden;
}

span.word-wrap {
   display: block;
   word-wrap: break-word;
}

.features-desc__text img {
   margin-bottom: 0rem !important;
}

#wrapper-product-sc1994 p:first-letter {
   padding-left: 0;
}

#wrapper-product-sc1994 p {
   margin-bottom: 0;
}

#wrapper-product-sc1994 img:hover {
   opacity: 1;
}

#wrapper-product-sc1994 img {
   display: block;
   margin-right: initial;
   margin-left: initial;
}
#wrapper-product-sc1994 .one-col .features-desc__text p {
	font: 26px PT Sans;
}

.product-sc1994-cl h3 {
   font-size: 35px;
   margin: 0;
   padding: 0;
   color: #fff;
	font-weight: normal;
	text-align: left;
}

.product-sc1994-cl h2 {
   color: #91004b;
	font-size: 48px;
	line-height: 1;
}

#wrapper-product-sc1994 p {
   font-size: 26px;
}

.product-sc1994-cl i {
   font-size: 23px;
   color: #5d5d5d;
   display: block;
}

.product-sc1994-cl .bgblockfl {
   width: 100%;
   height: auto;
   padding: 15px 15px 15px 5rem;
   background-color: #ed4372;
}

.color_91004b {
   color: #91004b;
}

.indentation_section_def {
   padding: 5rem;
}

.product-sc1994-cl ul li {
   position: relative;
   font-size: 24px;
   color: #5d5d5d;
}

.product-sc1994-cl ul.vectorimg li::before {
   content: "";
   background-image: url(https://cdn.comfy.ua/media/x/img/1303118/vector_smart_object.svg);
   background-repeat: no-repeat;
   -webkit-background-size: cover;
   background-size: cover;
   position: absolute;
   width: 25px;
   height: 25px;
   left: 0;
   top: 3px;
}

/* default CSS END */

/* container-enjoy */

.container-enjoy {}

.row-enjoy {}

.row-enjoy.bgimages1 {
   background-image: url(https://cdn.comfy.ua/media/x/img/sect1_bg1.png);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   width: 100%;
   height: 606px;
}

.enjoy__content-flex {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: space-between;
   height: 100%;
   padding: 0 0 5rem 5rem;
}

.enjoy__content-flex h2 {
   padding-bottom: 10rem;
}

.enjoy__content-flex p {}

.enjoy__content-flex i {}

/* container-enjoy END */

/* container-lumea-prestige */

.lumea-prestige__content-flex {
   display: flex;
   flex-direction: row;
   align-items: flex-start;
}

.item-lumea-prestige:first-child {
   flex: 1 1 0;
   padding-right: 5rem;
}

.item-lumea-prestige img {
   max-width: 83%;
}

.item-lumea-prestige h2 {}

.item-lumea-prestige p {
   padding: 3rem 0 2rem 0;
}

.item-lumea-prestige ul {
   list-style-type: none;
}

.item-lumea-prestige ul li {
   padding-left: 5rem;
   padding-bottom: 4rem;
}

/* container-lumea-prestige END */

/* container-threetreatments */

.container-threetreatments {}

.row-threetreatments {}

.row-threetreatments.bgimages2 {
   background-image: url(https://cdn.comfy.ua/media/x/img/sect3_bg1.png);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
   width: 100%;
   height: 705px;
}

.threetreatments__content {
   position: absolute;
   right: 5rem;
   top: 5rem;
}

.threetreatments__content h2 {
   font-size: 40px;
}

/* **** */

.row-threetreatments-causes {
   background-color: #f9f0f2;
   ;
}

.row-threetreatments-causes h2 {}

.causes__content-num-flex {
   display: flex;
   flex-direction: row;
   align-items: flex-start;
   padding: 5rem 0;
}

.item-causes {
   flex: 1 1 0;
}

.causes-list {}

.causes-list ul {
   list-style-type: none;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: 380px;
}

.causes-list li {
   color: #91004b;
   padding-left: 7rem;
}

.causes-list ul li::before {
   position: absolute;
   left: 0;
   top: -3px;
   font-size: 60px;
   font-weight: bold;
   color: #91004b;
   line-height: 1;
}

.row-threetreatments-causes i {}

.causes-list.col_left ul li:nth-child(1)::before {
   content: "1";
}

.causes-list.col_left ul li:nth-child(2)::before {
   content: "2";
}

.causes-list.col_left ul li:nth-child(3)::before {
   content: "3";
}

.causes-list.col_left ul li:nth-child(4)::before {
   content: "4";
}

.causes-list.col_right ul li:nth-child(1)::before {
   content: "5";
}

.causes-list.col_right ul li:nth-child(2)::before {
   content: "6";
}

.causes-list.col_right ul li:nth-child(3)::before {
   content: "7";
}

/* container-threetreatments END */

/* container-three-treatments */

.container-three-treatments {}

.row-three-treatments {}

.row-three-treatments.bgimages3 {
   background-image: url(https://cdn.comfy.ua/media/x/img/sect4_bg1.png);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
   width: 100%;
   height: 706px;
}

.treatments__content {
   max-width: 690px;
   position: relative;
   float: right;
   right: 5rem;
   top: 5rem;
}

.treatments__content p {
   color: #91004b;
   padding-bottom: 5rem;
}

.treatments__content i {
   font-size: 17px;
}

/* container-three-treatments END */

/* container-consultation */

.container-consultation {
   background-color: #f5e2e6;
}

.row-consultation {}

.consultation__content p {
   color: #91004b;
   padding-bottom: 2rem;
}

.consultation__content-movieflex {
   display: flex;
   flex-direction: row;
}

.consultation__content-movieflex .item__movieflex {
   flex: 1 1 0;
}

.consultation__content-movieflex .item__movieflex:first-child {
   padding-right: 2.5rem;
}

.consultation__content-movieflex .item__movieflex:last-child {
   padding-left: 2.5rem;
}

/* container-consultation END */

/* container-productuse */

.container-productuse {}

.row-productuse {}

.row__content-flex {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: flex-start;
}

.row__content-flex.row-reverse-item {
   display: flex;
   flex-direction: row-reverse;
}

.row__content-flex h2 {
   color: #ed4372;
   padding-bottom: 2rem;
   font-size: 35px;
}

.row__content-flex p {
   color: #5d5d5d;
   font-size: 23px;
}

.row__content-flex .item-productuse {
   flex: 1 1 0;
}

.row__content-flex .item-productuse:first-child {}

.row__content-flex.row-reverse-item .item-productuse:first-child .productuse__content {
   padding-left: 2rem;
}

/* container-productuse END */

/* container-technology-ipl */

.container-technology-ipl {
   padding: 0 5rem 5rem 5rem;
}

.row-technology-ipl-top {
   padding-bottom: 3rem;
}

.row-technology-ipl-top h2 {}

.row-technology-ipl {
   display: flex;
   flex-direction: row;
   align-items: center;
}

.item-technology {
   flex: 1 1 0;
}

.item-technology:first-child p {
   font-size: 23px;
}

.item-technology:last-child {
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   justify-content: center;
   text-align: right;
}

.item-technology:last-child .technology-content p {
   color: #ed4372;
}

/* container-technology-ipl */

/* container-numberone */

.container-numberone {}

.row-numberone {}

.numberone__content {
   display: flex;
   flex-direction: row;
   align-items: center;
}

.numberone__content .item_numberone__content:nth-child(1) {
   flex: 1 1 40%;
}

.numberone__content .item_numberone__content:nth-child(2) {
   flex: 1 1 40%;
   padding: 0 2rem;
}

.numberone__content .item_numberone__content:nth-child(3) {
   flex: 1 1 20%;
}

.numberone__content .item_numberone__content p i {
   font-size: 20px;
}

.numberone__content .item_numberone__content p {
   color: #494949;
   font-size: 2.2rem;
   text-align: left;
   padding-top: 15px;
}

.numberone__img img {
   display: block;
   margin: auto 0 0 0;
   padding-top: 15px;
   max-width: 100%;
}

/* container-numberone END */

/* row-statistics */

.row-statistics {
   background-color: #e49aa9;
}

.statistics__flex-content {
   display: flex;
   flex-direction: row;
   align-items: flex-start;
   justify-content: flex-start;
}

.statistics__flex-content .item_statistics {
   flex: 1 1 0;
   color: #fff;
}

.statistics__flex-content .item_statistics h2 {
   font-size: 40px;
   font-weight: normal;
   color: #fff;
   line-height: 1.3;
   min-height: 195px;
}

.statistics__flex-content .item_statistics p {
   font-size: 2.5rem;
}

.statistics__flex-content .item_statistics span.fw_bold {
   font-weight: bold;
   font-size: 50px;
}

.statistics__flex-content .item_statistics:nth-child(2) {
   padding: 0 25px;
}

/* row-statistics END */

/* container-table-product */

.container-table-product {
   background-color: #f5e2e4;
}

.row-table-product {
   overflow: auto;
}

.table-product__block table {
   width: 1215px;
   height: auto;
}

.table-product__block table tr td ul li {
   font-size: 18px;
}

.table-product__block table tr td:nth-child(2n+1) {
   background-color: #ebb5c2;
}

.table-product__block table tr td {
   padding: 10px 15px 10px 15px;
   vertical-align: baseline;
   width: 235px;
   height: auto;
}

.table-product__block table tr td:nth-child(2n) {
   background-color: #e9c6cc;
}

.table-product__block table tr td h2 {
   font-size: 2rem;
   color: #494949;
   text-align: left;
   padding-bottom: 10px;
}

.table-product__block table tr td img {
   max-width: 100%;
   width: 100%;
   height: 315px;
   display: block;
   margin: 0 auto;
}

.table-product__block table tr td p {
   font-size: 18px;
   color: #494949;
   text-align: left;
}

.table-product__block table tr td.only_width {
   background-color: #f5e2e4 !important;
   padding: 10px 15px 10px 0px;
}

.table-product__block table tr td.only_width h3 {
   font-size: 2.5rem;
   margin: 0;
   padding: 0;
   text-align: left;
   font-weight: bold;
   color: #92004d;
}

/* container-table-product END */

/* reviews-lumea */

.reviews-lumea {
   background-color: #e49aa9;
}

.row-reviews-lumea {
   display: flex;
   flex-direction: row;
   align-items: flex-start;
   justify-content: flex-start;
}

.row-reviews-lumea .item-move:nth-child(1) {
   flex: 1 1 50%;
}

.row-reviews-lumea .item-move:nth-child(2) {
   flex: 1 1 25%;
   margin: 0 15px;
}

.row-reviews-lumea .item-move:nth-child(3) {
   flex: 1 1 25%;
}

.row-reviews-lumea .item-move video {
   width: 100%;
   height: auto;
   display: block;
}

.row-reviews-lumea .item-move p {
   font-size: 20px;
   text-align: left;
   padding-top: 15px;
   color: #fff;
}

/* reviews-lumea END */

/* container-movefoot */

.container-movefoot {
   background: #ebb5c2;
}

.container-movefoot video {
   width: 100%;
   height: auto;
   display: block;
}

/* container-movefoot */

/* breakpoints  */

/* iPhone 6, 7, & 8 in portrait & landscape */
@media screen and (min-width: 320px) and (max-width: 480px) {

   /* default css */
   .product-sc1994-cl h2 {
      font-size: 25px;
   }

   .product-sc1994-cl i {
      font-size: 17px;
   }

   .product-sc1994-cl h3 {
      font-size: 22px;
   }

   #wrapper-product-sc1994 p {
      font-size: 21px;
   }
   .product-sc1994-cl ul li {
      font-size: 18px;
   }
   span.word-wrap {
      display: inline;
      word-wrap: break-word;
   }
   .product-sc1994-cl .bgblockfl {
      padding: 15px 15px 15px 15px;
   }
   /* default css END */
  .lumea-prestige__content-flex {
      flex-direction: column;
      align-items: center;
   }

   .threetreatments__content h2 {
      font-size: 25px;
   }

   .threetreatments__content {
      max-width: 630px;
      position: relative;
      right: 0;
      top: 0;
      padding: 15px;
   }
   .treatments__content i {
      text-shadow: 0 0 5px black;
      color: #fff;
   }
   .consultation__content p {
      text-align: justify;
   }
   .treatments__content p {
      padding-bottom: 5rem;
      text-shadow: 0 0 1px #ff0046;
   }
   .item-causes:first-child {
      padding-right: 0;
      padding-bottom: 8rem;
   }

   .item-causes:last-child {
      padding-left: 0;
   }

   .row-three-treatments.bgimages3 {
      background-position: 20% 100%;
      height: 725px;
   }
   .treatments__content {
      right: 0;
      top: 0;
      padding: 15px;
   }

   .row__content-flex h2 {
      font-size: 28px;
   }

   .statistics__flex-content .item_statistics h2 {
      font-size: 28px;
      min-height: auto;
   }

   .statistics__flex-content .item_statistics p {
      font-size: 18px;
   }

   .causes__content-num-flex {
      display: flex;
      flex-direction: column;
   }

   .row__content-flex {
      display: flex;
      flex-direction: column;
   }

   .row__content-flex .item-productuse:first-child {
      padding-bottom: 15px;
   }

   .row__content-flex.row-reverse-item {
      flex-direction: column;
   }

   .row__content-flex.row-reverse-item .item-productuse:first-child .productuse__content {
      padding-left: 0;
   }

   .row__content-flex {
      padding-bottom: 30px;
   }

   .row__content-flex:last-child {
      padding-bottom: 0;
   }

   .row-technology-ipl {
      flex-direction: column;
   }

   .numberone__content {
      flex-direction: column;
   }

   .numberone__content .item_numberone__content:nth-child(2) {
      padding: 0;
   }

   .statistics__flex-content {
      flex-direction: column;
   }

   .statistics__flex-content .item_statistics:nth-child(2) {
      padding: 0;
   }

   .statistics__flex-content .item_statistics {
      padding-bottom: 15px;
   }

   .statistics__flex-content .item_statistics span.fw_bold {
      font-size: 40px;
   }

   .row-reviews-lumea {
      flex-direction: column;
      align-items: stretch;
   }

   .row-reviews-lumea .item-move:nth-child(2) {
      margin: 15px 0;
   }

   .enjoy__content-flex {
      padding: 0 15px 15px;
   }
   .row-enjoy.bgimages1 {
      height: 500px;
      background-position: 65% 100%;
   }
   .indentation_section_def {
      padding: 15px;
   }
   .item-lumea-prestige ul li {
      padding-bottom: 15px;
   }
   .item-lumea-prestige:first-child {
      padding-right: 0;
   }
   .item-lumea-prestige p {
      padding: 15px 0 2rem 0;
      text-align: justify;
   }
   .row-threetreatments.bgimages2 {
      background-position: 45% 100%;
      height: 500px;
   }
   .consultation__content-movieflex {
      flex-direction: column;
   }
   .consultation__content-movieflex .item__movieflex:first-child {
      padding-right: 0;
      padding-bottom: 15px;
   }
   .consultation__content-movieflex .item__movieflex:last-child {
      padding-left: 0;
   }
   .row__content-flex p {
      text-align: justify;
   }
   .container-technology-ipl {
      padding: 15px;
   }
   .row-technology-ipl-top {
      padding-bottom: 15px;
   }
   .numberone__img {
      display: none;
   }
}

/* iPad portrait */
@media screen and (min-width: 481px) and (max-width: 768px) {

   /* default css */
   .product-sc1994-cl h2 {
      font-size: 40px;
   }

   .product-sc1994-cl i {
      font-size: 20px;
   }

   .product-sc1994-cl h3 {
      font-size: 28px;
   }

   #wrapper-product-sc1994 p {
      font-size: 25px;
   }

   /* default css END */
   .lumea-prestige__content-flex {
      flex-direction: column;
      align-items: center;
   }

   .threetreatments__content h2 {
      font-size: 28px;
   }

   .threetreatments__content {
      max-width: 630px;
   }

   .item-causes:first-child {
      padding-right: 0;
      padding-bottom: 8rem;
   }

   .item-causes:last-child {
      padding-left: 0;
   }

   .row-three-treatments.bgimages3 {
      background-position: 100% 100%;
   }

   .row__content-flex h2 {
      font-size: 23px;
   }

   .statistics__flex-content .item_statistics h2 {
		font-size: 28px;
		min-height: auto;
		padding-bottom: 15px;
   }

   .statistics__flex-content .item_statistics p {
      font-size: 18px;
   }

   .causes__content-num-flex {
      display: flex;
      flex-direction: column;
   }

   .row__content-flex {
      display: flex;
      flex-direction: column;
   }

   .row__content-flex .item-productuse:first-child {
      padding-bottom: 15px;
   }

   .row__content-flex.row-reverse-item {
      flex-direction: column;
   }

   .row__content-flex.row-reverse-item .item-productuse:first-child .productuse__content {
      padding-left: 0;
   }

   .row__content-flex {
      padding-bottom: 30px;
   }

   .row__content-flex:last-child {
      padding-bottom: 0;
   }

   .row-technology-ipl {
      flex-direction: column;
   }

   .numberone__content {
      flex-direction: column;
   }

   .numberone__content .item_numberone__content:nth-child(2) {
      padding: 0;
   }

   .statistics__flex-content {
      flex-direction: column;
   }

   .statistics__flex-content .item_statistics:nth-child(2) {
      padding: 0;
   }

   .statistics__flex-content .item_statistics {
      padding-bottom: 15px;
   }

   .statistics__flex-content .item_statistics span.fw_bold {
      font-size: 40px;
   }

   .row-reviews-lumea {
      flex-direction: column;
      align-items: stretch;
   }

   .row-reviews-lumea .item-move:nth-child(2) {
      margin: 15px 0;
	}
	.numberone__img {
		display: none;
	}

}

/* iPadPro portrait */
@media screen and (min-width: 769px) and (max-width: 1024px) {

   /* default css */
   .product-sc1994-cl h2 {
      font-size: 35px;
   }

   .product-sc1994-cl i {
      font-size: 20px;
   }

   .product-sc1994-cl h3 {
      font-size: 28px;
   }

   #wrapper-product-sc1994 p {
      font-size: 25px;
   }

   /* default css END */
   .lumea-prestige__content-flex {
      flex-direction: column;
      align-items: center;
   }

   .threetreatments__content h2 {
      font-size: 35px;
   }

   .threetreatments__content {
      max-width: 630px;
   }

   .item-causes:first-child {
      padding-right: 15px;
   }

   .item-causes:last-child {
      padding-left: 15px;
   }

   .row-three-treatments.bgimages3 {
      background-position: 100% 100%;
   }

   .row__content-flex h2 {
      font-size: 28px;
   }

   .statistics__flex-content .item_statistics h2 {
      font-size: 28px;
      min-height: auto;
   }

   .statistics__flex-content .item_statistics p {
      font-size: 18px;
   }

}

/* Настольные компьютеры и ноутбуки */
@media only screen and (min-width : 1224px) {}