.tefal-grill-page p:first-letter {
  padding-left: 0;
}

.tefal-grill-page img {
  margin-right: auto;
  margin-left: auto;
}

.tefal-grill-page img:hover {
  opacity: 1;
}

.tefal-grill-page div {
  line-height: normal;
}

.tefal-grill-page table {
  display: block;
  max-width: 1316px;
  margin: 0 auto;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
  overflow-x: auto;
  border-spacing: 0 !important;
}

.tefal-grill-page th {
  padding: 24px;
  font-weight: bold;
  border-right: 1px solid #5E6167;
  border-bottom: 1px solid #5E6167;
}

.tefal-grill-page th:nth-last-child(1) {
  border-right: none;
}

.tefal-grill-page td {
  padding: 8px 12px;
  text-align: center;
  border-right: 1px solid #5E6167;
  border-bottom: 1px solid #5E6167;
}

.tefal-grill-page td:nth-last-child(1) {
  border-right: none;
}

.tefal-grill-page tr {
  position: relative;
}

.tefal-grill-page tr td:nth-child(1) {
  text-align: left;
  white-space: nowrap;
}

.tefal-grill-page h1,
.tefal-grill-page h2,
.tefal-grill-page p,
.tefal-grill-page ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}


/* GENERAL */

.page.main-container {
  padding: 0 !important;
}

#category {
  max-width: unset;
  padding: 0;
}

.narrow-container.breadcrumbs {
  display: none;
}

.tefal-grill-page-divider-large {
  width: 11%
}

.tefal-grill-page-divider {
  min-width: 20px;
  max-width: 20px;
}

.tefal-grill-page-divider-12 {
  min-width: 12px;
  max-width: 12px;
}

@media screen and (max-width: 1024px) {
  .hide-on--table {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .hide-on--mobile {
    display: none !important;
  }
}

.show-on--mobile {
  display: none !important;
}

@media screen and (max-width: 767px) {
  .show-on--mobile {
    display: block !important;
  }
}

.tefal-grill-page__block-title {
  width: 100%;
  margin-bottom: 32px;
  font-weight: 700;
  /* font-size: calc(32px + (44 - 32) * ((100vw - 768px) / (1920 - 768)));
line-height: 46px; */
  font-size: 46px;
  line-height: 60px;
  color: #000;
}

@media screen and (max-width: 1024px) {
  .tefal-grill-page__block-title {
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 16px;
    line-height: 40px;
  }
}

.tefal-grill-page__block-text {
  font-size: 16px;
  line-height: 24px;
  font-family: 'Rubik', sans-serif;
}

.tefal-grill-page__block-title--red {
  color: #cc020f;
}

.tefal-grill-page__block-title--black {
  color: #000000 !important;
}

.tefal-grill-page__block-title--center {
  text-align: center;
}

.page.main-container {
  padding: 0 !important;
}

.narrow-container.breadcrumbs {
  display: none;
}

.tefal-grill-page {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  overflow: hidden;
}


/* .tefal-grill-page__bg {
  background-color: #292929;
} */

.tefal-grill-page__bg .tefal-grill-page__block-title {
  color: #ffffff;
}

.tefal-grill-page video {
  max-width: 100%;
  -webkit-user-drag: none;
}

.tefal-grill-page img {
  max-width: 100%;
  -webkit-user-drag: none;
  outline: none;
}

.tefal-grill-page .tefal-grill-page__img-60 {
  max-width: 60%;
}

.tefal-grill-page .tefal-grill-page__img-75 {
  position: relative;
  top: -40px;
  max-width: 75%;
}

.tefal-grill-page__card-3--programgs-item .tefal-grill-page__img-75 {
  top: 0;
  max-width: 100%;
}

@media screen and (max-width: 1024px) {
  .tefal-grill-page .tefal-grill-page__img-75 {
    top: 0;
  }
  .tefal-grill-page__card-3--programgs-item .tefal-grill-page__img-75 {
    max-width: 75%;
  }
}

@media screen and (max-width: 870px) {
  .tefal-grill-page__card-3--programgs-item .tefal-grill-page__img-75 {
    max-width: 56%;
  }
}

.tefal-grill-page__brand-string {
  white-space: nowrap;
}

.tefal-grill-page__card-content_scaled {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

@media screen and (max-width: 1024px) {
  .tefal-grill-page__banner {
    left: 0 !important;
  }
  .header-bottom .tefal-grill-page__banner {
    display: none !important;
  }
  .tefal-grill-page__card-content_scaled {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

@media screen and (max-width: 767px) {
  .tefal-grill-page__card-3--programgs-item {
    margin-bottom: 30px;
  }
  .tefal-grill-page__banner {
    display: none !important;
  }
  #category {
    position: relative;
  }
  .tefal-grill-page__card-separator {
    max-width: unset !important;
  }
}


/* GENERAL END */


/* CONTENT-HEADER */

.tefal-grill-page__content-header {
  padding: 0 20px 108px;
  color: #ffffff;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #282828;
}

@media screen and (max-width: 767px) {
  .tefal-grill-page__content-header {
    text-align: left;
    box-sizing: border-box;
  }
  .tefal-grill-page__content-header .tefal-grill-page__block-text {
    width: 100%;
  }
}

.tefal-grill-page__content-header .tefal-grill-page__block-text {
  margin-bottom: 50px;
}

.tefal-grill-page__content-header-video-wr {
  position: relative;
  max-width: 1316px;
}

@media screen and (max-width: 767px) {
  .tefal-grill-page__content-header-video-wr {
    margin-left: 0;
  }
}

.tefal-grill-page__content-header-video-wr--shadow {
  position: absolute;
  left: 0px;
  right: 0px;
  z-index: 6;
  top: 0px;
  bottom: 0px;
  -webkit-box-shadow: 0px 0px 19px 21px #292929 inset;
  -moz-box-shadow: 0px 0px 19px 21px #292929 inset;
  box-shadow: 0px 0px 19px 21px #292929 inset;
  /* border: 1px solid #292929; */
  filter: blur(10px);
}

.tefal-grill-page__content-header-video-wr--shadow-2 {
  position: absolute;
  left: -6px;
  right: -6px;
  top: -6px;
  bottom: -6px;
  z-index: 64;
  filter: blur(4px);
  -webkit-box-shadow: -6px -1px 14px 38px #292929;
  -moz-box-shadow: -6px -1px 14px 38px #292929;
  box-shadow: -6px -1px 14px 38px #292929;
}

@media screen and (max-width: 767px) {
  .tefal-grill-page__content-header-video-wr--shadow {
    position: absolute;
    left: 0px;
    right: 0px;
    z-index: 6;
    top: 0px;
    bottom: 0px;
    -webkit-box-shadow: 0px 0px 7x 7px #292929 inset;
    -moz-box-shadow: 0px 0px 7x 7px #292929 inset;
    box-shadow: 0px 0px 7x 7px #292929 inset;
    /* border: 1px solid #292929; */
    filter: blur(10px);
  }
  .tefal-grill-page__content-header-video-wr--shadow-2 {
    position: absolute;
    left: -6px;
    right: -6px;
    top: -6px;
    bottom: -6px;
    z-index: 64;
    filter: blur(4px);
    -webkit-box-shadow: 0px 0px 4px 10px rgb(41 41 41);
    -moz-box-shadow: 0px 0px 4px 10px rgb(41 41 41);
    box-shadow: 0px 0px 4px 10px rgb(41 41 41);
  }
}

.tefal-grill-page__content-header-video-wr--shadow-border {
  border: 5px solid #292929;
}


/* CONTENT-HEADER END */


/* CARD 1 */

.tefal-grill-page__card-1 {
  padding: 80px 20px;
  color: #000000;
  text-align: center;
  background-color: #ffffff;
}

@media screen and (max-width: 767px) {
  .tefal-grill-page__card-1 {
    padding: 40px 20px;
  }
}

.tefal-grill-page__card-1 .tefal-grill-page__block-title {
  max-width: 1550px;
  margin: auto;
  margin-bottom: 30px;
}


/* CARD 1 END */


/* CARD 2 */

.tefal-grill-page__card-2 {
  position: relative;
  padding: 80px 20px 0;
  color: #ffffff;
  z-index: 1000;
  background: #292929;
}

@media screen and (max-width: 767px) {
  .tefal-grill-page__card-2 {
    padding: 80px 20px 0px;
  }
  .tefal-grill-page__card-2 .tefal-grill-page__img-60 {
    width: 100%;
    max-height: 215px;
    margin: auto;
  }
}

.tefal-grill-page__card-2 .tefal-grill-page__block-title {
  max-width: 400px;
}

.tefal-grill-page__card-2 .tefal-grill-page__footer-block .tefal-grill-page__block-title {
  max-width: 100%;
}

@media screen and (max-width: 767px) {
  .tefal-grill-page__card-2 .tefal-grill-page__block-title {
    max-width: 350px;
  }
}

.tefal-grill-page__card-2-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  max-width: 1316px;
  margin: auto;
}

@media screen and (max-width: 767px) {
  .tefal-grill-page__card-2-content {
    flex-wrap: wrap;
  }
}

.tefal-grill-page__card-2-content .tefal-grill-page__block-text {
  max-width: 400px;
}

.tefal-grill-page__card-2-content-left {
  width: 50%;
  padding-left: 0;
  /*margin-right: 20px;*/
}

@media screen and (max-width: 767px) {
  .tefal-grill-page__card-2-content-left {
    width: 100%;
    margin-bottom: 80px;
  }
}

.tefal-grill-page__card-2-content-right {
  position: relative;
  width: 50%;
}

@media screen and (max-width: 767px) {
  .tefal-grill-page__card-2-content-right {
    width: 100%;
    text-align: center;
  }
}

.tefal-grill-page__card-2-content-right--img-wr {
  position: relative;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .tefal-grill-page__card-2-content-right--img-wr::after {
    content: '';
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 80px;
    background: url(https://scdn.comfy.ua/89fc351a-22e7-41ee-8321-f8a9356ca351/https://skin.comfy.ua/media/x/img/tefal-optigrill-xl/2-2.png) no-repeat;
    background-size: cover;
  }
}

.tefal-grill-page__card-2 .tefal-grill-page__footer-block {
  margin-top: 80px;
  margin-bottom: 0;
  text-align: center;
}


/* CARD 2 END*/

.tefal-grill-page__card-3-header {
  padding: 50px 20px 50px;
  text-align: center;
  position: relative;
}

.tefal-grill-page__card-3-header::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: -5%;
  background: -webkit-linear-gradient(0deg, rgba(41, 41, 41, 1) 0%, rgba(40, 40, 40, 1) 100%);
  background: linear-gradient(0deg, rgba(41, 41, 41, 1) 0%, rgba(40, 40, 40, 1) 100%);
}

.tefal-grill-page__card-3-header--container {
  position: relative;
  max-width: 1050px;
  padding: 30px 50px;
  margin: auto;
  z-index: 1;
}

.tefal-grill-page__card-3-header--title {
  font-weight: 800;
  font-size: 48px;
  line-height: 76px;
  text-transform: uppercase;
}

.tefal-grill-page__card-3-header--subtitle {
  font-weight: 600;
  font-size: 32px;
  line-height: 76px;
  text-transform: uppercase;
}

.tefal-grill-page__card-3-header--line-top {
  position: absolute;
  left: 0;
  top: 0;
  transform: rotate(180deg);
  width: 162px;
  height: 80px;
  background-image: url(https://scdn.comfy.ua/89fc351a-22e7-41ee-8321-f8a9356ca351/https://skin.comfy.ua/media/x/img/tefal-optigrill-xl/title-line.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.tefal-grill-page__card-3-header--line-bottom {
  position: absolute;
  right: 0;
  bottom: 0;
  /* transform: rotate(180deg); */
  width: 162px;
  height: 80px;
  background-image: url(https://scdn.comfy.ua/89fc351a-22e7-41ee-8321-f8a9356ca351/https://skin.comfy.ua/media/x/img/tefal-optigrill-xl/title-line.png);
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (max-width: 767px) {
  .tefal-grill-page__card-3-header {
    padding: 20px 20px 20px;
  }
  .tefal-grill-page__card-3-header--container {
    padding: 23px 4px;
  }
  .tefal-grill-page__card-3-header--line-top,
  .tefal-grill-page__card-3-header--line-bottom {
    width: 80px;
    height: 40px;
  }
  .tefal-grill-page__card-3-header--title {
    margin-bottom: 12px;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
  }
  .tefal-grill-page__card-3-header--subtitle {
    margin: auto;
    max-width: 200px;
    font-size: 16px;
    line-height: 24px;
  }
}


/* CARD 3 */

.tefal-grill-page__card-3 {
  position: relative;
  padding: 80px 20px;
  color: #ffffff;
  /* background-color: #292929; */
  background-color: #282828;
}

@media screen and (max-width: 767px) {
  .tefal-grill-page__card-3 {
    padding: 0px 0px 80px;
    background: transparent;
  }
}

.tefal-grill-page__card-3-content {
  max-width: 1316px;
  margin: auto;
  height: 664px;
  /* background-color: #292929; */
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .tefal-grill-page__card-3-content {
    height: auto;
    flex-direction: column;
  }
}

.tefal-grill-page__card-3-content-left {
  padding-left: 0px;
  max-width: 50%;
  width: calc(50% - 20px);
  box-sizing: border-box;
}

.tefal-grill-page__card-3--programgs-wr {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.tefal-grill-page__card-3--programgs-wr__title {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 700;
  white-space: nowrap;
}

@media screen and (max-width: 767px) {
  .tefal-grill-page__card-3--programgs-wr__title {
    margin-bottom: 12px;
  }
  .tefal-grill-page__card-3--programgs-wr {
    flex-direction: column;
  }
  .tefal-grill-page__card-3-content-left {
    max-width: 100%;
    width: 100%;
    padding: 20px;
    margin-right: 0;
  }
  .tefal-grill-page__card-3-content-left--img-wr img {
    width: 100%;
    padding: 0;
    text-align: center;
    margin: auto;
  }
}

.tefal-grill-page__card-3 .tefal-grill-page__block-title {
  max-width: 500px;
}

.tefal-grill-page__card-3 .tefal-grill-page__block-text {
  max-width: 465px;
}

.tefal-grill-page__card-3-content-right {
  width: 50%;
}

@media screen and (max-width: 767px) {
  .tefal-grill-page__card-3-content-right {
    width: 100%;
  }
}

.tefal-grill-page__card-3-content-right-img {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  max-width: 50%;
}


/* CARD 3 END */


/* CARD 4 */

.tefal-grill-page__card-4 {
  margin-top: -140px;
  margin-bottom: -140px;
}

@media screen and (max-width: 1024px) {
  .tefal-grill-page__card-4 {
    margin-top: -80px;
    margin-bottom: -80px;
  }
}

@media screen and (max-width: 767px) {
  .tefal-grill-page__card-4 {
    margin: 0;
  }
}

.tefal-grill-page__card-4 video {
  width: 100%;
}


/* CARD 4 END */


/* CARD 5 */

.tefal-grill-page__card-5 {
  position: relative;
  padding: 0 20px;
  background: #292929;
}

@media screen and (max-width: 767px) {
  .tefal-grill-page__card-5 {
    padding: 0 20px 40px;
    background: transparent;
  }
}

.tefal-grill-page__card-5-img {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  max-width: 50%;
}

.tefal-grill-page__card-5 .tefal-grill-page__card-3-content {
  justify-content: flex-end;
  height: 664px;
}

@media screen and (max-width: 767px) {
  .tefal-grill-page__card-5 .tefal-grill-page__card-3-content {
    height: auto;
  }
}

.tefal-grill-page__card-5 .tefal-grill-page__card-3-content-left {
  padding-left: 20px;
}

@media screen and (max-width: 767px) {
  .tefal-grill-page__card-5 .tefal-grill-page__card-3-content-left {
    padding-left: 0px;
    padding: 0;
    ;
  }
}

.tefal-grill-page__grid {
  display: grid;
  grid-template-columns: repeat(8, 80px);
  grid-gap: 20px 20px;
}

@media screen and (max-width: 767px) {
  .tefal-grill-page__grid {
    grid-template-columns: repeat(4, 64px);
    grid-gap: 16px 16px;
    justify-content: center;
  }
}

.tefal-grill-page__card-5--footer {
  max-width: 1356px;
  margin: auto;
  padding: 0 20px 60px;
  position: relative;
}

.tefal-grill-page__card-5--footer::after {
  content: "";
  display: block;
  position: absolute;
  top: -50%;
  right: -50%;
  left: -50%;
  bottom: 0;
  background: #292929;
  z-index: -1;
}

@media screen and (max-width: 1024px) {
  .tefal-grill-page__card-5--footer {
    padding: 0 20px 40px;
  }
}

.tefal-grill-page__card-5--footer .tefal-grill-page__footer-block {
  margin-top: 80px;
  padding-left: 0;
  /* max-width: 1200px; */
  max-width: 810px;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .tefal-grill-page__card-5--footer .tefal-grill-page__footer-block {
    margin-top: 10px;
  }
}

.tefal-grill-page__card-5--footer .tefal-grill-page__block-title {
  max-width: 615px;
}

.tefal-grill-page__card-5--footer .tefal-grill-page__block-text {
  max-width: 400px;
}


/* CARD 5 END */


/* CARD 6 */

.tefal-grill-page__card-6 video {
  width: 100%;
}

.tefal-grill-page__card-6--mobile-wr {
  text-align: center;
}

.tefal-grill-page__card-6--col {
  width: 100%;
}

.tefal-grill-page__card-6--col__img {
  width: 100%;
  margin-bottom: 20px;
}


/* CARD 6 END */


/* CARD 7 */

.tefal-grill-page__card-7 {
  padding: 80px 20px;
  color: #ffffff;
  background: #292929;
  margin-top: -5px;
}

.tefal-grill-page__card-7-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  max-width: 1316px;
  margin: auto;
}

@media screen and (max-width: 767px) {
  .tefal-grill-page__card-7-content {
    flex-wrap: wrap;
  }
}

.tefal-grill-page__card-7-content-left {
  width: 50%;
  padding-left: 0;
  padding-bottom: 70px;
}

@media screen and (max-width: 767px) {
  .tefal-grill-page__card-7-content-left {
    width: 100%;
    padding-bottom: 0px;
    margin-bottom: 40px;
  }
}

.tefal-grill-page__card-7-content-left .tefal-grill-page__block-text {
  max-width: 400px;
}

.tefal-grill-page__card-7-content-right {
  position: relative;
  width: 50%;
  text-align: center;
}

.tefal-grill-page__card-7-content-right img {
  max-width: 80%;
}

@media screen and (max-width: 767px) {
  .tefal-grill-page__card-7-content-right {
    width: 100%;
    text-align: center;
  }
  .tefal-grill-page__card-7-content-right img {
    max-width: 350px;
  }
}

.tefal-grill-page__card-7-content-right-img {
  position: relative;
}


/* CARD 7 END */


/* CARD 8 */

.tefal-grill-page__card-8 {
  /* margin-bottom: 80px; */
  padding: 0 20px 80px;
  background: #292929;
}

.tefal-grill-page__card-8-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  max-width: 1316px;
  margin: auto;
}

@media screen and (max-width: 767px) {
  .tefal-grill-page__card-8-content {
    flex-wrap: wrap;
  }
}

.tefal-grill-page__card-8-content-col {
  width: 40%;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .tefal-grill-page__card-8-content-col {
    width: 100%;
  }
  .tefal-grill-page__card-8-content-col:nth-child(1) {
    margin-bottom: 80px;
  }
  .tefal-grill-page__card-8-img-wr {
    text-align: center;
  }
  .tefal-grill-page__card-8-img-wr img {
    max-width: 350px;
  }
}


/* CARD 8 END*/


/* CARD 9 */

.tefal-grill-page__card-9 {
  padding-bottom: 80px;
  background: #292929;
}

@media screen and (max-width: 767px) {
  .tefal-grill-page__card-9 {
    padding-bottom: 40px;
    margin-bottom: 40px;
  }
}


/* CARD 9 END*/

@media (max-width: 1024px) and (min-width: 768px) {
  .tefal-grill-page__card-3-content {
    height: 400px;
  }
  .tefal-grill-page__card-3-header {
    padding-bottom: 0;
  }
  .tefal-grill-page__content-header {
    padding: 0 20px 80px;
  }
  .tefal-grill-page__card-5 .tefal-grill-page__card-3-content {
    height: 400px;
  }
  .tefal-grill-page table {
    font-size: 18px;
  }
}