@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
}

.content {
  width: 100%;
  max-width: 100%;
}

.category-cms-template__content {
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
     -moz-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}

.category-info {
  display: none;
}

.category-cms-template .category-cms-template__content .category__main {
  display: none;
}

.bottom-content-recommendations {
  display: none;
}

.breadcrumbs {
  display: none;
}

.common-template__reviews {
  display: none;
}

.main-container.page {
  padding-left: 0;
  padding-right: 0;
  background: #fff;
}

.bottom-content-tags .b-sec, .bottom-content-description .b-sec {
  border: 0;
  padding: 0;
}

.scroll-to-top {
  display: none;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #ff671f;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

* {
  scrollbar-color: #ff671f #fff !important;
  scrollbar-face-color: #ff671f;
}

#app-year-results2024 {
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  background: #43B02A;
}
#app-year-results2024 h2, #app-year-results2024 h3, #app-year-results2024 h4, #app-year-results2024 h5, #app-year-results2024 h6, #app-year-results2024 p {
  margin: 0;
  line-height: 1.2;
}
#app-year-results2024 ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 56px;
}
#app-year-results2024 ul li {
  font-size: 21px;
  font-weight: 400;
  text-align: left;
  position: relative;
}
@media only screen and (min-width: 320px) and (max-width: 1920px) {
  #app-year-results2024 ul li {
    font-size: -webkit-calc(21px + 9 * (100vw - 320px) / 1920);
    font-size: calc(21px + 9 * (100vw - 320px) / 1920);
  }
}
@media only screen and (min-width: 1920px) {
  #app-year-results2024 ul li {
    font-size: 30px;
  }
}
#app-year-results2024 ul li:first-child b {
  display: inline-block;
}
#app-year-results2024 ul li::before {
  content: "";
  background-image: url(https://cdn.comfy.ua/media/x/img5/results2024/all_str3.svg);
  background-repeat: no-repeat;
  position: absolute;
  width: 290px;
  height: 14px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
       -o-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -28px;
}
#app-year-results2024 ul li:last-child::before {
  display: none;
}
#app-year-results2024 img {
  display: block;
  max-width: 100%;
  opacity: 1;
}
#app-year-results2024 img:hover {
  opacity: 1;
}
#app-year-results2024 h2 {
  font-size: 21px;
  font-weight: 900;
  text-align: left;
}
@media only screen and (min-width: 320px) and (max-width: 1920px) {
  #app-year-results2024 h2 {
    font-size: -webkit-calc(21px + 19 * (100vw - 320px) / 1920);
    font-size: calc(21px + 19 * (100vw - 320px) / 1920);
  }
}
@media only screen and (min-width: 1920px) {
  #app-year-results2024 h2 {
    font-size: 40px;
  }
}
#app-year-results2024 p {
  font-size: 14px;
  font-weight: 400;
}
@media only screen and (min-width: 320px) and (max-width: 1920px) {
  #app-year-results2024 p {
    font-size: -webkit-calc(14px + 6 * (100vw - 320px) / 1920);
    font-size: calc(14px + 6 * (100vw - 320px) / 1920);
  }
}
@media only screen and (min-width: 1920px) {
  #app-year-results2024 p {
    font-size: 20px;
  }
}
#app-year-results2024 p.size-p-big {
  font-size: 22px;
  font-weight: 400;
}
@media only screen and (min-width: 320px) and (max-width: 1920px) {
  #app-year-results2024 p.size-p-big {
    font-size: -webkit-calc(22px + 2 * (100vw - 320px) / 1920);
    font-size: calc(22px + 2 * (100vw - 320px) / 1920);
  }
}
@media only screen and (min-width: 1920px) {
  #app-year-results2024 p.size-p-big {
    font-size: 24px;
  }
}
#app-year-results2024 h3 {
  font-size: 31px;
  font-weight: 900;
  text-align: center;
}
@media only screen and (min-width: 320px) and (max-width: 1920px) {
  #app-year-results2024 h3 {
    font-size: -webkit-calc(31px + 25 * (100vw - 320px) / 1920);
    font-size: calc(31px + 25 * (100vw - 320px) / 1920);
  }
}
@media only screen and (min-width: 1920px) {
  #app-year-results2024 h3 {
    font-size: 56px;
  }
}
#app-year-results2024 h4 {
  font-size: 70px;
  font-weight: 700;
  text-align: left;
  -webkit-filter: drop-shadow(0px 0px 1px #000);
          filter: drop-shadow(0px 0px 1px #000);
  color: #000;
  position: relative;
}

.btn--only-desk {
  display: block;
}

.btn--only-mob {
  display: none;
  width: 100%;
}

.btn-width-full {
  width: 100%;
}

.year-results2024-share {
  -webkit-border-radius: 80px;
          border-radius: 80px;
  border: 2px solid #FFF;
  background: #FF671F;
  position: fixed;
  right: 3.7rem;
  bottom: 3.7rem;
  z-index: 100;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
     -moz-box-orient: horizontal;
     -moz-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.year-results2024-share:hover {
  -webkit-box-shadow: 0 0 5px 0px #fff;
          box-shadow: 0 0 5px 0px #fff;
}
.year-results2024-share__checkbox {
  display: none;
}
.year-results2024-share__icon {
  width: 75px;
  height: 75px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  position: relative;
  cursor: pointer;
}
.year-results2024-share__icon::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 32px;
  height: 32px;
  background-image: url("https://cdn.comfy.ua/media/x/img5/results2024/share.svg");
  -webkit-background-size: contain;
       -o-background-size: contain;
          background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: background 0.1s linear, -webkit-transform 0.1s linear;
  transition: background 0.1s linear, -webkit-transform 0.1s linear;
  -o-transition: background 0.1s linear, -o-transform 0.1s linear;
  transition: transform 0.1s linear, background 0.1s linear;
  transition: transform 0.1s linear, background 0.1s linear, -webkit-transform 0.1s linear, -o-transform 0.1s linear;
}
.year-results2024-share__text {
  max-width: 0;
  overflow: hidden;
  font-size: 20px;
  color: #fff;
  -webkit-transition: max-width 0.1s linear;
  -o-transition: max-width 0.1s linear;
  transition: max-width 0.1s linear;
  cursor: pointer;
  white-space: nowrap;
}
.year-results2024-share__text:hover {
  text-decoration: underline;
}
.year-results2024-share__checkbox:checked ~ .year-results2024-share__icon::before {
  background-image: url(https://cdn.comfy.ua/media/x/img5/results2024/close.svg);
  -webkit-transform: rotate(90deg) translate(-50%, 50%);
      -ms-transform: rotate(90deg) translate(-50%, 50%);
       -o-transform: rotate(90deg) translate(-50%, 50%);
          transform: rotate(90deg) translate(-50%, 50%);
}
.year-results2024-share__checkbox:checked ~ .year-results2024-share__text {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  padding-left: 25px;
}

.year-results2024__container {
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
}

.year-results2024-banner-cap {
  position: relative;
}
.year-results2024-banner-cap__wrap {
  display: table;
  max-width: -webkit-calc(70% - 72px);
  max-width: calc(70% - 72px);
  min-width: 500px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: absolute;
  z-index: 6;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
       -o-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 8rem;
  opacity: 0;
  -webkit-filter: drop-shadow(0px 0px 8px #fff);
          filter: drop-shadow(0px 0px 8px #fff);
}
.year-results2024-banner-cap__wrap::before {
  content: "";
  width: 3px;
  height: 110px;
  background: #000;
  position: absolute;
  left: 34px;
  top: -100px;
}
.year-results2024-banner-cap__wrap::after {
  content: "";
  width: 3px;
  height: 110px;
  background: #000;
  position: absolute;
  right: 34px;
  top: -100px;
  z-index: -1;
}
.year-results2024-banner-cap__wrap.is-visible-banner-cap {
  opacity: 1;
}
.year-results2024-banner-cap__container::before {
  content: "";
  background-image: url(https://cdn.comfy.ua/media/x/img5/results2024/all_banner_0.png);
  width: 440px;
  height: 96px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
       -o-transform: translateX(-50%);
          transform: translateX(-50%);
  top: -82px;
  z-index: 6;
}
.year-results2024-banner-cap.cap-border1 {
  border: 2px solid #000;
  -webkit-border-radius: 16px;
          border-radius: 16px;
}
.year-results2024-banner-cap.cap-border2 {
  border: 4px solid #430006;
  background: #430006;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  padding: 0 2px;
}
.year-results2024-banner-cap.cap-border3 {
  border: 1px solid #c4b794;
  background: #124300;
  -webkit-border-radius: 16px;
          border-radius: 16px;
}
.year-results2024-banner-cap.cap-content {
  padding: 6px 34px;
}
.year-results2024-banner-cap__text {
  color: #FFF;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  max-width: 890px;
}
@media only screen and (min-width: 320px) and (max-width: 1920px) {
  .year-results2024-banner-cap__text {
    font-size: -webkit-calc(20px + 7 * (100vw - 320px) / 1920);
    font-size: calc(20px + 7 * (100vw - 320px) / 1920);
  }
}
@media only screen and (min-width: 1920px) {
  .year-results2024-banner-cap__text {
    font-size: 27px;
  }
}
.year-results2024-banner-cap__text.cap-text-pos {
  position: absolute;
  top: -34px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
       -o-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 6;
}

.year-results2024-pusheweyk-over {
  overflow: hidden;
  margin: 0 0 47px 0;
}

.year-results2024-pusheweyk {
  position: relative;
  margin: 0 37px 0 37px;
  padding-top: 22rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.year-results2024-pusheweyk__bgrd-sity {
  margin: 0 45px;
  position: relative;
  bottom: 30px;
  z-index: 1;
}
.year-results2024-pusheweyk__bgrd-ice {
  bottom: 0;
  z-index: 3;
}
.year-results2024-pusheweyk__bgrd-gradient {
  background-image: url(https://cdn.comfy.ua/media/x/img5/results2024/gradient.svg);
  background-position: center bottom;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  max-width: 1830px;
  width: 150%;
  height: 100%;
  z-index: 3;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 4;
}
.year-results2024-pusheweyk__bgrd-push {
  z-index: 5;
  bottom: 0;
  max-width: 53vw;
  -webkit-filter: drop-shadow(1px 1px 2px #000);
          filter: drop-shadow(1px 1px 2px #000);
}
.year-results2024-pusheweyk__bgrd-snow {
  z-index: 2;
  -webkit-filter: drop-shadow(0px 0px 1px #fff);
          filter: drop-shadow(0px 0px 1px #fff);
  position: absolute;
  margin: 0 auto;
  top: 0;
  height: 100vh;
  overflow: hidden;
  width: 100%;
  max-width: 1335px;
  margin: 0 auto;
}
.year-results2024-pusheweyk__bgrd-push-btn {
  position: absolute;
  bottom: 38%;
  left: 50%;
  -webkit-transform: translateX(-53%);
      -ms-transform: translateX(-53%);
       -o-transform: translateX(-53%);
          transform: translateX(-53%);
  max-width: 25vw;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}
.year-results2024-pusheweyk__bgrd-push-btn:hover {
  -webkit-filter: drop-shadow(0px 0px 3px #000);
          filter: drop-shadow(0px 0px 3px #000);
}

.results-year-snowflake {
  position: absolute;
  pointer-events: none;
  -webkit-animation: fall linear infinite;
       -o-animation: fall linear infinite;
          animation: fall linear infinite;
}

@-webkit-keyframes fall {
  to {
    top: 100vh;
  }
}

@-o-keyframes fall {
  to {
    top: 100vh;
  }
}

@keyframes fall {
  to {
    top: 100vh;
  }
}
.pusheweyk__bgrd {
  position: absolute;
}

.year-results2024-thanks-year {
  position: relative;
  max-width: 848px;
  width: 100%;
  height: 240px;
  background-image: url(https://cdn.comfy.ua/media/x/img5/results2024/anim1.gif);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: contain;
       -o-background-size: contain;
          background-size: contain;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.year-results2024-thanks-year__text {
  color: #FFF;
  text-align: center;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 1;
  position: relative;
  left: 34px;
}

.year-results2024__block {
  position: relative;
  padding: 0 37px;
}

.year-results2024-animation {
  position: absolute;
  top: 0;
  max-width: 1722px;
  display: grid;
  grid-template-columns: repeat(8, 104px);
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
       -o-transform: translateX(-50%);
          transform: translateX(-50%);
}
.year-results2024-animation__item {
  position: relative;
}
.year-results2024-animation__item.item-animatio2 {
  -webkit-transform: rotate(180deg) scaleX(-1);
      -ms-transform: rotate(180deg) scaleX(-1);
       -o-transform: rotate(180deg) scaleX(-1);
          transform: rotate(180deg) scaleX(-1);
  top: 120px;
}
.year-results2024-animation__item.item-animatio4 {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
       -o-transform: rotate(180deg);
          transform: rotate(180deg);
}
.year-results2024-animation__item.item-animatio5 {
  -webkit-transform: rotate(180deg) scaleX(-1);
      -ms-transform: rotate(180deg) scaleX(-1);
       -o-transform: rotate(180deg) scaleX(-1);
          transform: rotate(180deg) scaleX(-1);
}
.year-results2024-animation__item.item-animatio7 {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
       -o-transform: rotate(180deg);
          transform: rotate(180deg);
  top: 120px;
}
.year-results2024-animation__item.item-animatio8 {
  -webkit-transform: scaleX(-1);
      -ms-transform: scaleX(-1);
       -o-transform: scaleX(-1);
          transform: scaleX(-1);
}

.year-results2024-personal-account {
  -webkit-border-radius: 40px;
          border-radius: 40px;
  background: #E5ECF7;
  position: relative;
  height: 320px;
  max-width: 1846px;
  margin: 0 0 8rem 0;
  background-image: url(https://cdn.comfy.ua/media/x/img5/results2024/lgn_bgrd1.png);
  background-position: right center;
  -webkit-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
}
.year-results2024-personal-account__grid {
  display: grid;
  grid-template-columns: 35% 1fr;
  gap: 77px;
  padding: 0 40px;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
}
.year-results2024-personal-account__item-login p {
  padding: 16px 0 24px 0;
}
.year-results2024-personal-account__item-login button {
  -webkit-border-radius: 9px;
          border-radius: 9px;
  background: #43B02A;
  padding: 16px 20px;
  color: #fff;
  text-align: center;
  border: 0;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.year-results2024-personal-account__item-login button:hover {
  -webkit-box-shadow: 0 0 3px 0 #43B02A;
          box-shadow: 0 0 3px 0 #43B02A;
}
.year-results2024-personal-account__statistic {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
  max-width: 935px;
}
.year-results2024-personal-account__item {
  display: grid;
  gap: 24px;
  text-align: center;
}
.year-results2024-personal-account__item img {
  margin: 0 auto !important;
}

.year-results2024-personal-achievements {
  -webkit-border-radius: 1px;
          border-radius: 1px;
  background: #FAF8F4;
  -webkit-box-shadow: 0px 4px 24px 4px rgba(42, 115, 25, 0.46);
          box-shadow: 0px 4px 24px 4px rgba(42, 115, 25, 0.46);
  max-width: 960px;
  margin: 0 auto 36px auto;
  padding: 24px;
  position: relative;
  -webkit-filter: drop-shadow(1px 1px 6px #E6ECF7);
          filter: drop-shadow(1px 1px 6px #E6ECF7);
  -webkit-border-radius: 24px;
          border-radius: 24px;
}
.year-results2024-personal-achievements__content {
  position: relative;
  height: 100%;
}
.year-results2024-personal-achievements__arch {
  position: absolute;
  z-index: 1;
}
.year-results2024-personal-achievements__arch.achievements__arch-lt {
  left: 0;
  top: 0;
}
.year-results2024-personal-achievements__arch.achievements__arch-rt {
  right: 0;
  top: 0;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
       -o-transform: rotate(90deg);
          transform: rotate(90deg);
}
.year-results2024-personal-achievements__arch.achievements__arch-lb {
  left: 0;
  bottom: 0;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
       -o-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.year-results2024-personal-achievements__arch.achievements__arch-rb {
  right: 0;
  bottom: 0;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
       -o-transform: rotate(180deg);
          transform: rotate(180deg);
}
.year-results2024-personal-achievements__arch.achievements__arch-ct {
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
       -o-transform: translateX(-50%);
          transform: translateX(-50%);
}
.year-results2024-personal-achievements__arch.achievements__arch-cr {
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%) rotate(90deg);
      -ms-transform: translateY(-50%) rotate(90deg);
       -o-transform: translateY(-50%) rotate(90deg);
          transform: translateY(-50%) rotate(90deg);
}
.year-results2024-personal-achievements__arch.achievements__arch-bc {
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
       -o-transform: translateX(-50%);
          transform: translateX(-50%);
}
.year-results2024-personal-achievements__arch.achievements__arch-lc {
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%) rotate(90deg);
      -ms-transform: translateY(-50%) rotate(90deg);
       -o-transform: translateY(-50%) rotate(90deg);
          transform: translateY(-50%) rotate(90deg);
}
.year-results2024-personal-achievements__content-text {
  padding: 64px 80px;
  position: relative;
  z-index: 2;
}
.year-results2024-personal-achievements__h3 {
  padding-bottom: 56px;
}

.year-results2024-personal-account-inlogin {
  max-width: 1920px;
  margin: 0 0 8rem 0;
}
.year-results2024-personal-account-inlogin__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 23px;
}
.year-results2024-personal-account-inlogin__item {
  -webkit-border-radius: 24px;
          border-radius: 24px;
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(#C8D8FD), color-stop(39.78%, #E6ECF7));
  background: -webkit-linear-gradient(top, #C8D8FD 0%, #E6ECF7 39.78%);
  background: -o-linear-gradient(top, #C8D8FD 0%, #E6ECF7 39.78%);
  background: linear-gradient(180deg, #C8D8FD 0%, #E6ECF7 39.78%);
  height: 320px;
  display: grid;
  -webkit-box-align: end;
  -webkit-align-items: end;
     -moz-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  overflow: hidden;
  -webkit-filter: drop-shadow(1px 1px 6px #E6ECF7);
          filter: drop-shadow(1px 1px 6px #E6ECF7);
}
.year-results2024-personal-account-inlogin__item::before {
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  top: 0;
  width: 600px;
  height: 100%;
}
.year-results2024-personal-account-inlogin__item::after {
  content: "";
  background: -webkit-linear-gradient(342deg, #E6ECF7 50.38%, rgba(230, 236, 247, 0) 82.38%);
  background: -o-linear-gradient(342deg, #E6ECF7 50.38%, rgba(230, 236, 247, 0) 82.38%);
  background: linear-gradient(108deg, #E6ECF7 50.38%, rgba(230, 236, 247, 0) 82.38%);
  position: absolute;
  left: 0;
  top: 0;
  width: 70%;
  height: 320px;
}
.year-results2024-personal-account-inlogin__item.inlogin-bgrd1::before {
  content: "";
  background-image: url(https://cdn.comfy.ua/media/x/img5/results2024/lgn_bgrd_item1.png);
}
.year-results2024-personal-account-inlogin__item.inlogin-bgrd2::before {
  content: "";
  background-image: url(https://cdn.comfy.ua/media/x/img5/results2024/lgn_bgrd_item2.png);
}
.year-results2024-personal-account-inlogin__item.inlogin-bgrd3::before {
  content: "";
  background-image: url(https://cdn.comfy.ua/media/x/img5/results2024/lgn_bgrd_item3.png);
}
.year-results2024-personal-account-inlogin__text {
  padding: 0 32px 56px 32px;
  position: relative;
  z-index: 3;
}

.year-results2024-animation-mob {
  display: none;
}

@media (max-width: 1024px) {
  .btn--only-desk {
    display: none;
  }
  .year-results2024-personal-account__item-login button {
    font-size: 16px;
  }
  .year-results2024-animation {
    grid-template-columns: repeat(6, 104px);
  }
  .year-results2024-animation__item.item-animatio3, .year-results2024-animation__item.item-animatio6 {
    display: none;
  }
  .year-results2024-personal-account {
    margin: 0 0 4rem 0;
    height: auto;
  }
  .year-results2024-personal-account__grid {
    padding: 35px 25px;
    gap: 20px;
  }
  .year-results2024-personal-account__statistic {
    grid-gap: 15px;
  }
  .year-results2024-personal-account-inlogin {
    margin: 0 0 4rem 0;
  }
  .year-results2024-personal-account-inlogin__text {
    padding: 0 16px 40px 23px;
  }
  .year-results2024-personal-account-inlogin__grid {
    grid-template-columns: 1fr;
  }
  .year-results2024-banner {
    height: 42vh;
  }
  .year-results2024-share {
    bottom: 8.8rem;
    right: 1.2rem;
  }
  .year-results2024-share__icon {
    width: 60px;
    height: 60px;
  }
  .year-results2024-share__icon::before {
    width: 30px;
    height: 30px;
  }
  .year-results2024-share__checkbox:checked ~ .year-results2024-share__text {
    padding-left: 15px;
  }
}
@media (max-width: 768px) {
  #app-year-results2024 ul {
    grid-gap: 40px;
  }
  .year-results2024__block {
    padding: 0 12px;
  }
  .year-results2024-personal-account {
    -webkit-border-radius: 16px;
            border-radius: 16px;
    margin: 2.6rem 0 80px 0;
    background-image: url(https://cdn.comfy.ua/media/x/img5/results2024/lgn_bgrd1_mob.png);
    -webkit-background-size: contain;
         -o-background-size: contain;
            background-size: contain;
  }
  .year-results2024-personal-account__grid {
    grid-template-columns: 1fr;
    gap: 35px;
  }
  .year-results2024-personal-achievements__content-text {
    padding: 35px 45px;
  }
  .year-results2024-personal-achievements__h3 {
    padding-bottom: 24px;
  }
  .year-results2024-thanks-year__text {
    font-size: 33px;
    left: 16px;
    top: -10px;
  }
  .year-results2024-banner-cap__wrap {
    max-width: -webkit-calc(100% - 24px);
    max-width: calc(100% - 24px);
    -webkit-filter: drop-shadow(0px 0px 3px #fff);
            filter: drop-shadow(0px 0px 3px #fff);
  }
  .year-results2024-pusheweyk {
    padding-top: 0;
    height: 550px;
  }
  .year-results2024-pusheweyk__bgrd-sity {
    position: absolute;
    width: 135%;
  }
  .year-results2024-pusheweyk__bgrd-ice {
    width: 145%;
  }
  .year-results2024-banner-cap__text__text {
    font-size: 18px !important;
  }
  .year-results2024-banner-cap__text.cap-text-pos {
    top: -28px;
  }
}
@media (max-width: 480px) {
  #app-year-results2024 h2 {
    font-size: 26px !important;
  }
  #app-year-results2024 ul {
    grid-gap: 24px;
  }
  #app-year-results2024 ul li {
    font-size: 20px !important;
  }
  #app-year-results2024 ul li::before {
    max-width: 230px;
    -webkit-background-size: contain;
         -o-background-size: contain;
            background-size: contain;
    bottom: -20px;
  }
  #app-year-results2024 h4 {
    font-size: 60px;
  }
  #app-year-results2024 h4 span {
    font-size: 50px;
  }
  .break-word {
    display: block;
  }
  .btn--only-mob {
    display: block;
  }
  .year-results2024-thanks-year__text {
    font-size: 23px;
    left: 12px;
    top: -5px;
  }
  .year-results2024-thanks-year {
    height: 123px;
  }
  .year-results2024-personal-account {
    margin: 0 0 80px 0;
  }
  .year-results2024-personal-account__grid {
    padding: 40px 24px;
    gap: 24px;
  }
  .year-results2024-personal-account {
    -webkit-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    background-position: center;
  }
  .year-results2024-personal-account__statistic {
    grid-gap: 20px;
    grid-template-columns: 1fr;
  }
  .year-results2024-personal-account__item-login p {
    padding: 16px 0 0 0;
  }
  .year-results2024-personal-achievements {
    padding: 12px;
    margin: 0 auto 80px auto;
    -webkit-border-radius: 12px;
            border-radius: 12px;
  }
  .year-results2024-personal-achievements__content-text {
    padding: 24px 18px;
  }
  .year-results2024-personal-achievements__arch.achievements__arch-lt, .year-results2024-personal-achievements__arch.achievements__arch-rt, .year-results2024-personal-achievements__arch.achievements__arch-lb, .year-results2024-personal-achievements__arch.achievements__arch-rb {
    max-width: 104px;
  }
  .year-results2024-personal-achievements__arch.achievements__arch-ct, .year-results2024-personal-achievements__arch.achievements__arch-cr, .year-results2024-personal-achievements__arch.achievements__arch-bc, .year-results2024-personal-achievements__arch.achievements__arch-lc {
    max-width: 15px;
  }
  .year-results2024-animation {
    display: none;
  }
  .year-results2024-animation-mob {
    display: block;
  }
  .year-results2024-animation-mob__bgrd {
    position: absolute;
    width: 800px;
    height: 200px;
  }
  .year-results2024-animation-mob__bgrd::before {
    content: "";
    background-image: url(https://cdn.comfy.ua/media/x/img5/results2024/anim2_mob.gif);
    position: absolute;
    -webkit-background-size: contain;
         -o-background-size: contain;
            background-size: contain;
    background-repeat: no-repeat;
    height: 200px;
    width: 100%;
  }
  .year-results2024-animation-mob__bgrd.mob__bgrd1 {
    -webkit-transform: rotate(-10deg);
        -ms-transform: rotate(-10deg);
         -o-transform: rotate(-10deg);
            transform: rotate(-10deg);
    left: -80px;
    top: 38rem;
  }
  .year-results2024-animation-mob__bgrd.mob__bgrd2 {
    bottom: 165px;
    -webkit-transform: scaleY(-1) rotate(-8deg);
        -ms-transform: scaleY(-1) rotate(-8deg);
         -o-transform: scaleY(-1) rotate(-8deg);
            transform: scaleY(-1) rotate(-8deg);
    left: -132px;
  }
  .year-results2024-animation-mob__bgrd.mob__bgrd3 {
    bottom: -97px;
    -webkit-transform: scaleY(-1) rotate(-8deg);
        -ms-transform: scaleY(-1) rotate(-8deg);
         -o-transform: scaleY(-1) rotate(-8deg);
            transform: scaleY(-1) rotate(-8deg);
    left: -102px;
  }
  .year-results2024-personal-account-inlogin__item {
    height: 228px;
    -webkit-border-radius: 12px;
            border-radius: 12px;
  }
  .year-results2024-personal-account-inlogin__item::before {
    background-position: right;
    -webkit-background-size: contain;
         -o-background-size: contain;
            background-size: contain;
  }
  .year-results2024-personal-account-inlogin__item::after {
    background: -webkit-linear-gradient(46deg, #E6ECF7 -26.62%, rgba(230, 236, 247, 0) 82.38%);
    background: -o-linear-gradient(46deg, #E6ECF7 -26.62%, rgba(230, 236, 247, 0) 82.38%);
    background: linear-gradient(44deg, #E6ECF7 -26.62%, rgba(230, 236, 247, 0) 82.38%);
  }
  .year-results2024-personal-account-inlogin__item.inlogin-bgrd1::before {
    background-image: url(https://cdn.comfy.ua/media/x/img5/results2024/lgn_bgrd_item1_mob.png);
  }
  .year-results2024-personal-account-inlogin__item.inlogin-bgrd2::before {
    background-image: url(https://cdn.comfy.ua/media/x/img5/results2024/lgn_bgrd_item2_mob.png);
  }
  .year-results2024-personal-account-inlogin__item.inlogin-bgrd3::before {
    background-image: url(https://cdn.comfy.ua/media/x/img5/results2024/lgn_bgrd_item3_mob.png);
  }
  .year-results2024-pusheweyk {
    height: auto;
    margin: 0 16px 0 16px;
  }
  .year-results2024-pusheweyk__bgrd-sity {
    position: relative;
    width: 100%;
    bottom: 0;
    margin: 0;
  }
  .year-results2024-pusheweyk__bgrd-ice {
    width: 100%;
    bottom: -1px;
  }
  .year-results2024-pusheweyk__bgrd-push {
    bottom: -24px;
    max-width: initial;
    width: 125%;
  }
  .year-results2024-pusheweyk__bgrd-snow {
    -webkit-filter: none;
            filter: none;
  }
  .year-results2024-pusheweyk__bgrd-snow img {
    width: 28px;
    height: 28px;
  }
  .year-results2024-pusheweyk__bgrd-gradient {
    background-image: url(https://cdn.comfy.ua/media/x/img5/results2024/gradient_mob.svg);
  }
  .year-results2024-banner-cap.cap-content {
    padding: 6px 12px;
  }
  .year-results2024-banner-cap.cap-border2 {
    -webkit-border-radius: 12px;
            border-radius: 12px;
  }
  .year-results2024-banner-cap__text {
    font-size: 18px !important;
  }
  .year-results2024-banner-cap__container::before {
    background-image: url(https://cdn.comfy.ua/media/x/img5/results2024/all_banner_0_mob.png);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    width: 213px;
    height: 90px;
    top: -111px;
    z-index: 8;
  }
  .year-results2024-banner-cap__wrap {
    top: 12rem;
    min-width: auto;
  }
  .year-results2024-banner-cap__wrap::before {
    height: 150px;
    left: 30%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
         -o-transform: translateX(-50%);
            transform: translateX(-50%);
    top: -140px;
    z-index: 0;
  }
  .year-results2024-banner-cap__wrap::after {
    height: 150px;
    left: 70%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
         -o-transform: translateX(-50%);
            transform: translateX(-50%);
    top: -140px;
    z-index: -1;
    right: 0;
  }
  .year-results2024-banner-cap__text.cap-text-pos {
    top: -70px;
    z-index: 8;
  }
  .year-results2024-pusheweyk-over {
    margin: 0 0 2rem 0;
  }
  .year-results2024-share {
    bottom: 10rem;
  }
  .year-results2024-share__text {
    font-size: 16px;
  }
  .year-results2024-share__icon {
    width: 50px;
    height: 50px;
  }
  .year-results2024-share__icon::before {
    width: 25px;
    height: 25px;
  }
}
@media (max-width: 812px) and (orientation: landscape) {
  #app-year-results2024 h4 {
    font-size: 60px;
  }
  #app-year-results2024 ul {
    grid-gap: 40px;
  }
  .year-results2024-pusheweyk {
    padding-top: 23rem;
  }
  .year-results2024-banner-cap__text {
    font-size: 18px !important;
  }
  .year-results2024-personal-account-inlogin__item {
    height: 250px;
  }
  .year-results2024-personal-achievements__h3 {
    padding-bottom: 40px;
  }
  .year-results2024-banner-cap__text.cap-text-pos {
    top: -28px;
  }
}