@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap')
#vestfrost
   display: block
   margin: 0 auto
   max-width: 1440px
   width: 100%
   height: auto
   overflow: hidden
   background: #fff
   position: relative
   font-family: 'Roboto', sans-serif
   img
      max-width: 100%
      display: block
      margin: 0
      padding: 0
      opacity: 1
span.fw-bold
   font-weight: bold
   color: #000
span.tx-uppercase
   text-transform: uppercase
span.tx-breakword
   word-wrap: break-word
   display: block
.features-desc__text h2
   text-align: inherit
.one-col .features-desc__text p
   text-align: inherit
.vestfrost-text__bold
   font-weight: bold
.vestfrost-text__uppercase
   text-transform: uppercase
.vestfrost-color
   color: #6D6D6D
.vestfrost-colorfff
   color: #fff
.vestfrost-fsclamp-size1
   font-size: clamp(28px, 1.036rem + 3.57vw, 60px) // 28 60
   line-height: 1.3
.vestfrost-fsclamp-size2
   font-size: clamp(24px, 1.196rem + 1.52vw, 41px) // 24 41
   line-height: 1.3
.vestfrost-fsclamp-size3
   font-size: clamp(16px, 0.857rem + 0.71vw, 24px) // 16 24
   line-height: 1.3
.vestfrost-fsclamp-size4
   font-size: clamp(22px, 0.911rem + 2.32vw, 48px) // 22 48
   line-height: 1.3
.vestfrost-text__alg-l
   text-align: left
.vestfrost-text__alg-r
   text-align: right
.vestfrost-text__alg-c
   text-align: center
// default
.vestfrost-header__logo-text
   font-size: 20px
   color: #fff
   text-align: left
   font-weight: normal
   padding-top: 5px
.vestfrost-header
   &.vestfrost-header__bgrd
      background-image: url(https://cdn.comfy.ua/media/x/img5/2837278_img1.png)
      background-position: left
      background-repeat: no-repeat
      background-size: cover
      height: 810px
.vestfrost-header__container
   padding: 40px 15px 40px 80px
.vestfrost-header__content
   padding: 190px 0 0 0
   position: relative
   display: table
.vestfrost-header__text
   color: #fff
   position: relative
   z-index: 3
   &:first-child
      padding-bottom: 20px
.vestfrost-header__text-pos
   font-size: 22px
   color: #fff
   display: flex
   align-items: center
   justify-content: center
   width: 170px
   height: 170px
   background-color: #002E5D
   border-radius: 50%
   position: absolute
   right: 170px
   bottom: 35px
   text-transform: uppercase
   text-align: center
   line-height: 1.3
.vestfrost-besttaste
   &.vestfrost-besttaste__bgrd
      background-image: url(https://cdn.comfy.ua/media/x/img5/2837278_img2.png)
      background-position: left
      background-repeat: no-repeat
      background-size: cover
      height: 658px
.vestfrost-besttaste__container
   padding: 110px 15px 40px 80px
.vestfrost-besttaste__text
   color: #fff
.vestfrost-besttaste__text
   max-width: 625px
   &:nth-child(1)
      max-width: 810px
      padding-bottom: 40px
   &:nth-child(2)
      padding-bottom: 50px
.vestfrost-textblock
   max-width: 1057px
   margin: 0 auto
   padding: 40px 15px
.vestfrost-advantage__flex
   display: flex
   align-items: center
   padding: 0 40px
   &.flex-row
      flex-direction: row-reverse
.vestfrost-advantage__item
   flex: 1 1 0
.vestfrost-advantage__content
   padding: 0 15px
.vestfrost-advantage__text
   &:nth-child(1)
      padding-bottom: 30px
.vestfrost-advantage__img
   display: flex
   justify-content: center
.vestfrost-functions__container
   position: relative
.vestfrost-functions__pos-img
   position: absolute
   right: 0
   top: 50%
   transform: translateY(-50%)
.vestfrost-functions__flex
   display: flex
   flex-direction: row
   align-items: center
   justify-content: space-between
   padding: 0 40px
.vestfrost-functions__item
   &:first-child
      .vestfrost-functions__content
         margin-bottom: 25px
         &:last-child
            margin-bottom: 0
         &:nth-child(2), &:nth-child(3)
            .vestfrost-functions__text
               padding-right: 145px
   &:last-child
      .vestfrost-functions__content
         margin-right: 100px
      .vestfrost-functions__text
         max-width: 350px
.vestfrost-functions__content
   border: 2px solid #9A9A9A
   border-radius: 15px
   position: relative
   padding: 30px 15px 30px 37px
   max-width: 500px
   background: #fff
.vestfrost-functions__img
   position: absolute
   right: -125px
   top: 50%
   transform: translateY(-50%)
.vestfrost-konverciy
   position: relative
   &.vestfrost-konverciy__bgrd
      background-image: url(https://cdn.comfy.ua/media/x/img5/2837278_img8nw.png)
      background-position: left
      background-repeat: no-repeat
      background-size: cover
      height: 661px
      display: flex
      align-items: flex-end
      margin-top: 100px
.vestfrost-konverciy__content
   padding: 15px 15px 50px 80px
   max-width: 950px
.vestfrost-konverciy__text
   &:first-child
      padding-bottom: 40px
.vestfrost-program
   &.vestfrost-program__bgrd
      background-image: url(https://cdn.comfy.ua/media/x/img5/2837278_img9nw2.png)
      background-position: left
      background-repeat: no-repeat
      background-size: cover
      height: 820px
      display: flex
      align-items: flex-start
      justify-content: center
.vestfrost-program__content
   padding: 25px 15px 15px 15px
   max-width: 945px
// media
@media (max-width: 1366px)
   .vestfrost-header.vestfrost-header__bgrd
      height: 735px
@media (max-width: 1024px)
   .vestfrost-header.vestfrost-header__bgrd, .vestfrost-besttaste.vestfrost-besttaste__bgrd, .vestfrost-konverciy.vestfrost-konverciy__bgrd, .vestfrost-program.vestfrost-program__bgrd
      height: 550px
   .vestfrost-header__container
      padding: 25px 15px 35px 60px
   .vestfrost-header__content
      display: block
   .vestfrost-besttaste__container
      padding: 35px 15px 21px 25px
   .vestfrost-advantage__flex
      padding: 0 25px
   .vestfrost-konverciy__content
      padding: 15px 15px 50px 25px
@media (max-width: 812px)
   .vestfrost-header__text-pos
      right: 25px
   .vestfrost-functions__pos-img
      position: relative
      right: 0
      top: 0
      transform: translateY(0%)
      max-width: 550px
      margin: 0 auto
   .vestfrost-functions__flex
      flex-direction: column
      align-items: normal
      padding: 0 25px
   .vestfrost-functions__content
      max-width: 100%
   .vestfrost-functions__item:last-child .vestfrost-functions__content
      margin-right: 0px
   .vestfrost-functions__item:first-child .vestfrost-functions__content:last-child
      margin-bottom: 25px
   .vestfrost-functions__img
      position: relative
      right: 0
      top: 50%
      transform: translateY(0)
      display: table
      margin: 0 auto
   .vestfrost-advantage__content
      padding: 0
@media (max-width: 480px)
   .vestfrost-advantage__flex
      flex-direction: column
      &.flex-row
         flex-direction: column
   .vestfrost-header__container
      padding: 12px 15px 0 23px
   .vestfrost-header.vestfrost-header__bgrd
      background-position: 62% 100%
   .vestfrost-header__text-pos
      right: 0
      bottom: -5px
   .vestfrost-besttaste__container
      padding: 35px 15px 21px 15px
   .vestfrost-advantage__flex
      padding: 0 15px
   .vestfrost-functions__flex
      padding: 0 15px
   .vestfrost-functions__content
      padding: 24px 15px 24px 20px
   .vestfrost-functions__item:first-child .vestfrost-functions__content:nth-child(2) .vestfrost-functions__text, .vestfrost-functions__item:first-child .vestfrost-functions__content:nth-child(3) .vestfrost-functions__text
      padding-right: 0
      padding-bottom: 24px
   .vestfrost-konverciy.vestfrost-konverciy__bgrd
      margin-top: 50px
   .vestfrost-konverciy__content
      padding: 15px 15px 50px 15px
   .vestfrost-program.vestfrost-program__bgrd
      background-position: center
@media (max-width: 320px)
   .vestfrost-header__container
      padding: 12px 15px 0 10px
@media (max-width: 812px) and (orientation: landscape)
   .vestfrost-fsclamp-size1
      font-size: 36px
   .vestfrost-advantage__content
      padding: 20px 0
   .vestfrost-functions__content
      padding: 30px 15px 30px 15px
