.rkt-tcl-55v6b__container {
  overflow: hidden;
}

.bc-description__content p:first-letter {
  padding-left: 0 !important;
}

#rkt-tcl-55v6b {
  max-width: 1023px;
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  background: #fff;
  padding: 0 1em;
  box-sizing: border-box;
}
#rkt-tcl-55v6b h2, #rkt-tcl-55v6b h3, #rkt-tcl-55v6b h4, #rkt-tcl-55v6b h5, #rkt-tcl-55v6b h6, #rkt-tcl-55v6b p {
  margin: 0;
  padding: 0;
  line-height: 1.2;
}
#rkt-tcl-55v6b ul {
  margin: 0;
  padding: 0;
  list-style-type: disc;
  padding-left: 20px;
  margin: 0.5rem 0;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
#rkt-tcl-55v6b img {
  display: block;
  max-width: 100%;
  opacity: 1;
  margin: 0 auto;
}
#rkt-tcl-55v6b img:hover {
  opacity: 1;
}
#rkt-tcl-55v6b h2 {
  font-size: 26px;
  font-weight: 900;
  margin-bottom: 1rem;
  text-align: center;
}
@media (max-width: 1023px) {
  #rkt-tcl-55v6b h2 {
    font-size: calc(20px + 6 * (100vw - 320px) / 703);
  }
}
#rkt-tcl-55v6b h3 {
  font-size: 20px;
  font-weight: 900;
  text-align: left;
  margin-bottom: 1rem;
}
@media (max-width: 1023px) {
  #rkt-tcl-55v6b h3 {
    font-size: calc(18px + 2 * (100vw - 320px) / 703);
  }
}
#rkt-tcl-55v6b p {
  font-size: 16px;
  font-weight: 400;
  text-align: left;
}
@media (max-width: 1023px) {
  #rkt-tcl-55v6b p {
    font-size: calc(14px + 2 * (100vw - 320px) / 703);
  }
}
#rkt-tcl-55v6b li {
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  line-height: 1.2;
}
@media (max-width: 1023px) {
  #rkt-tcl-55v6b li {
    font-size: calc(14px + 2 * (100vw - 320px) / 703);
  }
}
#rkt-tcl-55v6b i {
  line-height: 1.2;
  font-size: 16px;
  margin-top: 0.5rem;
  display: block;
  font-style: italic;
}
@media (max-width: 1023px) {
  #rkt-tcl-55v6b i {
    font-size: calc(14px + 2 * (100vw - 320px) / 703);
  }
}

.tcl__img__two {
  margin: 0 auto;
  max-width: 80%;
}

.tcl__4k__cont {
  padding: 2em 0 1em;
}

.tcl__color {
  position: relative;
  margin-top: 1em;
}

.tcl__color__abs {
  position: absolute;
  bottom: 50%;
  transform: translateY(50%);
  left: 2em;
  max-width: 40%;
}

.tcl__color__white {
  color: #fff;
}

.tcl__eye {
  background: #f2f8fd;
  display: flex;
  align-items: center;
  padding: 3em 1em;
  gap: 2em;
}
.tcl__eye > div {
  flex-basis: 50%;
  box-sizing: border-box;
}

@media (min-width: 320px) and (max-width: 767.9px) {
  #rkt-tcl-55v6b {
    display: block;
  }
  #rkt-tcl-55v6b h2, #rkt-tcl-55v6b p, #rkt-tcl-55v6b h3 {
    text-align: center;
  }
  .tcl__color__abs {
    position: unset;
    transform: unset;
    max-width: 100%;
    padding-bottom: 1em;
  }
  .tcl__color__img {
    overflow: hidden;
  }
  .tcl__color__img img {
    min-width: 150%;
    margin-left: -50% !important;
  }
  .tcl__color__white {
    color: #000;
  }
  .tcl__eye {
    flex-direction: column;
    gap: 1em;
  }
}