/*default styles*/
#huawei {
  max-width: 1316px;
  width: 100%;
  margin: 0 auto;
  height: auto;
  display: block;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}
#huawei p {
  margin-bottom: 0;
  margin: 0;
  text-align: unset;
}
#huawei p:first-letter {
  padding-left: 0;
}
#huawei h2 {
  text-align: unset;
  display: block;
  line-height: normal;
  font-size: 36px;
  font-weight: bold;
  padding: 0;
  margin: 0;
}
#huawei img {
  opacity: 1;
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
}
#huawei img:hover {
  opacity: 1;
}
#huawei ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#huawei span {
  display: block;
  line-height: normal;
}

.features-desc__text img {
  margin-bottom: 0rem;
}

.one-col .features-desc__text p:first-letter {
  padding-left: 0rem !important;
}

/*end default styles*/
#huawei .logo {
  position: relative;
  text-align: center;
  padding: 110px 0 0 0;
}
#huawei .logo .logo__title {
  margin-bottom: 75px;
}
#huawei .logo .logo__title span {
  margin-top: 1em;
  color: #231815;
  font-size: 13px;
}
#huawei .logo .logo__title span sup {
  font-size: 10px;
}
#huawei .logo .logo__abs {
  position: absolute;
  bottom: 4em;
  right: 8em;
}
#huawei .things .things__title {
  text-align: center;
}
#huawei .things .things__title span {
  font-size: 40px;
  font-weight: bold;
}
#huawei .things .things__list {
  padding: 0 115px;
  margin-top: 60px;
  display: grid;
  grid-template-columns: 291px auto auto 291px;
  grid-template-rows: 260px 260px;
  gap: 10px 10px;
  grid-template-areas: "cal1 cal2 cal2 cal3" "cal4 cal5 cal5 cal6";
}
#huawei .things .things__list li {
  -webkit-border-radius: 12px;
          border-radius: 12px;
  overflow: hidden;
}
#huawei .things .things__list li .things__list__wrap {
  background-color: #f0f0f0;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#huawei .things .things__list li .things__list__wrap .things__list__txt {
  padding: 1em;
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
}
#huawei .things .things__list li .things__list__wrap .things__list__txt span {
  font-size: 14px;
  font-weight: bold;
}
#huawei .things .things__list .cal1 {
  grid-area: cal1;
}
#huawei .things .things__list .cal2 {
  grid-area: cal2;
}
#huawei .things .things__list .cal2 .things__list__wrap .things__list__img {
  margin: 0 auto;
  width: 100%;
}
#huawei .things .things__list .cal3 {
  grid-area: cal3;
}
#huawei .things .things__list .cal3 .things__list__txt {
  color: #fff;
}
#huawei .things .things__list .cal3 .things__list__img {
  margin: 0 auto;
}
#huawei .things .things__list .cal3 .things__list__img img {
  width: 100%;
}
#huawei .things .things__list .cal3 .things__list__txt {
  position: absolute;
}
#huawei .things .things__list .cal4 {
  grid-area: cal4;
}
#huawei .things .things__list .cal4 .things__list__img {
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
}
#huawei .things .things__list .cal5 {
  grid-area: cal5;
}
#huawei .things .things__list .cal5 .things__list__txt {
  position: absolute;
  color: #fff;
}
#huawei .things .things__list .cal5 .things__list__img {
  width: 100%;
}
#huawei .things .things__list .cal5 .things__list__img img {
  width: 100%;
}
#huawei .things .things__list .cal6 {
  grid-area: cal6;
}
#huawei .things .things__list .cal6 .things__list__img {
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
}
#huawei .coverage .coverage__title {
  padding: 115px 180px 40px 180px;
  text-align: center;
}
#huawei .coverage .coverage__title h2 {
  margin-bottom: 30px;
}
#huawei .coverage .coverage__wrap {
  position: relative;
}
#huawei .coverage .coverage__wrap .coverage__list {
  position: absolute;
  top: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0 250px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#huawei .coverage .coverage__wrap .coverage__list li {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
     -moz-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
}
#huawei .coverage .coverage__wrap .coverage__list li .coverage__list__txt {
  margin-top: 15px;
}
#huawei .coverage .coverage__wrap .coverage__list li .coverage__list__txt span {
  font-size: 14px;
  color: #fff;
  text-align: center;
}
#huawei .speed {
  padding: 90px 165px 70px 165px;
}
#huawei .speed .speed__title {
  text-align: center;
  padding: 0 75px;
}
#huawei .speed .speed__title h2 {
  margin-bottom: 30px;
}
#huawei .speed .speed__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 40px 0 20px 0;
}
#huawei .speed .speed__list li .speed__list__title {
  margin-bottom: 30px;
}
#huawei .speed .speed__list li .speed__list__title span {
  text-align: center;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}
#huawei .speed .speed__list li:nth-of-type(2) {
  margin: 0 15px;
}
#huawei .speed .speed__wrap {
  background-color: #f3f3f3;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  padding: 30px 60px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
#huawei .speed .speed__wrap .speed__line {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#huawei .speed .speed__wrap .speed__line .small__txt {
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 30px;
  width: 406px;
  height: 23px;
  -webkit-border-radius: 12px;
          border-radius: 12px;
  background-image: -webkit-gradient(linear, left top, right top, from(#9ce2f9), to(#4b77e9));
  background-image: -webkit-linear-gradient(left, #9ce2f9 0%, #4b77e9 100%);
  background-image: -o-linear-gradient(left, #9ce2f9 0%, #4b77e9 100%);
  background-image: linear-gradient(90deg, #9ce2f9 0%, #4b77e9 100%);
}
#huawei .speed .speed__wrap .speed__line .large__txt {
  font-size: 20px;
  color: #4b78e9;
  margin-left: 15px;
}
#huawei .speed .speed__wrap .speed__line .large__txt::after {
  content: "";
  display: block;
  min-width: 102px;
  height: 4px;
  background-image: url("https://cdn.comfy.ua/media/x/img/1965823/line.png");
  background-repeat: no-repeat;
}
#huawei .speed .speed__wrap .speed__line .large__txt sup {
  font-size: 10px;
}
#huawei .speed .speed__wrap .speed__line:nth-of-type(2) {
  margin-top: 25px;
}
#huawei .speed .speed__wrap .speed__line:nth-of-type(2) .small__txt {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
#huawei .choose {
  padding: 80px 115px 140px 115px;
}
#huawei .choose .choose__title {
  text-align: center;
  margin-bottom: 30px;
}
#huawei .choose .choose__title h2 {
  margin-bottom: 30px;
}
#huawei .choose .choose__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#huawei .choose .choose__list li .choose__list__txt span {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}
#huawei .signal {
  padding: 115px;
  background-color: #000;
  color: #fff;
}
#huawei .signal .signal__title {
  text-align: center;
  margin-bottom: 60px;
  padding: 0 10em;
}
#huawei .signal .signal__title h2 {
  margin-bottom: 30px;
}
#huawei .devices {
  color: #fff;
  background-color: #000;
  padding: 0 115px 115px 115px;
}
#huawei .devices .devices__title {
  text-align: center;
}
#huawei .devices .devices__title h2 {
  margin-bottom: 30px;
}
#huawei .devices .devices__wrap {
  position: relative;
  margin-top: 100px;
}
#huawei .devices .devices__wrap .devices__list li {
  position: absolute;
}
#huawei .devices .devices__wrap .devices__list li span {
  text-align: center;
  color: #5386dd;
  font-size: 12px;
  margin-top: 10px;
}
#huawei .devices .devices__wrap .devices__list li:nth-of-type(1) {
  top: 0;
  left: 10em;
}
#huawei .devices .devices__wrap .devices__list li:nth-of-type(2) {
  top: 8em;
  left: 17em;
}
#huawei .devices .devices__wrap .devices__list li:nth-of-type(3) {
  top: 13em;
  left: 6em;
}
#huawei .devices .devices__wrap .devices__list li:nth-of-type(4) {
  top: 4em;
  right: 19em;
}
#huawei .devices .devices__wrap .devices__list li:nth-of-type(5) {
  top: 0em;
  right: 10em;
}
#huawei .devices .devices__wrap .devices__list li:nth-of-type(6) {
  top: 14em;
  right: 16em;
}
#huawei .devices .devices__wrap .devices__list li:nth-of-type(7) {
  top: 10em;
  right: 6em;
}
#huawei .devices .devices__wrap .devices__img span {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  background: -webkit-gradient(linear, left top, right top, from(rgb(155, 225, 249)), to(rgb(84, 132, 235)));
  background: -webkit-linear-gradient(left, rgb(155, 225, 249) 0%, rgb(84, 132, 235) 100%);
  background: -o-linear-gradient(left, rgb(155, 225, 249) 0%, rgb(84, 132, 235) 100%);
  background: linear-gradient(90deg, rgb(155, 225, 249) 0%, rgb(84, 132, 235) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: block;
}
#huawei .devices .devices__wrap .devices__img span strong {
  font-size: 50px;
}
#huawei .os {
  background-color: #000;
  color: #fff;
  padding: 0 115px 115px 115px;
}
#huawei .os .os__title {
  text-align: center;
  margin-bottom: 50px;
}
#huawei .os .os__icons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 80px;
}
#huawei .os .os__icons li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#huawei .os .os__icons li .os__icons__img {
  margin-right: 1em;
}
#huawei .os .os__icons li .os__icons__txt span {
  font-size: 16px;
}
#huawei .os .os__icons li:nth-of-type(2) {
  margin-left: 3em;
}
#huawei .dualband {
  padding: 0 115px 115px 115px;
  background-color: #000;
  color: #fff;
}
#huawei .dualband .dualband__title {
  text-align: center;
  margin-bottom: 60px;
  padding: 0 10em;
}
#huawei .dualband .dualband__title h2 {
  margin-bottom: 30px;
}
#huawei .connections {
  background-color: #000;
  color: #fff;
  padding: 0 115px 115px 115px;
}
#huawei .connections .connections__title {
  text-align: center;
  margin-bottom: 60px;
  padding: 0 10em;
}
#huawei .connections .connections__title h2 {
  margin-bottom: 30px;
}
#huawei .connections .connections__hotspot {
  padding: 60px 230px;
}
#huawei .connections .connections__hotspot .connections__hotspot__title span {
  font-size: 20px;
  font-weight: bold;
}
#huawei .connections .connections__hotspot .connections__hotspot__list li span {
  font-size: 16px;
  font-weight: bold;
  color: #3b3b3b;
  display: block;
}
#huawei .connections .connections__hotspot .connections__hotspot__list li:nth-of-type(1) {
  margin-top: 30px;
}
#huawei .connections .connections__hotspot .connections__hotspot__list li:nth-of-type(1) span:nth-of-type(2) {
  margin-top: 12px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  color: #4f83dd;
  background-clip: unset;
  -webkit-background-clip: unset;
  -webkit-text-fill-color: unset;
}
#huawei .connections .connections__hotspot .connections__hotspot__list li:nth-of-type(1) span:nth-of-type(2)::before {
  content: "";
  display: block;
  width: 119px;
  height: 12px;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  background-image: -webkit-gradient(linear, left top, right top, from(#adedf5), to(#4b77e9));
  background-image: -webkit-linear-gradient(left, #adedf5 0%, #4b77e9 100%);
  background-image: -o-linear-gradient(left, #adedf5 0%, #4b77e9 100%);
  background-image: linear-gradient(90deg, #adedf5 0%, #4b77e9 100%);
  margin-right: 15px;
}
#huawei .connections .connections__hotspot .connections__hotspot__list li:nth-of-type(2) {
  margin-top: 30px;
}
#huawei .connections .connections__hotspot .connections__hotspot__list li:nth-of-type(2) span:nth-of-type(2) {
  margin-top: 12px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  color: #3b3b3b;
  background-clip: unset;
  -webkit-background-clip: unset;
  -webkit-text-fill-color: unset;
}
#huawei .connections .connections__hotspot .connections__hotspot__list li:nth-of-type(2) span:nth-of-type(2)::before {
  content: "";
  display: block;
  width: 537px;
  height: 12px;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  background-image: -webkit-gradient(linear, left top, right top, from(#151414), to(#e45252));
  background-image: -webkit-linear-gradient(left, #151414 0%, #e45252 100%);
  background-image: -o-linear-gradient(left, #151414 0%, #e45252 100%);
  background-image: linear-gradient(90deg, #151414 0%, #e45252 100%);
  margin-right: 15px;
}
#huawei .connections .connections__hotspot .connections__hotspot__list li:nth-of-type(3) {
  margin-top: 50px;
}
#huawei .connections .connections__hotspot .connections__hotspot__list li:nth-of-type(3) span {
  font-size: 12px;
  background: unset;
  color: #fff;
  display: block;
  background-clip: unset;
  -webkit-background-clip: unset;
  -webkit-text-fill-color: unset;
}
#huawei .onetap {
  padding: 115px;
}
#huawei .onetap .onetap__title {
  text-align: center;
  margin-bottom: 60px;
  padding: 0 10em;
}
#huawei .onetap .onetap__title h2 {
  margin-bottom: 30px;
}
#huawei .onetap .onetap__title h2 sup {
  font-size: 18px;
}
#huawei .trouble {
  padding: 0 115px 115px 115px;
}
#huawei .trouble .trouble__title {
  text-align: center;
  margin-bottom: 60px;
}
#huawei .trouble .trouble__title h2 {
  margin-bottom: 30px;
}
#huawei .trouble .trouble__title p {
  padding: 0 10em;
}
#huawei .trouble .trouble__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 500px;
  margin: 0 auto;
}
#huawei .trouble .trouble__list li {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
     -moz-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
}
#huawei .trouble .trouble__list li span {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 15px;
}
#huawei .trouble .trouble__list:nth-of-type(2) {
  margin: 3em auto;
}
#huawei .steps {
  padding: 0 115px 115px 115px;
}
#huawei .steps .steps__title {
  text-align: center;
  margin-bottom: 60px;
}
#huawei .steps .steps__title h2 {
  margin-bottom: 30px;
}
#huawei .steps .steps__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
#huawei .steps .steps__list li {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
     -moz-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#huawei .steps .steps__list li .steps__list__txt {
  text-align: center;
  margin-bottom: 2em;
}
#huawei .steps .steps__list li .steps__list__txt span {
  font-weight: bold;
  font-size: 20px;
}
#huawei .steps .steps__list li:nth-of-type(2) .steps__list__txt span {
  position: relative;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  margin: 0 auto;
}
#huawei .steps .steps__list li:nth-of-type(2) .steps__list__txt span::before, #huawei .steps .steps__list li:nth-of-type(2) .steps__list__txt span::after {
  content: "";
  display: block;
  height: 1px;
  width: 150px;
  background-color: #000;
  position: absolute;
  bottom: 50%;
  -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
       -o-transform: translateY(50%);
          transform: translateY(50%);
  left: -200px;
}
#huawei .steps .steps__list li:nth-of-type(2) .steps__list__txt span::after {
  left: unset;
  right: -200px;
}
#huawei .manage {
  padding: 0 115px 115px 115px;
}
#huawei .manage .manage__title {
  text-align: center;
  margin-bottom: 60px;
}
#huawei .manage .manage__title h2 {
  margin-bottom: 30px;
}
#huawei .manage .manage__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 4em;
}
#huawei .manage .manage__row .manage__row__list {
  min-height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#huawei .manage .manage__row .manage__row__list .manage__row__list__txt {
  text-align: center;
  margin-top: 15px;
}
#huawei .manage .manage__row .manage__row__list .manage__row__list__txt span {
  font-size: 16px;
}
#huawei .blends .blends__title {
  padding: 0 -webkit-calc(115px + 10em);
  padding: 0 calc(115px + 10em);
  text-align: center;
  margin-bottom: 60px;
}
#huawei .blends .blends__title h2 {
  margin-bottom: 30px;
}
#huawei .snoska {
  padding: 120px 160px;
}
#huawei .snoska li {
  font-size: 14px;
  color: #797979;
}
#huawei .snoska li:nth-of-type(n+2) {
  margin-top: 0.5em;
}

@media (max-width: 1024px) {
  #huawei .logo .logo__abs {
    right: 2em;
  }
  #huawei .things .things__list {
    padding: 0 1em;
  }
  #huawei .coverage .coverage__wrap .coverage__list {
    padding: 0 150px;
  }
  #huawei .speed,
  #huawei .choose,
  #huawei .signal,
  #huawei .devices,
  #huawei .os,
  #huawei .dualband,
  #huawei .connections,
  #huawei .onetap,
  #huawei .trouble,
  #huawei .steps,
  #huawei .manage,
  #huawei .onetap .onetap__title {
    padding-right: 1em;
    padding-left: 1em;
  }
  #huawei .devices .devices__wrap .devices__list li:nth-of-type(4) {
    right: 17em;
  }
  #huawei .devices .devices__wrap .devices__list li:nth-of-type(5) {
    right: 7em;
  }
  #huawei .devices .devices__wrap .devices__list li:nth-of-type(7) {
    right: 4em;
  }
  #huawei .blends .blends__title {
    padding: 0 11em;
  }
}
@media (max-width: 812px) {
  #huawei .logo {
    padding-top: 1em;
  }
  #huawei .things .things__list {
    padding: 0 14%;
    grid-template-columns: auto auto;
    grid-template-rows: auto 200px 300px auto;
    grid-template-areas: "cal1 cal3" "cal2 cal2" "cal5 cal5" "cal4 cal6";
  }
  #huawei .things .things__list .cal1 {
    grid-area: cal1;
  }
  #huawei .things .things__list .cal2 {
    grid-area: cal2;
  }
  #huawei .things .things__list .cal3 {
    grid-area: cal3;
  }
  #huawei .things .things__list .cal4 {
    grid-area: cal4;
  }
  #huawei .things .things__list .cal5 {
    grid-area: cal5;
  }
  #huawei .things .things__list .cal6 {
    grid-area: cal6;
  }
  #huawei .coverage .coverage__title {
    padding: 1em;
  }
  #huawei .coverage .coverage__wrap .coverage__list {
    padding-right: 1em;
    padding-left: 1em;
  }
  #huawei .speed, #huawei .choose, #huawei .signal, #huawei .devices, #huawei .os, #huawei .dualband, #huawei .connections, #huawei .onetap, #huawei .trouble, #huawei .steps, #huawei .manage, #huawei .onetap .onetap__title {
    padding: 1em;
  }
  #huawei .signal .signal__title {
    padding-right: 1em;
    padding-left: 1em;
  }
  #huawei .devices .devices__wrap .devices__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin-bottom: 3em;
  }
  #huawei .devices .devices__wrap .devices__list li {
    position: unset;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 0;
       -moz-box-flex: 1;
        -ms-flex: 1 1 0px;
            flex: 1 1 0;
    min-width: 25%;
  }
  #huawei .devices .devices__wrap .devices__list li:nth-of-type(n+5) {
    margin-top: 2em;
  }
  #huawei .dualband .dualband__title,
  #huawei .connections .connections__title,
  #huawei .blends .blends__title {
    padding-right: 1em;
    padding-left: 1em;
  }
  #huawei .connections .connections__hotspot {
    padding: 1em;
  }
  #huawei .trouble .trouble__list {
    max-width: 100%;
  }
  #huawei .steps .steps__list li:nth-of-type(2) .steps__list__txt span::before, #huawei .steps .steps__list li:nth-of-type(2) .steps__list__txt span::after {
    display: none;
  }
  #huawei .manage .manage__row {
    padding-right: 0;
    padding-left: 0;
  }
  #huawei .snoska {
    padding: 2em;
  }
  #huawei .speed .speed__title {
    padding: 0;
  }
}
@media (max-width: 480px) {
  #huawei h2 {
    font-size: 28px;
  }
  #huawei .logo .logo__title {
    margin-bottom: 1em;
    padding: 0 1em;
  }
  #huawei .things .things__title span {
    font-size: 32px;
  }
  #huawei .things .things__list {
    margin: 0;
    padding: 1em;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas: "cal1" "cal2" "cal3" "cal4" "cal5" "cal6";
  }
  #huawei .things .things__list .cal1 {
    grid-area: cal1;
  }
  #huawei .things .things__list .cal2 {
    grid-area: cal2;
  }
  #huawei .things .things__list .cal3 {
    grid-area: cal3;
  }
  #huawei .things .things__list .cal4 {
    grid-area: cal4;
  }
  #huawei .things .things__list .cal5 {
    grid-area: cal5;
  }
  #huawei .things .things__list .cal6 {
    grid-area: cal6;
  }
  #huawei .things .things__list .cal2 .things__list__wrap {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #huawei .coverage .coverage__wrap .coverage__bg img {
    min-width: 200%;
    margin-left: -50%;
  }
  #huawei .coverage .coverage__wrap .coverage__list {
    display: block;
    position: unset;
    background-color: #1a2337;
    padding: 1em;
    margin-bottom: -3em;
    position: relative;
  }
  #huawei .coverage .coverage__wrap .coverage__list li {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #huawei .coverage .coverage__wrap .coverage__list li:nth-of-type(n+2) {
    margin-top: 1em;
  }
  #huawei .coverage .coverage__wrap .coverage__list li div {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 0;
       -moz-box-flex: 1;
        -ms-flex: 1 1 0px;
            flex: 1 1 0;
  }
  #huawei .speed .speed__list {
    display: block;
  }
  #huawei .speed .speed__list li:nth-of-type(2) {
    margin: 1em 0;
  }
  #huawei .speed .speed__wrap {
    padding: 1em;
  }
  #huawei .speed .speed__wrap .speed__line .small__txt {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  #huawei .choose .choose__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
       -moz-box-orient: vertical;
       -moz-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  #huawei .choose .choose__list li:nth-of-type(1) {
    margin-top: 1em;
  }
  #huawei .signal .signal__title {
    padding: 0;
  }
  #huawei .devices .devices__wrap .devices__list li {
    min-width: 50%;
  }
  #huawei .devices .devices__wrap .devices__list li:nth-of-type(n+3) {
    margin-top: 1em;
  }
  #huawei .devices .devices__wrap {
    margin-top: 1em;
  }
  #huawei .os .os__icons {
    display: block;
    margin-bottom: 1em;
  }
  #huawei .os .os__icons li:nth-of-type(2) {
    margin-left: 0;
    margin-top: 1em;
  }
  #huawei .os .os__icons li .os__icons__img {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  #huawei .dualband .dualband__title,
  #huawei .connections .connections__title,
  #huawei .blends .blends__title,
  #huawei .onetap .onetap__title {
    padding: 0;
    margin-bottom: 1em;
  }
  #huawei .connections .connections__hotspot {
    padding: 0;
  }
  #huawei .connections .connections__hotspot .connections__hotspot__list li:nth-of-type(2) span:nth-of-type(2)::before {
    width: 185px;
  }
  #huawei .trouble .trouble__title p {
    padding: 0;
  }
  #huawei .trouble .trouble__list li {
    max-width: 50%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
  #huawei .trouble .trouble__list li:nth-of-type(1) {
    margin-right: 1em;
  }
  #huawei .trouble .trouble__list li span {
    font-size: 16px;
  }
  #huawei .steps .steps__list {
    display: block;
  }
  #huawei .steps .steps__list li:nth-of-type(2) {
    margin: 1em 0;
  }
  #huawei .manage .manage__row {
    display: block;
  }
  #huawei .manage .manage__row .manage__row__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
  #huawei .manage .manage__row .manage__row__list li {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 0;
       -moz-box-flex: 1;
        -ms-flex: 1 1 0px;
            flex: 1 1 0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
  #huawei .manage .manage__row .manage__row__list li:nth-of-type(2) {
    margin: 0 1em;
  }
  #huawei .manage .manage__row .manage__row__list .manage__row__list__txt span {
    font-size: 12px;
  }
  #huawei .manage .manage__row .manage__row__img {
    margin: 1em 0;
  }
  #huawei .blends .blends__title {
    padding: 1em;
  }
  #huawei .snoska {
    padding: 1em;
  }
  #huawei .things .things__list .cal1 .things__list__wrap,
  #huawei .things .things__list .cal6 .things__list__wrap {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #huawei .things .things__list .cal3 .things__list__img,
  #huawei .things .things__list .cal4 .things__list__img,
  #huawei .things .things__list .cal6 .things__list__img {
    width: 100%;
  }
  #huawei .things .things__list .cal4 .things__list__img img,
  #huawei .things .things__list .cal6 .things__list__img img {
    width: 100%;
  }
}