.product-strahovka-hepiservis-na-5-rokiv-kbt-tv .tabs-content {
	padding: 0;
}

#happy_services {
	width: 100%;
	display: block;
	margin: 0 auto;
	background: #fff;
}

#happy_services p:first-letter {
	padding-left: 0;
}

#happy_services p {
	margin-bottom: 0;
}

#happy_services img:hover {
	opacity: 1;
}

#happy_services img {
	opacity: 1;
	max-width: 100%;
}

h2.h2_fullcss {
	text-align: center;
	font-size: 32px;
	font-weight: 700;
	margin-bottom: 30px;
	padding-top: 10px;
}

h2.h2_fullcss._blp {
	padding-top: 70px;
}

.product-usluga-hjeppiservis-na-2-goda .tabs-content {
	padding: 4.8rem 0;
}

.happy_services.bl1 .container_happy_services {}

.happy_services.bl1 .container_happy_services .row_happy_services {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -o-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	max-width: 1250px;
	margin: 0 auto;
}

.happy_services.bl1 .container_happy_services .row_happy_services .item_hs {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 0px;
	flex: 1 1 0;
}

.happy_services.bl1 .container_happy_services .row_happy_services .item_hs .hp_svg {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -o-flexbox;
	display: flex;
	height: 130px;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
}

.happy_services.bl1 .container_happy_services .row_happy_services .item_hs .hp_svg img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
}

.happy_services.bl1 .container_happy_services .row_happy_services .item_hs .hp_text {
	margin-top: 33px;
}

.happy_services.bl1 .container_happy_services .row_happy_services .item_hs .hp_text p {
	text-align: center;
	font-size: 16px;
}

.nw_container {
	background: white;
	display: inline-block;
	height: auto;
	width: 100%;
}

.nw_container h2 {
	font-size: 36px;
	color: #737373;
	text-align: center;
}

.nw_container p {
	font-size: 24px;
	text-align: center;
	color: #737373;
}

.nw_container .nw_container_cont {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -o-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	max-width: 1175px;
	width: 100%;
	margin: 0 auto;
	margin-top: 40px;
}

.nw_container .nw_container_cont .item_nw {
	height: 430px;
	width: 0;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	-webkit-box-shadow: -15px -6px 10px -16px rgba(0, 0, 0, 0.25);
	box-shadow: -15px -6px 10px -16px rgba(0, 0, 0, 0.25);
	position: relative;
}

.nw_container .nw_container_cont .item_nw p {
	font-size: 16px;
	color: #000;
	padding-top: 40px;
	text-align: left;
	/*width: 250px;*/
	padding: 40px 15px 0 15px;
	display: block;
	margin: 0 auto;
}

.icon_svg_top {
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 85px;
	height: 85px;
	margin-top: 40px;
}

.nw_container .nw_container_cont .item_nw .icon_svg_top svg {

	width: 100%;
	height: 95px;
}

.nw_container .nw_container_cont .item_nw .icon_svg_botom svg {
	width: 170px;
	height: 120px;
}

.nw_container h2 {
	margin-bottom: 15px;
	margin-top: 30px;
}

.icon_svg_botom {
	position: absolute;
	bottom: 0;
	left: 0;
}

.icon_svg_botom .icon_svg_botom_relitive {
	/*position: absolute; bottom: 0px;left: 0;*/
}

.icon_svg_botom .icon_svg_botom_relitive .num_icon {
	/*position: absolute;
	top: 15px;
	left: 45px;
	font-size: 70px;
	color: #fff;
	height: auto;*/
	width: 170px;
}

.number_bl {
	position: absolute;
	top: 13px;
	left: 42px;
	right: 0;
	bottom: 0;
	font-size: 70px;
	color: #fff;
}

.tension_volt.bl3 {
	margin-top: 140px;
}

.tension_volt.bl3 .container_fl_col {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -o-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.tension_volt.bl3 .container_fl_col .row_fl_col .flex_colum {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -o-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
}

.tension_volt.bl3 .container_fl_col .row_fl_col .flex_colum.flex_colum_rv {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse;
}

.tension_volt.bl3 .container_fl_col .row_fl_col .flex_colum .flex_row {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 0px;
	flex: 1 1 0;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.tension_volt.bl3 .container_fl_col .row_fl_col .flex_colum .flex_row.fl_img {}

.tension_volt.bl3 .container_fl_col .row_fl_col .flex_colum .flex_row.fl_text {}

.tension_volt.bl3 .container_fl_col .row_fl_col .flex_colum .flex_row.fl_text p {
	font-size: 27px;
	color: #333333;
	font-weight: bold;
}

.tension_volt.bl3 .container_fl_col .row_fl_col .flex_colum .flex_row.fl_text span.text_bold_red {
	color: red;
	text-transform: uppercase;
}

.polomka_tehniki.bl3_3 {
	background: rgba(248, 248, 248, 0.9);
}

.polomka_tehniki.bl3_3 .content_text_tehnik {}

.polomka_tehniki.bl3_3 .content_text_tehnik p {
	padding-left: 25px;
	padding-right: 25px;
	font-weight: bold;
	font-size: 33px;
	text-align: center;
	color: #000000;
	padding-top: 40px;
	padding-bottom: 25px;
}

.polomka_tehniki.bl3_3 .content_text_tehnik .line_tehnik {
	border: 1px solid #979797;
	margin: 0 auto;
	width: 100%;
	max-width: 320px;
}

.polomka_tehniki.bl3_3 .container_tehnik {
	margin-top: 75px;
	padding-bottom: 90px;
}

.polomka_tehniki.bl3_3 .container_tehnik .row_tehnik {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
}

.polomka_tehniki.bl3_3 .container_tehnik .itemTeh {}

.polomka_tehniki.bl3_3 .container_tehnik .itemTeh p {
	font-weight: bold;
	font-size: 18px;
	text-align: left;
	color: #000000;
}

.polomka_tehniki.bl3_3 .container_tehnik .itemTeh.thLeft {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 33.3%;
	flex: 1 1 33.3%;

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin: 0 15px;
}

.polomka_tehniki.bl3_3 .container_tehnik .itemTeh.thCenter {
	-webkit-box-flex: 2;
	-ms-flex: 2 2 26.3%;
	flex: 2 2 26.3%;

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.polomka_tehniki.bl3_3 .container_tehnik .itemTeh.thRight {
	-webkit-box-flex: 3;
	-ms-flex: 3 3 33.3%;
	flex: 3 3 33.3%;

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin: 0 15px;
}

.polomka_tehniki.bl3_3 .container_tehnik .itemTeh .text_Teh {
	width: 100%;
	max-width: 275px;
	text-align: center;
}

.polomka_tehniki.bl3_3 .container_tehnik .itemTeh.thLeft .text_Teh h2.green {
	color: #41B02A;
	font-size: 32px;
}

.polomka_tehniki.bl3_3 .container_tehnik .itemTeh.thCenter {
	position: relative;
}

.polomka_tehniki.bl3_3 .container_tehnik .itemTeh.thCenter .cont_text {
	position: absolute;
}

.polomka_tehniki.bl3_3 .container_tehnik .itemTeh.thCenter .cont_text span {
	display: block;
	text-align: center;
	color: #7F7F7F;
	font-weight: bold;
}

.polomka_tehniki.bl3_3 .container_tehnik .itemTeh.thCenter .cont_text span:first-child {
	font-size: 100px;
	font-weight: bold;
	color: #000;
	line-height: 100px !important;
}

.polomka_tehniki.bl3_3 .container_tehnik .itemTeh.thRight .text_Teh h2.red {
	color: #FF0000;
	font-size: 32px;
}

.polomka_tehniki.bl3_3 .container_tehnik .itemTeh.thRight .text_Teh h2.orange {
	color: #F8C239;
	font-size: 32px;
}




.bg_line {
	border: 3px solid #D5D5D5;
	width: 110px;
	margin-top: 30px;
}

.margin_all_container {
	padding-left: 50px;
	padding-right: 50px;
}

.price_services.bl4 {}

.price_services.bl4 .container_price_services {
	display: block;
}

.price_services.bl4 .container_price_services .row_price_services {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -o-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.price_services.bl4 .container_price_services .row_price_services .col_bl4 {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 0px;
	flex: 1 1 0;
	background: #FFFFFF;
	max-width: 235px;
	min-width: 235px;
	height: 300px;
	margin: 15px 10px 0 10px;
	box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.12);
	-moz-box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.12);
	-webkit-box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.12);
	-o-box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.12);
}

.price_services.bl4 .container_price_services .row_price_services .col_bl4 h3 {
	margin: 25px 0px 15px 0;
	font-size: 22px;
	text-align: center;
	font-weight: 500;
	color: #000;
}

.price_services.bl4 .container_price_services .row_price_services .col_bl4 img {
	display: block;
	margin: 0 auto;
}

.price_services.bl4 .container_price_services .row_price_services .col_bl4 p {
	height: 50px;
	padding: 10px 0 5px 0;
	font-size: 13px;
	text-align: center;
	font-weight: 500;
	color: #7F7F7F;
}

.price_services.bl4 .container_price_services .row_price_services .col_bl4 p.big_p {
	margin: 0;
	padding: 0;
	line-height: 1;
	font-size: 42px;
	text-align: center;
	font-weight: 700;
	color: #FF671F;
}

.price_services.bl4 .container_price_services .row_price_services .col_bl4 p.small_p {
	color: #000;
	font-weight: 700;
	margin: 0;
	padding: 18px 0 0 0;
	font-size: 17px;
	text-align: center;
}

.price_services.bl4 {}

.price_services.bl4 .nosevices {
	background: #43B02A;
	padding-left: 25px;
	padding-right: 25px;
}

.price_services.bl4 .nosevices p {
	padding: 60px 0px 60px 0;
	font-size: 28px;
	text-align: center;
	color: #fff;
	margin: 50px 0 50px 0;
}


.downbl5 .container_bl5_download {
	padding: 0 30px 0 30px;
}

.downbl5 .container_bl5_download {
	padding-bottom: 10px;
	padding-top: 5px;
}

.downbl5 .container_bl5_download .row_download {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -o-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.downbl5 .container_bl5_download .row_download img {}

.downbl5 .container_bl5_download .row_download a {
	font-weight: 700;
	color: #379424;
	font-size: 18px;
	border-bottom: 1px dotted #43b02a;
	line-height: 1;
}

.downbl5 .container_bl5_download .row_download p {
	font-weight: 700;
	font-size: 16px;
	color: #000;
	margin: 0 20px 0 20px;
}

.downbl5 .container_bl5_download .row_download a:hover {
	border-bottom: 0px dotted #43b02a;
}


#block_accordion .accordion_row {

	max-width: 100%;
	min-height: 0;
	display: block;

	/*position: relative;*/
	margin: 50px 30px auto;
	padding: 0;
	background-color: #fefffa;
	overflow: hidden
}

#block_accordion .accordion_row h2 {
	font-size: 18px;
	font-weight: 600;
	display: block;
	margin: 0;
	padding: 4px 0px;
	padding-left: 25px;
	cursor: pointer;
	color: #000000;
	background: #F2F2F2;
}

#block_accordion .msg {
	position: relative;
	/*overflow: hidden;*/
	padding: 25px 30px 25px 55px;
	/*max-height: 800px;*/
	opacity: 1;
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
}

#block_accordion .msg p {
	color: #000;
	font-size: 16px;
}

#block_accordion .accordion_row ul {
	list-style-type: disc;
}

#block_accordion .accordion_row ul ul.list_num {
	padding-left: 25px;
	list-style-type: decimal;
}

#block_accordion .accordion_row ul li {
	position: relative;
	padding: 0;
	margin: 0;
	line-height: 2.3;
}


#block_accordion .accordion_row ul li:nth-of-type(1) {
	-webkit-animation-delay: 0.5s;
	animation-delay: 0.5s;
}

#block_accordion .accordion_row ul li:nth-of-type(2) {
	-webkit-animation-delay: 0.75s;
	animation-delay: 0.75s;
}

#block_accordion .accordion_row ul li:nth-of-type(3) {
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
}

#block_accordion .accordion_row ul li:last-of-type {
	padding-bottom: 0;
}

#block_accordion .accordion_row ul li i {
	position: absolute;
	-webkit-transform: translate(-6px, 0);
	transform: translate(-6px, 0);
	margin-top: 19px;

	right: 25px;
}

#block_accordion .accordion_row ul li i:before {
	content: "";
	position: absolute;
	background-color: #43b02a;
	width: 3px;
	height: 9px;
}

#block_accordion .accordion_row ul li i:after {
	content: "";
	position: absolute;
	background-color: #43b02a;
	width: 3px;
	height: 9px;
}

#block_accordion .accordion_row ul li i:before {
	-webkit-transform: translate(-2px, 0) rotate(45deg);
	transform: translate(-2px, 0) rotate(45deg);
}

#block_accordion .accordion_row ul li i:after {
	-webkit-transform: translate(2px, 0) rotate(-45deg);
	transform: translate(2px, 0) rotate(-45deg);
}

#block_accordion .accordion_row ul li input[type=checkbox] {
	position: absolute;
	cursor: pointer;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	opacity: 0;
}

#block_accordion .accordion_row ul li input[type=checkbox]:checked~div.msg {
	margin-top: 0;
	max-height: 0;
	opacity: 0;
	-webkit-transform: translate(0, 50%);
	transform: translate(0, 50%);
}

#block_accordion .accordion_row ul li input[type=checkbox]:checked~i:before {
	-webkit-transform: translate(2px, 0) rotate(45deg);
	transform: translate(2px, 0) rotate(45deg);
}

#block_accordion .accordion_row ul li input[type=checkbox]:checked~i:after {
	-webkit-transform: translate(-2px, 0) rotate(-45deg);
	transform: translate(-2px, 0) rotate(-45deg);
}

#block_accordion div.msg ul li i:before {
	-webkit-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

#block_accordion div.msg ul li i:after {
	-webkit-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

#happy_services .fast_remont {
	position: relative;
	max-width: 1316px;
	margin: 0 auto;
}

#happy_services .fast_remont .fast_img {
	position: relative;
	height: 700px;
	overflow: hidden;
	margin-bottom: 65px;
}

#happy_services .fast_remont .fast_img hr {
	width: 195px;
	height: 6px;
	left: 1183px;
	top: 829px;
	background: #41B02A;
	float: right;
	margin-top: 50px;
	border: none;
}

#happy_services .fast_remont .fast_img img {
	position: absolute;
}

#happy_services .fast_remont .fast_img img:nth-child(1) {
	top: 0;
	z-index: 1;
}

#happy_services .fast_remont .fast_img img:nth-child(2) {
	right: 0;
	bottom: 0;
	z-index: 10;
}


#happy_services .fast_remont .fast_text {
	position: absolute;
	max-width: 450px;
	z-index: 20;
	top: 75px;
	right: 50px;
}

#happy_services .fast_remont .fast_text hr {
	width: 120px;
	height: 2px;
	background-color: #41B02A;
	margin: 0;
	margin: 30px 0;
	border: none;
}

#happy_services .fast_remont .fast_text h2 {
	font-size: 24px;
}

/*MEDIA*/


@media screen and (min-width: 320px) and (max-width: 480px) {

	.polomka_tehniki.bl3_3 .container_tehnik .itemTeh.thCenter .cont_img img {
		max-width: 250px;
	}

	.polomka_tehniki.bl3_3 .container_tehnik {
		margin-top: 15px;
	}

	.polomka_tehniki.bl3_3 .content_text_tehnik p {
		font-size: 22px;
		margin: 0 15px;
	}

	.polomka_tehniki.bl3_3 .container_tehnik .row_tehnik {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	.polomka_tehniki.bl3_3 .container_tehnik .itemTeh .text_Teh {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		min-height: 129px;
		max-width: 315px;
		margin: 0 auto;
	}

	.tension_volt.bl3 .container_fl_col .row_fl_col .flex_colum {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	.margin_all_container {
		padding-left: 15px;
		padding-right: 15px;
	}

	.tension_volt.bl3 .container_fl_col .row_fl_col .flex_colum .flex_row.fl_text p {
		font-size: 24px;
	}

	.tension_volt.bl3 .container_fl_col .row_fl_col .flex_colum {
		margin-bottom: 25px;
	}

	.margin_all_container {
		padding-top: 15px;
	}

	.tension_volt.bl3 {
		margin-top: 40px;
	}

	.tension_volt.bl3 .container_fl_col .row_fl_col .flex_colum.flex_colum_rv {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	.happy_services.bl1 .container_happy_services .row_happy_services .item_hs {
		-webkit-box-flex: 1;
		-ms-flex: 1 1 50%;
		flex: 1 1 50%;
	}

	.price_services.bl4 .container_price_services .row_price_services .col_bl4 {
		min-width: 250px;
	}

	.price_services.bl4 .container_price_services .row_price_services {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}

	.nw_container .nw_container_cont {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		display: block;
	}

	.price_services.bl4 .container_price_services .row_price_services {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}

	.nw_container .nw_container_cont .item_nw p {
		padding: 15px 15px 0 15px;
	}

	.nw_container .nw_container_cont .item_nw {
		width: 100%;
		float: inherit;
	}

	.nw_container .nw_container_cont .item_nw .icon_svg_top svg {
		margin-top: 20px;
	}

	.icon_svg_top {
		margin-bottom: 40px;
	}

	.nw_container .nw_container_cont .item_nw {
		height: 355px;
	}

	.nw_container .nw_container_cont .item_nw {
		-webkit-box-shadow: 0 4px 4px -1px rgba(0, 0, 0, 0.25);
		box-shadow: 0 4px 4px -1px rgba(0, 0, 0, 0.25);
	}

	#content_bg_block4 .lending4 .button .appear {
		/*padding: 20px 0 20px 0;*/
	}

	.icon_svg_botom {
		bottom: 0;
	}

	.icon_svg_botom .icon_svg_botom_relitive {
		bottom: 15px;
	}

	.happy_services.bl1 .container_happy_services .row_happy_services {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		padding-left: 10px;
		padding-right: 10px;
	}

	h2.h2_fullcss {
		font-size: 23px;
		padding-left: 3.4rem;
		padding-right: 2.8rem;
	}

	.price_services.bl4 .nosevices p {
		font-size: 25px;
	}


	#happy_services .fast_remont .fast_img img:nth-child(4) {
		right: 0;
		bottom: 25px;
	}

	#happy_services .fast_remont .fast_text {
		margin-top: 50px;
		padding-right: 10px;
		-webkit-transform: unset;
		transform: unset;
		left: 10px;
	}

	#happy_services .fast_remont .fast_text h2 {
		font-size: 22px;
		text-align: center;
	}

	#happy_services .fast_remont .fast_text p {
		text-align: center;
	}

	#happy_services .fast_remont .fast_img img:nth-child(1) {
		display: none;
	}

	#happy_services .fast_remont {
		display: flex;
		flex-direction: column-reverse;
	}

	#happy_services .fast_remont .fast_img img {
		position: unset;
	}

	#happy_services .fast_remont .fast_text {
		position: unset;
		padding: 0;
	}

	#happy_services .fast_remont .fast_img {
		height: unset;
	}
}

@media screen and (min-width: 481px) and (max-width: 812px) {
	.price_services.bl4 .container_price_services .row_price_services .col_bl4 {
		max-width: 225px;
		min-width: 225px;
	}

	.nw_container .nw_container_cont {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		display: block;
	}

	.nw_container .nw_container_cont .item_nw {
		width: 50%;
		float: left;
	}

	.tension_volt.bl3 {
		margin-top: 40px;
	}

	.tension_volt.bl3 .container_fl_col .row_fl_col .flex_colum .flex_row.fl_text p {
		font-size: 21px;
	}

	.nw_container .nw_container_cont .item_nw .icon_svg_top svg {
		margin-top: 20px;
	}

	.nw_container .nw_container_cont .item_nw {
		height: 400px;
	}

	.icon_svg_botom .icon_svg_botom_relitive {
		bottom: 15px;
	}

	.polomka_tehniki.bl3_3 .container_tehnik .itemTeh.thCenter .cont_text {
		top: 25px;
	}

	.polomka_tehniki.bl3_3 .container_tehnik .itemTeh.thCenter .cont_text span:first-child {
		font-size: 70px;
		line-height: 70px !important;
	}

	#happy_services .fast_remont .fast_img img:nth-child(1) {
		width: 43%;
	}


	#happy_services .fast_remont .fast_text {
		-webkit-transform: unset;
		transform: unset;
		left: unset;
		right: 10px;
		top: 20px;
		max-width: 390px;
	}

	#happy_services .fast_remont .fast_img img:nth-child(3) {
		right: -7%;
	}

	#happy_services .fast_remont .fast_img img:nth-child(4) {
		right: 40%;
	}

	#happy_services .fast_remont .fast_img {
		max-height: 590px;
	}
}

@media screen and (min-width: 813px) and (max-width: 1024px) {
	.polomka_tehniki.bl3_3 .container_tehnik .itemTeh.thCenter .cont_text {
		top: 30px;
	}

	#happy_services .fast_remont .fast_img img:nth-child(4) {
		right: 36%;
	}

	#happy_services .fast_remont .fast_img img:nth-child(3) {
		right: -58px;
	}

	#happy_services .fast_remont .fast_text {
		top: 20px;
		right: 10px;
	}

	#happy_services .fast_remont .fast_img img:nth-child(1) {
		width: 50%;
	}


}

@media screen and (min-width: 1025px) {
	.nw_container .nw_container_cont .item_nw p {
		padding: 40px 15px 0 15px;
		width: 250px;
	}
}