//default styles

// body
//     margin: 0

.xiaomi
    width: 100%
    max-width: 1920px
    margin: 0 auto
    height: auto
    display: block
    box-sizing: border-box
    overflow: hidden
    img
        margin: 0 auto
        opacity: 1 !important
        max-width: 100%
        display: block
        height: auto
        &:hover
            opacity: 1 !important
    div
        line-height: normal

.features-desc__text
    img
        margin-bottom: 0rem

//end default styles

.xiaomi .container
    width: 100%
    max-width: 100%
    margin: 0 auto

.xiaomi__title
    font-size: clamp(24px, 3vw, 42px)
    margin-bottom: 1rem
    font-weight: bold

.xiaomi__subtitle
    font-size: clamp(18px, 2vw, 28px)

.xiaomi__txt
    font-size: clamp(15px, 1.5vw, 22px)

//xiaomi__block

.xiaomi__block
    padding: 0 6em

.xiaomi__row
    display: flex
    align-items: center
    justify-content: space-between

.xiaomi__cont
    max-width: 600px

.xiaomi__center
    max-width: 1000px
    text-align: center
    margin: 0 auto 2em auto

//design

.design
    padding: 4em 0 0 0

//battery

.battery
    background-color: #000
    color: #fff

//xiaomi__note

.xiaomi__note
    text-align: center
    padding: 2em
    .xiaomi__txt
        font-size: clamp(12px, 1.2vw, 16px)

//media*****************************************************

@media (max-width: 1441px)
    .xiaomi__block
        padding: 0 2em
    .design
        padding: 2em 0 0 0

@media (max-width: 1201px)
    .xiaomi .container
        width: 960px
        padding: 0 15px

    .xiaomi__block
        padding: 0

    .design
        padding: 2em 0 0 0

    .ecran
        .xiaomi__img
            img
                min-width: 110%
                margin-left: -5%

    .camera
        img
            max-height: 400px

@media (max-width: 991px)
    .xiaomi
        padding: 2em 0 0 0
    .xiaomi .container
        width: 720px

    .xiaomi__row
        display: block

    .xiaomi__note
        padding-right: 0
        padding-left: 0

    .battery
        padding-top: 2em

@media (max-width: 767px)
    .xiaomi .container
        width: 540px

@media (max-width: 576px)
    .xiaomi .container
        width: 100%
        box-sizing: border-box
