/*default styles*/


#lg p:first-letter {
  padding-left: 0;
}

#lg p {
  margin-bottom: 0;
  font-size: 18px;
  padding: 0;
  margin: 0;
}

#lg ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#lg h2 {
  line-height: normal;
  margin: 0;
  padding: 0;
  font-size: 36px;
  font-weight: normal;
}

#lg img:hover {
  opacity: 1;
}

#lg img {
  opacity: 1;
  max-width: 100%;
  display: block;
  vertical-align: middle;
  height: auto;
}

#lg {
  max-width: 1316px;
  width: 100%;
  margin: 0 auto;
  height: auto;
  display: block;
  background-color: #fff;
  box-sizing: border-box;
}

.features-desc__text img {
  margin-bottom: 0rem;
}

.one-col .features-desc__text p:first-letter {
  padding-left: 0rem !important;
}

/*end default styles*/

/*section 1*/

#lg .game {
  height: 1124px;
  box-sizing: border-box;
  padding: 70px;
  background-position: center;
  background-image: url("https://cdn.comfy.ua/media/x/img/1384763/new/1.png");
}

#lg .game .game_txt {
  text-align: center;
  color: #fff;
  max-width: 900px;
  margin: 0 auto;
}

#lg .game .game_txt p {
  padding-top: 20px;
}

/*end section 1*/

/*section 2*/

#lg .refresh {
  padding: 70px;
  box-sizing: border-box;
  height: 756px;
  background-position: center;
  background-image: url("https://cdn.comfy.ua/media/x/img/1384763/new/2.png");
}

#lg .refresh .refresh_txt {
  text-align: center;
  color: #fff;
  max-width: 900px;
  margin: 0 auto;
}

#lg .refresh .refresh_txt h2 {
  padding: 20px 0 10px;
}

/*end section 2*/

/*section 3*/

#lg .freesync {
  padding: 70px;
  box-sizing: border-box;
  height: 748px;
  background-image: url("https://cdn.comfy.ua/media/x/img/1384763/new/4.png");
  background-position: center;
}

#lg .freesync .freesync_txt {
  text-align: center;
  color: #fff;
  max-width: 900px;
  margin: 0 auto;
}

#lg .freesync .freesync_txt h2 {
  padding: 20px 0 10px 0;
}

/*end section 3*/

/*section 4*/

#lg .display {
  padding: 70px;
  box-sizing: border-box;
  height: 812px;
  background-position: center;
  background-image: url("https://cdn.comfy.ua/media/x/img/1384763/new/6.png");
}

#lg .display .display_txt {
  color: #fff;
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
}

#lg .display .display_txt h2 {
  padding: 20px 0 10px 0;
}

/*end section 4*/

/*section 5*/

#lg .borderless {
  padding: 70px;
  box-sizing: border-box;
  height: 802px;
  background-position: center;
  background-image: url("https://cdn.comfy.ua/media/x/img/1384763/new/7.png");
}

#lg .borderless .borderless_txt {
  text-align: center;
  color: #fff;
  max-width: 900px;
  margin: 0 auto;
}

#lg .borderless .borderless_txt h2 {
  padding: 20px 0 10px 0;
}

/*end section 5*/

/*section 6*/

#lg .game_mode {
  padding: 70px;
  box-sizing: border-box;
  background-position: center;
  height: 841px;
  background-image: url("https://cdn.comfy.ua/media/x/img/1384763/new/8.png");
}

#lg .game_mode .game_mode_txt {
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
  color: #fff;
}

#lg .game_mode .game_mode_txt h2 {
  padding: 20px 0 10px 0;
}

/*end section 6*/

/*section 7*/

#lg .dynamic ul.dynamic_list li .dynamic_txt {
  padding: 70px;
  text-align: center;
  margin: 0 auto;
  background-color: #000;
  color: #fff;
}

#lg .dynamic ul.dynamic_list li .dynamic_txt h2 {
  padding: 20px 0 10px 0;
}

#lg .dynamic ul.dynamic_list li .dynamic_img_none {
  display: none;
}

/*end section 7*/



/*media************************************************************************/

@media (max-width: 812px) and (min-width: 481px) {
  #lg .game {
    padding: 20px;
    height: 700px;
    background-size: cover;
  }

  #lg .refresh {
    padding: 20px;
    background-image: url("https://cdn.comfy.ua/media/x/img/1384763/new/3.png");
    background-size: cover;
    background-position: bottom;
    height: 850px;
  }

  #lg .freesync {
    padding: 20px;
    background-image: url("https://cdn.comfy.ua/media/x/img/1384763/new/5.png");
    background-position: bottom;
    background-size: cover;
    height: 850px;
  }

  #lg .display {
    padding: 70px 20px 20px 20px;
  }

  #lg .borderless {
    padding: 70px 20px 20px 20px;
  }

  #lg .game_mode {
    padding: 20px;
    background-image: url("https://cdn.comfy.ua/media/x/img/1384763/new/9.png");
    background-position: bottom;
    background-size: cover;
  }

  #lg .dynamic ul.dynamic_list li .dynamic_txt {
    padding: 20px;
    margin: 0 auto;
  }

  #lg .dynamic ul.dynamic_list li .dynamic_img {
    display: none;
  }

  #lg .dynamic ul.dynamic_list li .dynamic_img_none {
    display: block;
  }
}

@media (max-width: 480px) and (min-width: 320px) {
  #lg .game {
    padding: 20px;
    height: 700px;
    background-size: cover;
  }

  #lg h2 {
    font-size: 30px;
  }

  #lg .refresh {
    padding: 20px;
    background-image: url("https://cdn.comfy.ua/media/x/img/1384763/new/3.png");
    background-size: cover;
    background-position: bottom;
    height: 780px;
  }

  #lg .freesync {
    padding: 20px;
    background-image: url("https://cdn.comfy.ua/media/x/img/1384763/new/5.png");
    background-position: bottom;
    background-size: cover;
    height: 720px;
  }

  #lg .display {
    padding: 20px;
  }

  #lg .borderless {
    padding: 20px;
    background-size: cover;
    height: 620px;
  }

  #lg .game_mode {
    padding: 20px;
    background-image: url("https://cdn.comfy.ua/media/x/img/1384763/new/9.png");
    background-position: bottom;
    background-size: cover;
    height: 600px;
  }

  #lg .dynamic ul.dynamic_list li .dynamic_txt {
    padding: 20px;
  }

  #lg .dynamic ul.dynamic_list li .dynamic_img {
    display: none;
  }

  #lg .dynamic ul.dynamic_list li .dynamic_img_none {
    display: block;
  }
}