#lp-galaxy-flip4
   display: block
   width: 100%
   height: 100%
   overflow: hidden
   background: #fff
   position: relative
   img
      opacity: 1
      max-width: 100%
      display: block
      &:hover
         opacity: 1
   p
      margin: 0
      padding: 0
      font-size: 23px
   h1
      padding: 0
      margin: 0
      color: #000
      font-size: 54px
      line-height: 1
      font-weight: bold
   h2
      font-size: 16px
      line-height: 1
      color: #000
      margin: 0
      padding: 0
      letter-spacing: .192em
      font-weight: bold
   h3
      font-size: 52px
      margin: 0
      padding: 0
      line-height: 1
      font-weight: bold
      color: #000
   h4
      font-size: 50px
      margin: 0
      padding-top: 0
      line-height: 1
      font-weight: bold
      text-align: center
      color: #43b02a
      text-transform: uppercase
   ul
      list-style-type: none
.max-w-content
   max-width: 1920px
   width: 100%
   height: auto
   margin: 0 auto
span.word-wrap
   display: block
   word-wrap: break-word
span.fw-bold
   font-weight: bold
span.tx-uppercase
   text-transform: uppercase
.features-desc__text h2
   text-align: inherit
.one-col .features-desc__text p
   text-align: inherit
.bc-description__content p:first-letter
   padding-left: 0
.main-container.page
   padding-left: 0
   padding-right: 0
// default
.galaxy-flip4-header
   background-color: #f4f4f4
.galaxy-flip4-header__content
   padding: 100px 15px
   position: relative
   max-width: 1316px
.galaxy-flip4-header__content-text
   position: absolute
   top: 50%
   right: 53%
   transform: translate(-53%, -50%)
.galaxy-flip4-header__content-img img
   margin: 0 0 0 auto
.galaxy-flip4-overview__content-bgrd
   background-image: url(https://cdn.comfy.ua/media/x/img2/flip4img/img2.png)
   width: 100%
   height: auto
   background-position: center
   background-size: cover
.galaxy-flip4-overview__content-list
   max-width: 988px
   width: 100%
   margin: 0px auto 0 auto
   padding: 130px 0
   ul li
      color: #fff
      opacity: .4
      padding-bottom: 60px
      font-size: 40px
      font-weight: bold
      line-height: 1.3
      display: block
      &.galaxy-flip4-list-item__active
         opacity: 1
.galaxy-flip4-design
   padding: 100px 15px 0 15px
.galaxy-flip4-design__content-img img
   margin: 0 auto
.galaxy-flip4-design__content-text
   max-width: 988px
   width: 100%
   margin: 0px auto 0 auto
.galaxy-flip4-design__content-text-span1
   font-size: 26px
   text-align: left
   color: #000
   line-height: 1
   padding-bottom: 25px
.galaxy-flip4-design__content-text-span2
   font-size: 38px
   text-align: left
   color: #000
   line-height: 1
   letter-spacing: 3px
.galaxy-flip4-text__content-flex
   max-width: 988px
   width: 100%
   margin: 0px auto 0 auto
   padding-bottom: 100px
   display: flex
.galaxy-flip4-text__content-item
   flex: 1 1 0
.galaxy-flip4-text__content-item-textwp1
   padding: 0 15px 0 0
.galaxy-flip4-text__content-item-textwp1-h2
   padding-bottom: 30px
// slider

.galaxy-flip4-slider__content
   max-width: 988px
   width: 100%
   margin: 0px auto 0 auto
   position: relative
.galaxy-flip4-slider__slid
   display: none
.galaxy-flip4-slider__dot-wrap
   display: flex
   align-items: center
   justify-content: center
   position: relative
   position: absolute
   right: 0
   bottom: 40px
   max-width: 488px
   width: 100%
   margin: 0 0 0 auto
.galaxy-flip4-slider__dot
   cursor: pointer
   width: 28px
   height: 28px
   border-radius: 50%
   border: 1px solid rgba(0,0,0,.1)
   display: block
   &.slider__dot-purple
      background-color: #bdb3d3
   &.slider__dot-black
      background-color: #000
   &.slider__dot-blue
      background-color: #bbd0dc
   &.active__dot
      border: 1px solid #fff
      outline: solid 2px #197ae5
      border-radius: 50%
      .galaxy-flip4-slider__dot-text
         display: block
   &:nth-child(2)
      margin: 0 15px
   .galaxy-flip4-slider__dot-text
      display: none
.galaxy-flip4-slider__dot-text
   display: block
   position: absolute
   top: -32px
   left: 50%
   transform: translateX(-50%)
   font-size: 18px
.galaxy-flip4-slider__slid-grid
   display: grid
   grid-template-columns: 1fr 1fr
   grid-gap: 20px
// END slider
.galaxy-flip4-compact__content
   max-width: 988px
   width: 100%
   margin: 0px auto 0 auto
.galaxy-flip4-slider__img
   max-width: 988px
   width: 100%
   margin: 100px auto 0 auto
   position: relative
   background: #f4f4f4
.galaxy-flip4-text-flexbl__content
   max-width: 988px
   width: 100%
   margin: 100px auto 100px auto
.galaxy-flip4-text-flexbl__content-flex
   display: flex
   justify-content: space-between
   align-items: flex-start
.galaxy-flip4-text-flexbl__item__text-l
   max-width: 380px
   padding-right: 20px
.galaxy-flip4-text-flexbl__item__text-r
   max-width: 494px
.galaxy-flip4-type1
   font-size: 21px
   display: block
   line-height: 1.2
.galaxy-flip4-text-flexbl__item__img
   padding-top: 50px
.galaxy-flip4-type2-list
   list-style-type: none
   li
      font-size: 18px
      padding-top: 30px
      color: #575757
.galaxy-flip4-text-flexbl__content-h2
   padding-bottom: 30px
.galaxy-flip4-waterproof__content-text
   max-width: 988px
   width: 100%
   margin: 0 auto
   order: 2
   position: relative
   z-index: 2
.galaxy-flip4-waterproof__txt1
   font-size: 18px
   color: #000
   text-transform: uppercase
   line-height: 1
   padding-bottom: 30px
   font-weight: 500
.galaxy-flip4-waterproof__txt2
   font-size: 70px
   line-height: 1
   font-weight: bold
   color: #000
   max-width: 545px
.galaxy-flip4-waterproof__content
   display: flex
   flex-direction: column
.galaxy-flip4-waterproof__content-img-top
   order: 1
   position: relative
   z-index: 2
.galaxy-flip4-waterproof__content-img-top-anim-img
   max-width: 608px
   margin: 0 auto
   transform: translateX(152px)
   position: relative
   bottom: -100px
.galaxy-flip4-waterproof__content-img-bottom
   order: 3
   height: 900px
   position: relative
   text-align: center
   margin-top: -328px
   z-index: 1
.galaxy-flip4-waterproof__content-img-bottom__gradient
   background-image: url(https://cdn.comfy.ua/media/x/img2/flip4img/img13.png)
   background-repeat: no-repeat
   background-size: cover
   background-repeat: no-repeat
   background-position: top center
   display: inline-block
   width: 420px
   height: 900px
   position: relative
   z-index: 1
   margin-right: -363px
.galaxy-flip4-waterproof__content-img-bottom__img-bottom
   width: 400px
   height: 282px
   left: 50%
   bottom: -130px
   margin-left: -180px
   position: absolute
   z-index: 3
.galaxy-flip4-waterproof__content-img-bottom__img-left
   position: absolute
   width: 324px
   height: 324px
   left: 50%
   bottom: 160px
   margin-left: -430px
   z-index: 3
.galaxy-flip4-waterproof__content-img-bottom__img-right
   position: absolute
   width: 385px
   height: 447px
   left: 50%
   bottom: 210px
   margin-left: 140px
   z-index: 3
.galaxy-flip4-waterproof__content-img-bottom__img-water
   position: absolute
   width: 866px
   height: 737px
   left: 50%
   bottom: -208px
   margin-left: -230px
   z-index: 3
.galaxy-flip4-flexbl__content
   max-width: 988px
   width: 100%
   margin: 0 auto
   &.ptt-top
      padding: 300px 0 200px 0
   &.ptt-top2
      padding: 0 0 200px 0
   &.ptt-top3
      padding: 0
.galaxy-flip4-flexbl__content-flex
   display: flex
   align-items: flex-start
   &.rowrev
      flex-direction: row-reverse
.galaxy-flip4-flexbl__content__item-text
   padding: 0 0 0 25px
   max-width: 445px
   width: 100%
.galaxy-flip4-flexbl__content__item-text-txt1
   span
      display: block
      font-weight: bold
      font-size: 16px
      letter-spacing: .192em
.galaxy-flip4-flexbl__content__item-text-txt2
   padding: 20px 0 40px 0
   span
      display: block
      font-size: 52px
      font-weight: bold
.galaxy-flip4-flexbl__content__item-text-txt3
   span
      display: block
      font-size: 18px
.galaxy-flip4-flexbl__content__item-text-img
   padding-top: 90px
   display: flex
   img
      padding-right: 15px
      &:last-child
         padding-right: 0
   &.maxw-img
      max-width: 110px
      width: 100%
      height: auto
.galaxy-flip4-camera__content
   max-width: 988px
   width: 100%
   margin: 0 auto
.galaxy-flip4-camera__content-img-c img
   margin: 0 auto
.galaxy-flip4-camera__content-text
   padding: 80px 0
   .galaxy-flip4-camera__content-text-span1, .galaxy-flip4-camera__content-text-span2
      display: block
      line-height: 1
      color: #000
   .galaxy-flip4-camera__content-text-span1
      font-size: 25px
      padding-bottom: 30px
   .galaxy-flip4-camera__content-text-span2
      font-size: 90px
      font-weight: bold
.galaxy-flip4-camera__content-img-r
   padding-bottom: 80px
   img
      margin: 0 0 0 auto
// media
// @media (max-width: 1024px)
// @media (max-width: 812px)
// @media (max-width: 480px)
// @media (max-width: 320px)
// @media (max-width: 812px) and (orientation: landscape)
