/*default styles*/
.breadcrumbs {
  display: none;
}

#microsoft {
  max-width: 1316px;
  width: 100%;
  margin: 0 auto;
  height: auto;
  display: block;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  background-color: #fff;
}

#microsoft p {
  margin-bottom: 0;
  margin: 0;
  font-size: 20px;
}

#microsoft p:first-letter {
  padding-left: 0;
}

#microsoft h2 {
  display: block;
  line-height: normal;
  font-size: 32px;
  font-weight: bold;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}

#microsoft h3 {
  display: block;
  line-height: normal;
  font-size: 26px;
  font-weight: bold;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}

#microsoft img {
  opacity: 1;
  max-width: 100%;
  display: block;
  height: auto;
}

#microsoft img:hover {
  opacity: 1;
}

#microsoft ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#microsoft span {
  display: block;
  line-height: normal;
}

.features-desc__text img {
  margin-bottom: 0rem;
}

.one-col .features-desc__text p:first-letter {
  padding-left: 0rem !important;
}

/*end default styles*/
#microsoft .microsoft__list li .microsoft__flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#microsoft .microsoft__list li .microsoft__flex .microsoft__cal {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
     -moz-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  max-width: 50%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#microsoft .microsoft__list li .microsoft__flex .microsoft__cal:nth-of-type(1) {
  padding: 70px 50px 70px 70px;
}

#microsoft .microsoft__list li .microsoft__flex .microsoft__cal .microsoft__logo {
  margin-bottom: 50px;
}

#microsoft .microsoft__list li:nth-of-type(odd) {
  background-color: #f1f1f1;
}

#microsoft .microsoft__list li:nth-of-type(even) {
  padding: 80px 0;
}

#microsoft .microsoft__list li:nth-of-type(even) .microsoft__flex {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
     -moz-box-orient: horizontal;
     -moz-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

#microsoft .microsoft__list li:last-of-type {
  padding: 80px 0;
}

#microsoft .microsoft__list li:last-of-type .microsoft__flex .microsoft__cal a {
  display: block;
  margin: 25px 0 0 0;
  margin-top: 25px;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  font-size: 1.6rem;
  background-color: #ff671f;
  padding: 1rem 2.7rem;
  text-align: center;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: background-color .3s linear;
  -o-transition: background-color .3s linear;
  -moz-transition: background-color .3s linear;
  transition: background-color .3s linear;
}

#microsoft .microsoft__list li:last-of-type .microsoft__flex .microsoft__cal a:hover {
  background-color: #e25c1d;
}

#microsoft .microsoft__list li:last-of-type .microsoft__flex .microsoft__cal img {
  margin: 0 auto;
}

#microsoft .microsoft__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 50px 35px 100px 35px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#microsoft .microsoft__row li {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
     -moz-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
}

#microsoft .microsoft__row li:nth-of-type(n+2) {
  margin-left: 25px;
}

#microsoft .microsoft__row li .microsoft__row__txt {
  margin-top: 35px;
}

#microsoft .solution {
  padding: 0 130px;
}

#microsoft .solution .solution__title {
  margin-bottom: 80px;
}

#microsoft .solution .solution__title h2 {
  text-align: center;
}

#microsoft .solution .solution__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-bottom: solid 3px #cacaca;
}

#microsoft .solution .solution__list li {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
     -moz-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  max-width: 50%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding-bottom: 40px;
}

#microsoft .solution .solution__list li .solution__list__img img {
  margin: 0 auto;
}

#microsoft .solution .solution__list li .solution__list__cont .solution__list__title {
  border-bottom: solid 7px #0089cf;
  padding-bottom: 25px;
  margin-bottom: 45px;
}

#microsoft .solution .solution__list li .solution__list__cont .solution__list__title h2 {
  text-align: center;
}

#microsoft .solution .solution__list li .solution__list__cont .solution__list__txt {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#microsoft .solution .solution__list li .solution__list__cont .solution__list__txt p {
  display: block;
}

#microsoft .solution .solution__list li:nth-of-type(1) {
  padding-right: 70px;
  border-right: solid 3px #cacaca;
}

#microsoft .solution .solution__list li:nth-of-type(1) .solution__list__cont .solution__list__txt img {
  max-height: 80px;
}

#microsoft .solution .solution__list li:nth-of-type(2) {
  padding-left: 70px;
}

#microsoft .solution .solution__list li:nth-of-type(2) .solution__list__cont .solution__list__txt img {
  max-height: 35px;
}

#microsoft .solution .solution__cont .solution__cont__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 0;
  border-bottom: solid 3px #cacaca;
}

#microsoft .solution .solution__cont .solution__cont__row > div {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
     -moz-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  max-width: 50%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#microsoft .solution .solution__cont .solution__cont__row .solution__cont__txt {
  padding-right: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
     -moz-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#microsoft .solution .solution__cont .solution__cont__row .solution__cont__txt p {
  text-align: center;
}

#microsoft .solution .solution__cont .solution__cont__row .solution__cont__img {
  padding-left: 50px;
}

#microsoft .solution .solution__cont .solution__cont__row:nth-of-type(n+2) {
  padding: 50px 0;
}

#microsoft .solution .solution__cont .solution__cont__row:nth-of-type(4) {
  padding: 30px 0;
}

#microsoft .solution .solution__connect {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#microsoft .solution .solution__connect > div {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
     -moz-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  max-width: 50%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#microsoft .solution .solution__connect .solution__connect__cal {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 35px 0;
}

#microsoft .solution .solution__connect .solution__connect__cal:nth-of-type(1) {
  padding-right: 70px;
  border-right: solid 3px #cacaca;
}

#microsoft .solution .solution__connect .solution__connect__cal:nth-of-type(2) {
  padding-left: 70px;
}

#microsoft .solution .solution__connect .solution__connect__cal .solution__connect__txt {
  margin-right: 35px;
}

#microsoft .solution .sollution__btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 50px;
}

#microsoft .solution .sollution__btn .sollution__btn__wrap {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
     -moz-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  max-width: 50%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#microsoft .solution .sollution__btn .sollution__btn__wrap a {
  display: block;
  margin: 25px auto 0 auto;
  margin-top: 25px;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  font-size: 1.6rem;
  background-color: #ff671f;
  padding: 1rem 2.7rem;
  text-align: center;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: background-color .3s linear;
  -o-transition: background-color .3s linear;
  -moz-transition: background-color .3s linear;
  transition: background-color .3s linear;
}

#microsoft .solution .sollution__btn .sollution__btn__wrap a:hover {
  background-color: #e25c1d;
}

#microsoft .snoska {
  padding: 150px 70px 60px 70px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#microsoft .snoska .snoska__list li {
  font-size: 13px;
}

#microsoft .snoska .snoska__list li:nth-of-type(n+2) {
  margin-top: 5px;
}

@media (max-width: 1024px) {
  #microsoft .microsoft__list li .microsoft__flex .microsoft__cal:nth-of-type(1) {
    padding: 2em;
  }
  #microsoft .microsoft__list li:nth-of-type(even),
  #microsoft .microsoft__list li:last-of-type {
    padding: 2em 0;
  }
  #microsoft .solution {
    padding: 0 4em;
  }
}

@media (max-width: 812px) {
  #microsoft p {
    font-size: unset;
  }
  #microsoft .microsoft__row {
    padding: 1em;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  #microsoft .microsoft__row li {
    min-width: 40%;
    width: 40%;
  }
  #microsoft .microsoft__row li:nth-of-type(3) {
    margin-left: 0;
    margin-right: 25px;
  }
  #microsoft .microsoft__row li:nth-of-type(4) {
    margin-left: 0;
  }
  #microsoft .microsoft__row li:nth-of-type(n+3) {
    margin-top: 25px;
  }
  #microsoft .solution {
    padding: 0 1em;
  }
  #microsoft .snoska {
    padding: 2em;
  }
}

@media (max-width: 480px) {
  #microsoft .microsoft__list li .microsoft__flex {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -webkit-flex-direction: column !important;
       -moz-box-orient: vertical !important;
       -moz-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  #microsoft .microsoft__list li .microsoft__flex .microsoft__cal {
    max-width: 100%;
  }
  #microsoft h2 {
    font-size: 28px;
  }
  #microsoft p {
    font-size: unset;
  }
  #microsoft .microsoft__list li:nth-of-type(even), #microsoft .microsoft__list li:last-of-type {
    padding: 1em 0;
  }
  #microsoft .microsoft__list li .microsoft__flex .microsoft__cal:nth-of-type(1) {
    padding: 1em;
  }
  #microsoft .microsoft__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #microsoft .microsoft__row li {
    max-width: 100%;
    width: 100%;
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  #microsoft .microsoft__row li .microsoft__row__img img {
    margin: 0 auto;
  }
  #microsoft .microsoft__row li:nth-of-type(n+2) {
    margin-top: 1em;
  }
  #microsoft .microsoft__row li .microsoft__row__txt h3, #microsoft .microsoft__row li .microsoft__row__txt p {
    text-align: center;
  }
  #microsoft h3 {
    font-size: 22px;
  }
  #microsoft .solution .solution__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #microsoft .solution .solution__list li {
    max-width: 100%;
    border: none !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
  #microsoft .solution .solution__cont .solution__cont__row .solution__cont__txt {
    padding-right: 0.5em;
  }
  #microsoft .solution .solution__cont .solution__cont__row,
  #microsoft .solution .solution__cont .solution__cont__row:nth-of-type(n+2) {
    padding: 1em 0;
  }
  #microsoft .solution .solution__cont .solution__cont__row:nth-of-type(4) .solution__cont__txt p br {
    display: none;
  }
  #microsoft .solution .solution__connect {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #microsoft .solution .solution__connect .solution__connect__cal {
    max-width: 100%;
  }
  #microsoft .solution .solution__connect .solution__connect__cal:nth-of-type(1) {
    padding-right: 0.5em;
  }
  #microsoft .solution .solution__cont .solution__cont__row .solution__cont__img {
    padding-left: 0.5em;
  }
  #microsoft .solution .solution__connect .solution__connect__cal:nth-of-type(1) {
    border-right: none !important;
    border-bottom: solid 3px #cacaca;
  }
  #microsoft .solution .solution__connect .solution__connect__cal:nth-of-type(2) {
    padding-left: 1em;
  }
  #microsoft .solution .solution__connect .solution__connect__cal .solution__connect__txt {
    margin-right: 1em;
  }
  #microsoft .solution .solution__connect .solution__connect__cal .solution__connect__txt p br {
    display: none;
  }
  #microsoft .solution .solution__connect .solution__connect__cal:nth-of-type(2) {
    padding-left: 0;
  }
  #microsoft .solution .solution__cont .solution__cont__row .solution__cont__img img {
    margin: auto 0 0 0;
    max-height: 50px;
  }
  #microsoft .solution .solution__connect .solution__connect__cal .solution__connect__img img {
    max-height: 50px;
  }
  #microsoft .solution .solution__connect .solution__connect__cal:nth-of-type(2) .solution__connect__img img {
    max-height: 40px;
  }
  #microsoft .solution .solution__connect .solution__connect__cal {
    padding: 1em 0;
  }
  #microsoft .solution .solution__connect .solution__connect__cal > div {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 0;
       -moz-box-flex: 1;
        -ms-flex: 1 1 0px;
            flex: 1 1 0;
    max-width: 50%;
  }
  #microsoft .solution .sollution__btn {
    margin-top: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #microsoft .solution .sollution__btn .sollution__btn__wrap {
    max-width: 100%;
  }
  #microsoft .snoska {
    padding: 2em 1em 1em 1em;
  }
  #microsoft .solution .solution__cont .solution__cont__row:nth-of-type(4) .solution__cont__img img {
    max-height: 40px;
  }
  #microsoft .solution .solution__list li:nth-of-type(2) .solution__list__cont .solution__list__txt img {
    margin: auto 0 0 0;
  }
  #microsoft .microsoft__list li:last-of-type .microsoft__flex .microsoft__cal a {
    margin: 25px auto 0 auto;
  }
}
