#rowenta_wrap_id p:first-letter { padding-left: 0; }
#rowenta_wrap_id p { margin-bottom: 0; }
#rowenta_wrap_id img:hover { opacity: 1; }
#rowenta_wrap_id img { opacity: 1; max-width: 100%; display: block; margin: 0 auto;}
#rowenta_wrap_id {
   max-width: 1316px;
   margin: 0 auto;
   height: auto;
   display: block;
   background-color: #fff;
}
.features-desc__text img { margin-bottom: 0rem; }
.one-col .features-desc__text p:first-letter { padding-left: 0rem !important; }

.rowenta_wrap {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-width: 1316px;
  height: auto;
}

.rowenta_wrap li {
  list-style-type: none;
}

.rowenta_wrap img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.rowenta_wrap h1 {
  font-size: 41px;
  margin: 0;
  padding: 0;
  line-height: normal;
}

.rowenta_wrap h1 span {
  color: #ad010b;
}

.rowenta_wrap h2 {
  font-size: 25px;
  margin: 0;
  padding: 0;
  line-height: normal;
  color: #ad010b;
}

.rowenta_wrap p {
  font-size: 24px !important;
  line-height: normal !important;
}

.rowenta_wrap p strong {
  color: #ad010b;
}

/*****************************************************************/

.rowenta_wrap .rowenta_intelegy {
  width: 100%;
  height: 723px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url("https://cdn.comfy.ua/media/x/img/1528625/bg_sect1.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}


.rowenta_wrap .rowenta_intelegy .rowenta_logo {
  background-color: #fff;
  text-align: center;
}

.rowenta_wrap .rowenta_intelegy .intel_text {
  background-color: #ffffffd4;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  float: right;
  padding: 30px 20px;
  text-align: end;
  margin-top: 140px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.rowenta_wrap .rowenta_intelegy .intel_text h1:last-child {
  color: #ad010b;
}

/*end section 1*/

.rowenta_wrap .rowenta_secret {
  height: 700px;
  background-image: url("https://cdn.comfy.ua/media/x/img/1528625/bg_sect2.png");
  background-repeat: no-repeat;
  background-position: center top 6%;
  background-size: cover;
}

.rowenta_wrap .rowenta_secret .secret_text {
  float: right;
  background-color: #ffffffd4;
  padding: 30px 20px;
  width: 680px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.rowenta_wrap .rowenta_secret .secret_text:first-child {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 20px;
}

.rowenta_wrap .rowenta_secret .secret_text h1:first-child {
  color: #ad010b;
}

/*end section 2*/

.rowenta_wrap .rowenta_gabariti {
  height: 722px;
  background-image: url("https://cdn.comfy.ua/media/x/img/1528625/bg_sect3.png");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.rowenta_wrap .rowenta_gabariti .gabarit_text {
  padding-top: 40px;
}

.rowenta_wrap .rowenta_gabariti .gabarit_text .gab_text_item {
  width: 100%;
  text-align: center;
  background-color: #ffffffd4;
  padding: 10px 90px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.rowenta_wrap .rowenta_gabariti .gabarit_text .gab_text_item:first-child {
  margin-bottom: 20px;
}

/*end section 3*/

.rowenta_wrap .rowenta_kachestvo {
  height: 724px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url("https://cdn.comfy.ua/media/x/img/1528625/bg_sect4.png");
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 60px;
  position: relative;
}

.rowenta_wrap .rowenta_kachestvo .kach_text {
  background-color: #ffffffd4;
  text-align: center;
  padding: 10px 20px;
}

.rowenta_wrap .rowenta_kachestvo .kach_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.rowenta_wrap .kach_row .kach_content {
  width: 100%;
  padding: 70px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  max-width: 520px;
}

.rowenta_wrap .kach_row .kach_content .kach_cont_text:first-child {
  text-align: center;
  margin-bottom: 15px;
  position: relative;
  background-color: unset;
  padding-left: 120px;
}

.rowenta_wrap .kach_row .kach_content .kach_cont_text:last-child {
  min-height: 236px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rowenta_wrap .kach_row .kach_content:first-child .kach_cont_text:first-child::after {
  display: block;
  content: '';
  width: 360px;
  height: 53px;
  background-color: #ffffffd4;
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  top: 0;
}

.rowenta_wrap .kach_row .kach_content .kach_cont_text {
  background-color: #ffffffd4;
  max-width: 520px;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.rowenta_wrap .kach_row .kach_content .kach_cont_text ul.kach_list li {
  color: #ad010b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-bottom: 10px;
}

.rowenta_wrap .kach_row .kach_content .kach_cont_text ul.kach_list li:last-child {
  padding-bottom: 0;
}

.rowenta_wrap .kach_row .kach_content .kach_cont_text ul.kach_list li::before {
  content: '•';
  font-size: 24px;
  margin-right: 10px;
}

.rowenta_wrap .kach_row .kach_content .kach_cont_text ul.kach_list li p {
  color: black;
}

.rowenta_wrap .kach_row .kach_content:first-child .kach_cont_text:first-child::before {
  display: block;
  content: '';
  width: 152px;
  height: 142px;
  background-image: url("https://cdn.comfy.ua/media/x/img/1528625/img_sect4.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  left: 17px;
  top: -60px;
  z-index: 1;
}

.rowenta_wrap .kach_row .kach_content:last-child .kach_cont_text:first-child {
  padding: 10px 0px;
  background-color: #ffffffd4;
}


.rowenta_wrap .kach_row .kach_content .kach_cont_text h2 {
  z-index: 2;
  position: relative;
}

.rowenta_wrap .rowenta_kachestvo::after {
  position: absolute;
  display: block;
  content: '';
  background-image: url(https://cdn.comfy.ua/media/x/img/1528625/dots.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  width: 799px;
  height: 133px;
  bottom: 11%;
  right: 24%;
}

/*end section 4*/

.rowenta_wrap .rowenta_nasadka {
  width: 100%;
  height: 718px;
  background-image: url("https://cdn.comfy.ua/media/x/img/1528625/bg_sect5.png");
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 70px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.rowenta_wrap .rowenta_nasadka .nasadka_text {
  background-color: #ffffffd4;
}

.rowenta_wrap .rowenta_nasadka .nasadka_text h1 {
  text-align: center;
  padding: 10px 0;
}

.rowenta_wrap .rowenta_nasadka .nasadka_text:last-child {
  max-width: 500px;
  margin-left: 30px;
  margin-top: 220px;
  position: relative;
}

.rowenta_wrap .rowenta_nasadka .nasadka_text:last-child::before {
  display: block;
  content: '';
  background-image: url("https://cdn.comfy.ua/media/x/img/1528625/dots2.png");
  background-repeat: no-repeat;
  width: 198px;
  height: 169px;
  position: absolute;
  bottom: 105%;
  left: 37%;
}

.rowenta_wrap .rowenta_nasadka .nasadka_text:last-child p {
  padding: 10px;
}

/*end section 5*/

.rowenta_wrap .rowenta_filtr {
  width: 100%;
  height: 721px;
  padding-top: 90px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url("https://cdn.comfy.ua/media/x/img/1528625/bg_sect6.png");
  background-repeat: no-repeat;
  background-position: center;
}

.rowenta_wrap .rowenta_filtr .filtr_text {
  background-color: #ffffffd4;
}

.rowenta_wrap .rowenta_filtr .filtr_text h1 {
  text-align: center;
  padding: 10px 0;
  margin-bottom: 40px;
}

.rowenta_wrap .rowenta_filtr .filtr_text:last-child {
  max-width: 500px;
  float: right;
  margin-right: 40px;
  padding: 10px;
  position: relative;
}

.rowenta_wrap .rowenta_filtr .filtr_text:last-child::after {
  position: absolute;
  display: block;
  content: '';
  width: 429px;
  height: 178px;
  background-image: url("https://cdn.comfy.ua/media/x/img/1528625/dots3.png");
  background-repeat: no-repeat;
  background-size: contain;
  top: 100%;
  right: 40%;
}

/*end section 6*/

.rowenta_wrap .rowente_clean {
  padding: 50px 70px;
}

.rowenta_wrap .rowente_clean .clean_text {
  text-align: center;
  padding-bottom: 50px;
}

.rowenta_wrap .rowente_clean .clean_text:last-child {
  padding-bottom: 0;
}

.rowenta_wrap .rowente_clean ul.clean_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 35px;
}

.rowenta_wrap .rowente_clean ul.clean_img li {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
}

.rowenta_wrap .rowente_clean ul.clean_img li:nth-child(2) {
  padding: 0 20px;
}

.rowenta_wrap .rowente_clean ul.clean_img li::before {
  display: block;
  position: absolute;
  font-size: 41px;
  font-weight: bold;
  color: #fff;
  padding: 25px;
}

.rowenta_wrap .rowente_clean ul.clean_img li:nth-child(1)::before {
  content: '1';
}

.rowenta_wrap .rowente_clean ul.clean_img li:nth-child(2)::before {
  content: '2';
}

.rowenta_wrap .rowente_clean ul.clean_img li:nth-child(3)::before {
  content: '3';
}

/*end section 7*/

.rowenta_wrap .rowenta_settings {
  width: 100%;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 50px 70px;
}

.rowenta_wrap .rowenta_settings .rowenta_set_text {
  text-align: center;
  margin-bottom: 30px;
}

.rowenta_wrap .rowenta_settings ul.settings_list:first-child {
  padding-bottom: 80px;
}

.rowenta_wrap .rowenta_settings ul.settings_list li .set_text p {
  font-size: 30px !important;
}

.rowenta_wrap .rowenta_settings ul.settings_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 80px;
}

.rowenta_wrap .rowenta_settings ul.settings_list:last-child {
  padding-bottom: 0;
}

.rowenta_wrap .rowenta_settings ul.settings_list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 50%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* width: 530px; */
  padding: 0 50px;
}

.rowenta_wrap .rowenta_settings ul.settings_list li:first-child {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-left: 0;
}

.rowenta_wrap .rowenta_settings ul.settings_list li:last-child {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  padding-right: 0;
}

.rowenta_wrap .rowenta_settings ul.settings_list li:first-child .set_text {
  padding-top: 50px;
  text-align: right;
}

.rowenta_wrap .rowenta_settings ul.settings_list li:last-child .set_text {
  padding-bottom: 50px;
}

.rowenta_wrap .rowenta_settings ul.settings_list li .set_text {
  max-width: 430px;
}

/*end section 8*/

.rowenta_wrap .rowenta_comlate {
  position: relative;
  width: 100%;
  height: 724px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url("https://cdn.comfy.ua/media/x/img/1528625/bg_sect9.png");
  background-repeat: no-repeat;
  background-position: center;
  padding: 50px 100px;
}

.rowenta_wrap .rowenta_comlate .complate_text {
  background-color: #ffffffd4;
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 30px;
  left: 0;
}

.rowenta_wrap .rowenta_comlate ul.complate_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 88%;
}

.rowenta_wrap .rowenta_comlate ul.complate_list li {
  width: 50%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.rowenta_wrap .rowenta_comlate ul.complate_list li p {
  max-width: 280px;
  margin: 0;
}

.rowenta_wrap .rowenta_comlate ul.complate_list li:nth-child(2) p {
  float: right;
}

.rowenta_wrap .rowenta_comlate ul.complate_list li:last-child {
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 100%;
}

.rowenta_wrap .rowenta_comlate ul.complate_list li:last-child p {
  max-width: unset;
  float: right;
}

.rowenta_wrap .rowenta_comlate::after {
  display: block;
  content: '';
  width: 937px;
  height: 442px;
  background-image: url("https://cdn.comfy.ua/media/x/img/1528625/dots4.png");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 15%;
  right: 16%;
}

/*end section 9*/

.rowenta_wrap .rowenta_shel {
  width: 100%;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 50px 100px;
}

.rowenta_wrap .rowenta_shel .shel_text {
  text-align: center;
}

.rowenta_wrap .rowenta_shel .shel_text p {
  font-size: 30px !important;
}

.rowenta_wrap .rowenta_shel ul.shel_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 90px;
  padding-bottom: 50px;
  position: relative;
}

.rowenta_wrap .rowenta_shel ul.shel_img::after {
  position: absolute;
  display: block;
  content: 'АБО';
  font-size: 40px;
  color: #ad010b;
  font-weight: bold;
  background-color: #ffffffd4;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  padding: 10px 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 20px;
}

.rowenta_wrap .rowenta_shel ul.shel_img li {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
}

.rowenta_wrap .rowenta_shel ul.shel_img li:first-child {
  padding-right: 60px;
}

/**********MEDIA**********/

@media (max-width: 1024px) and (min-width: 813px) {

  .rowenta_wrap h1 {
    font-size: 36px !important;
  }

  .rowenta_wrap .rowenta_kachestvo {
    padding-top: 20px;
  }

  .rowenta_wrap .rowenta_kachestvo::after {
    width: 777px;
    height: 142px;
    bottom: 17%;
    right: 19%;
    background-size: contain;
  }

  .rowenta_wrap .rowenta_nasadka .nasadka_text:last-child::before {
    left: 10%;
  }

  .rowenta_wrap .rowenta_filtr .filtr_text:last-child::after {
    width: 300px;
  }

  .rowenta_wrap .rowenta_comlate::after {
    background-size: contain;
    width: 765px;
    top: 10%;
    right: 12%;
  }

}

@media (max-width: 812px) and (min-width: 481px) {
  .rowenta_wrap .rowenta_intelegy .rowenta_logo {
    padding: 0 20px;
  }

  .rowenta_wrap .rowenta_gabariti {
    background-position: center right 36%;
  }

  .rowenta_wrap .rowenta_gabariti .gabarit_text .gab_text_item {
    padding: 10px 20px;
  }

  .rowenta_wrap .rowenta_kachestvo {
    padding-top: 20px;
  }

  .rowenta_wrap .rowenta_kachestvo::after {
    width: 777px;
    height: 162px;
    bottom: 17%;
    right: 19%;
    background-size: contain;
  }

  .rowenta_wrap .kach_row .kach_content:first-child .kach_cont_text:first-child::after {
    display: none;
  }

  .rowenta_wrap .kach_row .kach_content .kach_cont_text:first-child {
    background-color: #ffffffd4;
  }

  .rowenta_wrap .kach_row .kach_content:first-child .kach_cont_text:first-child::before {
    left: -1px;
    top: -37px;
    width: 120px;
  }

  .rowenta_wrap .rowenta_kachestvo::after {
    display: none;
  }

  .rowenta_wrap .kach_row .kach_content {
    padding: 50px 20px;
  }

  .rowenta_wrap .kach_row .kach_content .kach_cont_text:last-child {
    min-height: 298px;
  }

  .rowenta_wrap .rowenta_nasadka {
    padding-top: 20px;
  }

  .rowenta_wrap .rowenta_nasadka .nasadka_text:last-child {
    margin-left: 20px;
  }

  .rowenta_wrap .rowenta_nasadka .nasadka_text:last-child::before {
    -webkit-transform: scale(-1, 1);
            transform: scale(-1, 1);
    left: 12%;
  }

  .rowenta_wrap .rowenta_filtr .filtr_text:last-child::after {
    width: 300px;
    right: 16%;
  }

  .rowenta_wrap .rowenta_filtr {
    padding-top: 20px;
  }

  .rowenta_wrap .rowenta_filtr .filtr_text:last-child {
    margin-right: 20px;
  }

  .rowenta_wrap .rowente_clean {
    padding: 20px;
  }

  .rowenta_wrap .rowenta_settings {
    padding: 20px;
  }

  .rowenta_wrap .rowenta_settings ul.settings_list li {
    padding: 0 20px;
  }

  .rowenta_wrap .rowenta_settings ul.settings_list li:first-child .set_text {
    padding-top: 20px;
  }

  .rowenta_wrap .rowenta_settings ul.settings_list li:last-child .set_text {
    padding-bottom: 20px;
  }

  .rowenta_wrap .rowenta_settings ul.settings_list li .set_text p {
    font-size: 22px !important;
  }

  .rowenta_wrap .rowenta_comlate::after {
    background-size: contain;
    width: 629px;
    top: 3%;
    right: 11%;
  }

  .rowenta_wrap .rowenta_comlate {
    padding: 30px 20px;
    background-position: center right 64%;
  }

  .rowenta_wrap .rowenta_comlate ul.complate_list li:last-child {
    height: 48%;
  }

  .rowenta_wrap .rowenta_comlate ul.complate_list li:last-child p {
    max-width: 240px;
    padding-right: 28px;
  }

  .rowenta_wrap .rowenta_shel {
    padding: 30px 20px;
  }

  .rowenta_wrap .rowenta_shel ul.shel_img {
    padding: 40px 0;
  }

  .rowenta_wrap .rowenta_shel ul.shel_img::after {
    margin-top: 0;
    font-size: 30px;
  }

  .rowenta_wrap .rowenta_shel ul.shel_img li:first-child {
    padding-right: 30px;
  }

  .rowenta_wrap .rowenta_shel .shel_text p {
    font-size: 24px !important;
  }

  .rowenta_wrap h2 {
    font-size: 22px !important;
  }

}

@media (max-width: 480px) and (min-width: 320px) {

  .rowenta_wrap .rowenta_intelegy {
    background-position: center right 70%;
  }

  .rowenta_wrap .rowenta_intelegy .rowenta_logo {
    padding: 0 20px;
  }

  .rowenta_wrap .rowenta_intelegy .intel_text {
    padding: 10px 20px;
    width: 100%;
    text-align: center;
  }

  .rowenta_wrap h1 {
    font-size: 22px !important;
  }

  .rowenta_wrap .rowenta_secret .secret_text {
    width: 100%;
    padding: 10px 20px;
  }

  .rowenta_wrap p {
    font-size: 16px !important;
  }

  .rowenta_wrap .rowenta_secret {
    background-position: center right 94%;
  }

  .rowenta_wrap .rowenta_gabariti {
    background-position: top right 34%;
    /* background-size: auto 62%; */
    background-size: cover;
    height: 459px;
  }

  .rowenta_wrap .rowenta_gabariti .gabarit_text .gab_text_item {
    padding: 10px 20px;
  }

  .rowenta_wrap .rowenta_kachestvo .kach_row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .rowenta_wrap .kach_row .kach_content:first-child .kach_cont_text:first-child::after {
    display: none;
  }

  .rowenta_wrap .kach_row .kach_content .kach_cont_text:first-child {
    background-color: #ffffffd4;
  }

  .rowenta_wrap .kach_row .kach_content:first-child .kach_cont_text:first-child::before {
    left: -1px;
    top: -48px !important;
    width: 130px;
    height: 117px;
  }

  .rowenta_wrap .rowenta_kachestvo::after {
    display: none;
  }

  .rowenta_wrap .kach_row .kach_content {
    padding: 50px 20px;
  }

  .rowenta_wrap .kach_row .kach_content .kach_cont_text:last-child {
    min-height: unset;
  }

  .rowenta_wrap .rowenta_kachestvo {
    padding-top: 20px;
  }

  .rowenta_wrap .kach_row .kach_content:last-child {
    padding-top: 0;
  }

  .rowenta_wrap h2 {
    font-size: 20px !important;
  }

  .rowenta_wrap .rowenta_nasadka {
    padding-top: 20px;
  }

  .rowenta_wrap .rowenta_nasadka .nasadka_text:last-child {
    margin: 220px 20px 0 20px;
  }

  .rowenta_wrap .rowenta_nasadka .nasadka_text:last-child::before {
    display: none;
  }

  .rowenta_wrap .rowenta_nasadka {
    padding-top: 20px;
  }

  .rowenta_wrap .rowenta_nasadka .nasadka_text:last-child {
    margin-left: 20px;
  }

  .rowenta_wrap .rowenta_nasadka .nasadka_text:last-child::before {
    -webkit-transform: scale(-1, 1);
            transform: scale(-1, 1);
    left: 12%;
  }

  .rowenta_wrap .rowenta_filtr .filtr_text:last-child::after {
    width: 226px;
    right: 33%;
    -webkit-transform: rotate(-90deg) scale(0.7);
            transform: rotate(-90deg) scale(0.7);
    background-size: cover;
  }

  .rowenta_wrap .rowenta_filtr {
    padding-top: 20px;
  }

  .rowenta_wrap .rowenta_filtr .filtr_text:last-child {
    margin-right: 20px;
    margin-left: 20px;
  }

  .rowenta_wrap .rowenta_filtr .filtr_text h1 {
    margin-bottom: 140px;
  }

  .rowenta_wrap .rowente_clean {
    padding: 20px;
  }

  .rowenta_wrap .rowente_clean ul.clean_img li::before {
    font-size: 24px;
    padding: 10px;
  }

  .rowenta_wrap .rowente_clean .clean_text {
    padding-bottom: 20px;
  }

  .rowenta_wrap .rowente_clean .clean_text:last-child {
    padding-bottom: 0px;
  }

  .rowenta_wrap .rowente_clean ul.clean_img li img {
    min-width: 250px;
  }

  .rowenta_wrap .rowente_clean ul.clean_img {
    overflow-x: scroll;
  }

  .rowenta_wrap .rowenta_settings {
    padding: 0px;
  }

  .rowenta_wrap .rowenta_settings ul.settings_list li {
    padding: 0 20px;
    width: 100%;
    max-width: 100%;
    padding: 0;
  }

  .rowenta_wrap .rowenta_settings ul.settings_list li:first-child .set_text {
    padding-top: 20px;
  }

  .rowenta_wrap .rowenta_settings ul.settings_list li .set_text {
    padding: 0 20px !important;
  }

  .rowenta_wrap .rowenta_settings ul.settings_list li .set_text p {
    font-size: 16px !important;
    text-align: center;
    padding: 40px 0;
    padding-bottom: 20px;
  }

  .rowenta_wrap .rowenta_settings ul.settings_list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 0;
  }

  .rowenta_wrap .rowenta_settings ul.settings_list li:first-child {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .rowenta_wrap .rowenta_settings .rowenta_set_text {
    margin: 0;
    padding: 50px 20px 0 20px;
  }

  .rowenta_wrap .rowenta_comlate {
    padding: 30px 0;
    height: 500px;
    background-position: center right 46%;
  }

  .rowenta_wrap .rowenta_comlate::after {
    display: none;
  }

  .rowenta_wrap .rowenta_comlate ul.complate_list {
    display: block;
    position: absolute;
    top: 50%;
    height: auto;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    background-color: #ffffffd4;
    padding: 20px;
    /* margin-right: 20px; */
    width: 100%;
  }

  .rowenta_wrap .rowenta_comlate ul.complate_list li {
    width: 100%;
    padding-bottom: 20px;
  }

  .rowenta_wrap .rowenta_comlate ul.complate_list li:last-child {
    padding-bottom: 0;
  }

  .rowenta_wrap .rowenta_comlate ul.complate_list li p {
    margin: 0 !important;
    float: unset !important;
    text-align: center;
    max-width: unset;
  }

  .rowenta_wrap .rowenta_shel {
    padding: 30px 0px;
  }

  .rowenta_wrap .rowenta_shel ul.shel_img {
    padding: 20px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .rowenta_wrap .rowenta_shel ul.shel_img li:first-child {
    padding-right: 0;
    padding-bottom: 30px;
  }

  .rowenta_wrap .rowenta_shel .shel_text p {
    font-size: 16px !important;
  }

  .rowenta_wrap .rowenta_shel ul.shel_img::after {
    margin-top: 0;
    font-size: 30px;
  }

  .rowenta_wrap .rowenta_shel .shel_text {
    padding: 0 20px;
  }

}