//default styles

// body
//    margin: 0

.samsung
   width: 100%
   max-width: 1440px
   margin: 0 auto
   height: auto
   display: block
   box-sizing: border-box
   overflow: hidden
   img
      margin: 0 auto
      opacity: 1 !important
      max-width: 100%
      display: block
      height: auto
      &:hover
         opacity: 1 !important
   div
      line-height: normal

.features-desc__text
   img
      margin-bottom: 0rem

//end default styles

.samsung .container
   width: 100%
   max-width: 100%
   margin: 0 auto

//samsung__block

.samsung__black
   background-color: #000
   color: #fff

.samsung__block
   text-align: center

.samsung__title
   font-weight: bold
   margin-bottom: 1rem
   font-size: 48px

.samsung__txt
   font-size: 18px

.samsung__wrap
   position: relative

.samsung__abs
   position: absolute
   top: 1vw
   width: 100%
   max-width: 80%
   right: 50%
   transform: translateX(50%)

.samsung__cont
   max-width: 80%
   margin: 0 auto
   padding: 2em 0

//sound

.sound
   .samsung__abs
      top: 5vw

//samsung__row

.samsung__row
   display: flex
   align-items: center
   // gap: 40px
   >div
      max-width: 50%
      box-sizing: border-box
   .samsung__cont
      padding: 2em
   &:nth-of-type(even)
      flex-direction: row-reverse

//media*****************************************************

@media (max-width: 1201px)
   .samsung .container
      width: 960px
      padding: 0 15px

   .samsung__title
      font-size: 32px

@media (max-width: 991px)
   .samsung .container
      width: 720px

   .samsung__title
      font-size: 24px
   .samsung__txt
      font-size: 16px

   .samsung__wrap
      display: flex
      flex-direction: column-reverse
      padding-top: 1em
   .container
      position: relative
   .samsung__abs
      position: unset
      transform: unset
      max-width: 100%
   .samsung__wrap__img
      margin-top: -15vw

   .samsung__cont
      max-width: 100%
      padding: 1em 0

   .samsung__row
      flex-direction: column !important
      text-align: center
      >div
         max-width: 100%
   .samsung__row .samsung__cont
      padding: 1em 0 2em

@media (max-width: 767px)
   .samsung .container
      width: 540px

@media (max-width: 576px)
   .samsung .container
      width: 100%
      box-sizing: border-box
