#nokia {
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
  height: auto;
  display: block;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}
#nokia p {
  margin-bottom: 0;
  margin: 0;
  text-align: unset;
  color: #001135;
  font-size: 19px;
}
#nokia p:first-letter {
  padding-left: 0;
}
#nokia h2 {
  text-align: unset;
  display: block;
  line-height: normal;
  font-size: 38px;
  font-weight: bold;
  padding: 0;
  margin: 0;
}
#nokia img {
  margin: 0 auto;
  opacity: 1;
  max-width: 100%;
  display: block;
  height: auto;
}
#nokia img:hover {
  opacity: 1;
}
#nokia ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#nokia span {
  display: block;
  line-height: normal;
}

.features-desc__text img {
  margin-bottom: 0rem;
}

.one-col .features-desc__text p:first-letter {
  padding-left: 0rem !important;
}

#nokia .show__mob {
  display: none;
}
#nokia .small__txt {
  color: #767676;
  font-size: 16px;
  line-height: normal;
  margin-bottom: 20px;
}
#nokia .large__txt {
  font-size: 55px;
  font-weight: bold;
  line-height: normal;
}
#nokia .things {
  padding: 110px;
}
#nokia .things .things__flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#nokia .things .things__flex div {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
     -moz-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
}
#nokia .things .things__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-top: 100px;
}
#nokia .things .things__list li {
  width: 50%;
}
#nokia .things .things__list li .things__list__icon img {
  margin: 0 0 2em 0;
}
#nokia .things .things__list li .things__list__txt {
  max-width: 500px;
}
#nokia .things .things__list li .things__list__txt p b {
  font-size: 22px;
}
#nokia .things .things__list li:nth-of-type(n+3) {
  margin-top: 4em;
}
#nokia .love .love__wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
     -moz-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 110px;
}
#nokia .love .love__wrap div {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
     -moz-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
}
#nokia .trust .trust__wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
     -moz-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 110px;
}
#nokia .trust .trust__wrap div {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
     -moz-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
}
#nokia .keep {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 25px;
}
#nokia .keep li:nth-of-type(2) {
  margin-left: 75px;
  max-width: 450px;
}
#nokia .keep li:nth-of-type(2) .large__txt {
  margin-bottom: 25px;
}
#nokia .camera .camera__wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 110px;
}
#nokia .camera .camera__wrap div {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
     -moz-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
}
#nokia .camera .camera__wrap .camera__txt {
  margin-top: 40px;
}

@media (max-width: 1024px) {
  #nokia .things .things__flex,
#nokia .love .love__wrap,
#nokia .trust .trust__wrap,
#nokia .camera .camera__wrap,
#nokia .things {
    padding-right: 1em;
    padding-left: 1em;
  }
  #nokia .things .things__flex .things__title,
#nokia .love .love__wrap .love__title,
#nokia .trust .trust__wrap .trust__title,
#nokia .camera .camera__wrap .camera__title {
    margin-right: 2em;
  }
  #nokia .things .things__list li {
    padding: 0 1em;
  }
}
@media (max-width: 812px) {
  #nokia p {
    font-size: unset;
  }
  #nokia .show__mob {
    display: block;
  }
  #nokia .hide__mob {
    display: none;
  }
  #nokia .large__txt {
    font-size: 32px;
  }
  #nokia .things .things__list {
    margin-top: 2em;
  }
  #nokia .things .things__list li {
    padding: 1em;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
  #nokia .things .things__list li .things__list__txt p b {
    font-size: 20px;
  }
  #nokia .things .things__flex,
#nokia .love .love__wrap,
#nokia .trust .trust__wrap,
#nokia .camera .camera__wrap,
#nokia .things,
#nokia .keep {
    padding: 1em;
  }
}
@media (max-width: 812px) {
  #nokia .things .things__flex,
#nokia .love .love__wrap,
#nokia .trust .trust__wrap,
#nokia .camera .camera__wrap,
#nokia .things,
#nokia .keep {
    display: block;
  }
  #nokia .things .things__flex {
    padding: 0;
  }
  #nokia .things .things__flex .things__txt {
    margin-top: 20px;
  }
  #nokia .things .things__list {
    display: block;
  }
  #nokia .things .things__list li {
    padding: 0;
    width: unset;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #nokia .things .things__list li div {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 0;
       -moz-box-flex: 1;
        -ms-flex: 1 1 0px;
            flex: 1 1 0;
  }
  #nokia .things .things__list li .things__list__icon img {
    margin: 0 auto;
  }
  #nokia .things .things__list li .things__list__txt {
    -webkit-box-flex: 4;
    -webkit-flex: 4;
       -moz-box-flex: 4;
        -ms-flex: 4;
            flex: 4;
    max-width: unset;
  }
  #nokia .things .things__list li:nth-of-type(n+2) {
    margin-top: 40px;
  }
  #nokia .things .things__flex .things__title,
#nokia .love .love__wrap .love__title,
#nokia .trust .trust__wrap .trust__title,
#nokia .camera .camera__wrap .camera__title {
    margin-right: unset;
  }
  #nokia .love .love__wrap .love__txt,
#nokia .trust .trust__wrap .trust__txt {
    margin-top: 20px;
  }
  #nokia .keep li:nth-of-type(2) {
    margin-left: 0;
    margin-top: 2em;
    max-width: unset;
  }
}
@media (max-width: 480px) {
  #nokia .things .things__list li .things__list__icon {
    -webkit-box-flex: 2;
    -webkit-flex: 2;
       -moz-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
  }
}