.bc-description__content p:first-letter {
  padding-left: 0 !important;
}

#rkt-name-product {
  max-width: 1023px;
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  background: #fff;
}
#rkt-name-product h2, #rkt-name-product h3, #rkt-name-product h4, #rkt-name-product h5, #rkt-name-product h6, #rkt-name-product p {
  margin: 0;
  padding: 0;
  line-height: 1.2;
}
#rkt-name-product ul {
  margin: 0;
  padding: 0;
  list-style-type: disc;
  padding-left: 20px;
  margin: 0.5rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
#rkt-name-product img {
  display: block;
  max-width: 100%;
  opacity: 1;
  margin: 0 auto;
}
#rkt-name-product img:hover {
  opacity: 1;
}
#rkt-name-product h2 {
  font-size: 26px;
  font-weight: 900;
  text-align: center;
  margin-bottom: 1rem;
}
@media (max-width: 1023px) {
  #rkt-name-product h2 {
    font-size: calc(20px + 6 * (100vw - 320px) / 703);
  }
}
#rkt-name-product h3 {
  font-size: 20px;
  font-weight: normal;
  text-align: left;
}
@media (max-width: 1023px) {
  #rkt-name-product h3 {
    font-size: calc(18px + 2 * (100vw - 320px) / 703);
  }
}
#rkt-name-product p {
  font-size: 16px;
  font-weight: 400;
  text-align: left;
}
@media (max-width: 1023px) {
  #rkt-name-product p {
    font-size: calc(14px + 2 * (100vw - 320px) / 703);
  }
}
#rkt-name-product li {
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  line-height: 1.2;
}
@media (max-width: 1023px) {
  #rkt-name-product li {
    font-size: calc(14px + 2 * (100vw - 320px) / 703);
  }
}

.os__tv {
  position: relative;
}

.os__tv__cont {
  position: absolute;
  color: #fff;
  padding: 1em;
  width: 40%;
  top: 2em;
  left: 2em;
  background-color: rgba(0, 0, 0, 0.8);
  box-sizing: border-box;
}

.quantum {
  padding: 2em 2em 0;
}

.quantum__row {
  display: flex;
  gap: 2em;
}

.advantages {
  padding: 2em;
}

.advantages__cont p {
  text-align: center !important;
}
.advantages__cont hr {
  width: 30%;
  border: 1px dotted #000000;
  border-style: none none dotted;
  margin: 2em auto;
}

.advantages__video {
  padding-top: 2em;
}
.advantages__video iframe {
  display: block;
  width: 100%;
  height: 50vh;
}

.design {
  background-color: rgb(48, 48, 49);
  color: #fff;
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 4em;
}
.design p {
  text-align: center !important;
}

.design__cont {
  padding: 1em 2em 0;
}

.complete {
  padding: 2em;
}
.complete h2 {
  text-align: left !important;
}

.complete__row {
  display: flex;
  align-items: center;
  gap: 2em;
}
.complete__row > div {
  flex-basis: 50%;
}

@media (min-width: 320px) and (max-width: 767.9px) {
  .os__tv__cont {
    position: unset;
    width: 100%;
  }
  .os__tv__img img {
    min-width: 150%;
    margin-left: -50% !important;
  }
  .quantum,
  .advantages {
    padding: 1em;
  }
  .quantum__row {
    flex-direction: column;
    gap: 1em;
  }
  .advantages__cont hr {
    width: 40%;
    margin: 1em auto;
  }
  .advantages__video iframe {
    height: 28vh;
  }
  .design {
    padding: 1em;
    gap: 2em;
  }
  .design__cont {
    padding-right: 0;
    padding-left: 0;
  }
  .complete {
    padding: 1em;
  }
  .complete__row {
    gap: 1em;
    flex-direction: column;
    align-items: unset;
  }
}
@media (min-width: 768px) and (max-width: 1023.9px) {
  .quantum__row {
    flex-direction: column;
  }
}
@media (min-width: 1024px) and (max-width: 1201px) {
  .os__tv__cont {
    top: 1em;
    left: 1em;
    width: 45%;
  }
  .quantum__row,
  .complete__row {
    flex-direction: column;
    gap: 1em;
  }
  .complete__row {
    align-items: unset;
  }
}