body
   padding: 0
   margin: 0
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap')
#lp-apple
   width: 100%
   height: auto
   position: relative
   overflow: hidden
   box-sizing: border-box
   display: block
   background: #F5F5F5
   font-family: "Roboto", sans-serif
   padding: 30px 12px 60px 12px
   div
      box-sizing: border-box
   h2
      font-family: "Roboto", sans-serif
      font-size: 60px
      font-weight: bold
      color: #000
      padding: 0
      margin: 0
      line-height: 1.3
   h3
      font-family: "Roboto", sans-serif
      font-size: 46px
      font-weight: bold
      color: #000
      padding: 0
      margin: 0
      line-height: 1.3
      span
         font-weight: bold
         background: #00ff00
         text-transform: uppercase
         font-style: italic
         padding: 0 8px 0 8px
   p
      font-family: "Roboto", sans-serif
      font-size: 30px
      color: #000
      font-weight: 500
      padding: 0
      margin: 0
      line-height: 1.3
   a
      display: table
      margin: 0 auto
      border-radius: 40px
      border: 1px solid #CCC
      padding: 8px 40px
      color: #616161
      font-size: 34px
      text-align: center
      line-height: 1
      font-weight: 500
      text-decoration: none
   ul
      list-style-type: none
      padding: 0 0 0 70px
      margin: 0
      li
         font-size: 60px
         color: #000
         font-weight: bold
         position: relative
         padding-left: 65px
         span
            font-weight: bold
            background: #00ff00
            padding: 0 5px
         &::before
            content: ""
            background-image: url(https://cdn.comfy.ua/media/x/img3/lpapple/str.svg)
            background-repeat: no-repeat
            background-size: cover
            width: 41px
            height: 40px
            position: absolute
            left: 0
            top: 15px
   img
      display: block
      max-width: 100%
      margin: 0 auto
.main-container.page
   padding-left: 0
   padding-right: 0
.breadcrumbs
   display: none
//end default styles
.apple-header
   max-width: 1440px
   margin: 0 auto
   background: #fff
   padding: 56px 80px
.apple-header__flex
   display: flex
   flex-direction: row
   align-items: center
   padding: 55px 0 40px 0
.apple-header__list
   max-width: 470px
.apple-header__sale
   display: flex
   flex-direction: column
   align-items: center
   padding-bottom: 50px
.apple-grid-container
   padding: 32px 30px
   max-width: 1440px
   margin: 0 auto
.apple-grid
   display: grid
   margin-bottom: 32px
   &.apple-grid__2clmn
      grid-template-columns: 1fr 1fr
      grid-gap: 32px
   &.apple-grid__1clmn
      display: flex
.apple-grid__item
   border-radius: 24px
   background: #FFF
   padding: 40px
   display: flex
   align-items: center
   width: 100%
   overflow: hidden
.apple-grid__text
   font-family: "Roboto", sans-serif
   display: block
   font-size: 20px
   font-style: normal
   font-weight: 700
   line-height: normal
   text-transform: uppercase
   color: #616161
   padding-bottom: 20px
.apple-grid__p
   padding: 20px 0
.apple-grid__item-content
   overflow: hidden
.apple-grid__item-content.fl-center
   display: flex
   flex-direction: column
   align-items: center
   justify-content: center
   h3, p
      text-align: center
.apple-grid.apple-grid__1clmn
   .apple-grid__p
      max-width: 650px
   .apple-grid__item
      justify-content: space-between
.apple-grid
   &.apple-grid__1clmn
      &.imgbgrd
         position: relative
         min-height: 780px
         &::before
            content: ""
            background-image: url(https://cdn.comfy.ua/media/x/img3/lpapple/img4.png)
            background-position: left bottom
            background-repeat: no-repeat
            background-size: cover
            width: 1103px
            height: 678px
            position: absolute
            left: 130px
            top: 0
         .apple-grid__item
            align-items: flex-start
            padding: 95px 0 0 17%
.apple-grid.apple-grid__1clmn.apple-grid__1clmn--center .apple-grid__item
   justify-content: center
   padding: 95px 40px
.apple-grid.apple-grid__1clmn.apple-grid__1clmn--center .apple-grid__p
   max-width: 905px
.apple-grid__grid-table
   display: grid
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr
   grid-gap: 22px
   padding-top: 56px
.apple-grid__grid-table-text1
   font-family: "Roboto", sans-serif
   color: #000
   text-align: center
   font-size: 24px
   font-style: normal
   font-weight: 500
.apple-grid__grid-table-img
   border-top: 1px solid #CCC
   border-bottom: 1px solid #CCC
   margin: 16px 0 24px 0
.apple-grid__grid-table-colors
   display: flex
   align-items: center
   justify-content: center
   grid-gap: 12px
   padding-bottom: 26px
.colors_1
   width: 24px
   height: 24px
   background: #7D7E80
   border-radius: 50%
.colors_2
   width: 24px
   height: 24px
   background: #E3E4E6
   border-radius: 50%
.colors_3
   width: 24px
   height: 24px
   background: #F3D5C4
   border-radius: 50%
.colors_4
   width: 24px
   height: 24px
   background: #303640
   border-radius: 50%
.apple-grid__grid-table__a
   a
      padding: 5px 16px !important
      font-size: 20px !important
.grid-table__txt2, .grid-table__txt1
   text-align: center
.grid-table__txt1
   color: #000
   font-family: "Roboto", sans-serif
   font-size: 16px
   font-style: normal
   font-weight: 400
   padding-top: 10px
.grid-table__txt2
   color: #000
   font-family: "Roboto", sans-serif
   font-size: 24px
   font-style: normal
   font-weight: bold
   padding: 10px 0
.apple-grid__grid-table__display.grid-table__item
   padding: 16px 0 28px 0
   height: auto
.grid-table__item
   height: 110px
.grid-table__txt2 ~ .grid-table__txt1
   padding-top: 0
.apple-grid__grid-table__cp.grid-table__item
   height: 120px
   display: flex
   flex-direction: column
   align-items: center
   justify-content: center
.apple-grid__grid-table__core_cp.grid-table__item, .apple-grid__grid-table__core_gp.grid-table__item
   display: flex
   flex-direction: column
   justify-content: flex-end
.apple-grid__grid-table__time.grid-table__item
   height: 130px
.apple-grid__grid-table__cp,
.apple-grid__grid-table__core_cp,
.apple-grid__grid-table__core_gp,
.apple-grid__grid-table__ram,
.apple-grid__grid-table__hdd,
.apple-grid__grid-table__time
   margin-bottom: 28px
.legal-information
   p
      font-size: 18px !important
      padding-bottom: 20px !important
      &:last-child
         padding-bottom: 0 !important
// end form
//media*******************
// @media (min-width: 1920px)
@media (max-width: 1366px)
   .apple-grid__grid-table-text1
      font-size: 22px
@media (max-width: 1200px)
   #lp-apple ul li
      font-size: 40px
   #lp-apple h3
      font-size: 35px
   #lp-apple a
      font-size: 28px
   .apple-grid-container
      padding: 20px 0
   .apple-grid.apple-grid__2clmn
      grid-gap: 20px
   .apple-grid
      margin-bottom: 20px
   .apple-grid.apple-grid__1clmn.imgbgrd::before
      left: 30px
   .apple-grid__grid-table__item
      width: 240px
   .apple-grid__table-wrap-scroll
      overflow: hidden
   .apple-grid__grid-table
      overflow: scroll
   .apple-grid__item
      padding: 40px 20px
// @media (max-width: 1024px)
@media (max-width: 812px)
   .apple-header
      padding: 56px 10px
@media (max-width: 480px)
   #lp-apple
      padding: 0
   .apple-header__flex
      flex-direction: column
      padding: 36px 0 20px 0
   #lp-apple ul li
      font-size: 34px
      padding-left: 45px
   #lp-apple ul li::before
      width: 24px
      height: 24px
   .apple-header__list
      max-width: 240px
   #lp-apple ul
      padding: 24px 0 0 0px
   #lp-apple h3
      font-size: 22px
   .apple-header__sale
      padding-bottom: 20px
   #lp-apple a
      font-size: 24px
   .apple-grid-container
      padding: 20px 16px
   .apple-grid.apple-grid__2clmn
      grid-template-columns: 1fr
      grid-gap: 16px
   #lp-apple p
      font-size: 16px
   .apple-grid__h3 h3
      font-size: 26px !important
   .apple-grid__text
      font-size: 14px
   .apple-grid__item.revrow
      flex-direction: column-reverse
   .apple-grid__item.revrow .apple-grid__item-img
      right: -27px
      position: relative
      top: -25px
      margin: -50px 0 0 0
   .apple-grid.apple-grid__1clmn.imgbgrd
      position: relative
      min-height: 400px
      overflow: hidden
   .apple-grid.apple-grid__1clmn.imgbgrd::before
      left: 15px
      width: 561px
      height: 433px
      top: -57px
   .apple-grid.apple-grid__1clmn.imgbgrd .apple-grid__item
      padding: 25px 0 0 65px
   .apple-grid.apple-grid__table .apple-grid__h3
      max-width: 170px
   .apple-grid__grid-table
      padding-top: 20px
   .apple-grid__grid-table-text1
      font-size: 20px
   .apple-grid__grid-table__cp, .apple-grid__grid-table__core_cp, .apple-grid__grid-table__core_gp, .apple-grid__grid-table__ram, .apple-grid__grid-table__hdd, .apple-grid__grid-table__time
      margin-bottom: 10px
   .legal-information p
      font-size: 14px !important
   .apple-grid.apple-grid__1clmn.apple-grid__1clmn--center .apple-grid__item
      padding: 90px 20px
// @media (max-width: 320px)
@media (max-width: 812px) and (orientation: landscape)
   #lp-apple ul li
      font-size: 30px
   #lp-apple h3
      font-size: 28px
   .apple-grid__item-content.fl-center .apple-grid__text
      text-align: center
   #lp-apple p
      font-size: 20px
   .apple-grid.apple-grid__1clmn.imgbgrd
      min-height: 500px
   .apple-grid.apple-grid__1clmn.imgbgrd::before
      top: -220px
   .apple-grid.apple-grid__1clmn.imgbgrd
      overflow: hidden
