// @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap')

// body
//    margin: 0

.rkt-philips-bhd538-30-serii-5000__container
   overflow: hidden

.bc-description__content p:first-letter
   padding-left: 0 !important

$bp-mobile: 320px
$bp-tablet: 768px
$bp-hd-desktop: 1024px
$maxWidthContainer: 1023

@mixin adaptiv-value($property, $startSize, $minSize)
   $addSize: $startSize - $minSize
   #{$property}: $startSize + px
   @media (max-width: #{$maxWidthContainer + px})
      #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}))

#rkt-philips-bhd538-30-serii-5000
   // margin: 0 auto
   // display: grid
   // grid-template-columns: calc(100% - 400px) 400px
   // max-width: 1406px
   // font-family: 'Roboto', sans-serif
   max-width: 1023px
   width: 100%
   height: auto
   position: relative
   overflow: hidden
   background: #fff
   h2, h3, h4, h5, h6, p
      margin: 0
      padding: 0
      line-height: 1.2
   ul
      margin: 0
      padding: 0
      list-style-type: disc
      padding-left: 20px
      margin: 0.5rem 0
      display: flex
      flex-direction: column
      gap: .5em
   img
      display: block
      max-width: 100%
      opacity: 1
      margin: 0 auto
      &:hover
         opacity: 1
   h2
      @include adaptiv-value("font-size", 26, 20)
      font-weight: 900
      text-align: left
      margin-bottom: 1rem
      sup
         font-size: 14px
   h3
      @include adaptiv-value("font-size", 20, 18)
      font-weight: 900
      text-align: left
      margin-bottom: .5rem
      color: #B40465
      sup
         font-size: 12px
   p
      @include adaptiv-value("font-size", 16, 14)
      font-weight: 400
      text-align: left
      sup
         font-size: 10px
   li
      @include adaptiv-value("font-size", 16, 14)
      font-weight: 400
      text-align: left
      line-height: 1.2
   i
      line-height: 1.2
      @include adaptiv-value("font-size", 16, 14)
      margin-top: 0.5rem
      display: block
      font-style: italic
   video
      display: block
      max-width: 100%
      height: auto

//philips__logo

.philips__logo
   position: relative

.philips__logo__i
   position: absolute
   left: 2em
   top: 0
   img
      margin: 0 !important
      width: 70%

.philips__logo__abs
   position: absolute
   bottom: 2em
   left: 2em
   color: #fff
   width: 40%
   text-shadow: 1px 4px 15px black

.philips__title
   padding-bottom: 40%

//philips__tech

.philips__tech
   display: flex
   align-items: flex-end

.philips__tech__items
   display: flex
   flex-direction: column
   gap: 1em
   margin-right: -32%
   padding-left: 2em
   padding-bottom: 20%

.philips__tech__item
   display: flex
   align-items: center
   gap: 1em

.philips__tech__i
   flex-basis: 80px
   min-width: 80px

//compact

.compact
   margin-top: -7%
   .philips__pink
      margin-bottom: 2em

.philips__pink
   color: #B40465
   h2
      text-align: center !important

//no__damage

.no__damage
   margin-top: -7%

.no__damage__cont
   padding: 0 2em 1em
   p
      text-align: center !important

//drying

.drying
   padding: 2em

.drying__row
   display: flex
   gap: 4em
   .drying__cont
      padding: 2em 0 0
   &:last-of-type
      align-items: flex-end
      flex-direction: row-reverse
      margin-top: -20%
      .drying__cont
         padding: 0 0 2em

.drying__img
   flex-basis: 45%

.drying__cont
   flex-basis: 55%

.drying__img video
   width: auto
   max-height: 395px
   border-radius: 50%

//philips__result

.philips__result
   padding: 2em

.philips__result__wrap
   position: relative

.philips__result__item
   position: absolute
   display: flex
   flex-direction: column
   gap: 1em
   &:nth-of-type(n+2)
      .philips__result__video video
         border: solid 1.57px #868686
         box-sizing: border-box
   &:nth-of-type(1)
      top: 32%
      left: 14%
      width: 30%
   &:nth-of-type(2)
      right: 1.7%
      top: 40%
      width: 35%
   &:nth-of-type(3)
      bottom: -2%
      left: 5%
      width: 30%
      .philips__result__video video
         width: 80%
.philips__result__video
   overflow: hidden
   video
      border-radius: 50%
      width: 100%

.philips__result__i
   img
      margin: 0 !important
      width: 50%

//philips__table

.philips__table
   padding: 2em 15px
   h2
      text-align: center !important

.table__grid__two
   display: grid
   grid-template-columns: repeat(3, 1fr)
   gap: 6em
   margin-bottom: 0.5em
   p
      text-align: center !important
      margin-top: 10px !important

.table__grid
   display: grid
   grid-template-columns: repeat(3, 1fr)
   grid-template-areas: "cal1 cal1 cal1" "cal2 cal3 cal4"
   gap: 0 6em
   >div
      padding: 0.5em
      &:nth-of-type(1)
         grid-area: cal1
         background: rgba(138, 10, 94, 0.11)
      &:nth-of-type(n+2)
         p
            text-align: center !important
      &:nth-of-type(2)
         grid-area: cal2
      &:nth-of-type(3)
         grid-area: cal3
      &:nth-of-type(4)
         grid-area: cal4

.table__marker
   font-size: 32px !important
   font-weight: bold !important
   line-height: 18px !important

.table__note
   padding-top: 2em
   p
      font-size: 12px !important

//*********************************media*************************

@media (min-width: $bp-mobile) and (max-width: 767.9px)
   // #rkt-philips-bhd538-30-serii-5000
   //    display: block !important

   .philips__logo__abs
      position: unset
      width: 100%
      padding: 1em
      box-sizing: border-box
      color: #000
      text-shadow: unset
      h2,p
         text-align: center !important
   .philips__title
      padding-bottom: unset !important
   .philips__logo__img
      position: relative

   .drying__row
      flex-direction: column-reverse !important
      gap: 1em !important
      h3,p
         text-align: center !important
   .drying__row:last-of-type
      margin-top: 2em !important
   .drying__cont
      padding: unset !important

   .philips__result__i img
      width: unset

   .table__scroll
      overflow-x: scroll
   .table__wrap
      min-width: 720px

@media (min-width: $bp-tablet) and (max-width: 1023.9px)
   // #rkt-philips-bhd538-30-serii-5000
   //    display: block

   .philips__result__img img
      width: 60vw
   .philips__result__item:nth-of-type(1)
      top: 29%
      left: 7%
   .philips__result__item:nth-of-type(1),
   .philips__result__item:nth-of-type(3)
      .philips__result__txt
         margin-right: -31%

@media (min-width: $bp-mobile) and (max-width: 767.9px), (min-width: $bp-hd-desktop) and (max-width: 1201px)
   // #rkt-philips-bhd538-30-serii-5000
   //    display: grid
   //    grid-template-columns: calc(100% - 400px) 400px

   .philips__logo__i
      left: 1em
      img
         width: 50%
   .philips__logo__abs
      left: 1em
   .philips__title
      padding-bottom: 15%

   .philips__tech
      flex-direction: column
      align-items: unset
   .philips__tech__items
      padding: 1em
      margin-right: unset
   .philips__tech__img img
      max-height: 600px

   .no__damage__cont
      padding: 0 1em 1em

   .drying
      padding: 1em 1em
   .drying__row
      gap: 2em
   .drying__row:last-of-type
      margin-top: -6%

   .philips__result
      padding: 2em 1em
   .philips__result__items
      display: flex
      flex-direction: column
      gap: 2em
      margin-bottom: 2em
   .philips__result__item
      position: unset
      width: 100% !important
      flex-direction: column-reverse
      p
         text-align: center !important
   .philips__result__i img
      margin: 0 auto !important
      max-height: 296px
      max-width: 296px !important
   .philips__result__video video
      max-width: 296px !important
      margin: 0 auto !important
   .philips__result__img img
      max-height: 600px

   .table__grid__two
      gap: 2em
   .table__grid
      gap: 0 2em

@media (min-width: 1201px) and (max-width: 1341px)
   .philips__result
      padding-right: 1em
      padding-left: 1em
      p
         font-size: 14px !important
   .philips__result__item:nth-of-type(3)
      bottom: unset
      top: 59%
