#rowentas-allergy
   display: block
   margin: 0 auto
   max-width: 1316px
   width: 100%
   overflow: hidden
   background: #fff
   position: relative
   font-size: 22px
	
   img
      opacity: 1
      &:hover
         opacity: 1
   &:first-letter
      padding-left: 0
   p
      margin-bottom: 0
   img
      display: block
      margin-right: initial
      margin-left: initial
   p
      font-size: 18px
      display: block
   h2
      font-size: 26px
      letter-spacing: 3px
      line-height: 1.1
      padding-bottom: 15px
   h3
      margin: 0
      font-size: 19px
      letter-spacing: 2px
      padding-bottom: 5px
      padding-top: 0
      font-weight: bold
      text-align: inherit
   h4
      margin: 0
      font-size: 19px
      letter-spacing: 2px
      padding-bottom: 10px
      padding-top: 15px
span.word-wrap 
   display: block
   word-wrap: break-word

span.fw-bold
   font-weight: bold

// default style END
