/*default styles*/
#twinkly {
  max-width: 1316px;
  width: 100%;
  margin: 0 auto;
  height: auto;
  display: block;
  background-color: #000;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

#twinkly p {
  margin-bottom: 0;
  margin: 0;
  font-size: 18px;
  color: #fff;
}

#twinkly p:first-letter {
  padding-left: 0;
}

#twinkly h2 {
  display: block;
  line-height: normal;
  font-size: 50px;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

#twinkly img {
  opacity: 1;
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
  min-width: 800px;
}

#twinkly img:hover {
  opacity: 1;
}

#twinkly ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.features-desc__text img {
  margin-bottom: 0rem;
}

.one-col .features-desc__text p:first-letter {
  padding-left: 0rem !important;
}

/*end default styles*/
#twinkly {
  /* Slideshow container */
}

#twinkly .slideshow-container {
  max-width: 1316px;
  position: relative;
  margin: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}

#twinkly .slideshow-container video {
  max-width: 100%;
}

#twinkly .txt {
  text-align: center;
  padding: 40px 20px;
  max-width: 800px;
  margin: 0 auto;
}

#twinkly .twinkly__img > div:last-of-type {
  margin-top: 40px;
}

#twinkly .small img {
  max-width: 720px;
}

#twinkly .twinkly__video iframe {
  width: 100%;
  max-width: 800px;
  height: -webkit-calc( 10vw * 3);
  height: -moz-calc( 10vw * 3);
  height: calc( 10vw * 3);
  margin: 0 auto;
  display: block;
  margin-bottom: 40px;
}

@media (max-width: 812px) {
  #twinkly .twinkly__video iframe {
    height: -webkit-calc( 10vw * 6);
    height: -moz-calc( 10vw * 6);
    height: calc( 10vw * 6);
  }
}

@media (max-width: 800px) {
  #twinkly img {
    min-width: unset;
  }
  #twinkly .small img {
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  #twinkly p {
    font-size: 16px;
  }
}
