#cms-gbonus
   display: block
   margin: 0 auto
   max-width: 1366px
   width: 100%
   height: auto
   overflow: hidden
   background: #43B02A
   position: relative
   img
      &:hover
         opacity: 1
   &:first-letter
      padding-left: 0
   img
      display: block
      margin-right: initial
      margin-left: initial
   p
      font-size: 20px
      font-weight: bold
      color: #000
      margin-bottom: 0
   h2
      font-size: 24px
      line-height: 1
      color: #000
      font-weight: bold
   h3
      font-size: 36px
      margin: 0
      padding-top: 0
      line-height: 1
      font-weight: bold
      color: #fff
span.word-wrap
   display: flex
   align-items: center
   justify-content: center
   padding-top: 5px
span.fw-bold
   font-weight: bold
span.tx-uppercase
   text-transform: uppercase
.features-desc__text h2
   text-align: inherit
.one-col .features-desc__text p
   text-align: inherit
// default
.cms-gbonus__bgrd
   background-image: url(https://cdn.comfy.ua/media/x/img2/gbonus/uaimg1.png)
   background-position: left top
   background-repeat: no-repeat
   background-size: cover
   width: 100%
   height: 520px
   position: relative
.cms-gbonus__h2
   position: absolute
   bottom: 85px
   left: 145px
   text-align: center
   &.onlydesk
      display: block
   &.onlymob
      display: none
   a
      color: #43B02A
      font-size: 24px
      text-decoration-line: underline
      background: #fff
      padding: 8px 35px 8px 12px
      display: inline-block
      border-radius: 4px
      margin-left: 5px
      position: relative
      &::before
         content: ""
         background-image: url(https://cdn.comfy.ua/media/x/img2/gbonus/icon3.svg)
         background-repeat: no-repeat
         background-size: cover
         width: 18px
         height: 18px
         position: absolute
         right: 12px
         top: 12px
.cms-gbonus__grid
   display: grid
   grid-template-columns: 1fr 1fr
   grid-gap: 30px
   max-width: 960px
   margin-top: 24px
   margin: 0 auto
.cms-gbonus__item
   display: flex
   align-items: center
   padding: 10px 24px
   background: #FFFFFF
   border-radius: 20px
   p
      margin-left: 24px
.cms-gbonus__elips
   background: linear-gradient(180deg, #FF671F 0%, #FDAE55 100%)
   width: 100px
   height: 100px
   display: flex
   align-items: center
   justify-content: center
   flex: 1 0 100px
   border-radius: 50%
.cms-gbonus__h3
   text-align: center
   padding-top: 40px
.cms-gbonus__img
   padding: 0 35px 8px 0
   margin-top: -35px
   img
      margin: 0 0 0 auto !important
   &.onlydeskimg
      display: block
   &.onlymobimg
      display: none
// media
// @media (max-width: 1250px)
// @media (max-width: 1024px)
@media (max-width: 812px)
   .cms-gbonus__bgrd
      background-position: -86px 100%
      background-size: cover
      height: 360px
   .cms-gbonus__h2
      position: absolute
      bottom: 40px
      left: 30px
   #cms-gbonus h2
      font-size: 20px
   .cms-gbonus__h2 a
      font-size: 20px
   .cms-gbonus__h2 a::before
      width: 15px
      height: 15px
   .cms-gbonus__grid
      padding: 15px
   .cms-gbonus__h3
      padding-top: 20px
   .cms-gbonus__img
      padding: 0 20px 8px 0
      margin-top: 0
   #cms-gbonus p
      font-size: 18px
@media (max-width: 480px)
   .cms-gbonus__bgrd
      background-image: url(https://cdn.comfy.ua/media/x/img2/gbonus/uaimg1mob.png)
      background-position: center
      height: 374px
   .cms-gbonus__grid
      grid-template-columns: 1fr
      grid-gap: 12px
      padding: 15px 15px 0 15px
   .cms-gbonus__h2
      position: relative
      bottom: 0
      left: 0
      text-align: center
      padding-top: 5px
      &.onlydesk
         display: none
      &.onlymob
         display: block
   #cms-gbonus h2
      font-size: 16px
      color: #fff
   .cms-gbonus__h2 a
      font-size: 16px
   .cms-gbonus__elips img
      max-width: 34px
      width: 100%
      height: auto
   .cms-gbonus__elips
      width: 61px
      height: 61px
      flex: 1 0 61px
   .cms-gbonus__item p
      margin-left: 14px
   #cms-gbonus p
      font-size: 15px
   #cms-gbonus h3
      font-size: 20px
   .cms-gbonus__h3
      padding-top: 10px
      padding-bottom: 24px
   .cms-gbonus__img
      padding: 0 15px 0px 15px
      margin-top: -0
      img
         margin: 0 auto !important
      &.onlydeskimg
         display: none
      &.onlymobimg
         display: block
   .cms-gbonus__h2 a::before
      top: 9px
