/* style default */

#wrapper-tn6000-product {
   max-width: 1316px;
   width: 100%;
   display: block;
   margin: 0 auto;
   background: #fff;
}

#container-airon-simple p:first-letter {
   padding-left: 0;
}

#container-airon-simple p {
   margin-bottom: 0;
}

.features-desc__text p {
   margin-bottom: 0rem !important;
}

#container-airon-simple img:hover {
   opacity: 1;
}

#container-airon-simple img {
   opacity: 1;
   max-width: 100%;
}

.features-desc__text img {
   margin-bottom: 0rem !important;
}

.one-col .features-desc__text p:first-letter {
   padding-left: 0rem !important;
}

/* style default END*/



/* sect1 */

.container-header {}

.row-header-logo {
   border-bottom: 25px solid #2f3e49;
}

.row-header-logo img {
   display: block;
   max-width: 100%;
   margin: 0 auto;
   padding: 25px 15px;
}

.row-header-flex {
   background-color: #78bde7;
   display: block;
   position: relative;
   height: 685px;
   overflow: hidden;
}

.row-header-flex .item:nth-child(1) {}

.row-header-flex .item:nth-child(2) {}

.row-header-flex .item.left-block-img {
   float: left;
   display: block;
   position: absolute;
   left: 0;
   top: 0;
   z-index: 9;
}

.row-header-flex .item.left-block-img img {}

.row-header-flex .item.right-block-img {
   z-index: 11;
   position: relative;
   padding-top: 10rem;
}

.row-header-flex .item.right-block-img h2 {
   text-shadow: 8px 2px 3px black;
   font-size: 120px;
   color: #fff;
   font-weight: bold;
   text-align: right;
   line-height: 1;
   margin-right: 10rem;
   font-style: oblique;
}

.row-header-flex .item.right-block-img h2.span_txt_small {
   font-size: 60px;
   margin-top: 15px;
}

.row-header-flex .item.right-block-img h2:nth-child(1) {}

.row-header-flex .item.right-block-img h2:nth-child(2) {
   padding-right: 2rem;
}

.row-header-flex .item.right-block-img h2:nth-child(3) {
   padding-right: 4rem;
}

.row-header-flex .item.right-block-img h2:nth-child(4) {
   padding-right: 2rem;
}

/* sect1 END */

/* sect2 */

.container-advantages {}

.row-advantages-flex {
   display: flex;
   flex-direction: row;

}

.row-advantages-flex .item.adv:nth-child(1) {
   flex: 1 1 40%;
}

.row-advantages-flex .item.adv:nth-child(2) {
   flex: 1 1 60%;
}

   /* left-block-advantages-flex */
   .left-block-advantages-flex {
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   .left-block-advantages-flex .item.lineGradiend {
      flex: 1 1 0;
      width: 100%;
      height: 100%;
      padding: 15px 5rem;
      min-height: 125px;
      display: flex;
      align-items: center;
   }

   .left-block-advantages-flex .item.lineGradiend .content_block {}

   .left-block-advantages-flex .item.lineGradiend .content_block h2 {
      font-size: 3.5rem;
      color: #fff;
      line-height: 1;
   }

   .left-block-advantages-flex .item.lineGradiend .content_block p {
      font-size: 20px;
      color: #28afe5;
   }

   .left-block-advantages-flex .lineGradiend:nth-child(1) {
      background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
   }

   .left-block-advantages-flex .lineGradiend:nth-child(2) {
      background-color: #595f67;
   }

   .left-block-advantages-flex .lineGradiend:nth-child(3) {
      background: linear-gradient(to right, rgba(26,34,42,1) 0%,rgba(86,94,100,1) 100%);
   }

   /* left-block-advantages-flex END */

   /* right-block-advantages-flex */

   .right-block-advantages-flex {
      display: flex;
      flex-direction: row;
   }
   .right-block-advantages-flex .item.adv2 {
      flex: 1 1 0;
      position: relative;
   }
   .right-block-advantages-flex .item.adv2:nth-child(1) {
      background-image: url(https://cdn.comfy.ua/media/x/img/1457515/2.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 375px;
   }
   .right-block-advantages-flex .item.adv2:nth-child(2) {
      background-image: url(https://cdn.comfy.ua/media/x/img/1457515/3.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 375px;
   }
   .right-block-advantages-flex .item.adv2:nth-child(3) {
      background-image: url(https://cdn.comfy.ua/media/x/img/4_1_.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 375px;
   }

   .right-block-advantages-flex .item.adv2 img {
      max-height: 400px;
   }
   .right-block-advantages-flex .item.adv2 .content-pos-bl {
      position: absolute;
      bottom: 20px;
      padding: 0 15px;
      text-align: center;
      margin: 0 auto;
      width: 100%;
   }

   .right-block-advantages-flex .item.adv2 .content-pos-bl p {
      font-size: 20px;
      color: #fff;
      text-transform: uppercase;
   }

   .right-block-advantages-flex .item.adv2 .content-pos-bl p span.big_size {
      font-size: 30px;
      color: #fff;
      text-transform: uppercase;
      font-weight: bold;
   }

   /* right-block-advantages-flex END */

/* sect2 END */

/* sect3 END */

.container-forever {}
.row-forever {}
.row-forever.bg_img1 {
   background: linear-gradient(135deg, rgba(51,198,247,1) -10%,rgb(131, 197, 219) 100%)

}
.row-forever .content-block {
   width: 100%;
   max-width: 1030px;
   margin: 0 auto;
   position: relative;
   padding: 0 15px;
}

.row-forever .content-block h2 {
   font-size: 5.5rem;
   text-align: center;
   padding-top: 4rem;
   color: #192128;
}

.row-forever .content-block .cont-flex-content {
   display: flex;
   flex-direction: row;
   align-items: center;
}

.row-forever .content-block .cont-flex-content .iteam:nth-child(1) {
   flex: 1 1 55%;
}

.row-forever .content-block .cont-flex-content .iteam:nth-child(2) {
   flex: 1 1 45%;
}
.row-forever .content-block .cont-flex-content .iteam img {
   margin: 0 auto;
   display: block;
}
.row-forever .content-block .cont-flex-content .iteam p {
   font-size: 2.3rem;
   color: #fff;
}
.pos_text_bottom {
   position: absolute;
   bottom: 20px;
   color: #fff;
   display: block;
}

.pos_text_bottom i {
   display: block;
   font-size: 1.5rem;
}

/* sect3 */

/* sect4 */

.container-product-benefits {
   padding: 50px 15px;
}
.container-product-benefits h2.topblgl {
   color: #7f7f7f;
   font-size: 4.5rem;
   text-align: center;
   font-weight: normal;
   font-style: oblique;
   margin-bottom: 5rem;
   line-height: 1.1;
}
.container-product-benefits h2.topblgl span.gycolor {
   font-weight: bold;
   font-style: normal;
}

.row-product-benefits {
   width: 100%;
   max-width: 1100px;
   display: block;
   margin: 0 auto;
}
.row-product-benefits.block-flex {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
}
.row-product-benefits.block-flex .item {
   flex: 1 1 0;
   text-align: center;
   padding: 5px 5px;
}
.row-product-benefits.block-flex .item img {}
.row-product-benefits.block-flex .item h2 {
   font-size: 2.1rem;
   color: #3ec6ed;
   text-transform: uppercase;
   line-height: 1.1;
   padding: 20px 0;
   height: 90px;
}
.row-product-benefits.block-flex .item p {
   color: #949494;
   font-size: 1.8rem;
}


/* sect4 END */


/* sect5 */

.container-footer {
   background-color: #192128;
}
.row-footer {
   padding: 50px 15px;
}
.row-footer.bg_color {}

.row-footer h2 {
   color: #fff;
   font-size: 4.5rem;
   text-align: center;
   font-weight: normal;
   font-style: oblique;
   margin-bottom: 5rem;
   text-transform: uppercase;
   line-height: 1.1;
}
.row-footer h2 span.whcolor {
   font-weight: bold;
   font-style: normal;
}
.content-block-flex {
   display: flex;
   flex-direction: row;
   align-items: center;
   width: 100%;
   max-width: 1100px;
   margin: 0 auto;
}
.content-block-flex .item {
   flex: 1 1 0;
}
.content-block-flex .item p {
   font-size: 1.8rem;
   padding: 15px;
   color: #fff;
}
.content-block-flex .item img {}

/* sect5 END */

/* media */

@media screen and (min-width: 320px) and (max-width: 480px) {
   .row-header-flex .item.right-block-img {
      padding-top: 15px;
   }
   .row-header-flex .item.right-block-img h2 {
      font-size: 40px;
      margin-right: 0;
      margin-left: 15px;
      text-align: left;
   }
   .row-header-flex .item.right-block-img h2.span_txt_small {
      font-size: 25px;
   }
   .row-header-flex {
      height: 545px;
   }
   .row-advantages-flex {
      flex-direction: column;
      }
   .row-advantages-flex .item.adv:nth-child(1) {
      flex: 1 1 100%;
   }
   .row-advantages-flex .item.adv:nth-child(2) {
      flex: 1 1 100%;
   }
   .left-block-advantages-flex .item.lineGradiend { min-height: 150px;}
   .right-block-advantages-flex { flex-direction: column;}
   .right-block-advantages-flex .item.adv2 {
      flex: inherit;
   }

   .row-forever .content-block h2 {
      font-size: 3.5rem;
   }
   .row-forever .content-block .cont-flex-content {
      flex-direction: column;
   }
   .pos_text_bottom {
      position: relative;
      margin-top: 25px;
      padding-bottom: 25px;
  }
  .pos_text_bottom i {
      font-size: 1.9rem;
   }
   .row-forever .content-block h2 {
      padding-bottom: 25px;
  }
  .row-product-benefits.block-flex .item {
      flex: 1 1 100%;
   }
   .content-block-flex {
      flex-direction: column-reverse;
   }
   .content-block-flex .item p {
      padding: 10px 0px;
   }
   .row-footer h2 {
      font-size: 2.5rem;
   }
   .row-product-benefits.block-flex .item {
      padding: 5px 0px;
   }
   .container-product-benefits h2.topblgl {
      font-size: 3.5rem;
   }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
   .row-product-benefits.block-flex .item {
      flex: 1 1 50%;
   }
   .content-block-flex {
      flex-direction: column-reverse;
   }
   .row-header-flex .item.right-block-img {
      padding-top: 1rem;
   }
   .row-header-flex .item.right-block-img h2 {
      font-size: 80px;
   }
   .left-block-advantages-flex .item.lineGradiend {
      padding: 15px 2rem;
   } 
   .row-header-flex {
      height: 561px;
   }
   .row-header-flex .item.left-block-img img {
      width: 385px;
   }
   .right-block-advantages-flex .item.adv2 .content-pos-bl {
      bottom: inherit;
      top: 35px;
   }
   .left-block-advantages-flex .item.lineGradiend {
      min-height: 160px;
   }
   .row-advantages-flex .item.adv:nth-child(1) {
      flex: 1 1 50%;
   }
   .row-advantages-flex .item.adv:nth-child(2) {
      flex: 1 1 50%;
   }
   .right-block-advantages-flex { flex-direction: column;}
   .right-block-advantages-flex .item.adv2 {
      flex: inherit;
   }
   .right-block-advantages-flex .item.adv2:nth-child(1) {height: 160px; width: 100%;}
   .right-block-advantages-flex .item.adv2:nth-child(2) {height: 160px; width: 100%;}
   .right-block-advantages-flex .item.adv2:nth-child(3) {height: 160px; width: 100%;}

   .row-forever .content-block h2 {
      font-size: 4.5rem;
   }

   .pos_text_bottom {
      position: relative;
      margin-top: 25px;
   }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {}