/*default styles*/
#bosch {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  height: auto;
  display: block;
  background-color: #fff;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#bosch p {
  margin-bottom: 0;
  margin: 0;
}

#bosch p:first-letter {
  padding-left: 0;
}

#bosch h2 {
  display: block;
  line-height: normal;
  font-size: 34px;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

#bosch img {
  opacity: 1;
  max-width: 100%;
  display: block;
  height: auto;
}

#bosch img:hover {
  opacity: 1;
}

#bosch ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.features-desc__text img {
  margin-bottom: 0rem;
}

.one-col .features-desc__text p:first-letter {
  padding-left: 0rem !important;
}

/*end default styles*/
#bosch .logo {
  position: relative;
}

#bosch .logo .logo_title {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#bosch .logo .logo_title .logo_title_img {
  margin-right: 20px;
}

#bosch .logo .logo_title .logo_title_img img {
  max-width: 400px;
}

#bosch .logo .logo_title .logo_title_txt {
  padding: 20px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#bosch .bosch_cont .bosch_list li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#bosch .bosch_cont .bosch_list li > div {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
     -moz-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  max-width: 50%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#bosch .bosch_cont .bosch_list li .bosch_list_txt {
  padding: 40px;
}

#bosch .bosch_cont .bosch_list li .bosch_list_txt span {
  display: block;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}

#bosch .bosch_cont .bosch_list li:nth-of-type(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
     -moz-box-orient: horizontal;
     -moz-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

#bosch .bosch_cont .bosch_list li:nth-of-type(even) .bosch_list_txt {
  text-align: right;
}

#bosch .bosch_cont .bosch_list li ul {
  margin-bottom: 10px;
}

#bosch .bosch_cont .bosch_list li ul li {
  list-style-type: disc;
  display: list-item;
}

#bosch .bosch_cont .bosch_list h2 {
  text-align: center;
  margin: 50px 0;
}

#bosch .germany {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0;
}

#bosch .germany > div {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
     -moz-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  max-width: 50%;
}

#bosch .germany .germany_txt {
  padding: 0 40px;
  text-align: center;
}

#bosch .germany .germany_txt span {
  display: block;
  line-height: normal;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

/*media********************************************************/
@media (max-width: 812px) {
  #bosch .logo .logo_title .logo_title_img img {
    max-width: 250px;
  }
  #bosch h2 {
    font-size: 24px;
  }
}

@media (max-width: 480px) {
  #bosch .logo .logo_title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: unset;
    text-align: center;
  }
  #bosch .bosch_cont .bosch_list li {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -webkit-flex-direction: column !important;
       -moz-box-orient: vertical !important;
       -moz-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  #bosch .bosch_cont .bosch_list li > div {
    max-width: 100%;
  }
  #bosch .bosch_cont .bosch_list li .bosch_list_txt {
    padding: 20px;
    text-align: center !important;
  }
  #bosch .germany {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #bosch .germany > div {
    max-width: 100%;
  }
  #bosch .germany .germany_txt {
    padding: 20px;
  }
  #bosch .bosch_cont .bosch_list li ul li {
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    margin: 0 auto;
  }
}
