/* default CSS  */

#wrapper-product-procam8 {
   display: block;
   margin: 0 auto;
   max-width: 1316px;
   width: 100%;
   background: #fff;
}

#wrapper-product-procam8 p:first-letter {
   padding-left: 0;

}

#wrapper-product-procam8 p {
   margin-bottom: 0;
}

#wrapper-product-procam8 img:hover {
   opacity: 1;
}

#wrapper-product-procam8 img {
   display: block;
   margin-right: initial;
   margin-left: initial;
}

#wrapper-product-procam8 .content-h3row__content {
   padding: 5rem 15px 5rem 15px;
   text-align: center;
   margin: 0 auto;
}

#wrapper-product-procam8 h2 {
   color: #fff;
   font-size: 50px;
   font-weight: bold;
   text-align: left;
   line-height: 1;
}

#wrapper-product-procam8 h3 {
   color: #fff;
   font-size: 30px;
   font-weight: bold;
   text-align: left;
   line-height: 1;
}

#wrapper-product-procam8 ul {
   list-style-type: disc;
   padding-left: 3rem;
}

#wrapper-product-procam8 ul li {
   position: relative;
   padding-left: 1rem;
   font-size: 21px;
   color: #fff;
   line-height: 1.3;
   padding-bottom: 5px;
}

#wrapper-product-procam8 p {
   font-size: 25px;
   color: #fff;
}

.features-desc__text img {
   margin-bottom: 0rem !important;
}

span.word-wrap {
   display: block;
   word-wrap: break-word;
}

.padding-size-cont {
   padding: 15px 15rem;
}

.bg1 {
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
   width: 100%;
   height: 874px;
}

.container-gif {}
#wrapper-product-procam8 .container-gif img {
   margin-right: auto;
   margin-left: auto;
}

/* default CSS END */

/* container-procam */

.container-procam {}
.row-procam.bg1 {
   background-image: url(https://cdn.comfy.ua/media/x/img/1551335/img1.png);
}

.procam__content-top {
   position: relative;
   left: 0;
   top: 12rem;
   float: left;
   max-width: 465px;
}
.procam__content-top h2 {}

.procam__content-bottom {
   position: absolute;
   right: 12rem;
   bottom: 12rem;
   max-width: 500px;
   text-shadow: 0 0 5px black;
}
.procam__content-bottom p {
   text-shadow: 0 0 5px black;
}

/* container-procam END */

/* container-onthebike */

.row-onthebike.bg1 {
   background-image: url(https://cdn.comfy.ua/media/x/img/1551335/_2.png);
}

.onthebike__content {
   margin: 0 auto;
   max-width: 835px;
   position: relative;
   top: 50%;
   transform: translateY(-50%);
   box-shadow: 0 0 20px 3px black;
   background: rgba(255, 255, 255, 0.05);
   padding: 15px;
}

.onthebike__content p {
   text-shadow: 0 0 5px black;
   font-size: 22px !important;
}
.onthebike__content ul li {
   text-shadow: 0 0 5px black;
}
.onthebike__content h2 {
   text-shadow: 0 0 10px black;
   padding-bottom: 15px;
}

/* container-onthebike END */

/* container-underwater */

.container-underwater {}
.row-underwater.bg1 {
   background-image: url(https://cdn.comfy.ua/media/x/img/1551335/_3.png);
}

.underwater__content {
   position: relative;
   left: 0;
   top: 50%;
   bottom: 0;
   max-width: 500px;
   margin: auto 0 0 0;
   transform: translateY(15%);
}

.underwater__content p {
   text-shadow: 0 0 5px black;
}

/* container-underwater END */

/* container-accessories */

.accessories__content {
   background: #2c73a9;
   padding: 15px 12rem;
}
.accessories__content p {}
.accessories__content p:first-child {}

/* container-accessories END */

/* container-pubmuvie */

.container-pubmuvie {}
.row-pubmuvie.bg1 {
   background-image: url(https://cdn.comfy.ua/media/x/img/1551335/_5.png);
}
.pubmuvie__content {
   background: linear-gradient(to bottom, rgba(189,202,255,1) 20%,rgba(239,233,255,1) 80%);
   padding: 15px 12rem;
}
.pubmuvie__content p {
    text-shadow: 0 0 1px black;
    color: #000 !important;
}
.pubmuvie__content h2 {
   text-shadow: 0 0 1px black;
   color: #2f2f2f !important;
   padding-bottom: 15px;
}

/* container-pubmuvie ENd */

@media screen and (min-width: 320px) and (max-width: 480px) {
   #wrapper-product-procam8 h2 {
      font-size: 30px;
   }
   #wrapper-product-procam8 h3 {
      font-size: 19px;
   }
   #wrapper-product-procam8 p {
      font-size: 18px;
   }
   #wrapper-product-procam8 ul li {
      font-size: 17px;
   }
   .pubmuvie__content {
      padding: 15px 2rem;
   }
   .padding-size-cont {
      padding: 15px 2rem;
   }
   .accessories__content {
      padding: 15px 2rem;
   }
   .procam__content-top {
      position: relative;
      left: 0;
      top: 0;
      float: left;
      max-width: 465px;
      padding-top: 25px;
   }
   .procam__content-bottom {
      position: relative;
      right: 0;
      bottom: 0;
      max-width: 500px;
      text-shadow: 0 0 5px black;
   }
   .bg1 {
      height: 655px;
   }
   .onthebike__content {
      padding: 15px;
      transform: translateY(6%);
   }
   .underwater__content {
      top: 5%;
      transform: translateY(0%);
   }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
   .padding-size-cont {
      padding: 15px 2rem;
   }
   .procam__content-bottom {
      right: 2rem;
   }
   .accessories__content {
      padding: 15px 2rem;
   }
   .pubmuvie__content {
      padding: 15px 2rem;
   }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
   .padding-size-cont {
      padding: 15px 2rem;
   }
   .procam__content-bottom {
      right: 2rem;
   }
   .accessories__content {
      padding: 15px 2rem;
   }
   .pubmuvie__content {
      padding: 15px 2rem;
   }
}
