/*default styles*/

.features-desc__text img {
  margin-bottom: 0rem !important;
}

#mercusys p:first-letter {
  padding-left: 0;
}

#mercusys p {
  margin-bottom: 0;
}

#mercusys img:hover {
  opacity: 1;
}

#mercusys img {
  display: block;
  margin-right: initial;
  margin-left: initial;
  opacity: 1;
  display: block;
  max-width: 100%;
  height: auto;
}

#mercusys ul {
  list-style-type: none;
}

#mercusys h2,
#mercusys h3,
#mercusys h4 {
  display: block;
  line-height: normal;
  text-align: left;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

#mercusys h2 {
  font-size: 36px;
}

#mercusys h3 {
  font-size: 28px;
}

#mercusys h4 {
  font-size: 24px;
}

#mercusys p {
  font-size: 18px;
  padding: 0;
  margin: 0;
}

#mercusys {
  max-width: 1316px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

/*end default styles*/

/*section 1*/

#mercusys .wifi {
  height: 705px;
  box-sizing: border-box;
  padding: 100px;
  background-image: url("https://cdn.comfy.ua/media/x/img/1464930/sec1_bg.jpg");
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-box-pack: end;
  justify-content: flex-end;
}

#mercusys .wifi .wifi_txt h2 {
  font-weight: bold;
}

#mercusys .wifi .wifi_txt h4,
#mercusys .wifi .wifi_txt h3 {
  padding-top: 10px;
  font-weight: normal;
}

/*end section 1*/

/*section 2*/

#mercusys .diapazon .diapazon_txt {
  max-width: 1110px;
  margin: 0 auto;
  padding-top: 60px;
}

#mercusys .diapazon .diapazon_txt h2,
#mercusys .diapazon .diapazon_txt p {
  text-align: center;
}

#mercusys .diapazon .diapazon_txt p {
  padding-top: 15px;
  padding: 15px 20px 50px 20px;
}


/*end section 2*/

/*section 3*/

#mercusys .antena .antena_txt {
  padding: 50px;
}

#mercusys .antena .antena_txt,
#mercusys .antena .antena_txt h2 {
  text-align: center;
}

#mercusys .antena .antena_txt p {
  padding-top: 20px;
}

#mercusys .antena .antena_bg {
  height: 639px;
  box-sizing: border-box;
  background-image: url("https://cdn.comfy.ua/media/x/img/1464930/sec3_bg.jpg");
  background-position: center left;
}

/*end section 3*/

/*section 4*/

#mercusys .tochka {
  height: 685px;
  box-sizing: border-box;
  background-image: url("https://cdn.comfy.ua/media/x/img/1464930/sec4_bg.jpg");
  background-position: center;
  padding: 100px;
}

#mercusys .tochka .tochka_txt {
  max-width: 510px;
}

#mercusys .tochka .tochka_txt p {
  padding: 20px 0;
}

#mercusys .tochka .tochka_img {
  position: relative;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}

#mercusys .tochka .tochka_img .tochka_span {
  position: absolute;
  right: 50%;
  transform: translate(82%, 10px);
  -webkit-transform: translate(82%, 10px);
  -moz-transform: translate(82%, 10px);
  -ms-transform: translate(82%, 10px);
  -o-transform: translate(82%, 10px);
}

#mercusys .tochka .tochka_img .tochka_span span:first-of-type {
  margin-right: 70px;
}

/*end section 4*/

/*section 5*/

#mercusys .technology .technology_txt {
  max-width: 900px;
  padding: 70px;
  margin: 0 auto;
  text-align: center;
}

#mercusys .technology .technology_txt h2 {
  text-align: center;
}

#mercusys .technology .technology_bg {
  height: 472px;
  box-sizing: border-box;
  background-image: url("https://cdn.comfy.ua/media/x/img/1464930/sec5_bg.jpg");
  background-position: center;
}

#mercusys .technology .technology_txt h2 {
  padding-bottom: 20px;
}

/*end section 5*/

/*section 6*/

#mercusys .connect {
  padding: 100px;
  box-sizing: border-box;
  height: 685px;
  background-image: url("https://cdn.comfy.ua/media/x/img/1464930/sec6_bg.jpg");
  background-position: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: end;
          justify-content: flex-end;
}

#mercusys .connect ul.connect_list {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  margin-right: 100px;
}

#mercusys .connect ul.connect_list li {
  -webkit-box-flex: 1;
          flex: 1 1 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: justify;
          justify-content: space-between;
  text-align: center;
  color: #00a0ff;
}

#mercusys .connect ul.connect_list li:nth-of-type(2) {
  padding: 0 10px;
}

#mercusys .connect ul.connect_list li:nth-of-type(3) {
  padding-right: 10px;
}

#mercusys .connect ul.connect_list li img {
  margin: 0 auto;
}

#mercusys .connect .connect_txt {
  max-width: 900px;
  text-align: center;
}

#mercusys .connect .connect_txt h2 {
  padding-bottom: 20px;
  text-align: center;
}

/*end section 6*/

/*section 7*/

#mercusys .settings {
  height: 685px;
  box-sizing: border-box;
  padding: 100px;
  background-image: url("https://cdn.comfy.ua/media/x/img/1464930/sec7_bg.jpg");
  background-position: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-align: center;
          align-items: center;
}

#mercusys .settings .settings_txt {
  max-width: 380px;
}

#mercusys .settings .settings_txt p {
  padding: 20px 0 30px 0;
}

/*end section 7*/




/*media********************************************************/

@media (max-width: 1024px) and (min-width: 813px) {}

@media (max-width: 812px) and (min-width: 481px) {
  #mercusys .wifi {
    padding: 100px 20px 20px 20px;
    background-position: center;
  }

  #mercusys .antena .antena_txt {
    padding: 20px;
  }

  #mercusys .technology .technology_txt {
    padding: 20px;
  }

  #mercusys .connect {
    padding: 20px 20px 70px 20px;
  }

  #mercusys .tochka {
    padding: 20px;
  }

  #mercusys .settings {
    padding: 20px;
  }

  #mercusys .tochka .tochka_txt {
    margin: 0 auto;
    text-align: center;
  }

  #mercusys .tochka .tochka_txt h2 {
    text-align: center;
  }

  #mercusys .tochka .tochka_img {
    margin: 0 auto;
  }
}

@media (max-width: 480px) and (min-width: 320px) {
  #mercusys .wifi {
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    align-items: flex-start;
    padding: 20px;
    background-size: cover;
    background-position: center right 28%;
  }

  #mercusys .wifi .wifi_txt h2,
  #mercusys .wifi .wifi_txt h3,
  #mercusys .wifi .wifi_txt h4 {
    text-align: center;
  }

  #mercusys h2 {
    font-size: 28px;
  }

  #mercusys h4 {
    font-size: 20px;
  }

  #mercusys h3 {
    font-size: 24px;
  }

  #mercusys .diapazon .diapazon_txt h2 {
    padding: 0 20px;
  }

  #mercusys .antena .antena_txt {
    padding: 20px;
  }

  #mercusys .antena .antena_txt h2 {
    text-align: center;
  }

  #mercusys .technology {
    background-position: center;
  }

  #mercusys .technology .technology_txt {
    padding: 20px;
  }

  #mercusys .connect {
    padding: 20px;
  }

  #mercusys .connect .connect_txt,
  #mercusys .connect .connect_txt h2 {
    text-align: center;
  }

  #mercusys .tochka {
    padding: 20px;
    background-position: center right 36%;
  }

  #mercusys .tochka .tochka_txt,
  #mercusys .tochka .tochka_txt h2 {
    text-align: center;
  }

  #mercusys .tochka .tochka_img .tochka_span span:first-of-type {
    margin-right: 38px;
  }

  #mercusys .connect ul.connect_list {
    margin-right: 70px;
  }

  #mercusys .connect ul.connect_list li .connect_cont p {
    line-height: normal;
    font-size: 14px;
  }

  #mercusys .settings {
    padding: 20px;
    background-position: center right 32%;
  }

  #mercusys .settings .settings_txt,
  #mercusys .settings .settings_txt h2 {
    text-align: center;
  }

  #mercusys .settings .settings_txt img {
    margin: 0 auto;
  }

  #mercusys .antena .antena_bg {
    background-size: cover;
    background-position: center left 5%;
    height: 420px;
  }

  #mercusys .technology .technology_bg {
    background-size: cover;
    background-position: center;
    height: 222px;
  }
}