/*default styles*/

.features-desc__text img {
	margin-bottom: 0rem !important;
}

#philips p:first-letter {
	padding-left: 0;
}

#philips p {
  margin-bottom: 0;
  font-size: 21px;
}

#philips img:hover {
	opacity: 1;
}

#philips img {
	display: block;
	margin-right: initial;
  margin-left: initial;
  opacity: 1;
  display: block;
  max-width: 100%;
  height: auto;
}

#philips ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#philips h2 {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 36px;
  line-height: normal;
}

#philips h3 {
  margin: 0;
  padding: 0;
  line-height: normal;
  font-size: 29px;
  font-weight: bold;
  text-align: left;
}

#philips h4 {
  margin: 0;
  padding: 0;
  line-height: normal;
  font-size: 21px;
  font-weight: bold;
}

#philips {
  max-width: 1316px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

#philips .philips_logo {
  height: 693px;
  box-sizing: border-box;
  background-image: url("https://cdn.comfy.ua/media/x/img/1593698/sec1_bg.png");
  padding: 0 70px;
}

#philips .philips_logo .logo_img {
  -webkit-transform: translate(-8px, -8px);
          transform: translate(-8px, -8px);
}

#philips .philips_logo ul.logo_icon {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: end;
          justify-content: flex-end;
}

#philips .philips_logo ul.logo_icon li:nth-of-type(2) {
  padding: 0 35px;
}

#philips .philips_logo .logo_txt {
  max-width: 490px;
}

#philips .philips_logo .logo_txt h2,
#philips .philips_logo .logo_txt p {
  color: #003478;
}

#philips .philips_logo .logo_txt h2>strong {
  margin: 20px 0;
  display: block;
}

/*end section 1*/

/*blue string*/

#philips span.blue_title {
  font-size: 42px;
  color: #fff;
  padding: 25px 70px;
  background-color: #003478;
  box-sizing: border-box;
  display: block;
}

/*end blue string*/


/*section 2*/

#philips .excellence {
  padding: 90px 70px 30px 70px;
  height: 693px;
  box-sizing: border-box;
  background-image: url("https://cdn.comfy.ua/media/x/img/1593698/sec2_bg.png");
  margin-bottom: 60px;
}

#philips .excellence ul.ex_list {
  float: right;
}

#philips .excellence ul.ex_list li {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-align: center;
          align-items: center;
}

#philips .excellence ul.ex_list li::before {
  display: block;
  content: "";
  min-width: 138px;
  height: 138px;
  margin-right: 70px;
}

#philips .excellence ul.ex_list li:nth-of-type(1)::before {
  background-image: url("https://cdn.comfy.ua/media/x/img/1593698/sec2_icon1.png");
}

#philips .excellence ul.ex_list li:nth-of-type(2)::before {
  background-image: url("https://cdn.comfy.ua/media/x/img/1593698/sec2_icon2.png");
  margin-top: 60px;
  margin-bottom: 60px;
}

#philips .excellence ul.ex_list li:nth-of-type(3)::before {
  background-image: url("https://cdn.comfy.ua/media/x/img/1593698/sec2_icon3.png");
}

#philips .excellence ul.ex_list li .ex_txt {
  max-width: 430px;
}

#philips .excellence ul.ex_list li .ex_txt h4 {
  color: #0c8ac4;
  margin-bottom: 5px;
}

#philips .excellence ul.ex_list li .ex_txt p {
  color: #5d5d5d;
}

#philips .excellence ul.ex_list span.ex_snoska {
  display: block;
  float: right;
  color: #5d5d5d;
}

/*end section 2*/

/*section 3*/

#philips .philips_new {
  padding: 70px 70px 70px 70px;
  box-sizing: border-box;
}

#philips .philips_new .new_cal {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  background-color: #0195c5;
  padding: 40px 0;
}

#philips .philips_new .new_cal ul.new_list {
  -webkit-box-flex: 1;
          flex: 1 1 0;
  max-width: 50%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: justify;
          justify-content: space-between;
  padding: 20px 60px;
  text-align: center;
}

#philips .philips_new .new_cal ul.new_list li {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
  color: #fff;
  font-size: 17px;
}

#philips .philips_new .new_cal ul.new_list li::before {
  display: block;
  content: "";
  min-width: 124px;
  height: 124px;
  margin-bottom: 10px;
}

#philips .philips_new .new_cal ul.new_list:nth-of-type(1) li:nth-of-type(1)::before {
  background-image: url("https://cdn.comfy.ua/media/x/img/1593698/sec3_icon1.png");
}

#philips .philips_new .new_cal ul.new_list:nth-of-type(1) li:nth-of-type(2)::before {
  background-image: url("https://cdn.comfy.ua/media/x/img/1593698/sec3_icon2.png");
}

#philips .philips_new .new_cal ul.new_list:nth-of-type(1) li:nth-of-type(3)::before {
  background-image: url("https://cdn.comfy.ua/media/x/img/1593698/sec3_icon3.png");
}

#philips .philips_new .new_cal ul.new_list:nth-of-type(2) li:nth-of-type(1)::before {
  background-image: url("https://cdn.comfy.ua/media/x/img/1593698/sec3_icon4.png");
}

#philips .philips_new .new_cal ul.new_list:nth-of-type(2) li:nth-of-type(2)::before {
  background-image: url("https://cdn.comfy.ua/media/x/img/1593698/sec3_icon5.png");
}

#philips .philips_new .new_cal ul.new_list:nth-of-type(2) li:nth-of-type(3)::before {
  background-image: url("https://cdn.comfy.ua/media/x/img/1593698/sec3_icon6.png");
}

#philips .philips_new .philips_video iframe {
  width: 100%;
  height: 735px;
  margin-top: 70px;
}

/*end section 3*/


/*section 4*/

#philips .philips_tth ul.tth_list li {
  height: 520px;
  box-sizing: border-box;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-align: center;
          align-items: center;
  padding: 0 70px;
  background-position: center;
}

#philips .philips_tth ul.tth_list li:nth-of-type(1) {
  background-image: url("https://cdn.comfy.ua/media/x/img/1593698/sec4_bg1.png");
}

#philips .philips_tth ul.tth_list li:nth-of-type(2) {
  background-image: url("https://cdn.comfy.ua/media/x/img/1593698/sec4_bg2.png");
}

#philips .philips_tth ul.tth_list li:nth-of-type(3) {
  background-image: url("https://cdn.comfy.ua/media/x/img/1593698/sec4_bg3.png");
}

#philips .philips_tth ul.tth_list li:nth-of-type(4) {
  background-image: url("https://cdn.comfy.ua/media/x/img/1593698/sec4_bg4.png");
}

#philips .philips_tth ul.tth_list li:nth-of-type(5) {
  background-image: url("https://cdn.comfy.ua/media/x/img/1593698/sec4_bg5.png");
}

#philips .philips_tth ul.tth_list li:nth-of-type(6) {
  background-image: url("https://cdn.comfy.ua/media/x/img/1593698/sec4_bg6.png");
}

#philips .philips_tth ul.tth_list li:nth-of-type(7) {
  background-image: url("https://cdn.comfy.ua/media/x/img/1593698/sec4_bg7.png");
}

#philips .philips_tth ul.tth_list li:nth-of-type(8) {
  background-image: url("https://cdn.comfy.ua/media/x/img/1593698/sec4_bg8.png");
}

#philips .philips_tth ul.tth_list li:nth-of-type(9) {
  background-image: url("https://cdn.comfy.ua/media/x/img/1593698/sec4_bg9.png");
}

#philips .philips_tth ul.tth_list li:nth-of-type(10) {
  background-image: url("https://cdn.comfy.ua/media/x/img/1593698/sec4_bg10.png");
}

#philips .philips_tth ul.tth_list li:nth-of-type(11) {
  background-image: url("https://cdn.comfy.ua/media/x/img/1593698/sec4_bg11.png");
}

#philips .philips_tth ul.tth_list li:nth-of-type(12) {
  background-image: url("https://cdn.comfy.ua/media/x/img/1593698/sec4_bg12.png");
  height: 694px;
}

#philips .philips_tth ul.tth_list li ul.pil_list {
  margin-top: 30px;
  height: 100%;
}

#philips .philips_tth ul.tth_list li ul.pil_list ol {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: justify;
          justify-content: space-between;
  padding: 0;
}

#philips .philips_tth ul.tth_list li ul.pil_list ol:nth-of-type(2) {
  margin: 40px 0;
}

#philips .philips_tth ul.tth_list li .pil_list ol::before {
  display: block;
  content: "";
  min-width: 138px;
  height: 138px;
  margin-right: 70px;
}

#philips .philips_tth ul.tth_list li .pil_list ol h4 {
  color: #0c8ac4;
  margin-bottom: 5px;
}

#philips .philips_tth ul.tth_list li .pil_list ol:nth-of-type(1)::before {
  background-image: url("https://cdn.comfy.ua/media/x/img/1593698/sec4_icon1.png");
}

#philips .philips_tth ul.tth_list li .pil_list ol:nth-of-type(2)::before {
  background-image: url("https://cdn.comfy.ua/media/x/img/1593698/sec4_icon2.png");
}

#philips .philips_tth ul.tth_list li .pil_list ol:nth-of-type(3)::before {
  background-image: url("https://cdn.comfy.ua/media/x/img/1593698/sec4_icon3.png");
}


#philips .philips_tth ul.tth_list li .tth_txt {
  max-width: 50%;
}

#philips .philips_tth ul.tth_list li:nth-of-type(6) .tth_txt {
  max-width: 35%;
} 

#philips .philips_tth ul.tth_list li:nth-of-type(even) {
  -webkit-box-pack: end;
          justify-content: flex-end;
  margin: 60px 0;
}

#philips .philips_tth ul.tth_list li .tth_txt h3 {
  color: #0c8ac4;
  margin-bottom: 10px;
}

#philips .philips_tth ul.tth_list li:nth-of-type(5) h3,
#philips .philips_tth ul.tth_list li:nth-of-type(5) p,
#philips .philips_tth ul.tth_list li:nth-of-type(5) span,
#philips .philips_tth ul.tth_list li:nth-of-type(6) h3,
#philips .philips_tth ul.tth_list li:nth-of-type(6) p,
#philips .philips_tth ul.tth_list li:nth-of-type(6) span {
  color: #fff !important;
}

#philips .philips_tth ul.tth_list li:nth-of-type(5) p:last-of-type {
  margin-top: 40px;
}

#philips .philips_tth ul.tth_list li span {
  margin-top: 60px;
  display: block;
}

#philips .philips_tth ul.tth_list li .tth_txt p {
  color: #5d5d5d;
}

#philips .philips_tth ul.tth_list li .tth_txt>p.blue_txt {
  color: #0c8ac4;
}

/*end section 4*/

/*section 5*/

#philips .warranty {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-align: center;
          align-items: center;
  padding: 70px 60px;
  box-sizing: border-box;
}

#philips .warranty .warranty_txt {
  max-width: 760px;
  margin-left: 70px;
}

#philips .warranty .warranty_txt p {
  font-size: 29px;
}

/*end section 5*/


/*section 6*/

#philips .accessories {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-align: center;
          align-items: center;
  padding: 60px 70px;
}

#philips .accessories div {
  -webkit-box-flex: 1;
          flex: 1 1 0;
  max-width: 50%;
  box-sizing: border-box;
}

#philips .accessories .access_txt ul.access_list li {
  font-size: 27px;
  color: #5d5d5d;
  margin-bottom: 30px;
}

#philips .accessories .access_txt {
  margin-left: 40px;
}

#philips .accessories .access_txt ul.access_list li:last-of-type {
  margin-bottom: 0;
}

/*end section 6*/

/*section 7*/

#philips .philips_table {
  padding: 60px 70px;
  box-sizing: border-box;
}

#philips .philips_table ul.tab_list {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
}

#philips .philips_table ul.tab_list>li {
  -webkit-box-flex: 1;
          flex: 1 1 0;
  padding: 20px;
}

#philips .philips_table ul.tab_list>li:nth-of-type(odd) {
  background-color: #b2c8e6;
}

#philips .philips_table ul.tab_list>li:nth-of-type(even) {
  background-color: #e4eefb;
}

#philips .philips_table ul.tab_list>li img {
  margin: 0 auto;
}

#philips .philips_table ul.tab_list>li p {
  text-align: center;
  margin-bottom: 40px;
}

#philips .philips_table ul.tab_list>li span {
  font-size: 16px;
}

#philips .philips_table ul.tab_list>li ul li {
  font-size: 16px;
}

#philips .philips_table h3 {
  display: block;
  padding: 20px 0;
  color: #023278;
}

#philips .philips_table>span {
  margin-top: 30px;
  display: block;
}

/*end section 7*/

/*media*/

@media (max-width: 1024px) and (min-width: 813px) {
  #philips .philips_new .new_cal ul.new_list {
    padding: 20px 15px;
  }
}

@media (max-width: 812px) and (min-width: 481px) {
  #philips .philips_logo {
    padding: 0 20px;
    background-position: center right 78%;
  }

  #philips h2 {
    font-size: 30px;
  }

  #philips .philips_logo ul.logo_icon {
    margin: 40px 0;
  }

  #philips span.blue_title {
    padding: 10px 20px;
    font-size: 36px;
  }

  #philips .excellence {
    padding: 90px 20px 20px 20px;
    background-position: center right 35%;
  }

  #philips .excellence ul.ex_list li .ex_txt {
    max-width: 100%;
  }

  #philips .philips_new .new_cal ul.new_list {
    padding: 20px;
  }

  #philips .philips_new {
    padding: 0;
  }

  #philips .philips_new .new_cal .new_img {
    max-width: 40%;
    align-self: center;
  }

  #philips .philips_new .new_cal ul.new_list li:nth-of-type(2) {
    margin: 20px 0;
  }

  #philips .philips_tth ul.tth_list li {
    padding: 20px 20px;
    height: auto;
    background-size: cover;
  }

  #philips .philips_tth ul.tth_list li:nth-of-type(12) {
    height: auto;
    background-size: cover;
  }

  #philips .philips_tth ul.tth_list li:nth-of-type(12) .tth_txt {
    max-width: 66%;
  }

  #philips .warranty {
    padding: 20px;
  }

  #philips .warranty .warranty_txt {
    margin-left: 20px;
  }

  #philips .accessories {
    padding: 20px;
  }

  #philips .accessories .access_txt ul.access_list li {
    margin-bottom: 10px;
    font-size: 21px;
  }

  #philips .philips_table {
    padding: 20px;
  }

  #philips .philips_new .philips_video iframe {
    height: 500px;
    margin-bottom: 70px;
  }

}

@media (max-width: 480px) and (min-width: 320px) {
  #philips .philips_logo {
    padding: 0 20px;
    background-position: center right 78%;
  }

  #philips h2 {
    font-size: 30px;
  }

  #philips .philips_logo ul.logo_icon {
    margin: 40px 0;
  }

  #philips span.blue_title {
    padding: 10px 20px;
    font-size: 32px;
  }

  #philips .excellence {
    padding: 20px;
    background-position: center right;
  }

  #philips .excellence ul.ex_list li {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    text-align: center;
  }

  #philips .excellence ul.ex_list li::before {
    margin: 0 0 20px 0 !important;
  }

  #philips .excellence ul.ex_list li:nth-of-type(2) {
    margin: 40px 0;
  }

  #philips .excellence ul.ex_list li .ex_txt {
    max-width: 100%;
  }

  #philips .excellence {
    height: auto;
    background-size: cover;
  }

  #philips .excellence ul.ex_list {
    float: unset;
  }

  #philips .excellence ul.ex_list li:nth-of-type(2)::before {
    margin: 0;
  }

  #philips .excellence ul.ex_list span.ex_snoska {
    margin-top: 20px;
    float: none;
  }

  #philips .philips_new {
    padding: 0;
  }

  #philips .philips_new .new_cal {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }

  #philips .philips_new .new_cal ul.new_list {
    max-width: 100%;
    padding: 20px;
  }

  #philips .philips_new .new_cal ul.new_list li:nth-of-type(2) {
    margin: 40px 0;
  }

  #philips .philips_tth ul.tth_list,
  #philips .philips_tth ul.tth_list h3 {
    text-align: center;
  }

  #philips .philips_tth ul.tth_list li {
    padding: 20px;
    height: auto !important;
  }

  #philips .philips_tth ul.tth_list li .tth_txt {
    max-width: 100% !important;
  }

  #philips .philips_tth ul.tth_list li:nth-of-type(odd) {
   /*  background-position: center left; */
  }

  #philips .philips_tth ul.tth_list li:nth-of-type(even) {
    /* background-position: center right; */
    margin: 20px 0;
  }

  #philips .philips_tth ul.tth_list li ul.pil_list ol {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }

  #philips .philips_tth ul.tth_list li .pil_list ol::before {
    margin-right: 0;
    margin-bottom: 20px;
  }

  #philips .philips_tth ul.tth_list li:nth-of-type(12) {
    background-size: cover;
  }

  #philips .warranty {
    padding: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }

  #philips .warranty .warranty_txt {
    margin-left: 0;
    text-align: center;
    margin-top: 20px;
  }

  #philips .warranty .warranty_txt p {
    font-size: 21px;
  }

  #philips .accessories {
    padding: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }

  #philips .accessories div {
    max-width: 100%;
  }

  #philips .accessories .access_txt ul.access_list li {
    margin-bottom: 10px;
    font-size: 21px;
  }

  #philips .accessories .access_txt {
    margin-left: 0;
    margin-top: 20px;
  }

  #philips .philips_table {
    padding: 20px;
    overflow-x: scroll;

  }

  #philips .philips_table ul.tab_list {
    min-width: 600px;
    padding-right: 20px;
  }

  #philips .philips_table h3 {
    font-size: 22px;
    padding: 10px;
  }

  #philips .philips_new .philips_video iframe {
    height: 400px;
    margin: 30px 0;
  }
}