/*default styles*/
#lg {
  max-width: 1316px;
  width: 100%;
  margin: 0 auto;
  height: auto;
  display: block;
  background-color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#lg .none_pic {
  display: none;
}

#lg p {
  margin-bottom: 0;
  margin: 0;
}

#lg p:first-letter {
  padding-left: 0;
}

#lg h2 {
  display: block;
  line-height: normal;
  font-size: 36px;
  font-weight: normal;
  padding: 0 0 20px 0;
  margin: 0;
}

#lg img {
  opacity: 1;
  max-width: 100%;
  display: block;
  height: auto;
}

#lg img:hover {
  opacity: 1;
}

#lg ul {
  list-style-type: none !important;
  padding: 0;
  margin: 0;
}

.features-desc__text img {
  margin-bottom: 0rem;
}

.one-col .features-desc__text p:first-letter {
  padding-left: 0rem !important;
}

/*end default styles*/
#lg .snoska,
#lg .snoska_black {
  padding: 20px;
  font-size: 14px;
  text-align: center;
  display: block;
}

#lg .snoska_black {
  color: #fff;
  background-color: #000;
}

#lg .wins {
  position: relative;
}

#lg .wins .wins_txt {
  position: absolute;
  color: #fff;
  padding: 70px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  text-align: center;
}

#lg .ips .ips_txt {
  text-align: center;
  padding: 70px;
  background-color: #000;
  color: #fff;
}

#lg .nano {
  position: relative;
}

#lg .nano .nano_txt {
  position: absolute;
  color: #fff;
  max-width: 600px;
  right: 0;
  bottom: 50%;
  padding: 70px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

#lg .respond {
  position: relative;
}

#lg .respond .respond_txt {
  position: absolute;
  color: #fff;
  padding: 70px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 600px;
  bottom: 50%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

#lg .gsync .gsync_txt {
  padding: 70px;
  text-align: center;
}

#lg .freesync {
  padding: 70px;
}

#lg .freesync li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#lg .freesync li > div {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  max-width: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#lg .freesync li:nth-of-type(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

#lg .freesync li .freesync_txt {
  padding: 40px;
}

#lg .hdr {
  position: relative;
}

#lg .hdr .hdr_txt {
  position: absolute;
  color: #fff;
  padding: 70px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  text-align: center;
}

#lg .dynamic {
  padding: 70px;
  background-color: #000;
}

#lg .dynamic li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#lg .dynamic li:nth-of-type(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

#lg .dynamic li > div {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  max-width: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#lg .dynamic li .dynamic_txt {
  padding: 40px;
  color: #fff;
}

#lg .frame .frame_img img {
  margin: 0 auto;
}

#lg .frame .frame_txt {
  padding: 70px;
  text-align: center;
}

/*media*****************************************************************/
@media (max-width: 1024px) {
  #lg .nano .nano_txt {
    max-width: 500px;
  }
  #lg .respond .respond_txt {
    max-width: 500px;
  }
}

@media (max-width: 812px) {
  #lg .wins .wins_txt,
  #lg .ips .ips_txt,
  #lg .nano .nano_txt,
  #lg .respond .respond_txt,
  #lg .gsync .gsync_txt,
  #lg .freesync,
  #lg .freesync li .freesync_txt,
  #lg .hdr .hdr_txt,
  #lg .dynamic,
  #lg .dynamic li .dynamic_txt,
  #lg .frame .frame_txt {
    padding: 20px;
  }
  #lg .nano .nano_txt {
    max-width: 300px;
  }
}

@media (max-width: 480px) {
  #lg .none_pic {
    display: block !important;
  }
  #lg h2 {
    font-size: 24px;
  }
  #lg .nano .nano_img img {
    display: none;
  }
  #lg .respond .respond_img img {
    display: none;
  }
  #lg .hdr .hdr_img img {
    display: none;
  }
  #lg .nano .nano_txt {
    position: unset;
    -webkit-transform: unset;
            transform: unset;
    background-color: #000;
    max-width: 100%;
    text-align: center;
  }
  #lg .respond .respond_txt {
    position: unset;
    -webkit-transform: unset;
            transform: unset;
    background-color: #000;
    max-width: 100%;
    text-align: center;
  }
  #lg .freesync {
    padding: 0;
  }
  #lg .freesync li {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  #lg .freesync li > div {
    max-width: 100%;
  }
  #lg .freesync li .freesync_txt {
    text-align: center;
  }
  #lg .dynamic {
    padding: 0;
  }
  #lg .dynamic li {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  #lg .dynamic li > div {
    max-width: 100%;
  }
  #lg .dynamic li .dynamic_txt {
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */