.oppo {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  height: auto;
  display: block;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}
.oppo div {
  line-height: normal;
}
.oppo p {
  font-size: 18px;
  line-height: normal;
  margin-bottom: 0;
  margin: 0;
  text-align: unset;
}
.oppo p:first-letter {
  padding-left: 0;
}
.oppo h2 {
  text-align: unset;
  display: block;
  line-height: normal;
  font-size: 34px;
  font-weight: normal;
  padding: 0;
  margin: 0;
}
.oppo img {
  margin: 0 auto;
  opacity: 1;
  max-width: 100%;
  display: block;
  height: auto;
}
.oppo img:hover {
  opacity: 1 !important;
}
.oppo ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.oppo span {
  display: block;
  line-height: normal;
}

.features-desc__text img {
  margin-bottom: 0rem;
}

.one-col .features-desc__text p:first-letter {
  padding-left: 0rem !important;
}

.oppo .container {
  width: 100%;
  max-width: 1400px;
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  padding: 0 15px;
  margin: 0 auto;
}

.oppo .show__mob {
  display: none;
}

.oppo__main {
  background: url("https://cdn.comfy.ua/media/x/img2/oppoa17/1.jpg") center/cover;
  padding-bottom: 40%;
  position: relative;
}
.oppo__main .container {
  max-width: 1600px;
}

.oppo__main__txt {
  font-size: 24px;
  max-width: 600px;
  margin-top: 60px;
  color: #201F1C;
}

.oppo__main__abs {
  max-width: 25%;
  position: absolute;
  bottom: 50%;
  -webkit-transform: translateY(50%);
     -moz-transform: translateY(50%);
      -ms-transform: translateY(50%);
       -o-transform: translateY(50%);
          transform: translateY(50%);
}
.oppo__main__abs img {
  margin: 0;
}

.grad {
  background-image: -webkit-gradient(linear, right top, left top, from(rgb(243, 125, 59)), color-stop(49.48%, rgb(245, 155, 75)), to(rgb(247, 181, 89)));
  background-image: -webkit-linear-gradient(right, rgb(243, 125, 59) 0%, rgb(245, 155, 75) 49.48%, rgb(247, 181, 89) 100%);
  background-image: -moz-linear-gradient(right, rgb(243, 125, 59) 0%, rgb(245, 155, 75) 49.48%, rgb(247, 181, 89) 100%);
  background-image: -o-linear-gradient(right, rgb(243, 125, 59) 0%, rgb(245, 155, 75) 49.48%, rgb(247, 181, 89) 100%);
  background-image: linear-gradient(270deg, rgb(243, 125, 59) 0%, rgb(245, 155, 75) 49.48%, rgb(247, 181, 89) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.highlights {
  padding-top: 120px;
  overflow: hidden;
}

.highlights__title {
  text-align: center;
  font-size: 80px;
  margin-bottom: 90px;
}

.highlights__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
.highlights__list li {
  position: relative;
}
.highlights__list li:nth-of-type(n+2) {
  margin-left: 20px;
}

.highlights__txt {
  position: absolute;
  font-size: 20px;
  text-align: center;
  bottom: 5%;
  right: 50%;
  -webkit-transform: translateX(50%);
     -moz-transform: translateX(50%);
      -ms-transform: translateX(50%);
       -o-transform: translateX(50%);
          transform: translateX(50%);
  width: 100%;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
  min-height: 50px;
}

.design {
  padding-top: 120px;
}

.design__title {
  font-size: 48px;
  text-align: center;
}
.design__title sup {
  font-size: 20px;
}

.design__cont p {
  max-width: 800px;
  text-align: center;
  margin: 20px auto 50px auto;
}

.oppo__slider {
  padding-top: 120px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(250, 250, 250, 0)), to(#F8F4F0));
  background: -webkit-linear-gradient(top, rgba(250, 250, 250, 0) 0%, #F8F4F0 100%);
  background: -moz-linear-gradient(top, rgba(250, 250, 250, 0) 0%, #F8F4F0 100%);
  background: -o-linear-gradient(top, rgba(250, 250, 250, 0) 0%, #F8F4F0 100%);
  background: linear-gradient(180deg, rgba(250, 250, 250, 0) 0%, #F8F4F0 100%);
}

.active__btn::after {
  content: "";
  display: block;
  -webkit-border-radius: 360px;
     -moz-border-radius: 360px;
          border-radius: 360px;
  width: 40px;
  height: 40px;
  position: absolute;
  right: 50%;
  bottom: 50%;
  -webkit-transform: translate(50%, 50%);
     -moz-transform: translate(50%, 50%);
      -ms-transform: translate(50%, 50%);
       -o-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
}

.oppo__slider__flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.oppo__slider__nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -20px !important;
}
.oppo__slider__nav li {
  width: 30px;
  height: 30px;
  -webkit-border-radius: 360px;
     -moz-border-radius: 360px;
          border-radius: 360px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  margin: 20px !important;
  cursor: pointer;
}
.oppo__slider__nav li:nth-of-type(1) {
  background: -webkit-gradient(linear, left top, left bottom, from(#FFC785), to(#F28C16));
  background: -webkit-linear-gradient(top, #FFC785 0%, #F28C16 100%);
  background: -moz-linear-gradient(top, #FFC785 0%, #F28C16 100%);
  background: -o-linear-gradient(top, #FFC785 0%, #F28C16 100%);
  background: linear-gradient(180deg, #FFC785 0%, #F28C16 100%);
  margin-right: 20px !important;
  margin: 5px;
}
.oppo__slider__nav li:nth-of-type(1).active__btn::after {
  border: solid 2px #FFC785;
}
.oppo__slider__nav li:nth-of-type(2) {
  margin-left: 0 !important;
  background: -webkit-gradient(linear, left top, left bottom, from(#a9b7d5), to(#353d4f));
  background: -webkit-linear-gradient(top, #a9b7d5 0%, #353d4f 100%);
  background: -moz-linear-gradient(top, #a9b7d5 0%, #353d4f 100%);
  background: -o-linear-gradient(top, #a9b7d5 0%, #353d4f 100%);
  background: linear-gradient(180deg, #a9b7d5 0%, #353d4f 100%);
}
.oppo__slider__nav li:nth-of-type(2).active__btn::after {
  border: solid 2px #a9b7d5;
}

.oppo__slider__collors__txt {
  font-size: 32px;
}

.oppo__slider__flex__item {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.oppo__slider__flex__item:nth-of-type(1) {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.oppo__slider__flex__item:nth-of-type(2) {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
     -moz-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}
.oppo__slider__flex__item:nth-of-type(3) {
  padding-left: 90px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
}

.oppo__slider__flex__item__txt {
  font-size: 16px;
}
.oppo__slider__flex__item__txt:nth-of-type(1) {
  margin-bottom: 90px;
}
.oppo__slider__flex__item__txt strong {
  display: block;
  font-size: 40px;
  font-weight: normal;
}

.expa {
  padding-top: 120px;
}

.expa__bg img {
  position: relative;
}
.expa__bg img:nth-of-type(1) {
  max-width: 85%;
}
.expa__bg img:nth-of-type(2) {
  max-width: 85%;
  margin-top: -4%;
}

.expa__title {
  font-size: 48px;
  margin-bottom: 20px;
  text-align: center;
}

.expa__cont {
  margin-top: -10%;
}
.expa__cont p {
  text-align: center;
}

.oppo-flex-row-text {
  max-width: 1316px;
  margin: 0 auto;
  padding: 100px 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.oppo-flex-row-text__item {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
     -moz-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
}
.oppo-flex-row-text__item:first-child .oppo-flex-row-text__txt {
  max-width: 500px;
  font-size: 35px;
}
.oppo-flex-row-text__item:last-child .oppo-flex-row-text__txt {
  max-width: 500px;
  padding-left: 15px;
  font-size: 18px;
}

.oppo-bgrd {
  max-width: 1316px;
  margin: 0 auto;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}
.oppo-bgrd.bgrd1 {
  background-image: url(https://cdn.comfy.ua/media/x/img2/oppoa17/img1.jpg);
  width: 100%;
  height: auto;
}
.oppo-bgrd.bgrd2 {
  background-image: url(https://cdn.comfy.ua/media/x/img2/oppoa17/img9.jpg);
  width: 100%;
  height: 550px;
  margin-top: 100px;
  margin-bottom: 100px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.oppo-bgrd.bgrd2 .oppo-bgrd__text1 {
  padding-bottom: 0px;
  max-width: 600px;
}

.oppo-bgrd__flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 75px 15px 120px 75px;
}

.oppo-bgrd__text1, .oppo-bgrd__text2, .oppo-bgrd__text3 {
  font-size: 35px;
  color: #fff;
  line-height: 1;
  padding-bottom: 70px;
  font-weight: bold;
}
.oppo-bgrd__text1 span, .oppo-bgrd__text2 span, .oppo-bgrd__text3 span {
  font-size: 16px;
  padding-top: 5px;
  display: block;
}

.oppo-imgbl {
  max-width: 1316px;
  margin: 0 auto;
  padding: 65px 0 0 0;
}

.oppo-flex-row-bgrd {
  background: -webkit-linear-gradient(343.34deg, #5D9DE9 -20.42%, #F5E7D1 100%);
  background: -moz-linear-gradient(343.34deg, #5D9DE9 -20.42%, #F5E7D1 100%);
  background: -o-linear-gradient(343.34deg, #5D9DE9 -20.42%, #F5E7D1 100%);
  background: linear-gradient(106.66deg, #5D9DE9 -20.42%, #F5E7D1 100%);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1316px;
  margin: 100px auto;
}

.oppo-flex-row-bgrd__item {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
     -moz-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
}

.oppo-flex-row-bgrd__text {
  font-size: 35px;
  text-align: left;
  line-height: 1;
  padding: 0 20px 0 70px;
}
.oppo-flex-row-bgrd__text span {
  font-size: 18px;
  display: block;
  padding-top: 10px;
}

.oppo-flex-row-bgrd__img {
  max-width: 390px;
  margin: 0 auto;
}

.oppo-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  max-width: 1316px;
  margin: 0 auto;
  padding: 0 15px;
}

.oppo-bgrdbl {
  background-image: url(https://cdn.comfy.ua/media/x/img2/oppoa17/img8.jpg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  max-width: 1920px;
  height: auto;
}

.oppo-bgrdbl__content {
  max-width: 1366px;
  margin: 0 auto;
  padding: 150px 15px;
}

.oppo-bgrdbl__text {
  color: #fff;
  font-size: 40px;
  text-align: left;
}
.oppo-bgrdbl__text span {
  font-size: 18px;
  color: #fff;
  padding-top: 10px;
  max-width: 700px;
}

.oppo-bgrdbl__flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 0 0 0;
}

.oppo-bgrdbl__item {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
     -moz-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  background: rgba(255, 255, 255, 0.6);
  margin-right: 20px;
  padding: 34px 0;
}
.oppo-bgrdbl__item:last-child {
  margin-right: 0;
}

.oppo-bgrdbl__item-text {
  font-size: 40px;
  color: #000;
  text-align: center;
  padding: 0 5px;
}
.oppo-bgrdbl__item-text span {
  font-size: 18px;
  padding-top: 10px;
}

@media (max-width: 1440px) {
  .oppo .container {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
  .oppo__main__abs {
    max-width: 30%;
  }
  .oppo__main__txt {
    font-size: -webkit-calc(14px + 10 * (100vw - 320px) / 1120);
    font-size: -moz-calc(14px + 10 * (100vw - 320px) / 1120);
    font-size: calc(14px + 10 * (100vw - 320px) / 1120);
  }
  .highlights__txt {
    padding: 0 10px;
    font-size: -webkit-calc(16px + 4 * (100vw - 320px) / 1120);
    font-size: -moz-calc(16px + 4 * (100vw - 320px) / 1120);
    font-size: calc(16px + 4 * (100vw - 320px) / 1120);
  }
  .highlights__title {
    font-size: -webkit-calc(26px + 54 * (100vw - 320px) / 1120);
    font-size: -moz-calc(26px + 54 * (100vw - 320px) / 1120);
    font-size: calc(26px + 54 * (100vw - 320px) / 1120);
  }
  .design__title,
.expa__title {
    font-size: -webkit-calc(28px + 20 * (100vw - 320px) / 1120);
    font-size: -moz-calc(28px + 20 * (100vw - 320px) / 1120);
    font-size: calc(28px + 20 * (100vw - 320px) / 1120);
  }
  .oppo__slider__collors__txt {
    font-size: -webkit-calc(24px + 8 * (100vw - 320px) / 1120);
    font-size: -moz-calc(24px + 8 * (100vw - 320px) / 1120);
    font-size: calc(24px + 8 * (100vw - 320px) / 1120);
  }
  .oppo__slider__flex__item__txt {
    font-size: -webkit-calc(14px + 2 * (100vw - 320px) / 1120);
    font-size: -moz-calc(14px + 2 * (100vw - 320px) / 1120);
    font-size: calc(14px + 2 * (100vw - 320px) / 1120);
  }
  .oppo__slider__flex__item__txt strong {
    font-size: -webkit-calc(24px + 16 * (100vw - 320px) / 1120);
    font-size: -moz-calc(24px + 16 * (100vw - 320px) / 1120);
    font-size: calc(24px + 16 * (100vw - 320px) / 1120);
  }
}
@media (max-width: 1201px) {
  .oppo .container {
    width: 960px;
    padding: 0 15px;
  }
  .oppo__main {
    padding-bottom: 50%;
  }
  .highlights__txt {
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.7);
    min-height: 65px;
  }
  .highlights,
.design,
.oppo__slider,
.expa {
    padding-top: 80px;
  }
  .highlights__title {
    margin-bottom: 40px;
  }
  .oppo__slider__flex__item:nth-of-type(1) {
    padding-right: 40px;
  }
  .oppo__slider__flex__item:nth-of-type(3) {
    padding-left: 40px;
  }
  .oppo-bgrd__flex {
    padding: 75px 15px 120px 20px;
  }
  .oppo-flex-row-bgrd__text {
    padding: 0 20px 0 20px;
  }
  .oppo-imgbl {
    padding: 0 0 0 0;
  }
  .oppo-bgrd.bgrd2 {
    margin-top: 0;
    margin-bottom: 0;
  }
  .oppo-flex-row-bgrd {
    margin: 100px auto 0 auto;
  }
}
@media (max-width: 991px) {
  .oppo__main {
    padding-bottom: 0;
    height: 550px;
  }
  .oppo-flex-row-text__item:first-child .oppo-flex-row-text__txt {
    font-size: 30px;
  }
  .oppo-bgrd__flex {
    padding: 75px 15px 75px 20px;
  }
  .oppo-flex-row-bgrd__img {
    max-width: 270px;
    margin: 0 auto;
    padding-top: 50px;
  }
  .oppo-bgrdbl__flex {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .oppo .container {
    width: 720px;
  }
  .oppo-bgrdbl__item {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 48%;
       -moz-box-flex: 1;
        -ms-flex: 1 1 48%;
            flex: 1 1 48%;
    max-width: 48%;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .oppo-bgrdbl__item:nth-child(2) {
    margin-right: 0;
  }
  .highlights__list {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .highlights__list li {
    max-width: -webkit-calc(50% - 10px);
    max-width: -moz-calc(50% - 10px);
    max-width: calc(50% - 10px);
  }
  .highlights__list li:nth-of-type(n+2) {
    margin: unset;
  }
  .highlights__list li:nth-of-type(odd) {
    margin-right: 10px;
  }
  .highlights__list li:nth-of-type(n+3) {
    margin-top: 10px;
  }
}
@media (max-width: 767px) {
  .oppo p {
    font-size: 16px;
  }
  .oppo .hide__mob {
    display: none;
  }
  .oppo .show__mob {
    display: block;
  }
  .oppo .container {
    width: 540px;
  }
  .oppo__main {
    background: url("https://cdn.comfy.ua/media/x/img2/oppoa17/1m.jpg") center/cover;
  }
  .highlights, .design, .oppo__slider, .expa {
    padding-top: 50px;
  }
  .oppo__main__abs {
    padding: 5% 0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    max-width: 90%;
    top: 20px;
    bottom: inherit;
    -webkit-transform: none;
       -moz-transform: none;
        -ms-transform: none;
         -o-transform: none;
            transform: none;
    position: relative;
  }
  .oppo__main__abs img {
    max-width: 150px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
       -moz-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .highlights__list {
    display: block;
  }
  .highlights__list li {
    max-width: 100%;
    margin: 0 0 10px 0 !important;
  }
  .highlights__txt {
    min-height: unset;
    bottom: 50%;
    -webkit-transform: translateY(50%);
       -moz-transform: translateY(50%);
        -ms-transform: translateY(50%);
         -o-transform: translateY(50%);
            transform: translateY(50%);
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    right: unset;
    left: 0;
    text-align: unset;
    max-width: 40%;
    text-shadow: unset;
  }
  .design__cont p {
    margin-bottom: 30px;
  }
  .oppo__slider__flex {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .oppo__slider__flex__item {
    -webkit-box-flex: unset;
    -webkit-flex: unset;
       -moz-box-flex: unset;
        -ms-flex: unset;
            flex: unset;
  }
  .oppo__slider__flex__item:nth-of-type(1) {
    min-width: 100%;
    margin-bottom: 40px;
  }
  .oppo__slider__flex__item:nth-of-type(2) {
    -webkit-box-flex: 2;
    -webkit-flex: 2;
       -moz-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    min-width: 50%;
  }
  .oppo__slider__flex__item:nth-of-type(3) {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
       -moz-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .oppo-flex-row-text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 50px 15px;
  }
  .oppo-flex-row-text__item:last-child .oppo-flex-row-text__txt {
    max-width: 100%;
    padding-left: 0;
    padding-top: 20px;
  }
  .oppo-flex-row-text__item:first-child .oppo-flex-row-text__txt {
    font-size: 25px;
  }
  .oppo-bgrd.bgrd1 {
    background-image: url(https://cdn.comfy.ua/media/x/img2/oppoa17/img1.jpg);
    background-position: 15% 100%;
  }
  .oppo-bgrd__text1, .oppo-bgrd__text2, .oppo-bgrd__text3 {
    padding-bottom: 45px;
  }
  .oppo-flex-row-bgrd {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 40px 0 0 0;
  }
  .oppo-bgrdbl__item {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 100%;
       -moz-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    max-width: 100%;
    margin-right: 0;
  }
  .oppo-bgrdbl__content {
    padding: 50px 15px;
  }
  .oppo-bgrdbl__text {
    font-size: 30px;
  }
  .oppo-bgrdbl__item-text {
    font-size: 30px;
  }
}
@media (max-width: 576px) {
  .oppo .container {
    width: 100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
  .design__title sup {
    font-size: 12px;
  }
}