#container-product-fv9845 h2 { line-height: 1; }

#container-product-fv9845 p:first-letter {
   padding-left: 0;
}

#container-product-fv9845 p {
   margin-bottom: 0;
}

#container-product-fv9845 img:hover {
   opacity: 1;
}

#container-product-fv9845 img {
   opacity: 1;
   max-width: 100%;
}

.features-desc__text img {
   margin-bottom: 0rem;
}

.one-col .features-desc__text p:first-letter {
   padding-left: 0rem !important;
}

#container-product-fv9845 {
   max-width: 1316px;
   margin: 0 auto;
   height: auto;
   display: block;
   background-color: #fff;
}

/* ***** container-fv9845-header ***** */

.container-fv9845-header {
   position: relative;
}

.container-fv9845-header .row-fv9845-header {
   position: relative;
}

.container-fv9845-header .row-fv9845-header.blimg_bg {
   background-image: url(https://cdn.comfy.ua/media/x/img/1459373n/1.jpg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   width: 100%;
   min-height: 362px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.container-fv9845-header .row-fv9845-header .contentfv9845-header {
   position: relative;
   padding: 15px 15px 15px 15px;
   text-align: center;
}

.container-fv9845-header .row-fv9845-header .contentfv9845-header:after {
   content: "";
   background-image: url(https://cdn.comfy.ua/media/x/img/1459373n/uam-lower-corner.png);
   background-repeat: no-repeat;
   position: absolute;
   bottom: 0;
   right: 0;
   width: 99px;
   height: 25px;
}

.container-fv9845-header .row-fv9845-header .contentfv9845-header:before {
   content: "";
   background-image: url(https://cdn.comfy.ua/media/x/img/1459373n/uam-upper-corner.png);
   background-repeat: no-repeat;
   position: absolute;
   top: 0;
   left: 0;
   width: 99px;
   height: 25px;
}

.container-fv9845-header .row-fv9845-header .contentfv9845-header h2 {
   font-size: 3rem;
   line-height: 1.3;
   color: #fff;
}

.container-fv9845-header .row-fv9845-header .contentfv9845-header h2 span.praska {
   font-size: 4rem;
   text-transform: uppercase;
   display: block;
}

.container-fv9845-header .row-fv9845-header .contentfv9845-header p {
   font-size: 3rem;
   color: #fff;
}

.container-fv9845-header .row-fv9845-header .contentfv9845-header p span.brend_tefal_red_color {
   font-weight: bold;
   color: red;
   font-size: 3.5rem;
   transform: scale(1.3, 1);
   display: inline-block;
   padding-left: 5px;
}

.container-fv9845-header .row-fv9845-header .contentfv9845-header h2.h2_bold_hd {
   font-size: 3.5rem;
   text-transform: uppercase;
   display: inline-block;
}

.container-fv9845-header span.posA_bl_chst {
   position: absolute;
   bottom: 25px;
   right: 25px;
   color: #fff;
}

/* ***** container-fv9845-header ***** END */

/* ***** container-fv9845-technology ***** */

.container-fv9845-technology {
   padding: 4rem 15px 4rem 15px;
   background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(244, 244, 244, 1) 51%, rgba(235, 235, 235, 1) 93%);
}

.container-fv9845-technology h2 {
   font-size: 3.5rem;
   text-align: center;
   color: red;
   text-transform: uppercase;
   font-weight: normal;
}

.container-fv9845-technology p.gltst {
   color: #36525b;
   font-size: 3.5rem;
   text-align: center;
   text-transform: uppercase;
   font-weight: bold;
   line-height: 1.3;
}

.row-fv9845-technology-flex-block {
   display: flex;
   flex-direction: row;
   align-items: center;
   max-width: 1065px;
   margin: 0 auto;
   height: 100%;
   margin-top: 25px;
}

.row-fv9845-technology-flex-block .item_thlogy {}

.row-fv9845-technology-flex-block .item_thlogy.bl_thlogy_left {
   flex: 1 1 30%;
}

.row-fv9845-technology-flex-block .item_thlogy.bl_thlogy_center {
   flex: 1 1 40%;
   padding-left: 15px;
   padding-right: 15px;
}

.row-fv9845-technology-flex-block .item_thlogy.bl_thlogy_right {
   flex: 1 1 30%;
}

.row-fv9845-technology-flex-block .item_thlogy.bl_thlogy_center img {
   display: block;
   margin: 0 auto;
}

.row-fv9845-technology-flex-block .item_thlogy .content-technology-bl_flex_column {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: 400px;
}

.row-fv9845-technology-flex-block .item_thlogy .content-technology-bl_flex_column.align_text_r {
   align-items: flex-end;
   text-align: right;
}

.row-fv9845-technology-flex-block .item_thlogy .content-technology-bl_flex_column.align_text_l {
   align-items: flex-start;
   text-align: left;
}

.row-fv9845-technology-flex-block .item_thlogy .content-technology-bl_flex_column .bl_text {
   padding-bottom: 15px;
}

.row-fv9845-technology-flex-block .item_thlogy .content-technology-bl_flex_column .bl_text p {
   color: #36525b;
   font-size: 1.9rem;
}

.row-fv9845-technology-flex-block .item_thlogy .content-technology-bl_flex_column .bl_text p b {}


/* ***** container-fv9845-technology ***** END */

/* ***** container-fv9845-result ***** */

.container-fv9845-result {
   position: relative;
}

.container-fv9845-result .row-fv9845-result.blimg_bg2 {
   background-image: url(https://cdn.comfy.ua/media/x/img/1459373n/6.jpg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   width: 100%;
   min-height: 580px;
}

.container-fv9845-result .row-fv9845-result .content-fv9845-result {
   width: 100%;
   max-width: 900px;
   margin: 0 auto;
   padding: 4% 15px 15px 15px;

}

.container-fv9845-result .row-fv9845-result .text-fv9845-result_row_top {
   text-align: center;
   widows: 100%;
   margin-bottom: 35px;
   line-height: 1.1;
}

.container-fv9845-result .row-fv9845-result .text-fv9845-result_row_top h2 {
   color: red;
   font-size: 3.5rem;
   text-transform: uppercase;
}

.container-fv9845-result .row-fv9845-result .text-fv9845-result_row_top p {
   color: #fff;
   font-size: 4rem;
   text-transform: uppercase;
}

.container-fv9845-result .row-fv9845-result .text-fv9845-result_row_bottom {
   text-align: right;
   max-width: 525px;
   margin: 0 0 0 auto;
}

.container-fv9845-result .row-fv9845-result .text-fv9845-result_row_bottom p {
   color: #fff;
   font-size: 2.2rem;
}

/* ***** container-fv9845-result ***** END */

/* ***** container-fv9845-filter ***** */

.container-fv9845-filter {
   position: relative;
}

.container-fv9845-filter .row-fv9845-filter.blimg_bg3 {
   background-image: url(https://cdn.comfy.ua/media/x/img/1459373n/5.jpg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   width: 100%;
   min-height: 580px;
}

.container-fv9845-filter .row-fv9845-filter .content-fv9845-filter {
   width: 100%;
   max-width: 495px;
   text-align: left;
   margin: 0 auto;
   padding: 4% 15px 15px 15px;

}

.container-fv9845-filter .row-fv9845-filter .content-fv9845-filter .text-fv9845-filter {}

.container-fv9845-filter .row-fv9845-filter .content-fv9845-filter .text-fv9845-filter p {
   color: #fff;
   font-size: 2.5rem;
}

/* ***** container-fv9845-filter ***** END */

/* ***** container-fv9845-washing ***** */

.container-fv9845-washing {
   position: relative;
}

.container-fv9845-washing .row-fv9845-washing.blimg_bg4 {
   background-image: url(https://cdn.comfy.ua/media/x/img/1459373n/2.jpg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   width: 100%;
   min-height: 573px;
}

.container-fv9845-washing .row-fv9845-washing .content-fv9845-washing {
   width: 100%;
   max-width: 706px;
   padding: 4% 15px 15px 15px;
   position: absolute;
   right: 10%;

}

.container-fv9845-washing .row-fv9845-washing .content-fv9845-washing .text-fv9845-washing-text-top {
   text-align: center;
}

.container-fv9845-washing .row-fv9845-washing .content-fv9845-washing .text-fv9845-washing-text-top h2 {
   font-size: 3.5rem;
   color: #3b525a;
   font-weight: normal;
}

.container-fv9845-washing .row-fv9845-washing .content-fv9845-washing .text-fv9845-washing-text-top h2 span.bl_color_red {
   color: red;
   text-transform: uppercase;
   font-size: 4.5rem;
   font-weight: normal;
}

.container-fv9845-washing .row-fv9845-washing .content-fv9845-washing .text-fv9845-washing-text-top h2 span.bl_color_red:last-child {
   font-weight: bold;
}


.container-fv9845-washing .row-fv9845-washing .content-fv9845-washing .text-fv9845-washing-text-top p {
   font-size: 4rem;
   text-transform: uppercase;
   color: #36525a;
   font-weight: bold;
   line-height: 1.1;
}

.container-fv9845-washing .row-fv9845-washing .content-fv9845-washing .text-fv9845-washing-text-bottom-list {
   max-width: 460px;
   margin: 0 0 0 auto;
   margin-top: 5%;
}

.container-fv9845-washing .row-fv9845-washing .content-fv9845-washing .text-fv9845-washing-text-bottom-list ul {
   list-style-type: disc;
}

.container-fv9845-washing .row-fv9845-washing .content-fv9845-washing .text-fv9845-washing-text-bottom-list ul li {
   margin-bottom: 15px;
   font-size: 2.2rem;
   color: #36525a;
}

.container-fv9845-washing .row-fv9845-washing .content-fv9845-washing .text-fv9845-washing-text-bottom-list ul li:last-child {
   margin-bottom: 0;
}


.container-fv9845-washing .row-fv9845-washing .pos_i_bl_bottom {
   position: absolute;
   right: 5%;
   bottom: 5%;
}

.container-fv9845-washing .row-fv9845-washing .pos_i_bl_bottom p {
   font-size: 1.8rem;
   color: #36525a;
   font-weight: bold;
}

/* ***** container-fv9845-washing ***** END */

/* ***** container-fv9845-footer ***** */

.container-fv9845-footer {
   position: relative;
}

.container-fv9845-footer .row-fv9845-footer.blimg_bg5 {
   background-image: url(https://cdn.comfy.ua/media/x/img/1459373n/7.JPG);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   width: 100%;
   min-height: 545px;
}
.container-fv9845-footer .row-fv9845-footer .content-fv9845-footer {
   width: 100%;
   max-width: 810px;
   margin: 0 auto;
   height: 100%;
   min-height: 545px;
   padding: 4% 15px 15px 15px;
   position: relative;
}
.container-fv9845-footer .row-fv9845-footer .content-fv9845-footer h2 {
   font-size: 3.5rem;
   text-align: center;
   font-weight: normal;
   line-height: 1;
}
.container-fv9845-footer .row-fv9845-footer .content-fv9845-footer p.tpf_bl {
   font-size: 4.5rem;
   text-align: center;
   font-weight: bold;
   text-transform: uppercase;
   color: #808080;
   line-height: 1;
}
.container-fv9845-footer .row-fv9845-footer .content-fv9845-footer p.tpf_bl span.sp_bl1 { line-height: 1; text-transform: inherit; font-size: 3rem; font-weight: normal; }
.container-fv9845-footer .row-fv9845-footer .content-fv9845-footer p.tpf_bl span.sp_bl2 { line-height: 1; font-size: 4rem; }
.container-fv9845-footer .row-fv9845-footer .content-fv9845-footer .color_red_bl { color: red; line-height: 1; }

.container-fv9845-footer .row-fv9845-footer .content-fv9845-footer .content-fv9845-footer-flex {
   display: flex;
   flex-direction: row;
   align-items: flex-start;
   width: 100%;
   max-width: 435px;
   padding: 15px 15px 15px 15px;
   margin-top: 4%;
}
.container-fv9845-footer .row-fv9845-footer .content-fv9845-footer .content-fv9845-footer-flex .itemf { }
.container-fv9845-footer .row-fv9845-footer .content-fv9845-footer .content-fv9845-footer-flex .itemf img {
   width: 88px;
   height: auto;
   max-width: inherit !important;
   margin-right: 15px;
}
.container-fv9845-footer .row-fv9845-footer .content-fv9845-footer .content-fv9845-footer-flex .itemf p { font-size: 2rem; }

.container-fv9845-footer .row-fv9845-footer .content-fv9845-footer .pos_i_bl_bottom {
   position: absolute;
   bottom: 5%;
   right: 5%;
}
.container-fv9845-footer .row-fv9845-footer .content-fv9845-footer .pos_i_bl_bottom p {
   color: #36525a;
   font-size: 1.7rem;
   font-weight: bold;
}

/* ***** container-fv9845-footer ***** END */


/* ***** media ***** */

@media screen and (min-width: 320px) and (max-width: 480px) {
   .container-fv9845-header .row-fv9845-header .contentfv9845-header h2 {
      font-size: 2.1rem;
   }

   .container-fv9845-header .row-fv9845-header .contentfv9845-header h2 span.praska {
      font-size: 2.8rem;
   }

   .container-fv9845-header .row-fv9845-header .contentfv9845-header p {
      font-size: 2.5rem;
   }

   .container-fv9845-header .row-fv9845-header .contentfv9845-header h2.h2_bold_hd {
      font-size: 2.8rem;
   }

   .container-fv9845-header .row-fv9845-header .contentfv9845-header {
      margin: 15px;
   }

   .container-fv9845-header span.posA_bl_chst {
      bottom: 15px;
      right: 15px;
   }

   .row-fv9845-technology-flex-block {
      flex-direction: column;
   }

   .row-fv9845-technology-flex-block .item_thlogy .content-technology-bl_flex_column.align_text_r {
      align-items: flex-start;
      text-align: left;
   }

   .row-fv9845-technology-flex-block .item_thlogy .content-technology-bl_flex_column {
      height: auto;
      flex-direction: row;
      flex-wrap: wrap;
   }

   .row-fv9845-technology-flex-block .item_thlogy .content-technology-bl_flex_column .bl_text {
      padding-bottom: 0;
      width: 50%;
      padding: 5px;
   }

   .row-fv9845-technology-flex-block .item_thlogy.bl_thlogy_center {
      padding-left: 0;
      padding-right: 0;
      padding-top: 15px;
      padding-bottom: 15px;
   }

   .container-fv9845-technology h2 {
      font-size: 2.8rem;
   }

   .container-fv9845-technology p.gltst {
      font-size: 2.3rem;
   }

   .container-fv9845-result .row-fv9845-result .text-fv9845-result_row_top h2 {
      font-size: 2.7rem;
   }

   .container-fv9845-result .row-fv9845-result .text-fv9845-result_row_top p {
      font-size: 3rem;
      color: #bfbfbf;
   }

   .container-fv9845-result .row-fv9845-result .text-fv9845-result_row_bottom {
      text-align: left;
      max-width: 275px;
      margin: auto 0 0 0;
   }

   .container-fv9845-result .row-fv9845-result.blimg_bg2 {
      display: flex;
      flex-direction: column;
      justify-content: center;
   }

   .container-fv9845-washing .row-fv9845-washing .content-fv9845-washing .text-fv9845-washing-text-top h2 {
      font-size: 3rem;
   }

   .container-fv9845-washing .row-fv9845-washing .content-fv9845-washing .text-fv9845-washing-text-top h2 span.bl_color_red {
      font-size: 3.1rem;
   }
   .container-fv9845-washing .row-fv9845-washing .content-fv9845-washing .text-fv9845-washing-text-top p {font-size: 3rem;}
   .container-fv9845-washing .row-fv9845-washing .content-fv9845-washing { right: 0px; }

   .container-fv9845-footer .row-fv9845-footer .content-fv9845-footer .content-fv9845-footer-flex { padding: 15px 0; max-width: 100%; }
   .container-fv9845-footer .row-fv9845-footer .content-fv9845-footer .pos_i_bl_bottom { right: inherit;}
   .container-fv9845-footer .row-fv9845-footer .content-fv9845-footer p.tpf_bl { font-size: 4rem; }
   .container-fv9845-footer .row-fv9845-footer.blimg_bg5 { background-position: inherit; }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
   .row-fv9845-technology-flex-block .item_thlogy .content-technology-bl_flex_column {
      height: 480px;
   }

   .row-fv9845-technology-flex-block .item_thlogy .content-technology-bl_flex_column .bl_text p {
      font-size: 1.8rem;
   }

   .container-fv9845-washing .row-fv9845-washing .content-fv9845-washing {
      max-width: inherit;
      position: absolute;
      right: 0;
      left: 0;
   }

   .container-fv9845-washing .row-fv9845-washing .pos_i_bl_bottom {
      right: 15px;
      bottom: 15px;
   }
   .container-fv9845-footer .row-fv9845-footer .content-fv9845-footer .content-fv9845-footer-flex {
      max-width: 340px;
      margin-top: 5%;
   }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {}

@media screen and (min-width: 1025px) {}