
#container-bl936e38 p:first-letter { padding-left: 0; }
#container-bl936e38 p { margin-bottom: 0; }
#container-bl936e38 img:hover { opacity: 1; }
#container-bl936e38 img { opacity: 1; max-width: 100%; }
#container-bl936e38 {
   max-width: 1316px;
   margin: 0 auto;
   height: auto;
   display: block;
   background-color: #fff;
   overflow: hidden;
}
.features-desc__text img { margin-bottom: 0rem; }

.one-col .features-desc__text p:first-letter { padding-left: 0rem !important; }
.color_red {color: #df212f;}
.color_grey {color: rgb(100, 100, 100);}
.color_green {color: #7faf75;}

.max_width-cont {
   max-width: 850px;
   margin: 0 auto;
   display: block;
   position: relative;
   height: 100%;
   padding: 0 15px;
   z-index: 10;
}

/**** container-superpower ****/

.container-superpower {}
.row-superpower {}
.row-superpower.bg_img1 {
   background-image: url(https://cdn.comfy.ua/media/x/img/1476891/1.png);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
   width: 100%;
   height: 535px;
}
.row-superpower .content-block-superpower {}
.row-superpower .content-block-superpower.max_width-cont {

}
.row-superpower .content-block-superpower .content_h2 {
   position: relative;
   top: 5rem;
   right: 0;
}
.row-superpower .content-block-superpower .content_h2 h2{
   font-size: 3.5rem;
   color: #fff;
   text-align: right;
   text-transform: uppercase;
   line-height: 1.1;
}
.container-f00-bottom {
   width: 100%;
   height: 50px;
   display: block;
   background: #fff;
   position: absolute;
   bottom: 0;
}
.row-f00-bottom {
   width: 100%;
   max-width: 850px;
   min-height: 48px;
   margin: 0 auto;
   display: block;
   position: relative;
}
.row-f00-bottom .bottom_content img {
   position: absolute;
   right: 0;
   bottom: 0;
   display: block;
}
.row-f00-bottom .bottom_content p {
   position: absolute;
   right: 15rem;
   bottom: 0;
   display: block;
   font-size: 1.5rem;
   padding: 5px 0 5px 0;
   text-align: right;
   line-height: 1;
}

/**** container-superpower END ****/

/**** container-retelnopdr  ****/

.container-retelnopdr {}
.row-retelnopdr {position: relative;}

.row-retelnopdr .img_pos_retelnopdr_left_top {
   position: absolute;
   left: -6rem;
   top: -6rem;
   z-index: 9;
}
.img_pos_retelnopdr_right_top {
   position: absolute;
   right: 5rem;
   top: -4rem;
   z-index: 9;
}

.row-retelnopdr.bg_img2 {
   background-image: url(https://cdn.comfy.ua/media/x/img/fon_2_1_.png);
   background-position: center;
   background-size: cover;
   width: 100%;
   min-height: 600px;
   position: relative;
   overflow: hidden;
}
.content-block-retelnopdr h2.glavtext1 {
   font-size: 3.5rem;
   text-align: center;
   line-height: 1;
   padding-top: 5rem;
}
.content-block-retelnopdr h3.glavtext2 {
   font-size: 3.5rem;
   color: #000;
   text-align: center;
   margin: 0;
   line-height: 1;
}
 .container-retelnopdr-flex { margin-top: 5rem;}
 .row-retelnopdr-flex {
   display: flex;
   flex-direction: row;
 }
 .row-retelnopdr-flex .item { flex: 1 1 0;}
 .row-retelnopdr-flex .item.itm_l {}
 .row-retelnopdr-flex .item.itm_c {}
 .row-retelnopdr-flex .item.itm_r {}

 .row-retelnopdr-flex .item .cont_flex_colmn {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
 }
 .row-retelnopdr-flex .item.itm_l {text-align: right;}
 .row-retelnopdr-flex .item.itm_r {text-align: left;}
 .row-retelnopdr-flex .item .cont_flex_colmn .itemclmn h2 {
   font-size: 2.1rem;
   margin-bottom: 15px;
 }
 .row-retelnopdr-flex .item .cont_flex_colmn .itemclmn p {font-size: 1.7rem;}
 .row-retelnopdr-flex .item.itm_c img {padding: 0 15px;display: block;margin: 0 auto;}
 .row-retelnopdr-flex .item .cont_flex_colmn .itemclmn.bl_text_top {}
 .row-retelnopdr-flex .item .cont_flex_colmn .itemclmn.bl_text_bottom {}

/**** container-retelnopdr END ****/

/**** container-porivnay  ****/

.container-porivnay {}
.row-porivnay {position: relative;}
.img_pos_porivnay_left_bottom {
   position: absolute;
   left: 7rem;
   top: -8rem;
   z-index: 9;
}
.img_pos_porivnay_right_bottom {
   position: absolute;
   right: -8rem;
   top: -15rem;
   z-index: 9;
}
.row-porivnay.bg_img3 {
   background-image: url(https://cdn.comfy.ua/media/x/img/dfs3/1.png);
   background-position: center;
   background-size: cover;
   width: 100%;
   min-height: 530px;
   position: relative;
}

.content-block-porivnay {}
.content-block-porivnay h2.str1 {
   text-align: center;
   color: #fff;
   text-transform: uppercase;
   font-size: 3.5rem;
   line-height: 1;
   padding-top: 5rem;
}
.content-block-porivnay p.str2 {
   text-align: center;
   color: #000;
   text-transform: uppercase;
   font-size: 3rem;
}
.content-block-porivnay .container-porivnay-flex {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   margin-top: 5rem;
   margin-bottom: 5rem;
}
.content-block-porivnay .container-porivnay-flex .item_prvy {}
.content-block-porivnay .container-porivnay-flex .item_prvy.prvy_l { flex: 1 1 51%; }
.content-block-porivnay .container-porivnay-flex .item_prvy.prvy_r { flex: 1 1 49%; }
.content-block-porivnay .container-porivnay-flex .item_prvy .cont-block-img {
   position: relative;
   width: 100%;
   max-width: 411px;
}
.content-block-porivnay .container-porivnay-flex .item_prvy .cont-block-img img {}

.content-block-porivnay .container-porivnay-flex .item_prvy .cont-block-img::after {
   content: "";
   background-image: url(https://cdn.comfy.ua/media/x/img/dfs3/vect_t.png);
   width: 82px;
   height: 27px;
   position: absolute;
   top: 0;
   left: -5px;
   background-repeat: no-repeat;
}
.content-block-porivnay .container-porivnay-flex .item_prvy .cont-block-img::before {
   content: "";
   background-image: url(https://cdn.comfy.ua/media/x/img/dfs3/vect_b.png);
   width: 82px;
   height: 27px;
   position: absolute;
   right: -5px;
   bottom: 4px;
   background-repeat: no-repeat;
}

.content-block-porivnay .container-porivnay-flex .item_prvy.prvy_r p {
   margin: 15px 15px 15px 5rem;
   font-size: 1.7rem;
}
.content-block-porivnay .container-porivnay-flex .item_prvy.prvy_r p span.btntext {
   display: block;
   margin-top: 15px;
}

/**** container-porivnay END ****/

/**** container-ricept-book ****/

.ontainer-ricept-book {}
.row-ricept-book {position: relative;}
.img_pos_ricept-book_left_top {
   position: absolute;
   left: -5rem;
   top: -10rem;
   z-index: 9;
}
.img_pos_ricept-book_right_bottom {
   position: absolute;
   right: -12rem;
   bottom: 4rem;
   z-index: 9;
}
.row-ricept-book.bg_img4 {
   background-image: url(https://cdn.comfy.ua/media/x/img/bl3/fon_4.png);
   background-position: center;
   background-size: cover;
   width: 100%;
   min-height: 650px;
   position: relative;
}
.row-ricept-book .content-block-ricept-book {}
.row-ricept-book .content-block-ricept-book h2.str3 {
   text-align: center;
   color: #df212f;
   text-transform: uppercase;
   font-size: 3.5rem;
   line-height: 1;
   padding-top: 5rem;
}
.row-ricept-book .content-block-ricept-book p.str4 {
   text-align: center;
   text-transform: uppercase;
   font-size: 3.5rem;
   line-height: 1;
   padding-top: 5px;
}
.row-ricept-book .content-block-ricept-book .container-content-ricept-book {
   position: relative;
   background: rgba(249, 249, 249, 0.6);
   padding: 30px 0px 15px 0px;
   max-width: 700px;
   height: auto;
   display: block;
   margin: 5rem auto 5rem;
}
.row-ricept-book .content-block-ricept-book .container-content-ricept-book::before {
   content: "";
   background-image: url(https://cdn.comfy.ua/media/x/img/bl3/vekt_lt.png);
   position: absolute;
   top: 0;
   left: -5px;
   width: 90px;
   height: 29px;
}
.row-ricept-book .content-block-ricept-book .container-content-ricept-book::after {
   content: "";
   background-image: url(https://cdn.comfy.ua/media/x/img/bl3/vect_br.png);
   position: absolute;
   bottom: 0;
   right: -5px;
   width: 90px;
   height: 29px;
}
.row-ricept-book .content-block-ricept-book .container-content-ricept-book .row-content-ricept-book-flex {
   display: flex;
   flex-direction: row;
   align-items: center;
}
.row-ricept-book .content-block-ricept-book .container-content-ricept-book .row-content-ricept-book-flex .item_bk {
   flex: 1 1 0;
}
.row-ricept-book .content-block-ricept-book .container-content-ricept-book .row-content-ricept-book-flex .item_bk.bl_l {

}
.row-ricept-book .content-block-ricept-book .container-content-ricept-book .row-content-ricept-book-flex .item_bk.bl_r {

}
.row-ricept-book .content-block-ricept-book .container-content-ricept-book .row-content-ricept-book-flex .item_bk.bl_l p {
   font-size: 3rem;
   text-align: center;
   line-height: 1;
   padding-bottom: 2rem;
}
.row-ricept-book .content-block-ricept-book .container-content-ricept-book .row-content-ricept-book-flex .item_bk.bl_l img {
   display: block;
   margin: 0 auto;
}
.row-ricept-book .content-block-ricept-book .container-content-ricept-book .row-content-ricept-book-flex .item_bk.bl_r h2 {
   font-size: 2.1rem;
   text-align: center;
   line-height: 1.6;
   border-bottom: 2px solid;
   max-width: 170px;
   margin: 0 auto 10px;
}
.row-ricept-book .content-block-ricept-book .container-content-ricept-book .row-content-ricept-book-flex .item_bk.bl_r span.boll_block {
   background: #df212f;
   width: 15px;
   height: 15px;
   border-radius: 50%;
   display: block;
   margin: 10px auto;
}
.row-ricept-book .content-block-ricept-book .container-content-ricept-book .row-content-ricept-book-flex .item_bk.bl_r p {
   font-size: 1.9rem;
   text-align: center;
   line-height: 1;
}
.row-ricept-book .content-block-ricept-book .container-content-ricept-book .row-content-ricept-book-flex .item_bk.bl_r img {
   display: block;
   margin: 15px auto 15px;
}

.row-content-ricept-book-flex  a.download {
   color: #fff;
   background: #e3192d;
   max-width: 150px;
   width: 100%;
   display: block;
   text-align: center;
   padding: 10px 5px 10px 5px;
   margin: 0 auto;
   border-radius: 5px;
   font-size: 1.7rem;
   margin-top: 15px;
}

/**** container-ricept-book END ****/



/* media */

@media screen and (min-width: 320px) and (max-width: 480px) {
   .row-superpower.bg_img1 {
      background-position: 27%;
   }
   .row-retelnopdr-flex {
      flex-direction: column;
   }
   .row-retelnopdr-flex .item.itm_l { text-align: center; }
   .row-retelnopdr-flex .item.itm_r { text-align: center; }
   .content-block-retelnopdr {
      margin-bottom: 16rem;
      margin-top: 16rem;
   }
   .content-block-porivnay .container-porivnay-flex { flex-direction: column;}
   .row-ricept-book .content-block-ricept-book .container-content-ricept-book .row-content-ricept-book-flex { flex-direction: column;}
}
@media screen and (min-width: 481px) and (max-width: 767px) {
   .row-superpower.bg_img1 {
      background-position: 35%;
   }
   .row-ricept-book .content-block-ricept-book .container-content-ricept-book {
      max-width: 100%;
   }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
   .row-superpower.bg_img1 {
      background-position: 35%;
   }
}
@media screen and (min-width: 1025px) {

}
