
.product-vstanovlennja-tv-standart-new-diagonal-46-ta .tabs-content { padding: 0; }

/*подсказка старт*/	
	.cont_fl_media.import_top_bl_i {
    margin: 5px 0 0 15px;
}
	
	.cont_fl_media .poster {
    position: relative;
}

.align_pos_bl_i {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-right: 2rem;
}

.cont_fl_media .descr {
    font-size: 16px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: none;
    padding: 10px;
    margin-top: 0px;
    background: #fff;
    height: 200px;
    -webkit-box-shadow: 0px -1px 4px 0px rgba(0,0,0,0.3);
    box-shadow: 0px -1px 4px 0px rgba(0,0,0,0.3);
    width: auto;
}

.cont_fl_media .poster:hover .descr {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    top: 3.5rem;
    z-index: 9999;
    padding: 5px;
    width: 280px;
    height: auto;
}

.cont_fl_media .poster:hover .descr:before {
    content: "";
    background-image: url(https://cdn.comfy.ua/media/x/img/Polygone.png);
    position: absolute;
    -webkit-background-size: contain;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 22px;
    height: 10px;
    top: -10px;
}



.cont_fl_media.import_top_bl_i .poster .descr p {
    padding-left: 1rem;
    /*text-align: justify;*/
    padding-bottom: 1rem;
    padding-top: 1rem;
font-style: normal;
    font-weight: normal;
    font-size: 16px;
}

/*подсказка финал*/
	
	
	#conteiner-tv-service {
	padding-bottom: 75px;
	}
	
	#conteiner-tv-service .doverie-tv {
	
	    display: flex;
    flex-direction: row;
    align-items: center;
	padding-top: 55px;
	padding-bottom: 230px;
	position: relative;
	
	}
	
	#conteiner-tv-service .doverie-tv:before {
    content: '';
    background: url(https://cdn.comfy.ua/media/x/img/1407180/ploskogybci.png);
    background-repeat: no-repeat;
    width: 255px;
    height: 100px;
    position: absolute;
    right: 0;
    top: 0;
	}
	
	#conteiner-tv-service .doverie-tv:after {
content: '';
    background: url(https://cdn.comfy.ua/media/x/img/1407180/otv-gaiki.png);
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 150px;
    height: 187px;
	}
	
	#conteiner-tv-service .doverie-tv .tv-wide-serv {
	
	}
	
	#conteiner-tv-service .doverie-tv .tv-wide-serv .strk1, #conteiner-tv-service .doverie-tv .tv-wide-serv .strk2, #conteiner-tv-service .doverie-tv .tv-wide-serv .strk3, #conteiner-tv-service .doverie-tv .tv-wide-serv .strk4, #conteiner-tv-service .doverie-tv .tv-wide-serv .strk5, #conteiner-tv-service .doverie-tv .tv-wide-serv .strk6 {
	
	    display: flex;
    flex-direction: row;
    align-items: center;
	    padding: 15px 3.4rem 5px 65px;
	}
	
	#conteiner-tv-service .doverie-tv .tv-wide-serv .strk1 h2 {
	font-size: 42px;
	}
	
	#conteiner-tv-service .doverie-tv .tv-wide-serv .strk2 p, #conteiner-tv-service .doverie-tv .tv-wide-serv .strk3 p, #conteiner-tv-service .doverie-tv .tv-wide-serv .strk4 p, #conteiner-tv-service .doverie-tv .tv-wide-serv .strk5 p, #conteiner-tv-service .doverie-tv .tv-wide-serv .strk6 p {
	
	    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    color: #3C3C3C;
	margin: 0;
    padding: 0;
    width: 100%;
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
	
	}
	
		#conteiner-tv-service .doverie-tv .tv-wide-serv .strk1:before {
	content:'';
	}
	
	#conteiner-tv-service .doverie-tv .tv-wide-serv .strk2:before {
	content:'';
	background: url(https://cdn.comfy.ua/media/x/img/1407180/ryka_palec.png);
	background-repeat: no-repeat;
	    width: 45px;
    height: 35px;
    display: block;
	background-position: center;
	    margin-right: 15px;
	}
	
	#conteiner-tv-service .doverie-tv .tv-wide-serv .strk3:before {
	content:'';
		background: url(https://cdn.comfy.ua/media/x/img/1407180/driller.png);
	background-repeat: no-repeat;
	    width: 45px;
    height: 35px;
    display: block;
	background-position: center;
	    margin-right: 15px;
	}
	
	#conteiner-tv-service .doverie-tv .tv-wide-serv .strk4:before {
	content:'';
		background: url(https://cdn.comfy.ua/media/x/img/1407180/protection.png);
	background-repeat: no-repeat;
	    width: 45px;
    height: 35px;
    display: block;
	background-position: center;
	    margin-right: 15px;
	}
	
	#conteiner-tv-service .doverie-tv .tv-wide-serv .strk5:before {
	content:'';
		background: url(https://cdn.comfy.ua/media/x/img/1407180/employee.png);
	background-repeat: no-repeat;
	    width: 45px;
    height: 35px;
    display: block;
	background-position: center;
	    margin-right: 15px;
	}
	
	
	#conteiner-tv-service .doverie-tv .tv-wide-serv .strk6:before {
	content:'';
		background: url(https://cdn.comfy.ua/media/x/img/1407180/monitor.png);
	background-repeat: no-repeat;
	    width: 45px;
    height: 35px;
    display: block;
	background-position: center;
	    margin-right: 15px;
	}
	
	.product-vstanovlennja-tv-z-materialami-i-dod-robotami-diagonal-46-ta .tabs-content {
	padding: 0;
	}

.uslygi-list-tv {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #F1F1F1;
    margin-right: 70px;
    padding: 75px 0px 75px 85px;
    margin-bottom: 45px;
    position: relative;
}

.uslygi-list-tv:before {
content: "";
    background-image: url(https://cdn.comfy.ua/media/x/img/1407180/dots.png);
    position: absolute;
    -webkit-background-size: contain;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 215px;
    height: 97px;
    top: -25px;
    left: 50%;
    margin-left: -108px;
}

.uslygi-list-tv:after {
 content: "";
    background-image: url(https://cdn.comfy.ua/media/x/img/1407180/klychi.png);
    position: absolute;
    -webkit-background-size: contain;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
width: 108px;
    height: 147px;
    bottom: 0px;
    left: 50%;
    margin-left: -54px;
}

.uslygi-list-tv .vkl-serv-comfy {

}

.uslygi-list-tv .vkl-serv-comfy:first-child {
    width: 50%;
}

.uslygi-list-tv .vkl-serv-comfy:last-child {
    width: 50%;
}

.uslygi-list-tv .vkl-serv-comfy:last-child:after {
    content: "";
    background-image: url(https://cdn.comfy.ua/media/x/img/1407180/dot-right.png);
    position: absolute;
    -webkit-background-size: contain;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 31px;
    height: 272px;
    right: -55px;
    top: 50%;
    margin-top: -136px;
}

.uslygi-list-tv .vkl-serv-comfy h2 {
font-style: normal;
font-weight: bold;
font-size: 26px;
padding-bottom: 30px;
}

.uslygi-list-tv .vkl-serv-comfy ul {

}

.uslygi-list-tv .vkl-serv-comfy ul li {

display: flex;
    flex-direction: row;
    align-items: center;
padding: 5px 0 5px 0px;

}

.uslygi-list-tv .vkl-serv-comfy ul li:before {
    content: '';
    background: url(https://cdn.comfy.ua/media/x/img/1407180/mark.png);
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    background-position: center;
    display: block;
	flex-shrink: 0;
	margin-right: 20px;

}

.uslygi-list-tv .vkl-serv-comfy ul li p {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
}

.uslygi-list-tv .vkl-serv-comfy img.wrk-comfy-serv1 {
    top: -40px;
    position: absolute;
    right: 0;
}

.uslygi-list-tv .vkl-serv-comfy img.wrk-comfy-serv2 {
position: absolute;
    right: 0;
    bottom: -40px;
}


/* ***** cont_garantiy section 4 ***** */

	.cont_garantiy { padding: 100px 15px 50px 65px; overflow: auto; }
	.cont_garantiy .row_garantiy { max-width: 995px; width: 100%; display: block; margin: 0 auto; }

	.cont_garantiy .row_garantiy .cont_bg_block_gradient { 
		position: relative;
		width: 950px;
		height: 144px;
		background: -webkit-linear-gradient(359.62deg, #41B02A 60.17%, rgba(65, 176, 42, 0) 107.6%);
		background: -o-linear-gradient(359.62deg, #41B02A 60.17%, rgba(65, 176, 42, 0) 107.6%);
		background: linear-gradient(90.38deg, #41B02A 60.17%, rgba(65, 176, 42, 0) 107.6%);

	}
	.cont_garantiy .row_garantiy .cont_bg_block_gradient:after {
		content: "";
		background-image: url(https://cdn.comfy.ua/media/x/img/b1new.jpg);
		-webkit-background-size: contain;
		        background-size: contain;
		background-repeat: no-repeat;
		position: absolute;
		right: 0;
		top: 0;
		width: 71px;
		height: 144px;
	}
	.cont_garantiy .row_garantiy .cont_bg_block_gradient .img_cont_star {
		position: absolute;
    	left: -5rem;
    	top: -4rem;
	}
	.cont_garantiy .row_garantiy .cont_bg_block_gradient p {
    	font-size: 26px;
    	color: #fff;
    	display: -webkit-box;
    	display: -webkit-flex;
    	display: -ms-flexbox;
    	display: flex;
    	-webkit-box-align: center;
    	-webkit-align-items: center;
    	    -ms-flex-align: center;
    	        align-items: center;
    	height: 100%;
    	line-height: 1.8;
    	padding-left: 21rem;
	}

	.cont_markirovka_condic .row_markirovka_condic h2.glav_mar { font-size: 36px; font-weight: bold; text-align: center; margin-bottom: 50px; }

@media screen and (min-width: 320px) and (max-width: 480px){

.cont_garantiy { padding: 0; }
	.cont_garantiy .row_garantiy { width: 100%; }
	.cont_garantiy .row_garantiy .cont_bg_block_gradient .img_cont_star { position: relative; left: 0; top: 0; margin: 0 auto; text-align: center; }
	.cont_garantiy .row_garantiy .cont_bg_block_gradient p { padding-left: 0; }
	.cont_garantiy .row_garantiy .cont_bg_block_gradient:after { width: 0; height: 0; }
	.cont_garantiy .row_garantiy .cont_bg_block_gradient { width: 100%; height: auto; padding: 15px; background: -webkit-linear-gradient(274.62deg, #41B02A 86.17%, rgba(65, 176, 42, 0) 107.6%); background: -o-linear-gradient(274.62deg, #41B02A 86.17%, rgba(65, 176, 42, 0) 107.6%); background: linear-gradient(175.38deg, #41B02A 86.17%, rgba(65, 176, 42, 0) 107.6%); }
	
	#conteiner-tv-service .doverie-tv {
	flex-direction: column;
	}
	
	#conteiner-tv-service .doverie-tv .tv-wide-serv .strk1, #conteiner-tv-service .doverie-tv .tv-wide-serv .strk2, #conteiner-tv-service .doverie-tv .tv-wide-serv .strk3, #conteiner-tv-service .doverie-tv .tv-wide-serv .strk4, #conteiner-tv-service .doverie-tv .tv-wide-serv .strk5, #conteiner-tv-service .doverie-tv .tv-wide-serv .strk6 {
	    padding: 10px 3.4rem 5px 2.8rem;
	}
	
		#conteiner-tv-service .doverie-tv:before, #conteiner-tv-service .doverie-tv:after {
	display: none;
	}
	
	
		.uslygi-list-tv {
	    margin-right: 0px;
		padding: 75px 2.8rem 75px 3.4rem;
		    flex-direction: column;
	}
	
	.uslygi-list-tv .vkl-serv-comfy:first-child {
    width: 100%;
}
	
	.uslygi-list-tv .vkl-serv-comfy:last-child {
	text-align: center;
	    width: 100%;
	}
	
	.uslygi-list-tv .vkl-serv-comfy img.wrk-comfy-serv1, .uslygi-list-tv .vkl-serv-comfy img.wrk-comfy-serv2 {
	position: static;
	}
	
	.uslygi-list-tv:before {
display: none;
}

.uslygi-list-tv:after {
display: none;
}

.uslygi-list-tv .vkl-serv-comfy:last-child:after {
display: none;
}

}
@media screen and (min-width: 481px) and (max-width: 768px){

#conteiner-tv-service .doverie-tv .tv-wide-serv .strk1, #conteiner-tv-service .doverie-tv .tv-wide-serv .strk2, #conteiner-tv-service .doverie-tv .tv-wide-serv .strk3, #conteiner-tv-service .doverie-tv .tv-wide-serv .strk4, #conteiner-tv-service .doverie-tv .tv-wide-serv .strk5, #conteiner-tv-service .doverie-tv .tv-wide-serv .strk6 {
	    padding: 10px 3.4rem 5px 2.8rem;
	}
	
		#conteiner-tv-service .doverie-tv:before, #conteiner-tv-service .doverie-tv:after {
	display: none;
	}
	
	
		.uslygi-list-tv {
	    margin-right: 0px;
		padding: 75px 2.8rem 75px 3.4rem;
		    flex-direction: column;
	}
	
	.uslygi-list-tv .vkl-serv-comfy:first-child {
    width: 100%;
}
	
	.uslygi-list-tv .vkl-serv-comfy:last-child {
	text-align: center;
	    width: 100%;
	}
	
	.uslygi-list-tv .vkl-serv-comfy img.wrk-comfy-serv1, .uslygi-list-tv .vkl-serv-comfy img.wrk-comfy-serv2 {
	position: static;
	}
	
	.uslygi-list-tv:before {
display: none;
}

.uslygi-list-tv:after {
display: none;
}

.uslygi-list-tv .vkl-serv-comfy:last-child:after {
display: none;
}

}
@media screen and (min-width: 769px) and (max-width: 1024px){

#conteiner-tv-service .doverie-tv .tv-wide-serv .strk1, #conteiner-tv-service .doverie-tv .tv-wide-serv .strk2, #conteiner-tv-service .doverie-tv .tv-wide-serv .strk3, #conteiner-tv-service .doverie-tv .tv-wide-serv .strk4, #conteiner-tv-service .doverie-tv .tv-wide-serv .strk5, #conteiner-tv-service .doverie-tv .tv-wide-serv .strk6 {
	    padding: 10px 3.4rem 5px 3.8rem;
	}
	
	.uslygi-list-tv {
	    margin-right: 0px;
		padding: 75px 2.8rem 75px 3.4rem;
	}
	
	.uslygi-list-tv .vkl-serv-comfy:last-child {
	text-align: center;
	}
	
	.uslygi-list-tv .vkl-serv-comfy img.wrk-comfy-serv1, .uslygi-list-tv .vkl-serv-comfy img.wrk-comfy-serv2 {
	position: static;
	}
	
	.uslygi-list-tv:before {
display: none;
}

.uslygi-list-tv:after {
display: none;
}

.uslygi-list-tv .vkl-serv-comfy:last-child:after {
display: none;
}

}
@media screen and (min-width: 1025px){

}