#navi-maps {
  display: block;
  margin: 0 auto;
  max-width: 1366px;
  width: 100%;
  height: auto;
  overflow: hidden;
  background: #F8F9FA;
  position: relative;
}
#navi-maps img:hover {
  opacity: 1;
}
#navi-maps:first-letter {
  padding-left: 0;
}
#navi-maps img {
  display: block;
  margin-right: initial;
  margin-left: initial;
}
#navi-maps p {
  font-size: 16px;
  margin-bottom: 0;
  color: #000;
}
#navi-maps p b {
  font-size: 20px;
}
#navi-maps h2 {
  font-size: 34px;
  line-height: 1;
  color: #000;
  font-weight: bold;
  text-align: left;
}
#navi-maps h3 {
  font-size: 28px;
  line-height: 1;
  color: #000;
  font-weight: bold;
  text-align: left;
  margin: 0;
}

span.word-wrap {
  display: block;
  word-wrap: break-word;
}

.features-desc__text h2 {
  text-align: inherit;
}

.one-col .features-desc__text p {
  text-align: inherit;
}

.main-container.page {
  padding-left: 0;
  padding-right: 0;
}

.navi-maps-header {
  background: -webkit-linear-gradient(190.28deg, rgba(114, 209, 92, 0.3) 2.58%, rgba(192, 244, 180, 0.3) 95.46%), #FFFFFF;
  background: -o-linear-gradient(190.28deg, rgba(114, 209, 92, 0.3) 2.58%, rgba(192, 244, 180, 0.3) 95.46%), #FFFFFF;
  background: linear-gradient(259.72deg, rgba(114, 209, 92, 0.3) 2.58%, rgba(192, 244, 180, 0.3) 95.46%), #FFFFFF;
}

.navi-maps-header__container {
  padding: 63px 135px 0 75px;
}
.navi-maps-header__container.bgrd1 {
  background-image: url(https://cdn.comfy.ua/media/x/img2/navimaps/img3.png);
  background-position: right;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  max-width: 1366px;
  width: 100%;
  height: 600px;
}

.navi-maps-header__content-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navi-maps-header__item:first-child {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0;
     -moz-box-flex: 1;
      -ms-flex: 1 0;
          flex: 1 0;
  max-width: 603px;
}

.navi-maps-header__text h2 {
  padding: 33px 0 16px 0;
}

.navi-maps-header__maps-ukr {
  position: relative;
  margin: -100px 48px 0 48px;
}

.navi-maps-header__maps-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 48px;
  background: #FFFFFF;
  -webkit-box-shadow: 15px 15px 30px 2px rgba(201, 201, 201, 0.2);
          box-shadow: 15px 15px 30px 2px rgba(201, 201, 201, 0.2);
  -webkit-border-radius: 60px 10px 48px;
          border-radius: 60px 10px 48px;
}

.navi-maps-header__h2 span {
  display: block;
  color: #FF671F;
  font-size: 48px;
  font-weight: bold;
  padding-bottom: 14px;
  line-height: 1;
}

.navi-maps-item {
  position: relative;
  padding: 48px;
}

.navi-maps-item__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 32px;
}

.navi-maps-item__grid-item {
  padding: 24px 0;
}

.navi-maps-item__img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
     -moz-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 16px;
}
.navi-maps-item__img .itembl {
  background: #43B02A;
  -webkit-box-shadow: 0px 6px 15px 2px rgba(67, 176, 42, 0.6);
          box-shadow: 0px 6px 15px 2px rgba(67, 176, 42, 0.6);
  -webkit-border-radius: 8px;
          border-radius: 8px;
  width: 48px;
  height: 48px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.navi-maps-item__img p {
  padding-left: 15px;
}

.navi-maps-footer {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(114, 209, 92, 0.2)), to(rgba(192, 244, 180, 0.2))), #FFFFFF;
  background: -webkit-linear-gradient(top, rgba(114, 209, 92, 0.2) 0%, rgba(192, 244, 180, 0.2) 100%), #FFFFFF;
  background: -o-linear-gradient(top, rgba(114, 209, 92, 0.2) 0%, rgba(192, 244, 180, 0.2) 100%), #FFFFFF;
  background: linear-gradient(180deg, rgba(114, 209, 92, 0.2) 0%, rgba(192, 244, 180, 0.2) 100%), #FFFFFF;
}

.navi-maps-footer__container {
  padding: 48px 48px 80px 48px;
}

.navi-maps-footer__grid {
  counter-reset: itm;
}
.navi-maps-footer__grid:first-child {
  margin-bottom: 48px;
}
.navi-maps-footer__grid h3 {
  padding-bottom: 24px;
}

.navi-maps-footer__gridbl {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 24px;
}

.navi-maps-footer__gridbl-item {
  background: #FFFFFF;
  -webkit-box-shadow: 15px 15px 30px 2px rgba(201, 201, 201, 0.2);
          box-shadow: 15px 15px 30px 2px rgba(201, 201, 201, 0.2);
  -webkit-border-radius: 64px 10px 48px;
          border-radius: 64px 10px 48px;
  padding: 32px 15px;
  position: relative;
}
.navi-maps-footer__gridbl-item::before {
  counter-increment: itm;
  content: counter(itm);
  background: -webkit-gradient(linear, left top, left bottom, from(#FF671F), to(#FDAE55));
  background: -webkit-linear-gradient(top, #FF671F 0%, #FDAE55 100%);
  background: -o-linear-gradient(top, #FF671F 0%, #FDAE55 100%);
  background: linear-gradient(180deg, #FF671F 0%, #FDAE55 100%);
  -webkit-box-shadow: 4px 4px 10px 2px rgba(255, 103, 31, 0.3);
          box-shadow: 4px 4px 10px 2px rgba(255, 103, 31, 0.3);
  -webkit-border-radius: 50px;
          border-radius: 50px;
  width: 32px;
  height: 32px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  left: 0;
  top: -5px;
  position: absolute;
}

.navi-maps-footer__gridbl-p {
  text-align: center;
  padding-bottom: 16px;
}

.navi-maps-footer__gridbl-img img {
  margin: 0 auto !important;
}
.navi-maps-footer__gridbl-img.styleimg {
  position: relative;
  bottom: -12px;
}

@media (max-width: 1024px) {
  #navi-maps h2 {
    font-size: 30px;
  }
  #navi-maps h3 {
    font-size: 25px;
  }
  .navi-maps-header__container {
    padding: 40px 25px 0 25px;
  }
  .navi-maps-header__item:first-child {
    max-width: 550px;
  }
  .navi-maps-header__maps-ukr {
    margin: -70px 25px 0 25px;
  }
  .navi-maps-header__maps-flex {
    padding: 35px 25px;
  }
  .navi-maps-header__h2 span {
    font-size: 30px;
    padding-bottom: 5px;
  }
  .navi-maps-item {
    padding: 25px;
  }
  .navi-maps-item__grid {
    grid-gap: 25px;
  }
  .navi-maps-item__grid-item {
    padding: 15px 0;
  }
  .navi-maps-footer__container {
    padding: 35px 25px 35px 25px;
  }
}
@media (max-width: 812px) {
  #navi-maps h2 {
    font-size: 25px;
  }
  #navi-maps h3 {
    font-size: 25px;
  }
  span.word-wrap {
    display: initial;
  }
  .navi-maps-header__item:first-child {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 0;
       -moz-box-flex: 1;
        -ms-flex: 1 1 0px;
            flex: 1 1 0;
    max-width: 100%;
  }
  .navi-maps-header__item {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 0;
       -moz-box-flex: 1;
        -ms-flex: 1 1 0px;
            flex: 1 1 0;
  }
  .navi-maps-header__text {
    padding-right: 15px;
  }
  .navi-maps-header__container.bgrd1 {
    height: auto;
  }
  .navi-maps-header__maps-ukr {
    margin: 0px 25px 0 25px;
  }
  .navi-maps-header__container {
    padding: 25px 25px 25px 25px;
  }
  .navi-maps-item__img {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: inherit;
    -webkit-align-items: inherit;
       -moz-box-align: inherit;
        -ms-flex-align: inherit;
            align-items: inherit;
  }
  .navi-maps-item__img p {
    padding-left: 0;
    padding-top: 10px;
  }
  .navi-maps-header__h2 span {
    font-size: 25px;
  }
  .navi-maps-footer__gridbl {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 480px) {
  #navi-maps h2 {
    font-size: 24px;
  }
  #navi-maps h3 {
    font-size: 20px;
    text-align: center;
  }
  .navi-maps-header__container {
    padding: 24px 12px 75px 12px;
  }
  .navi-maps-header__content-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navi-maps-header__text h2 {
    padding: 16px 0 12px 0;
  }
  .navi-maps-header__text img {
    margin: 0 auto !important;
    max-width: 140px;
  }
  .navi-maps-header__item:last-child {
    padding-top: 35px;
  }
  .navi-maps-header__item:last-child img {
    margin: 0 auto;
    max-width: 240px;
  }
  .navi-maps-header__container.bgrd1 {
    background-position: 95% 87%;
    -webkit-background-size: 190% 190%;
         -o-background-size: 190%;
            background-size: 190%;
  }
  .navi-maps-header__maps-ukr {
    margin: -50px 28px 0 28px;
  }
  .navi-maps-header__h2 span {
    font-size: 36px;
  }
  .navi-maps-header__maps-flex {
    padding: 48px 25px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navi-maps-header__item-maps p {
    text-align: center !important;
  }
  .navi-maps-header__item-maps {
    padding-bottom: 24px;
  }
  .navi-maps-header__item-maps:last-child {
    padding-bottom: 0;
  }
  .navi-maps-item__grid {
    grid-gap: 24px;
    grid-template-columns: 1fr;
  }
  .navi-maps-item__grid-item {
    padding: 0 0;
  }
  .navi-maps-item__img {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
       -moz-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  #navi-maps p b {
    font-size: 16px;
  }
  .navi-maps-item__img p {
    padding-left: 18px;
  }
  .navi-maps-item__img .itembl {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 48px;
       -moz-box-flex: 1;
        -ms-flex: 1 0 48px;
            flex: 1 0 48px;
    max-width: 48px;
  }
  .navi-maps-item {
    padding: 48px 12px;
  }
  .navi-maps-footer__gridbl {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 320px) {
  .navi-maps-item__img p {
    padding-left: 16px;
  }
  .navi-maps-item__img .itembl {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 36px;
       -moz-box-flex: 1;
        -ms-flex: 1 0 36px;
            flex: 1 0 36px;
    max-width: 36px;
    height: 36px;
  }
  .navi-maps-item__img .itembl img {
    max-width: 21px;
  }
}