@charset "UTF-8";
#lp8marta {
  display: block;
  margin: 0 auto;
  max-width: 1366px;
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
  background: -webkit-linear-gradient(306.09deg, #FDC527 1%, #FFEF6A 34.18%, #FFEF6A 52.35%, #FDC527 88.25%);
  background: -moz-linear-gradient(306.09deg, #FDC527 1%, #FFEF6A 34.18%, #FFEF6A 52.35%, #FDC527 88.25%);
  background: -o-linear-gradient(306.09deg, #FDC527 1%, #FFEF6A 34.18%, #FFEF6A 52.35%, #FDC527 88.25%);
  background: linear-gradient(143.91deg, #FDC527 1%, #FFEF6A 34.18%, #FFEF6A 52.35%, #FDC527 88.25%);
}

#lp8marta img:hover {
  opacity: 1;
}

#lp8marta:first-letter {
  padding-left: 0;
}

#lp8marta img {
  display: block;
  margin-right: initial;
  margin-left: initial;
}

#lp8marta p {
  font-size: 24px;
  font-weight: bold;
  color: #000;
  text-align: center;
  margin-bottom: 0;
}

#lp8marta h2 {
  font-size: 42px;
  line-height: 1;
  font-weight: bold;
  color: #DC0024;
  text-align: center;
}

span.word-wrap {
  display: block;
  word-wrap: break-word;
}

span.fw-bold {
  font-weight: bold;
}

span.tx-uppercase {
  text-transform: uppercase;
}

.features-desc__text h2 {
  text-align: inherit;
}

.one-col .features-desc__text p {
  text-align: inherit;
}

.lp8marta__linefff {
  width: 100%;
  height: 20px;
  background: #fff;
}

.lp8marta-prod__img-posleft {
  position: absolute;
  left: 0;
  z-index: 1;
  bottom: 0;
}

.lp8marta-prod__linkft {
  padding: 75px 0 64px 0;
  position: relative;
}

.lp8marta-prod__linkft a {
  background: #DC0024;
  max-width: 300px;
  width: 100%;
  display: block;
  padding: 25px 0px;
  margin: 0 auto;
  text-align: center;
}

.lp8marta-prod__linkft a span {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  position: relative;
  padding-right: 30px;
}

.lp8marta-prod__linkft a span::before {
  content: "";
  background-image: url(https://cdn.comfy.ua/media/x/img2/8marta/img12.png);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  position: absolute;
  right: 0;
  top: 0;
  width: 22px;
  height: 29px;
}

.lp8marta-header {
  width: 100%;
  height: 700px;
  overflow: hidden;
  display: block;
}

.lp8marta-header__wrap {
  position: relative;
  height: 100%;
}

.lp8marta-header__img1-pos {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.lp8marta-header__logo {
  position: relative;
  z-index: 2;
  padding: 40px 0 0 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lp8marta-header__logo-text {
  padding-left: 35px;
}

.lp8marta-header__logo-text-one span {
  font-weight: bold;
  font-size: 57px;
  line-height: 1;
  color: #FFFFFF;
  text-shadow: 0px 0px 10px rgba(243, 160, 35, 0.9);
}

.lp8marta-header__logo-text-two span {
  font-weight: bold;
  font-size: 68.5997px;
  line-height: 1;
  color: #FFFFFF;
  text-shadow: 0px 0px 10px rgba(243, 160, 35, 0.9);
}

.lp8marta-header__sale-lego {
  position: absolute;
  right: 133px;
  top: 55px;
  z-index: 2;
}

.lp8marta-header__sale-lego__text-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.lp8marta-header__sale-lego__item {
  text-align: center;
}

.lp8marta-header__sale-lego__item span.textbl {
  font-weight: bold;
  font-size: 36px;
  line-height: 1;
  color: #FFFFFF;
  text-shadow: 0px 0px 10px rgba(243, 160, 35, 0.9);
  margin-bottom: 5px;
  display: block;
}

.lp8marta-header__sale-lego__item span.line {
  width: 50px;
  display: block;
  background: #fff;
  height: 16px;
  font-size: 36px;
  line-height: 1;
  text-shadow: 0px 0px 10px rgba(243, 160, 35, 0.9);
}

.lp8marta-header__sale-lego__item span.salebl {
  font-weight: bold;
  font-size: 144px;
  line-height: 1;
  color: #FFFFFF;
  text-shadow: 0px 0px 10px rgba(243, 160, 35, 0.9);
}

.lp8marta-header__sale-lego__item span.saleproc {
  font-weight: bold;
  font-size: 80px;
  line-height: 1;
  color: #FFFFFF;
  text-shadow: 0px 0px 10px rgba(243, 160, 35, 0.9);
}

.lp8marta-header__sale-lego__text-bt span {
  font-weight: bold;
  font-size: 48px;
  line-height: 1;
  color: #FFFFFF;
  text-shadow: 0px 0px 10px rgba(243, 160, 35, 0.9);
}

.lp8marta-header__img {
  position: absolute;
  right: 70px;
  bottom: 30px;
  z-index: 2;
}

.lp8marta-header__img img {
  margin: 0 auto !important;
}

.lp8marta-header__img .lp8marta-header__img-text span {
  font-weight: bold;
  font-size: 65.5997px;
  line-height: 70px;
  color: #FFFFFF;
  text-shadow: 0px 0px 10px rgba(243, 160, 35, 0.8);
  text-align: right;
  display: block;
}

.lp8marta-header__img-pos2 {
  position: absolute;
  left: 0;
  bottom: -60px;
  z-index: 1;
}

.lp8marta__linebgrd {
  background-image: url(https://cdn.comfy.ua/media/x/img2/8marta/img8.png);
  background-position: center;
  width: 100%;
  height: 81px;
}

.lp8marta-header__img2-pos {
  position: absolute;
  z-index: 1;
  left: 100px;
  top: 192px;
}

.supblr {
  font-size: 35px;
  line-height: 1;
  top: -10px;
}

.lp8marta-header__img-pos2-onlymob {
  display: none;
}

.lp8marta-header__img1-pos-onlymob {
  display: none;
}

.lp8marta-header__img-pos2-img-pos1, .lp8marta-header__img-pos2-img-pos2 {
  display: none;
}

.lp8marta-prod {
  padding: 24px 43px;
}

.lp8marta-prod__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
}

.lp8marta-prod__grid.gridtwo {
  -ms-grid-columns: 400px 400px;
      grid-template-columns: 400px 400px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.lp8marta-prod__item {
  padding: 24px 0 32px 0;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.lp8marta-prod__img img {
  margin: 0 auto !important;
}

.lp8marta-prod__p {
  padding: 24px 5px;
}

.lp8marta-prod__link {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
     -moz-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.lp8marta-prod__link span.bayprod {
  background: #DC0024;
  max-width: 205px;
  width: 100%;
  margin: 0 auto;
  color: #fff;
  padding: 9px 0;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  display: block;
}

.lp8marta-prod__img-posft {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1;
  right: 21%;
}

.p8marta-prod__h2 {
  padding: 18px 0;
}

.lp8marta-prod__wrap {
  position: relative;
}

.lp8marta-price {
  padding: 0 12px 0 35px;
}

.lp8marta-price__top {
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  color: grey;
  position: relative;
  display: table;
  padding-right: 14px;
}

.lp8marta-price__top span {
  text-decoration: line-through;
}

.lp8marta-price__top span::before {
  content: "₴";
  color: grey;
  font-size: 14px;
  position: absolute;
  right: 0;
  bottom: 0;
  line-height: 1.1;
}

.lp8marta-price__top span.pay__price-none {
  font-size: 34px;
  font-weight: bold;
  line-height: 1;
  position: relative;
  display: table;
  padding-right: 14px;
  color: #000;
  text-decoration: none;
}

.lp8marta-price__top span.pay__price-none::before {
  color: #000;
  font-size: 18px;
  position: absolute;
  right: 0;
  bottom: 1px;
  line-height: 1.1;
}

.lp8marta-price__bottom {
  font-size: 34px;
  font-weight: bold;
  line-height: 1;
  position: relative;
  display: table;
  padding-right: 14px;
}

.lp8marta-price__bottom span::before {
  content: "₴";
  color: #000;
  font-size: 18px;
  position: absolute;
  right: 0;
  bottom: 1px;
  line-height: 1.1;
}

@media (max-width: 1250px) {
  .lp8marta-header__logo-text-one span {
    font-size: 35px;
  }
  .lp8marta-header__logo-text-two span {
    font-size: 44.5997px;
  }
  .lp8marta-header__logo img {
    max-width: 115px;
  }
  .lp8marta-header__sale-lego__item span.salebl {
    font-size: 100px;
  }
  .lp8marta-header__sale-lego__text-bt span {
    font-size: 40px;
  }
  .lp8marta-header__img-pos2 {
    max-width: 90%;
  }
  .lp8marta-header__img .lp8marta-header__img-text span {
    font-size: 55.5997px;
    line-height: 1;
  }
  .lp8marta-header__img img {
    max-width: 98%;
  }
  .lp8marta-header__img2-pos {
    left: 40px;
    top: 205px;
  }
  .lp8marta-prod__grid {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .lp8marta-prod__grid.gridtwo {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .lp8marta-prod__grid.gridtwo .lp8marta-prod__item:first-child {
    margin: 0 0 0 auto;
  }
  .lp8marta-prod__img {
    max-width: 286px;
    width: 100%;
    margin: 0 auto;
  }
  .lp8marta-prod {
    padding: 20px 12px;
  }
  #lp8marta p {
    font-size: 18px;
  }
}

@media (max-width: 1024px) {
  .lp8marta-header__img2-pos {
    display: none;
  }
  .lp8marta-header__sale-lego {
    right: 106px;
    top: 85px;
  }
  .lp8marta-header__img-pos2 {
    max-width: 83%;
    bottom: -37px;
    left: -70px;
  }
  .lp8marta-header__img {
    right: 24px;
    bottom: 90px;
  }
  .lp8marta-price {
    padding: 0 12px 0 0;
  }
}

@media (max-width: 812px) {
  .lp8marta-header {
    height: auto;
  }
  .lp8marta-header__sale-lego {
    position: relative;
    right: 0;
    top: 0;
  }
  .lp8marta-header__sale-lego__text-bt {
    text-align: center;
  }
  .lp8marta-header__img .lp8marta-header__img-text span {
    text-align: center;
  }
  .lp8marta-header__img {
    right: 0;
    bottom: 0;
    position: relative;
  }
  .lp8marta-header__img-pos2 {
    max-width: 75%;
    bottom: 0;
    left: 0;
    position: relative;
  }
  #lp8marta h2 {
    font-size: 24px;
  }
  .p8marta-prod__h2 {
    padding: 5px 0 20px 0;
    max-width: 480px;
    margin: 0 auto;
  }
  .lp8marta-prod__grid {
    grid-gap: 15px;
  }
  .lp8marta-prod__item {
    padding: 17px 0 17px 0;
    width: 100%;
  }
  .lp8marta-prod__link span.bayprod {
    font-size: 20px;
  }
  .lp8marta-prod__linkft a span {
    font-size: 20px;
  }
  .lp8marta-prod__linkft a {
    max-width: 255px;
    padding: 16px 0px;
  }
  .lp8marta-prod__linkft a span::before {
    top: 2px;
  }
  .lp8marta-prod__img-posft {
    right: 12%;
  }
  .lp8marta-header__img img {
    position: relative;
    left: -60px;
  }
  .lp8marta-header__img img {
    max-width: 55%;
  }
  .lp8marta-header__logo {
    padding: 20px 0 0 15px;
  }
  .lp8marta-header__sale-lego__item span.salebl {
    font-size: 65px;
  }
  .lp8marta-header__sale-lego__item span.saleproc {
    font-size: 45px;
  }
  .lp8marta-header__sale-lego__item span.textbl {
    font-size: 25px;
  }
  .lp8marta-header__sale-lego__item span.line {
    width: 35px;
    height: 10px;
  }
  .lp8marta-header__sale-lego__text-bt span {
    font-size: 35px;
  }
  .supblr {
    font-size: 25px;
  }
  .lp8marta-header__img .lp8marta-header__img-text span {
    font-size: 45px;
    padding: 10px 0;
  }
  .lp8marta-header__img {
    padding: 15px 0 0 0;
  }
  .lp8marta-price__bottom {
    font-size: 26px;
    padding-right: 12px;
  }
  .lp8marta-price__top {
    font-size: 16px;
    padding-right: 10px;
  }
  .lp8marta-price__top span::before {
    font-size: 10px;
  }
  .lp8marta-price__bottom span::before {
    font-size: 16px;
  }
  .lp8marta-price__top span.pay__price-none {
    font-size: 26px;
    padding-right: 12px;
  }
  .lp8marta-price__top span.pay__price-none::before {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .lp8marta-header__logo {
    padding: 24px 0 0 12px;
  }
  .lp8marta-header__logo img {
    max-width: 80px;
  }
  .lp8marta-header__logo-text {
    padding-left: 12px;
  }
  .lp8marta-header__logo-text-one span {
    font-size: 30px;
  }
  .lp8marta-header__logo-text-two span {
    font-size: 36px;
  }
  .lp8marta-header__sale-lego__item span.salebl {
    font-size: 86px;
  }
  .lp8marta-header__sale-lego__text-bt span {
    font-size: 26px;
  }
  .lp8marta-header__img {
    padding: 0;
  }
  .lp8marta-header__img .lp8marta-header__img-text span {
    padding: 0;
  }
  .supblr {
    font-size: 20px;
    top: -6px;
  }
  .lp8marta-header__img img {
    max-width: 280px;
    position: relative;
    left: -40px;
  }
  .lp8marta-header__img .lp8marta-header__img-text span {
    font-size: 30px;
  }
  .lp8marta-header__sale-lego__item span.line {
    width: 40px;
    height: 12px;
    width: 32px;
  }
  .lp8marta-header__sale-lego__item span.textbl {
    font-size: 27px;
  }
  .lp8marta-header__img-pos2-onlymob {
    display: block;
    background-image: url(https://cdn.comfy.ua/media/x/img2/8marta/img6.png);
    background-position: 22% 100%;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 240px;
    position: relative;
  }
  .lp8marta-header__img1-pos {
    display: none;
  }
  .lp8marta-header__img1-pos-onlymob {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
  }
  .lp8marta-header__sale-lego {
    padding: 20px 12px 12px 12px;
  }
  .lp8marta-header__img-text {
    padding: 12px;
  }
  .lp8marta-header__img-pos2 {
    display: none;
  }
  .lp8marta__linebgrd {
    height: 40px;
  }
  .lp8marta-header__img-pos2-img-pos1, .lp8marta-header__img-pos2-img-pos2 {
    display: block;
  }
  .lp8marta-header__img-pos2-img-pos1 {
    position: absolute;
    left: 8px;
    top: 0;
    z-index: 1;
    max-width: 45px;
    width: 100%;
  }
  .lp8marta-header__img-pos2-img-pos2 {
    position: absolute;
    right: 12px;
    top: 0;
    z-index: 1;
    max-width: 43px;
    width: 100%;
  }
  .lp8marta-prod__grid {
    -ms-grid-columns: 240px 240px 240px;
        grid-template-columns: 240px 240px 240px;
    grid-gap: 25px;
  }
  .lp8marta-prod__wrap {
    overflow: scroll;
  }
  .lp8marta-prod__p {
    padding: 15px 0px;
  }
  .p8marta-prod__h2 {
    padding: 0px 0 10px 0;
  }
  .lp8marta-prod__grid.gridtwo {
    -ms-grid-columns: 240px 240px;
        grid-template-columns: 240px 240px;
    width: 505px;
  }
  .lp8marta-prod__linkft {
    padding: 50px 0 210px 0;
    position: relative;
    z-index: 2;
  }
  .lp8marta-prod__linkft a span {
    font-size: 25px;
  }
  .lp8marta-prod__img-posft {
    right: 24%;
    top: 65%;
  }
}

@media (max-width: 320px) {
  #lp8marta h2 {
    font-size: 22px;
  }
}
