//default styles

// body
//    margin: 0

.kenwood
   width: 100%
   max-width: 1520px
   margin: 0 auto
   height: auto
   display: block
   box-sizing: border-box
   overflow: hidden
   color: #010101
   img
      margin: 0 auto
      opacity: 1 !important
      max-width: 100%
      display: block
      height: auto
      &:hover
         opacity: 1 !important
   ul
      list-style-type: none
      padding: 0
      margin: 0
   div
      line-height: normal

.features-desc__text
   img
      margin-bottom: 0rem

//end default styles

.kenwood .container
   width: 100%
   max-width: 100%
   margin: 0 auto

.kenwood__title
   font-size: clamp(24px, 4vw, 32px)
   text-transform: uppercase
.kenwood__txt
   font-size: clamp(16px, 4vw, 18px)
.kenwood__small
   font-size: clamp(14px, 4vw, 16px)
   color: #F47921

.kenwood__row
   display: flex
   align-items: center
   padding: 50px 0 82px 200px

.kenwood__reverse
   flex-direction: row-reverse
   padding: 50px 300px 82px 0px
   .kenwood__cont
      margin-right: 0
      margin-left: 115px

.kenwood__cont
   max-width: 455px
   margin-right: 115px
   .kenwood__title
      margin: 10px 0 50px

//section chef

.chef
   padding: 100px 160px 35px 200px
   position: relative
   &::after
      content: ""
      display: block
      position: absolute
      top: 0
      right: 0
      bottom: 0
      left: 40%
      background: url("https://cdn.comfy.ua/media/x/img/1982038/bg1.png") no-repeat center / cover
      z-index: -1
   .kenwood__small
      color: inherit
      text-transform: uppercase
      margin-bottom: 20px

.chef__row
   display: flex
   align-items: center

.chef__title
   font-size: clamp(28px, 4vw, 64px)
   b
      font-weight: normal
      color: #F47921
      text-transform: uppercase

.chef__img
   margin-left: 150px

//section speed

.speed
   background-image: linear-gradient(90deg, #000 50%, rgba(0, 0, 0, .72))
   color: #fff
   .kenwood__reverse
      padding-top: 0
      padding-bottom: 0
   .kenwood__img
      width: 100%
      img
         margin: auto 0 0 0

//section mixing

.mixing
   .kenwood__img
      width: 100%
      margin-top: -15%
      img
         margin: 0 0 0 auto

//section settings

.settings__head
   display: flex
   justify-content: space-between
   align-items: flex-end
   padding: 0 300px 50px 200px
   >.kenwood__small
      max-width: 455px
      color: inherit

.settings__cont
   max-width: 356px
   >.kenwood__small
      margin-bottom: 10px

//section nozzles

.nozzles
   background-image: linear-gradient(90deg, #F4A71E 45%, rgba(244, 167, 30, .45))
   padding: 40px 0 40px 200px

.nozzles__head
   .kenwood__small
      color: inherit
      margin-bottom: 10px

.nozzles__row
   display: flex
   align-items: center
   justify-content: space-between
   padding-left: 100px
   margin-top: -5%

.nozzles__grid
   display: grid
   margin-bottom: -5%
   grid-template-columns: repeat(3, 1fr)
   grid-template-rows: repeat(2, max-content)
   gap: 20px 20px
   grid-template-areas: "..." "..."
   div
      text-align: center

//media*****************************************************

@media (max-width: 1440px)
   .chef,
   .kenwood__row,
   .nozzles
      padding-left: clamp(4em, 8em, 200px)

   .speed .kenwood__reverse,
   .cup .kenwood__reverse
      padding-right: clamp(4em, 8em, 200px)

   .kenwood__reverse
      padding-left: 0

   .settings__head
      padding-right: clamp(4em, 8em, 300px)
      padding-left: clamp(4em, 8em, 200px)

@media (max-width: 1201px)
   .kenwood .container
      width: 960px
      padding: 0 15px

   .chef,
   .kenwood__row
      padding: 2em 0
   .kenwood__cont
      margin-right: 2em
   .kenwood__cont .kenwood__title
      margin-bottom: 1em
   .kenwood__img
      margin-right: -32px

   .kenwood__reverse
      padding: 2em 0 !important
      .kenwood__img
         margin-left: -32px
         margin-right: 0
   .kenwood__reverse .kenwood__cont
      margin-left: 2em

   .speed .kenwood__reverse
      padding-top: 0 !important
      padding-bottom: 0 !important

   .settings__head
      padding-right: 0
      padding-left: 0
   .settings__img
      margin: 0 -32px

   .nozzles
      padding-left: 0
   .nozzles__img
      margin-right: -32px
   .nozzles__row
      padding-left: 0

@media (max-width: 991px)
   .kenwood .container
      width: 720px
   
   .chef
      &::after
         top: 20vh
         left: 0
         background-position: center left
   .chef__row
      display: block
   .chef__img
      margin-left: 0
      margin-top: 2em

   .kenwood__row
      display: block !important
   .kenwood__cont
      max-width: 100% !important
      margin-right: 0 !important
      margin-left: 0 !important
   .kenwood__img
      margin: 1em 0 0 0 !important

   .speed
      padding: 2em 0 0 0
      background-color: #000
      .kenwood__img
         margin: 1em -15px 0 -15px !important

   .mixing .kenwood__img
      margin: 1em -15px 0 15px !important

   .settings__head
      display: block
      padding-bottom: 1em

   .settings__img
      img
         min-width: 150%

   .settings__cont .kenwood__title
      margin-bottom: 1em

   .nozzles
      padding: 2em 0
   .nozzles__row
      display: block
      margin-top: 1em
   .nozzles__grid
      margin-bottom: 1em

@media (max-width: 767px)
   .kenwood .container
      width: 540px

@media (max-width: 576px)
   .kenwood .container
      width: 100%
      box-sizing: border-box
