#cms_s22 {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
}

#cms_s22 img:hover {
  opacity: 1;
}

#cms_s22:first-letter {
  padding-left: 0;
}

#cms_s22 img {
  display: block;
}

#cms_s22 p {
  font-size: 16px;
  margin-bottom: 6px;
  font-weight: normal;
  color: #000;
}

.cms_s22__wrap {
  padding: 22px 15px 23px 17px;
  position: relative;
  background: #fff;
}

.cms_s22__bgrd {
  background: -webkit-gradient(linear, left top, right top, color-stop(72.82%, #F2F3FF), color-stop(97.68%, rgba(242, 243, 255, 0)));
  background: -webkit-linear-gradient(left, #F2F3FF 72.82%, rgba(242, 243, 255, 0) 97.68%);
  background: -moz-linear-gradient(left, #F2F3FF 72.82%, rgba(242, 243, 255, 0) 97.68%);
  background: -o-linear-gradient(left, #F2F3FF 72.82%, rgba(242, 243, 255, 0) 97.68%);
  background: linear-gradient(90deg, #F2F3FF 72.82%, rgba(242, 243, 255, 0) 97.68%);
  mix-blend-mode: normal;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  width: 100%;
  height: 145px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .3s;
  -o-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
}

.cms_s22__bgrd:hover {
  -webkit-box-shadow: inset -5px 3px 20px 20px #ffffff;
     -moz-box-shadow: inset -5px 3px 20px 20px #ffffff;
          box-shadow: inset -5px 3px 20px 20px #ffffff;
}

.cms_s22__flex {
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 35px;
  width: 100%;
}

.cms_s22__flex.only_desk {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.cms_s22__flex.only_mob {
  display: none;
}

.cms_s22__item-img {
  margin: 0 23px 0 14px;
}

@media (max-width: 480px) {
  .cms_s22__flex.only_desk {
    display: none;
  }
  .cms_s22__flex.only_mob {
    display: block;
  }
  .cms_s22__wrap {
    padding: 12px;
  }
  .cms_s22__flex {
    padding-left: 14px;
    padding-top: 24px;
    padding-bottom: 24px;
    position: relative;
  }
  .cms_s22__bgrd {
    height: auto;
  }
  .cms_s22__bgrd:hover {
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
  }
  #cms_s22 p {
    font-size: 16px;
    margin-bottom: 5px;
  }
  .cms_s22__item-txt.ppdmob {
    margin-bottom: 22px;
  }
  .cms_s22__item-img-pos {
    position: absolute;
    right: 0;
    bottom: 0;
  }
  .cms_s22__item-img {
    margin: 0;
  }
  .cms_s22__item-txt.ppdmob img {
    max-width: 210px;
    width: 100%;
  }
  .cms_s22__item-txt.ppdmob2 img {
    max-width: 150px;
    width: 100%;
  }
  #cms_s22 {
    padding: 12px;
  }
}

@media (max-width: 320px) {
  #cms_s22 p {
    font-size: 12px;
  }
  .cms_s22__item-txt.ppdmob img {
    max-width: 165px;
  }
  .cms_s22__item-txt.ppdmob2 img {
    max-width: 115px;
  }
}
