/* default CSS  */

#wrapper-product-sm7685 {
	display: block;
	margin: 0 auto;
	max-width: 1316px;
	width: 100%;
	background-color: #fff;
	overflow: hidden;
}

span.word-wrap {
	display: block;
	word-wrap: break-word;
}

.features-desc__text img {
	margin-bottom: 0rem !important;
}

#wrapper-product-sm7685 p:first-letter {
	padding-left: 0;
}

#wrapper-product-sm7685 p {
	margin-bottom: 0;
}

#wrapper-product-sm7685 img:hover {
	opacity: 1;
}

#wrapper-product-sm7685 img {
	display: block;
	margin-right: initial;
	margin-left: initial;
}

#wrapper-product-sm7685 .bg_color_003478 {
	background-color: #003478;
}

#wrapper-product-sm7685 .bg_color_0b8ac4 {
	background-color: #0b8ac4;
}

#wrapper-product-sm7685 .bg_color_2d476c {
	background-color: #2d476c;
}

#wrapper-product-sm7685 .sideinfo h2 {
	color: #fff;
	font-size: 42px;
	line-height: 1.1;
	padding: 10px 15px 10px 5rem;
}

/* default CSS END */

/* speedpro */

.speedpro {}

.speedpro__bgimg {
	background-image: url(https://cdn.comfy.ua/media/x/img/1575684/bg1.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	width: 100%;
	min-height: 692px;
}

.speedpro__wrap-row {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	min-height: 692px;
	padding: 0 15px 5rem 5rem;
}

.speedpro__logo {}

.speedpro__content {}

#wrapper-product-sm7685 .speedpro__content h3 {
	font-size: 40px;
	color: #fff;
	font-weight: normal;
	margin: 0;
	padding-top: 0;
	line-height: 1;
	text-align: left;
	padding-bottom: 25px;
}

#wrapper-product-sm7685 .speedpro__content h2 {
	font-size: 40px;
	color: #fff;
	font-weight: bold;
	margin: 0;
	padding-top: 0;
	line-height: 1;
	text-align: left;
}

/* speedpro END */

/* advantages */

.advantages {}

.advantages__bgimg {
	background-image: url(https://cdn.comfy.ua/media/x/img/1575684/bg2.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	width: 100%;
	min-height: 692px;
}

.advantages__wrap-row {
	padding: 5rem;
}

.advantages__content-flex {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	max-width: 635px;
	margin: 0 0 0 auto;
}

.advantages__item {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-bottom: 25px;
}

.advantages__item:last-child {
	padding-bottom: 0;
}

.advantages__item-col:first-child {}

.advantages__item-col:last-child {
	flex: 1 1 0;
	padding-left: 25px;
}

span.color_0b8ac4 {
	color: #0b8ac4;
	font-weight: bold;
}

#wrapper-product-sm7685 .advantages__item-col p {
	color: #5f5f5f;
	font-size: 20px;
	text-align: left;
}

/* advantages END */

/* newspeedpro */

.newspeedpro {
	padding: 5rem;
}

.newspeedpro__wrap-row {
	position: relative;
}

.newspeedpro__pos-img {
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	top: 50%;
	transform: translateY(-50%);
	display: block;
	max-width: 275px;
	width: 100%;
	z-index: 7;
}

.newspeedpro__content-flex {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position: relative;
	padding: 5rem;
	z-index: 8;
}

.newspeedpro__flexcol {
	flex: 1 1 350px;
	max-width: 350px;
}

.newspeedpro_item {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 15px 15px 15px;
}

.newspeedpro_item:last-child {
	padding: 0 15px 0 15px;
}

#wrapper-product-sm7685 .newspeedpro_item p {
	font-size: 20px;
	color: #fff;
	text-align: center;
	padding-top: 15px;
}

.newspeedpro_item p span {
	font-weight: bold;
}

/* newspeedpro END */

.usingprod {
	padding-bottom: 5rem;
}

.usingprod:last-child {
	padding-bottom: 0;
}

.usingprod__bgimg {
	position: relative;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	min-height: 520px;
}

.usingprod__bgimg.bgimg-1 {
	background-image: url(https://cdn.comfy.ua/media/x/img/1575684/bg4.png);
}

.usingprod__bgimg.bgimg-2 {
	background-image: url(https://cdn.comfy.ua/media/x/img/1575684/bg5.png);
}

.usingprod__bgimg.bgimg-3 {
	background-image: url(https://cdn.comfy.ua/media/x/img/1575684/bg6.png);
}

.usingprod__bgimg.bgimg-4 {
	background-image: url(https://cdn.comfy.ua/media/x/img/1575684/bg7.png);
}

.usingprod__bgimg.bgimg-5 {
	background-image: url(https://cdn.comfy.ua/media/x/img/1575684/bg8.png);
}

.usingprod__bgimg.bgimg-6 {
	background-image: url(https://cdn.comfy.ua/media/x/img/1575684/bg9.png);
}

.usingprod__bgimg.bgimg-7 {
	background-image: url(https://cdn.comfy.ua/media/x/img/1575684/bg10.png);
}

.usingprod__bgimg.bgimg-8 {
	background-image: url(https://cdn.comfy.ua/media/x/img/1575684/bg11.png);
}

.usingprod__bgimg.bgimg-9 {
	background-image: url(https://cdn.comfy.ua/media/x/img/1575684/bg12.png);
}

.usingprod__content {
	position: absolute;
	left: 0;
	right: 0;
	display: block;
	top: 50%;
	transform: translateY(-50%);
	max-width: 455px;
	width: 100%;
	text-align: left;
}

.usingprod__content.usingprod__content-right {
	margin: 0 0 0 auto;
	padding: 15px 5rem 15px 15px;
}

.usingprod__content.usingprod__content-left {
	margin: auto 0 0 0;
	padding: 15px 15px 15px 5rem;
}

#wrapper-product-sm7685 .usingprod__content h2 {
	font-size: 30px;
	font-weight: bold;
	color: #0b8ac4;
	padding-bottom: 15px;
	line-height: 1;
}

#wrapper-product-sm7685 .usingprod__content p {
	font-size: 23px;
	color: #5f5f5f;
}

.pt_top {
	padding-top: 5rem;
}


/* media */

@media screen and (min-width: 320px) and (max-width: 480px) {
	.speedpro__wrap-row {
		padding: 0 15px 15px 15px;
	}

	#wrapper-product-sm7685 .sideinfo h2 {
		padding: 10px 15px 10px 15px;
		font-size: 21px;
	}

	.newspeedpro {
		padding: 15px;
	}

	.pt_top {
		padding-top: 15px;
	}

	.usingprod {
		padding-bottom: 15px;
	}

	#wrapper-product-sm7685 .speedpro__content h3 {
		font-size: 25px;
	}

	#wrapper-product-sm7685 .speedpro__content h2 {
		font-size: 25px;
	}
	.newspeedpro__pos-img {
		display: none;
	}
	.advantages__wrap-row {
		padding: 15px;
	}
	.advantages__content-flex {
		display: flex;
		flex-direction: column;
	}
	.advantages__item-col:last-child {
		padding-left: 0;
		padding-top: 15px;
	}
	.newspeedpro__content-flex {
		flex-direction: column;
		padding: 15px;
	}
	.newspeedpro_item {
		flex-direction: column;
		padding: 0 0 15px 0;
  	}
	#wrapper-product-sm7685 .newspeedpro_item p {
		font-size: 18px;
	}
	#wrapper-product-sm7685 .usingprod__content p {
		font-size: 23px;
		color: #ffffff;
		text-shadow: 0 0 5px black;
	}
	.usingprod__content.usingprod__content-right {
		margin: 0 0 0 auto;
		padding: 15px;
  	}  
	.usingprod__content.usingprod__content-left {
		margin: auto 0 0 0;
		padding: 15px;
  	}
	.usingprod__bgimg {
		min-height: 455px;
	}
	.advantages__item {
		flex-direction: column;
	}
}

@media screen and (min-width: 481px) and (max-width: 768px) {
	.speedpro__wrap-row {
		padding: 0 15px 15px 15px;
	}

	#wrapper-product-sm7685 .sideinfo h2 {
		padding: 10px 15px 10px 15px;
		font-size: 30px;
	}

	.newspeedpro {
		padding: 15px;
	}

	.pt_top {
		padding-top: 15px;
	}

	.usingprod {
		padding-bottom: 15px;
	}

	#wrapper-product-sm7685 .speedpro__content h3 {
		font-size: 35px;
	}

	#wrapper-product-sm7685 .speedpro__content h2 {
		font-size: 35px;
	}
	.newspeedpro__pos-img {
		opacity: 0.3;
	}
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
	.speedpro__wrap-row {
		padding: 0 15px 15px 15px;
	}

	#wrapper-product-sm7685 .sideinfo h2 {
		padding: 10px 15px 10px 15px;
		font-size: 30px;
	}

	.newspeedpro {
		padding: 15px;
	}

	.pt_top {
		padding-top: 15px;
	}

	.usingprod {
		padding-bottom: 15px;
	}

	#wrapper-product-sm7685 .speedpro__content h3 {
		font-size: 35px;
	}

	#wrapper-product-sm7685 .speedpro__content h2 {
		font-size: 35px;
	}
}