/*default styles*/

#lg h2 {
  margin: 0;
  padding: 0;
  line-height: normal;
  font-size: 36px;
}

#lg p:first-letter {
  padding-left: 0;
}

#lg p {
  margin-bottom: 0;
  font-size: 18px;
}

#lg img:hover {
  opacity: 1;
}

#lg img {
  opacity: 1;
  max-width: 100%;
  display: block;
  vertical-align: middle;
  height: auto;
}

#lg {
  max-width: 1316px;
  width: 100%;
  margin: 0 auto;
  height: auto;
  display: block;
  background-color: #fff;
  box-sizing: border-box;
}

#lg ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.features-desc__text img {
  margin-bottom: 0rem;
}

.one-col .features-desc__text p:first-letter {
  padding-left: 0rem !important;
}

/*end default styles*/

/*section 1*/

#lg .prof {
  height: 823px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("https://cdn.comfy.ua/media/x/img/1433328/1.png");
  color: #fff;
  padding: 70px;
  box-sizing: border-box;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

#lg .prof .prof_logo {
  text-align: center;
}

#lg .prof .prof_logo h2 {
  font-weight: normal;
}

#lg .prof .prof_txt {
  width: 100%;
}

#lg .prof .prof_txt ul.prof_list {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

#lg .prof .prof_txt ul.prof_list li {
  -webkit-box-flex: 1;
          flex: 1 1 0;
  box-sizing: border-box;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
}

#lg .prof .prof_txt ul.prof_list li span {
  color: #cb18d4;
  font-size: 20px;
  font-weight: bold;
  display: block;
  margin-bottom: 20px;
}

#lg .prof .prof_txt ul.prof_list li:nth-of-type(n+2)::before {
  display: block;
  content: "";
  width: 2px;
  height: 100%;
  background-color: #cb18d4;
  margin-right: 20px;
}


/*end section 1*/

/*section 2*/

#lg .digital {
  padding: 70px;
  box-sizing: border-box;
  background-color: #000;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  padding: 70px;
  color: #fff;
}

#lg .digital .digital_txt {
  text-align: center;
}

#lg .digital .digital_txt p {
  font-style: italic;
}

/*end section 2*/

/*section 3*/

#lg .calibration {
  padding: 70px;
  height: 987px;
  background-position: center;
  background-image: url("https://cdn.comfy.ua/media/x/img/1433328/2.jpg");
  box-sizing: border-box;

}

#lg .calibration .calibration_txt {
  max-width: 900px;
  text-align: center;
  margin: 0 auto;
}

#lg .calibration .calibration_txt h2 {
  padding: 20px 0 10px 0;
}

/*end section 3*/

/*section 4*/

#lg .calibration_no {
  padding: 20px;
  text-align: center;
}

/*end section 4*/



/*section 7*/

#lg .brighter {
  padding: 70px;
  color: #fff;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: center;
  height: 1036px;
  background-image: url("https://cdn.comfy.ua/media/x/img/1433329/7.jpg");
  text-align: center;
}

#lg .brighter .brighter_txt {
  max-width: 900px;
  margin: 0 auto;
}

#lg .brighter .brighter_txt h2 {
  padding: 20px 0 10px 0;
}

/*end section 7*/


/*section 8*/

#lg .level_color .level_color_txt {
  text-align: center;
  padding: 70px;
}

#lg .level_color .level_color_txt h2 {
  padding: 20px 0 10px 0;
}

/*end section 8*/

/*section 9*/

#lg .color_range {
  padding: 70px;
}

#lg .color_range ul.color_range_list li {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-align: center;
          align-items: center;
}

#lg .color_range ul.color_range_list li>div {
  -webkit-box-flex: 1;
          flex: 1 1 0;
  max-width: 50%;
  box-sizing: border-box;
}

#lg .color_range ul.color_range_list li .color_range_img img {
  margin: 0 auto;
}

#lg .color_range ul.color_range_list li:nth-of-type(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
          flex-direction: row-reverse;
}

#lg .color_range ul.color_range_list li:nth-of-type(odd) .color_range_txt {
  text-align: right;
}

#lg .color_range ul.color_range_list li .color_range_txt p {
  padding-top: 20px;
}

/*end section 9*/

/*section 10*/

#lg .gamma {
  padding: 70px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-align: center;
          align-items: center;
}

#lg .gamma .gamma_txt {
  padding: 0 40px;
  text-align: center;
}

#lg .gamma .gamma_txt span {
  padding-top: 20px;
  display: block;
  font-size: 14px;
}

/*end section 10*/

/*section 11*/

#lg .thunderbolt {
  background-color: #f3f3f3;
}

#lg .thunderbolt .thunderbolt_txt {
  padding: 70px;
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
}

#lg .thunderbolt .thunderbolt_txt h2 {
  padding: 20px 0 10px 0;
}

#lg .thunderbolt .thunderbolt_img_none {
  display: none;
}

/*end section 11*/

/*section ?*/

#lg .daisy {
  padding: 70px;
}

#lg .daisy .daisy_cont {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-align: center;
          align-items: center;
}

#lg .daisy .daisy_cont > div {
  -webkit-box-flex: 1;
          flex: 1 1 0;
  max-width: 50%;
  box-sizing: border-box;
}

#lg .daisy .daisy_txt {
  padding-right: 40px;
}

#lg .daisy .daisy_txt h2 {
  padding-bottom: 20px;
}

#lg .daisy span {
  margin-top: 40px;
  display: block;
}

/*end section ?*/


/*section 12*/

#lg .faster {
  padding: 0 70px 70px 70px;
}

#lg .faster ul.faster_list {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
          align-items: center;
}

#lg .faster ul.faster_list li {
  -webkit-box-flex: 1;
          flex: 1 1 0;
  max-width: 50%;
  box-sizing: border-box;
}

#lg .faster ul.faster_list li:first-of-type {
  padding-left: 40px;
}

#lg .faster ul.faster_list li h2 {
  padding: 20px 0 10px 0;
}

#lg .faster .faster_txt span {
  font-size: 16px;
  display: block;
}

/*end section 12*/

/*section 13*/

#lg .screen {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
  text-align: center;
}

#lg .screen span {
  display: block;
  text-align: center;
  padding: 20px;
}

#lg .screen .screen_txt {
  padding: 70px;
}

#lg .screen .screen_txt h2 {
  padding: 20px 0 10px 0;
}

/*end section 13*/

/*section 14*/

#lg .design .design_txt {
  text-align: center;
  padding: 70px 70px 0 70px;

}

#lg .design .design_txt h2 {
  padding: 20px 0 10px 0;
}

#lg .design .design_img_none {
  display: none;
}

/*end section 14*/


/*media*********************************************************************/

@media (max-width: 1024px) and (min-width: 813px) {
  #lg .prof {
    padding: 20px;
  }

  #lg .prof .lg_txt {
    max-width: 410px;
  }

  #lg .prof .prof_txt ul.prof_list li:nth-of-type(2) {
    padding: 0 20px;
  }
}

@media (max-width: 812px) and (min-width: 481px) {
  #lg .prof .prof_txt ul.prof_list li:nth-of-type(2) {
    padding: 0 20px;
  }

  #lg .prof {
    padding: 20px;

  }

  #lg .prof .prof_txt ul.prof_list li h2 {
    font-size: 24px;
  }

  #lg .prof .lg_txt {
    text-align: center;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
  }

  #lg .space {
    padding: 20px;
  }

  #lg .space ul.space_list {
    padding: 0 40px;
  }

  #lg .workspace {
    padding: 20px;
    height: 700px;
  }

  #lg .color_range {
    padding: 20px;
  }

  #lg .thunderbolt .thunderbolt_txt {
    padding: 20px;
  }

  #lg .faster {
    padding: 20px;
  }

  #lg .faster .faster_txt {
    margin-top: 20px;
  }

  #lg .screen .screen_txt {
    padding: 20px;
  }

  #lg .design .design_txt {
    padding: 20px 20px 0 20px;
  }

  #lg .calibration {
    padding: 20px;
    height: 700px;
    background-size: cover;
  }

  #lg .daisy {
    padding: 20px;
  }
}

@media (max-width: 480px) and (min-width: 320px) {
  #lg h2 {
    font-size: 30px;
  }

  #lg .prof {
    padding: 20px;
    background-position: center;
    height: 500px;
    background-size: cover;
    overflow: hidden;
  }

  #lg .prof .prof_txt ul.prof_list {
    overflow-x: auto;
  }

  #lg .prof .prof_txt ul.prof_list li {
    min-width: 200px;
  }

  #lg .prof .prof_txt ul.prof_list li h2 {
    font-size: 20px;
  }

  #lg .prof .lg_txt {
    text-align: center;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
  }

  #lg .digital,
  #lg .display,
  #lg .ultra {
    padding: 20px;
  }

  #lg .display .display_txt span {
    font-size: 16px;
  }

  #lg .display .display_txt span:first-of-type {
    margin-right: 30px;
  }

  #lg .display .display_img {
    padding: 0 40px;
  }

  #lg .space {
    padding: 20px;
    height: 580px;
    background-size: cover;
  }

  #lg .space ul.space_list {
    padding: 0;
    overflow-x: auto;
  }

  #lg .space ul.space_list li {
    min-width: 150px;
  }

  #lg .space ul.space_list li:nth-of-type(n+2) {
    margin-left: 20px;
  }

  #lg .space ul.space_list li h2 {
    font-size: 24px;
  }

  #lg .workspace {
    padding: 20px;
    height: 900px;
    background-image: url("https://cdn.comfy.ua/media/x/img/1433329/6.jpg");
  }

  #lg .brighter {
    padding: 20px;
    background-size: cover;
    height: 750px;
  }

  #lg .level_color .level_color_txt {
    padding: 20px;
  }

  #lg .color_range {
    padding: 20px;
  }

  #lg .color_range ul.color_range_list li .color_range_txt p {
    padding-top: 20px;
  }

  #lg .color_range ul.color_range_list li {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
            flex-direction: column-reverse !important;
  }

  #lg .color_range ul.color_range_list li>div {
    max-width: 100%;
    text-align: center !important;
  }

  #lg .color_range ul.color_range_list li:last-of-type {
    margin-top: 30px;
  }

  #lg .gamma {
    padding: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }

  #lg .gamma .gamma_txt {
    padding: 40px 0 0 0;
  }

  #lg .thunderbolt .thunderbolt_txt {
    padding: 20px;
  }

  #lg .faster {
    padding: 20px;
    text-align: center;
  }

  #lg .faster ul.faster_list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }

  #lg .faster ul.faster_list li {
    max-width: 100%;
  }

  #lg .faster ul.faster_list li:first-of-type {
    padding-left: 0;
    text-align: center;
  }

  #lg .screen .screen_txt {
    padding: 20px;
  }

  #lg .design .design_txt {
    padding: 20px 20px 0 20px;
  }

  #lg .design .design_img {
    display: none;
  }

  #lg .design .design_img_none {
    display: block;
  }

  #lg .design .design_img_none img {
    margin: 0 auto;
    width: 100%;
  }

  #lg .calibration {
    padding: 20px;
    height: 610px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    background-color: #e3e4e6;
  }

  #lg .thunderbolt .thunderbolt_img {
    display: none;
  }

  #lg .thunderbolt .thunderbolt_img_none {
    display: block;
  }

  #lg .daisy {
    padding: 20px;
  }
  
  #lg .daisy .daisy_cont {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }

  #lg .daisy .daisy_cont > div {
    max-width: 100%;
  }

  #lg .daisy .daisy_txt {
    padding-right: 0;
    text-align: center;
  }
}