/*default styles*/

#toshiba p:first-letter {
  padding-left: 0;
}

#toshiba p {
  margin-bottom: 0;
}

#toshiba img:hover {
  opacity: 1;
}

#toshiba img {
  opacity: 1;
  max-width: 100%;
  display: block;
  vertical-align: middle;
  height: auto;
}

#toshiba {
  max-width: 1316px;
  width: 100%;
  margin: 0 auto;
  height: auto;
  display: block;
  background-color: #fff;
  box-sizing: border-box;
}

#toshiba ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#toshiba h2 {
  display: block;
  font-size: 38px;
  font-weight: normal;
  line-height: normal;
  margin: 0;
  padding: 0;
}

#toshiba h3 {
  display: block;
  font-size: 30px;
  font-weight: normal;
  line-height: normal;
  text-align: left;
  margin: 0;
  padding: 0;
}

#toshiba h4 {
  display: block;
  font-size: 24px;
  font-weight: normal;
  line-height: normal;
  margin: 0;
  padding: 0;
}

#toshiba p {
  font-size: 20px;
  padding: 0;
  margin: 0;
}

.features-desc__text img {
  margin-bottom: 0rem;
}

.one-col .features-desc__text p:first-letter {
  padding-left: 0rem !important;
}

/*end default styles*/

/*section 1*/

#toshiba .toshiba_head {
  padding: 30px 100px;
  background-color: #000;
}

/*end section 1*/

/*section 2*/

#toshiba .life {
  background-repeat: no-repeat;
  box-sizing: border-box;
  padding: 100px;
  height: 479px;
  background-image: url("https://cdn.comfy.ua/media/x/img/1558496/sec2_img1.jpg");
  background-position: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

#toshiba .life::before {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  background: rgba(0, 0, 0, 1);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0, 0, 0, 1)), color-stop(38%, rgba(97, 97, 97, 0)), color-stop(100%, rgba(255, 255, 255, 0)));
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 1)), color-stop(38%, rgba(97, 97, 97, 0)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(97, 97, 97, 0) 38%, rgba(255, 255, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#ffffff', GradientType=0);
  z-index: 2;
}

#toshiba .life .life_txt {
  color: #fff;
  width: 100%;
  z-index: 3;
  text-shadow: 0 2px 5px rgba(0, 0, 0, .5);
}

#toshiba .life .life_txt h3 {
  padding-top: 20px;
}

#toshiba .life ul.life_list {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  color: #fff;
  width: 100%;
  z-index: 3;
  text-shadow: 0 2px 5px rgba(0, 0, 0, .5);
}

#toshiba .life ul.life_list li {
  -webkit-box-flex: 1;
  flex: 1 1 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
}

#toshiba .life ul.life_list li:nth-of-type(n+2)::before {
  display: block;
  content: "";
  height: 100%;
  width: 2px;
  background-color: #f8f8f8;
  margin-right: 20px;
}

/*end section 2*/


/*section 3*/

#toshiba .ultra ul.ultra_list {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-align: center;
          align-items: center;
  color: #fff;
  background-color: #05427F;
  padding: 70px;
}

#toshiba .ultra ul.ultra_list li {
  -webkit-box-flex: 1;
          flex: 1 1 0;
  max-width: 50%;
  box-sizing: border-box;
}

#toshiba .ultra ul.ultra_list li > p {padding-top: 20px;}

#toshiba .ultra ul.ultra_list:nth-of-type(2) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
          flex-direction: row-reverse;
  text-align: right;
  background-color: #fff;
  color: #47454A;
}

#toshiba .ultra ul.ultra_list:nth-of-type(3) {
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("https://cdn.comfy.ua/media/x/img/1480687/sec2_bg.png");
  background-size: cover;
  position: relative;
  z-index: 1;
}

#toshiba .ultra ul.ultra_list:nth-of-type(3) li {
  z-index: 3;
}

#toshiba .ultra ul.ultra_list:nth-of-type(3)::before {
  content: "";
  display: block;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 2;
}

/*end section 3*/


/*section 4*/

#toshiba .toshiba_cont {
  padding: 70px;
  color: rgba(0,0,0,.5);
}

#toshiba .toshiba_cont .toshiba_cont_txt h3 {
  text-align: center;
}

#toshiba .toshiba_cont ul.toshiba_list {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  margin-top: 40px;
}

#toshiba .toshiba_cont ul.toshiba_list li {
  -webkit-box-flex: 1;
          flex: 1 1 0;
  max-width: 50%;
  box-sizing: border-box;
}

#toshiba .toshiba_cont ul.toshiba_list li:first-of-type {
  margin-right: 40%;
}

/*end section 4*/

/*section 5*/

#toshiba .smart {
  padding: 70px;
  background-color: #05427F;
  color: #fff;
}

#toshiba .smart .smart_title {
  text-align: center;
}

#toshiba .smart .smart_txt p:nth-of-type(n+2) {
  margin-top: 20px;
}

/*end section 5*/

/*section 6*/

#toshiba .toshiba_icon {
  padding: 70px;
}

#toshiba .toshiba_icon ul.toshiba_icon_list {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-align: center;
          align-items: center;
}

#toshiba .toshiba_icon ul.toshiba_icon_list li {
  -webkit-box-flex: 1;
          flex: 1 1 0;
  max-width: 25%;
  box-sizing: border-box;
}

#toshiba .toshiba_icon ul.toshiba_icon_list li img {
  margin: 0 auto;
}

/*end section 6*/

/*section 7*/

#toshiba .func {
  padding: 70px 15%;
  background-color: #05427F;
  color: #fff;
}

#toshiba .func .func_title h3 {
  text-align: center;
}

#toshiba .func .func_cont {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  margin-top: 40px;
}

#toshiba .func .func_cont ul.func_list {
  -webkit-box-flex: 1;
          flex: 1 1 0;
  max-width: 50%;
  box-sizing: border-box;
}

#toshiba .func .func_cont ul.func_list:first-of-type {
  text-align: right;
  margin-right: 20%;
}

#toshiba .func .func_cont ul.func_list li:nth-of-type(n+2) {
  margin-top: 40px;
}

#toshiba .func .func_cont ul.func_list li .func_txt h4 {
  padding: 20px 0;
}

/*end section 7*/

/*section 8*/

#toshiba .connect {
  background-color: #212121;
  color: rgba(255,255,255,.7);
}

#toshiba .connect .connect_title {
  text-align: center;
  padding: 70px;
}

#toshiba .connect .connect_bg img {
  margin: 0 auto;
}

/*end section 8*/

/*section 9*/

#toshiba .sound {
  padding: 70px;
  color: rgba(0,0,0,.5);
}

#toshiba .sound ul.sound_list {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-align: center;
          align-items: center;
}

#toshiba .sound ul.sound_list li {
  -webkit-box-flex: 1;
          flex: 1 1 0;
  max-width: 50%;
  box-sizing: border-box;
}

#toshiba .sound ul.sound_list li h3:nth-of-type(2) {
  margin-top: 40px;
}

#toshiba .sound ul.sound_list li:nth-of-type(2) {
  padding: 20px;
}

#toshiba .sound ul.sound_list:last-of-type {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
          flex-direction: row-reverse;
  text-align: right;
}

#toshiba .sound ul.sound_list:last-of-type li h3 {
  text-align: right;
}

#toshiba .sound ul.sound_list:last-of-type li:last-of-type img {
  margin: 0 0 0 auto;
}

#toshiba .sound ul.sound_list li p:first-of-type {
  padding: 20px 0;
}

#toshiba .sound ul.sound_list:last-of-type {
  margin-top: 60px;
}

/*end section 9*/

/*media***************************************************************/

@media (max-width: 1024px) and (min-width: 813px) {
  #toshiba .life {
    padding: 20px;
  }

  #toshiba .toshiba_head {
    padding: 20px;
  }
}

@media (max-width: 812px) and (min-width: 481px) {
  #toshiba .life {
    padding: 20px;
  }

  #toshiba .toshiba_head {
    padding: 20px;
  }

  #toshiba h4 {
    font-size: 20px;
  }

  #toshiba .life ul.life_list li:nth-of-type(2) {
    margin-left: 20px;
  }

  #toshiba .ultra ul.ultra_list,
  #toshiba .toshiba_cont {
    padding: 20px;
  }

  #toshiba .toshiba_cont ul.toshiba_list li:first-of-type {
    margin-right: 20%;
  }

  #toshiba .smart {
    padding: 20px;
  }

  #toshiba .toshiba_icon {
    padding: 20px;
  }

  #toshiba .func {
    padding: 20px;
  }

  #toshiba .connect .connect_title {
    padding: 20px;
  }

  #toshiba .sound {
    padding: 20px;
  }

  #toshiba .sound ul.sound_list:last-of-type {
    margin-top: 30px;
  }
}

@media (max-width: 480px) and (min-width: 320px) {
  #toshiba .life {
    padding: 20px;
  }

  #toshiba .toshiba_head {
    padding: 20px;
  }

  #toshiba h2 {
    font-size: 30px;
  }

  #toshiba h3 {
    font-size: 26px;
  }

  #toshiba h4 {
    font-size: 18px;
  }

  #toshiba .life ul.life_list li:nth-of-type(2) {
    margin-left: 20px;
  }

  #toshiba .life ul.life_list {
    width: 100%;
    /* overflow-x: auto; */
  }

  /* #toshiba .life ul.life_list li {
    min-width: 114px;
  } */

  #toshiba .life .life_txt {
    margin-top: 70px;
    text-align: center;
  }

  #toshiba .life .life_txt h3 {
    text-align: center;
  }

  #toshiba .ultra ul.ultra_list {
    padding: 20px;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
            flex-direction: column !important;
  }

  #toshiba .ultra ul.ultra_list li {
    max-width: 100%;
    text-align: center;
  }

  #toshiba .toshiba_cont {
    padding: 20px;
  }
  

  #toshiba .toshiba_cont ul.toshiba_list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }

  #toshiba .toshiba_cont ul.toshiba_list li {
    max-width: 100%;
    text-align: center;
  }

  #toshiba .toshiba_cont ul.toshiba_list li:first-of-type {
    margin: 0 0 40px 0;
  }

  #toshiba .smart {
    padding: 20px;
    text-align: center;
  }

  #toshiba .toshiba_icon {
    padding: 20px;
  }

  #toshiba .toshiba_icon ul.toshiba_icon_list {
    overflow-x: auto;
  }

  #toshiba .toshiba_icon ul.toshiba_icon_list li {
    min-width: 200px;
  }

  #toshiba .func {
    padding: 20px;
  }

  #toshiba .func .func_cont {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }

  #toshiba .func .func_cont ul.func_list {
    max-width: 100%;
    text-align: center !important;
  }

  #toshiba .func .func_cont ul.func_list li img {
    margin: 0 auto;
  }

  #toshiba .func .func_cont ul.func_list:first-of-type {
    margin-right: 0;
    margin-bottom: 20px;
  }

  #toshiba .connect .connect_title {
    padding: 20px;
  }

  #toshiba .connect .connect_bg img {
    display: none;
  }

  #toshiba .connect .connect_bg {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }

  #toshiba .connect .connect_bg::after,
  #toshiba .connect .connect_bg::before {
    display: block;
    content: "";
    height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  #toshiba .connect .connect_bg::before {
    background-image: url("https://cdn.comfy.ua/media/x/img/1480687/sec8_bg1.png");
  }

  #toshiba .connect .connect_bg::after {
    background-image: url("https://cdn.comfy.ua/media/x/img/1480687/sec8_bg2.png");
  }

  #toshiba .sound {
    padding: 0px;
  }

  #toshiba .sound ul.sound_list {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
            flex-direction: column !important;
  }

  #toshiba .sound ul.sound_list li {
    max-width: 100%;
  }

  #toshiba .sound,
  #toshiba .sound h3,
  #toshiba .sound ul.sound_list:last-of-type li h3,
  #toshiba .sound ul.sound_list:last-of-type {
    text-align: center;
  }

  #toshiba p {
    font-size: 18px;
  }
}