/*default styles*/

#bosch p:first-letter {
  padding-left: 0;
}

#bosch p {
  margin-bottom: 0;
}

#bosch img:hover {
  opacity: 1;
}

#bosch img {
  opacity: 1;
  max-width: 100%;
  display: block;
  vertical-align: middle;
  height: auto;
}

#bosch {
  max-width: 1316px;
  width: 100%;
  margin: 0 auto;
  height: auto;
  display: block;
  background-color: #fff;
  box-sizing: border-box;
}

.features-desc__text img {
  margin-bottom: 0rem;
}

.one-col .features-desc__text p:first-letter {
  padding-left: 0rem !important;
}

#bosch {
  max-width: 1000px;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

#bosch h4 {
  display: block;
  font-weight: bold;
  font-size: 20px;
  text-transform: inherit;
  margin: 0;
}

#bosch h2 {
  font-size: 36px;
  display: block;
  font-weight: bold;
  line-height: normal;
  margin: 0;
}

#bosch p {
  font-size: 20px;
}

/*end default styles*/

/*section 1*/

#bosch .logo {
  height: 751px;
  box-sizing: border-box;
  background-image: url("https://cdn.comfy.ua/media/x/img/1554872/1.jpg");
  background-position: center;
  position: relative;
  padding: 40px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: end;
          justify-content: flex-end;
}

#bosch .logo .logo_img {
  max-width: 340px;
  position: absolute;
  left: 0;
  top: 0;
}

#bosch .logo .logo_txt {
  text-align: right;
  max-width: 440px;
  line-height: 2rem;
}

/*end section 1*/

/*section 2*/

#bosch .praktic {
  padding: 40px;
  box-sizing: border-box;
  height: 718px;
  background-image: url("https://cdn.comfy.ua/media/x/img/1554872/2.jpg");
  background-position: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
          align-items: flex-end;
}

#bosch .praktic .praktic_txt {
  max-width: 230px;
  padding-left: 15px;
}

#bosch .praktic .praktic_txt h4 {
  font-weight: normal;
}

/*end section 2*/

/*section 3*/

#bosch .clean {
  height: 1297px;
  box-sizing: border-box;
  background-image: url("https://cdn.comfy.ua/media/x/img/1554872/3.jpg");
  background-position: center;
  padding: 40px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-align: end;
          align-items: flex-end;
}

#bosch .clean .clean_txt {
  text-align: center;
}

#bosch .clean .clean_txt h4 {
  font-weight: normal;
}

#bosch .clean .clean_img {
  display: none;
}

#bosch .clean .clean_txt h4 {
  padding-top: 20px;
}

/*end section 3*/

/*section 4*/

#bosch .access {
  padding: 40px;
  box-sizing: border-box;
  background-image: url("https://cdn.comfy.ua/media/x/img/1554872/4.jpg");
  background-position: center;
  height: 1334px;
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
}

#bosch .access .access_title {
  max-width: 500px;
  text-align: center;
  margin: 0 auto;
}

#bosch .access .access_txt h4 {
  position: absolute;
  bottom: 0;
  font-weight: normal;
}

#bosch .access .access_txt h4::after {
  display: block;
  content: '';
  width: 100px;
  border-top: 2px dashed #606060;
  position: absolute;
}

#bosch .access .access_txt h4:first-of-type {
  left: 125px;
  bottom: 200px;
  text-align: center;
}

#bosch .access .access_txt h4:first-of-type::after {
  right: -40px;
  bottom: 75px;
  -webkit-transform: rotate(-35deg);
          transform: rotate(-35deg);
}

#bosch .access .access_txt h4:nth-of-type(2) {
  right: 400px;
  bottom: 450px;
  text-align: center;
}

#bosch .access .access_txt h4:nth-of-type(2)::after {
  right: -88px;
  bottom: -35px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#bosch .access .access_txt h4:nth-of-type(3) {
  right: 390px;
  bottom: 83px;
  text-align: center;
}

#bosch .access .access_txt h4:nth-of-type(3)::after {
  right: -88px;
  bottom: 50px;
  -webkit-transform: rotate(-35deg);
          transform: rotate(-35deg);
}


/*end section 4*/

/*section 5*/

#bosch .bosch_service {
  padding: 40px;
  box-sizing: border-box;
  height: 1230px;
  background-image: url("https://cdn.comfy.ua/media/x/img/1554872/5.jpg");
  background-position: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

#bosch .bosch_service .service_title {
  align-self: center;
}

#bosch .bosch_service .service_txt {
  max-width: 460px;
  text-align: center;
}

/*end section 5*/

/*section 6*/

#bosch .saved {
  height: 828px;
  padding: 40px;
  box-sizing: border-box;
  background-image: url("https://cdn.comfy.ua/media/x/img/1554872/6.jpg");
  background-position: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
          flex-direction: column-reverse;
}

#bosch .saved .saved_txt {
  text-align: center;
  padding-bottom: 60px;
}

#bosch .saved .saved_txt p:first-of-type {
  padding: 20px 0 10px 0;
}

/*end section 6*/

/*section 7*/

#bosch .ease {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: justify;
          justify-content: space-between;
  text-align: center;
}

#bosch .ease .ease_txt,
#bosch .ease .ease_title {
  padding: 40px;
}

/*end section 7*/

/*section 8*/

#bosch .germany {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-align: center;
          align-items: center;
}

#bosch .germany > div {
  -webkit-box-flex: 1;
          flex: 1 1 0;
  box-sizing: border-box;
}

#bosch .germany .germany_txt {
  padding: 40px 20px;
}

#bosch .germany .germany_txt p {
  padding-top: 20px;
}

/*end section 8*/


/*media***************************************************************************************/

@media (max-width: 1024px) and (min-width: 813px) {
  #bosch .access .access_txt h4:nth-of-type(3) {
    right: 340px;
  }

  #bosch .praktic {
    padding: 10px 20px;
  }

  #bosch .praktic .praktic_txt {
    max-width: 230px;
    padding-left: 35px;
  }
}

@media (max-width: 812px) and (min-width: 481px) {
  #bosch .access .access_txt h4:first-of-type::after {
    right: 75px;
  }

  #bosch .logo .logo_img {
    max-width: 290px;
  }

  #bosch .logo {
    padding: 20px;
  }

  #bosch .logo .logo_txt {
    max-width: 320px;
  }

  #bosch h4 {
    font-size: 17px;
  }

  #bosch h2 {
    font-size: 30px;
  }

  #bosch .praktic {
    padding: 20px;
    background-position: center right;
  }

  #bosch .clean {
    background-size: cover;
    height: auto;
    background-position: top;
    background-image: unset;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
            justify-content: space-between;
    padding: 0;
    -webkit-box-align: center;
            align-items: center;
  }

  #bosch .clean .clean_txt {
    text-align: left;
    padding: 20px;
  }

  #bosch .clean .clean_img {
    display: block;
  }

  #bosch .access {
    padding: 20px;
    background-position: center right;
  }

  #bosch .access .access_txt h4:first-of-type {
    left: 26px;
    bottom: 183px;
    text-align: center;
  }

  #bosch .bosch_service {
    padding: 20px;
  }

  #bosch .saved {
    padding: 20px;
  }

  #bosch .ease .ease_txt,
  #bosch .ease .ease_title {
    padding: 20px;
  }

  #bosch .germany .germany_txt {
    padding: 20px;
  }

  #bosch p {
    font-size: 17px;
  }
}

@media (max-width: 480px) and (min-width: 320px) {
  #bosch .logo .logo_img {
    max-width: 158px;
  }

  #bosch .logo {
    padding: 20px;
    background-size: cover;
    height: 500px;
    -webkit-box-align: center;
            align-items: center;
    background-position: center;
  }

  #bosch .logo .logo_txt {
    max-width: 100%;
    text-align: center;
    color: #fff;
    line-height: 1.5rem;
  }

  #bosch h4 {
    font-size: 17px;
  }

  #bosch h2 {
    font-size: 28px;
  }

  #bosch .praktic {
    padding: 10px 20px;
    background-position: center right;
    background-size: cover;
    height: 600px;
  }

  #bosch .praktic .praktic_txt {
    max-width: 200px;
  }

  #bosch .clean {
    background-size: cover;
    height: auto;
    background-position: top;
    background-image: unset;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: justify;
            justify-content: space-between;
    padding: 0;
    -webkit-box-align: center;
            align-items: center;
  }

  #bosch .clean .clean_txt {
    padding: 20px;
  }

  #bosch .clean .clean_img {
    display: block;
  }

  #bosch .access {
    padding: 20px;
    background-size: cover;
    height: 800px;
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: justify;
            justify-content: space-between;
  }

  #bosch .access .access_txt h4 {
    position: unset;
    text-align: left !important;
  }

  #bosch .access .access_txt h4::after {
    display: none;
  }

  #bosch .bosch_service {
    padding: 20px;
    height: 800px;
    background-size: cover;
    -webkit-box-align: center;
            align-items: center;
  }

  #bosch .bosch_service .service_title {
    text-align: center;
  }

  #bosch .saved {
    padding: 20px;
    background-position: center right 37%;
  }

  #bosch .ease .ease_txt,
  #bosch .ease .ease_title {
    padding: 20px;
  }

  #bosch p {
    font-size: 17px;
  }

  #bosch .germany {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }

  #bosch .germany .germany_txt {
    text-align: center;
  }
}