#huawei-freeBuds4
	display: block
	margin: 0 auto
	max-width: 1316px
	width: 100%
	height: auto
	overflow: hidden
	background: #fff
	position: relative
	img
		&:hover
			opacity: 1
	&:first-letter
		padding-left: 0
	img
		display: block
		margin-right: initial
		margin-left: initial
	p
		font-size: 18px
		margin-bottom: 0
		color: #000
	h2
		font-size: 75px
		line-height: 1
		color: #1e2022
		letter-spacing: -2px
		font-weight: bold
		text-align: center
	h3
		font-size: 50px
		margin: 0
		padding-top: 0
		line-height: 1.1
		text-align: inherit
		font-weight: bold
		color: #000
		text-align: center
		letter-spacing: -1px
span.word-wrap
	display: block
	word-wrap: break-word
span.fw-bold
	font-weight: bold
span.tx-uppercase
	text-transform: uppercase
.breadcrumbs
	display: none
// default
.freeBuds-header
	padding: 10rem 5rem
.freeBuds-header__container-flex
	display: flex
	align-items: center
.freeBuds-header__item
	flex: 1 1 0
	img
		margin: 0 0 0 auto !important
.freeBuds-header__text
	text-align: center
	padding: 0 15px
	.freeBuds-header__txt1
		font-size: 60px
		font-weight: normal
		color: #1e2022
		span
			font-weight: bold
			text-transform: uppercase
	.freeBuds-header__txt2
		font-size: 18px
		color: #1e2022
.freeBuds-features
	position: relative
	padding: 0px 60px 350px 60px
.freeBuds-features__h3
	padding-bottom: 60px
.freeBuds-features__container-grid
	display: grid
	grid-template-columns: 1fr 1fr 1fr
	grid-template-rows: 1fr 1fr
	grid-gap: 20px
.freeBuds-features__item-grid
	background: #f4f3f3
	border-radius: 5px
	display: flex
	flex-direction: column
	justify-content: space-between
	overflow: hidden
	&:nth-child(3)
		grid-column: 2 / 2
		grid-row: 1 / 3
#huawei-freeBuds4 .freeBuds-features__item-grid-text
	padding: 35px 15px 0 15px
	text-align: left
	font-weight: bold
#huawei-freeBuds4 .freeBuds-features__item-grid__img img
	margin: 0 auto
.freeBuds-features__item-grid__img
	&.img_sty1
		position: relative
		bottom: -70px
	&.img_sty2
		position: relative
		bottom: 15px
.freeBuds-matching
	background: #f4f3f3
	margin: 0 60px
	padding-bottom: 265px
	position: relative
	&.colorfff
		background: #fff
		padding-bottom: 165px
		&.pddbl
			padding-bottom: 255px
		&::before
			background: #fff
	&.color000
		background: #000
		&::before
			background: #000
	&::before
		content: ""
		background: #f4f3f3
		border-radius: 65% 65% 0 0
		width: 100%
		height: 540px
		position: absolute
		top: -255px
		left: 0
		right: 0
.freeBuds-matching__container
	position: relative
	z-index: 3
	top: -70px
.freeBuds-matching__h2
	text-align: center
	padding: 0 15px
.freeBuds-matching__h3-p
	text-align: center
	max-width: 800px
	margin: 0 auto
	padding: 130px 15px 30px 15px
#huawei-freeBuds4 .freeBuds-matching__h3-p h3
	padding-bottom: 50px
.freeBuds-matching__img img
	margin: 0 auto !important
.freeBuds-matching__flex
	display: flex
	align-items: flex-end
	max-width: 650px
	margin: 0 auto
	justify-content: space-between
.freeBuds-matching__item
	max-width: 203px
	width: 100%
	text-align: center
	p
		padding-top: 15px
#huawei-freeBuds4 .freeBuds-matching.color000 h2
	color: #fff
#huawei-freeBuds4 .freeBuds-matching.color000 h3
	color: #fff
#huawei-freeBuds4 .freeBuds-matching.color000 p
	color: #fff
.freeBuds-matching__bgrd
	position: relative
	padding: 60px 0
	margin: 30px 30px
	img
		margin: 0 auto !important
.freeBuds-matching__text-bgrd1,.freeBuds-matching__text-bgrd2
	position: absolute
	max-width: 500px
.freeBuds-matching__text-bgrd1
	left: 0
	top: 0
	text-align: right
	h3
		text-align: right !important
.freeBuds-matching__text-bgrd2
	right: 0
	bottom: 0
	text-align: left
	h3
		text-align: left !important
.freeBuds-matching__flex-wrap
	display: flex
	align-items: center
	padding-top: 100px
	&.row-revbl
		flex-direction: row-reverse
.freeBuds-matching__flex-wrap__item
	flex: 1 1 0
	img
		margin: 0 auto !important
.freeBuds-matching__flex-wrap__text
	display: flex
.freeBuds-matching__flex-wrap__text-flex__item
	flex: 1 1 0
.txt1top
	font-size: 21px
	color: #000
	text-align: left
	padding-bottom: 15px
	min-height: 40px
	font-weight: bold
.txt3top
	font-size: 19px
	color: #7d7d7d
	text-align: left
.txt2bottom-big
	font-size: 135px
	font-weight: bold
	text-transform: uppercase
	padding: 20px 0
	line-height: 0.74
	display: flex
	align-items: flex-end
.cjet
	font-size: 28px
.flex-bl
	display: flex
	font-size: 35px
	font-weight: bold
	padding-bottom: 25px
	align-items: center
	img
		padding-right: 15px
.freeBuds-matching__flex-wrap__item .freeBuds-matching__flex-wrap__item_text img
	margin: 0 !important
.freeBuds-matching__flex-wrap__item_text
	h3
		text-align: left !important
	p
		padding: 25px 0px
// media
// @media (max-width: 1250px)
// @media (max-width: 1024px)
// @media (max-width: 812px)
// @media (max-width: 480px)
