#pushgames-widget
   display: none
.popup__head .popup-title
   display: none
.fancybox-lock
   overflow: overlay !important
   width: auto
.popup[data-v-a06dd506]
   position: absolute
   overflow: initial !important
div[data-v-a06dd506].popup__content
   max-height: 400px !important
   overflow: inherit !important
   -ms-scroll-chaining: initial !important
   overscroll-behavior: initial !important
.popup-wr[data-v-a06dd506]
   position: fixed
   top: inherit
   right: 0rem
   bottom: 0rem
   left: inherit
   width: 515px
   height: 370px
   overflow: hidden
.cont-popup
   position: relative
.qclose-pp
   position: absolute
   background: #379424
   z-index: 99999
   line-height: 0.6
   cursor: pointer
   font-size: 18px
   top: -10px
   right: inherit
   left: -10px
   color: #fff
   border-radius: 50%
   padding: 8px
.qclose-pp:hover
   color: #ef5e19
.popup-close[data-v-a06dd506]
   z-index: 12
   top: 5px
   left: 5px
   width: 12px
   height: 12px
   background: #FF090B url(https://cdn.comfy.ua/media/x/img/exit.svg) no-repeat 50%
   padding: 14px
   border-radius: 50%
   background-size: 13px
.popup-close[data-v-a06dd506]:hover
   background-color: #de0002
.popup__head[data-v-a06dd506]
   border-bottom: 0px solid #e5e5e5
.info-popup__close
   z-index: 12
   top: -3px
   left: -3px
   width: 12px
   height: 12px
   background: #FF090B url(https://cdn.comfy.ua/media/x/img/exit.svg) no-repeat 50%
   padding: 14px
   border-radius: 50%
   background-size: 13px
.info-popup__close:hover
   background-color: #FF090B
.info-popup__close .x
   display: none
#popup-action
   padding: 10px
.wrap-popup
   position: relative
   max-width: 352px
   width: 100%
   height: 197px
   &::before
      content: ""
      background: #43B02A
      position: absolute
      left: 0
      top: 0
      width: 100%
      height: 100%
      z-index: 1
      border-radius: 16px
   &::after
      content: ""
      background: #379424
      position: absolute
      left: 0
      bottom: 0
      width: 100%
      height: 64px
      z-index: 3
      border-radius: 0 0 16px 16px
.wrap-popup__img
   position: relative
   z-index: 4
   padding: 17px 0 0 24px
.wrap-popup__img-pos
   position: absolute
   z-index: 2
   top: 0
   right: -20px
.container-flex-form
   background: rgba(255, 255, 255, 0.9)
   border: 1px solid #E5E5E5
   box-sizing: border-box
   border-radius: 25px
/* form */
#wrapper-form-corizoid
   width: 100%
   z-index: 4
   padding: 10px 24px 0 24px
   form
      div.error, label.error
         color: #fff
         left: 0
         padding-left: 0
         display: block
         position: absolute
         margin: 4px 4px 4px 14px
         bottom: -24px
#form-submit-none
   display: block
   position: relative
   z-index: 4
#text-submit-block
   display: none
   position: absolute
   bottom: 22px
   z-index: 4
.row-flex-form
   display: flex
   align-items: center
   width: 100%
   .item_fr
      padding: 0 0 0 0
      margin-top: 0px
      width: 100%
      display: grid
      position: relative
      &:last-child
         padding: 0 0 0 0
      .item-input-frm
         font-size: 16px
         margin: 0
         padding: 0
         border: 0px solid #E5E5E5
         border-radius: 0
         text-align: left
         line-height: 1
         height: 40px
         color: #000
         background: transparent
         // &:focus
         //    box-shadow: inset 0px 0px 10px 0px #e5e5e5
.item-input-frm::placeholder
   color: #000
.row-flex-form
   .item_fr
      .item-input-frm
         &.item-input-frm__submit
            background: #43B02A
            border: 0.5px solid #E5E5E5
            transition: .3s
            color: #fff
            width: 100%
            text-align: center
            font-weight: 700
            padding: 5px 5px
            font-size: 16px
            border-radius: 20px
            &:hover
               cursor: pointer
      &.item_email
         .item-input-frm
            padding-left: 14px
.text-submit-block-cl
   p
      font-size: 20px !important
      color: #fff
      text-align: left
      font-weight: 500
      line-height: 1
      span
         color: #FF671F
         font-weight: 700
         font-size: 25px
/* form END */
@media (max-width: 1024px)
   .fancybox-lock
      position: relative
      height: 100%
      width: 100%
      left: 0
      top: 0
   .popup-wr[data-v-a06dd506]
      height: 225px
      width: 100%
   .popup-close[data-v-a06dd506]
      top: 5px
      left: 5px
   .info-popup__close
      top: -4px
      left: 2px
@media (max-width: 320px)
   .row-flex-form .item_fr
      flex: 1 1 0
   .row-flex-form .item_fr .item-input-frm
      font-size: 14px
   .item-input-frm::placeholder
      position: absolute
      top: 50%
      transform: translateY(-50%)
      font-size: 12px
   .row-flex-form .item_fr .item-input-frm
      width: 100%
   #wrapper-form-corizoid
      padding: 10px 15px 0 15px
   .wrap-popup__img
      padding: 17px 0 0 15px
   .row-flex-form .item_fr
      position: inherit
   .text-submit-block-cl p
      font-size: 16px !important
   .text-submit-block-cl p span
      font-size: 20px
