#pushgames-widget {
  display: none;
}

.popup__head .popup-title {
  display: none;
}

.fancybox-lock {
  overflow: overlay !important;
  width: auto;
}

.popup[data-v-a06dd506] {
  position: absolute;
  overflow: initial !important;
}

div[data-v-a06dd506].popup__content {
  max-height: 400px !important;
  overflow: inherit !important;
  -ms-scroll-chaining: initial !important;
  overscroll-behavior: initial !important;
}

.popup-wr[data-v-a06dd506] {
  position: fixed;
  top: inherit;
  right: 0rem;
  bottom: 0rem;
  left: inherit;
  width: 515px;
  height: 370px;
  overflow: hidden;
}

.cont-popup {
  position: relative;
}

.qclose-pp {
  position: absolute;
  background: #379424;
  z-index: 99999;
  line-height: 0.6;
  cursor: pointer;
  font-size: 18px;
  top: -10px;
  right: inherit;
  left: -10px;
  color: #fff;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  padding: 8px;
}

.qclose-pp:hover {
  color: #ef5e19;
}

.popup-close[data-v-a06dd506] {
  z-index: 12;
  top: 5px;
  left: 5px;
  width: 12px;
  height: 12px;
  background: #FF090B url(https://cdn.comfy.ua/media/x/img/exit.svg) no-repeat 50%;
  padding: 14px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-background-size: 13px 13px;
       -o-background-size: 13px;
          background-size: 13px;
}

.popup-close[data-v-a06dd506]:hover {
  background-color: #de0002;
}

.popup__head[data-v-a06dd506] {
  border-bottom: 0px solid #e5e5e5;
}

.info-popup__close {
  z-index: 12;
  top: -3px;
  left: -3px;
  width: 12px;
  height: 12px;
  background: #FF090B url(https://cdn.comfy.ua/media/x/img/exit.svg) no-repeat 50%;
  padding: 14px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-background-size: 13px 13px;
       -o-background-size: 13px;
          background-size: 13px;
}

.info-popup__close:hover {
  background-color: #FF090B;
}

.info-popup__close .x {
  display: none;
}

#popup-action {
  padding: 10px;
}

.wrap-popup {
  position: relative;
  max-width: 352px;
  width: 100%;
  height: 197px;
}
.wrap-popup::before {
  content: "";
  background: #43B02A;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  -webkit-border-radius: 16px;
          border-radius: 16px;
}
.wrap-popup::after {
  content: "";
  background: #379424;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 64px;
  z-index: 3;
  -webkit-border-radius: 0 0 16px 16px;
          border-radius: 0 0 16px 16px;
}

.wrap-popup__img {
  position: relative;
  z-index: 4;
  padding: 17px 0 0 24px;
}

.wrap-popup__img-pos {
  position: absolute;
  z-index: 2;
  top: 0;
  right: -20px;
}

.container-flex-form {
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid #E5E5E5;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-border-radius: 25px;
          border-radius: 25px;
}

/* form */
#wrapper-form-corizoid {
  width: 100%;
  z-index: 4;
  padding: 10px 24px 0 24px;
}
#wrapper-form-corizoid form div.error, #wrapper-form-corizoid form label.error {
  color: #fff;
  left: 0;
  padding-left: 0;
  display: block;
  position: absolute;
  margin: 4px 4px 4px 14px;
  bottom: -24px;
}

#form-submit-none {
  display: block;
  position: relative;
  z-index: 4;
}

#text-submit-block {
  display: none;
  position: absolute;
  bottom: 22px;
  z-index: 4;
}

.row-flex-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.row-flex-form .item_fr {
  padding: 0 0 0 0;
  margin-top: 0px;
  width: 100%;
  display: grid;
  position: relative;
}
.row-flex-form .item_fr:last-child {
  padding: 0 0 0 0;
}
.row-flex-form .item_fr .item-input-frm {
  font-size: 16px;
  margin: 0;
  padding: 0;
  border: 0px solid #E5E5E5;
  -webkit-border-radius: 0;
          border-radius: 0;
  text-align: left;
  line-height: 1;
  height: 40px;
  color: #000;
  background: transparent;
}

.item-input-frm::-webkit-input-placeholder {
  color: #000;
}

.item-input-frm:-moz-placeholder {
  color: #000;
}

.item-input-frm::-moz-placeholder {
  color: #000;
}

.item-input-frm:-ms-input-placeholder {
  color: #000;
}

.item-input-frm::-ms-input-placeholder {
  color: #000;
}

.item-input-frm::placeholder {
  color: #000;
}

.row-flex-form .item_fr .item-input-frm.item-input-frm__submit {
  background: #43B02A;
  border: 0.5px solid #E5E5E5;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  color: #fff;
  width: 100%;
  text-align: center;
  font-weight: 700;
  padding: 5px 5px;
  font-size: 16px;
  -webkit-border-radius: 20px;
          border-radius: 20px;
}
.row-flex-form .item_fr .item-input-frm.item-input-frm__submit:hover {
  cursor: pointer;
}
.row-flex-form .item_fr.item_email .item-input-frm {
  padding-left: 14px;
}

.text-submit-block-cl p {
  font-size: 20px !important;
  color: #fff;
  text-align: left;
  font-weight: 500;
  line-height: 1;
}
.text-submit-block-cl p span {
  color: #FF671F;
  font-weight: 700;
  font-size: 25px;
}

/* form END */
@media (max-width: 1024px) {
  .fancybox-lock {
    position: relative;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
  }
  .popup-wr[data-v-a06dd506] {
    height: 225px;
    width: 100%;
  }
  .popup-close[data-v-a06dd506] {
    top: 5px;
    left: 5px;
  }
  .info-popup__close {
    top: -4px;
    left: 2px;
  }
}
@media (max-width: 320px) {
  .row-flex-form .item_fr {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 0;
       -moz-box-flex: 1;
        -ms-flex: 1 1 0px;
            flex: 1 1 0;
  }
  .row-flex-form .item_fr .item-input-frm {
    font-size: 14px;
  }
  .item-input-frm::-webkit-input-placeholder {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    font-size: 12px;
  }
  .item-input-frm:-moz-placeholder {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px;
  }
  .item-input-frm::-moz-placeholder {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px;
  }
  .item-input-frm:-ms-input-placeholder {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    font-size: 12px;
  }
  .item-input-frm::-ms-input-placeholder {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    font-size: 12px;
  }
  .item-input-frm::placeholder {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
         -o-transform: translateY(-50%);
            transform: translateY(-50%);
    font-size: 12px;
  }
  .row-flex-form .item_fr .item-input-frm {
    width: 100%;
  }
  #wrapper-form-corizoid {
    padding: 10px 15px 0 15px;
  }
  .wrap-popup__img {
    padding: 17px 0 0 15px;
  }
  .row-flex-form .item_fr {
    position: inherit;
  }
  .text-submit-block-cl p {
    font-size: 16px !important;
  }
  .text-submit-block-cl p span {
    font-size: 20px;
  }
}