/*default styles*/
#mercusys {
  max-width: 1316px;
  width: 100%;
  margin: 0 auto;
  height: auto;
  display: block;
  background-color: #fff;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#mercusys p {
  margin: 0;
  padding: 0;
  font-size: 18px;
}

#mercusys p:first-letter {
  padding-left: 0;
}

#mercusys h2 {
  display: block;
  line-height: normal;
  font-size: 36px;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

#mercusys img {
  opacity: 1;
  max-width: 100%;
  display: block;
  height: auto;
}

#mercusys img:hover {
  opacity: 1;
}

#mercusys ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#mercusys span {
  font-size: 16px;
  line-height: normal;
}

.features-desc__text img {
  margin-bottom: 0rem;
}

.one-col .features-desc__text p:first-letter {
  padding-left: 0rem !important;
}

/*end default styles*/
#mercusys .wifi {
  padding: 70px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  height: 619px;
  background-image: url("https://cdn.comfy.ua/media/x/img/1636378/1.jpg");
  background-repeat: no-repeat;
  background-position: center right;
}

#mercusys .wifi .wifi_txt span {
  display: block;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.333333333333333;
  color: #fff;
  display: inline-block;
  background-color: rgba(42, 110, 166, 0.6);
  -webkit-border-radius: .5em;
     -moz-border-radius: .5em;
          border-radius: .5em;
  padding: 0 .5em;
  margin-top: .5em;
}

#mercusys .speed {
  background-color: #f4f8fb;
}

#mercusys .speed .speed_txt {
  padding: 70px;
  text-align: center;
}

#mercusys .speed .speed_txt h2 {
  padding-bottom: 20px;
}

#mercusys .signal {
  padding: 70px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url("https://cdn.comfy.ua/media/x/img/1636378/3.jpg");
  height: 657px;
  background-position: center;
  position: relative;
}

#mercusys .signal .signal_txt {
  text-align: center;
  color: #fff;
}

#mercusys .signal .signal_txt h2 {
  padding-bottom: 20px;
}

#mercusys .signal .signal_abs {
  position: absolute;
  right: 50%;
  top: 30em;
  -webkit-transform: translateX(50%);
     -moz-transform: translateX(50%);
      -ms-transform: translateX(50%);
       -o-transform: translateX(50%);
          transform: translateX(50%);
}

#mercusys .signal .signal_abs span {
  color: #fff;
  display: block;
}

#mercusys .control {
  padding: 70px;
}

#mercusys .control .control_txt {
  text-align: center;
}

#mercusys .control .control_txt h2 {
  padding-bottom: 20px;
}

#mercusys .control .control_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: 80%;
  margin: 0 auto;
}

#mercusys .control .control_list li {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
     -moz-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
}

#mercusys .control .control_list li:nth-of-type(2) {
  margin: 0 20px;
}

#mercusys .control .control_list li span.blue {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #3ef5fc;
  font-size: 24px;
  margin-bottom: 20px;
  margin-top: 40px;
}

#mercusys .control .control_list li span.blue::before {
  content: '';
  display: block;
  min-width: 17px;
  height: 17px;
  background-image: url("https://cdn.comfy.ua/media/x/img/1636378/arrow.png");
  background-repeat: no-repeat;
  -webkit-background-size: contain;
     -moz-background-size: contain;
       -o-background-size: contain;
          background-size: contain;
  margin-right: 10px;
  margin-left: -27px;
}

#mercusys .control .control_abs {
  margin-top: 80px;
  position: relative;
}

#mercusys .control .control_abs img {
  max-width: 60%;
  margin: 0 auto;
}

#mercusys .control .control_abs .abs_cont_top li {
  position: absolute;
}

#mercusys .control .control_abs .abs_cont_top li span {
  font-size: 1.5em;
  color: #666;
}

#mercusys .control .control_abs .abs_cont_top li:nth-of-type(1) {
  top: -1em;
  right: 30em;
}

#mercusys .control .control_abs .abs_cont_top li:nth-of-type(2) {
  top: 6.5em;
  right: 17em;
}

#mercusys .control .control_abs .abs_cont_top li:nth-of-type(3) {
  top: 12em;
  right: 6em;
}

#mercusys .control .control_abs .abs_cont_middle {
  position: absolute;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(100%, -4%) skewY(20deg);
     -moz-transform: translate(100%, -4%) skewY(20deg);
      -ms-transform: translate(100%, -4%) skewY(20deg);
       -o-transform: translate(100%, -4%) skewY(20deg);
          transform: translate(100%, -4%) skewY(20deg);
}

#mercusys .control .control_abs .abs_cont_middle li .blue {
  color: #4acbd6;
}

#mercusys .control .control_abs .abs_cont_middle li:nth-of-type(1) {
  text-align: center;
}

#mercusys .control .control_abs .abs_cont_middle li:nth-of-type(2) {
  margin: 10px 0;
}

#mercusys .control .control_abs .abs_cont_down li {
  position: absolute;
}

#mercusys .control .control_abs .abs_cont_down li .blue {
  color: #4acbd6;
}

#mercusys .control .control_abs .abs_cont_down li span {
  font-size: 1.5em;
  color: #666;
}

#mercusys .control .control_abs .abs_cont_down li:nth-of-type(1) {
  bottom: 7em;
  left: 24em;
}

#mercusys .control .control_abs .abs_cont_down li:nth-of-type(2) {
  bottom: 3em;
  left: 36em;
}

#mercusys .control .control_abs .abs_cont_down li:nth-of-type(3) {
  bottom: 0;
  left: 45em;
}

#mercusys .multi {
  padding: 70px;
  background-color: #f4f8fb;
  overflow: hidden;
}

#mercusys .multi .multi_title {
  text-align: center;
}

#mercusys .multi .multi_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 40px;
}

#mercusys .multi .multi_list li {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
     -moz-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  min-width: 282px;
}

#mercusys .multi .multi_list li:nth-of-type(n+2) {
  margin-left: 15px;
}

#mercusys .multi .multi_list li .multi_img {
  padding: 10px;
  background-color: #e3f1ff;
  min-height: 210px;
  position: relative;
}

#mercusys .multi .multi_list li .multi_img .multi_abs span {
  font-size: 1em;
  position: absolute;
}

#mercusys .multi .multi_list li .multi_txt {
  text-align: center;
  margin-top: 20px;
}

#mercusys .multi .multi_list li .multi_txt p > strong {
  display: block;
  margin-bottom: 10px;
}

#mercusys .multi .multi_list li:nth-of-type(1) .multi_img .multi_abs span:nth-of-type(1) {
  top: 1.5em;
}

#mercusys .multi .multi_list li:nth-of-type(1) .multi_img .multi_abs span:nth-of-type(2) {
  bottom: 4em;
  left: 3em;
}

#mercusys .multi .multi_list li:nth-of-type(2) .multi_img .multi_abs span:nth-of-type(1) {
  top: 1.5em;
}

#mercusys .multi .multi_list li:nth-of-type(2) .multi_img .multi_abs span:nth-of-type(2) {
  bottom: 2em;
  left: 5em;
}

#mercusys .multi .multi_list li:nth-of-type(2) .multi_img .multi_abs span:nth-of-type(3) {
  bottom: 3em;
  left: 12em;
}

#mercusys .multi .multi_list li:nth-of-type(3) .multi_img .multi_abs span:nth-of-type(1) {
  top: 1.5em;
}

#mercusys .multi .multi_list li:nth-of-type(3) .multi_img .multi_abs span:nth-of-type(2) {
  bottom: 3em;
  left: 4em;
}

#mercusys .multi .multi_list li:nth-of-type(3) .multi_img .multi_abs span:nth-of-type(3) {
  bottom: 4em;
  left: 10em;
}

#mercusys .multi .multi_list li:nth-of-type(4) .multi_img .multi_abs span:nth-of-type(1) {
  bottom: 5em;
}

#mercusys .multi .multi_list li:nth-of-type(4) .multi_img .multi_abs span:nth-of-type(2) {
  bottom: 5em;
  left: 5em;
}

#mercusys .cont .cont_list li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#mercusys .cont .cont_list li > div {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
     -moz-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  max-width: 50%;
}

#mercusys .cont .cont_list li:nth-of-type(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
     -moz-box-orient: horizontal;
     -moz-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

#mercusys .cont .cont_list li .cont_txt {
  text-align: center;
  padding: 40px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#mercusys .cont .cont_list li .cont_txt h2 {
  margin-bottom: 10px;
}

#mercusys .cont .cont_list li:last-of-type {
  padding: 70px;
}

#mercusys .cont .cont_list li:last-of-type .cont_txt::before {
  display: none;
}

#mercusys .cont .cont_list li .cont_txt::before {
  content: '';
  display: block;
  min-width: 90px;
  height: 90px;
  -webkit-background-size: contain;
     -moz-background-size: contain;
       -o-background-size: contain;
          background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#mercusys .cont .cont_list li:nth-of-type(1) .cont_txt::before {
  background-image: url("https://cdn.comfy.ua/media/x/img/1636378/12.png");
}

#mercusys .cont .cont_list li:nth-of-type(2) .cont_txt::before {
  background-image: url("https://cdn.comfy.ua/media/x/img/1636378/13.png");
}

#mercusys .settings {
  background-color: #f0f7fd;
  padding: 70px 0;
}

#mercusys .settings .settings_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#mercusys .settings .settings_list li {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
     -moz-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
}

#mercusys .settings .settings_list li:last-of-type {
  padding: 0 70px;
}

#mercusys .settings .settings_list li:last-of-type h2 {
  margin-bottom: 20px;
}

#mercusys .settings .settings_list li:last-of-type .set_img {
  margin-top: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: auto;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#mercusys .settings .settings_list li:last-of-type .set_img img:nth-of-type(1) {
  margin: 0;
}

#mercusys .settings .settings_list li:last-of-type .set_img img:nth-of-type(2) {
  margin: 0 10px;
}

#mercusys .settings .settings_list li:last-of-type .set_img .set_col a {
  cursor: pointer;
}

#mercusys .settings .settings_list li:last-of-type .set_img .set_col a img {
  padding: 0.1em;
}

#mercusys .func {
  padding: 70px 100px;
  background-color: #7097b7;
}

#mercusys .func .func_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#mercusys .func .func_list li {
  text-align: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
     -moz-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  color: #fff;
}

#mercusys .func .func_list li:nth-of-type(2) {
  margin: 0 40px;
}

#mercusys .func .func_list li p > strong {
  display: block;
  margin-bottom: 10px;
}

#mercusys .func .func_list li::before {
  content: '';
  display: block;
  height: 54px;
  min-width: 70px;
  -webkit-background-size: contain;
     -moz-background-size: contain;
       -o-background-size: contain;
          background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 10px;
}

#mercusys .func .func_list li:nth-of-type(1)::before {
  background-image: url("https://cdn.comfy.ua/media/x/img/1636378/15.png");
}

#mercusys .func .func_list li:nth-of-type(2)::before {
  background-image: url("https://cdn.comfy.ua/media/x/img/1636378/16.png");
}

#mercusys .func .func_list li:nth-of-type(3)::before {
  background-image: url("https://cdn.comfy.ua/media/x/img/1636378/17.png");
}

/*media*************************************************************************/
@media (max-width: 1024px) {
  #mercusys .multi .multi_list {
    overflow-x: scroll;
  }
  #mercusys .control .control_abs {
    font-size: 1vw;
  }
}

@media (max-width: 812px) {
  #mercusys h2 {
    font-size: 30px;
  }
  #mercusys .wifi,
  #mercusys .speed .speed_txt,
  #mercusys .signal,
  #mercusys .control,
  #mercusys .multi,
  #mercusys .func {
    padding: 20px;
  }
  #mercusys .func .func_list li:nth-of-type(2) {
    margin: 0 20px;
  }
  #mercusys .control {
    overflow: hidden;
  }
  #mercusys .control .control_list {
    padding-left: 30px;
    overflow-x: scroll;
    max-width: 100%;
  }
  #mercusys .control .control_list li {
    min-width: 217px;
  }
  #mercusys .control .control_abs img {
    max-width: 100% !important;
  }
  #mercusys .control .control_abs span {
    font-size: 2em !important;
  }
  #mercusys .control .control_abs .abs_cont_top li:nth-of-type(1) {
    right: 32em;
  }
  #mercusys .control .control_abs .abs_cont_top li:nth-of-type(2) {
    top: 12.5em;
    right: 18em;
    max-width: 100px;
    text-align: center;
  }
  #mercusys .control .control_abs .abs_cont_top li:nth-of-type(3) {
    top: 23em;
    right: 0em;
    max-width: 100px;
    text-align: center;
  }
  #mercusys .control .control_abs .abs_cont_down li:nth-of-type(1) {
    bottom: 13em;
    left: 14em;
  }
  #mercusys .control .control_abs .abs_cont_down li:nth-of-type(2) {
    bottom: 6em;
  }
  #mercusys .control .control_abs .abs_cont_down li:nth-of-type(3) {
    left: 54em;
  }
  #mercusys .cont .cont_list li .cont_txt {
    padding: 20px;
  }
  #mercusys .settings {
    padding: 20px 0;
  }
  #mercusys .settings .settings_list li:last-of-type {
    padding: 0 20px;
  }
}

@media (max-width: 480px) {
  #mercusys h2 {
    font-size: 28px;
  }
  #mercusys .wifi {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  #mercusys .control .control_abs {
    -webkit-transform: translateX(-35px);
       -moz-transform: translateX(-35px);
        -ms-transform: translateX(-35px);
         -o-transform: translateX(-35px);
            transform: translateX(-35px);
  }
  #mercusys .control .control_list li span.blue {
    font-size: 18px;
  }
  #mercusys .control .control_abs span {
    font-size: 2.5em !important;
  }
  #mercusys .control .control_abs .abs_cont_top li {
    max-width: 50px !important;
    text-align: center;
  }
  #mercusys .control .control_abs .abs_cont_top li:nth-of-type(2) {
    top: 11em;
    right: 13em;
  }
  #mercusys .control .control_abs .abs_cont_top li:nth-of-type(3) {
    top: 20em;
    right: -4em;
  }
  #mercusys .control .control_abs .abs_cont_middle {
    -webkit-transform: translate(100%, 20%) skewY(20deg);
       -moz-transform: translate(100%, 20%) skewY(20deg);
        -ms-transform: translate(100%, 20%) skewY(20deg);
         -o-transform: translate(100%, 20%) skewY(20deg);
            transform: translate(100%, 20%) skewY(20deg);
  }
  #mercusys .control .control_abs .abs_cont_middle li:nth-of-type(2) {
    margin: 5px 0;
  }
  #mercusys .multi .multi_list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #mercusys .multi .multi_list li {
    min-width: unset;
    width: 100%;
  }
  #mercusys .multi .multi_list li:nth-of-type(n+2) {
    margin-left: 0;
    margin-top: 20px;
  }
  #mercusys .multi .multi_list li:nth-of-type(1) .multi_img .multi_abs span:nth-of-type(2) {
    bottom: 3em;
    left: 6em;
  }
  #mercusys .multi .multi_list li:nth-of-type(2) .multi_img .multi_abs span:nth-of-type(2) {
    bottom: 2em;
  }
  #mercusys .multi .multi_list li:nth-of-type(2) .multi_img .multi_abs span:nth-of-type(3) {
    bottom: 3em;
    left: 14em;
  }
  #mercusys .multi .multi_list li:nth-of-type(3) .multi_img .multi_abs span:nth-of-type(2) {
    bottom: 4em;
    left: 6em;
  }
  #mercusys .multi .multi_list li:nth-of-type(3) .multi_img .multi_abs span:nth-of-type(3) {
    bottom: 5em;
    left: 13em;
  }
  #mercusys .multi .multi_list li:nth-of-type(4) .multi_img .multi_abs span:nth-of-type(1) {
    bottom: 3em;
    left: 1em;
  }
  #mercusys .multi .multi_list li:nth-of-type(4) .multi_img .multi_abs span:nth-of-type(2) {
    bottom: 3em;
    left: 7em;
  }
  #mercusys .cont .cont_list li {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -webkit-flex-direction: column !important;
       -moz-box-orient: vertical !important;
       -moz-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  #mercusys .cont .cont_list li > div {
    max-width: 100%;
  }
  #mercusys .cont .cont_list li:last-of-type {
    padding: 0;
  }
  #mercusys .settings .settings_list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #mercusys .settings .settings_list li:last-of-type {
    margin-top: 20px;
  }
  #mercusys .func .func_list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #mercusys .func .func_list li:nth-of-type(2) {
    margin: 40px 0;
  }
}
