/*default styles*/

#samsung
  max-width: 1316px
  width: 100%
  margin: 0 auto
  height: auto
  display: block
  box-sizing: border-box
  overflow: hidden
  p
    margin-bottom: 0
    margin: 0
    font-size: 18px
    &:first-letter
      padding-left: 0
  h2
    display: block
    line-height: normal
    font-size: 42px
    font-weight: bold
    padding: 0
    margin: 0
    margin-bottom: 32px
  img
    opacity: 1
    max-width: 100%
    display: block
    height: auto
    &:hover
      opacity: 1
  ul
    list-style-type: none
    padding: 0
    margin: 0
  span
    display: block
    line-height: normal
    font-size: 12px
    color: #313131

.features-desc__text
  img
    margin-bottom: 0rem
.one-col .features-desc__text
  p:first-letter
    padding-left: 0rem !important

/*end default styles*/

#samsung
  .show__mob
    display: none
  .active
    display: block !important

  .samsung__std
    .samsung__std__txt
      padding: 80px 88px
      box-sizing: border-box
      h2, p
        text-align: center
    .samsung__std__img img
      margin: 0 auto
    .samsung__std__note
      text-align: center
      width: 88%
      margin: 0 auto
      padding: 32px 0 80px

  .spec
    .spec__list
      display: flex
      flex-direction: row
      padding: 48px 24px
      width: 100%
      box-sizing: border-box
      justify-content: center
      li
        box-sizing: border-box
        width: 25%
        display: flex
        flex-direction: row
        flex-wrap: wrap
        span
          text-align: center
          font-size: 14px
          padding: 0 12px
          margin-top: 16px
          width: 100%
          color: #000
        &::before
          content: ""
          display: block
          width: 64px
          height: 64px
          background-position: center
          background-repeat: no-repeat
          background-image: url("https://cdn.comfy.ua/media/x/img/1852037/icon.svg")
          margin: 0 auto
          width: 100%
          background-size: contain
        &:nth-of-type(2)
          border-right: 1px solid #ccc
          border-left: 1px solid #ccc
          &::before
            background-image: url("https://cdn.comfy.ua/media/x/img/1786173/icon2.svg")
        &:nth-of-type(3)
          &::before
            background-image: url("https://cdn.comfy.ua/media/x/img/1786173/icon3.svg")

  .camera,
  .selfie
    .camera__flex,
    .selfie__flex
      display: flex
      flex-direction: row
      align-items: center
      >div
        max-width: 50%
        flex: 1 1 0
        box-sizing: border-box
        img
          margin: 0 auto
      .camera__txt,
      .selfie__txt
        padding: 80px 48px 80px 88px
        .camera__note,
        .selfie__note
          padding-top: 80px

  .selfie
    .selfie__flex
      flex-direction: row-reverse

  .photograph,
  .plan
    padding: 80px 0
    box-sizing: border-box
    .photograph__txt,
    .plan__txt
      padding: 0 260px
      box-sizing: border-box
      h2, p
        text-align: center
    .photograph__js,
    .plan__js
      margin: 80px 118px 0 118px
      .photograph__nav,
      .plan__nav
        display: flex
        flex-direction: row
        justify-content: center
        .samsung__btn,
        .plan__btn
          width: 120px
          margin: 0 48px
          cursor: pointer
          img
            width: 72px
            margin: 0 auto
      .photograph__img,
      .plan__img
        margin-top: 30px
        .slide,
        .plan__slide
          display: none
    .photograph__note,
    .plan__note
      padding: 32px 24px 0 24px
      text-align: center
#samsung .photograph__button__left-wrap, #samsung .photograph__button__right-wrap,
#samsung .plan__button__left-wrap, #samsung .plan__button__right-wrap
  span
    font-size: 14px
    font-weight: bold
    color: #000
    margin-top: 16px
    text-align: center
  .photograph__button__left,.photograph__button__right,
  .plan__button__left,.plan__button__right,
    position: relative
    width: 72px
    height: 72px
    overflow: hidden
    &::before
      content: ""
      position: absolute
      left: 0
      right: 0
      top: 0
      margin: 0 auto
      width: 72px
      height: 72px
      transition: .3s
  .photograph__button__left
    &::before
      content: ""
      background-image: url("https://cdn.comfy.ua/media/x/img/1786173/icon4w.svg")
    &.active
      &::before
        background-image: url("https://cdn.comfy.ua/media/x/img/1786173/icon4b.svg")
  .photograph__button__right
    &::before
      content: ""
      background-image: url("https://cdn.comfy.ua/media/x/img/1786173/icon5w.svg")
    &.active
      &::before
        background-image: url("https://cdn.comfy.ua/media/x/img/1786173/icon5b.svg")
  .plan__button__left
    &::before
      content: ""
      background-image: url("https://cdn.comfy.ua/media/x/img/1786173/icon6w.svg")
    &.active
      &::before
        background-image: url("https://cdn.comfy.ua/media/x/img/1786173/icon6b.svg")
  .plan__button__right
    &::before
      content: ""
      background-image: url("https://cdn.comfy.ua/media/x/img/1786173/icon7w.svg")
    &.active
      &::before
        background-image: url("https://cdn.comfy.ua/media/x/img/1786173/icon7b.svg")

//media***********************************************

@media (max-width: 812px)
  #samsung h2
    font-size: 28px
  #samsung .samsung__std .samsung__std__txt
    padding: 1em
  #samsung p
    font-size: unset
  #samsung .spec .spec__list
    padding: 1em
  #samsung .spec .spec__list li
    width: 100%
  #samsung .samsung__std .samsung__std__note
    padding-bottom: 1em
  #samsung .camera .camera__flex .camera__txt,
  #samsung .selfie .selfie__flex .selfie__txt
    padding: 1em
  #samsung .photograph .photograph__txt, #samsung .photograph .plan__txt, #samsung .plan .photograph__txt, #samsung .plan .plan__txt
    padding: 1em
  #samsung .photograph, #samsung .plan
    padding: 3em 0
  #samsung .photograph .photograph__js, #samsung .photograph .plan__js, #samsung .plan .photograph__js, #samsung .plan .plan__js
    margin: 1em

@media (max-width: 480px)
  #samsung
    .show__mob
      display: block
    .hide__mob
      display: none
  #samsung .spec .spec__list
    flex-wrap: wrap
    justify-content: unset
    li
      padding: 1em
      box-sizing: border-box
      width: 50%
      &:nth-of-type(2)
        border: none
  #samsung .spec .spec__list li span
    font-size: 12px
  #samsung .spec .spec__list li::before
    width: 50px
    height: 50px
  #samsung .camera .camera__flex, #samsung .camera .selfie__flex, #samsung .selfie .camera__flex, #samsung .selfie .selfie__flex
    flex-direction: column
    >div
      max-width: 100%
      text-align: center
  #samsung .camera .camera__flex .camera__txt .camera__note, #samsung .camera .camera__flex .camera__txt .selfie__note, #samsung .camera .camera__flex .selfie__txt .camera__note, #samsung .camera .camera__flex .selfie__txt .selfie__note, #samsung .camera .selfie__flex .camera__txt .camera__note, #samsung .camera .selfie__flex .camera__txt .selfie__note, #samsung .camera .selfie__flex .selfie__txt .camera__note, #samsung .camera .selfie__flex .selfie__txt .selfie__note, #samsung .selfie .camera__flex .camera__txt .camera__note, #samsung .selfie .camera__flex .camera__txt .selfie__note, #samsung .selfie .camera__flex .selfie__txt .camera__note, #samsung .selfie .camera__flex .selfie__txt .selfie__note, #samsung .selfie .selfie__flex .camera__txt .camera__note, #samsung .selfie .selfie__flex .camera__txt .selfie__note, #samsung .selfie .selfie__flex .selfie__txt .camera__note, #samsung .selfie .selfie__flex .selfie__txt .selfie__note
    padding-top: 3em

  #samsung .photograph .photograph__js .photograph__nav .btn, #samsung .photograph .photograph__js .photograph__nav .plan__btn, #samsung .photograph .photograph__js .plan__nav .btn, #samsung .photograph .photograph__js .plan__nav .plan__btn, #samsung .photograph .plan__js .photograph__nav .btn, #samsung .photograph .plan__js .photograph__nav .plan__btn, #samsung .photograph .plan__js .plan__nav .btn, #samsung .photograph .plan__js .plan__nav .plan__btn, #samsung .plan .photograph__js .photograph__nav .btn, #samsung .plan .photograph__js .photograph__nav .plan__btn, #samsung .plan .photograph__js .plan__nav .btn, #samsung .plan .photograph__js .plan__nav .plan__btn, #samsung .plan .plan__js .photograph__nav .btn, #samsung .plan .plan__js .photograph__nav .plan__btn, #samsung .plan .plan__js .plan__nav .btn, #samsung .plan .plan__js .plan__nav .plan__btn
    width: 75px
  #samsung .photograph .photograph__js, #samsung .photograph .plan__js, #samsung .plan .photograph__js, #samsung .plan .plan__js
    margin: 1em 0
  #samsung .photograph .photograph__note, #samsung .photograph .plan__note, #samsung .plan .photograph__note, #samsung .plan .plan__note
    padding: 1em 1em 0 1em
  #samsung .camera .camera__flex .camera__txt,
  #samsung .selfie .selfie__flex .selfie__txt
    h2, p
      text-align: center
  #samsung .photograph .photograph__js .photograph__nav .samsung__btn, #samsung .photograph .photograph__js .photograph__nav .plan__btn, #samsung .photograph .photograph__js .plan__nav .samsung__btn, #samsung .photograph .photograph__js .plan__nav .plan__btn, #samsung .photograph .plan__js .photograph__nav .samsung__btn, #samsung .photograph .plan__js .photograph__nav .plan__btn, #samsung .photograph .plan__js .plan__nav .samsung__btn, #samsung .photograph .plan__js .plan__nav .plan__btn, #samsung .plan .photograph__js .photograph__nav .samsung__btn, #samsung .plan .photograph__js .photograph__nav .plan__btn, #samsung .plan .photograph__js .plan__nav .samsung__btn, #samsung .plan .photograph__js .plan__nav .plan__btn, #samsung .plan .plan__js .photograph__nav .samsung__btn, #samsung .plan .plan__js .photograph__nav .plan__btn, #samsung .plan .plan__js .plan__nav .samsung__btn, #samsung .plan .plan__js .plan__nav .plan__btn
    width: 72px
    margin: 0px 40px
