/*default styles*/
#samsung {
  max-width: 1316px;
  width: 100%;
  margin: 0 auto;
  height: auto;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

#samsung p {
  margin-bottom: 0;
  margin: 0;
  font-size: 18px;
}

#samsung p:first-letter {
  padding-left: 0;
}

#samsung h2 {
  display: block;
  line-height: normal;
  font-size: 42px;
  font-weight: bold;
  padding: 0;
  margin: 0;
  margin-bottom: 32px;
}

#samsung img {
  opacity: 1;
  max-width: 100%;
  display: block;
  height: auto;
}

#samsung img:hover {
  opacity: 1;
}

#samsung ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#samsung span {
  display: block;
  line-height: normal;
  font-size: 12px;
  color: #313131;
}

.features-desc__text img {
  margin-bottom: 0rem;
}

.one-col .features-desc__text p:first-letter {
  padding-left: 0rem !important;
}

/*end default styles*/
#samsung .show__mob {
  display: none;
}

#samsung .active {
  display: block !important;
}

#samsung .samsung__std .samsung__std__txt {
  padding: 80px 88px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#samsung .samsung__std .samsung__std__txt h2, #samsung .samsung__std .samsung__std__txt p {
  text-align: center;
}

#samsung .samsung__std .samsung__std__img img {
  margin: 0 auto;
}

#samsung .samsung__std .samsung__std__note {
  text-align: center;
  width: 88%;
  margin: 0 auto;
  padding: 32px 0 80px;
}

#samsung .spec .spec__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 48px 24px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#samsung .spec .spec__list li {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 25%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

#samsung .spec .spec__list li span {
  text-align: center;
  font-size: 14px;
  padding: 0 12px;
  margin-top: 16px;
  width: 100%;
  color: #000;
}

#samsung .spec .spec__list li::before {
  content: "";
  display: block;
  width: 64px;
  height: 64px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("https://cdn.comfy.ua/media/x/img/1852037/icon.svg");
  margin: 0 auto;
  width: 100%;
  -webkit-background-size: contain;
          background-size: contain;
}

#samsung .spec .spec__list li:nth-of-type(2) {
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
}

#samsung .spec .spec__list li:nth-of-type(2)::before {
  background-image: url("https://cdn.comfy.ua/media/x/img/1786173/icon2.svg");
}

#samsung .spec .spec__list li:nth-of-type(3)::before {
  background-image: url("https://cdn.comfy.ua/media/x/img/1786173/icon3.svg");
}

#samsung .camera .camera__flex,
#samsung .camera .selfie__flex,
#samsung .selfie .camera__flex,
#samsung .selfie .selfie__flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

#samsung .camera .camera__flex > div,
#samsung .camera .selfie__flex > div,
#samsung .selfie .camera__flex > div,
#samsung .selfie .selfie__flex > div {
  max-width: 50%;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#samsung .camera .camera__flex > div img,
#samsung .camera .selfie__flex > div img,
#samsung .selfie .camera__flex > div img,
#samsung .selfie .selfie__flex > div img {
  margin: 0 auto;
}

#samsung .camera .camera__flex .camera__txt,
#samsung .camera .camera__flex .selfie__txt,
#samsung .camera .selfie__flex .camera__txt,
#samsung .camera .selfie__flex .selfie__txt,
#samsung .selfie .camera__flex .camera__txt,
#samsung .selfie .camera__flex .selfie__txt,
#samsung .selfie .selfie__flex .camera__txt,
#samsung .selfie .selfie__flex .selfie__txt {
  padding: 80px 48px 80px 88px;
}

#samsung .camera .camera__flex .camera__txt .camera__note,
#samsung .camera .camera__flex .camera__txt .selfie__note,
#samsung .camera .camera__flex .selfie__txt .camera__note,
#samsung .camera .camera__flex .selfie__txt .selfie__note,
#samsung .camera .selfie__flex .camera__txt .camera__note,
#samsung .camera .selfie__flex .camera__txt .selfie__note,
#samsung .camera .selfie__flex .selfie__txt .camera__note,
#samsung .camera .selfie__flex .selfie__txt .selfie__note,
#samsung .selfie .camera__flex .camera__txt .camera__note,
#samsung .selfie .camera__flex .camera__txt .selfie__note,
#samsung .selfie .camera__flex .selfie__txt .camera__note,
#samsung .selfie .camera__flex .selfie__txt .selfie__note,
#samsung .selfie .selfie__flex .camera__txt .camera__note,
#samsung .selfie .selfie__flex .camera__txt .selfie__note,
#samsung .selfie .selfie__flex .selfie__txt .camera__note,
#samsung .selfie .selfie__flex .selfie__txt .selfie__note {
  padding-top: 80px;
}

#samsung .selfie .selfie__flex {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

#samsung .photograph,
#samsung .plan {
  padding: 80px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#samsung .photograph .photograph__txt,
#samsung .photograph .plan__txt,
#samsung .plan .photograph__txt,
#samsung .plan .plan__txt {
  padding: 0 260px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#samsung .photograph .photograph__txt h2, #samsung .photograph .photograph__txt p,
#samsung .photograph .plan__txt h2,
#samsung .photograph .plan__txt p,
#samsung .plan .photograph__txt h2,
#samsung .plan .photograph__txt p,
#samsung .plan .plan__txt h2,
#samsung .plan .plan__txt p {
  text-align: center;
}

#samsung .photograph .photograph__js,
#samsung .photograph .plan__js,
#samsung .plan .photograph__js,
#samsung .plan .plan__js {
  margin: 80px 118px 0 118px;
}

#samsung .photograph .photograph__js .photograph__nav,
#samsung .photograph .photograph__js .plan__nav,
#samsung .photograph .plan__js .photograph__nav,
#samsung .photograph .plan__js .plan__nav,
#samsung .plan .photograph__js .photograph__nav,
#samsung .plan .photograph__js .plan__nav,
#samsung .plan .plan__js .photograph__nav,
#samsung .plan .plan__js .plan__nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#samsung .photograph .photograph__js .photograph__nav .samsung__btn,
#samsung .photograph .photograph__js .photograph__nav .plan__btn,
#samsung .photograph .photograph__js .plan__nav .samsung__btn,
#samsung .photograph .photograph__js .plan__nav .plan__btn,
#samsung .photograph .plan__js .photograph__nav .samsung__btn,
#samsung .photograph .plan__js .photograph__nav .plan__btn,
#samsung .photograph .plan__js .plan__nav .samsung__btn,
#samsung .photograph .plan__js .plan__nav .plan__btn,
#samsung .plan .photograph__js .photograph__nav .samsung__btn,
#samsung .plan .photograph__js .photograph__nav .plan__btn,
#samsung .plan .photograph__js .plan__nav .samsung__btn,
#samsung .plan .photograph__js .plan__nav .plan__btn,
#samsung .plan .plan__js .photograph__nav .samsung__btn,
#samsung .plan .plan__js .photograph__nav .plan__btn,
#samsung .plan .plan__js .plan__nav .samsung__btn,
#samsung .plan .plan__js .plan__nav .plan__btn {
  width: 120px;
  margin: 0 48px;
  cursor: pointer;
}

#samsung .photograph .photograph__js .photograph__nav .samsung__btn img,
#samsung .photograph .photograph__js .photograph__nav .plan__btn img,
#samsung .photograph .photograph__js .plan__nav .samsung__btn img,
#samsung .photograph .photograph__js .plan__nav .plan__btn img,
#samsung .photograph .plan__js .photograph__nav .samsung__btn img,
#samsung .photograph .plan__js .photograph__nav .plan__btn img,
#samsung .photograph .plan__js .plan__nav .samsung__btn img,
#samsung .photograph .plan__js .plan__nav .plan__btn img,
#samsung .plan .photograph__js .photograph__nav .samsung__btn img,
#samsung .plan .photograph__js .photograph__nav .plan__btn img,
#samsung .plan .photograph__js .plan__nav .samsung__btn img,
#samsung .plan .photograph__js .plan__nav .plan__btn img,
#samsung .plan .plan__js .photograph__nav .samsung__btn img,
#samsung .plan .plan__js .photograph__nav .plan__btn img,
#samsung .plan .plan__js .plan__nav .samsung__btn img,
#samsung .plan .plan__js .plan__nav .plan__btn img {
  width: 72px;
  margin: 0 auto;
}

#samsung .photograph .photograph__js .photograph__img,
#samsung .photograph .photograph__js .plan__img,
#samsung .photograph .plan__js .photograph__img,
#samsung .photograph .plan__js .plan__img,
#samsung .plan .photograph__js .photograph__img,
#samsung .plan .photograph__js .plan__img,
#samsung .plan .plan__js .photograph__img,
#samsung .plan .plan__js .plan__img {
  margin-top: 30px;
}

#samsung .photograph .photograph__js .photograph__img .slide,
#samsung .photograph .photograph__js .photograph__img .plan__slide,
#samsung .photograph .photograph__js .plan__img .slide,
#samsung .photograph .photograph__js .plan__img .plan__slide,
#samsung .photograph .plan__js .photograph__img .slide,
#samsung .photograph .plan__js .photograph__img .plan__slide,
#samsung .photograph .plan__js .plan__img .slide,
#samsung .photograph .plan__js .plan__img .plan__slide,
#samsung .plan .photograph__js .photograph__img .slide,
#samsung .plan .photograph__js .photograph__img .plan__slide,
#samsung .plan .photograph__js .plan__img .slide,
#samsung .plan .photograph__js .plan__img .plan__slide,
#samsung .plan .plan__js .photograph__img .slide,
#samsung .plan .plan__js .photograph__img .plan__slide,
#samsung .plan .plan__js .plan__img .slide,
#samsung .plan .plan__js .plan__img .plan__slide {
  display: none;
}

#samsung .photograph .photograph__note,
#samsung .photograph .plan__note,
#samsung .plan .photograph__note,
#samsung .plan .plan__note {
  padding: 32px 24px 0 24px;
  text-align: center;
}

#samsung .photograph__button__left-wrap span, #samsung .photograph__button__right-wrap span,
#samsung .plan__button__left-wrap span, #samsung .plan__button__right-wrap span {
  font-size: 14px;
  font-weight: bold;
  color: #000;
  margin-top: 16px;
  text-align: center;
}

#samsung .photograph__button__left-wrap .photograph__button__left, #samsung .photograph__button__left-wrap .photograph__button__right,
#samsung .photograph__button__left-wrap .plan__button__left, #samsung .photograph__button__left-wrap .plan__button__right, #samsung .photograph__button__right-wrap .photograph__button__left, #samsung .photograph__button__right-wrap .photograph__button__right,
#samsung .photograph__button__right-wrap .plan__button__left, #samsung .photograph__button__right-wrap .plan__button__right,
#samsung .plan__button__left-wrap .photograph__button__left,
#samsung .plan__button__left-wrap .photograph__button__right,
#samsung .plan__button__left-wrap .plan__button__left,
#samsung .plan__button__left-wrap .plan__button__right, #samsung .plan__button__right-wrap .photograph__button__left, #samsung .plan__button__right-wrap .photograph__button__right,
#samsung .plan__button__right-wrap .plan__button__left, #samsung .plan__button__right-wrap .plan__button__right {
  position: relative;
  width: 72px;
  height: 72px;
  overflow: hidden;
}

#samsung .photograph__button__left-wrap .photograph__button__left::before, #samsung .photograph__button__left-wrap .photograph__button__right::before,
#samsung .photograph__button__left-wrap .plan__button__left::before, #samsung .photograph__button__left-wrap .plan__button__right::before, #samsung .photograph__button__right-wrap .photograph__button__left::before, #samsung .photograph__button__right-wrap .photograph__button__right::before,
#samsung .photograph__button__right-wrap .plan__button__left::before, #samsung .photograph__button__right-wrap .plan__button__right::before,
#samsung .plan__button__left-wrap .photograph__button__left::before,
#samsung .plan__button__left-wrap .photograph__button__right::before,
#samsung .plan__button__left-wrap .plan__button__left::before,
#samsung .plan__button__left-wrap .plan__button__right::before, #samsung .plan__button__right-wrap .photograph__button__left::before, #samsung .plan__button__right-wrap .photograph__button__right::before,
#samsung .plan__button__right-wrap .plan__button__left::before, #samsung .plan__button__right-wrap .plan__button__right::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: 0 auto;
  width: 72px;
  height: 72px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

#samsung .photograph__button__left-wrap .photograph__button__left::before, #samsung .photograph__button__right-wrap .photograph__button__left::before,
#samsung .plan__button__left-wrap .photograph__button__left::before, #samsung .plan__button__right-wrap .photograph__button__left::before {
  content: "";
  background-image: url("https://cdn.comfy.ua/media/x/img/1786173/icon4w.svg");
}

#samsung .photograph__button__left-wrap .photograph__button__left.active::before, #samsung .photograph__button__right-wrap .photograph__button__left.active::before,
#samsung .plan__button__left-wrap .photograph__button__left.active::before, #samsung .plan__button__right-wrap .photograph__button__left.active::before {
  background-image: url("https://cdn.comfy.ua/media/x/img/1786173/icon4b.svg");
}

#samsung .photograph__button__left-wrap .photograph__button__right::before, #samsung .photograph__button__right-wrap .photograph__button__right::before,
#samsung .plan__button__left-wrap .photograph__button__right::before, #samsung .plan__button__right-wrap .photograph__button__right::before {
  content: "";
  background-image: url("https://cdn.comfy.ua/media/x/img/1786173/icon5w.svg");
}

#samsung .photograph__button__left-wrap .photograph__button__right.active::before, #samsung .photograph__button__right-wrap .photograph__button__right.active::before,
#samsung .plan__button__left-wrap .photograph__button__right.active::before, #samsung .plan__button__right-wrap .photograph__button__right.active::before {
  background-image: url("https://cdn.comfy.ua/media/x/img/1786173/icon5b.svg");
}

#samsung .photograph__button__left-wrap .plan__button__left::before, #samsung .photograph__button__right-wrap .plan__button__left::before,
#samsung .plan__button__left-wrap .plan__button__left::before, #samsung .plan__button__right-wrap .plan__button__left::before {
  content: "";
  background-image: url("https://cdn.comfy.ua/media/x/img/1786173/icon6w.svg");
}

#samsung .photograph__button__left-wrap .plan__button__left.active::before, #samsung .photograph__button__right-wrap .plan__button__left.active::before,
#samsung .plan__button__left-wrap .plan__button__left.active::before, #samsung .plan__button__right-wrap .plan__button__left.active::before {
  background-image: url("https://cdn.comfy.ua/media/x/img/1786173/icon6b.svg");
}

#samsung .photograph__button__left-wrap .plan__button__right::before, #samsung .photograph__button__right-wrap .plan__button__right::before,
#samsung .plan__button__left-wrap .plan__button__right::before, #samsung .plan__button__right-wrap .plan__button__right::before {
  content: "";
  background-image: url("https://cdn.comfy.ua/media/x/img/1786173/icon7w.svg");
}

#samsung .photograph__button__left-wrap .plan__button__right.active::before, #samsung .photograph__button__right-wrap .plan__button__right.active::before,
#samsung .plan__button__left-wrap .plan__button__right.active::before, #samsung .plan__button__right-wrap .plan__button__right.active::before {
  background-image: url("https://cdn.comfy.ua/media/x/img/1786173/icon7b.svg");
}

@media (max-width: 812px) {
  #samsung h2 {
    font-size: 28px;
  }
  #samsung .samsung__std .samsung__std__txt {
    padding: 1em;
  }
  #samsung p {
    font-size: unset;
  }
  #samsung .spec .spec__list {
    padding: 1em;
  }
  #samsung .spec .spec__list li {
    width: 100%;
  }
  #samsung .samsung__std .samsung__std__note {
    padding-bottom: 1em;
  }
  #samsung .camera .camera__flex .camera__txt,
  #samsung .selfie .selfie__flex .selfie__txt {
    padding: 1em;
  }
  #samsung .photograph .photograph__txt, #samsung .photograph .plan__txt, #samsung .plan .photograph__txt, #samsung .plan .plan__txt {
    padding: 1em;
  }
  #samsung .photograph, #samsung .plan {
    padding: 3em 0;
  }
  #samsung .photograph .photograph__js, #samsung .photograph .plan__js, #samsung .plan .photograph__js, #samsung .plan .plan__js {
    margin: 1em;
  }
}

@media (max-width: 480px) {
  #samsung .show__mob {
    display: block;
  }
  #samsung .hide__mob {
    display: none;
  }
  #samsung .spec .spec__list {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: unset;
    -webkit-justify-content: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
  #samsung .spec .spec__list li {
    padding: 1em;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 50%;
  }
  #samsung .spec .spec__list li:nth-of-type(2) {
    border: none;
  }
  #samsung .spec .spec__list li span {
    font-size: 12px;
  }
  #samsung .spec .spec__list li::before {
    width: 50px;
    height: 50px;
  }
  #samsung .camera .camera__flex, #samsung .camera .selfie__flex, #samsung .selfie .camera__flex, #samsung .selfie .selfie__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #samsung .camera .camera__flex > div, #samsung .camera .selfie__flex > div, #samsung .selfie .camera__flex > div, #samsung .selfie .selfie__flex > div {
    max-width: 100%;
    text-align: center;
  }
  #samsung .camera .camera__flex .camera__txt .camera__note, #samsung .camera .camera__flex .camera__txt .selfie__note, #samsung .camera .camera__flex .selfie__txt .camera__note, #samsung .camera .camera__flex .selfie__txt .selfie__note, #samsung .camera .selfie__flex .camera__txt .camera__note, #samsung .camera .selfie__flex .camera__txt .selfie__note, #samsung .camera .selfie__flex .selfie__txt .camera__note, #samsung .camera .selfie__flex .selfie__txt .selfie__note, #samsung .selfie .camera__flex .camera__txt .camera__note, #samsung .selfie .camera__flex .camera__txt .selfie__note, #samsung .selfie .camera__flex .selfie__txt .camera__note, #samsung .selfie .camera__flex .selfie__txt .selfie__note, #samsung .selfie .selfie__flex .camera__txt .camera__note, #samsung .selfie .selfie__flex .camera__txt .selfie__note, #samsung .selfie .selfie__flex .selfie__txt .camera__note, #samsung .selfie .selfie__flex .selfie__txt .selfie__note {
    padding-top: 3em;
  }
  #samsung .photograph .photograph__js .photograph__nav .btn, #samsung .photograph .photograph__js .photograph__nav .plan__btn, #samsung .photograph .photograph__js .plan__nav .btn, #samsung .photograph .photograph__js .plan__nav .plan__btn, #samsung .photograph .plan__js .photograph__nav .btn, #samsung .photograph .plan__js .photograph__nav .plan__btn, #samsung .photograph .plan__js .plan__nav .btn, #samsung .photograph .plan__js .plan__nav .plan__btn, #samsung .plan .photograph__js .photograph__nav .btn, #samsung .plan .photograph__js .photograph__nav .plan__btn, #samsung .plan .photograph__js .plan__nav .btn, #samsung .plan .photograph__js .plan__nav .plan__btn, #samsung .plan .plan__js .photograph__nav .btn, #samsung .plan .plan__js .photograph__nav .plan__btn, #samsung .plan .plan__js .plan__nav .btn, #samsung .plan .plan__js .plan__nav .plan__btn {
    width: 75px;
  }
  #samsung .photograph .photograph__js, #samsung .photograph .plan__js, #samsung .plan .photograph__js, #samsung .plan .plan__js {
    margin: 1em 0;
  }
  #samsung .photograph .photograph__note, #samsung .photograph .plan__note, #samsung .plan .photograph__note, #samsung .plan .plan__note {
    padding: 1em 1em 0 1em;
  }
  #samsung .camera .camera__flex .camera__txt h2, #samsung .camera .camera__flex .camera__txt p,
  #samsung .selfie .selfie__flex .selfie__txt h2,
  #samsung .selfie .selfie__flex .selfie__txt p {
    text-align: center;
  }
  #samsung .photograph .photograph__js .photograph__nav .samsung__btn, #samsung .photograph .photograph__js .photograph__nav .plan__btn, #samsung .photograph .photograph__js .plan__nav .samsung__btn, #samsung .photograph .photograph__js .plan__nav .plan__btn, #samsung .photograph .plan__js .photograph__nav .samsung__btn, #samsung .photograph .plan__js .photograph__nav .plan__btn, #samsung .photograph .plan__js .plan__nav .samsung__btn, #samsung .photograph .plan__js .plan__nav .plan__btn, #samsung .plan .photograph__js .photograph__nav .samsung__btn, #samsung .plan .photograph__js .photograph__nav .plan__btn, #samsung .plan .photograph__js .plan__nav .samsung__btn, #samsung .plan .photograph__js .plan__nav .plan__btn, #samsung .plan .plan__js .photograph__nav .samsung__btn, #samsung .plan .plan__js .photograph__nav .plan__btn, #samsung .plan .plan__js .plan__nav .samsung__btn, #samsung .plan .plan__js .plan__nav .plan__btn {
    width: 72px;
    margin: 0px 40px;
  }
}
