#lenovo {
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
  height: auto;
  display: block;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}
#lenovo p {
  font-size: 20px;
  line-height: normal;
  color: #fff;
  margin-bottom: 0;
  margin: 0;
  text-align: unset;
}
#lenovo p:first-letter {
  padding-left: 0;
}
#lenovo h2 {
  text-align: unset;
  display: block;
  line-height: normal;
  font-size: 45px;
  font-weight: normal;
  color: #fff;
  padding: 0;
  margin: 0;
}
#lenovo img {
  margin: 0 auto;
  opacity: 1;
  max-width: 100%;
  display: block;
  height: auto;
}
#lenovo img:hover {
  opacity: 1;
}
#lenovo ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#lenovo span {
  display: block;
  line-height: normal;
}

.features-desc__text img {
  margin-bottom: 0rem;
}

.one-col .features-desc__text p:first-letter {
  padding-left: 0rem !important;
}

#lenovo .logo__list {
  padding: 70px 0 0 45px;
  background-image: url("https://cdn.comfy.ua/media/x/img/1932221/bg1.jpg");
  min-height: 720px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
#lenovo .logo__list li:nth-of-type(1) {
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
}
#lenovo .logo__list li:nth-of-type(2) {
  margin-left: -12em;
}
#lenovo .logo__list li:nth-of-type(2) span {
  font-size: 50px;
  color: #fff;
}
#lenovo .logo__list li:nth-of-type(2) span sup {
  font-size: 14px;
}
#lenovo .logo__list li:nth-of-type(2) h2 {
  margin-top: 60px;
}
#lenovo .logo__list .logo__i {
  position: absolute;
  right: 0;
  top: 125px;
}
#lenovo .power {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 720px;
  background-image: url("https://cdn.comfy.ua/media/x/img/1932221/bg2.jpg");
  padding: 150px 50px 50px 130px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
#lenovo .power li {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
     -moz-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
}
#lenovo .power li:nth-of-type(1) {
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
  -webkit-box-flex: 1.5;
  -webkit-flex: 1.5;
     -moz-box-flex: 1.5;
      -ms-flex: 1.5;
          flex: 1.5;
}
#lenovo .power li:nth-of-type(2) {
  margin-left: -4em;
}
#lenovo .lvl {
  min-height: 719px;
  background-image: url("https://cdn.comfy.ua/media/x/img/1932221/bg3.jpg");
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 95px 0 105px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
#lenovo .lvl li {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
     -moz-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
}
#lenovo .lvl li:nth-of-type(1) {
  max-width: 505px;
}
#lenovo .lvl li:nth-of-type(1) img {
  margin: 70px 0 0 0;
}
#lenovo .lvl li:nth-of-type(2) img {
  margin: 0 0 0 auto;
}
#lenovo .lvl li h2 {
  margin-bottom: 40px;
}
#lenovo .lvl:nth-of-type(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
     -moz-box-orient: horizontal;
     -moz-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
#lenovo .lvl__bg__four {
  min-height: 720px;
  background-image: url("https://cdn.comfy.ua/media/x/img/1932221/bg4.jpg");
  padding-left: 0;
}
#lenovo .lvl__bg__four li:nth-of-type(2) {
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
}
#lenovo .lvl__bg__five {
  min-height: 720px;
  background-image: url("https://cdn.comfy.ua/media/x/img/1932221/bg5.jpg");
}
#lenovo .lvl__bg__six {
  min-height: 720px;
  background-image: url("https://cdn.comfy.ua/media/x/img/1932221/bg6.jpg");
}
#lenovo .lvl__bg__six li:nth-of-type(2) {
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
}
#lenovo .lvl__bg__seven {
  min-height: 720px;
  background-image: url("https://cdn.comfy.ua/media/x/img/1932221/bg7.jpg");
}
#lenovo .lvl__bg__seven li h2 {
  margin-right: -3em;
}

@media (max-width: 1024px) {
  #lenovo h2 {
    font-size: 36px;
  }
  #lenovo .logo__list {
    padding-right: 100px;
  }
  #lenovo .logo__list li:nth-of-type(2) span {
    font-size: 40px;
  }
  #lenovo .logo__list li:nth-of-type(1) {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 0;
       -moz-box-flex: 1;
        -ms-flex: 1 1 0px;
            flex: 1 1 0;
  }
}
@media (max-width: 812px) {
  #lenovo .logo__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
       -moz-box-orient: vertical;
       -moz-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 1em 1em 0 1em;
    -webkit-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
  }
  #lenovo .logo__list li:nth-of-type(2) {
    margin-left: 0;
  }
  #lenovo .power {
    padding: 1em;
  }
  #lenovo .power li:nth-of-type(2) {
    margin-left: -10em;
  }
  #lenovo .lvl {
    padding: 1em 0;
    display: block;
    -webkit-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    min-height: unset;
  }
  #lenovo .lvl li:nth-of-type(1) {
    max-width: unset;
    margin-bottom: 1em;
    padding: 1em;
  }
}
@media (max-width: 480px) {
  #lenovo p {
    font-size: unset;
  }
  #lenovo h2 {
    font-size: 24px;
  }
  #lenovo .logo__list {
    min-height: unset;
  }
  #lenovo .logo__list .logo__i {
    max-width: 40px;
  }
  #lenovo .logo__list li:nth-of-type(2) span {
    font-size: 28px;
  }
  #lenovo .logo__list li:nth-of-type(2) h2 {
    margin-bottom: 1em;
    margin-top: 1em;
  }
  #lenovo .power {
    min-height: unset;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
       -moz-box-orient: vertical;
       -moz-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  #lenovo .power li:nth-of-type(2) {
    margin-left: 0;
    margin-bottom: 1em;
  }
  #lenovo .lvl li:nth-of-type(1) img {
    max-height: 70px;
  }
  #lenovo .lvl__bg__seven li h2 {
    margin-right: 0;
  }
  #lenovo .lvl__bg__seven li h2 br {
    display: none;
  }
}