/* **********default************ */

#wrapper_qt2020 {
   display: block;
   margin: 0 auto;
   max-width: 1316px;
   width: 100%;
   background: #fff;
}

.features-desc__text img {
   margin-bottom: 0rem !important;
}

#wrapper_qt2020 p:first-letter {
   padding-left: 0;
}

#wrapper_qt2020 p {
   margin-bottom: 0;
}

#wrapper_qt2020 img:hover {
   opacity: 1;
}

#wrapper_qt2020 img {
   opacity: 1;
   display: block;
}

.color_grey {
   color: #a75f26;
   font-weight: bold;
}

/* pos-img-france */

.pos-img-france {
   background: rgba(247, 247, 247, 0.86);
   position: absolute;
   padding: 25px 45px 25px 45px;
   left: 0;
   top: 0;
}

.pos-img-france p {
   font-size: 2.1rem;
   text-transform: uppercase;
   color: grey;
   text-align: center;
   margin-top: 10px;
}

.pos-img-france .pos-img-france__blflex {
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: horizontal;
   -webkit-box-direction: normal;
   -webkit-flex-direction: row;
       -ms-flex-direction: row;
           flex-direction: row;
   -webkit-box-align: center;
   -webkit-align-items: center;
       -ms-flex-align: center;
           align-items: center;
}

.pos-img-france .pos-img-france__blflex .item {
   -webkit-box-flex: 1;
   -webkit-flex: 1 1 0;
       -ms-flex: 1 1 0px;
           flex: 1 1 0;
}

.pos-img-france .pos-img-france__blflex .item:nth-child(1) {
   background-color: #283076;
   width: 100px;
   height: 12px;
}

.pos-img-france .pos-img-france__blflex .item:nth-child(2) {
   background-color: #fff;
   width: 100px;
   height: 12px;
}

.pos-img-france .pos-img-france__blflex .item:nth-child(3) {
   background: #ec1b24;
   width: 100px;
   height: 12px;
}

/* pos-img-france END */

/* ***********default*********** END */

/* container-ixeo-power sect1 */

.container-ixeo-power {
   position: relative;
}

.container-ixeo-power .row-ixeo-power1.bg1 {
   background-image: url(https://cdn.comfy.ua/media/x/img/1514008/banner_1_bg.png);
   background-position: center;
   background-repeat: no-repeat;
   -webkit-background-size: cover;
           background-size: cover;
   position: relative;
   display: block;
   z-index: 8;
   width: 100%;
   height: 718px;
}

.container-ixeo-power .row-ixeo-power2.bg2 {
   background-image: url(https://cdn.comfy.ua/media/x/img/1514008/banner_1.png);
   background-position: center;
   background-repeat: no-repeat;
   -webkit-background-size: contain;
           background-size: contain;
   position: relative;
   display: block;
   z-index: 9;
   max-width: 100%;
   height: 100%;
}

.container-ixeo-power .row-ixeo-power2 .pos_img_logo {
   position: absolute;
   right: 5rem;
   top: 5rem;
}

.container-ixeo-power .row-ixeo-power2 .content-block1 {
   background: rgba(255, 255, 255, 0.7);
   z-index: 9;
   position: absolute;
   width: 100%;
   top: 65%;
   -webkit-transform: translateY(-65%);
       -ms-transform: translateY(-65%);
           transform: translateY(-65%);
   line-height: 1;
}

.container-ixeo-power .row-ixeo-power2 .content-block1 h2 {
   color: #a75f26;
   text-transform: uppercase;
   font-size: 6rem;
   text-align: center;
}

/* container-ixeo-power sect1 END */


/* container-ixeo-power sect1 */

.container-steam-generator {}

.row-steam-generator {
   position: relative;
}

.row-steam-generator.bg3 {
   background-image: url(https://cdn.comfy.ua/media/x/img/1514008/banner_2.png);
   background-position: center;
   background-repeat: no-repeat;
   -webkit-background-size: cover;
           background-size: cover;
   position: relative;
   display: block;
   width: 100%;
   height: 718px;
}

.content-block2 {
   position: absolute;
   right: 0;
   top: 5rem;
   max-width: 780px;
   width: 100%;
}

.content-block2 .cont_top {
   background: rgba(255, 255, 255, 0.7);
   margin-bottom: 15px;
   padding: 10px 5rem 10px 10rem;
   line-height: 1;
}

.content-block2 .cont_top h2 {
   text-transform: uppercase;
   font-size: 4rem;
   text-align: left;
}

.content-block2 .cont_bottom {
   background: rgba(255, 255, 255, 0.7);
   padding: 10px 5rem 10px 10rem;
}

.content-block2 .cont_bottom p {
   font-size: 2.6rem;
   text-align: left;
}

/* container-ixeo-power sect1 END */



/* container-ixeo-power-move */

.container-ixeo-power-move {
   padding: 0rem 0rem 5rem 0;
}

.row-ixeo-power-move {}

.row-ixeo-power-move h2 {
   font-size: 4rem;
   text-align: center;
   padding: 2rem 15px;
   display: block;
}

.row-ixeo-power-move .container-move {
   max-width: 940px;
   width: 100%;
   display: block;
   margin: 0 auto;
}

.row-ixeo-power-move .container-move iframe {
   display: block;
   width: 100%;
   height: 550px;
}

/* container-ixeo-power-move END */



/* container-power-vapor */

.container-power-vapor {}

.container-power-vapor .row-power-vapor {
   position: relative;
}

.container-power-vapor .row-power-vapor.bg4 {
   background-image: url(https://cdn.comfy.ua/media/x/img/1514008/banner_3.png);
   background-position: center;
   background-repeat: no-repeat;
   -webkit-background-size: cover;
           background-size: cover;
   position: relative;
   display: block;
   width: 100%;
   height: 718px;
}

.container-power-vapor .row-power-vapor .power-vapor__content-block3 {
   position: absolute;
   top: 5rem;
   left: 0;
}

.container-power-vapor .row-power-vapor .power-vapor__content-block3 .power-vapor__content-block3__cont_top {
   background: rgba(255, 255, 255, 0.7);
   margin-bottom: 15px;
   padding: 10px 5rem 10px 10rem;
}

.container-power-vapor .row-power-vapor .power-vapor__content-block3 .power-vapor__content-block3__cont_top h2 {
   font-size: 4rem;
   text-align: left;
   line-height: 1;
}

.container-power-vapor .row-power-vapor .power-vapor__content-block3 .power-vapor__content-block3__cont_bottom {
   background: rgba(255, 255, 255, 0.7);
   padding: 10px 5rem 10px 10rem;
}

.container-power-vapor .row-power-vapor .power-vapor__content-block3 .power-vapor__content-block3__cont_bottom ul {
   line-height: 1.6;
}

.container-power-vapor .row-power-vapor .power-vapor__content-block3 .power-vapor__content-block3__cont_bottom ul li {
   font-size: 2.6rem;
   text-align: left;
   position: relative;
   padding-left: 28px;
}

.container-power-vapor .row-power-vapor .power-vapor__content-block3 .power-vapor__content-block3__cont_bottom ul li::before {
   content: "";
   position: absolute;
   left: 0;
   top: 18px;
   width: 10px;
   height: 10px;
   -webkit-border-radius: 50%;
           border-radius: 50%;
   background: #a75f26;
}

/* container-power-vapor END */

/* container-smart-board */

.container-smart-board {}

.row-smart-board {
   position: relative;
}

.row-smart-board.bg5 {
   background-image: url(https://cdn.comfy.ua/media/x/img/1514008/banner_4.png);
   background-position: center;
   background-repeat: no-repeat;
   -webkit-background-size: cover;
           background-size: cover;
   position: relative;
   display: block;
   width: 100%;
   height: 718px;
}

.row-smart-board .smart-board__content {
   padding-bottom: 5rem;
   max-width: 1000px;
   display: block;
   position: absolute;
   bottom: 0;
   left: 0;
}

.smart-board__content_top_text {
   background: rgba(255, 255, 255, 0.7);
   margin-bottom: 15px;
   padding: 10px 5rem 10px 10rem;
}

.smart-board__content_top_text h2 {
   font-size: 4rem;
   text-align: left;
}

.smart-board__content_bottom_text {
   background: rgba(255, 255, 255, 0.7);
   padding: 10px 5rem 10px 10rem;
}

.smart-board__content_bottom_text ul {
   list-style-type: none;
}

.smart-board__content_bottom_text ul li {
   position: relative;
   font-size: 2.6rem;
   text-align: left;
   line-height: 1.6;
   padding-left: 28px;
}

.smart-board__content_bottom_text ul li::before {
   content: "";
   position: absolute;
   left: 0;
   top: 18px;
   width: 10px;
   height: 10px;
   -webkit-border-radius: 50%;
           border-radius: 50%;
   background: #a75f26;
}




.row-smart-board.bg6 {
   background-image: url(https://cdn.comfy.ua/media/x/img/1514008/banner_5.png);
   background-position: center;
   background-repeat: no-repeat;
   -webkit-background-size: cover;
           background-size: cover;
   position: relative;
   display: block;
   width: 100%;
   height: 718px;
}

.smart-board__content_bottom_text p {
   text-align: left;
   font-size: 2.6rem !important;
}

.container-product-board {
   position: absolute;
   right: 0;
   top: 0;
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -webkit-flex-direction: column;
       -ms-flex-direction: column;
           flex-direction: column;
   background: rgba(255, 255, 255, 0.7);
   max-width: 200px;
   width: 100%;
   height: 100%;
   -webkit-box-align: center;
   -webkit-align-items: center;
       -ms-flex-align: center;
           align-items: center;
}

.container-product-board .item {
   -webkit-box-flex: 1;
   -webkit-flex: 1 1 0;
       -ms-flex: 1 1 0px;
           flex: 1 1 0;
   position: relative;
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: horizontal;
   -webkit-box-direction: normal;
   -webkit-flex-direction: row;
       -ms-flex-direction: row;
           flex-direction: row;
   width: 100%;
   -webkit-justify-content: space-around;
       -ms-flex-pack: distribute;
           justify-content: space-around;
}

.container-product-board .item:nth-child(1)::before {
   content: "1";
   position: absolute;
   left: 15px;
   top: 0;
   color: #a75f26;
   font-size: 2rem;
   font-weight: bold;
}

.container-product-board .item:nth-child(2)::before {
   content: "2";
   position: absolute;
   left: 15px;
   top: 0;
   color: #a75f26;
   font-size: 2rem;
   font-weight: bold;
}

.container-product-board .item:nth-child(3)::before {
   content: "3";
   position: absolute;
   left: 15px;
   top: 0;
   color: #a75f26;
   font-size: 2rem;
   font-weight: bold;
}

/* container-smart-board END */



/* container-freshness-hygiene */

.container-freshness-hygiene {}

.row-freshness-hygiene {}

.row-freshness-hygiene .freshness-hygiene_fleximg {
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: horizontal;
   -webkit-box-direction: normal;
   -webkit-flex-direction: row;
       -ms-flex-direction: row;
           flex-direction: row;
}

.row-freshness-hygiene .freshness-hygiene_fleximg .item {
   -webkit-box-flex: 1;
   -webkit-flex: 1 1 0;
       -ms-flex: 1 1 0px;
           flex: 1 1 0;
}

.row-freshness-hygiene .freshness-hygiene_fleximg .item img {
   display: block;
   max-width: 100%;
   width: 100%;
}

.row-freshness-hygiene .freshness-hygiene_content {
   background: -webkit-gradient(linear, left top, right top, from(rgba(204, 199, 198, 1)), color-stop(1%, rgba(202, 197, 196, 1)), color-stop(20%, rgba(199, 193, 192, 1)), color-stop(53%, rgba(197, 191, 191, 1)), color-stop(77%, rgba(201, 195, 194, 1)), to(rgba(207, 202, 201, 1)));
   background: -webkit-linear-gradient(left, rgba(204, 199, 198, 1) 0%, rgba(202, 197, 196, 1) 1%, rgba(199, 193, 192, 1) 20%, rgba(197, 191, 191, 1) 53%, rgba(201, 195, 194, 1) 77%, rgba(207, 202, 201, 1) 100%);
   background: -o-linear-gradient(left, rgba(204, 199, 198, 1) 0%, rgba(202, 197, 196, 1) 1%, rgba(199, 193, 192, 1) 20%, rgba(197, 191, 191, 1) 53%, rgba(201, 195, 194, 1) 77%, rgba(207, 202, 201, 1) 100%);
   background: linear-gradient(to right, rgba(204, 199, 198, 1) 0%, rgba(202, 197, 196, 1) 1%, rgba(199, 193, 192, 1) 20%, rgba(197, 191, 191, 1) 53%, rgba(201, 195, 194, 1) 77%, rgba(207, 202, 201, 1) 100%);
   padding: 3rem 0 3rem 0;
}

.row-freshness-hygiene .freshness-hygiene_content h2 {
   font-size: 4rem;
   text-align: center;
   margin-bottom: 15px;
   line-height: 1;
}

.row-freshness-hygiene .freshness-hygiene_content .freshness-hygiene_content__bgfff {
   background: #dad5d4;
}

.row-freshness-hygiene .freshness-hygiene_content .freshness-hygiene_content__bgfff p {
   display: block;
   padding: 0 10rem 0 10rem;
   margin: 0 auto;
   font-size: 2.5rem;
   text-align: left;
}

/* container-freshness-hygiene END */



/* container-advantages */

.container-advantages {}

.row-advantages {}

.advantages__blockflex {
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: horizontal;
   -webkit-box-direction: normal;
   -webkit-flex-direction: row;
       -ms-flex-direction: row;
           flex-direction: row;
   -webkit-flex-wrap: wrap;
       -ms-flex-wrap: wrap;
           flex-wrap: wrap;
}

.advantages__blockflex .itemadv {
   -webkit-box-flex: 1;
   -webkit-flex: 1 1 0;
       -ms-flex: 1 1 0px;
           flex: 1 1 0;
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -webkit-flex-direction: column;
       -ms-flex-direction: column;
           flex-direction: column;
}

.advantages__blockflex .itemadv img {
   display: block;
   width: 100%;
}

.advantages__blockflex .itemadv .advantages__content {
   width: 100%;
   height: 100%;
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   padding: 15px 10px;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -webkit-flex-direction: column;
       -ms-flex-direction: column;
           flex-direction: column;
   -webkit-box-pack: center;
   -webkit-justify-content: center;
       -ms-flex-pack: center;
           justify-content: center;
}

.advantages__blockflex .itemadv .advantages__content h2 {
   font-size: 2.8rem;
   text-align: center;
   margin-bottom: 15px;
   line-height: 1.1;
}

.advantages__blockflex .itemadv .advantages__content ul {}

.advantages__blockflex .itemadv .advantages__content ul li {
   position: relative;
   font-size: 2.5rem;
   text-align: left;
   line-height: 1;
   padding-left: 28px;
   margin-bottom: 10px;
}

.advantages__blockflex .itemadv .advantages__content ul li:last-child {
   margin-bottom: 0;
}

.advantages__blockflex .itemadv .advantages__content ul li::before {
   content: "";
   position: absolute;
   left: 0;
   top: 8px;
   width: 10px;
   height: 10px;
   -webkit-border-radius: 50%;
           border-radius: 50%;
   background: #a75f26;
}

/* container-advantages END */



/* container-optimal-equipment */

.container-optimal-equipment {}
.row-optimal-equipment {}
.row-optimal-equipment.bg7 {
   background-image: url(https://cdn.comfy.ua/media/x/img/1514008/banner_8.png);
   background-position: center;
   background-repeat: no-repeat;
   -webkit-background-size: cover;
           background-size: cover;
   position: relative;
   padding-top: 3rem;
   display: block;
   width: 100%;
   height: 718px;
}
.optimal-equipment__content_top {
   position: relative;
   width: 100%;
   background: rgba(255, 255, 255, 0.7);
}
.optimal-equipment__content_top h2 {
   font-size: 4rem;
   text-align: center;
   line-height: 1;
}

.optimal-equipment_list {
   position: relative;
   width: auto;
   margin-top: 8rem;
   padding: 0 15px;
}
.optimal-equipment_list ul {}
.optimal-equipment_list ul li {
   font-size: 2.5rem;
   text-align: left;
   z-index: 8;
   height: 170px;
   position: relative;
   max-width: 955px;
   display: block;
   margin: 0 auto;
}
.optimal-equipment_list ul li span.bg_color_fff {
   font-size: 2.5rem;
   text-align: left;
   background: rgba(255, 255, 255, 0.7);
   position: absolute;
   padding: 15px 15px 15px 8rem;
   top: 50%;
   -webkit-transform: translateY(-50%);
       -ms-transform: translateY(-50%);
           transform: translateY(-50%);
   left: 10rem;
   padding-left: 8rem;
   padding-right: 3rem;
}
.optimal-equipment_list ul li:nth-child(1)::before {
   content: "";
   position: absolute;
   background-image: url(https://cdn.comfy.ua/media/x/img/1514008/banner_8_1.png);
   background-repeat: no-repeat;
   -webkit-background-size: cover;
           background-size: cover;
   width: 151px;
   height: 151px;
   z-index: 9;
}
.optimal-equipment_list ul li:nth-child(2)::before {
   content: "";
   position: absolute;
   background-image: url(https://cdn.comfy.ua/media/x/img/1514008/banner_8_2.png);
   background-repeat: no-repeat;
   -webkit-background-size: cover;
           background-size: cover;
   width: 151px;
   height: 151px;
   z-index: 9;
}
.optimal-equipment_list ul li:nth-child(3)::before {
   content: "";
   position: absolute;
   background-image: url(https://cdn.comfy.ua/media/x/img/1514008/banner_8_3.png);
   background-repeat: no-repeat;
   -webkit-background-size: cover;
           background-size: cover;
   width: 151px;
   height: 151px;
   z-index: 9;
}


/* container-optimal-equipment END */


/* media style */

@media screen and (min-width: 320px) and (max-width: 480px) {
   .container-ixeo-power .row-ixeo-power2.bg2 {
      -webkit-background-size: cover;
              background-size: cover;
   }

   .row-ixeo-power-move .container-move iframe {
      height: 350px;
   }

   .container-power-vapor .row-power-vapor .power-vapor__content-block3 .power-vapor__content-block3__cont_bottom ul li {
      font-size: 2.5rem;
   }

   .row-ixeo-power-move h2 {
      font-size: 2.5rem;
   }

   .pos-img-france {
      position: relative;
      background: rgba(247, 247, 247, 0.86);
      padding: 25px 45px 25px 45px;
      left: 0;
      top: 0;
      display: block;
      margin-top: 5px;
   }

   .container-ixeo-power .row-ixeo-power2 .content-block1 h2 {
      font-size: 4rem;
      padding: 0 15px;
   }

   .container-ixeo-power .row-ixeo-power2 .pos_img_logo {
      position: relative;
      right: 0;
      top: 0;
      padding: 15px 15px;
      display: block;
   }

   .content-block2 .cont_bottom p {
      font-size: 2.3rem;
   }

   .content-block2 {
      position: relative;
      top: 0;
   }

   .content-block2 .cont_top {
      padding: 10px 15px 10px 15px;
   }

   .content-block2 .cont_bottom {
      padding: 10px 15px 10px 15px;
   }

   .row-steam-generator.bg3 {
      height: auto;
   }

   .container-power-vapor .row-power-vapor .power-vapor__content-block3 .power-vapor__content-block3__cont_bottom {
      padding: 10px 15px 10px 15px;
   }

   .container-power-vapor .row-power-vapor .power-vapor__content-block3 .power-vapor__content-block3__cont_top {
      padding: 10px 15px 10px 15px;
   }

   .container-power-vapor .row-power-vapor.bg4 {
      height: auto;
   }

   .container-power-vapor .row-power-vapor .power-vapor__content-block3 {
      position: relative;
      top: 0;
   }

   .smart-board__content_top_text {
      padding: 10px 15px 10px 15px;
   }

   .smart-board__content_bottom_text {
      padding: 10px 15px 10px 15px;
   }

   .row-smart-board.bg5 {
      height: auto;
   }

   .row-smart-board .smart-board__content {
      position: relative;
   }

   .smart-board__content_top_text h2 {
      font-size: 3.5rem;
   }

   .smart-board__content_bottom_text ul li {
      font-size: 2.5rem;
   }

   .row-freshness-hygiene .freshness-hygiene_content .freshness-hygiene_content__bgfff p {
      padding: 0 15px 0 15px;
   }

   .row-freshness-hygiene .freshness-hygiene_fleximg {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
   }

   .row-smart-board .smart-board__content {
      max-width: 100%;
      position: relative;
   }

   .row-smart-board.bg5 {
      height: auto;
   }

   .container-product-board {
      max-width: 100%;
      position: relative;
      -webkit-box-align: end;
      -webkit-align-items: flex-end;
          -ms-flex-align: end;
              align-items: flex-end;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      padding: 15px 0;
   }

   .container-product-board .item:nth-child(1)::before,
   .container-product-board .item:nth-child(2)::before,
   .container-product-board .item:nth-child(3)::before {
      top: inherit;
      bottom: 0;
      left: 0;
   }

   .advantages__blockflex .itemadv {
      -webkit-box-flex: 1;
      -webkit-flex: 1 1 100%;
          -ms-flex: 1 1 100%;
              flex: 1 1 100%;
   }

   .advantages__blockflex .itemadv:nth-child(2n+2) {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
      -webkit-flex-direction: column-reverse;
          -ms-flex-direction: column-reverse;
              flex-direction: column-reverse;
   }

   .advantages__blockflex {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
   }

   .container-ixeo-power .row-ixeo-power2.bg2 {
      -webkit-background-size: cover;
              background-size: cover;
   }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
   .container-ixeo-power .row-ixeo-power2 .pos_img_logo {
      position: absolute;
      right: 15px;
      top: 15px;
      max-width: 295px;
   }

   .advantages__blockflex .itemadv {
      -webkit-box-flex: 1;
      -webkit-flex: 1 1 50%;
          -ms-flex: 1 1 50%;
              flex: 1 1 50%;
   }

   .row-freshness-hygiene .freshness-hygiene_content .freshness-hygiene_content__bgfff p {
      padding: 0 15px 0 15px;
   }

   .smart-board__content_top_text {
      padding: 10px 15px 10px 15px;
   }

   .smart-board__content_bottom_text {
      padding: 10px 15px 10px 15px;
   }

   .container-power-vapor .row-power-vapor .power-vapor__content-block3 .power-vapor__content-block3__cont_bottom {
      padding: 10px 15px 10px 15px;
   }

   .container-power-vapor .row-power-vapor .power-vapor__content-block3 .power-vapor__content-block3__cont_top {
      padding: 10px 15px 10px 15px;
   }

   .container-ixeo-power .row-ixeo-power2 .content-block1 h2 {
      font-size: 5rem;
   }

   .content-block2 {
      top: 12rem;
   }

   .content-block2 .cont_top {
      padding: 10px 15px 10px 15px;
   }

   .content-block2 .cont_bottom {
      padding: 10px 15px 10px 15px;
   }

   .row-smart-board .smart-board__content {
      max-width: 100%;
      position: relative;
   }

   .row-smart-board.bg5 {
      height: auto;
   }

   .container-product-board {
      max-width: 100%;
      position: relative;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
          -ms-flex-align: start;
              align-items: flex-start;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      padding: 15px 0;
   }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
   .content-block2 {
      top: 12rem;
   }

   .row-smart-board .smart-board__content {
      max-width: 790px;
   }
}