.gen-tab__bottom-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page-container {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
     -moz-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.features-general {
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
     -moz-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.common-template__top.page-container {
  -webkit-box-ordinal-group: -2;
  -webkit-order: -3;
     -moz-box-ordinal-group: -2;
      -ms-flex-order: -3;
          order: -3;
}

.common-template__tabs.page-container {
  -webkit-box-ordinal-group: -1;
  -webkit-order: -2;
     -moz-box-ordinal-group: -1;
      -ms-flex-order: -2;
          order: -2;
}

@media (max-width: 1023px) {
  .common-template__top.page-container {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    -webkit-order: -1;
       -moz-box-ordinal-group: 0;
            order: -1;
  }
}
.god {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
  height: auto;
  display: block;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  color: #fff;
}
.god p {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 0;
  margin: 0;
  text-align: unset;
}
.god p:first-letter {
  padding-left: 0;
}
.god h2 {
  text-align: unset;
  display: block;
  line-height: normal;
  font-size: 34px;
  font-weight: normal;
  padding: 0;
  margin: 0;
}
.god img {
  margin: 0 auto;
  opacity: 1;
  max-width: 100%;
  display: block;
  height: auto;
}
.god img:hover {
  opacity: 1 !important;
}
.god ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.god span {
  display: block;
  line-height: normal;
}
.god div {
  line-height: normal;
}

.features-desc__text img {
  margin-bottom: 0rem;
}

.one-col .features-desc__text p:first-letter {
  padding-left: 0rem !important;
}

.god .container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 60px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.god__mob,
.god__tab {
  display: none;
}

.snow {
  background: url("https://cdn.comfy.ua/media/x/img/2146352/snow.png") no-repeat top;
  background-color: #000;
  padding-top: 33px;
  position: relative;
  margin-top: -1px;
}

.war {
  position: relative;
}

.war__head {
  top: 105px;
  position: absolute;
  z-index: 5;
}

.war__wrap {
  background: url("https://cdn.comfy.ua/media/x/img/2146352/p12.png") center;
  height: 800px;
  max-height: 800px;
  padding-top: 105px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  position: relative;
}
.war__wrap::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: -webkit-linear-gradient(22deg, rgba(0, 0, 0, 0.4) 25%, rgba(255, 255, 255, 0) 100%);
  background: -moz-linear-gradient(22deg, rgba(0, 0, 0, 0.4) 25%, rgba(255, 255, 255, 0) 100%);
  background: -o-linear-gradient(22deg, rgba(0, 0, 0, 0.4) 25%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(68deg, rgba(0, 0, 0, 0.4) 25%, rgba(255, 255, 255, 0) 100%);
  z-index: 4;
}

.war__cont {
  position: relative;
  z-index: 5;
}

.war__title {
  font-size: 44px;
  margin-bottom: 24px;
  max-width: 610px;
}

.war__txt {
  font-size: 14px;
  max-width: 480px;
}

.war__parallax__item {
  position: absolute;
}

.war__parallax__snow {
  bottom: 0;
  max-width: 100%;
  z-index: 0;
}
.war__parallax__snow img {
  max-width: 100%;
}

.war__parallax__snow__two {
  top: 20px;
  width: 100%;
  height: 100vh;
  z-index: 3;
}
.war__parallax__snow__two img {
  height: 100vh;
}

.war__parallax__kratos {
  top: 13px;
  right: 40%;
  z-index: 1;
}

.war__parallax__sani {
  bottom: 0;
  right: 8%;
  z-index: 2;
}

.war__parallax__girl {
  top: -8%;
  right: 0%;
  z-index: 1;
}

.war__parallax__boy {
  bottom: 13%;
  right: 0;
  z-index: 1;
}

.war__parallax__dirt {
  bottom: -200px;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 4;
}
.war__parallax__dirt img {
  width: 100%;
}

.war__parallax__fog {
  bottom: -109%;
  right: 3%;
  z-index: 3;
}

.war__parallax__fog__two {
  bottom: -47%;
  right: -34%;
  z-index: 3;
}

.war__parallax__fog__three {
  bottom: -100%;
  right: -25%;
  z-index: 3;
}

@media (max-width: 1024px) {
  .war__parallax__kratos {
    right: 50%;
  }
  .war__parallax__sani {
    right: 10%;
    left: -30%;
  }
  .war__parallax__girl {
    right: -6%;
  }
}
@media (max-width: 768px) {
  .war__head {
    position: unset;
    margin-bottom: 20px;
  }
  .war__wrap {
    height: 92vw;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
  }
  .war__parallax__kratos {
    max-width: 60vw;
    right: 22%;
    left: -19%;
    top: unset;
    bottom: 5%;
  }
  .war__parallax__sani {
    max-width: 100vw;
  }
  .war__parallax__girl {
    max-width: 70vw;
    right: -9%;
  }
  .war__parallax__boy {
    max-width: 40vw;
  }
}
.travel {
  position: relative;
  z-index: 3;
  margin-top: -130px;
}
.travel::before {
  content: "";
  display: block;
  background: url("https://cdn.comfy.ua/media/x/img/2146352/threeangle.png");
  width: 1366px;
  height: 260px;
}

.travel__title {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin-top: -120px;
}

.travel__row {
  margin-top: 52px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.travel__cal {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
     -moz-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}
.travel__cal:nth-of-type(2) {
  margin: 0 22px;
}

.travel__cal__img {
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
  overflow: hidden;
}
.travel__cal__img img {
  margin: 0;
}

.travel__cal__txt {
  font-size: 16px;
  max-width: 401px;
  margin: 0;
}
.travel__cal__txt strong {
  display: block;
  font-size: 26px;
  margin: 50px 0 20px 0;
}

.travel__img {
  padding: 70px 0 136px 0;
}

.wolf {
  background-color: #000;
  position: relative;
}

.wolf__txt {
  max-width: 616px;
  text-align: right;
  font-size: 26px;
  position: absolute;
  right: 60px;
  z-index: 1;
}

.fight {
  background-color: #000;
  padding-top: 80px;
  background: url("https://cdn.comfy.ua/media/x/img/2146352/bg1.png") no-repeat center bottom/cover;
  padding-bottom: 44%;
  position: relative;
}
.fight::before {
  content: "";
  display: block;
  background-image: url("https://cdn.comfy.ua/media/x/img/2146352/8.png");
  width: 387px;
  height: 329px;
  position: absolute;
  right: 50%;
  bottom: 45%;
  -webkit-transform: translate(50%, 50%);
     -moz-transform: translate(50%, 50%);
      -ms-transform: translate(50%, 50%);
       -o-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
}

.fight__txt {
  text-align: center;
  font-size: 26px;
  max-width: 952px;
  margin: 0 auto;
}

@media (max-width: 1201px) {
  .god .container {
    width: 960px;
    padding: 0 15px;
  }
  .fight {
    padding-bottom: 55%;
  }
  .war__title {
    font-size: -webkit-calc(24px + 20 * (100vw - 320px) / 881);
    font-size: -moz-calc(24px + 20 * (100vw - 320px) / 881);
    font-size: calc(24px + 20 * (100vw - 320px) / 881);
  }
  .travel__title {
    font-size: -webkit-calc(26px + 22 * (100vw - 320px) / 881);
    font-size: -moz-calc(26px + 22 * (100vw - 320px) / 881);
    font-size: calc(26px + 22 * (100vw - 320px) / 881);
  }
  .travel__cal__txt {
    font-size: -webkit-calc(14px + 2 * (100vw - 320px) / 881);
    font-size: -moz-calc(14px + 2 * (100vw - 320px) / 881);
    font-size: calc(14px + 2 * (100vw - 320px) / 881);
  }
  .travel__cal__txt strong {
    font-size: -webkit-calc(24px + 2 * (100vw - 320px) / 881);
    font-size: -moz-calc(24px + 2 * (100vw - 320px) / 881);
    font-size: calc(24px + 2 * (100vw - 320px) / 881);
  }
  .wolf__txt,
.fight__txt {
    font-size: -webkit-calc(14px + 12 * (100vw - 320px) / 881);
    font-size: -moz-calc(14px + 12 * (100vw - 320px) / 881);
    font-size: calc(14px + 12 * (100vw - 320px) / 881);
  }
}
@media (max-width: 1024px) {
  .god {
    margin-top: 1.8rem;
  }
}
@media (max-width: 991px) {
  .god .container {
    width: 720px;
  }
  .snow {
    background: none;
    background-color: #000;
  }
}
@media (max-width: 767px) {
  .god__tab {
    display: block;
  }
  .god .container {
    width: 540px;
  }
  .travel__row {
    display: block;
  }
  .travel__cal:nth-of-type(2) {
    margin: 20px 0;
  }
  .travel__cal__txt {
    max-width: unset;
  }
  .fight::before {
    content: none;
  }
  .fight {
    padding-top: 20px;
    padding-bottom: 0;
    background: none;
    background-color: #000;
  }
  .fight__txt {
    margin-bottom: 11px;
  }
  .fight__img {
    min-width: 100%;
    max-width: 100%;
    background: url("https://cdn.comfy.ua/media/x/img/2146352/bg1.png") no-repeat center/cover;
  }
  .fight__img img {
    max-width: 300px;
  }
}
@media (max-width: 576px) {
  .god .container {
    width: 100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0 20px;
  }
  .god__mob {
    display: block;
  }
  .war__txt {
    margin-bottom: 20px;
  }
  .travel::before {
    content: none;
  }
  .travel__title {
    margin-top: 0;
    font-weight: normal;
    margin-top: 20px;
  }
  .travel__row {
    margin-top: 20px;
  }
  .travel__cal__img {
    -webkit-border-radius: unset;
       -moz-border-radius: unset;
            border-radius: unset;
    margin: 0 -20px;
  }
  .travel__cal:nth-of-type(2) {
    margin: 0;
  }
  .travel__cal__txt {
    margin-bottom: 20px;
  }
  .travel__cal__txt strong {
    margin-top: 20px;
    text-align: center;
  }
  .travel {
    margin-top: 0;
  }
  .travel__img {
    padding: 20px 0;
  }
  .wolf__txt {
    position: unset;
    text-align: left;
    margin-bottom: 20px;
  }
  .fight {
    padding-top: 30px;
    padding-bottom: 40px;
  }
  .fight__img img {
    max-width: 50%;
  }
}