/* default CSS  */

#wrapper-product-flex760 {
	display: block;
	margin: 0 auto;
	max-width: 1316px;
	width: 100%;
	background-color: #010103;
	overflow: hidden;
}

span.word-wrap {
	display: block;
	word-wrap: break-word;
}

.features-desc__text img {
	margin-bottom: 0rem !important;
}

#wrapper-product-flex760 p:first-letter {
	padding-left: 0;
}

#wrapper-product-flex760 p {
	margin-bottom: 0;
}

#wrapper-product-flex760 img:hover {
	opacity: 1;
}

#wrapper-product-flex760 img {
	display: block;
	margin-right: initial;
	margin-left: initial;
}

/*
#wrapper-product-flex760 .one-col .features-desc__text p {
    font: 26px PT Sans;
}
*/

#wrapper-product-flex760.style_size-text h2 {
	font-size: 55px;
	color: #fff;
	line-height: 1;
	text-transform: uppercase;
}

#wrapper-product-flex760.style_size-text h3 {
	font-size: 28px;
	color: #fff;
	font-weight: bold;
	margin: 0;
	padding-top: 0;
	padding: 3rem 0;
}

#wrapper-product-flex760.style_size-text h4 {
	font-size: 44px;
	color: #009fc4;
	margin: 0;
}

.style_size-text h5 {}

#wrapper-product-flex760.style_size-text p {
	font-size: 30px;
	color: #fff;
}

#wrapper-product-flex760.style_size-text i {
	font-size: 16px;
	color: #fff;
}

#wrapper-product-flex760 .color_009fc4 {
	color: #009fc4;
}

#wrapper-product-flex760 .font-style_italic {
	font-style: italic;
}

.txt-center {
	text-align: center;
	padding: 0 15px 30px 15px;
}

.h3_cntr_upper {
	text-align: center;
	text-transform: uppercase;
}

span.word-wrap {
	word-wrap: break-word;
}

/* default CSS END */

/* air-force */

.air-force {
	position: relative;
}

.air-force__wrap {}

.air-force__wrap.bgimg1 {
	background-image: url(https://cdn.comfy.ua/media/x/img/1543230new/sect1_img2.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	max-width: 1316px;
	min-height: 839px;
}

.air-force__wrap__content {
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	        transform: translateY(-50%);
	display: block;
	max-width: 666px;
	height: auto;
	margin: 0 auto;
}

/* air-force END */

/* image-gallery */

.image-gallery {
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	        flex-direction: row;
	flex-wrap: wrap;
	padding: 15rem 5rem 25rem 5rem;
}

.image-gallery__item:nth-child(-n+2) {
	-webkit-box-flex: 1;
	        flex: 1 1 50%;
	max-width: 50%;
}

.image-gallery__item:nth-child(1) {
	padding-right: 3px;
}

.image-gallery__item:nth-child(2) {
	padding-left: 3px;
}

.image-gallery__item:nth-child(n+3):nth-child(-n+7) {
	-webkit-box-flex: 1;
	        flex: 1 1 20%;
	max-width: 21%;
	padding-right: 6px;
	padding-top: 6px;
	display: -webkit-box;
	display: flex;
	height: auto;
}

.image-gallery__item:nth-child(n+3):nth-child(-n+7):last-child {
	padding-right: 0;
}

/* image-gallery END */

/* unique-techlogy */

.unique-techlogy {}

.unique-techlogy__flex-sect1 {
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	        flex-direction: row;
	-webkit-box-align: end;
	        align-items: flex-end;
	padding: 0 5rem 0rem 5rem;
	position: relative;
	-webkit-box-pack: end;
	        justify-content: flex-end;
}

.unique-techlogy__flex__item {}

.unique-techlogy__flex__item:first-child {
	position: absolute;
	max-width: 550px;
	left: 5rem;
	z-index: 9;
}

.unique-techlogy__flex__item:last-child {
	-webkit-box-flex: 0;
			  flex: 0 1 55%;
	z-index: 8;
}

.unique-techlogy__flex__item__content {}

.unique-techlogy__flex__item__content-posh2 {}

/* unique-techlogy END */

/* tehnologflex */

.tehnologflex {}

.tehnologflex__content {
	position: relative;
	padding: 0 10rem 0rem 5rem;
}

.tehnologflex__content-img {
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: end;
	        justify-content: flex-end;
}

.tehnologflex__content__text {
	max-width: 625px;
	position: absolute;
	left: 10rem;
	top: 10rem;
	z-index: 7;
}

.tehnologflex__content__text img {
	margin: 0 auto !important;
	position: relative;
	z-index: 6;
}

.tehnologflex__content__text p {}

.tehnologflex__content__text-i {
	position: absolute;
	right: 5rem;
	bottom: 5rem;
	z-index: 7;
}

/* tehnologflex END */

/* easy-cleaning */

.easy-cleaning {}

.easy-cleaning__flex-sect2 {
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	        flex-direction: row;
	-webkit-box-align: start;
	        align-items: flex-start;
	padding: 0 5rem;
}

.easy-cleaning__flex__item:first-child {
	-webkit-box-flex: 1;
	        flex: 1 1 36%;
	z-index: 7;
}

.easy-cleaning__flex__item:last-child {
	-webkit-box-flex: 1;
	        flex: 1 1 64%;
	z-index: 6;
}

.easy-cleaning__flex__item__img {
	position: absolute;
	padding: 5rem 0 0 10rem;
}

/* easy-cleaning END */

/* creating-effects */

.creating-effects {
	padding: 10rem 0rem 10rem 0rem;
}

.creating-effects h2 {
	font-size: 75px;
	text-align: center;
	padding: 0 15px;
}

.creating-effects__bgimg1 {
	background-image: url(https://cdn.comfy.ua/media/x/img/1543230new/sect4_img1.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	max-width: 1316px;
	height: 788px;
	box-shadow: 0px -20px 20px 20px #090f1b;
}

.creating-effects__bl-text1 {
	position: absolute;
	max-width: 425px;
	left: 5rem;
	top: 0;
}

.creating-effects__bl-text2 {
	position: absolute;
	bottom: 0;
	right: 5rem;
	max-width: 240px;
}

/* creating-effects END */

/* four-times */

.four-times {
	padding: 0rem 0rem 10rem 0rem;
}

.four-times__bgimg {
	background-image: url(https://cdn.comfy.ua/media/x/img/1543230new/sect4_img2.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	max-width: 1316px;
	height: 680px;
	box-shadow: 0px -20px 20px 20px #03060b;
}

.four-times__bl-img {
	position: absolute;
	top: -3rem;
	left: 6rem;
	max-width: 459px;
	height: auto;
}

.four-times__bl-text1 {
	position: absolute;
	max-width: 330px;
	right: 8rem;
	bottom: 8rem;
}

.four-times__bl-text1 p {
	padding-bottom: 5rem;
}

/* four-times END */

/* new-upgrade */

.new-upgrade {
	padding: 0rem 0rem 10rem 0rem;
}

.new-upgrade__bgimg {
	background-image: url(https://cdn.comfy.ua/media/x/img/1543230new/sect4_img3.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	max-width: 1316px;
	height: 680px;
	box-shadow: 0px -20px 20px 20px #03060b;
}

.new-upgrade__bl-img {
	position: absolute;
	bottom: -12rem;
	left: 26rem;
	max-width: 572px;
	height: auto;
}

.new-upgrade__bl-text1 {
	position: absolute;
	max-width: 330px;
	right: 0;
	left: 25rem;
	margin: 0 auto;
	top: 5rem;
}

.new-upgrade__bl-text1 p {
	padding-bottom: 5rem;
}

.new-upgrade__bl-text1__span {
	font-size: 3rem;
	padding: 0 5px 0 5px;
	background: #009fc4;
	color: #fff;
	text-transform: uppercase;
}

/* new-upgrade END */

/* three-advgs */

.three-advgs {
	padding: 5rem 0rem 10rem 0rem;
}

.three-advgs__flex {
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	        flex-direction: row;
	-webkit-box-align: start;
	        align-items: flex-start;
}

.three-advgs__flex-item {
	-webkit-box-flex: 1;
	        flex: 1 1 0;
}

.three-advgs__flex-item:first-child {}

.three-advgs__flex-item:last-child {}

.three-advgs__flex-item__content {
	padding: 0 15px;
}

.three-advgs__flex-item__content h3 {
	margin: 0;
	padding-bottom: 25px;
}

.three-advgs__flex-item__content-list {}

ul.three-advgs__list {}

li.three-advgs__list-col {
	position: relative;
	padding-left: 7rem;
	min-height: 100px;
}

li.three-advgs__list-col:nth-child(1)::before {
	content: "";
	background-image: url(https://cdn.comfy.ua/media/x/img/1543230new/sect5_img2.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	position: absolute;
	left: 0;
	top: 0;
	width: 49px;
	height: 49px;
}

li.three-advgs__list-col:nth-child(2)::before {
	content: "";
	background-image: url(https://cdn.comfy.ua/media/x/img/1543230new/sect5_img3.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	position: absolute;
	left: 0;
	top: 0;
	width: 49px;
	height: 49px;
}

li.three-advgs__list-col:nth-child(3)::before {
	content: "";
	background-image: url(https://cdn.comfy.ua/media/x/img/1543230new/sect5_img4.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	position: absolute;
	left: 0;
	top: 0;
	width: 49px;
	height: 49px;
}

li.three-advgs__list-col p {
	font-size: 23px;
	line-height: 1;
}

li.three-advgs__list-col span.bgclr_7f8283 {
	color: #009fc4;
	font-size: 25px;
	font-weight: bold;
}

/* three-advgs */

/* created-towork */

.created-towork {
	padding: 0rem 0rem 10rem 0rem;
}

.created-towork__bgimg {
	background-image: url(https://cdn.comfy.ua/media/x/img/1543230new/sect6_img3.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	max-width: 1316px;
	height: 745px;
	box-shadow: 0px -20px 20px 20px #03060b;
}

.created-towork__bl-text1 {
	position: absolute;
	max-width: 555px;
	right: 0;
	left: 5rem;
	top: 0;
}

.created-towork__bl-text1 h2 {
	font-size: 75px;
}

.created-towork__bl-text1__span {
	font-size: 3rem;
	padding: 15px 0 15px 0;
	display: block;
}

/* created-towork END */

/* enjoy-cleaning */

.enjoy-cleaning {
	box-shadow: inset 0px -20px 20px 20px #0d1523;
	background: #050811;
}

.enjoy-cleaning__content {
	padding: 0 0 10rem 0;
}

.enjoy-cleaning__content h2 {
	font-size: 55px;
	text-align: center;
	padding: 0 15px 30px 15px;
}

.enjoy-cleaning__content__flex {
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	        flex-direction: row;
}

.enjoy-cleaning__content__flex-item {
	-webkit-box-flex: 1;
	        flex: 1 1 25%;
}

.enjoy-cleaning__content__flex-item:nth-child(2) {
	-webkit-box-flex: 1;
	        flex: 1 50%;
}

.enjoy-cleaning__center-block {}

.enjoy-cleaning__center-block span {
	font-size: 3rem;
	text-align: center;
	padding-bottom: 10rem;
	display: block;
}

.enjoy-cleaning__center-block p {
	font-size: 22px;
}

/* enjoy-cleaning */

/* acces-animals */

.shadow_bg1 {
	background: #0a101e;
	box-shadow: inset 0px -10px 20px 20px #0e1725;
}

.shadow_bg2 {
	background: #0e1725;
}

.acces-animals {
	padding-bottom: 10rem;
}

.acces-animals__flex {
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	        flex-direction: row;
	-webkit-box-align: start;
	        align-items: flex-start;
	padding: 0 5rem;
}

.acces-animals__flex.row-rev {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	        flex-direction: row-reverse;
}

.acces-animals__flex-col {}

.acces-animals__flex-col:first-child {
	-webkit-box-flex: 1;
	        flex: 1 1 40%;
}

.acces-animals__flex-col:last-child {
	-webkit-box-flex: 1;
	        flex: 1 1 60%;
}

.acces-animals__flex-col__content {
	padding: 0 15px 0 5rem;
}

.acces-animals__flex-col__content h2 {
	color: #009fc4;
	text-transform: uppercase;
	padding-bottom: 15px;
	font-size: 60px;
}

.acces-animals__flex-col__content h2 span {
	display: block;
}

.acces-animals__flex-col__content p {
	padding-bottom: 15px;
}

.acces-animals__flex-col__content img.color_070e18 {
	box-shadow: 0 0 20px 20px #070e18;
}

.acces-animals__flex.row-rev img {
	margin: 0 0 0 auto !important;
}

.acces-animals__flex.row-rev .acces-animals__flex-col__content {
	padding: 0 5rem 0 0px;
}

/* acces-animals */

/* created */

.airpurity {
	padding: 0rem 0rem 10rem 0rem;
}

.airpurity__bgimg {
	background-image: url(https://cdn.comfy.ua/media/x/img/1543230new/sect8_img8.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	max-width: 1316px;
	height: 1000px;
	box-shadow: inset 0px 20px 10px 5px #0e1623;
}

.airpurity__bl-text1 {
	position: absolute;
	max-width: 600px;
	right: 0;
	left: 5rem;
	top: 0;
}

.airpurity__bl-text1 h2 {
	font-size: 75px;
}

.airpurity__bl-text1 p {
	max-width: 365px;
	padding-top: 10rem;
	font-size: 25px;
}

.airpurity__bl-text1__span {
	font-size: 3rem;
	padding: 15px 0 15px 0;
	display: block;
}

/* airpurity END */

/* cleaning-revolution */

.cleaning-revolution {}

.cleaning-revolution__content {}

.cleaning-revolution__content h2 {
	font-size: 40px;
	text-align: center;
}

.cleaning-revolution__content p {
	font-size: 22px;
	text-align: center;
}

.leaning-revolution__bgimg {
	background-image: url(https://cdn.comfy.ua/media/x/img/1543230new/sect8_img9.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	max-width: 1316px;
	height: 845px;
}

.leaning-revolution__bgimg-content {
	max-width: 590px;
	padding: 0 15px;
	top: 30rem;
	position: absolute;
	left: 5rem;
}

.leaning-revolution__bgimg-content span.modal_prod {
	color: #009fc4;
	text-align: center;
	display: block;
	font-size: 35px;
	font-weight: bold;
	line-height: 1;
}

.leaning-revolution__bgimg-content h3 {
	text-transform: uppercase;
	padding: 5px 0 15px 0;
	color: #fff;
	text-align: center;
	margin: 0;
	font-size: 40px;
}

.leaning-revolution__bgimg-content p {
	text-align: center;
	font-size: 18px;
}

/* cleaning-revolution END */

/* look-move */

.look-move {}

.look-move h2 {
	text-align: center;
	font-size: 60px;
}

.look-move span {
	color: #009fc4;
	text-align: center;
	display: block;
	font-size: 28px;
	padding-bottom: 30px;
}

.look-move__flex {
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	        flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 0 5rem;
}

.look-move__flex-col {
	-webkit-box-flex: 1;
	        flex: 1 1 380px;
	max-width: 380px;
	padding-bottom: 25px;
	width: 100%;
}

.look-move__flex-col iframe {
	display: block;
	width: 100%;
	height: 195px;
}

.look-move__flex-col p {
	text-align: center;
	font-size: 20px;
}


/* look-move END */

/* MEDIA */

@media screen and (min-width: 320px) and (max-width: 480px) {
	.image-gallery {
		padding: 5rem 15px 5rem 15px;
	}

	.air-force__wrap.bgimg1 {
		min-height: 325px;
	}

	.unique-techlogy__flex-sect1 {
		display: -webkit-box;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		        flex-direction: column;
		-webkit-box-align: end;
		        align-items: flex-end;
		padding: 0 15px 0rem 15px;
	}

	.unique-techlogy__flex__item:first-child {
		position: relative;
		max-width: inherit;
		left: 0;
	}

	.unique-techlogy__flex__item__content {
		padding-bottom: 25px;
	}

	#wrapper-product-flex760.style_size-text h2 {
		font-size: 35px;
	}

	#wrapper-product-flex760.style_size-text h4 {
		font-size: 30px;
	}

	#wrapper-product-flex760.style_size-text p {
		font-size: 23px;
	}

	.easy-cleaning__flex-sect2 {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		        flex-direction: column;
		padding: 0 15px;
	}

	.three-advgs__flex {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		        flex-direction: column;
	}

	.three-advgs__flex-item__content {
		padding: 25px 15px;
	}

	.easy-cleaning__flex-sect2 {
		padding: 0 15px;
	}

	.easy-cleaning__flex-sect2 {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		        flex-direction: column;
	}

	.three-advgs__flex {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		        flex-direction: column;
	}

	.three-advgs__flex-item:last-child {
		padding-top: 25px;
	}

	.acces-animals__flex {
		padding: 0 15px;
	}

	.acces-animals__flex-col__content {
		padding: 15px 0;
	}

	.leaning-revolution__bgimg {
		height: 715px;
	}

	.leaning-revolution__bgimg-content {
		max-width: 420px;
		left: 15px;
		top: 6rem;
	}

	.look-move__flex {
		padding: 0 15px;
	}

	.look-move__flex-col {
		-webkit-box-flex: 1;
		        flex: 1 1 340px;
		max-width: 340px;
	}

	.acces-animals__flex.row-rev {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		        flex-direction: column;
	}

	/* *** */

	.air-force__wrap__content {
		padding: 0 15px;
	}

	#wrapper-product-flex760.style_size-text h3 {
		font-size: 23px;
	}

	.tehnologflex__content {
		padding: 0 15px 0rem 15px;
	}

	.tehnologflex__content__text {
		left: 0;
		top: 5rem;
		padding: 0 15px;
	}

	.tehnologflex__content__text-i {
		right: 0;
		padding: 0 15px;
	}

	.easy-cleaning__flex__item:first-child {
		padding: 15px 0;
	}

	.span.word-wrap {
		display: inherit;
		word-wrap: inherit;
	}

	.creating-effects__bl-text1 {
		left: 0;
		padding: 0 15px;
		text-align: center;
	}

	.four-times__bl-img {
		top: 0rem;
		left: 0;
	}

	.four-times__bl-text1 {
		position: absolute;
		max-width: 100%;
		right: 0;
		bottom: 0;
		padding: 0 15px;
	}

	.new-upgrade__bl-text1 {
		left: 0;
		position: absolute;
		max-width: 100%;
		padding: 0 15px;
		right: 0;
	}

	.new-upgrade__bgimg {
		height: 445px;
	}

	.new-upgrade__bl-img {
		position: absolute;
		bottom: 0;
		left: 0;
		max-width: 100%;
		height: auto;
	}

	.created-towork__bl-text1 {
		position: absolute;
		max-width: 100%;
		padding: 0 15px;
		right: 0;
		left: 0;
		top: 0;
	}

	.created-towork__bgimg {
		height: 550px;
	}

	.enjoy-cleaning__content__flex {
		display: -webkit-box;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		        flex-direction: column;
	}

	.enjoy-cleaning__center-block {
		padding: 0 15px;
	}

	.acces-animals__flex.row-rev .acces-animals__flex-col__content {
		padding: 15px 0;
	}

	.acces-animals__flex {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		        flex-direction: column;
	}

	.airpurity__bl-text1 {
		right: 0;
		left: 0;
		top: 0;
		padding: 0 15px;
	}

	.cleaning-revolution__content h2 {

		padding: 0 15px;
	}

	.cleaning-revolution__content p {
		text-align: center;
		padding: 0 15px;
	}

	.look-move__flex-col p {
		text-align: left;
	}

	/* *** */

}

@media screen and (min-width: 481px) and (max-width: 768px) {
	.image-gallery {
		padding: 5rem 15px 5rem 15px;
	}

	.air-force__wrap.bgimg1 {
		min-height: 550px;
	}

	.unique-techlogy__flex-sect1 {
		display: -webkit-box;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		        flex-direction: column;
		-webkit-box-align: end;
		        align-items: flex-end;
		padding: 0 15px 0rem 15px;
	}

	.unique-techlogy__flex__item:first-child {
		position: relative;
		max-width: inherit;
		left: 0;
	}

	.unique-techlogy__flex__item__content {
		padding-bottom: 25px;
	}

	#wrapper-product-flex760.style_size-text h2 {
		font-size: 50px;
	}

	#wrapper-product-flex760.style_size-text h4 {
		font-size: 35px;
	}

	#wrapper-product-flex760.style_size-text p {
		font-size: 25px;
	}

	.easy-cleaning__flex-sect2 {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		        flex-direction: column;
		padding: 0 15px;
	}

	.three-advgs__flex {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		        flex-direction: column;
	}

	.three-advgs__flex-item__content {
		padding: 25px 15px;
	}

	.easy-cleaning__flex-sect2 {
		padding: 0 15px;
	}

	.easy-cleaning__flex-sect2 {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		        flex-direction: column;
	}

	.three-advgs__flex {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		        flex-direction: column;
	}

	.three-advgs__flex-item:last-child {
		padding-top: 25px;
	}

	.acces-animals__flex {
		padding: 0 15px;
	}

	.acces-animals__flex-col__content {
		padding: 0 15px 0 15px;
	}

	.leaning-revolution__bgimg {
		height: 565px;
	}

	.leaning-revolution__bgimg-content {
		max-width: 420px;
		left: 15px;
		top: 6rem;
	}

	.look-move__flex {
		padding: 0 15px;
	}
	
	.look-move__flex-col {
		-webkit-box-flex: 1;
		        flex: 1 1 300px;
		max-width: 300px;
	}
}

@media (max-width: 1024px) and (min-width: 768px) {
	.easy-cleaning__flex__item__img {
		position: relative;
		padding: 15px 0 0 0;
	}
	.look-move__flex-col {
		-webkit-box-flex: 1;
		        flex: 1 1 350px;
		max-width: 350px;
	}
}