/*default styles*/
#wmf {
  max-width: 1316px;
  width: 100%;
  margin: 0 auto;
  height: auto;
  display: block;
  background-color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#wmf p {
  margin-bottom: 0;
  margin: 0;
  font-size: 17px;
}

#wmf p:first-letter {
  padding-left: 0;
}

#wmf h2 {
  display: block;
  line-height: normal;
  font-size: 34px;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

#wmf img {
  opacity: 1;
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
}

#wmf img:hover {
  opacity: 1;
}

#wmf ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.features-desc__text img {
  margin-bottom: 0rem;
}

.one-col .features-desc__text p:first-letter {
  padding-left: 0rem !important;
}

/*end default styles*/
#wmf {
  overflow: hidden;
}

#wmf i.line {
  max-width: 100%;
  display: block;
  width: 1000px;
  height: 4px;
  position: absolute;
  background: white;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(50%, #f69497), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #f69497 50%, rgba(255, 255, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);
}

#wmf i.line_txt {
  position: absolute;
  left: 20px;
  height: 60%;
  width: 3px;
  bottom: 50%;
  top: unset !important;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  background: white;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(50%, #f15e60), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #f15e60 50%, rgba(255, 255, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);
}

#wmf .logo {
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
}

#wmf .logo .logo__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #a3b3b7;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 40px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 45px auto;
  border-radius: 27px;
  position: relative;
  z-index: 10;
}

#wmf .logo .logo__title .logo__title__txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#wmf .logo .logo__title .logo__title__txt span {
  display: block;
  font-weight: bold;
  line-height: normal;
  color: #fff;
  font-size: 30px;
}

#wmf .logo .logo__title .logo__title__txt::before {
  margin: 0 20px;
  content: "";
  display: block;
  width: 3px;
  height: 65px;
  background: white;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(50%, white), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, white 50%, rgba(255, 255, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);
}

#wmf .logo i.line:nth-of-type(1) {
  top: 40px;
}

#wmf .logo i.line:nth-of-type(2) {
  top: 60px;
  width: 800px;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

#wmf .logo .logo__txt {
  position: relative;
  padding: 35px 40px 70px 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
}

#wmf .logo .logo__txt h2 {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

#wmf .steel {
  max-width: 1000px;
  margin: 0 auto;
}

#wmf .steel .steel__title {
  position: relative;
  z-index: 2;
  max-width: 950px;
  margin: 0 auto 30px auto;
}

#wmf .steel .steel__title img {
  margin: 0;
  position: relative;
  z-index: 2;
}

#wmf .steel .steel__title .steel__title__txt {
  position: absolute;
  z-index: 10;
  bottom: 50%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  right: 50px;
  background-color: #a3b3b7;
  padding: 30px 15px;
  border-radius: 27px;
}

#wmf .steel .steel__title .steel__title__txt span {
  font-size: 30px;
  font-weight: bold;
  line-height: normal;
  display: block;
  color: #fff;
}

#wmf .steel i.line {
  z-index: 1;
  height: 3px;
}

#wmf .steel i.line:nth-of-type(1) {
  top: 0;
}

#wmf .steel i.line:nth-of-type(2) {
  bottom: 0;
}

#wmf .steel .steel__txt {
  padding: 0 40px;
  position: relative;
}

#wmf .steel .steel__txt .line_txt {
  height: 100%;
}

#wmf .steel .steel__img {
  padding: 75px 0 35px 0;
}

#wmf .nabor {
  max-width: 1000px;
  margin: 0 auto 40px auto;
}

#wmf .nabor .nabor__title {
  text-align: center;
  margin-bottom: 40px;
}

#wmf .nabor .nabor__title::before {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background: white;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(50%, #f69497), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #f69497 50%, rgba(255, 255, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);
  margin-bottom: 30px;
}

#wmf .nabor .nabor__title::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background: white;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(50%, #f69497), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #f69497 50%, rgba(255, 255, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);
  margin-top: 30px;
}

#wmf .nabor .nabor__txt {
  position: relative;
  margin-top: 10px;
  padding: 40px;
}

#wmf .nabor .nabor__txt i.line_txt {
  height: 80%;
  bottom: 50%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

@media (max-width: 812px) {
  #wmf .steel .steel__title .steel__title__txt span {
    font-size: 20px;
    max-width: 100%;
  }
  #wmf .steel .steel__title .steel__title__txt {
    right: 60px;
  }
}

@media (max-width: 480px) {
  #wmf .logo .logo__title .logo__title__txt span {
    font-size: 14px;
  }
  #wmf .logo .logo__title .logo__title__txt {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #wmf h2 {
    font-size: 24px;
  }
  #wmf .logo .logo__txt {
    padding: 35px 20px;
  }
  #wmf .logo i.line:nth-of-type(1) {
    display: none;
  }
  #wmf .steel .steel__title .steel__title__txt span {
    font-size: 14px;
  }
  #wmf .steel .steel__title .steel__title__txt {
    position: unset;
    -webkit-transform: unset;
            transform: unset;
    margin: 20px 20px 0 20px;
  }
  #wmf .steel i.line:nth-of-type(1) {
    display: none;
  }
  #wmf .steel i.line:nth-of-type(2) {
    display: none;
  }
  #wmf .steel .steel__title img {
    margin: 0 auto;
  }
  #wmf .steel .steel__txt {
    padding: 20px;
  }
  #wmf .steel .steel__img {
    padding: 30px 0;
  }
  #wmf .nabor .nabor__txt i.line_txt {
    display: none;
  }
  #wmf .nabor .nabor__txt {
    padding: 20px;
  }
  #wmf .nabor {
    padding-bottom: 20px;
  }
}

@media (max-width: 320px) {
  #wmf .logo .logo__title {
    max-width: 60%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    max-width: 100%;
  }
  #wmf .logo .logo__title .logo__title__img img {
    max-width: 60%;
  }
  #wmf .logo .logo__title .logo__title__txt span {
    font-size: 11px;
  }
  #wmf .steel .steel__title .steel__title__txt span {
    text-align: center;
  }
}
