.rkt-philips-qp624-50-2-sht-s-nasadkami-dlja-tela__container {
  overflow: hidden;
}

.bc-description__content p:first-letter {
  padding-left: 0 !important;
}

#rkt-philips-qp624-50-2-sht-s-nasadkami-dlja-tela {
  max-width: 1023px;
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  background: #fff;
}
#rkt-philips-qp624-50-2-sht-s-nasadkami-dlja-tela h2, #rkt-philips-qp624-50-2-sht-s-nasadkami-dlja-tela h3, #rkt-philips-qp624-50-2-sht-s-nasadkami-dlja-tela h4, #rkt-philips-qp624-50-2-sht-s-nasadkami-dlja-tela h5, #rkt-philips-qp624-50-2-sht-s-nasadkami-dlja-tela h6, #rkt-philips-qp624-50-2-sht-s-nasadkami-dlja-tela p {
  margin: 0;
  padding: 0;
  line-height: 1.2;
}
#rkt-philips-qp624-50-2-sht-s-nasadkami-dlja-tela ul {
  margin: 0;
  padding: 0;
  list-style-type: disc;
  padding-left: 20px;
  margin: 0.5rem 0;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
#rkt-philips-qp624-50-2-sht-s-nasadkami-dlja-tela img {
  display: block;
  max-width: 100%;
  opacity: 1;
  margin: 0 auto;
}
#rkt-philips-qp624-50-2-sht-s-nasadkami-dlja-tela img:hover {
  opacity: 1;
}
#rkt-philips-qp624-50-2-sht-s-nasadkami-dlja-tela h2 {
  font-size: 26px;
  font-weight: 900;
  text-align: left;
  margin-bottom: 1rem;
}
@media (max-width: 1023px) {
  #rkt-philips-qp624-50-2-sht-s-nasadkami-dlja-tela h2 {
    font-size: calc(20px + 6 * (100vw - 320px) / 703);
  }
}
#rkt-philips-qp624-50-2-sht-s-nasadkami-dlja-tela h3 {
  font-size: 20px;
  font-weight: 900;
  text-align: left;
  margin-bottom: 1rem;
}
@media (max-width: 1023px) {
  #rkt-philips-qp624-50-2-sht-s-nasadkami-dlja-tela h3 {
    font-size: calc(18px + 2 * (100vw - 320px) / 703);
  }
}
#rkt-philips-qp624-50-2-sht-s-nasadkami-dlja-tela p {
  font-size: 16px;
  font-weight: 400;
  text-align: left;
}
@media (max-width: 1023px) {
  #rkt-philips-qp624-50-2-sht-s-nasadkami-dlja-tela p {
    font-size: calc(14px + 2 * (100vw - 320px) / 703);
  }
}
#rkt-philips-qp624-50-2-sht-s-nasadkami-dlja-tela li {
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  line-height: 1.2;
}
@media (max-width: 1023px) {
  #rkt-philips-qp624-50-2-sht-s-nasadkami-dlja-tela li {
    font-size: calc(14px + 2 * (100vw - 320px) / 703);
  }
}
#rkt-philips-qp624-50-2-sht-s-nasadkami-dlja-tela i {
  line-height: 1.2;
  font-size: 16px;
  margin-top: 0.5rem;
  display: block;
  font-style: italic;
}
@media (max-width: 1023px) {
  #rkt-philips-qp624-50-2-sht-s-nasadkami-dlja-tela i {
    font-size: calc(14px + 2 * (100vw - 320px) / 703);
  }
}

.philips__logo {
  display: flex;
  gap: 2em;
  padding: 0 2em;
  background: #C0D000;
}
.philips__logo > div {
  box-sizing: border-box;
}

.logo__cont {
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 2em;
}

.logo__img {
  flex-basis: 60%;
}

.logo__i img {
  margin: 0 !important;
  width: 40%;
}

.logo__txt h2 {
  margin-bottom: 2em !important;
}

.hair {
  padding: 2em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2em 4em;
}
.hair > div {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
}
.hair > div:last-of-type {
  justify-content: center;
}

.hair__txt h3, .hair__txt p {
  text-align: center !important;
}

.blades__title {
  padding: 0 2em;
}
.blades__title h3 {
  text-align: center !important;
}

.func {
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.func__row {
  display: flex;
  align-items: center;
  gap: 4em;
}
.func__row > div {
  flex-basis: 50%;
  box-sizing: border-box;
}
.func__row:nth-of-type(even) {
  flex-direction: row-reverse;
}

.func__note {
  padding-top: 1em !important;
  font-size: 12px !important;
}

.oneblade {
  display: flex;
}
.oneblade > div {
  flex-basis: 50%;
  box-sizing: border-box;
}

.oneblade__cal {
  position: relative;
}

.oneblade__title {
  position: absolute;
  top: 2em;
}
.oneblade__title h2 {
  text-align: center !important;
  margin: 0 !important;
}

.oneblade__i {
  position: absolute;
  left: 2em;
  top: 2em;
}
.oneblade__i img {
  width: 60%;
  margin: 0 !important;
}

.oneblade__cont {
  color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 2em 2em 1em;
  box-sizing: border-box;
  background-image: linear-gradient(0deg, rgba(30, 30, 30, 0.5019607843), rgba(30, 30, 30, 0));
}
.oneblade__cont h3, .oneblade__cont p {
  text-align: center !important;
}
.oneblade__cont h3 {
  margin-bottom: 0 !important;
}
.oneblade__cont h3 > img {
  display: inline !important;
}

.complete {
  padding: 2em;
}

.complete__txt {
  padding-top: 1em;
}
.complete__txt p {
  text-align: center !important;
}

@media (min-width: 320px) and (max-width: 767.9px) {
  .logo__i img {
    width: 40% !important;
  }
  .logo__txt h2 {
    margin-bottom: 1rem !important;
  }
  .logo__cont {
    padding-bottom: 0;
  }
  .hair {
    grid-template-columns: 1fr;
    gap: 1em !important;
  }
  .hair > div:nth-of-type(n+2) .hair__img {
    padding-top: 1em;
  }
  .func__row {
    flex-direction: column !important;
    gap: 1em !important;
  }
  .func__row h3, .func__row p {
    text-align: center !important;
  }
  .oneblade__cont {
    padding: 1em;
  }
  .oneblade__i {
    top: 1em;
    left: 1em;
  }
  .oneblade__i img {
    width: 12vw;
  }
}
@media (max-width: 1201px) {
  .philips__logo {
    flex-direction: column;
    padding: 0 1em;
    gap: 1em;
  }
  .logo__i img {
    width: 20%;
  }
  .hair {
    padding: 1em;
    gap: 1em 2em;
  }
  .func {
    padding: 1em;
  }
  .func__row {
    gap: 2em;
  }
  .oneblade {
    flex-direction: column;
  }
  .complete {
    padding: 2em 1em 1em;
  }
}