#nokia3_4
	display: block
	margin: 0 auto
	max-width: 1280px
	width: 100%
	height: auto
	overflow: hidden
	background: #fff
	position: relative
	img
		&:hover
			opacity: 1
	&:first-letter
		padding-left: 0
	img
		display: block
		margin-right: initial
		margin-left: initial
	p
		font-size: calc(1rem + 0.5vw)
		margin-bottom: 0
		color: #fff
		padding-top: 15px
	h2
		font-size: calc(1rem + 1.1vw)
		line-height: 1.1
      // text-transform: uppercase
		letter-spacing: 3px
		color: #fff
	h3
		font-size: calc(1rem + 0.6vw)
		margin: 0
		padding-top: 0
		line-height: 1.1
		color: #fff
		letter-spacing: 2px
		text-align: inherit
		font-weight: bold
		padding-bottom: 25px
	h4
		font-size: calc(1rem + 0.5vw)
		line-height: 1.1
      // text-transform: uppercase
		letter-spacing: 3px
		color: #fff
		margin: 15px 0 0 0
span.word-wrap
	display: block
	word-wrap: break-word
span.fw-bold
	font-weight: bold
span.tx-uppercase
	text-transform: uppercase
// default

.sect-containerbg
	display: block
	width: 100%
	height: auto
.sect-containerbg__row-bgrd
	background-position: center
	background-repeat: no-repeat
	background-size: cover
	position: relative
	max-width: 1280px
	width: 100%
	height: 850px
	z-index: 6
	transition: opacity 1s ease-in-out
	&.bgrd-img1
		background-image: url(https://cdn.comfy.ua/media/x/img/nokia34/image1new.png)
	&.bgrd-img2
		background-image: url(https://cdn.comfy.ua/media/x/img/nokia34/image2.png)
	&.bgrd-img3
		background-image: url(https://cdn.comfy.ua/media/x/img/nokia34/image3.png)
	&.bgrd-img4
		background-image: url(https://cdn.comfy.ua/media/x/img/nokia34/image4.png)
	&.bgrd-img5
		background-image: url(https://cdn.comfy.ua/media/x/img/nokia34/image5.png)
	&.bgrd-img5_2
		background-image: url(https://cdn.comfy.ua/media/x/img/nokia34/image5_2.png)
		animation-name: cf3FadeInOut
		animation-timing-function: ease-in-out
		animation-iteration-count: infinite
		animation-duration: 2s
		animation-direction: alternate
	&.bgrd-img6
		background-image: url(https://cdn.comfy.ua/media/x/img/nokia34/image6.png)
	&.bgrd-img7
		background-image: url(https://cdn.comfy.ua/media/x/img/nokia34/image7.png)
	&.bgrd-pos-left
		background-position: left
	&.bgrd-pos-right
		background-position: right
	&.bgrd-pos-top
		background-position: top
.sect-containerbg__row-text
	max-width: 500px
	width: 100%
	height: auto
	position: absolute
	top: 50%
	transform: translateY(-50%)
	z-index: 7
	margin: 5rem
	&.maxw450
		max-width: 450px
	&.text-pos-left
		left: 0
	&.text-pos-center
		left: 0
		right: 0
		margin: 5rem auto 15px auto
		top: 0
		transform: inherit
		max-width: 895px
		text-align: center
	&.text-pos-right
		right: 0

@keyframes cf3FadeInOut
	0%
		opacity: 1
	45%
		opacity: 1
	55%
		opacity: 0
	100%
		opacity: 0

// media
// @media (max-width: 1250px)
@media (max-width: 1024px)
	.sect-containerbg__row-bgrd
		height: 610px
	.sect-containerbg__row-text
		margin: 0 0 0 5rem
		max-width: 385px
		&.text-pos-right
			margin: 0 5rem 0 0
		&.maxw450
			max-width: 385px
@media (max-width: 812px)
	.sect-containerbg__row-bgrd
		height: 550px
	.sect-containerbg__row-text
		margin: 0 0 0 5rem
		max-width: 325px
		padding: 0 15px
		&.text-pos-right
			margin: 0 15px 0 0
		&.maxw450
			max-width: 325px
@media (max-width: 480px)
	#nokia3_4
		p
			font-size: calc(1rem + 1vw)
		h2
			font-size: calc(1rem + 2vw)
		h3
			font-size: calc(1rem + 1vw)
			padding-bottom: 15px
		h4
			font-size: calc(1rem + 0.8vw)
	.sect-containerbg__row-bgrd
		height: 375px
	.sect-containerbg__row-text
		margin: 0 0 0 0
		max-width: 255px
		padding: 25px 15px 0 15px
		&.text-pos-right
			margin: 0 0 0 0
		&.maxw450
			max-width: 255px
		&.text-pos-center
			margin: 0 auto 0 auto
