body {
  margin: 0;
}

.apple {
  width: 100%;
  margin: 0 auto;
  height: auto;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

.apple p {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 0;
  margin: 0;
  text-align: unset;
}

.apple p:first-letter {
  padding-left: 0;
}

.apple h2 {
  text-align: unset;
  display: block;
  line-height: normal;
  font-size: 34px;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

.apple img {
  margin: 0 auto;
  opacity: 1 !important;
  max-width: 100%;
  display: block;
  height: auto;
}

.apple img:hover {
  opacity: 1;
}

.apple ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.apple span {
  display: block;
  line-height: normal;
}

.apple div {
  line-height: normal;
}

.apple video {
  display: block;
  max-width: 100%;
  height: auto;
}

.features-desc__text img {
  margin-bottom: 0rem;
}

.one-col .features-desc__text p:first-letter {
  padding-left: 0rem !important;
}

.show__mob,
.show__tab {
  display: none !important;
}

.apple .container {
  max-width: 1920px;
  padding: 0 20px;
  margin: 0 auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.apple__main__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.apple__main__img {
  position: relative;
  max-width: 544px;
}

.apple__main__img::before {
  content: "";
  display: block;
  width: 1183px;
  background: #F5F5F7;
  border-radius: 999px;
  position: absolute;
  right: 50%;
  bottom: 0;
  top: 0;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  z-index: -1;
}

.grad {
  background: linear-gradient(90.09deg, #2CA2B4 0.15%, #6193E8 29.15%, #EE4254 71.24%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.grad__two {
  background: linear-gradient(90.09deg, #2CA2B4 0.15%, #6193E8 56.13%, #EE4254 98.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.apple__main__title {
  font-size: 50px;
  font-weight: bold;
}

.apple__main__title strong {
  font-size: 90px;
}

.apple__main__title:nth-of-type(1) {
  margin-right: 150px;
}

.apple__main__title:nth-of-type(3) {
  margin-left: 100px;
}

.battery {
  padding-top: 150px;
  position: relative;
}

.battery__video video {
  margin: 0 auto;
  position: relative;
}

.battery__abs {
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 80px;
  position: absolute;
  right: 60%;
  top: 24%;
}

.battery__abs::before {
  content: "";
  display: block;
  width: 40px;
  height: 70px;
  background-image: url("https://cdn.comfy.ua/media/x/img/2149337/icon1.svg");
  margin-right: 30px;
}

.battery__txt {
  font-size: 30px;
  font-weight: bold;
  max-width: 700px;
  margin: 0 290px 16px auto;
}

.battery__txt__bold {
  font-weight: bold;
  font-size: 50px;
  color: #7A7A7B;
  max-width: 900px;
  margin: 65px 320px 0 auto;
}

.battery__txt__bold strong {
  color: #000;
}

.nightmode {
  padding-top: 110px;
  position: relative;
}

.nightmode__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url("https://cdn.comfy.ua/media/x/img/2149337/bg1.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 5% 0;
}

.nightmode__video {
  margin: -5% 0;
}

.nightmode__txt {
  font-size: 30px;
  max-width: 750px;
  margin-left: 90px;
  color: #fff;
}

.nightmode__txt strong {
  font-size: 60px;
}

.nightmode__abs {
  position: absolute;
  left: 50%;
  bottom: -2%;
}

.nightmode__abs img:nth-of-type(1) {
  opacity: 0.1 !important;
}

.nightmode__abs img:nth-of-type(2) {
  opacity: 0.3 !important;
  margin-top: -3%;
}

.nightmode__abs img:nth-of-type(3) {
  opacity: 0.5 !important;
  margin-top: -5%;
}

.nightmode__abs img:nth-of-type(4) {
  margin-top: -6%;
}

.camera {
  overflow: hidden;
}

.camera__video {
  position: relative;
}

.camera__video video {
  margin: 15px 0 -10% auto;
}

.camera__img {
  position: absolute;
  right: 42%;
  bottom: 47%;
}

.camera__flex__wrap {
  width: 100%;
  position: relative;
}

.camera__abs {
  position: absolute;
  left: 235px;
  margin-top: 20px;
}

.camera__flex {
  color: #7A7A7B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1100px;
  margin: 0 160px 0 auto;
  padding-top: 120px;
}

.camera__flex div:nth-of-type(1) {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.camera__flex div:nth-of-type(2) {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 16px 0 65px;
}

.camera__flex div:nth-of-type(3) {
  -webkit-box-flex: 1.5;
      -ms-flex: 1.5;
          flex: 1.5;
}

.camera__txt {
  font-size: 16px;
}

.camera__txt i {
  font-weight: normal;
  font-style: unset;
  font-size: 17px;
}

.camera__txt strong {
  font-size: 26px;
  font-weight: bold;
}

.camera__bold__txt {
  font-weight: bold;
  font-size: 32px;
}

.mode {
  padding-top: 110px;
}

.mode__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #F2F6F8;
  border-radius: 40px;
  padding: 60px 0 0 130px;
  margin-left: 115px;
  border-bottom-right-radius: 0;
}

.mode__cont__item:nth-of-type(2) {
  margin: 60px 0;
}

.mode__cont__title {
  font-size: 50px;
  font-weight: bold;
  margin-top: 10px;
}

.mode__cont__icon img {
  margin: 0;
}

.mode__cont__txt {
  font-size: 30px;
  font-weight: bold;
  color: #7A7A7B;
}

.mode__cont {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 120px;
}

.mode__img {
  margin-top: -10%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.mode__img img {
  margin: 0 0 0 auto;
}

.cinematic {
  padding-top: 200px;
}

.cinematic__head__title {
  text-align: center;
  font-weight: bold;
  font-size: 32px;
}

.cinematic__head__img {
  margin: -1% 0 -2.2% 0;
}

.cinematic__head__txt {
  font-weight: bold;
  font-size: 32px;
  text-align: center;
  padding: 0 160px;
}

.cinematic__txt {
  font-weight: bold;
  font-size: 32px;
  max-width: 660px;
  margin: 100px 0 30px 160px;
}

.cinematic__cont__bg {
  position: relative;
  margin-top: -15%;
}

.cinematic__cont__bg img {
  max-width: 1697px;
  width: 100%;
}

.cinematic__cont__abs__txt {
  position: absolute;
  bottom: 13%;
  left: 0;
  padding: 60px 0 0 160px;
  color: #fff;
  font-weight: bold;
  font-size: 32px;
  max-width: 660px;
}

.apple__slider {
  padding-bottom: 10%;
  margin-top: -5%;
  position: relative;
}

.apple__slider__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1500px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.apple__slider__img__item {
  -webkit-transition: all .3s;
  transition: all .3s;
}

.apple__slider__img__item:nth-of-type(1) {
  margin-bottom: -30%;
  margin-right: -10%;
}

.apple__slider__img__item:nth-of-type(5) {
  margin-left: -10%;
  margin-bottom: -30%;
}

.apple__slider__img__item:nth-of-type(2), .apple__slider__img__item:nth-of-type(4) {
  margin-top: 10%;
}

.__size {
  scale: 1.3;
}

.apple__slider__nav__wrap {
  position: absolute;
  right: 50%;
  bottom: 2%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

.apple__slider__nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 420px;
  background: #fff;
  background-clip: padding-box;
  border: solid 2px transparent;
  border-radius: 100px;
}

.apple__slider__nav:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -2px;
  border-radius: inherit;
  background: linear-gradient(90.09deg, #2CA2B4 0.15%, #6193E8 29.15%, #EE4254 71.24%);
}

.apple__slider__nav li {
  display: block;
  width: 58px;
  height: 58px;
  border-radius: 50%;
  margin: 15px 0;
  cursor: pointer;
}

.apple__slider__nav li:nth-of-type(n+2) {
  margin-left: 15px;
}

.apple__slider__nav li:nth-of-type(1) {
  background: #C1CFDE;
  margin-left: 15px;
}

.apple__slider__nav li:nth-of-type(2) {
  background: #31353A;
}

.apple__slider__nav li:nth-of-type(3) {
  background: #F0ECE8;
}

.apple__slider__nav li:nth-of-type(4) {
  background: #E7D8E9;
}

.apple__slider__nav li:nth-of-type(5) {
  background: #DF2131;
  margin-right: 15px;
}

.__active {
  position: relative;
}

.__active:before {
  content: '';
  position: absolute;
  width: 77px;
  height: 77px;
  background-image: url("https://cdn.comfy.ua/media/x/img/2149337/icon5.svg");
  right: 50%;
  bottom: 50%;
  -webkit-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
}

.apple__slider__nav__color {
  margin: 15px auto 0 auto;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  text-align: center;
}

.apple__slider__nav__color__item {
  font-weight: bold;
  font-size: 20px;
}

.design__title {
  text-align: center;
  font-weight: bold;
  font-size: 80px;
}

.design__title strong {
  text-transform: uppercase;
  font-size: 160px;
}

.design__txt {
  font-size: 20px;
  font-weight: bold;
}

.design__grid {
  display: -ms-grid;
  display: grid;
  gap: 9px 9px;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  margin: 150px auto 0 auto;
      grid-template-areas: "cal1 cal2 cal3" "cal1 cal4 cal5" "cal6 cal6 cal7";
}

.design__grid > div {
  background: #F5F5F7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.design__grid .cal1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: cal1;
}

.design__grid .cal1 img {
  max-height: 608px;
  margin-top: -40px;
}

.design__grid .cal2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: cal2;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 20px;
}

.design__grid .cal2 img {
  margin: 0 0 0 auto;
  max-height: 251px;
}

.design__grid .cal2 .design__txt {
  padding: 11px 0 15px 20px;
}

.design__grid .cal3 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: cal3;
}

.design__grid .cal3 .design__txt {
  position: absolute;
  right: 50%;
  bottom: 50%;
  -webkit-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
  color: #7693BE;
  text-align: center;
  font-size: 32px;
}

.design__grid .cal4 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: cal4;
}

.design__grid .cal4 .design__txt {
  padding: 20px 0 0 13px;
  margin-right: -85px;
  position: relative;
}

.design__grid .cal4 img {
  max-height: 286px;
  margin: 7px 0 0 auto;
}

.design__grid .cal5 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: cal5;
}

.design__grid .cal5 .design__txt {
  position: absolute;
  color: #fff;
  padding: 20px 0 0 20px;
}

.design__grid .cal6 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: cal6;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.design__grid .cal6 img {
  margin: 0 0 0 auto;
}

.design__grid .cal6 .design__txt {
  text-align: center;
  font-size: 32px;
  background: linear-gradient(90.09deg, #2CA2B4 0.15%, #6193E8 56.13%, #EE4254 98.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  padding-bottom: 40px;
}

.design__grid .cal7 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: cal7;
}

.custom {
  padding-top: 40px;
}

.custom__title {
  font-weight: bold;
  font-size: 80px;
  text-align: center;
  margin: 46px 0;
}

.custom__slide .custom__slide__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  min-height: 920px;
  max-height: 920px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.custom__slide__one .custom__slide__wrap {
  max-width: 1920px;
  background: url("https://cdn.comfy.ua/media/x/img/2149337/new/bg3.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -20vw 0;
}

.custom__slide__two .custom__slide__wrap,
.custom__slide__three .custom__slide__wrap,
.custom__slide__four .custom__slide__wrap {
  background: linear-gradient(90.09deg, #2CA2B4 0.15%, #6193E8 56.13%, #EE4254 98.96%);
}

.custom__slide__one .custom__slide__img {
  width: 15vw;
}

.custom__slide__one .custom__slide__cont {
  width: 85vw;
  margin-right: -15vw;
  padding: 170px 0 240px 0;
}

.custom__slide__cont__title {
  font-weight: bold;
  text-align: center;
  color: #D9D9D9;
  font-size: 80px;
}

.custom__slide__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  text-decoration: none;
  color: #490CAB;
  font-weight: bold;
  font-size: 16px;
  width: 280px;
  background: #FFFFFF;
  border-radius: 8px;
  padding: 30px 0;
  margin: 0 auto;
  margin-top: -6vw;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.custom__slide__btn::before {
  content: "";
  display: block;
  width: 18px;
  height: 16px;
  background-image: url("https://cdn.comfy.ua/media/x/img/2149337/new/btn.svg");
  margin-right: 12px;
}

.custom__slide__btn:hover {
  background: #e7e7e7;
}

.custom__slide__cont__bold {
  font-size: 230px;
  font-weight: bold;
  -webkit-background-clip: text;
  -webkit-text-stroke: 2px white;
  color: #ffffff00;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  margin-left: 10vw;
  line-height: 185px !important;
}

.custom__slide__cont__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.custom__slide__two .custom__slide__wrap,
.custom__slide__three .custom__slide__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.custom__slide__two .custom__slide__cont__flex,
.custom__slide__three .custom__slide__cont__flex {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  margin: 0 auto;
}

.custom__slide__two .custom__slide__cont__flex img,
.custom__slide__three .custom__slide__cont__flex img {
  margin: 0 0 0 20px;
}

.custom__slide__two .custom__slide__cont__bold,
.custom__slide__three .custom__slide__cont__bold {
  margin-left: unset;
}

.custom__slide__two .custom__slide__img,
.custom__slide__three .custom__slide__img {
  margin-top: -6vw;
}

.custom__slide__two .custom__slide__img img,
.custom__slide__three .custom__slide__img img {
  max-width: 374px;
}

.custom__slide__two .custom__slide__btn,
.custom__slide__three .custom__slide__btn {
  position: relative;
  margin-bottom: 2vw;
}

.custom__slide__three .custom__slide__wrap {
  padding: 30px 0 100px 0;
}

.custom__slide__three .custom__slide__img img {
  max-width: 194px;
}

.custom__slide__four {
  position: relative;
}

.custom__slide__four::before {
  content: "";
  display: block;
  position: absolute;
  width: 909px;
  height: 671px;
  background-image: url("https://cdn.comfy.ua/media/x/img/2149337/34.png");
  background-repeat: no-repeat;
  background-position: center;
  top: 0;
  right: 0;
  z-index: 1;
}

.custom__slide__four .custom__slide__cont__title {
  color: #fff;
}

.custom__slide__four .custom__slide__cont__bold {
  margin: 140px auto 130px auto;
}

.custom__slide__four .custom__slide__btn {
  margin-top: 40px;
}

.custom__slide__four .custom__slide__cont__flex {
  position: relative;
  z-index: 2;
}

.custom__slide__subtitle {
  opacity: .8;
  color: #fff;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  margin-top: 10px;
}

.custom__slide__txt {
  color: #fff;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  max-width: 1020px;
  margin: 0 auto;
  opacity: .8;
}

.custom__slide__two .custom__slide__img {
  margin-top: -3vw;
}

.custom__slide__two .custom__slide__wrap {
  padding-top: 100px;
}

.custom__slide__three .custom__slide__btn {
  margin: 33px auto 0 auto;
}

.arrow {
  cursor: pointer;
  -webkit-animation: spring 1.2s infinite;
  animation: spring 1.2s infinite;
}

@-webkit-keyframes spring {
  0% {
    -webkit-transform: translateX(25px);
            transform: translateX(25px);
  }
  50% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(25px);
            transform: translateX(25px);
  }
}

@keyframes spring {
  0% {
    -webkit-transform: translateX(25px);
            transform: translateX(25px);
  }
  50% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(25px);
            transform: translateX(25px);
  }
}

.complete {
  padding: 60px 0 100px;
}

.complete__title {
  font-weight: bold;
  font-size: 80px;
  text-align: center;
  text-transform: uppercase;
}

.complete__title__bold {
  text-align: center;
  font-weight: bold;
  font-size: 220px;
  -webkit-background-clip: text;
  -webkit-text-stroke: 2px transparent;
  color: #ffffff;
  -webkit-text-fill-color: unset;
  margin-top: -2%;
}

.complete__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.complete__item:nth-of-type(1) img {
  max-width: 276px;
}

.complete__item:nth-of-type(2) {
  margin: 0 90px;
}

.complete__item:nth-of-type(2) img {
  max-width: 213px;
}

.complete__item:nth-of-type(3) img {
  max-width: 282px;
}

@media (max-width: 1540px) {
  .apple .container {
    padding: 0 100px;
  }
  .i13-sld-left-col {
    -webkit-box-flex: 1.5;
        -ms-flex: 1.5;
            flex: 1.5;
  }
  .i13m-col {
    -webkit-box-flex: 5;
        -ms-flex: 5;
            flex: 5;
  }
  .i13-sld-section .slick-dots {
    max-width: 850px;
  }
  .i13-sld-nvg-wr {
    top: -62px;
  }
  .apple__main__title {
    font-size: calc(16px + (40 - 16) * ((100vw - 320px) / (1540 - 320)));
  }
  .apple__main__title strong {
    font-size: calc(32px + (60 - 32) * ((100vw - 320px) / (1540 - 320)));
  }
  .battery__txt {
    max-width: 650px;
    font-size: calc(14px + (28 - 14) * ((100vw - 320px) / (1540 - 320)));
    margin-right: 0px;
  }
  .battery__abs {
    font-size: calc(28px + (70 - 28) * ((100vw - 320px) / (1540 - 320)));
  }
  .battery__txt__bold {
    font-size: calc(16px + (42 - 16) * ((100vw - 320px) / (1540 - 320)));
  }
  .nightmode__txt {
    font-size: calc(16px + (24 - 16) * ((100vw - 320px) / (1540 - 320)));
  }
  .nightmode__txt strong {
    font-size: calc(30px + (50 - 30) * ((100vw - 320px) / (1540 - 320)));
  }
  .camera__bold__txt {
    font-size: calc(18px + (28 - 18) * ((100vw - 320px) / (1540 - 320)));
  }
  .camera__txt i {
    font-size: 16px;
  }
  .camera__txt strong {
    font-size: calc(18px + (24 - 18) * ((100vw - 320px) / (1540 - 320)));
  }
  .mode__cont__title {
    font-size: calc(28px + (42 - 28) * ((100vw - 320px) / (1540 - 320)));
  }
  .mode__cont__txt {
    font-size: calc(16px + (24 - 16) * ((100vw - 320px) / (1540 - 320)));
  }
  .cinematic__head__title,
  .cinematic__head__txt,
  .cinematic__txt,
  .cinematic__cont__abs__txt {
    font-size: calc(18px + (28 - 18) * ((100vw - 320px) / (1540 - 320)));
  }
  .apple__slider__nav__color__item {
    font-size: calc(15px + (18 - 15) * ((100vw - 320px) / (1540 - 320)));
  }
  .design .design__title {
    font-size: calc(50px + (70 - 50) * ((100vw - 320px) / (1540 - 320)));
  }
  .design .design__title strong {
    font-size: calc(60px + (140 - 60) * ((100vw - 320px) / (1540 - 320)));
  }
  .complete__title {
    font-size: calc(16px + (50 - 16) * ((100vw - 320px) / (1540 - 320)));
  }
  .complete__title strong {
    font-size: calc(30px + (80 - 30) * ((100vw - 320px) / (1540 - 320)));
  }
  .complete__kit__title {
    font-size: calc(36px + (50 - 36) * ((100vw - 320px) / (1540 - 320)));
  }
  .custom__slide__cont__title,
  .custom__title {
    font-size: calc(32px + (70 - 32) * ((100vw - 320px) / (1540 - 320)));
  }
  .custom__slide__cont__bold {
    font-size: calc(60px + (200 - 60) * ((100vw - 320px) / (1540 - 320)));
  }
  .complete__title__bold {
    font-size: calc(35px + (150 - 35) * ((100vw - 320px) / (1540 - 320)));
  }
  .custom__slide__subtitle {
    font-size: calc(16px + (40 - 16) * ((100vw - 320px) / (1540 - 320)));
  }
  .custom__slide__txt {
    font-size: calc(12px + (25 - 12) * ((100vw - 320px) / (1540 - 320)));
  }
  .nightmode__flex {
    margin: 5% -10%;
    padding: 0 10%;
  }
  .apple__main__title:nth-of-type(1),
  .apple__main__title:nth-of-type(3) {
    margin: 0;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 0px;
            flex: 1 1 0;
    text-align: center;
  }
  .apple__main__img {
    margin: 0 80px;
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
  }
  .camera .container {
    padding: 0;
  }
  .camera__video {
    padding-left: 100px;
  }
  .mode .container {
    padding: 0;
  }
  .camera__img {
    right: 38%;
  }
  .camera__flex__wrap {
    padding-left: 100px;
  }
  .camera__abs {
    left: 11%;
  }
  .mode__flex {
    padding-bottom: 20px;
    margin-left: 20px;
    padding-left: 80px;
  }
  .cinematic__cont__abs__txt {
    padding-left: 80px;
  }
  .cinematic__txt {
    margin-left: 80px;
  }
  .cinematic__head__txt {
    padding: 0 80px;
  }
  .apple__slider {
    padding: 0 5% 15% 5%;
  }
  .custom__slide__cont__bold {
    margin-left: unset;
  }
  .custom__slide__cont,
  .custom__slide__one .custom__slide__cont {
    padding: 0;
  }
  .custom__slide__one .custom__slide__img {
    width: 17vw;
  }
  .custom__slide__one .custom__slide__cont {
    width: 83vw;
    margin-right: -17vw;
  }
  .custom__slide__one .custom__slide__wrap {
    background-position: -22vw 0;
  }
  .custom__slide__two .custom__slide__cont,
  .custom__slide__three .custom__slide__cont {
    padding-bottom: 0;
  }
  .custom__slide__two .custom__slide__cont__bold {
    min-width: 100vw;
    margin-left: -2vw;
    margin-right: -2vw;
  }
  .custom__slide__two .custom__slide__btn {
    margin-top: -120px;
    margin-bottom: 40px;
  }
}

@media (max-width: 1201px) {
  .apple .container {
    width: 960px;
    padding: 0 15px;
  }
  .apple__main__title:nth-of-type(1),
  .apple__main__title:nth-of-type(3) {
    margin: 0;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 0px;
            flex: 1 1 0;
  }
  .apple__main__img {
    padding: 0 5%;
    margin: 0;
  }
  .apple__main__img img {
    max-width: 90%;
  }
}

@media (max-width: 1024px) {
  .hide__tab {
    display: none !important;
  }
  .show__tab {
    display: block !important;
  }
  .apple__main__img::before {
    width: 143%;
  }
  .battery__abs {
    top: 28%;
  }
  .camera__img {
    right: 27%;
    bottom: 45%;
  }
  .camera__img img {
    max-width: 80%;
  }
  .camera__video {
    margin-right: -90px;
  }
  .mode__img {
    display: none;
  }
  .mode__flex {
    border-bottom-right-radius: 40px;
    padding: 60px 80px;
  }
  .mode__cont {
    margin-right: 0;
  }
  .cinematic__txt {
    max-width: 550px;
  }
  .cinematic__cont__abs__txt {
    bottom: 13%;
  }
  .apple__slider__nav li {
    width: 45px;
    height: 45px;
  }
  .__active:before {
    width: 60px;
    height: 60px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .apple__slider__nav li {
    margin: 10px 0;
  }
  .apple__slider__nav li:nth-of-type(1) {
    margin-left: 10px;
  }
  .apple__slider__nav li:nth-of-type(5) {
    margin-right: 10px;
  }
  .apple__slider__nav {
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    margin: 0 auto !important;
  }
  .custom__slide__one .custom__slide__wrap {
    background: linear-gradient(90.09deg, #2CA2B4 0.15%, #6193E8 56.13%, #EE4254 98.96%);
    display: block;
  }
  .custom__slide__cont {
    margin-right: unset;
    padding: 50px 0;
    width: unset;
  }
  .custom__slide__one .custom__slide__cont {
    margin: 0 auto;
  }
  .custom__slide__img {
    width: unset;
    margin: 20px 0;
  }
  .custom__slide__img img {
    max-width: 300px;
  }
  .custom__slide__cont__bold {
    line-height: 12vw !important;
    margin: 0 auto;
  }
  .custom__slide__btn {
    margin-top: unset;
  }
  .custom__slide__two .custom__slide__cont__bold,
  .custom__slide__three .custom__slide__cont__bold {
    min-width: unset;
    margin: 0 auto;
  }
  .custom__slide__one .custom__slide__img {
    width: unset;
  }
  .custom__slide__two .custom__slide__btn {
    margin-bottom: 20px;
  }
  .custom__slide__two .custom__slide__cont__flex,
  .custom__slide__three .custom__slide__cont__flex,
  .custom__slide__four .custom__slide__cont__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .custom__slide__two .custom__slide__cont__flex img,
  .custom__slide__three .custom__slide__cont__flex img,
  .custom__slide__four .custom__slide__cont__flex img {
    margin: 0 auto 30px auto;
    max-width: 189px;
  }
  .custom__slide__two .custom__slide__cont__flex {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .custom__slide__two .custom__slide__img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-top: 40px;
    position: relative;
  }
  .custom__slide__two .custom__slide__btn {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .custom__slide__two .custom__slide__cont__bold {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    position: absolute;
    right: 50%;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
    bottom: 10vw;
  }
  .custom__slide__two .custom__slide__cont,
  .custom__slide__three .custom__slide__cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .custom__slide__two .custom__slide__wrap,
  .custom__slide__three .custom__slide__wrap {
    padding-bottom: 60px;
  }
  .custom__slide__cont__icon {
    display: none;
  }
  .custom__slide .custom__slide__wrap {
    max-height: unset;
    min-height: unset;
  }
  .custom__slide__one .custom__slide__cont {
    padding: 50px 0;
  }
}

@media (max-width: 991px) {
  .apple .container {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .apple .container {
    width: 540px;
  }
}

@media (max-width: 576px) {
  .hide__mob {
    display: none !important;
  }
  .show__mob {
    display: block !important;
  }
  .apple .container {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .apple__main__img {
    padding: 0 1%;
    -webkit-box-flex: 1.5;
        -ms-flex: 1.5;
            flex: 1.5;
    padding-top: 15px;
  }
  .apple__main__img::before {
    width: 95vw;
  }
  .apple__main__title:nth-of-type(1), .apple__main__title:nth-of-type(3) {
    text-align: center;
  }
  .battery__abs {
    position: unset;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    margin: 0 auto;
  }
  .battery__abs::before {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 5vw;
    height: 7vw;
    margin-right: 10px;
  }
  .battery__txt {
    text-align: center;
    margin-top: 16px;
  }
  .battery__txt__bold {
    max-width: unset;
    margin: 16px 0 0 0;
    text-align: center;
  }
  .battery {
    padding-top: 40px;
  }
  .nightmode {
    padding-top: 40%;
  }
  .nightmode__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
    padding: 0;
    background: unset;
    position: unset;
  }
  .nightmode__video {
    margin: 0 -6%;
    padding: 0 6%;
    background: url("https://cdn.comfy.ua/media/x/img/2149337/bg1m.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 40%;
    position: relative;
  }
  .nightmode__video video {
    max-width: 75%;
    margin: -30% auto 0 auto;
  }
  .nightmode__txt {
    text-align: center;
    margin: 25px 0 0 0;
    color: #000;
  }
  .nightmode__abs {
    right: 40px;
    left: 40px;
    bottom: unset;
    top: 104vw;
  }
  .nightmode__abs img:nth-of-type(2),
  .nightmode__abs img:nth-of-type(3),
  .nightmode__abs img:nth-of-type(4) {
    margin-top: -6%;
  }
  .camera__video {
    padding-left: 0;
    margin-right: -30%;
  }
  .camera__img {
    right: 23%;
    bottom: 47%;
  }
  .camera__img img {
    max-width: 60%;
  }
  .camera__flex__wrap {
    padding-left: 0;
    width: calc( 100% + 15px);
  }
  .camera__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 0;
    padding: 0 15px 0 0;
    margin-top: 10px;
  }
  .camera__abs {
    position: unset;
    padding-top: 25px;
  }
  .camera__abs img {
    max-width: 60%;
    margin: 0;
  }
  .camera__bold__txt {
    max-width: 220px;
  }
  .camera__flex div:nth-of-type(1) {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .camera__flex div:nth-of-type(2) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 0;
  }
  .camera__flex div:nth-of-type(3) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 32px 0;
  }
  .mode {
    padding-top: 80px;
  }
  .mode__flex {
    padding: 32px 40px;
    margin: 0;
    border-radius: 24px;
  }
  .mode__cont__item:nth-of-type(2) {
    margin: 40px 0;
  }
  .mode__cont__icon img {
    max-width: 13%;
  }
  .mode__cont__title.grad__two {
    -webkit-text-fill-color: unset;
  }
  .mode__cont__title {
    margin: 16px 0;
    -webkit-background-clip: text;
    -webkit-text-stroke: 2px transparent;
    color: #F2F6F8;
  }
  .cinematic__head {
    display: none;
  }
  .cinematic__txt.grad__two {
    background: unset;
    -webkit-text-fill-color: unset;
  }
  .cinematic__txt {
    margin: 0;
    position: unset;
    margin-bottom: 10px;
  }
  .cinematic__cont__abs__txt {
    position: unset;
    color: #000;
    margin: 24px 0 0 0;
    padding: 0;
    font-size: 16px;
    padding: 0 15px;
  }
  .cinematic__cont__bg {
    margin: 0 -15px;
  }
  .cinematic {
    padding-top: 80px;
  }
  .apple__slider {
    margin-top: 40px;
    padding-bottom: 0;
  }
  .apple__slider__nav__wrap {
    position: unset;
    -webkit-transform: unset;
            transform: unset;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .apple__slider__nav {
    border: none;
    background: unset;
  }
  .apple__slider__nav:before {
    content: none;
  }
  .apple__slider__nav li {
    width: 32px;
    height: 32px;
  }
  .__active:before {
    width: 42px;
    height: 42px;
    background-position: center;
  }
  .design__title {
    font-size: 50px;
  }
  .design__title {
    margin-top: 17px;
  }
  .design__title strong.grad__two {
    -webkit-text-fill-color: unset;
  }
  .design__title strong {
    font-size: 60px;
    -webkit-background-clip: text;
    -webkit-text-stroke: 2px transparent;
    color: #fff;
    text-transform: lowercase;
  }
  .apple__slider__nav li:nth-of-type(1) {
    margin-left: 0;
  }
  .apple__slider__nav li:nth-of-type(5) {
    margin-right: 0;
  }
  .apple__slider__nav {
    max-width: 215px;
    margin: 0 auto !important;
  }
  .design__grid {
    margin-top: 40px;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "cal1 cal2" "cal1 cal4" "cal6 cal6" "cal3 cal5" "cal7 cal7";
  }
  .cal1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cal2 {
    padding: 20px 0 0 10px;
  }
  .design__grid .cal4 .design__txt,
  .design__grid .cal5 .design__txt {
    font-size: 10px;
    padding: 10px 0 0 5px;
  }
  .design__grid .cal6 .design__txt {
    font-size: 16px;
    padding: 35px 0 15px 0;
  }
  .design__grid .cal3 .design__txt {
    font-size: 16px;
  }
  .design {
    padding: 0;
  }
  .cal4 img {
    max-height: 44vw !important;
  }
  .custom__slide__cont__title {
    color: #fff;
  }
  .custom__slide__cont > img,
  .custom__slide__two .custom__slide__cont__flex img,
  .custom__slide__three .custom__slide__cont__flex img,
  .custom__slide__four .custom__slide__cont__flex img {
    max-width: 85px;
  }
  .custom__slide__btn {
    width: 180px;
    padding: 15px 0;
    font-size: 14px;
  }
  .custom__slide__cont__bold {
    -webkit-text-stroke: 1px white;
  }
  .custom__slide__img img {
    max-width: 32vw;
  }
  .custom__slide__two .custom__slide__img img {
    max-width: 50vw;
  }
  .custom__slide__three .custom__slide__img img {
    max-width: 42vw;
    position: relative;
  }
  .custom__slide__two .custom__slide__btn {
    margin-bottom: 0;
    margin-top: 40px;
  }
  .custom__slide__three .custom__slide__cont__bold {
    position: absolute;
    bottom: 55%;
    right: 50%;
    -webkit-transform: translate(50%, 50%);
            transform: translate(50%, 50%);
  }
  .custom__title {
    margin: 20px 0;
  }
  .custom__slide__three .custom__slide__img {
    margin-top: 60px;
  }
  .custom__slide__two .custom__slide__wrap {
    padding-top: unset;
    padding-bottom: 0;
  }
  @-webkit-keyframes spring {
    0% {
      -webkit-transform: translateX(15px);
              transform: translateX(15px);
    }
    50% {
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
    100% {
      -webkit-transform: translateX(15px);
              transform: translateX(15px);
    }
  }
  @keyframes spring {
    0% {
      -webkit-transform: translateX(15px);
              transform: translateX(15px);
    }
    50% {
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
    100% {
      -webkit-transform: translateX(15px);
              transform: translateX(15px);
    }
  }
  .custom__slide__three .custom__slide__wrap {
    padding: unset;
  }
  .custom__slide__cont {
    padding: 50px 0 !important;
  }
  .custom__slide__cont__bold {
    line-height: 18vw !important;
  }
  .custom__slide__two .custom__slide__cont__bold {
    bottom: 35vw;
  }
  .custom__slide__four::before {
    display: none;
  }
  .custom__slide__cont__four {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    padding-right: 15px;
    background-image: url("https://cdn.comfy.ua/media/x/img/2149337/34.png");
    background-repeat: no-repeat;
    background-position: 100% 70%;
    background-size: 160%;
  }
  .custom__slide__cont__four .custom__slide__cont__flex {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .custom__slide__cont__four .custom__slide__txt {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding: 0 15px;
    margin-top: 10px;
  }
  .custom__slide__cont__four .custom__slide__cont__bold {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-top: 110px;
    margin-bottom: 15px;
    color: #fff;
    -webkit-text-stroke: unset;
  }
  .custom__slide__cont__four .custom__slide__subtitle {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    padding: 0 15px;
  }
  .custom__slide__cont__four .custom__slide__btn {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .complete__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 0px;
            flex: 1 1 0;
  }
  .complete__item:nth-of-type(2) {
    margin: 0 15px;
  }
  .complete__item img {
    max-width: 100% !important;
  }
  .complete {
    padding: 40px 0;
  }
}
