#office-suite-personal-wrap {
  display: block;
  margin: 0 auto;
  max-width: 1316px;
  width: 100%;
  height: auto;
  overflow: hidden;
  background: #fff;
  position: relative;
}

#office-suite-personal-wrap img:hover {
  opacity: 1;
}

#office-suite-personal-wrap:first-letter {
  padding-left: 0;
}

#office-suite-personal-wrap img {
  display: block;
  margin-right: initial;
  margin-left: initial;
}

#office-suite-personal-wrap p {
  margin-bottom: 0;
}

#office-suite-personal-wrap h2 {
  font-size: 48px;
  line-height: 1.1;
  letter-spacing: 3px;
  line-height: 1;
}

#office-suite-personal-wrap h3 {
  font-size: 36px;
  margin: 0;
  padding-top: 0;
  line-height: 1.1;
  text-align: inherit;
  font-weight: bold;
}

span.word-wrap {
  display: block;
  word-wrap: break-word;
}

span.word-wrap-header {
  display: block;
  word-wrap: break-word;
}

.suite-header {
  position: relative;
  overflow: hidden;
}

.suite-header__bgrd-bl {
  position: relative;
  width: 100%;
  height: auto;
}

.suite-header__bgrd-bl::before {
  content: "";
  background-image: url(https://cdn.comfy.ua/media/x/img2/suiteofiice/office-suite-bgrd1.png);
  background-position: left;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 625px;
  z-index: 5;
}

.suite-header__content {
  position: relative;
  z-index: 6;
  padding: 35px 15px 35px 50px;
}

.suite-header__logo {
  margin-bottom: 27px;
}

.suite-header__prod-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.suite-header__prod-link-item {
  text-align: center;
  padding: 10px 20px;
  border: 2px solid #fff;
  -webkit-transition: .3s;
  -o-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
  -webkit-box-shadow: 0 0 5px 3px #ece9e9;
     -moz-box-shadow: 0 0 5px 3px #ece9e9;
          box-shadow: 0 0 5px 3px #ece9e9;
  font-size: 16px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  margin-right: 15px;
}

.suite-header__prod-link-item.link-active {
  border: 2px solid #43B02A;
  pointer-events: none;
  cursor: default;
}

.suite-header__prod-link-item:hover {
  border: 2px solid #43B02A;
}

.suite-header__h2 {
  margin-bottom: 55px;
}

.suite-headere__list {
  margin-bottom: 50px;
}

.suite-headere__list p {
  font-size: 24px;
  padding-bottom: 12px;
}

.suite-header__flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.suite-header__item {
  margin-right: 15px;
}

.suite-header__item:last-child {
  margin-right: 0;
}

.suite-header__item ul {
  list-style-type: disc;
  padding-left: 20px;
}

.suite-header__item ul li {
  padding-bottom: 5px;
  font-size: 18px;
}

.suite-header__item ul li:last-child {
  padding-bottom: 0;
}

.suite-header__availablefor-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.header__availablefor__item:first-child {
  margin-right: 15px;
}

.header__availablefor__item:last-child {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__availablefor__item p {
  text-align: left;
  font-size: 18px;
}

.header__availablefor__img {
  width: 40px;
  height: 40px;
  margin: 0 auto;
}

.header__availablefor__img img {
  margin: 0 auto !important;
}

.header__availablefor__prod-item:nth-child(2) {
  margin: 0 25px;
}

.header__availablefor__prod-item p {
  text-align: center;
}

.suite-paket {
  padding: 20px 25px 50px 50px;
}

.suite-paket__text {
  margin-bottom: 45px;
}

.suite-paket__text p {
  font-size: 48px;
}

.suite-paket__prod-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.suite-paket__item {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 155px;
     -moz-box-flex: 1;
      -ms-flex: 1 1 155px;
          flex: 1 1 155px;
  max-width: 155px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.suite-paket__item p {
  text-align: center;
  font-size: 25px;
}

.suite-paket__img {
  width: 120px;
  height: 100px;
  margin: 0 auto 15px auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.suite-paket__img img {
  margin: 0 auto !important;
}

.suite-paket__plus {
  font-size: 42px;
  font-weight: bold;
  line-height: 1;
}

.suite-function {
  background: #F5F5F5;
  padding: 70px 35px;
}

.suite-table {
  width: 100%;
  border-spacing: 0px;
  border-color: black;
  border-collapse: inherit;
}

.suite-tr:first-child td {
  font-size: 24px;
}

.suite-tr:first-child td:nth-child(n+2) {
  text-align: center;
  font-size: 22px;
  line-height: 1;
}

.suite-tr:first-child td:nth-child(2) {
  border-top: 10px solid #65C6EF;
}

.suite-tr td {
  width: 100%;
  min-width: 145px;
  height: 80px;
  font-size: 18px;
  line-height: 1;
}

.suite-tr td:first-child {
  min-width: 325px;
  padding-left: 15px;
}

.suite-tr td img {
  margin: 0 auto !important;
}

.suite-color-ECF4F8 {
  background: #ECF4F8;
  border-bottom: 3px solid #fff;
}

.suite-color-ECF4F8.none-border {
  border-bottom: 3px solid #ECF4F8;
}

.suite-color-E6E6E6 {
  background: #E6E6E6;
}
