#office-suite-personal-wrap
   display: block
   margin: 0 auto
   max-width: 1316px
   width: 100%
   height: auto
   overflow: hidden
   background: #fff
   position: relative
   img
      &:hover
         opacity: 1
   &:first-letter
      padding-left: 0
   img
      display: block
      margin-right: initial
      margin-left: initial
   p
      margin-bottom: 0
   h2
      font-size: 48px
      line-height: 1.1
      letter-spacing: 3px
      line-height: 1
   h3
      font-size: 36px
      margin: 0
      padding-top: 0
      line-height: 1.1
      text-align: inherit
      font-weight: bold
span.word-wrap
   display: block
   word-wrap: break-word
span.word-wrap-header
   display: block
   word-wrap: break-word
// default

.suite-header
   position: relative
   overflow: hidden
.suite-header__bgrd-bl
   position: relative
   width: 100%
   height: auto
   &::before
      content: ""
      background-image: url(https://cdn.comfy.ua/media/x/img2/suiteofiice/office-suite-bgrd1.png)
      background-position: left
      background-repeat: no-repeat
      background-size: cover
      position: absolute
      left: 0
      top: 0
      width: 100%
      height: 625px
      z-index: 5
.suite-header__content
   position: relative
   z-index: 6
   padding: 35px 15px 35px 50px
.suite-header__logo
   margin-bottom: 27px
.suite-header__prod-link
   display: flex
   margin-bottom: 30px
.suite-header__prod-link-item
   text-align: center
   padding: 10px 20px
   border: 2px solid #fff
   transition: .3s
   box-shadow: 0 0 5px 3px #ece9e9
   font-size: 16px
   border-radius: 5px
   margin-right: 15px
   &.link-active
      border: 2px solid #43B02A
      pointer-events: none
      cursor: default
   &:hover
      border: 2px solid #43B02A
.suite-header__h2
   margin-bottom: 55px
.suite-headere__list
   margin-bottom: 50px
   p
      font-size: 24px
      padding-bottom: 12px
.suite-header__flex
   display: flex
.suite-header__item
   margin-right: 15px
   &:last-child
      margin-right: 0
   ul
      list-style-type: disc
      padding-left: 20px
      li
         padding-bottom: 5px
         font-size: 18px
         &:last-child
            padding-bottom: 0
.suite-header__availablefor-flex
   display: flex
.header__availablefor__item
   &:first-child
      margin-right: 15px
   &:last-child
      display: flex
      align-items: center
      justify-content: center
   p
      text-align: left
      font-size: 18px
.header__availablefor__img
   width: 40px
   height: 40px
   margin: 0 auto
   img
      margin: 0 auto !important
.header__availablefor__prod-item
   &:nth-child(2)
      margin: 0 25px
   p
      text-align: center
.suite-paket
   padding: 20px 25px 50px 50px
.suite-paket__text
   margin-bottom: 45px
   p
      font-size: 48px
.suite-paket__prod-flex
   display: flex
   align-items: center
   justify-content: space-between
   flex-wrap: wrap
.suite-paket__item
   flex: 1 1 155px
   max-width: 155px
   display: flex
   flex-direction: column
   align-items: center
   justify-content: center
   p
      text-align: center
      font-size: 25px
.suite-paket__img
   width: 120px
   height: 100px
   margin: 0 auto 15px auto
   display: flex
   align-items: center
   justify-content: center
   img
      margin: 0 auto !important
.suite-paket__plus
   font-size: 42px
   font-weight: bold
   line-height: 1
.suite-function
   background: #F5F5F5
   padding: 70px 35px
.suite-table
   width: 100%
   border-spacing: 0px
   border-color: black
   border-collapse: inherit
.suite-tr
   &:first-child
      td
         font-size: 24px
         &:nth-child(n+2)
            text-align: center
            font-size: 22px
            line-height: 1
         &:nth-child(2)
            border-top: 10px solid #65C6EF
   td
      width: 100%
      min-width: 145px
      height: 80px
      font-size: 18px
      line-height: 1
      &:first-child
         min-width: 325px
         padding-left: 15px
      img
         margin: 0 auto !important
.suite-color-ECF4F8
   background: #ECF4F8
   border-bottom: 3px solid #fff
   &.none-border
      border-bottom: 3px solid #ECF4F8
.suite-color-E6E6E6
   background: #E6E6E6
   background-color: #f1f1f1
.suite-tabs
   button
      background-color: inherit
      float: left
      border: none
      outline: none
      cursor: pointer
      transition: 0.3s
      margin: 0
      padding: 0
      border-radius: 10px
      overflow: hidden
      margin-right: 10px
      &:last-child
         margin-right: 0px
      &:hover
         background-color: #ddd
      &.active
         font-weight: bold
         box-shadow: 4px 4px 10px 0px #a2a2a2
      .suite-tablinks__span
         padding: 12px 25px
         display: block
         font-size: 18px
         color: #fff
         &.suite__color1
            background: #BF3E38
         &.suite__color2
            background: #007AB4
         &.suite__color3
            background: #3B9863
         &.suite__color4
            background: #DB7B39
         &.suite__color5
            background: #0469BA
.suite-tabcontent
   display: block !important
   animation: fadeEffect 1s
   &.tab__bgrd1
      background: #FFF6F2
   &.tab__bgrd2
      background: #F1F5FD
   &.tab__bgrd3
      background: #E3F9EF
   &.tab__bgrd4
      background: #F5F1F3
   &.tab__bgrd5
      background: #F1F5FD
@keyframes fadeEffect
   from
      opacity: 0
   to
      opacity: 1
.suite-tabs__cont-mob
   // display: inline-block
   display: none
.suite-cont-tab
   position: relative
   overflow: hidden
   width: 100%
   height: auto
   padding: 45px 80px
   &.pdd0
      padding: 0
.suite-cont-tab__logo-flex
   display: flex
   align-items: center
   justify-content: center
   .suite-cont-tab__item
      font-size: 36px
      &:first-child
         flex: 1 1 80px
         max-width: 80px
         margin-right: 25px
.suite-cont-tab__flex50
   display: flex
   align-items: center
   position: relative
   z-index: 6
   &.pt30px
      padding-top: 30px
   &.row-rev
      flex-direction: row-reverse
   .suite-cont-tab__item50
      flex: 1 1 0
      font-size: 24px
      &.pdd_b p
         padding-bottom: 65px
         &:last-child
            padding-bottom: 0
      p
         text-align: left
         max-width: 455px
         margin: 0 auto
      img
         margin: 0 auto !important
.suite-cont-tab__line1,.suite-cont-tab__line2,.suite-cont-tab__line3,.suite-cont-tab__line4,.suite-cont-tab__line5
   height: 5px
   width: 100%
.suite-cont-tab__line1
   background: #BF3E38
.suite-cont-tab__line2
   background: #007AB4
.suite-cont-tab__line3
   background: #3B9863
.suite-cont-tab__line4
   background: #DB7B39
.suite-cont-tab__line5
   background: #0469BA
.padding-t_b
   padding: 35px 0
.suite-cont-tab__flex33
   display: flex
   align-items: baseline
   justify-content: center
.suite-cont-tab__item33
   flex: 1 1 0
   font-size: 24px
   img
      margin: 0 auto !important
   p
      text-align: left
      max-width: 320px
      margin: 0 auto
.suite-cont-tab_flex100-col
   display: flex
   flex-direction: column
   align-items: baseline
   justify-content: center
.suite-cont-tab_flex100-col__item
   width: 100%
   &:last-child
      padding-top: 35px
   img
      margin: 0 auto !important
   p
      text-align: left
      max-width: 320px
      margin: 0 auto
      min-height: 80px
.suite-cont-tab_flex100-col__height316
   height: 316px
   display: flex
   align-items: center
   &.heightauto
      height: auto
.suite-cont-tab__img1pos
   position: absolute
   left: 0
   bottom: 10rem
.suite-cont-tab__img2pos
   position: absolute
   right: 0
   top: 10rem
.suite-cont-tab__img3pos
   position: absolute
   left: 10rem
   bottom: 10rem
.suite-cont-tab__img4pos
   position: absolute
   right: 0
   bottom: 28rem
.suite-cont-tab__img5pos
   position: absolute
   right: 0
   bottom: 20rem
.suite-cont-tab__cont
   position: relative
.suite-cont-tab__drive
   padding: 15px 15px 35px 15px
.suite-cont-tab__drive-flex
   display: flex
   align-items: flex-end
   justify-content: space-around
   max-width: 1000px
   margin: 35px auto 0 auto
.suite-cont-tab__drive-item
   flex: 1 1 0
   max-width: 372px
   font-size: 24px
.suite-cont-before
   position: relative
   padding: 45px 80px
   &::before
      content: ""
      background: linear-gradient(180deg, rgba(241, 245, 253, 0) 0%, #DCE8FF 100%)
      width: 1316px
      height: 1015px
      position: absolute
      left: 0
      top: 0
      border-radius: 475px/105px
// media
// @media (max-width: 1250px)
// @media (max-width: 1024px)
// @media (max-width: 812px)
// @media (max-width: 480px)
