#rowenta_wrap_id p:first-letter {
  padding-left: 0;
}

#rowenta_wrap_id p {
  margin-bottom: 0;
}

#rowenta_wrap_id img:hover {
  opacity: 1;
}

#rowenta_wrap_id img {
  opacity: 1;
  max-width: 100%;
  display: block;
}

#rowenta_wrap_id {
  max-width: 1316px;
  margin: 0 auto;
  height: auto;
  display: block;
  background-color: #fff;
}

.features-desc__text img {
  margin-bottom: 0rem;
}

.one-col .features-desc__text p:first-letter {
  padding-left: 0rem !important;
}

.rowenta_wrap img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.rowenta_wrap h1 {
  margin: 0;
  padding: 0;
  font-size: 42px;
  line-height: normal;
  font-weight: 800;
  text-transform: uppercase;
}

.rowenta_wrap h2 {
  margin: 0;
  padding: 0;
  font-size: 28px;
  line-height: normal;
  font-weight: 100;
  color: #000;
}

.rowenta_wrap h2 strong {
  font-weight: bold;
  color: #a26a31;
}

.rowenta_wrap p {
  font-size: 23px !important;
  text-align: justify;

}

.rowenta_wrap ul li {
  list-style-type: none;
}

/**************************************************************************/

.rowenta_wrap {
  width: 100%;
  max-width: 1316px;
  margin: 0 auto;
  height: auto;
}

.rowenta_wrap .rowenta_power {
  position: relative;
  margin: 0;
  display: block;
  max-width: 100%;
  height: 723px;
  background-image: url("https://cdn.comfy.ua/media/x/img/1457501/bg_sect1.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  padding: 50px 70px;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;
}

.rowenta_wrap .rowenta_power .power_text {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  text-align: center;
}

.rowenta_wrap .rowenta_power .power_text h1:last-child {
  color: #a26a31;
}

/*end section 1*/

.rowenta_wrap .rowenta_pricheska {
  height: 724px;
  background-image: url("https://cdn.comfy.ua/media/x/img/1457501/bg_sect2.png");
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.rowenta_wrap .rowenta_pricheska .pricheska_text {
  max-width: 695px;
  text-align: center;
  background-color: #ffffffbf;

}

.rowenta_wrap .rowenta_pricheska .pricheska_text h1:last-child {
  color: #a26a31;
}

.rowenta_wrap .rowenta_pricheska .pricheska_text:last-child {
  margin-top: 50px;
  max-width: 695px;
  position: absolute;
  left: 0;
  padding: 10px 10px 10px 50px;
}

.rowenta_wrap .rowenta_pricheska .pricheska_text p strong {
  color: #a26a31;
}

/*end section 2*/

.rowenta_wrap .rowenta_motor {
  height: 724px;
  background-image: url("https://cdn.comfy.ua/media/x/img/1457501/bg_sect3.png");
  background-repeat: no-repeat;
  background-position: top center;
  padding: 80px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.rowenta_wrap .rowenta_motor ul.motor_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  float: right;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.rowenta_wrap .rowenta_motor ul.motor_content li {
  max-width: 530px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rowenta_wrap .rowenta_motor ul.motor_content li .motor_text {
  background-color: #ffffffbf;
  padding: 20px 40px;
  z-index: 2;
}

.rowenta_wrap .rowenta_motor ul.motor_content li .motor_text h1 {
  font-weight: 700;
}

.rowenta_wrap .rowenta_motor ul.motor_content li .motor_text h1,
.rowenta_wrap .rowenta_motor ul.motor_content li .motor_text p strong {
  color: #a26a31;
}

.rowenta_wrap .rowenta_motor ul.motor_content li .motor_text p {}

.rowenta_wrap .rowenta_motor ul.motor_content li::before {
  display: block;
  content: '';
  min-width: 215px;
  height: 215px;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
  left: -195px;
}

.rowenta_wrap .rowenta_motor ul.motor_content li:nth-child(1)::before {
  background-image: url("https://cdn.comfy.ua/media/x/img/1457501/icon1_sect3.png");
}

.rowenta_wrap .rowenta_motor ul.motor_content li:nth-child(2)::before {
  background-image: url("https://cdn.comfy.ua/media/x/img/1457501/icon2_sect3.png");
}

/*end section 3*/


.rowenta_wrap .rowenta_function {
  height: 720px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.rowenta_wrap .rowenta_function::after {
  display: block;
  content: '';
  width: 550px;
  height: 720px;
  background-image: url("https://cdn.comfy.ua/media/x/img/1457501/img_sect4.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  margin: 0 auto;
}

.rowenta_wrap .rowenta_function::before {
  position: absolute;
  display: block;
  content: '';
  width: 874px;
  height: 399px;
  background-image: url("https://cdn.comfy.ua/media/x/img/1457501/img2_sect4.png");
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
  z-index: 10;
  right: 50%;
  top: 50%;
  -webkit-transform: translate(54%, -46%);
          transform: translate(54%, -46%);
}

.rowenta_wrap .rowenta_function ul.func_four {
  position: absolute;
  width: 100%;
  max-width: 1316px;
  height: 720px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.rowenta_wrap .rowenta_function ul.func_four li {
  max-width: 320px;
  position: absolute;
}

.rowenta_wrap .rowenta_function ul.func_four li:nth-child(1) {
  top: 30px;
  left: 60px;
}

.rowenta_wrap .rowenta_function ul.func_four li:nth-child(2) {
  top: 30px;
  right: 30px;
}

.rowenta_wrap .rowenta_function ul.func_four li:nth-child(3) {
  left: 87px;
  bottom: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-width: 540px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rowenta_wrap .rowenta_function ul.func_four li:nth-child(4) {
  right: 3px;
  bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  min-width: 465px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rowenta_wrap .rowenta_function ul.func_four li::before {
  display: block;
  content: '';
  min-width: 194px;
  height: 194px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-bottom: 30px;
}

.rowenta_wrap .rowenta_function ul.func_four li:nth-child(1)::before {
  background-image: url("https://cdn.comfy.ua/media/x/img/1457501/icon1_sect4.png");
}

.rowenta_wrap .rowenta_function ul.func_four li:nth-child(2)::before {
  background-image: url("https://cdn.comfy.ua/media/x/img/1457501/icon2_sect4.png");
}

.rowenta_wrap .rowenta_function ul.func_four li:nth-child(3)::before {
  background-image: url("https://cdn.comfy.ua/media/x/img/1457501/icon3_sect4.png");
  margin-right: 20px;
}

.rowenta_wrap .rowenta_function ul.func_four li:nth-child(4)::before {
  background-image: url("https://cdn.comfy.ua/media/x/img/1457501/icon4_sect4.png");
  margin-left: 20px;
}


.rowenta_wrap .rowenta_function ul.func_four li .func_text span {
  font-size: 19px;
  text-align: justify;
  display: block;
  margin-bottom: 30px;
}

.rowenta_wrap .rowenta_function ul.func_four li .func_text span strong {
  color: #a26a31;
}

/*end section 4*/

.rowenta_wrap .rowenta_krasota {
  height: 723px;
  background-image: url("https://cdn.comfy.ua/media/x/img/1457501/bg_sect4.png");
  background-position: right;
  background-repeat: no-repeat;
  padding: 40px 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.rowenta_wrap .rowenta_krasota ul.krasota_list {
  padding: 40px 70px;
}

.rowenta_wrap .rowenta_krasota ul.krasota_list li:first-child {
  margin-bottom: 20px;
}

.rowenta_wrap .rowenta_krasota .krasota_text {
  background-color: #ffffffbf;
  text-align: center;
}

.rowenta_wrap .rowenta_krasota .krasota_text h1 {
  padding: 15px 0;
}

.rowenta_wrap .rowenta_krasota .krasota_text h1 span {
  color: #a26a31;
}

/*end section 5*/

.rowenta_wrap .rowenta_nasadki {
  height: 726px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #eebea8;
}

.rowenta_wrap .rowenta_nasadki .nasadki_text {
  max-width: 720px;
  float: right;
  padding: 60px 70px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.rowenta_wrap .rowenta_nasadki .nasadki_text h2 {
  margin-bottom: 40px;
}

.rowenta_wrap .rowenta_nasadki h2 {
  color: white;
  font-weight: bold;
  font-size: 38px;
}

.rowenta_wrap .rowenta_nasadki ul.nasadki_list {
  position: relative;
  height: 726px;
  padding-top: 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.rowenta_wrap .rowenta_nasadki ul.nasadki_list li {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.rowenta_wrap .rowenta_nasadki ul.nasadki_list li:first-child {
  padding-left: 60px;
}

.rowenta_wrap .rowenta_nasadki ul.nasadki_list .nasadki_row li:first-child h2,
.rowenta_wrap .rowenta_nasadki ul.nasadki_list .nasadki_row li:nth-child(2) h2 {
  position: absolute;
}

.rowenta_wrap .rowenta_nasadki ul.nasadki_list .nasadki_row li:nth-child(2) {
  padding-left: 130px;
  display: block;
  position: unset;
}

.rowenta_wrap .rowenta_nasadki ul.nasadki_list li:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: absolute;
  bottom: 0;
}

.rowenta_wrap .rowenta_nasadki ul.nasadki_list li .nasadka_list_text {
  text-align: center;
  max-width: 690px;
  margin-bottom: 60px;
  margin-left: 60px;
}

.rowenta_wrap .rowenta_nasadki ul.nasadki_list li .nasadka_list_text p {
  text-align: justify;
}

.rowenta_wrap .rowenta_nasadki ul.nasadki_list li .nasadka_list_text h2 {
  margin-bottom: 40px;
}

/***********MEDIA***********/

@media (max-width: 1024px) and (min-width: 813px) {
  .rowenta_wrap .rowenta_function::before {
    background-size: 77% 87%;
    -webkit-transform: translate(56%, -49%);
            transform: translate(56%, -49%);
  }

  .rowenta_wrap .rowenta_function ul.func_four li:nth-child(1) {
    top: 40px;
    left: 24px;
  }

  .rowenta_wrap .rowenta_function ul.func_four li:nth-child(2) {
    top: 82px;
    right: 11px;
  }

  .rowenta_wrap .rowenta_function ul.func_four li:nth-child(3) {
    left: 49px;
    bottom: 43px;
    min-width: 460px;
  }

  .rowenta_wrap .rowenta_function ul.func_four {
    z-index: 10;
  }

  .rowenta_wrap .rowenta_nasadki {
    height: auto;
    padding: 50px;
  }

  .rowenta_wrap .rowenta_nasadki ul.nasadki_list li {
    position: unset !important;
    padding: 0 !important;
  }

  .rowenta_wrap .rowenta_nasadki ul.nasadki_list {
    height: 100%;
  }

  .rowenta_wrap .rowenta_nasadki ul.nasadki_list li h2 {
    position: unset !important;
  }

  .rowenta_wrap .rowenta_nasadki .nasadki_text {
    float: unset;
    padding: 0;
    margin: 0;
  }


  .rowenta_wrap .rowenta_nasadki ul.nasadki_list .nasadki_row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .rowenta_wrap .rowenta_nasadki ul.nasadki_list li .nasadka_list_text {
    margin: 0;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 0px;
            flex: 1 1 0;
  }

  .rowenta_wrap .rowenta_nasadki ul.nasadki_list li:last-child img {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 0px;
            flex: 1 1 0;
  }

  .rowenta_wrap .rowenta_nasadki ul.nasadki_list li {
    width: auto;
  }

  .rowenta_wrap .rowenta_nasadki ul.nasadki_list li:last-child {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .rowenta_wrap .rowenta_nasadki ul.nasadki_list .nasadki_row li:nth-child(2) {
    display: block;
  }

  .rowenta_wrap .rowenta_nasadki .nasadki_text {
    max-width: unset;
  }
}

@media (max-width: 812px) and (min-width: 481px) {
  .rowenta_wrap .rowenta_power {
    padding: 20px;
  }

  .rowenta_wrap .rowenta_power .power_text {
    position: absolute;
    top: 50%;
    right: 50%;
    -webkit-transform: translate(50%, -50%);
            transform: translate(50%, -50%);
  }

 /*  .rowenta_wrap .rowenta_pricheska {
    padding: 20px;
  } */

  .rowenta_wrap .rowenta_pricheska .pricheska_text:last-child {
    padding-left: 20px;
  }

  .rowenta_wrap .rowenta_function::before {
    display: none;
  }

  .rowenta_wrap .rowenta_function::after {
    display: none;
  }

  .rowenta_wrap .rowenta_function ul.func_four li {
    position: unset !important;
    max-width: 100%;
    width: 1316px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .rowenta_wrap .rowenta_function {
    height: auto;
    padding: 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }

  .rowenta_wrap .rowenta_function ul.func_four {
    height: unset;
    position: unset;
  }

  .rowenta_wrap .rowenta_function ul.func_four li::before {
    margin-right: 20px;
    margin-bottom: 30px;
    margin-left: 0 !important;
  }

  .rowenta_wrap .rowenta_krasota {
    position: relative;
  }

  .rowenta_wrap .rowenta_krasota ul.krasota_list {
    padding: 40px 20px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }

  .rowenta_wrap .rowenta_krasota ul.krasota_list h2 {
    font-size: 24px;
  }

  .rowenta_wrap .rowenta_nasadki {
    height: auto;
    padding: 20px;
  }

  .rowenta_wrap .rowenta_nasadki ul.nasadki_list li {
    position: unset !important;
    padding: 0 !important;
  }

  .rowenta_wrap .rowenta_nasadki ul.nasadki_list {
    height: 100%;
  }

  .rowenta_wrap .rowenta_nasadki ul.nasadki_list li h2 {
    position: unset !important;
  }

  .rowenta_wrap .rowenta_nasadki .nasadki_text {
    float: unset;
    padding: 0;
    margin: 0;
  }


  .rowenta_wrap .rowenta_nasadki ul.nasadki_list .nasadki_row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .rowenta_wrap .rowenta_nasadki ul.nasadki_list li .nasadka_list_text {
    margin: 0;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 0px;
            flex: 1 1 0;
  }

  .rowenta_wrap .rowenta_nasadki ul.nasadki_list li:last-child img {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 0px;
            flex: 1 1 0;
  }

  .rowenta_wrap .rowenta_nasadki ul.nasadki_list li {
    width: auto;
  }

  .rowenta_wrap .rowenta_nasadki ul.nasadki_list li:last-child {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .rowenta_wrap .rowenta_nasadki ul.nasadki_list .nasadki_row li:nth-child(2) {
    display: block;
  }

  .rowenta_wrap .rowenta_nasadki .nasadki_text {
    max-width: unset;
  }
}

@media (max-width: 480px) and (min-width: 320px) {
  .rowenta_wrap .rowenta_power {
    padding: 20px;
  }

  .rowenta_wrap h1 {
    font-size: 22px;
  }

  .rowenta_wrap .rowenta_power .power_text {
    position: absolute;
    top: 50%;
    right: 50%;
    -webkit-transform: translate(50%, -50%);
            transform: translate(50%, -50%);
  }


  .rowenta_wrap .rowenta_pricheska .pricheska_text:last-child {
    padding: 0 20px;
  }

  .rowenta_wrap p {
    font-size: 16px !important;
  }

  .rowenta_wrap .rowenta_pricheska .pricheska_text:last-child {
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }

  .rowenta_wrap .rowenta_motor {
    height: auto;
    padding: 0px;
  }

  .rowenta_wrap .rowenta_motor ul.motor_content li {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .rowenta_wrap .rowenta_motor ul.motor_content li::before {
    position: unset;
    margin: 30px 0;
  }

  .rowenta_wrap .rowenta_motor ul.motor_content li .motor_text {
    padding: 20px;
  }

  .rowenta_wrap .rowenta_function::before {
    display: none;
  }

  .rowenta_wrap .rowenta_function::after {
    display: none;
  }

  .rowenta_wrap .rowenta_function ul.func_four li {
    position: unset !important;
    max-width: 100%;
    width: 1316px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-width: unset !important;
  }

  .rowenta_wrap .rowenta_function {
    height: auto;
    padding: 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }

  .rowenta_wrap .rowenta_function ul.func_four {
    height: unset;
    position: unset;
  }

  .rowenta_wrap .rowenta_function ul.func_four li::before {
    margin: 0 !important;
    margin-bottom: 20px !important;
  }

  .rowenta_wrap .rowenta_motor ul.motor_content {
    background-color: #ecbea7;
    margin-bottom: 40px;
  }

  .rowenta_wrap .rowenta_function ul.func_four li .func_text span {
    font-size: 16px;
  }

  .rowenta_wrap .rowenta_krasota {
    position: relative;
  }

  .rowenta_wrap .rowenta_krasota ul.krasota_list {
    padding: 40px 20px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    background-color: #ffffffbf;
  }

  .rowenta_wrap .rowenta_krasota ul.krasota_list h2 {
    font-size: 22px;
  }

  .rowenta_wrap .rowenta_nasadki {
    height: auto;
    padding: 20px;
  }

  .rowenta_wrap .rowenta_nasadki ul.nasadki_list li {
    position: unset !important;
    padding: 0 !important;
  }

  .rowenta_wrap .rowenta_nasadki ul.nasadki_list {
    height: 100%;
  }

  .rowenta_wrap .rowenta_nasadki ul.nasadki_list li h2 {
    position: unset !important;
  }

  .rowenta_wrap .rowenta_nasadki .nasadki_text {
    float: unset;
    padding: 0;
    margin: 0;
  }


  .rowenta_wrap .rowenta_nasadki ul.nasadki_list .nasadki_row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 40px;
  }

  .rowenta_wrap .rowenta_nasadki ul.nasadki_list li .nasadka_list_text {
    margin: 0;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 0px;
            flex: 1 1 0;
    margin-bottom: 20px;
  }

  .rowenta_wrap .rowenta_nasadki ul.nasadki_list li:last-child img {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 0px;
            flex: 1 1 0;
  }

  .rowenta_wrap .rowenta_nasadki ul.nasadki_list li {
    width: auto;
  }

  .rowenta_wrap .rowenta_nasadki ul.nasadki_list li:last-child {
    display: block;
  }

  .rowenta_wrap .rowenta_nasadki ul.nasadki_list .nasadki_row li:nth-child(2) {
    display: block;
  }

  .rowenta_wrap .rowenta_nasadki .nasadki_text {
    max-width: unset;
  }

  .rowenta_wrap .rowenta_nasadki h2 {
    font-size: 24px;
  }
}