/*default styles*/
#huawei {
  max-width: 1316px;
  width: 100%;
  margin: 0 auto;
  height: auto;
  display: block;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}
#huawei p {
  margin-bottom: 0;
  margin: 0;
  text-align: unset;
  font-size: 20px;
}
#huawei p:first-letter {
  padding-left: 0;
}
#huawei h2 {
  text-align: unset;
  display: block;
  line-height: normal;
  font-size: 44px;
  font-weight: bold;
  padding: 0;
  margin: 0 0 30px 0;
}
#huawei img {
  opacity: 1;
  max-width: 100%;
  display: block;
  height: auto;
}
#huawei img:hover {
  opacity: 1;
}
#huawei ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#huawei span {
  display: block;
  line-height: normal;
}

.features-desc__text img {
  margin-bottom: 0rem;
  position: unset;
}

.one-col .features-desc__text p:first-letter {
  padding-left: 0rem !important;
}

/*end default styles*/
#huawei .logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em 0 80px 0;
}
#huawei .logo > div {
  max-width: 50%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
#huawei .logo .logo__txt {
  margin-top: -100px;
  padding: 0 30px;
}
#huawei .logo .logo__txt span {
  font-size: 26px;
}
#huawei .huawei__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 80px;
}
#huawei .huawei__row > div {
  max-width: 50%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
#huawei .huawei__row .huawei__row__txt {
  padding-right: 60px;
}
#huawei .huawei__cont {
  padding-top: 100px;
}
#huawei .huawei__cont .huawei__cont__txt {
  text-align: center;
  padding: 0 150px 60px 150px;
}
#huawei .huawei__cont .huawei__cont__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 40px 80px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#huawei .huawei__cont .huawei__cont__list li {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
     -moz-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
}
#huawei .huawei__cont .huawei__cont__list li img {
  margin: 0 auto;
}
#huawei .huawei__cont .huawei__cont__list li span {
  text-align: center;
  font-size: 18px;
  margin-top: 10px;
}
#huawei .snoski {
  padding: 0 80px 1em 80px;
  font-size: 14px;
}
#huawei .snoski li {
  color: #c2c0c0;
}
#huawei .snoski li:nth-of-type(1) {
  margin-bottom: 10px;
}

@media (max-width: 812px) {
  #huawei h2 {
    font-size: 28px;
  }
  #huawei p {
    font-size: unset;
  }
  #huawei .logo {
    padding-bottom: 2em;
  }
  #huawei .huawei__row {
    padding: 1em;
  }
  #huawei .huawei__row .huawei__row__txt {
    padding-right: 1em;
  }
  #huawei .huawei__cont {
    padding-top: 2em;
  }
  #huawei .huawei__cont .huawei__cont__txt {
    padding: 0 3em 2em 3em;
  }
  #huawei .huawei__cont .huawei__cont__list {
    padding: 1em;
  }
  #huawei .huawei__cont .huawei__cont__list li:nth-of-type(n+2) {
    margin-left: 0.5em;
  }
  #huawei .huawei__cont .huawei__cont__list li img {
    max-height: 48px;
  }
  #huawei .huawei__cont .huawei__cont__list li span {
    font-size: 15px;
  }
  #huawei .snoski {
    padding: 0 2em 1em 2em;
  }
}
@media (max-width: 480px) {
  #huawei h2 {
    font-size: 24px;
  }
  #huawei .logo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
       -moz-box-orient: vertical;
       -moz-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  #huawei .logo > div {
    max-width: 100%;
  }
  #huawei .logo .logo__txt {
    padding: 0 0.5em;
    margin-top: 0;
  }
  #huawei .logo .logo__txt span {
    font-size: 18px;
  }
  #huawei .huawei__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #huawei .huawei__row > div {
    max-width: 100%;
  }
  #huawei .huawei__cont .huawei__cont__txt {
    padding: 0 1em 2em 1em;
  }
  #huawei .huawei__cont .huawei__cont__list {
    overflow-x: scroll;
  }
  #huawei .huawei__cont .huawei__cont__list li {
    min-width: 155px;
  }
  #huawei .huawei__cont .huawei__cont__list li img {
    max-height: 43px;
  }
  #huawei .snoski {
    padding: 0 1em 1em 1em;
  }
  #huawei .logo .logo__txt span > br {
    display: none;
  }
  #huawei .huawei__row .huawei__row__txt {
    padding-right: 0;
  }
}