.rkt-tefal-gv9e22e0__container {
  overflow: hidden;
}

.bc-description__content p:first-letter {
  padding-left: 0 !important;
}

#rkt-tefal-gv9e22e0 {
  max-width: 1023px;
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  background: #fff;
}
#rkt-tefal-gv9e22e0 h2, #rkt-tefal-gv9e22e0 h3, #rkt-tefal-gv9e22e0 h4, #rkt-tefal-gv9e22e0 h5, #rkt-tefal-gv9e22e0 h6, #rkt-tefal-gv9e22e0 p {
  margin: 0;
  padding: 0;
  line-height: 1.2;
}
#rkt-tefal-gv9e22e0 ul {
  margin: 0;
  padding: 0;
  list-style-type: disc;
  padding-left: 20px;
  margin: 0.5rem 0;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
#rkt-tefal-gv9e22e0 img {
  display: block;
  max-width: 100%;
  opacity: 1;
  margin: 0 auto;
}
#rkt-tefal-gv9e22e0 img:hover {
  opacity: 1;
}
#rkt-tefal-gv9e22e0 h2 {
  font-size: 26px;
  font-weight: 900;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
@media (max-width: 1023px) {
  #rkt-tefal-gv9e22e0 h2 {
    font-size: calc(20px + 6 * (100vw - 320px) / 703);
  }
}
#rkt-tefal-gv9e22e0 h3 {
  font-size: 20px;
  font-weight: 900;
  text-align: left;
  margin-bottom: 1rem;
}
@media (max-width: 1023px) {
  #rkt-tefal-gv9e22e0 h3 {
    font-size: calc(18px + 2 * (100vw - 320px) / 703);
  }
}
#rkt-tefal-gv9e22e0 p {
  font-size: 16px;
  font-weight: 400;
  text-align: left;
}
@media (max-width: 1023px) {
  #rkt-tefal-gv9e22e0 p {
    font-size: calc(14px + 2 * (100vw - 320px) / 703);
  }
}
#rkt-tefal-gv9e22e0 li {
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  line-height: 1.2;
}
@media (max-width: 1023px) {
  #rkt-tefal-gv9e22e0 li {
    font-size: calc(14px + 2 * (100vw - 320px) / 703);
  }
}
#rkt-tefal-gv9e22e0 i {
  line-height: 1.2;
  font-size: 16px;
  margin-top: 0.5rem;
  display: block;
  font-style: italic;
}
@media (max-width: 1023px) {
  #rkt-tefal-gv9e22e0 i {
    font-size: calc(14px + 2 * (100vw - 320px) / 703);
  }
}

.tefal__logo {
  position: relative;
}

.logo__france {
  position: absolute;
  z-index: 1;
  right: 2em;
  top: 1em;
}
.logo__france img {
  width: 50%;
  margin: 0 0 0 auto !important;
}

.logo__wrap {
  position: relative;
}

.logo__i {
  padding: 1em;
}
.logo__i img {
  width: 30%;
  margin: 0 !important;
}

.logo__abs {
  position: absolute;
  bottom: 50%;
  transform: translateY(50%);
  right: 0;
  padding: 0 5em;
}
.logo__abs::before, .logo__abs::after {
  content: "";
  display: block;
  width: 120px;
  height: 50px;
  background: url("https://cdn.comfy.ua/media/x/img5/3320768/snoska.svg") no-repeat center/contain;
  margin-left: -13%;
  margin-bottom: -7%;
}
.logo__abs::after {
  transform: scale(-1, -1);
  margin-left: unset;
  margin-right: -13%;
  float: right;
  margin-bottom: 0;
  margin-top: -7%;
}

.tefal__title {
  line-height: normal;
  font-size: clamp(32px, 2vw, 40px);
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.func__row {
  display: flex;
  align-items: center;
}
.func__row > div {
  box-sizing: border-box;
}
.func__row:nth-of-type(even) {
  flex-direction: row-reverse;
}

.func__txt {
  flex-basis: 47%;
  padding: 2em;
}

.func__img {
  flex-basis: 53%;
}

.func__rev {
  position: relative;
}

.func__i {
  position: absolute;
  right: 43.5%;
  top: 10%;
}
.func__i img {
  width: 60%;
}

.warranty {
  padding-bottom: 1em;
}

.warranty__wrap {
  position: relative;
}
.warranty__wrap::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 30%;
  bottom: 20%;
  top: 12%;
  background: #f2f2f2;
  z-index: 0;
}

.warranty__row {
  display: flex;
  align-items: center;
  position: relative;
}

.warranty__cont {
  padding-left: 4em;
}

.warranty__title {
  line-height: normal;
  text-transform: uppercase;
  font-weight: bold;
  font-size: clamp(52px, 3.5vw, 70px);
  margin-top: 10px;
}

#rkt-tefal-gv9e22e0 .warranty__note p {
  text-align: center;
  font-size: 12px;
  max-width: 80%;
  margin: 0 auto;
}
#rkt-tefal-gv9e22e0 .text__r {
  text-align: right;
  width: 80%;
}
#rkt-tefal-gv9e22e0 .warranty__cont p {
  width: 80%;
}

@media (min-width: 320px) and (max-width: 767.9px), (min-width: 1024px) and (max-width: 1201px) {
  .logo__abs {
    position: relative;
    width: -moz-max-content;
    width: max-content;
    margin: 0 auto;
    transform: translateY(40%);
    padding-top: 1em;
    z-index: 1;
  }
  .logo__img {
    position: relative;
  }
  .logo__img img {
    min-width: 180%;
  }
  .logo__img::before {
    content: "";
    display: block;
    position: absolute;
    top: -5%;
    right: -10%;
    left: -10%;
    bottom: 90%;
    background: #fff;
    filter: blur(12px);
  }
  .logo__abs::before, .logo__abs::after {
    width: 85px;
    height: 37px;
  }
  .func__i {
    display: none;
  }
  .func__row {
    flex-direction: column !important;
    padding: 1em;
  }
  .func__txt {
    padding: 1em;
  }
  .func__img {
    border-radius: 25px;
    overflow: hidden;
  }
  .warranty__row {
    flex-direction: column;
  }
  .warranty__cont {
    padding: 1em;
  }
  #rkt-tefal-gv9e22e0 .warranty__cont p {
    width: 35%;
    text-align: center;
    margin: 0 auto;
  }
  #rkt-tefal-gv9e22e0 .warranty__cont p {
    width: 50%;
    text-align: center;
    margin: 0 auto;
  }
  .warranty__title {
    text-align: center;
  }
  .warranty {
    padding: 1em;
  }
  .warranty__wrap {
    background-color: #f2f2f2;
    border-radius: 25px;
    margin-bottom: 10%;
  }
  .warranty__wrap::before {
    display: none;
  }
  .warranty__img {
    position: relative;
  }
  .warranty__img img {
    position: relative;
  }
  .warranty__img::before {
    content: "";
    display: block;
    position: absolute;
    border-radius: 50%;
    background-color: #ffffff;
    top: 3%;
    right: 19%;
    left: 19%;
    bottom: -18%;
    z-index: 0;
  }
  #rkt-tefal-gv9e22e0 .func__txt h2, #rkt-tefal-gv9e22e0 .func__txt p {
    text-align: center;
  }
  #rkt-tefal-gv9e22e0 .text__r {
    text-align: right !important;
  }
  #rkt-tefal-gv9e22e0 .warranty__img img {
    max-width: 500px;
    margin-bottom: -20%;
  }
}
@media (min-width: 320px) and (max-width: 767.9px) {
  .logo__abs {
    padding-right: 0;
    padding-left: 0;
    padding-top: 2em;
  }
  .logo__i img {
    width: 55%;
  }
  .logo__abs::before, .logo__abs::after {
    width: 65px;
    height: 30px;
  }
  .tefal__title {
    font-size: clamp(24px, 2vw, 40px);
  }
  .func__img {
    border-radius: 12px;
  }
  #rkt-tefal-gv9e22e0 .warranty__cont p {
    width: 90%;
  }
  #rkt-tefal-gv9e22e0 .warranty__img img {
    max-width: 130%;
    margin-left: -15%;
    margin-bottom: -26%;
  }
  .warranty__img::before {
    top: 0%;
    right: 8%;
    left: 8%;
    bottom: -20%;
  }
  .warranty__wrap {
    margin-bottom: 18%;
    border-radius: 12px;
  }
}