#delivery-wrap {
  max-width: 1366px;
  width: 100%;
  height: auto;
  background: #f2f2f2;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  padding: 10px 0 0 0;
}

#delivery-wrap img {
  opacity: 1;
  display: block;
}

#delivery-wrap img:hover {
  opacity: 1;
}

#delivery-wrap:first-letter {
  padding-left: 0;
}

#delivery-wrap p {
  font-size: 14px;
  line-height: 1.5;
}

#delivery-wrap h2 {
  font-size: 24px;
  font-weight: bold;
  color: #000;
  text-align: left;
  padding-bottom: 24px;
}

#delivery-wrap h3 {
  font-size: 16px;
  font-weight: bold;
  color: #000;
  margin: 0;
}

span.word-wrap {
  display: block;
  word-wrap: break-word;
}

span.word-wrap-working {
  display: block;
  word-wrap: break-word;
}

.breadcrumbs {
  display: none;
}

.main-container.page {
  padding-left: 0;
  padding-right: 0;
}

.tabs-head:not(.product-tabs) li {
  display: block;
}

span.color_43B02Aspan {
  color: #43B02A;
}

.color_43B02A {
  color: #43B02A;
}

body.overfloy-body {
  overflow: inherit;
}

.delivery__wrap-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.delivery__wrap-flex__item:first-child {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 30%;
     -moz-box-flex: 1;
      -ms-flex: 1 1 30%;
          flex: 1 1 30%;
  max-width: 390px;
  margin-bottom: 10px;
}

.delivery__wrap-flex__item:last-child {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 70%;
     -moz-box-flex: 1;
      -ms-flex: 1 1 70%;
          flex: 1 1 70%;
}

.tabs-head-flex__item {
  font-weight: 500;
  font-size: 18px;
  color: #000000;
}

.tabs-head-flex__item:first-child {
  padding-left: 16px;
}

.mCSB_container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#delivery-wrap .tabs-head-item {
  border: 1px solid #fff;
  margin-bottom: 5px;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  overflow: hidden;
  background: #fff;
  -webkit-transition: .3s;
  -o-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
  display: block;
}

#delivery-wrap .tabs-head-item .tabs-head-flex {
  position: relative;
}

#delivery-wrap .tabs-head-item .tabs-head-flex::before {
  content: "";
  background-image: url(https://cdn.comfy.ua/media/x/img2/delivery/str_not_active.svg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  width: 6px;
  height: 12px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
}

#delivery-wrap .tabs-head-item._active {
  border: 1px solid #43B02A;
}

#delivery-wrap .tabs-head-item._active .tabs-head-flex::before {
  background-image: url(https://cdn.comfy.ua/media/x/img2/delivery/str_active.svg);
}

#delivery-wrap .tabs-head-item._active:hover {
  border: 1px solid #43B02A;
  cursor: default;
}

#delivery-wrap .tabs-head-item:last-child {
  margin-bottom: 0;
}

#delivery-wrap .tabs-head-item:hover {
  border: 1px solid #c1b6b6;
  cursor: pointer;
}

.tabs-head-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
     -moz-box-orient: horizontal;
     -moz-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
     -moz-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 16px 25px 16px 24px;
  margin-right: 25px;
}

.tabs-content {
  margin-left: 15px;
}

.sect-content-productbay__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
}

.sect-content-productbay__item {
  background: #EDF8EA;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  padding: 8px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 220px;
  width: 100%;
}

.sect-content-productbay__num {
  color: #379424;
  font-weight: bold;
  font-size: 18px;
  padding-bottom: 16px;
  text-align: left;
}

.sect-content-productbay__text {
  padding-bottom: 16px;
  line-height: 1.5;
}

.sect-content-productbay__text p {
  text-align: left;
}

.sect-content-productbay__text a.uppercase-link {
  font-size: 10px;
  line-height: 1;
  letter-spacing: 1.5px;
  text-decoration: underline;
  text-transform: uppercase;
  color: #379424;
  padding-top: 8px;
  display: inline-block;
}

a.def_link {
  font-size: 14px;
  color: #379424;
  display: inline-block;
}

a.def_link:hover {
  text-decoration: underline;
}

.sect-content-productbay__img {
  height: 78px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sect-content-working,
.sect-content-productbay,
.sect-content-advantages,
.sect-content-conditions,
.sect-content-bayprod {
  background: #FFFFFF;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  margin-bottom: 5px;
  padding: 16px;
}

.sect-content-working.last-sect-content,
.sect-content-productbay.last-sect-content,
.sect-content-advantages.last-sect-content,
.sect-content-conditions.last-sect-content,
.sect-content-bayprod.last-sect-content {
  margin-bottom: 0px;
}

.sect-content-working__top-text span {
  color: #43B02A;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  padding-bottom: 24px;
  display: block;
}

.sect-content-working__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
}

.sect-content-working__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sect-content-working__text {
  text-align: center;
  padding: 16px 0 0 0;
  line-height: 1.5;
}

.sect-content-productbay__txt {
  padding: 16px 0 0 0;
}

.sect-content-productbay__txt p:first-child {
  padding-bottom: 16px;
}

.sect-content-accordion-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 16px 0 0 0;
}

.sect-content-accordion__item {
  padding-bottom: 16px;
}

.sect-content-accordion__item:last-child {
  padding-bottom: 0;
}

.sect-content-advantages__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
}

.sect-content-advantages__item {
  max-width: 220px;
  width: 100%;
  height: auto;
}

.sect-content-advantages__line {
  width: 100%;
  max-width: 120px;
  background: #43B02A;
  height: 4px;
  margin: 16px 0;
  opacity: 0.2;
}

.sect-content-advantages__txt {
  padding-top: 16px;
}

.sect-content-conditions__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 300px 1fr;
      grid-template-columns: 300px 1fr;
  grid-gap: 0 16px;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 0;
  border-bottom: 1px solid #E5E5E5;
}

.sect-content-conditions__grid.conditions__grid-first {
  padding: 0 0 16px 0;
}

.sect-content-conditions__grid.conditions__grid-last {
  padding: 16px 0 0 0;
  border-bottom: 0 solid #E5E5E5;
}

#delivery-wrap .sect-content-conditions__item.conditions-grid-line {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
}

#delivery-wrap .sect-content-conditions__item:first-child p {
  font-size: 14px;
  color: #000;
}

#delivery-wrap .sect-content-conditions__item:last-child p {
  font-size: 16px;
  color: #379424;
  font-weight: bold;
}

#delivery-wrap .sect-content-conditions__item:last-child p.underlinep {
  text-transform: uppercase;
}

#delivery-wrap .sect-content-conditions__item:last-child p.fzdefault {
  font-size: 12px;
  color: #379424;
}

#delivery-wrap .sect-content-conditions__item:last-child p.conditions-last__p {
  font-size: 14px;
  color: #000;
  font-weight: normal;
}

#delivery-wrap .sect-content-conditions__item:last-child p.conditions-last__p a {
  font-size: 14px;
  color: #379424;
  display: inline-block;
  font-weight: normal;
  text-decoration: underline;
}

.sect-content-bayprod__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 300px 1fr;
      grid-template-columns: 300px 1fr;
  grid-gap: 0 16px;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #E5E5E5;
  padding: 24px 0;
}

.sect-content-bayprod__grid.bayprod__grid-first {
  padding: 0 0 24px 0;
}

.sect-content-bayprod__item-content {
  padding-left: 24px;
}

.list-link {
  color: #379424;
  display: inline-block;
  padding-bottom: 0 !important;
}

.list-link:hover {
  text-decoration: underline;
}

.sect-content-bayprod__item a {
  color: #379424;
  text-decoration: underline;
  display: inline-block;
}

.sect-content-bayprod__item .sect-content-bayprod__num {
  font-size: 18px;
  font-weight: bold;
  color: #43B02A;
  text-align: left;
}

#delivery-wrap .sect-content-bayprod__p-bold p {
  font-size: 16px;
  color: #000;
  font-weight: bold;
  text-align: left;
  padding: 8px 0;
}

.sect-content-bayprod__grid-bottom {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  padding-top: 16px;
}

.sect-content-bayprod__grid-bottom__item p {
  text-align: left;
  padding-top: 16px;
}

.accordion-btn-click {
  display: block;
  cursor: pointer;
  font-size: 14px;
  color: #000;
  font-weight: 500;
  outline: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
  text-align: left;
  width: 100%;
  position: relative;
  border: none;
  background: #F2F2F2;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  padding: 9px 32px 9px 16px;
}

.accordion-btn-click::before {
  content: "";
  background-image: url(https://cdn.comfy.ua/media/x/img2/delivery/str_active.svg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  width: 6px;
  height: 12px;
  position: absolute;
  right: 16px;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(90deg);
     -moz-transform: translateY(-50%) rotate(90deg);
      -ms-transform: translateY(-50%) rotate(90deg);
       -o-transform: translateY(-50%) rotate(90deg);
          transform: translateY(-50%) rotate(90deg);
  -webkit-transition: .3s;
  -o-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
}

.accordion-btn-click.active::before {
  -webkit-transform: translateY(-50%) rotate(270deg);
     -moz-transform: translateY(-50%) rotate(270deg);
      -ms-transform: translateY(-50%) rotate(270deg);
       -o-transform: translateY(-50%) rotate(270deg);
          transform: translateY(-50%) rotate(270deg);
}

.accordion_panel__content {
  padding: 16px 16px 0 16px;
}

.working-link {
  color: #43B02A;
  font-size: 14px;
}

.working-link:hover {
  text-decoration: underline;
}

.accordion_panel {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.3s ease-out;
  -o-transition: max-height 0.3s ease-out;
  -moz-transition: max-height 0.3s ease-out;
  transition: max-height 0.3s ease-out;
}

.accordion_panel a {
  color: #43B02A;
  display: inline-block;
  font-weight: bold;
  font-size: 14px;
  text-align: left;
  padding-bottom: 20px;
  text-decoration: underline;
}

.accordion_panel ul {
  list-style-type: none;
  padding: 0 0 0 8px;
}

.accordion_panel ul li {
  position: relative;
  font-size: 14px;
  text-align: left;
  padding-left: 16px;
  margin-bottom: 20px;
  line-height: 1.5;
}

.accordion_panel ul li:last-child {
  margin-bottom: 0;
}

.accordion_panel ul li::before {
  content: "";
  background: #000;
  width: 4px;
  height: 4px;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  position: absolute;
  left: 0;
  top: 8px;
}

.accordion_panel ul.ul-list-num {
  padding: 10px 0 0 8px;
}

.accordion_panel ul.ul-list-num li {
  margin-bottom: 5px;
}

.accordion_panel ul.ul-list-num li:last-child {
  margin-bottom: 0;
}

.accordion_panel ul.ul-list-num li::before {
  display: none;
}

.accordion_panel.accordion_panel2 ul.ul_panel2 {
  padding-bottom: 24px;
}

.accordion_panel.accordion_panel2 ul.ul_panel2.ul_panel2_last {
  padding-bottom: 0;
}

.accordion_panel.accordion_panel2 ul.ul_panel2 li {
  margin-bottom: 0;
}

.accordion_panel.accordion_panel2 ul.ul_panel2 li.pddbottom {
  padding-bottom: 24px;
}

.accordion_panel.accordion_panel2 ul.ul_panel2 ul.ul_panel2two {
  padding: 0 0 0 20px;
}

.accordion_panel.accordion_panel2 ul.ul_panel2 ul.ul_panel2two li {
  margin-bottom: 3px;
}

.myBtnstyle {
  display: inline-block;
  color: #43B02A;
  cursor: pointer;
}

.myBtnstyle:hover {
  text-decoration: underline;
}

.modal, .modal2, .modal3 {
  display: none;
  position: fixed;
  z-index: 999999;
  padding-top: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
  overflow: hidden;
  padding: 0;
  margin: 0 auto;
  width: 100%;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.48);
     -moz-box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.48);
          box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.48);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-animation-name: animatetop;
     -moz-animation-name: animatetop;
       -o-animation-name: animatetop;
          animation-name: animatetop;
  -webkit-animation-duration: 0.3s;
     -moz-animation-duration: 0.3s;
       -o-animation-duration: 0.3s;
          animation-duration: 0.3s;
}

.modal-content.size-modal1 {
  max-width: 960px;
}

.modal-content.size-modal2 {
  max-width: 440px;
}

.modal-content.size-modal3 {
  max-width: 495px;
}

@-webkit-keyframes animatetop {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes animatetop {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-o-keyframes animatetop {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.close, .close2, .close3 {
  color: #000;
  float: right;
  font-size: 32px;
  line-height: 1;
  position: absolute;
  right: 0;
  top: 0;
  height: 36px;
  width: 36px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: .3s;
  -o-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
}

.close:hover, .close2:hover, .close3:hover {
  background: #fff;
  text-decoration: none;
  cursor: pointer;
}

#myModal .modal-table__h3 h3 {
  font-size: 16px;
  color: #000;
  padding-bottom: 34px;
  font-weight: inherit;
  text-align: left;
}

.modal-table__p {
  text-align: left;
}

.modal-content__header {
  font-weight: 500;
  font-size: 14px;
  color: #000;
  padding: 11px 0 11px 16px;
  background: #F2F2F2;
  text-align: left;
  line-height: 1;
}

.modal-table {
  padding: 16px;
}

.modal-table-list table {
  border: 0;
  border-spacing: 0px;
  text-indent: initial;
  border-collapse: inherit;
}

.modal-table-list table tr {
  border-bottom: 1px solid #E5E5E5;
  padding: 16px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 456px 1fr 1fr;
      grid-template-columns: 456px 1fr 1fr;
  grid-gap: 0 16px;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-table-list table tr:last-child {
  border-bottom: 0 solid #E5E5E5;
  padding: 16px 0 0 0;
}

.modal-table-list table tr:first-child {
  padding: 0 0 16px 0;
}

.modal-table-list table tr td {
  font-size: 14px;
  color: #000;
  text-align: left;
  line-height: 1;
}

.modal-table-list table tr td.td_bold {
  font-size: 16px;
  font-weight: bold;
}

.modal-table-list table tr td.td_bold_green {
  color: #379424;
  font-weight: bold;
  font-size: 16px;
}

.modal-table-list table tr td.td_grid_line {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
}

.modal-table-list table tr td a {
  color: #43B02A;
  display: block;
  font-size: 14px;
  font-weight: bold;
  padding-top: 16px;
}

.modal-table-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 395px 1fr;
      grid-template-columns: 395px 1fr;
}

.modal-table-grid.pcolornew .modal-table-grid__item p {
  color: #999999;
  font-size: 12px !important;
  padding: 12px 0;
}

.modal-table-grid.bacolor1 {
  background: #F7FAFD;
}

.modal-table-grid.bacolor1 p {
  padding: 42px 0;
}

.modal-table-grid.bacolor2 {
  background: #f2f2f2;
  padding-bottom: 16px;
}

.modal-table-grid.bacolor2 .modal-table-grid__item {
  padding-left: 16px !important;
  border-right: 0 solid #d8d8d8;
  padding-right: 16px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
}

.modal-table-grid.bacolor2 p {
  padding: 10px 0;
  text-align: left !important;
}

.modal-table-grid.bacolor3 p {
  padding: 22px 0;
}

.modal-table-grid__item:first-child {
  border-right: 1px solid #d8d8d8;
  padding-left: 24px;
  padding-right: 23px;
}

.modal-table-grid__item:first-child p {
  text-align: left;
}

.modal-table-grid__item:last-child p {
  text-align: center;
}

.modal-table-grid__item a {
  color: #43B02A;
  display: block;
  font-size: 14px;
  text-align: left;
  text-decoration: underline;
}

@media (max-width: 812px) {
  .sect-content-working__grid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .sect-content-productbay__grid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .sect-content-advantages__grid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .sect-content-conditions__grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .sect-content-bayprod__grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .sect-content-bayprod__grid-bottom {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .sect-content-bayprod__item-content {
    padding-left: 0;
    padding-bottom: 15px;
  }
  .modal-content.size-modal1, .modal-content.size-modal2, .modal-content.size-modal3 {
    width: initial;
    left: 15px;
    right: 15px;
  }
  .modal-content.size-modal3 {
    overflow: scroll;
  }
  .size-modal3__scroll-mob {
    overflow: scroll;
  }
  .size-modal3__scroll-width.width1 {
    width: 495px;
  }
  .size-modal3__scroll-width.width2 {
    width: 960px;
    height: 400px;
  }
}

@media (max-width: 480px) {
  #delivery-wrap {
    padding: 0px 0 10px 0;
  }
  .delivery__wrap-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 5px 12px;
  }
  .delivery__wrap-flex__item:first-child {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 100%;
       -moz-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    max-width: 100%;
  }
  .delivery__wrap-flex__item:last-child {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 100%;
       -moz-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
  .tabs-head:not(.product-tabs) {
    position: relative;
    top: 0;
    width: 100%;
    display: block;
    z-index: 10;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
  }
  .mobile-header__link {
    width: 100%;
    text-align: center;
  }
  .mobile-header .mobile-arrow:before {
    bottom: 5px;
  }
  .mobile-header__content {
    font-size: 20px;
  }
  .tabs-head:not(.product-tabs) .tabs-head-item:after {
    display: none;
  }
  .tabs-content {
    margin-left: 0;
  }
  #delivery-wrap h2 {
    font-size: 21px;
  }
  #delivery-wrap h3 {
    font-size: 15px;
  }
  #delivery-wrap p {
    font-size: 13px;
  }
  .sect-content-advantages__grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .sect-content-advantages__item {
    max-width: 100%;
  }
  .sect-content-working__top-text span {
    font-size: 14px;
  }
}

@media (max-width: 767px) and (orientation: landscape) {
  #delivery-wrap {
    padding: 0px 0 10px 0;
  }
  .delivery__wrap-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 5px 12px;
  }
  .delivery__wrap-flex__item:first-child {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 100%;
       -moz-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    max-width: 100%;
  }
  .delivery__wrap-flex__item:last-child {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 100%;
       -moz-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
  .tabs-head:not(.product-tabs) {
    position: relative;
    top: 0;
    width: 100%;
    display: block;
    z-index: 10;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
  }
  .mobile-header__link {
    width: 100%;
    text-align: center;
  }
  .mobile-header .mobile-arrow:before {
    bottom: 5px;
  }
  .mobile-header__content {
    font-size: 20px;
  }
  .tabs-head:not(.product-tabs) .tabs-head-item:after {
    display: none;
  }
  .sect-content-working__grid {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .sect-content-productbay__grid {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .sect-content-advantages__grid {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .sect-content-conditions__grid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .sect-content-bayprod__grid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .sect-content-bayprod__grid-bottom {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .sect-content-bayprod__item-content {
    padding-left: 24px;
    padding-bottom: 0;
  }
  .tabs-content {
    margin-left: 0;
  }
  .size-modal3__scroll-width.width1 {
    height: 300px;
  }
  .size-modal3__scroll-width.width2 {
    height: 300px;
  }
}

@media (max-width: 812px) and (orientation: landscape) {
  .size-modal3__scroll-width.width2 {
    height: 300px;
  }
  .size-modal3__scroll-width.width1 {
    height: 300px;
  }
}
