#mate-xs-wrap
   display: block
   margin: 0 auto
   max-width: 1316px
   width: 100%
   overflow: hidden
   background: #fff

span.word-wrap 
   display: block
   word-wrap: break-word

span.fw-bold
   font-weight: bold

#mate-xs-wrap
   &:first-letter
      padding-left: 0

#mate-xs-wrap p
   margin-bottom: 0

#mate-xs-wrap img
   &:hover
      opacity: 1

#mate-xs-wrap img
   display: block;
   margin-right: initial
   margin-left: initial

#mate-xs-wrap h2
   font-size: 4rem
   letter-spacing: 3px
   line-height: 1.1

#mate-xs-wrap .mate-xs-wrap__header p
   font-size: 2.3rem

#mate-xs-wrap p
   font-size: 1.9rem

#mate-xs-wrap h3
   margin: 0;
   font-size: 2.3rem
   padding-bottom: 15px
   text-align: left
   padding-top: 0

.bgrd-clr_191c23
   background-color: #191c23

.bgrd-liner-gradient
   background-image: linear-gradient(0deg, #dcdcdc 0%, #e1e1e1 100%)

.bgrd-clr_000
   background-color: #000000


.mrgn-bottom
   margin-bottom: 1px

.size-height-block
   min-height: 600px

.size-padding-block
   padding: 35px

.size-padding-block2
   padding: 35px 60px

.mate-xs-wrap__header
   position: relative
   display: table
   width: 100%

.mate-xs-wrap__header-item
   &:first-child
      height: 100%
      display: table-cell
      vertical-align: middle
      width: 50%
      z-index: 8
   &:last-child
      position: relative
      display: table-cell
      vertical-align: middle
      width: 50%
      z-index: 7

.mate-xs-wrap__header-content
   text-align: left
   color: #fff

.mate-xs-wrap__header-content h2
   &:first-child
      padding-bottom: 25px

.mate-xs-wrap__header-logo
   position: absolute
   right: 0
   top: 0

.mate-xs-wrap__header-logo-bottom
   position: absolute
   right: 0
   bottom: 0

.mate-xs-wrap__header-prod
   display: block

.mate-xs-wrap__header-prod-img1
   position: absolute
   left: 0
   top: 0
   z-index: 5
   margin-left: -17rem
   padding-top: 5rem

.mate-xs-wrap__header-prod-img2
   position: absolute
   left: 0rem
   top: 0
   transform: translate3d(40px, 15px, 0)
   z-index: 4

.mate-xs-wrap__flex-cont
   display: flex
   flex-direction: row
   align-items: center
   justify-content: space-between

.mate-xs-wrap__flex-cont--item
   &:last-child
      padding-left: 20px

.mate-xs-wrap__flex-cont--item__content
   background-color: #c2c2c2
   max-width: 500px
   padding: 15px
   text-align: left

.mate-xs-wrap__flex-cont__img-cont-grid
   display: grid
   grid-gap: 15px
   grid-template-columns: auto auto auto

.mate-xs-wrap__flex-cont--item__img-cont-grid-item
   &:nth-child(1)
      grid-column-start: 1
      grid-column-end: 3
   &:nth-child(2)
      grid-column-start: 1
      grid-column-end: 1
   &:nth-child(3)
      grid-column-start: 2
      grid-column-end: 2
   &:nth-child(4)
      grid-column-start: 4
      grid-column-end: 3
      grid-row-start: 1
      grid-row-end: 3

.mate-xs-wrap__flex-cont--item__img-cont-grid-item 
   background: #060707

.mate-xs-wrap__flex-allcont
   display: flex
   align-items: center
   justify-content: center

.mate-xs-wrap__flex-allcont__item
   &:first-child
      flex: 1 1 44%
   &:last-child
      flex: 1 1 56%
   img
      margin: 0 auto !important
      display: block

.mate-xs-wrap__flex-allcont__content
   background-color: #c2c2c2
   max-width: 500px
   padding: 15px
   text-align: left

.mate-xs-wrap__flash
   position: relative
   &::before
      content: ""
      background-image: url(https://cdn.comfy.ua/media/x/img/matexsimg/4sect-img1.png)
      width: 1135px
      height: 448px
      position: absolute
      left: 0
      right: 0
      margin: 0 auto

.mate-xs-wrap__flash-img2
   position: relative
   &::before
      content: ""
      background-image: url(https://cdn.comfy.ua/media/x/img/matexsimg/5sect-img1.png)
      background-size: cover
      background-position: right
      background-repeat: no-repeat
      width: 1166px
      height: 600px
      position: absolute
      right: -135px
      bottom: 0

.mate-xs-wrap__flash-img3
   position: relative
   &::before
      content: ""
      background-image: url(https://cdn.comfy.ua/media/x/img/7sect-img1_2.png)
      background-size: cover
      background-position: right
      background-repeat: no-repeat
      width: 1000px
      height: 445px
      position: absolute
      right: 0
      top: 0

.mate-xs-wrap__flash-content
   background-color: rgba(194, 194, 194, 0.75)
   max-width: 500px
   padding: 15px
   text-align: left
   top: 50%
   transform: translateY(-50%)
   position: absolute

.mate-xs-wrap__flash-content.bgrd-img2
   background-color: rgba(250, 250, 250, 0.75);

.mate-xs-wrap__era
   background-image: url(https://cdn.comfy.ua/media/x/img/6sect-img1.png)
   background-position: center
   background-size: cover
   width: 100%
   position: relative

.mate-xs-wrap__era.era-img2
   background-image: url(https://cdn.comfy.ua/media/x/img/10sect-img1.png)

.allcont_bgrd
   background-image: url(https://cdn.comfy.ua/media/x/img/matexsimg/12sect-img1.png)
   background-position: center
   background-size: cover
   width: 100%
   position: relative

.mate-xs-wrap__era-content
   background-color: rgba(194, 194, 194, 0.75)
   max-width: 500px
   padding: 15px
   text-align: left
   top: 50%
   transform: translateY(-50%)
   position: absolute




#haawei-new-app
   width: 100%
   max-width: 1316px
   box-sizing: border-box
   margin: 0 auto
   background: #fff

.haawei-new-app__header
   span
      font-size: 20px
      font-style: italic
      display: block
      padding: 10px 15px
   span.dark_blue_title
      display: block
      background-color: #042134
      color: #fff
      font-size: 22px
      font-style: normal
      text-align: center
      padding: 10px 0
   
.haawei-new-app__cont-flex
   display: flex
   flex-direction: row
   padding: 20px 25px 60px 25px


.haawei-new-app__item
   flex: 1 1 0

.haawei-new-app__item__top-img
   display: flex
   flex-direction: row
   align-items: center
   justify-content: center
   margin-bottom: 20px
   min-height: 66px
   margin: 0 auto

.top-img__flex
   display: flex
   flex-direction: row
   align-items: center
   justify-content: center

.top-img__item.right-text
   margin-left: 15px

.haawei-new-app__item-text
   display: block
   margin-top: 20px
   p
      font-size: 1.8rem
      text-align: left
      line-height: 1.7

.item-text__qr-code
   display: flex
   flex-direction: row
   align-items: center
   justify-content: flex-start
   margin-top: 20px
   .qr-code__item
      span
         display: block
         font-size: 14px
         padding: 0
      &:first-child
         margin-right: 10px

.qr-code3__cont
   display: flex
   flex-direction: row
   margin-top: 20px

.qr-code3__cont.flex110
   .qr-code__item
      flex: 1 1 0

.qr-code__flex
   display: flex
   flex-direction: row
   align-items: flex-start
   justify-content: flex-start

.qr-code__flex__item
   span
      display: block
      font-size: 14px
      padding: 0
   &:first-child
      padding-right: 5px
      max-width: 124px
   .small_txt
      font-size: 11px;
   
@media (min-width: 320px) and (max-width: 480px)
   .size-padding-block2 
      padding: 20px 15px

   #mate-xs-wrap h2
      font-size: 2.8rem

   .mate-xs-wrap__flex-cont--item__img-cont-grid-item
      &:nth-child(4)
         display: none

   .size-height-block
      min-height: 460px;
      overflow: hidden

   .mate-xs-wrap__flash-content.bgrd-img2
      background-color: rgba(194, 194, 194, 0.98)

   .mate-xs-wrap__flash-content
      top: inherit
      transform: inherit
      position: relative

   .mate-xs-wrap__era.era-img2
      background-position: 60% 100%

   .mate-xs-wrap__flash-img2
      &::before
         right: -698px
         bottom: -125px

   .mate-xs-wrap__flex-allcont__item
      &:last-child
         padding-left: 0
         padding-top: 25px

   .mate-xs-wrap__flex-allcont
      flex-direction: column

   .mate-xs-wrap__flex-cont__img-cont-grid
      grid-template-columns: auto auto
      padding-top: 15px

   .mate-xs-wrap__flex-allcont
      flex-direction: column

   .mate-xs-wrap__flex-cont
      flex-direction: column

   .mate-xs-wrap__flex-cont--item
      &:last-child
         padding-left: 0

   .mate-xs-wrap__header
      position: relative
      display: flex
      flex-direction: column
      width: 100%
      height: 800px

   .mate-xs-wrap__header-item
      &:first-child
         width: 100%

   .mate-xs-wrap__header-item
      &:last-child
         width: 100%

   .mate-xs-wrap__header-prod
      display: block
      height: 560px

   .mate-xs-wrap__header-logo
      display: none

   .size-padding-block
      padding: 15px

   .mrgn-bottom
      margin-bottom: 1px
      &:last-child
         margin-bottom: 0px

   #mate-xs-wrap p
      font-size: 1.6rem

   .mate-xs-wrap__era-content
      top: inherit
      transform: inherit
      position: relative

   .haawei-new-app__header
      span.dark_blue_title
         font-size: 18px
         padding: 10px 15px
      .haawei-new-app__item
         &:nth-child(2)
            margin: 15px 0

   .qr-code__flex__item
      span
         font-size: 16px;

   .qr-code__flex__item
      .small_txt
         font-size: 12px

   .haawei-new-app__cont-flex
      flex-direction: column
      padding: 20px 15px 60px 15px

   .qr-code3__cont
      flex-direction: column
   
   .qr-code__flex__item
      &:first-child
         padding-right: 5px
         max-width: 209px
         min-width: 206px
         
   .qr-code3__cont.flex110
      .qr-code__item
         &:first-child
            margin-bottom: 20px

@media (min-width: 481px) and (max-width: 768px)
   .size-padding-block2 
      padding: 25px 15px

   #mate-xs-wrap h2
      font-size: 3.1rem

   .mate-xs-wrap__flex-cont--item__img-cont-grid-item
      &:nth-child(4)
         display: none

   .size-height-block
      min-height: 460px
      overflow: hidden

   .mate-xs-wrap__flash-img2
      &::before
         right: -445px
         bottom: -125px

   .mate-xs-wrap__flex-allcont__item
      &:last-child
         padding-left: 15px

   .qr-code3__cont
      flex-direction: column
   
   .qr-code__flex__item
      &:first-child
         padding-right: 5px
         max-width: 140px
         min-width: 140px

   .qr-code3__cont.flex110
      .qr-code__item
         &:first-child
            margin-bottom: 20px

@media (min-width: 769px) and (max-width: 1024px)
   .qr-code3__cont
      flex-direction: column
   
   .qr-code3__cont.flex110
      .qr-code__item
         &:first-child
            margin-bottom: 20px
   
   .qr-code__flex__item
      &:first-child
         padding-right: 5px
         max-width: 195px
         min-width: 195px

   .size-padding-block2 
      padding: 25px 15px

   #mate-xs-wrap h2
      font-size: 3.1rem

   #mate-xs-wrap .mate-xs-wrap__header p
      font-size: 2rem

   .mate-xs-wrap__flex-cont--item__img-cont-grid-item
      &:nth-child(4)
         display: none

   .size-height-block
      min-height: 460px;
      overflow: hidden;

   .mate-xs-wrap__flash-img2
      &::before
         right: -445px
         bottom: -125px

   .mate-xs-wrap__flex-allcont__item
      &:last-child
         padding-left: 15px
