#ideapad5pro
   display: block
   margin: 0 auto
   max-width: 1920px
   width: 100%
   height: auto
   overflow: hidden
   background: #fff
   position: relative
   img
      &:hover
         opacity: 1
   &:first-letter
      padding-left: 0
   img
      display: block
      margin-right: initial
      margin-left: initial
   p
      font-size: 25px
      margin: 0
      color: #fff
      line-height: 1.3
   h2
      font-size: 42px
      line-height: 1
      text-transform: uppercase
      color: #fff
   h3
      font-size: 50px
      margin: 0
      padding: 0 0 45px 0
      line-height: 1
      font-weight: 500
      text-transform: uppercase
      color: #fefefe
      text-align: inherit
   i
      font-size: 20px
      color: #fff
      margin: 0
      padding: 0
      line-height: 1.1
      padding-top: 175px
      display: block
      font-style: normal
span.word-wrap
   display: block
   word-wrap: break-word
span.fw-bold
   font-weight: bold
span.tx-uppercase
   text-transform: uppercase
.features-desc__text h2
   text-align: inherit
.one-col .features-desc__text p
   text-align: inherit
.main-container.page
   padding-left: 0
   padding-right: 0
.bc-description__content p:first-letter
   padding-left: 0
// default
.ideapad5pro-header
   background-image: url(https://cdn.comfy.ua/media/x/img2/1969795/img2bgrd.png)
   background-position: left
   background-repeat: no-repeat
   background-size: cover
   width: 100%
   height: auto
   display: flex
   align-items: flex-end
   padding: 90px 0 15px 0
.ideapad5pro-header__flex
   display: flex
   align-items: center
   width: 100%
   justify-content: space-between
   padding: 0 85px 15px 60px
.ideapad5pro-header__text
   text-align: left
   max-width: 710px
   width: 100%
   margin: 15px
   h2
      padding: 60px 0 40px 0
.ideapad5pro-header__img-pos
   position: absolute
   right: 0
   top: 100px
.ideapad5pro-screen
   background-image: url(https://cdn.comfy.ua/media/x/img2/1969795/img7bgrd.png)
   background-position: center
   background-repeat: no-repeat
   background-size: cover
   width: 100%
   height: auto
   padding: 210px 0 100px 0
   display: flex
   flex-direction: column
   position: relative
   .ideapad5pro-screen__text
      position: relative
      z-index: 3
   &.screen-two
      background-image: url(https://cdn.comfy.ua/media/x/img2/1969795/img15bgrd.png)
      height: auto
      padding: 45px 0 65px 0
      justify-content: space-between
      .ideapad5pro-screen__flex
         &.screen-twobl
            align-items: center
            .ideapad5pro-screen__text
               margin: 15px 15px 0 85px
            .ideapad5pro-screen__img
               margin-left: 0
               padding-right: 115px
            .ideapad5pro-screen__text-img
               padding-top: 0
               padding-bottom: 30px
         &.screen-frbl
            .ideapad5pro-screen__img
               margin-left: -165px
   .ideapad5pro-screen__flex
      display: flex
      align-items: flex-end
      justify-content: space-between
      &.sect-screen-two
         padding-top: 40px
         height: 100%
         .ideapad5pro-screen__text
            text-align: left
            max-width: 680px
            width: 100%
            margin: 15px 0 160px 85px
            position: absolute
            left: 0
            bottom: 0
         .ideapad5pro-screen__img
            margin-left: 0
            padding-right: 90px
      .ideapad5pro-screen__text
         text-align: left
         max-width: 680px
         width: 100%
         margin: 15px 85px 0 15px
      .ideapad5pro-screen__img
         margin-left: -215px
      .ideapad5pro-screen__text-img
         padding-top: 30px
.ideapad5pro-faceid
   background-image: url(https://cdn.comfy.ua/media/x/img2/1969795/img10bgrd.png)
   background-position: left
   background-repeat: no-repeat
   background-size: cover
   width: 100%
   height: auto
   display: flex
   flex-direction: column
   align-items: flex-start
   justify-content: flex-end
   padding: 350px 15px 220px 80px
.ideapad5pro-faceid__text
   max-width: 680px
.ideapad5pro-faceid__img
   padding-top: 30px
.ideapad5pro-footer
   background-image: url(https://cdn.comfy.ua/media/x/img2/1969795/img16bgrd.png)
   background-position: center
   background-repeat: no-repeat
   background-size: cover
   width: 100%
   height: auto
   .ideapad5pro-footer__img
      padding: 30px 15px
      max-width: 1500px
      margin: 0 auto
      img
         margin: 0 auto !important
// media
@media (max-width: 1919px)
   #ideapad5pro
      h2
         font-size: 38px
      h3
         font-size: 38px
      i
         padding-top: 100px
   .ideapad5pro-header__text
      margin: 0
      padding: 15px 0 0 15px
      img
         max-width: 500px
   .ideapad5pro-screen .ideapad5pro-screen__flex.sect-screen-two .ideapad5pro-screen__img
      max-width: 1055px
   .ideapad5pro-screen.screen-two .ideapad5pro-screen__flex.screen-twobl .ideapad5pro-screen__img
      padding-right: 0
   .ideapad5pro-footer .ideapad5pro-footer__img
      max-width: 1200px
   .ideapad5pro-screen .ideapad5pro-screen__flex .ideapad5pro-screen__img
      margin-left: -420px
   .ideapad5pro-header__img-pos
      position: absolute
      right: 0
      top: 15px
      max-width: 60px
   .ideapad5pro-header__flex
      padding: 0 20px 15px 60px
   .ideapad5pro-screen .ideapad5pro-screen__flex .ideapad5pro-screen__text
      margin: 0
      padding: 15px 20px 15px 15px
   .ideapad5pro-screen .ideapad5pro-screen__flex.sect-screen-two .ideapad5pro-screen__text
      margin: 0 0 160px 0
      padding: 15px 15px 15px 20px
   .ideapad5pro-faceid
      padding: 195px 15px 160px 20px
   .ideapad5pro-screen.screen-two .ideapad5pro-screen__flex.screen-twobl .ideapad5pro-screen__text
      margin: 0
      padding: 15px 20px 15px 20px
   .ideapad5pro-footer .ideapad5pro-footer__img
      max-width: 1000px
@media (max-width: 1680px)
   #ideapad5pro
      h2
         font-size: 35px
      h3
         font-size: 35px
      i
         padding-top: 100px
   .ideapad5pro-header__text img
      max-width: 430px
   .ideapad5pro-header__text img
      max-width: 430px
   .ideapad5pro-screen .ideapad5pro-screen__flex.sect-screen-two .ideapad5pro-screen__img
      max-width: 920px
      padding-right: 20px
@media (max-width: 1366px)
   .ideapad5pro-header__item-img
      margin-left: -330px
@media (max-width: 1280px)
   #ideapad5pro
      h2
         font-size: 30px
      h3
         font-size: 30px
      i
         padding-top: 100px
   .ideapad5pro-header__text img
      max-width: 370px
   .ideapad5pro-header__text h2
      padding: 35px 0 25px 0
   .ideapad5pro-screen .ideapad5pro-screen__flex
      align-items: flex-start
   .ideapad5pro-screen .ideapad5pro-screen__flex.sect-screen-two .ideapad5pro-screen__img
      max-width: 790px
// @media (max-width: 1024px)
@media (max-width: 812px)
   #ideapad5pro
      h2
         font-size: 28px
      h3
         font-size: 28px
      i
         padding-top: 50px
      p
         font-size: 23px
   .ideapad5pro-header
      padding: 50px 0 15px 0
   .ideapad5pro-header__flex
      flex-direction: column-reverse
      padding: 0 20px 15px 20px
   .ideapad5pro-header__item-img
      margin-left: 0
      max-width: 630px
      padding-top: 15px
   .ideapad5pro-header__text
      margin: 0
      padding: 15px 0 0 0
      max-width: 100%
   .ideapad5pro-screen
      padding: 50px 0 50px 0
   .ideapad5pro-screen .ideapad5pro-screen__flex
      flex-direction: column-reverse
   .ideapad5pro-screen .ideapad5pro-screen__flex .ideapad5pro-screen__img
      margin-left: 0
      padding: 0 20px
   .ideapad5pro-screen .ideapad5pro-screen__flex.sect-screen-two .ideapad5pro-screen__text
      position: relative
   .ideapad5pro-screen .ideapad5pro-screen__flex.sect-screen-two
      flex-direction: column
   .ideapad5pro-screen .ideapad5pro-screen__flex.sect-screen-two .ideapad5pro-screen__text
      margin: 0 0 0px 0
      max-width: 100%
   .ideapad5pro-screen .ideapad5pro-screen__flex .ideapad5pro-screen__text
      max-width: 100%
   .ideapad5pro-screen .ideapad5pro-screen__flex.sect-screen-two .ideapad5pro-screen__img
      padding-right: 0
   .ideapad5pro-faceid
      padding: 50px 20px 50px 20px
   .ideapad5pro-screen.screen-two
      padding: 50px 0 50px 0
   .ideapad5pro-screen.screen-two .ideapad5pro-screen__flex.screen-twobl
      flex-direction: column
   .ideapad5pro-screen .ideapad5pro-screen__flex .ideapad5pro-screen__text
      padding: 15px 20px 15px 20px
   .ideapad5pro-screen.screen-two .ideapad5pro-screen__flex.screen-frbl .ideapad5pro-screen__img
      margin-left: 0
   .ideapad5pro-screen .ideapad5pro-screen__flex .ideapad5pro-screen__text-img
      max-width: 150px
      margin: 0 auto
   .ideapad5pro-faceid__text
      max-width: 100%
   .ideapad5pro-faceid__img
      max-width: 150px
      margin: 0 auto
   .ideapad5pro-screen.screen-two .ideapad5pro-screen__flex.screen-twobl .ideapad5pro-screen__img
      padding-right: 0
      max-width: 630px
      padding: 0
   .ideapad5pro-footer .ideapad5pro-footer__img
      max-width: 630px
@media (max-width: 480px)
   #ideapad5pro
      h2
         font-size: 21px
      h3
         font-size: 21px
      i
         padding-top: 16px
      p
         font-size: 18px
   .ideapad5pro-header__text img
      max-width: 265px
   .ideapad5pro-header__text h2
      padding: 25px 0 20px 0
   .ideapad5pro-header__img-pos
      max-width: 50px
   .ideapad5pro-header
      padding: 15px 0 15px 0
   .ideapad5pro-screen .ideapad5pro-screen__flex .ideapad5pro-screen__text-img
      max-width: 115px
   .ideapad5pro-faceid__img
      max-width: 115px
@media (max-width: 320px)
   #ideapad5pro
      h2
         font-size: 18px
      h3
         font-size: 18px
      i
         padding-top: 14px
      p
         font-size: 16px
      .ideapad5pro-header__img-pos
         max-width: 30px
@media (max-width: 812px) and (orientation: landscape)
   #ideapad5pro
      h2
         font-size: 21px
      h3
         font-size: 21px
      i
         padding-top: 16px
      p
         font-size: 18px
