/* form default css */

#wrapper-form-corizoid {
   display: block;
   max-width: 1316px;
   width: 100%;
   background: #202020;
   margin: 0 auto;
}

#wrapper-form-corizoid form div.error,
#wrapper-form-corizoid form label.error {
   left: 15px;
   display: block;
   position: relative;
   margin: 4px 4px 4px 0px;
}

#form-submit-none {
   display: block;
}

#text-submit-block {
   display: none;
}

/* form default css */

.container-flex-form {}
.row-flex-form {
   display: flex;
   flex-direction: row;
   align-items: flex-start;
   justify-content: center;
   padding: 3rem 0 3rem 0;
   width: 100%;
}
.row-flex-form .item_fr {
   padding: 0 15px 0 0;
   width: 100%;
   display: grid;
}
.row-flex-form .item_fr:last-child {
   padding: 0 0 0 0;
}

.row-flex-form .item_fr.item_email {}
.row-flex-form .item_fr.item_phone {}
.row-flex-form .item_fr.item_name {}
.row-flex-form .item_fr.item_sity {}

.row-flex-form .item_fr .item-input-frm {
   font-size: 2rem;
   margin: 0;
   padding: 1.2rem 1.7rem;
   border: 2px solid rgba(255, 103, 31, 0);
   border-radius: 10px;
   text-align: left;
   background: rgba(208, 208, 208, 0.7);
   line-height: 1;
   height: 50px;
}
.row-flex-form .item_fr .item-input-frm:focus {
   background: rgba(255, 255, 255, 0.7);
   border: 2px solid #43b02a;
   box-shadow: inset 0 0 10px 0px rgba(67, 176, 42, 0.8);
}
.item-input-frm::-webkit-input-placeholder {
   color: #fff;
}
.row-flex-form .item_fr .item-input-frm.item-input-frm__submit {
   background: #ff671f;
   transition: .3s;
   color: #fff;
   width: 100%;
   text-align: center;
}
.row-flex-form .item_fr .item-input-frm.item-input-frm__submit:hover {
   background: #e25c1d;
   cursor: pointer;
}

.text-submit-block-cl p {
   font-size: 30px;
   color: #fff;
   text-transform: uppercase;
}