//default styles

// body
//   margin: 0

.xiaomi
  width: 100%
  max-width: 1920px
  margin: 0 auto
  height: auto
  display: block
  box-sizing: border-box
  overflow: hidden
  h2
    text-align: unset
    display: block
    line-height: normal
    font-size: 34px
    font-weight: normal
    padding: 0
    margin: 0
  img
    margin: 0 auto
    opacity: 1 !important
    max-width: 100%
    display: block
    height: auto
    &:hover
      opacity: 1 !important
  ul
    list-style-type: none
    padding: 0
    margin: 0
  span
    display: block
    line-height: normal
  div
    line-height: normal

.features-desc__text
  img
    margin-bottom: 0rem

//end default styles

.hide__mob
  display: block !important
.show__mob
  display: none !important

.xiaomi .container
  width: 100%
  max-width: 100%
  margin: 0 auto

.xiaomi__title
  font-size: 85px
  font-weight: bold
.xiaomi__subtitle
  font-size: 55px
  font-weight: bold
.xiaomi__txt
  font-size: 20px
  margin-top: 20px
.xiaomi__grad
  background: linear-gradient(300deg,#43b9ff,#297fff)
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent
.xiaomi__center
  text-align: center

//section 1

.logo
  position: relative
.logo__cont
  position: absolute
  bottom: 50%
  transform: translateY(50%)
  max-width: 32vw
  // max-width: 700px
  left: 8%
.logo__icon img
  margin: 0 0 35px 0

//section 2

.display
  position: relative
.display__cont
  position: absolute
  width: 100%
  max-width: 700px
  right: 50%
  transform: translateX(50%)
  top: 10%

//section 3

.battery__cont
  width: 100%
  max-width: 1230px
  margin: 0 auto
  padding: 10% 0 5%
.battery__row
  display: flex
  max-width: 1230px
  margin: 0 auto
.battery__item__row
  display: flex
  align-items: center
  &:nth-of-type(n+2)
    margin-left: 40px
.battery__txt
  font-size: 20px
  margin-left: 10px
  strong
    font-size: 28px

//section 4

.design
  position: relative
  overflow: hidden
.design__cont
  position: absolute
  color: #fff
  width: 100%
  // max-width: 700px
  max-width: 34vw
  bottom: 50%
  right: 10%
  transform: translateY(50%)
  box-sizing: border-box
  z-index: 2
  padding-top: 10%
.btns
  display: flex
  position: absolute
  bottom: 2%
  width: 34vw
  right: 10vw
  li
    position: relative
    z-index: 2
    height: 36px
    padding: 0 5px
    display: flex
    align-items: center
    &::after
      content: ""
      display: block
      margin-left: 10px
      font-weight: bold
      line-height: normal
      font-size: 20px
      color: #fff
    &::before
      content: ""
      display: block
      cursor: pointer
      width: 36px
      min-width: 36px
      height: 36px
      padding: 0 5px
      border-radius: 50%
      box-sizing: border-box
    &:nth-of-type(1)
      &::after
        content: "Light Blue"
      &::before
        background-color: #b8deff
    &:nth-of-type(2)
      &::after
        content: "Light Green"
      &::before
        background-color: #c1dfc5
    &:nth-of-type(3)
      &::after
        content: "Black"
      &::before
        background-color: #636363
  .no__active
    &::after
      display: none
.fade
  animation-name: fade
  animation-duration: .8s
@keyframes fade
  0%
    opacity: .1
  100%
    opacity: 1
.hide__img
  display: none !important
.show__img
  display: block !important

//section 5

.camera
  position: relative
.camera__cont
  position: absolute
  width: 100%
  max-width: 70%
  right: 50%
  transform: translateX(50%)
  top: 10%

//section 6

.portrait
  padding: 100px 0
.portrait__row
  display: flex
  align-items: center
.portrait__cont,
.portrait__img
  flex: 1 1 0
  box-sizing: border-box
  max-width: 50%
.portrait__cont
  padding: 0 100px

//section 7

.hdr
  padding: 100px 0
.hdr__cont
  max-width: 1230px
  margin: 0 auto 100px
.hdr__row
  display: flex
  justify-content: space-between
  margin: 40px auto 0
  max-width: 60%
.hdr__txt
  font-size: 30px
  font-weight: bold

//section 8

.video
  padding: 100px 0
  position: relative
.video__cont
  position: absolute
  width: 100%
  max-width: 32vw
  // max-width: 630px
  bottom: 50%
  transform: translateY(50%)
  right: 16vw

//section 9

.selphy
  position: relative
.selphy__cont
  position: absolute
  width: 100%
  max-width: 1230px
  right: 50%
  transform: translateX(50%)
  padding-top: 100px
  >div
    max-width: 550px

//section 10

.storage
  padding-top: 100px
  position: relative
.storage__cont
  position: absolute
  width: 100%
  max-width: 1230px
  right: 50%
  top: 50%
  transform: translateX(50%)
  // top: 50%
  display: flex
  flex-direction: column
  justify-content: center
  padding: 4% 0
  >div
    max-width: 530px

//section 11

.OS
  position: relative
.OS__cont
  position: absolute
  width: 100%
  max-width: 1230px
  right: 50%
  bottom: 50%
  transform: translate(50%, 50%)
  >div
    max-width: 500px
    margin-left: auto

//section 12

.memory
  padding: 100px 0 40px
.memory__cont
  max-width: 1230px
  margin: 0 auto 60px
.xiaomi__note
  font-size: 16px
  color: #757575
  max-width: 1370px
  margin: 40px auto 0

//media*****************************************************

@media (max-width: 1201px)
  .xiaomi .container
    width: 960px
    padding: 0 15px
  .logo__icon img
    max-height: 40px
  .xiaomi__txt
    font-size: 16px
  .xiaomi__subtitle
    font-size: calc(32px + (42 - 32) * ((100vw - 320px) / (1201 - 320)))
  .xiaomi__title
    font-size: calc(42px + (65 - 42) * ((100vw - 320px) / (1201 - 320)))
  .battery__txt
    font-size: 16px
  .battery__txt strong
    font-size: 20px
  .hdr__row
    max-width: 90%
  .hdr__txt
    font-size: 24px
  .selphy__cont
    padding-top: 2em
    max-width: 90vw
  .selphy__cont>div
    max-width: 38vw
  .storage__cont>div
    max-width: 42vw
  .storage__cont
    max-width: 80vw
    padding: 0
  .OS__cont
    max-width: 90vw
  .OS__img img
    margin-left: -10%
    max-width: 120%
  .battery__cont,
  .storage
    padding-top: 2em
  .portrait,
  .hdr,
  .video
    padding: 2em 0
  .hdr__cont
    margin-bottom: 2em
  .hdr__row
    margin-top: 1em
  .memory
    padding: 2em 0 1em
  .xiaomi__note
    margin-top: 1em

@media (max-width: 991px)
  .xiaomi .container
    width: 720px

@media (max-width: 767px)
  .xiaomi .container
    width: 540px

@media (max-width: 576px)
  .xiaomi .container
    width: 100%
    box-sizing: border-box
  .hide__mob
    display: none !important
  .show__mob
    display: block !important
  .logo__cont
    max-width: 100%
    bottom: unset
    left: unset
    top: 2em
    transform: unset
  .logo__icon img
    margin-bottom: 0
  .xiaomi__txt
    margin-top: 10px
  .display__cont
    top: 2em
    padding: 0 15px
    box-sizing: border-box
  .battery__row
    flex-wrap: wrap
  .battery__txt
    font-size: 12px
    text-align: center
    strong
      font-size: 16px
  .battery__item__row
    padding: 0.5em
    display: block
    flex: 1 1 0
    max-width: 50%
    min-width: 50%
    box-sizing: border-box
    .xiaomi__title
      text-align: center
  .battery__item__row:nth-of-type(n+2)
    margin-left: unset
  .battery__item__row:nth-of-type(n+3)
  .battery__txt
    margin-left: unset
  .hide__img
    display: none !important
  .show__img
    display: block !important
  .design
    background: #15161a
  .design__cont
    position: unset
    transform: unset
    max-width: 100%
  .btns
    bottom: 4%
    width: max-content
    right: 50%
    transform: translateX(50%)
  .design__img
    padding-bottom: 6em
  .camera
    background-color: #f4f5f7
  .camera__cont
    position: relative
    right: unset
    top: unset
    transform: unset
    max-width: unset
    padding-top: 2em
    margin-bottom: -28%
  .camera__img img
    max-width: 150%
    margin-left: -25%
  .portrait__row
    display: block
    >div
      max-width: unset
  .portrait__cont
    padding: 2em 0 0 0
  .hdr__txt
    font-size: 18px
  .hdr__img img
    min-width: 150%
    margin-left: -25%
  .video
    background-color: #f0f1f5
    padding-bottom: 0
  .video__cont
    position: unset
    transform: unset
    max-width: unset
  .video__img img
    max-width: 200%
    margin-left: -15px
  .selphy__cont
    position: unset
    transform: unset
    padding-bottom: 1em
  .selphy__cont>div
    max-width: unset
  .selphy__img img
    min-width: 170%
    margin-left: -70%
  .storage__cont
    position: unset
    transform: unset
    padding: 0 0 2em 0
    >div
      max-width: unset
  .OS
    background-color: #eef7ff
  .OS__cont
    position: unset
    transform: unset
    max-width: unset
    padding: 2em 0 1em
  .OS__img img
    margin-left: -40%
    max-width: 300%
  .memory__img img
    max-width: 150%
    margin-left: -25%
  .logo__cont
    .xiaomi__subtitle
      font-size: 22px

@media (max-width: 321px)
  .display__cont
    top: 0
