/*default styles*/

#lg 
  max-width: 1316px
  width: 100%
  margin: 0 auto
  height: auto
  display: block
  background-color: #fff
  box-sizing: border-box
  p  
    margin-bottom: 0
    font-size: 18px
    &:first-letter
     padding-left: 0
  h2 
    display: block
    line-height: normal
    font-size: 36px
    font-weight: normal
    padding: 20px 0 10px 0
    margin: 0
  img  
    opacity: 1 
    max-width: 100% 
    display: block 
    height: auto
    &:hover  
      opacity: 1 
  ul
    list-style-type: none
    padding: 0
    margin: 0
  iframe
    max-width: 100%
  

.features-desc__text 
  img
    margin-bottom: 0rem 
.one-col .features-desc__text 
  p:first-letter
    padding-left: 0rem !important 

/*end default styles*/

#lg
  .popup_wrap 
    .show_popup
      background: rgba(0, 0, 0, .4)
      cursor: pointer
      display: none
      height: 100%
      position: fixed
      text-align: center
      top: 0
      left: 0
      width: 100%
      z-index: 10000
      .helper
        display: inline-block
        height: 100%
        vertical-align: middle
      >div
        background-color: #fff
        box-shadow: 10px 10px 60px #555
        display: inline-block
        height: auto
        max-width: max-content
        min-height: 100px
        vertical-align: middle
        width: 60%
        position: relative
      .popupCloseButton 
        background-color: #e70b0b
        color: white
        border-radius: 50px
        cursor: pointer
        display: inline-block
        font-family: arial
        position: absolute
        top: -15px
        right: -15px
        font-size: 25px
        line-height: 25px
        width: 25px
        height: 25px
        text-align: center
        &:hover
          background-color: #ccc      
    .popup_id
      cursor: pointer
      font-size: 16px
      margin: 20px
      display: inline-block
      background-color: #a40033
      padding: 5px 10px
      color: #fff
      border-radius: 8px
      &:hover
        cursor: pointer
        background-color: #710023
  .slick-prev,
  .slick-next
    padding: 0 6px;
    color: #000
    font-size: 20px
    border-radius: 50%
    background-color: #fff
    position: absolute
    &:hover
      cursor: pointer
      background-color: #dedede
  .slick-prev
    left: 40px
    z-index: 1
    top: 50%
    transform: translateY(-50%)
  .slick-next
    right: 40px
    z-index: 1
    top: 50%
    transform: translateY(-50%)
  .wins
    background-color: #fff
    .wins_txt
      color: #000
      text-align: center
      max-width: 900px
      padding: 20px
      margin: 0 auto      
  .ips
    background-color: #f8f8f8
    .ips_txt
      max-width: 900px
      margin: 0 auto
      text-align: center
      padding: 20px
    .ips_img
      img
        margin: 0 auto
  .nano
    height: 939px
    box-sizing: border-box
    padding: 70px
    background-image: url("https://cdn.comfy.ua/media/x/img/1631518/12.jpg")
    background-repeat: no-repeat
    background-position: center
    .nano_img
      display: none
    .nano_txt
      color: #fff
      max-width: 900px
      margin: 0 auto
      text-align: center
  .refresh
    .refresh_txt
      max-width: 900px
      padding: 20px
      text-align: center
      margin: 0 auto
    .refresh_img
      img
        margin: 0 auto
  .gsync
    padding: 70px
    .gsync_list
      display: flex
      flex-direction: row
      align-items: center
      &:nth-of-type(n+2)
        margin-top: 40px
      li
        flex: 1 1 0
        max-width: 50%
        box-sizing: border-box
        &:first-of-type
          padding-right: 40px
      &:nth-of-type(even)
        
        flex-direction: row-reverse
        li
          &:first-of-type
            padding-left: 40px
            padding-right: 0
    .white_bg
      background-color: #f8f8f8

    span
      display: block
      padding: 20px
  .black_bg
    background-color: #131313
    color: #fff
  .design
    padding: 70px
    height: 568px
    box-sizing: border-box
    background-image: url("https://cdn.comfy.ua/media/x/img/1631518/9.gif")
    background-repeat: no-repeat
    background-position: center right
    display: flex
    flex-direction: row
    align-items: center
    .design_img
      display: none
    .design_txt
      max-width: 470px
      margin: 0 0 0 auto
  .snoska
    span
      display: block
      padding: 20px
  .creative
    background-color: #000
    .creative_txt
      max-width: 900px         
      padding: 20px
      margin: 0 auto
      color: #fff
      text-align: center
          
    

/*media**************************************************************/


@media (max-width: 812px)
  #lg
    h2
      font-size: 28px
    p
      >strong
        font-size: 16px
    .nano
      height: auto
      padding: 0
      background-image: unset
      background-color: #000
      display: flex
      flex-direction: column-reverse
      .nano_img
        display: block
      .nano_txt
        padding: 20px
        text-align: center
        margin: 0 auto
    .gsync
      padding: 20px
    .design
        padding: 0
        background-image: unset
        height: auto
        .design_img
          display: block
        .design_txt
          max-width: 100%
          text-align: center
          padding: 20px
          margin: 0
    

  @media (max-width: 480px)
    #lg
      .wins
        .wins_txt
          position: unset
          transform: unset
          padding: 20px
      .gsync
        .gsync_list
          flex-direction: column !important
          li
            max-width: 100%
            padding: 0 0 20px 0 !important
            text-align: center
      .design
        flex-direction: column-reverse
