//default styles

// body
//   margin: 0

.oppo
  width: 100%
  max-width: 1920px
  margin: 0 auto
  height: auto
  display: block
  box-sizing: border-box
  overflow: hidden
  scroll-behavior: smooth
  img
    margin: 0 auto
    opacity: 1 !important
    max-width: 100%
    display: block
    height: auto
    &:hover
      opacity: 1 !important
  ul
    list-style-type: none
    padding: 0
    margin: 0
  span
    display: block
    line-height: normal
  div
    line-height: normal

.features-desc__text
  img
    margin-bottom: 0rem

.one-col .features-desc__text
  p:first-letter
    padding-left: 0rem !important

//end default styles

.hide__mob
  display: block !important
.show__mob
  display: none !important

.oppo .container
  width: 100%
  max-width: 100%
  margin: 0 auto

.oppo__large__title
  font-weight: bold
  font-size: 68px

.helper__title
  font-size: 32px
  font-weight: bold

.helper__txt
  font-weight: bold
  font-size: 24px
  margin-top: 24px

.helper
  background-image: url("https://cdn.comfy.ua/media/x/img/2355277/bg1.jpg")
  background-repeat: no-repeat
  background-size: cover
  background-position: center
  padding: 3em 5em 0

.helper__row
  display: flex
  align-items: center
  .helper__title
    margin-top: 12px

.helper__cont
  margin-right: 4em

@mixin wrap
  max-width: 1312px
  width: 100%
  margin: 0 auto

//section 2

.oppo__main
  padding: 80px 0

.oppo__medium__title
  font-size: 48px
  font-weight: bold

.oppo__center
  text-align: center

.oppo__right
  text-align: right

.oppo__grid
  margin-top: 48px
  display: grid
  grid-template-columns: 1fr 1fr 1fr
  grid-template-rows: 1fr 1fr
  gap: 10px 10px
  grid-template-areas: "cal1 cal2 cal3" "cal1 cal4 cal5"
  width: 100%
  max-width: 1312px
  margin-right: auto
  margin-left: auto
  .cal1
    grid-area: cal1
  .cal2
    grid-area: cal2
  .cal3
    grid-area: cal3
    .oppo__grid__txt
      color: #000
  .cal4
    grid-area: cal4
  .cal5
    grid-area: cal5
  .oppo__grid__img img
    transition: all .3s ease
  a
    text-decoration: none
    &:hover
      .oppo__grid__img img
        transform: scale(1.1)
        transition: all .3s ease

.oppo__grid__item
  position: relative
  overflow: hidden

.oppo__grid__txt
  position: absolute
  color: #fff
  font-weight: bold
  font-size: 20px
  top: 1em
  left: 1em
  z-index: 2

//section 3

.oppo__white
  color: #fff
.oppo__gray
  --tw-text-opacity: .6
  color: rgba(255,255,255,var(--tw-text-opacity))
.oppo__dark__gray
  color: #61615f

.camera__black
  background: #000
  padding: 184px 0

.camera
  --tw-bg-opacity: 1
  background-color: rgba(30,30,30,var(--tw-bg-opacity))
  .oppo__txt
    margin-top: 24px

.camera__row
  display: flex
  flex-direction: row-reverse
  align-items: center
  justify-content: center

.oppo__txt
  font-size: 18px

.camera__cont
  margin-left: -20%
  box-sizing: content-box
  max-width: 620px
  width: 100%

.camera__img
  max-width: 70%

//section 4

.editphoto
  background: #000
  padding-top: 128px
  position: relative
  .oppo__txt
    margin-top: 28px
  .slick-track
    display: flex
  .slick-list
    padding: 0 10% 0 0 !important

.editphoto__wrap
  @include wrap

.editphoto__img
  margin-top: 100px
  padding-bottom: 32px

.editphoto__slider
  width: 100%
  max-width: 1312px
  margin: 0 auto

.editphoto__slider__item
  flex: 1 1 0
  &:first-of-type
    padding-right: 40px

.editphoto__slider__item__row
  display: flex
  align-items: flex-end
  justify-content: center
  box-sizing: border-box
  >div
    &:nth-of-type(2)
      padding-right: 40px
      margin-bottom: -20px
      padding-left: 20px

.editphoto__slider__item
  &:last-of-type
    .editphoto__slider__item__row
      >div
        &:nth-of-type(2)
          padding-right: 0

.slick-slider-dots
  margin-top: 30px
  .slick-dots
    display: flex
    justify-content: center
    padding: 4px 8px
    border-radius: 16px
    border: 1px solid rgba(0,0,0,0.1)
    max-width: max-content
    margin: 0 auto
    li
      position: relative
      cursor: pointer
      width: 15px
      height: 15px
      &::before
        content: ""
        display: block
        position: absolute
        width: 8px
        min-width: 8px
        height: 8px
        border-radius: 50%
        background: #fff
        bottom: 50%
        right: 50%
        transform: translate(50%, 50%)
      button
        display: none
      &:nth-of-type(n+2)
        margin-left: 5px
    .slick-active
      &::before
        background: #656565

.arrow
  display: flex
  align-items: center
  justify-content: center
  position: absolute
  transform: translateY(50%)
  z-index: 10
  width: 40px
  height: 40px
  padding: 7px
  border-radius: 50%
  transition: all .1s cubic-bezier(0.4,0,0.2,1)
  -webkit-transition: all .1s cubic-bezier(0.4,0,0.2,1)
  box-sizing: border-box
  border: 1px solid rgba(0,0,0,0.1)
  background-color: #fff
  z-index: 2
  img
    filter: invert(1)
    width: 10px
    height: 20px
    margin: 0 auto
    position: absolute
    bottom: 50%
    right: 50%
    transform: translate(50%, 50%)
  &:hover
    background-color: #f7f7f7
    transition: background-color .1s cubic-bezier(0.4,0,0.2,1)
    -webkit-transition: background-color .1s cubic-bezier(0.4,0,0.2,1)
    cursor: pointer

.next__arrow
  left: unset
  right: 0
  transform: scale(1,1)
.prev__arrow
  transform: scale(-1, 1)
  left: 0
  right: unset

.arrows
  position: absolute
  bottom: 380px
  width: 1440px
  right: 50%
  transform: translateX(50%)
  margin: 0

.hidden
  display: none !important

.show
  display: flex !important

//section 5

.day__night
  background: #000
  padding: 80px 0
  .oppo__txt
    margin-top: 24px

.day__night__wrap
  @include wrap

.day__night__row
  display: flex
  align-items: center
  justify-content: space-between

.day__night__img
  max-width: 50%
  margin-right: 200px
  position: relative

.day__night__btns,
.hdr__btns
  position: absolute
  bottom: 10px
  left: 10px
  display: flex
  align-items: center
  color: #fff
  background-color: #ffffff4d
  backdrop-filter: blur(6px)
  border-radius: 60px
  font-size: 16px
  overflow: hidden
  padding: 2px

.day__night__btn,
.hdr__btn
  padding: 4px 12px
  cursor: pointer
  box-sizing: border-box

.active__btn
  background: #fff
  color: #000
  border-radius: 60px
  height: 30px
  // width: 30px
  display: flex
  align-items: center
  justify-content: center

.fade
  animation-name: fade
  animation-duration: 1.5s

@keyframes fade
  0%
    opacity: 0.1
  100%
    opacity: 1

//section 6

.snapshot
  background: #000
  padding: 40px 0 80px
  .oppo__txt
    margin-top: 24px

.snapshot__wrap
  @include wrap

.snapshot__row
  display: flex
  align-items: center

.snapshot__cont
  max-width: 50%

.snapshot__img
  max-width: 50%
  box-sizing: border-box
  margin-left: 100px

//section 7

.hdr
  background: #000
  color: #fff
  padding: 80px 0

.hdr__wrap
  @include wrap

.hdr__slider
  width: 487px
  margin: 0 auto

.hdr__title
  font-weight: bold
  font-size: 18px
  margin-top: 20px

.hdr__txt
  font-size: 12px
  margin-top: 8px

.hdr__slider__img
  position: relative

.hdr__row
  display: flex
  justify-content: space-between
  max-width: 800px
  height: 800px
  margin: 0 auto
  margin-top: 48px

.hdr__cal
  flex: 1 1 0
  max-width: 45%
  box-sizing: border-box
  &:nth-of-type(1)
    align-self: flex-end
  &:nth-of-type(2)
    align-self: flex-start

//section 8

.macro
  padding: 80px 0
  --tw-bg-opacity: 1
  background-color: rgba(51,51,51,var(--tw-bg-opacity))
  .oppo__txt
    max-width: 750px
    margin: 20px 0 0 auto

.macro__wrap
  @include wrap
  position: relative

.macro__row
  display: flex
  align-items: flex-end
  justify-content: space-between

.arrows__two
  display: flex
  .arrow
    position: relative
    justify-content: center
    align-items: center
    transform: unset
    background: unset
    border: solid 2px #fff
    img
      filter: invert(0)
    &:hover
      background: #5f5d5d
  .prev__arrow__two
    transform: scale(-1,1)
    margin-right: 30px

.arrow__opacity
  opacity: 0.5 !important

.macro__slider
  margin-top: 32px

.macro__slider__item
  display: flex !important
  flex-wrap: nowrap !important
  box-sizing: border-box
  >div
    &:nth-of-type(1)
      margin-right: 10px

//section 9

.design
  padding-bottom: 80px
  .oppo__large__title
    padding: 184px 0

.design__wrap
  @include wrap

.design__row
  display: flex
  margin-bottom: 40px
  >div
    flex: 1 1 0
    max-width: 50%
    box-sizing: border-box

//section 10

.case
  padding: 80px 0
  .oppo__txt
    margin-top: 40px

.case__wrap
  @include wrap

.case__row
  display: flex
  margin: 40px 120px 0
  >div
    flex: 1 1 0

.case__title
  font-size: 50px
  margin-bottom: 8px
  font-weight: bold

.case__txt
  font-size: 16px

//section 11

.light
  margin: 80px 0

.light__wrap
  @include wrap

.light__row
  display: flex

.light__cont
  max-width: 534px
  padding: 80px 32px
  margin-left: 8px
  box-sizing: border-box
  background-color: rgba(245,244,240,1)
  display: flex
  flex-direction: column
  justify-content: space-between

//section 12

.changeColor
  padding: 80px 0

.changeColor__wrap
  @include wrap

.changeColor__btn
  position: absolute
  bottom: 25%
  right: 353px
  display: flex
  li
    background: linear-gradient(180deg,#ffd585,#ff971f)
    width: 32px
    height: 32px
    border-radius: 50%
    cursor: pointer
    &:nth-of-type(1)
      color: #ffc365
    &:nth-of-type(2)
      background: linear-gradient(180deg,#5b6069,#202125)
      color: #4b4f57
      margin-left: 20px

.changeColor__btn__active
  position: relative
  &::before
    content: ""
    display: block
    position: absolute
    width: 36px
    height: 36px
    border-color: inherit
    border: solid 2px
    bottom: 50%
    right: 50%
    transform: translate(50%, 50%)
    border-radius: 50%
    box-sizing: content-box

.changeColor__slider
  margin-top: 36px
  position: relative

.changeColor__slide
  display: flex

.changeColor__img
  width: 850px

.changeColor__cont
  margin-left: 20px
  width: calc( 1312px - 850px - 20px )
  display: flex
  flex-direction: column
  justify-content: space-between
  padding-bottom: 20px

.changeColor__cont__img
  img
    height: 350px
.changeColor__orange
  background: #e2c4c6
.changeColor__black
  background: linear-gradient(180deg,#999ca2 -160.86%,#e6e6eb)

.changeColor__title
  font-weight: bold
  font-size: 28px
  margin-bottom: 12px

//section 13

.memory
  padding-bottom: 80px
  .oppo__large__title
    padding: 184px 0

.memory__wrap
  @include wrap

.memory__row
  display: flex

.memory__cont
  background-color: rgba(245,244,240,1)
  padding: 80px 32px
  display: flex
  flex-direction: column
  justify-content: space-between
  max-width: 610px
  box-sizing: border-box
  margin-right: 10px
  border-radius: 8px

//section 14

.warranty
  padding: 80px 0
  .oppo__txt
    margin-top: 116px

.warranty__wrap
  @include wrap

.warranty__cont
  background-image: url("https://cdn.comfy.ua/media/x/img/2355277/36.jpg")
  background-repeat: no-repeat
  background-position: center
  background-size: cover
  padding: 32px
  box-sizing: content-box
  >div
    width: 516px

.warranty__row
  display: flex
  margin-top: 8px

.warranty__cal
  flex: 1 1 0
  padding: 20px
  border-radius: 8px
  box-sizing: border-box
  background-color: rgba(245,244,240,1)
  &:nth-of-type(2)
    margin: 0 8px

.warranty__title
  font-weight: bold
  font-size: 40px
  margin-bottom: 48px

.warranty__txt
  font-size: 16px

//section 15

.battery
  padding: 80px 0
  .oppo__txt
    margin-top: 24px

.battery__wrap
  @include wrap

.battery__row
  display: flex
  margin-top: 40px

.battery__cal
  &:nth-of-type(2)
    margin-left: 120px

.battery__title
  font-size: 50px

.battery__txt
  font-size: 16px
  margin-top: 8px

.battery__img
  margin-top: 60px

//section 16

.amoled
  padding: 80px 0
  .oppo__txt
    margin-top: 24px

.amoled__wrap
  @include wrap

.amoled__row
  display: flex
  margin-top: 66px

.amoled__icon
  &:nth-of-type(2)
    margin-top: 66px
    max-width: 95px

.amoled__cont
  max-width: 130px
  margin-right: 100px

.amoled__icon__txt
  font-size: 12px

//section 17

.sound
  padding: 80px 0
  .oppo__txt
    margin: 24px 220px 0

.sound__wrap
  @include wrap

.sound__img
  margin-top: 60px

//section 18

.colorOS
  background-color: rgba(250,250,250,1)
  .oppo__large__title
    padding: 80px 0

.colorOS__title
  font-size: 32px
  font-weight: bold
  margin-bottom: 18px

.colorOS__row
  display: flex
  align-items: stretch

.colorOS__cal
  flex: 1 1 0
  box-sizing: border-box
  align-self: stretch
  &:nth-of-type(n+2)
    margin-left: 10px

.colorOS__img
  background: #f4f4f4
  padding-top: 40px
  img
    max-width: 225px

.colorOS__cont
  padding: 20px
  background: #fff
  min-height: 185px

//section 19

.note
  padding: 160px 0 100px
  background-color: rgba(250,250,250,1)

.note__wrap
  @include wrap

.note__txt
  li
    font-size: 12px
    &:nth-of-type(n+2)
      margin-top: 5px

//media*****************************************************

@media (max-width: 1440px)
  .helper
    padding: 0 0 0 2em
  .oppo__main,
  .day__night,
  .macro,
  .hdr,
  .snapshot,
  .case,
  .changeColor,
  .warranty,
  .battery,
  .amoled,
  .sound
    padding: 2em 0

  .light
    margin: 2em 0

  .camera__black
    padding: 8em 0

  .editphoto
    padding-top: 4em

  .editphoto__slider
    max-width: 90%

  .arrows
    width: 98%

  .day__night__img
    margin-right: 100px

  .day__night__cont,
  .macro .oppo__txt,
  .arrows__two
    padding-right: 2em

  .snapshot__cont,
  .macro__cont
    padding-left: 2em

  .design .oppo__large__title,
  .memory .oppo__large__title,
  .design .oppo__large__title
    padding: 2em 0

  .design,
  .memory
    padding-bottom: 2em

  .battery__wrap,
  .amoled__wrap,
  .design__row
    padding: 0 2em
    box-sizing: border-box

  .changeColor .oppo__medium__title
    padding: 2em

  .note
    padding: 3em 2em
    box-sizing: border-box

  .colorOS__cont
    min-height: 255px

@media (max-width: 1201px)
  .oppo .container
    width: 960px
    padding: 0 15px
  .oppo__large__title
    font-size: calc(34px + (42 - 34) * ((100vw - 320px) / (1024 - 320)))
  .oppo__medium__title
    font-size: calc(24px + (34 - 24) * ((100vw - 320px) / (1024 - 320)))
  .helper__txt
    font-size: calc(18px + (20 - 18) * ((100vw - 320px) / (1024 - 320)))
  .editphoto .slick-list
    padding: 0 0 0 0 !important
  .editphoto__slider__item:first-of-type .editphoto__slider__item__img img
    max-height: 400px
  .arrows
    bottom: 275px
    width: 90%
  .editphoto__slider
    max-width: 80%
  .day__night__img
    margin-right: 50px
  .snapshot__img
    margin-left: 50px
  .day__night__cont, .macro .oppo__txt, .arrows__two
    padding-right: 0
  .snapshot__cont, .macro__cont
    padding-left: 0
  .battery__wrap, .amoled__wrap, .design__row
    padding: 0
  .case__row
    margin: 40px 0 0
  .changeColor__cont__img img
    height: 220px
  .changeColor__btn
    bottom: 30%
    right: 227px
  .memory__cont
    max-width: 60%
    background: unset
    padding: 0
    margin-bottom: 30px
  .memory .oppo__txt
    margin-top: 24px
  .colorOS__row
    flex-wrap: wrap
  .colorOS__cal
    margin-left: 0 !important
    width: 50%
    min-width: 50%
    &:nth-of-type(n+3)
      margin-top: 10px !important
    &:nth-of-type(even)
      margin-left: 10px !important
      min-width: calc( 50% - 10px )
  .colorOS__cont
    min-height: 210px
  .helper__cont
    min-width: 45%
  .oppo__grid__txt
    font-size: 18px
  .light__cont
    padding-top: 40px
    padding-bottom: 40px

@media (max-width: 991px)
  .oppo .container
    width: 720px
  .oppo__grid__txt
    font-size: calc(14px + (20 - 14) * ((100vw - 320px) / (991 - 320)))
    top: 10px
    left: 10px

@media (max-width: 767px)
  .oppo .container
    width: 540px

@media (max-width: 576px)
  .hide__mob
    display: none !important
  .show__mob
    display: block !important
  .oppo .container
    width: 100%
    box-sizing: border-box
  .helper
    padding: 0
  .helper__row
    display: block
  .helper__cont
    margin-right: 0
    margin-bottom: 2em
  .helper__img img
    max-width: 150%
  .oppo__grid
    grid-template-columns: 1fr 1fr
    grid-template-rows: auto
    gap: 5px 5px
    grid-template-areas: "cal1 cal1" "cal2 cal3" "cal4 cal5"
    .cal1
      grid-area: cal1
      .oppo__grid__img
        max-height: 60vw
    .cal2
      grid-area: cal2
    .cal3
      grid-area: cal3
    .cal4
      grid-area: cal4
    .cal5
      grid-area: cal5

  .camera__black
    padding: 3em 15px
  .camera__row
    display: block
  .camera__cont
    margin: 0 0 20px 0
  .camera
    padding-top: 2em
  .camera__img
    max-width: 100%
    img
      max-width: 200%
      margin-left: -30%
  .editphoto
    padding-top: 2em
  .editphoto__img
    margin-top: 2em
  .arrows,
  .editphoto__img,
  .slick-slider-dots
    display: none !important
  .editphoto__slider__item:first-of-type .editphoto__slider__item__img img
    max-height: unset
  .editphoto__slider__item:first-of-type
    padding-right: 0
    margin-bottom: 10px
  .editphoto__slider__item
    &:nth-of-type(n+2)
      margin-top: 40px
  .editphoto__slider
    max-width: 100%
    padding: 0 15px
    box-sizing: border-box
  .editphoto__slider__item__row>div:nth-of-type(2)
    padding-right: 0
    padding-left: 0
    margin-bottom: 0
    margin-top: 10px
  .editphoto__slider__item__row
    flex-direction: column
    >div
      max-width: 85%
      &:nth-of-type(1)
        align-self: flex-start
  .editphoto .oppo__txt
    margin-top: 10px
  .day__night__row
    flex-direction: column-reverse
  .day__night__img
    margin-right: 0
    max-width: 100%
    margin-top: 20px
  .snapshot__row
    display: block
  .snapshot__cont,
  .snapshot__img
    max-width: 100%
  .snapshot__img
    margin-left: 0
    margin-top: 20px
  .hdr__slider
    width: 80%
    margin: auto 0 0 0
  .hdr__row
    flex-direction: column-reverse
    height: unset
  .hdr__cal
    max-width: 80%
    &:nth-of-type(1)
      align-self: flex-start
    &:nth-of-type(2)
      align-self: flex-end
      margin-bottom: 40px
  .macro__row
    display: block
  .arrows__two
    justify-content: center
    margin-top: 40px
  .macro__slider__item
    flex-direction: column
    >div
      &:nth-of-type(1)
        img
          // max-width: 200%
          max-width: 85%
          margin: auto 0 0 0
      &:nth-of-type(2)
        margin-top: 10px
        img
          max-width: 60%
          margin: 0 0 0 auto
  .design .oppo__large__title, .memory .oppo__large__title, .design .oppo__large__title
    padding: 1em
  .design__row
    display: block
    .oppo__medium__title
      margin-bottom: 20px
  .design__row>div
    max-width: 100%
  .design__img img
    max-width: 200%
    margin-left: -50%
  .case__row
    display: block
  .case__title
    font-size: 20px
  .case__cal
    &:nth-of-type(2)
      margin: 20px 0
  .light__row
    flex-direction: column-reverse
  .light__cont
    margin: 0
    padding: 0
    background: unset
    margin-bottom: 20px
  .light__img img
    max-width: 150%
    margin-left: -25%
  .changeColor .oppo__medium__title
    padding: 0
  .changeColor__slide
    display: block !important
  .show
    display: flex !important
    flex-direction: row-reverse
  .hidden
    display: none !important
  .light .oppo__txt
    margin-top: 20px
  .changeColor__img
    width: unset
  .changeColor__cont__img
    margin-bottom: 100px
    img
      height: unset
  .changeColor__cont
    margin: 0 10px 0 0
    min-width: 65%
  .changeColor__img
    background: #e2c4c6
    max-height: 140px
    padding: 0 10px
    display: flex
    align-items: flex-end
    margin-top: 70vw
    img
      max-height: 100%
  .changeColor__title
    font-size: 20px
  .changeColor__btn
    right: unset
    left: 15px
    bottom: 18vh
  .changeColor__slide:nth-of-type(2)
    .changeColor__img
      background: linear-gradient(180deg, #999ca2 -160.86%, #e6e6eb)
  .changeColor__btn li
    width: 25px
    height: 25px
  .changeColor__btn__active::before
    width: 30px
    height: 30px
  .changeColor .oppo__txt
    font-size: 14px
  .design .oppo__large__title, .memory .oppo__large__title, .design .oppo__large__title
    padding-right: 0
    padding-left: 0
  .memory__row
    display: block
  .memory__cont
    max-width: 100%
    margin-right: 0
  .warranty__cont
    background: none
    padding-right: 0
    padding-left: 0
    padding-top: 0
  .warranty__cont>div
    width: unset
  .warranty .oppo__white
    color: #000
  .warranty .oppo__gray
    color: #61615f
  .warranty .oppo__txt
    margin-top: 20px
  .warranty__img img
    min-width: 200%
    margin-left: -70%
  .warranty__row
    flex-wrap: wrap
  .warranty__cal
    padding: 10px
    &:nth-of-type(1)
      width: 50%
      min-width: calc( 50% - 5px )
      margin-right: 5px
    &:nth-of-type(2)
      width: 50%
      min-width: calc( 50% - 5px )
      margin-right: 0
      margin-left: 5px
    &:nth-of-type(3)
      width: 100%
      margin-top: 10px
  .warranty__title
    font-size: 20px
    margin-bottom: 10px
  .warranty__txt
    font-size: 14px
  .battery__title
    font-size: 20px
    font-weight: bold
  .battery__cal:nth-of-type(2)
    margin-left: 20px
  .amoled__row
    flex-direction: column-reverse
  .amoled__cont
    margin-right: 0
    display: flex
    max-width: unset
    margin-top: 20px
  .amoled__icon:nth-of-type(2)
    margin-top: unset
    margin-left: 40px
  .amoled__icon__txt
    font-size: 8px
  .amoled__img img
    max-width: 150%
  .sound .oppo__txt
    margin-right: 0
    margin-left: 0
  .colorOS .oppo__large__title
    padding: 2em 0
  .colorOS__row
    display: block
  .colorOS__cal
    width: 100%
  .colorOS__cal:nth-of-type(n+2)
    margin: 10px 0 0 0 !important
  .colorOS__title
    font-size: 20px
  .colorOS__cont
    min-height: unset
  .note
    padding: 2em 0
  .amoled__icon
    img
      max-height: 100px
