/****** default style ******/

#wrapper-zeus-sport {
   max-width: 1316px;
   width: 100%;
   display: block;
   margin: 0 auto;
   background: #fff;
}

#wrapper-zeus-sport p:first-letter {
   padding-left: 0;
}

#wrapper-zeus-sport p {
   margin-bottom: 0;
   max-width: 1200px;
   margin: 0 auto;
   display: block;
   padding: 10px 15px;
}

#wrapper-zeus-sport img:hover {
   opacity: 1;
}

#wrapper-zeus-sport img {
   opacity: 1;
   max-width: 100%;
}

.default_style h1 {
   font-size: 6rem;
   margin: 0 0 15px 0;
   line-height: 1;
}

.default_style h2 {
   font-size: 3.8rem;
   margin: 0 0 15px 0;
   line-height: 1;
   text-transform: uppercase;
}

.default_style p {
   font-size: 2.3rem;
}

.features-desc__text img {
   margin-bottom: 0rem !important;
}

.one-col .features-desc__text p:first-letter {
   padding-left: 0rem !important;
}
.linebl {
   border-bottom: 2px solid red;
   display: block;
}

/****** default style END ******/

/* container-zeus-sport */

.container-zeus-sport {}
.row-zeus-sport-flex {
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: horizontal;
   -webkit-box-direction: normal;
   -webkit-flex-direction: row;
       -ms-flex-direction: row;
           flex-direction: row;
   -webkit-box-align: center;
   -webkit-align-items: center;
       -ms-flex-align: center;
           align-items: center;
}
.row-zeus-sport-flex .item { -webkit-box-flex: 1; -webkit-flex: 1 1 0; -ms-flex: 1 1 0px; flex: 1 1 0; }
.row-zeus-sport-flex .item:last-child { padding: 0px 15px 0 15px; }
.row-zeus-sport-flex .item .linebl {
   margin-bottom: 15px;
}
.row-zeus-sport-flex .item h1 {
   
}
.row-zeus-sport-flex .item p {
   font-size: 2.4rem;
}

.defstyle {
   max-width: 1200px;
   margin: 0 auto;
}

/* container-zeus-sport END */

/* container-h2-block DEFAULT */

.container-h2-block {padding: 5rem 0;}
.container-h2-block h2 {text-align: center;}
.container-h2-block span.linebl {
   max-width: 500px;
   width: 100%;
   padding: 0 15px;
   margin: 0 auto;
}

/* container-h2-block DEFAULT END */

/* container-zeus-sport-posadka */

.container-zeus-sport-posadka {}
.row-zeus-sport-posadka {}
.content-zeus-sport-posadka-flex {
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: horizontal;
   -webkit-box-direction: normal;
   -webkit-flex-direction: row;
       -ms-flex-direction: row;
           flex-direction: row;
   -webkit-box-align: center;
   -webkit-align-items: center;
       -ms-flex-align: center;
           align-items: center;
}
.content-zeus-sport-posadka-flex .item {
   -webkit-box-flex: 1;
   -webkit-flex: 1 1 0;
       -ms-flex: 1 1 0px;
           flex: 1 1 0;
}
.content-zeus-sport-posadka-flex .item:first-child p { text-align: left;padding: 0 15px;}
.content-zeus-sport-posadka-flex .item .container-col-right-flex-clmn {
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: horizontal;
   -webkit-box-direction: normal;
   -webkit-flex-direction: row;
       -ms-flex-direction: row;
           flex-direction: row;
   -webkit-box-align: start;
   -webkit-align-items: flex-start;
       -ms-flex-align: start;
           align-items: flex-start;
   -webkit-justify-content: space-around;
       -ms-flex-pack: distribute;
           justify-content: space-around;
}
.content-zeus-sport-posadka-flex .item .container-col-right-flex-clmn:first-child {margin-bottom: 15px;}
.content-zeus-sport-posadka-flex .item .container-col-right-flex-clmn .item {
   -webkit-box-flex: 1;
   -webkit-flex: 1 1 0;
       -ms-flex: 1 1 0px;
           flex: 1 1 0;
   max-width: 250px;
   width: 100%;
}
.content-zeus-sport-posadka-flex .item .container-col-right-flex-clmn .item img {padding-bottom: 15px;display: block;margin: 0 auto;}
.content-zeus-sport-posadka-flex .item .container-col-right-flex-clmn .item p {
   font-size: 2rem;
}

/* container-zeus-sport-posadka END */

/* container-sound */

.container-sound {}
.row-sound {position: relative;}
.row-sound.bg_img1 {
   background-image: url(https://cdn.comfy.ua/media/x/img/1246472/5.png);
   background-position: top;
   background-repeat: no-repeat;
   -webkit-background-size: cover;
           background-size: cover;
   position: relative;
   width: 100%;
   height: 875px;
}
.content-sound-pos_abs {
   position: absolute;
   top: 25rem;
   right: 0;
   max-width: 560px;
   width: 100%;
}
.content-sound-pos_abs p {
   background: #79004f;
   color: #fff;
   font-size: 4rem;
   text-align: center;
   -webkit-border-radius: 40px 0 0 40px;
           border-radius: 40px 0 0 40px;
   padding: 10px 15px;
   width: 100%;
   font-weight: bold;
   line-height: 1;
}
.content-sound-pos_abs p:first-child {
   margin-bottom: 25px !important;
   display: block;
}

/* container-sound END */

/* container-element */

.container-element {}
.row-element {}
.row-element.bg_img2 {
   background-image: url(https://cdn.comfy.ua/media/x/img/1246472/6.png);
   background-position: center;
   background-repeat: no-repeat;
   -webkit-background-size: cover;
           background-size: cover;
   position: relative;
   width: 100%;
   height: 450px;
   max-width: 530px;
   margin: 60px auto;
   z-index: 8;
}

.pos_abs {
   position: absolute;
}
.pos_abs p {text-align: left; font-size: 1.5rem !important;}
.content-element-bl1 {
   left: 0;
   top: -7rem;
}
.content-element-bl2 {
   left: 17rem;
   top: -4rem;
}
.content-element-bl3 {
   right: 6rem;
   top: 1rem;
}
.content-element-bl4 {
   left: 0;
   top: 13rem;
}
.content-element-bl5 {
   left: 0;
   bottom: 16rem;
}
.content-element-bl6 {
   right: 0;
   bottom: -70px;
}

/* container-element END */

/* container-footerbl-fl */

.container-footerbl-fl {}
.row-footerbl-fl {
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: horizontal;
   -webkit-box-direction: normal;
   -webkit-flex-direction: row;
       -ms-flex-direction: row;
           flex-direction: row;
   -webkit-box-align: center;
   -webkit-align-items: center;
       -ms-flex-align: center;
           align-items: center;

}
.row-footerbl-fl .item { -webkit-box-flex: 1; -webkit-flex: 1 1 0; -ms-flex: 1 1 0px; flex: 1 1 0; }
.row-footerbl-fl .item p {
   font-size: 2rem;
}
.row-footerbl-fl .item img {display: block; margin: 0;}

/* container-footerbl-fl END */

@media screen and (min-width: 320px) and (max-width: 480px) {

  .row-footerbl-fl {-webkit-box-orient: vertical;-webkit-box-direction: normal;-webkit-flex-direction: column;-ms-flex-direction: column;flex-direction: column;}
  .row-element {display: none;}
  .row-sound.bg_img1 {
     height: 550px;
  }
  .content-sound-pos_abs p {font-size: 3rem;}
  .content-sound-pos_abs { top: 3rem;}
  .default_style h2 {
      font-size: 3rem;
  }
  .content-zeus-sport-posadka-flex {
     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
     -webkit-flex-direction: column;
         -ms-flex-direction: column;
             flex-direction: column;
  }
  .content-zeus-sport-posadka-flex .item .container-col-right-flex-clmn {
     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
     -webkit-flex-direction: column;
         -ms-flex-direction: column;
             flex-direction: column;
  }
  .content-zeus-sport-posadka-flex .item .container-col-right-flex-clmn .item {
     max-width: 100%;
  }
  .row-zeus-sport-flex {
     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
     -webkit-flex-direction: column;
         -ms-flex-direction: column;
             flex-direction: column;
  }
  .default_style h2 {
      font-size: 2.7rem;
      margin: 0 15px 15px 15px;
  }
  .content-zeus-sport-posadka-flex .item:first-child p {
      text-align: left;
      padding: 0 15px;
   }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
   .row-footerbl-fl .item p {
      font-size: 3rem;
      line-height: 1.3;
  }
  .row-footerbl-fl {-webkit-box-orient: vertical;-webkit-box-direction: normal;-webkit-flex-direction: column;-ms-flex-direction: column;flex-direction: column;}
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
   .row-footerbl-fl .item p {
      font-size: 3rem;
      line-height: 1.3;
  }
}
