//default styles

// body
//    margin: 0

.breadcrumbs
   display: none

.apple__wrap
   width: 100vw
   max-width: 100%
   background: #F5F5F7

.apple
   font-family: sans-serif
   max-width: 1440px
   width: 100%
   margin: 0 auto
   height: auto
   display: block
   box-sizing: border-box
   overflow: hidden
   background: #F5F5F7
   padding: 2em 0
   img
      margin: 0 auto
      opacity: 1 !important
      max-width: 100%
      display: block
      height: auto
      &:hover
         opacity: 1 !important
   div
      line-height: normal

.features-desc__text
   img
      margin-bottom: 0rem

//end default styles

.apple .container
   width: 100%
   max-width: 100%
   margin: 0 auto

.apple__grid
   display: flex
   flex-direction: column
   justify-content: center
   align-items: center
   gap: 56px
   text-align: center

.cal1
   grid-area: cal1
   display: flex
   align-items: flex-end
   gap: 11px
   text-align: left

.cal2
   grid-area: cal2

.apple__i__txt
   font-size: 14px
   font-weight: bold

.apple__title
   font-size: 48px
   font-weight: bold
   margin-bottom: 24px

.apple__txt
   font-size: 32px
   a
      text-decoration: underline
      color: #000

//media*****************************************************

@media (max-width: 1201px)
   .apple .container
      width: 960px
      padding: 0 15px

   .apple__grid
      grid-template-columns: 1fr 1.3fr
      gap: 2em 0

   .apple__title
      font-size: 32px
   .apple__txt
      font-size: 24px

@media (max-width: 991px)
   .apple .container
      width: 720px

   .apple
      padding: 30px 0 40px

   .apple__grid
      grid-template-columns: 1fr
      grid-template-areas: "cal1" "cal3" "cal2"

   .cal1
      justify-content: center
   .cal2
      text-align: center

   .apple__txt
      font-size: 18px
   .apple__title
      margin-bottom: 4px
      font-size: 30px

@media (max-width: 767px)
   .apple .container
      width: 540px

@media (max-width: 576px)
   .apple .container
      width: 100%
      box-sizing: border-box
