/*default styles*/
#kenwood {
  max-width: 1316px;
  width: 100%;
  margin: 0 auto;
  height: auto;
  display: block;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

#kenwood p {
  margin-bottom: 0;
  margin: 0;
  text-align: unset;
  font-size: 22px;
  line-height: normal;
}

#kenwood p:first-letter {
  padding-left: 0;
}

#kenwood h2 {
  display: block;
  line-height: normal;
  font-size: 44px;
  font-weight: bold;
  padding: 0;
  margin: 0;
  text-align: unset;
}

#kenwood img {
  opacity: 1;
  max-width: 100%;
  display: block;
  height: auto;
}

#kenwood img:hover {
  opacity: 1;
}

#kenwood ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#kenwood span {
  display: block;
  line-height: normal;
}

.features-desc__text img {
  margin-bottom: 0rem;
}

.one-col .features-desc__text p:first-letter {
  padding-left: 0rem !important;
}

/*end default styles*/
#kenwood .show__tab {
  display: none;
}

#kenwood .shef {
  position: relative;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url("https://cdn.comfy.ua/media/x/img/1762880/1bg.jpg");
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#kenwood .shef .shef__abs {
  position: absolute;
  left: 108px;
  top: 55px;
}

#kenwood .shef .shef__abs span {
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
}

#kenwood .shef > div,
#kenwood .shef .shef__list {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
     -moz-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  max-width: 50%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#kenwood .shef .shef__img {
  padding-right: 30px;
}

#kenwood .shef .shef__list {
  color: #fff;
  padding-left: 108px;
}

#kenwood .shef .shef__list li {
  max-width: 363px;
}

#kenwood .shef .shef__list li .shef__title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 12px;
  font-size: 24px;
}

#kenwood .shef .shef__list li .shef__title::before {
  content: "";
  display: block;
  min-width: 48px;
  height: 48px;
  background-image: url("https://cdn.comfy.ua/media/x/img/1508149/icon1.svg");
  margin-right: 15px;
}

#kenwood .shef .shef__list li .shef__txt p {
  font-size: 18px;
}

#kenwood .shef .shef__list li:nth-of-type(2) {
  margin-top: 83px;
}

#kenwood .shef .shef__list li:nth-of-type(2) .shef__title::before {
  background-image: url("https://cdn.comfy.ua/media/x/img/1508149/icon2.svg");
}

#kenwood .shef__reverse {
  background-image: url("https://cdn.comfy.ua/media/x/img/1508149/2bg.png");
  background-color: #505050;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
     -moz-box-orient: horizontal;
     -moz-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

#kenwood .shef__reverse .shef__list {
  padding-left: 0;
  padding-right: 124px;
}

#kenwood .shef__reverse .shef__list li {
  margin: 0 0 0 auto;
}

#kenwood .shef__reverse .shef__list li .shef__title::before {
  background-image: url("https://cdn.comfy.ua/media/x/img/1508149/icon3.svg");
}

#kenwood .shef__reverse .shef__list li:nth-of-type(2) .shef__title::before {
  background-image: url("https://cdn.comfy.ua/media/x/img/1508149/icon4.svg");
}

#kenwood .func {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url("https://cdn.comfy.ua/media/x/img/1508149/4bg.png");
  background-position: top left;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
     -moz-box-orient: horizontal;
     -moz-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

#kenwood .func .func__abs {
  position: absolute;
  color: #fff;
  left: 108px;
  top: 80px;
}

#kenwood .func .func__list,
#kenwood .func .func__img {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
     -moz-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  max-width: 50%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#kenwood .func .func__img img {
  margin: 0 0 0 auto;
}

#kenwood .func .func__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding-right: 30px;
  padding-left: 83px;
  margin-top: 300px;
  margin-bottom: 76px;
  -webkit-box-flex: 1.5;
  -webkit-flex: 1.5;
     -moz-box-flex: 1.5;
      -ms-flex: 1.5;
          flex: 1.5;
  max-width: 100%;
}

#kenwood .func .func__list li {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
     -moz-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  max-width: 50%;
  min-width: 50%;
  padding: 0 25px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#kenwood .func .func__list li .func__txt p {
  font-size: 18px;
  color: #fff;
  line-height: 25.2px;
}

#kenwood .func .func__list li .func__title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

#kenwood .func .func__list li .func__title p {
  font-size: 24px;
  color: #fff;
}

#kenwood .func .func__list li .func__title::before {
  content: "";
  display: block;
  min-width: 48px;
  height: 48px;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: contain;
     -moz-background-size: contain;
       -o-background-size: contain;
          background-size: contain;
  background-image: url("https://cdn.comfy.ua/media/x/img/1587737/icon5.svg");
  margin-right: 15px;
}

#kenwood .func .func__list li:nth-of-type(2) .func__title::before {
  background-image: url("https://cdn.comfy.ua/media/x/img/1508149/icon6.svg");
}

#kenwood .func .func__list li:nth-of-type(3) .func__title::before {
  background-image: url("https://cdn.comfy.ua/media/x/img/1508149/icon7.svg");
}

#kenwood .func .func__list li:nth-of-type(4) .func__title::before {
  background-image: url("https://cdn.comfy.ua/media/x/img/1508149/icon8.svg");
}

#kenwood .func .func__list li:nth-of-type(n+3) {
  margin-top: 30px;
}

#kenwood .cooking {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  margin: 30px 30px 30px 108px;
  background-image: url("https://cdn.comfy.ua/media/x/img/1607383/3.jpg");
  background-position: right;
  background-repeat: no-repeat;
  height: 660px;
}

#kenwood .cooking .cooking__txt {
  padding-top: 50px;
}

#kenwood .cooking .cooking__txt h2 {
  margin-bottom: 60px;
}

#kenwood .cooking .cooking__txt p {
  display: block;
  max-width: 321px !important;
  line-height: 30.8px;
}

#kenwood .british {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  margin: 30px 30px 30px 108px;
  background-image: url("https://cdn.comfy.ua/media/x/img/1607383/5.jpg");
  background-position: right;
  background-repeat: no-repeat;
  height: 660px;
}

#kenwood .british .british__txt {
  padding-top: 50px;
}

#kenwood .british .british__txt h2 {
  margin-bottom: 60px;
}

#kenwood .british .british__txt p {
  display: block;
  max-width: 321px !important;
  line-height: 30.8px;
}

#kenwood .nasadki {
  background-image: url("https://cdn.comfy.ua/media/x/img/1762880/6bg.jpg");
  background-position: center;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  padding: 80px 0 80px 108px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

#kenwood .nasadki .nasadki__flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #fff;
}

#kenwood .nasadki .nasadki__flex > div {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
     -moz-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
}

#kenwood .nasadki .nasadki__flex .nasadki__cont {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
     -moz-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  margin-right: 20px;
}

#kenwood .nasadki .nasadki__flex .nasadki__cont .nasadki__list {
  margin-top: 75px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

#kenwood .nasadki .nasadki__flex .nasadki__cont .nasadki__list li {
  max-width: 33.33%;
  min-width: 33.33%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#kenwood .nasadki .nasadki__flex .nasadki__cont .nasadki__list li::before {
  content: "";
  display: block;
  min-width: 160px;
  height: 220px;
  background-image: url("https://cdn.comfy.ua/media/x/img/1607383/icon5.png");
  margin-right: 15px;
}

#kenwood .nasadki .nasadki__flex .nasadki__cont .nasadki__list li .nasadki__list__txt p {
  font-size: 18px;
  line-height: 25.2px;
}

#kenwood .nasadki .nasadki__flex .nasadki__cont .nasadki__list li .nasadki__list__txt p > strong {
  font-size: 24px;
  margin-bottom: 12px;
  display: block;
}

#kenwood .nasadki .nasadki__flex .nasadki__cont .nasadki__list li:nth-of-type(n+4) {
  margin-top: 60px;
}

#kenwood .nasadki .nasadki__flex .nasadki__cont .nasadki__list li:nth-of-type(1)::before {
  display: none;
}

#kenwood .nasadki .nasadki__flex .nasadki__cont .nasadki__list li:nth-of-type(2)::before {
  background-image: url("https://cdn.comfy.ua/media/x/img/1607383/icon1.png");
}

#kenwood .nasadki .nasadki__flex .nasadki__cont .nasadki__list li:nth-of-type(3)::before {
  background-image: url("https://cdn.comfy.ua/media/x/img/1607383/icon2.png");
}

#kenwood .nasadki .nasadki__flex .nasadki__cont .nasadki__list li:nth-of-type(4)::before {
  background-image: url("https://cdn.comfy.ua/media/x/img/1607383/icon3.png");
}

#kenwood .nasadki .nasadki__flex .nasadki__cont .nasadki__list li:nth-of-type(5)::before {
  background-image: url("https://cdn.comfy.ua/media/x/img/1607383/icon4.png");
}

#kenwood .nasadki .nasadki__flex .nasadki__cont .nasadki__list li:nth-of-type(7)::before {
  background-image: url("https://cdn.comfy.ua/media/x/img/1607383/icon6.png");
}

#kenwood .nasadki .nasadki__flex .nasadki__cont .nasadki__list li:nth-of-type(8)::before {
  background-image: url("https://cdn.comfy.ua/media/x/img/1607383/icon7.png");
}

#kenwood .nasadki .nasadki__flex .nasadki__cont .nasadki__list li:nth-of-type(9)::before {
  background-image: url("https://cdn.comfy.ua/media/x/img/1607383/icon8.png");
}

#kenwood .family {
  background-color: #1F3A4B;
}

#kenwood .family .family__wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #fff;
  padding: 80px 66px 25px 108px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#kenwood .family .family__wrap .family__main__title {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#kenwood .family .family__wrap .family__list {
  -webkit-box-flex: 1.3;
  -webkit-flex: 1.3;
     -moz-box-flex: 1.3;
      -ms-flex: 1.3;
          flex: 1.3;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

#kenwood .family .family__wrap .family__list li {
  min-width: 50%;
  max-width: 50%;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#kenwood .family .family__wrap .family__list li .family__title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 12px;
}

#kenwood .family .family__wrap .family__list li .family__title p {
  font-size: 24px;
}

#kenwood .family .family__wrap .family__list li .family__title::before {
  content: "";
  display: block;
  min-width: 48px;
  height: 48px;
  -webkit-background-size: contain;
     -moz-background-size: contain;
       -o-background-size: contain;
          background-size: contain;
  background-image: url("https://cdn.comfy.ua/media/x/img/1508149/icon10.svg");
  margin-right: 20px;
}

#kenwood .family .family__wrap .family__list li .family__txt {
  padding-left: 68px;
}

#kenwood .family .family__wrap .family__list li .family__txt p {
  font-size: 18px;
}

#kenwood .family .family__wrap .family__list li:nth-of-type(2) .family__title::before {
  background-image: url("https://cdn.comfy.ua/media/x/img/1587737/icon11.svg");
}

#kenwood .family .family__wrap .family__list li:nth-of-type(3) .family__title::before {
  background-image: url("https://cdn.comfy.ua/media/x/img/1587737/icon12.svg");
}

#kenwood .family .family__wrap .family__list li:nth-of-type(4) .family__title::before {
  background-image: url("https://cdn.comfy.ua/media/x/img/1508149/icon13.svg");
}

#kenwood .family .family__wrap .family__list li:nth-of-type(n+3) {
  margin-top: 60px;
}

#kenwood .family .family__img img {
  margin: 0 auto;
}

@media (max-width: 1024px) {
  #kenwood .family .family__wrap {
    padding: 1em;
  }
  #kenwood .family .family__wrap .family__main__title {
    -webkit-box-flex: 1.2;
    -webkit-flex: 1.2;
       -moz-box-flex: 1.2;
        -ms-flex: 1.2;
            flex: 1.2;
  }
  #kenwood .func .func__list {
    padding-right: 0;
    -webkit-box-flex: 1.5;
    -webkit-flex: 1.5;
       -moz-box-flex: 1.5;
        -ms-flex: 1.5;
            flex: 1.5;
    padding-left: 0;
  }
  #kenwood .func .func__abs {
    left: 1em;
  }
  #kenwood .cooking,
  #kenwood .british {
    margin: 30px;
  }
  #kenwood .nasadki {
    padding: 80px 0 80px 1em;
  }
  #kenwood .nasadki .nasadki__flex .nasadki__cont {
    -webkit-box-flex: 3;
    -webkit-flex: 3;
       -moz-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
  }
  #kenwood .nasadki .nasadki__flex .nasadki__img {
    -webkit-align-self: center;
        -ms-flex-item-align: center;
                -ms-grid-row-align: center;
            align-self: center;
  }
  #kenwood .func .func__list li {
    padding: 0 24px;
  }
  #kenwood .shef .shef__list {
    padding-left: 1em;
  }
  #kenwood .shef .shef__abs {
    left: 1em;
    top: 1em;
  }
  #kenwood .shef__reverse {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: reverse !important;
    -webkit-flex-direction: row-reverse !important;
       -moz-box-orient: horizontal !important;
       -moz-box-direction: reverse !important;
        -ms-flex-direction: row-reverse !important;
            flex-direction: row-reverse !important;
  }
  #kenwood .shef__reverse .shef__list {
    padding-right: 1em;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -webkit-flex-direction: column !important;
       -moz-box-orient: vertical !important;
       -moz-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    display: block;
    -webkit-box-flex: 3;
    -webkit-flex: 3;
       -moz-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
  }
  #kenwood .shef__reverse .shef__list li {
    max-width: 100% !important;
  }
  #kenwood .shef__reverse .shef__list li:nth-of-type(2) {
    margin-left: 0 !important;
    margin-top: 50px !important;
  }
}

@media (max-width: 812px) {
  #kenwood .family .family__wrap .family__main__title h2 > br {
    display: none;
  }
  #kenwood .family .family__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #kenwood .family .family__wrap .family__list li:nth-of-type(odd) {
    padding-left: 0;
  }
  #kenwood .family .family__wrap .family__list li:nth-of-type(even) {
    padding-right: 0;
  }
  #kenwood .family .family__wrap .family__list {
    margin-top: 30px;
  }
  #kenwood .family .family__wrap .family__list li .family__title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
       -moz-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 8px;
  }
  #kenwood .family .family__wrap .family__list li .family__title::before {
    margin-right: 0;
    margin-bottom: 15px;
  }
  #kenwood .family .family__wrap .family__list li .family__txt {
    padding-left: 0;
  }
  #kenwood .hide__tab {
    display: none;
  }
  #kenwood .show__tab {
    display: block;
  }
  #kenwood .shef {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 1em;
  }
  #kenwood .shef > div, #kenwood .shef .shef__list {
    max-width: 100%;
  }
  #kenwood .shef .shef__txt {
    padding-left: 1em;
  }
  #kenwood .shef .shef__txt span {
    font-size: 32px;
  }
  #kenwood .shef .shef__abs {
    left: 1em;
    position: unset;
  }
  #kenwood .shef .shef__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 2em 0;
  }
  #kenwood .shef .shef__list li {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 0;
       -moz-box-flex: 1;
        -ms-flex: 1 1 0px;
            flex: 1 1 0;
    max-width: 50%;
  }
  #kenwood .shef .shef__list li:nth-of-type(2) {
    margin-top: 0;
    margin-left: 1em;
  }
  #kenwood .func .func__list, #kenwood .func .func__img {
    margin-left: 0;
  }
  #kenwood .func .func__abs {
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
       -moz-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    position: unset;
    padding: 1em 1em 0 1em;
    -webkit-align-self: start;
        -ms-flex-item-align: start;
                -ms-grid-row-align: start;
            align-self: start;
  }
  #kenwood .func .func__list {
    max-width: 100%;
    -webkit-box-flex: 6;
    -webkit-flex: 6;
       -moz-box-flex: 6;
        -ms-flex: 6;
            flex: 6;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
       -moz-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  #kenwood .func .func__img {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
       -moz-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  #kenwood .func {
    background-image: unset;
    background-color: #212121;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #kenwood .cooking,
  #kenwood .british {
    background-image: unset;
    height: auto;
    margin: 0;
  }
  #kenwood .cooking .cooking__txt,
  #kenwood .british .british__txt {
    padding: 1em;
    margin: 0;
  }
  #kenwood .cooking .cooking__txt h2,
  #kenwood .british .british__txt h2 {
    font-size: 32px;
  }
  #kenwood .cooking .cooking__txt p,
  #kenwood .british .british__txt p {
    max-width: 100% !important;
  }
  #kenwood .cooking .cooking__txt {
    margin-bottom: -40%;
    position: relative;
  }
  #kenwood h2 {
    font-size: 34px;
  }
  #kenwood .nasadki {
    padding: 1em 0 1em 1em;
  }
  #kenwood .nasadki .nasadki__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #kenwood .nasadki .nasadki__flex .nasadki__img {
    -webkit-align-self: unset;
        -ms-flex-item-align: unset;
                -ms-grid-row-align: unset;
            align-self: unset;
    margin-bottom: -8%;
  }
  #kenwood .nasadki .nasadki__flex .nasadki__img img {
    max-width: 40%;
  }
  #kenwood .nasadki .nasadki__flex .nasadki__cont .nasadki__list li::before {
    -webkit-background-size: contain;
       -moz-background-size: contain;
         -o-background-size: contain;
            background-size: contain;
    background-repeat: no-repeat;
    min-width: 130px;
  }
  #kenwood .nasadki .nasadki__flex .nasadki__cont h2 {
    text-align: center;
  }
  #kenwood .cooking .cooking__txt h2 > br {
    display: none;
  }
  #kenwood .nasadki .nasadki__flex .nasadki__cont .nasadki__list li {
    min-width: 50%;
    max-width: 50%;
  }
  #kenwood .nasadki .nasadki__flex .nasadki__cont .nasadki__list li:nth-of-type(n+3) {
    margin-top: 60px;
  }
}

@media (max-width: 480px) {
  #kenwood p {
    line-height: 16.9px !important;
  }
  #kenwood .shef {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: unset;
    -webkit-align-items: unset;
       -moz-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
    padding-top: 0;
    background-image: unset;
    background-color: #505050;
  }
  #kenwood .shef .shef__abs {
    position: unset;
  }
  #kenwood .shef .shef__abs span {
    font-size: 13px;
    padding: 20px 15px;
    font-weight: normal;
  }
  #kenwood .shef > div {
    max-width: 100%;
  }
  #kenwood .shef .shef__txt {
    padding: 0 15px;
  }
  #kenwood .shef .shef__img {
    padding: 20px 15px 0 15px;
  }
  #kenwood .shef .shef__txt span {
    max-width: 266px;
  }
  #kenwood .shef .shef__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 0 28px 0;
  }
  #kenwood .shef .shef__list li:nth-of-type(2) {
    margin-top: 30px;
    margin-left: 0;
  }
  #kenwood .shef .shef__list li .shef__title::before {
    min-width: 38px;
    height: 38px;
    margin-right: 10px;
    -webkit-background-size: contain;
       -moz-background-size: contain;
         -o-background-size: contain;
            background-size: contain;
  }
  #kenwood .shef .shef__list li .shef__title p {
    font-size: 14px !important;
  }
  #kenwood .shef .shef__list li {
    max-width: 100%;
  }
  #kenwood .shef .shef__txt {
    padding-left: 0;
  }
  #kenwood .shef .shef__list li .shef__txt p {
    font-size: 13px;
  }
  #kenwood .func {
    padding: 0;
  }
  #kenwood .func .func__abs {
    padding-top: 40px;
    padding-right: 15px;
    padding-left: 15px;
  }
  #kenwood .func .func__abs h2 {
    font-size: 22px;
  }
  #kenwood .func .func__abs h2 > br {
    display: none;
  }
  #kenwood .func .func__list li .func__title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
       -moz-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  #kenwood .func .func__list li .func__title::before {
    margin-right: 0 !important;
    margin-bottom: 15px;
  }
  #kenwood .func .func__list li .func__title p {
    font-size: 16px;
  }
  #kenwood .func .func__list li .func__title::before {
    min-width: 38px;
    height: 38px;
    margin-right: 10px;
  }
  #kenwood .func .func__list li .func__txt p {
    font-size: 13px;
  }
  #kenwood .func .func__list li {
    padding-right: 15px;
    padding-left: 15px;
  }
  #kenwood .func .func__img {
    max-width: 100%;
  }
  #kenwood .cooking .cooking__txt h2,
  #kenwood .british .british__txt h2 {
    font-size: 22px;
    margin-bottom: 20px;
  }
  #kenwood .cooking .cooking__txt,
  #kenwood .british .british__txt {
    padding: 40px 15px 0 15px;
  }
  #kenwood .cooking .cooking__txt p,
  #kenwood .british .british__txt p {
    font-size: 13px;
    max-width: 240px;
  }
  #kenwood h2 {
    font-size: 26px;
  }
  #kenwood .nasadki .nasadki__flex .nasadki__cont h2 {
    font-size: 22px;
    text-align: left;
  }
  #kenwood .nasadki .nasadki__flex .nasadki__cont h2 > br {
    display: none;
  }
  #kenwood .nasadki {
    padding: 0;
  }
  #kenwood .nasadki .nasadki__flex .nasadki__cont {
    margin-right: 0;
    padding: 40px 15px 10px 15px;
  }
  #kenwood .nasadki .nasadki__flex .nasadki__cont .nasadki__list {
    margin-top: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #kenwood .nasadki .nasadki__flex .nasadki__cont .nasadki__list li {
    -webkit-box-pack: unset;
    -webkit-justify-content: unset;
       -moz-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    -webkit-box-align: unset;
    -webkit-align-items: unset;
       -moz-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
  }
  #kenwood .nasadki .nasadki__flex .nasadki__cont .nasadki__list li:nth-of-type(odd) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
       -moz-box-orient: horizontal;
       -moz-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  #kenwood .nasadki .nasadki__flex .nasadki__cont .nasadki__list li:nth-of-type(2) {
    margin-top: 30px !important;
  }
  #kenwood .nasadki .nasadki__flex .nasadki__cont .nasadki__list li::before {
    max-width: 115px;
    min-width: 115px;
    max-height: 132px;
  }
  #kenwood .nasadki .nasadki__flex .nasadki__cont .nasadki__list li {
    max-width: 100%;
  }
  #kenwood .nasadki .nasadki__flex .nasadki__cont .nasadki__list li .nasadki__list__txt p {
    font-size: 13px;
  }
  #kenwood .nasadki .nasadki__flex .nasadki__cont .nasadki__list li .nasadki__list__txt p > strong {
    font-size: 16px;
    margin-bottom: 8px;
  }
  #kenwood .nasadki .nasadki__flex .nasadki__cont .nasadki__list li .nasadki__list__txt p > strong > br {
    display: none;
  }
  #kenwood .nasadki .nasadki__flex .nasadki__cont .nasadki__list li:nth-of-type(even)::before {
    margin-right: 10px;
  }
  #kenwood .nasadki .nasadki__flex .nasadki__cont .nasadki__list li:nth-of-type(odd)::before {
    margin-right: 0;
    margin-left: 10px;
  }
  #kenwood .nasadki .nasadki__flex .nasadki__cont .nasadki__list li:nth-of-type(n+2) {
    margin-top: 60px;
  }
  #kenwood .nasadki {
    background-image: unset;
    background-color: #212121;
  }
  #kenwood .nasadki .nasadki__flex .nasadki__img img {
    max-width: 74%;
  }
  #kenwood .nasadki .nasadki__flex .nasadki__img {
    margin-bottom: -14%;
  }
  #kenwood .shef__reverse {
    background-color: #212121;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #kenwood .shef__reverse .shef__img {
    padding: 0;
  }
  #kenwood .shef__reverse .shef__list {
    -webkit-box-flex: 2.5;
    -webkit-flex: 2.5;
       -moz-box-flex: 2.5;
        -ms-flex: 2.5;
            flex: 2.5;
    margin: 28px 0;
    padding-left: 9px;
  }
  #kenwood .shef__reverse .shef__list li:nth-of-type(2) {
    margin-top: 28px !important;
  }
  #kenwood .shef__reverse .shef__txt {
    padding-right: 0;
  }
  #kenwood .cooking .cooking__txt {
    position: relative;
    margin-bottom: -30%;
  }
  #kenwood .family .family__wrap .family__main__title h2 {
    font-size: 18px;
  }
  #kenwood .family .family__wrap .family__list li .family__title::before {
    min-width: 42px;
    height: 42px;
  }
  #kenwood .family .family__wrap .family__list li .family__title p {
    font-size: 16px;
  }
  #kenwood .family .family__wrap .family__list li .family__txt p {
    font-size: 13px;
  }
  #kenwood .family .family__wrap .family__list li:nth-of-type(odd) {
    padding-right: 10px;
  }
  #kenwood .family .family__wrap .family__list li:nth-of-type(even) {
    padding-left: 10px;
  }
  #kenwood .family .family__wrap {
    padding: 40px 15px 0 15px;
  }
}
