.rkt-philips-bhb887-00__container {
  overflow: hidden;
}

.bc-description__content p:first-letter {
  padding-left: 0 !important;
}

#rkt-philips-bhb887-00 {
  max-width: 1023px;
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  background: #fff;
}
#rkt-philips-bhb887-00 h2, #rkt-philips-bhb887-00 h3, #rkt-philips-bhb887-00 h4, #rkt-philips-bhb887-00 h5, #rkt-philips-bhb887-00 h6, #rkt-philips-bhb887-00 p {
  margin: 0;
  padding: 0;
  line-height: 1.2;
}
#rkt-philips-bhb887-00 ul {
  margin: 0;
  padding: 0;
  list-style-type: disc;
  padding-left: 20px;
  margin: 0.5rem 0;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
#rkt-philips-bhb887-00 img {
  display: block;
  max-width: 100%;
  opacity: 1;
  margin: 0 auto;
}
#rkt-philips-bhb887-00 img:hover {
  opacity: 1;
}
#rkt-philips-bhb887-00 h2, #rkt-philips-bhb887-00 .philips__title, #rkt-philips-bhb887-00 .philips__table__title {
  font-size: 26px;
  font-weight: 900;
  text-align: left;
  margin-bottom: 1rem;
}
@media (max-width: 1023px) {
  #rkt-philips-bhb887-00 h2, #rkt-philips-bhb887-00 .philips__title, #rkt-philips-bhb887-00 .philips__table__title {
    font-size: calc(20px + 6 * (100vw - 320px) / 703);
  }
}
#rkt-philips-bhb887-00 h3, #rkt-philips-bhb887-00 .fast__txt {
  font-size: 20px;
  font-weight: normal;
  text-align: left;
  margin-bottom: 1rem;
}
@media (max-width: 1023px) {
  #rkt-philips-bhb887-00 h3, #rkt-philips-bhb887-00 .fast__txt {
    font-size: calc(18px + 2 * (100vw - 320px) / 703);
  }
}
#rkt-philips-bhb887-00 p, #rkt-philips-bhb887-00 .philips__txt {
  font-size: 16px;
  font-weight: 400;
  text-align: left;
}
@media (max-width: 1023px) {
  #rkt-philips-bhb887-00 p, #rkt-philips-bhb887-00 .philips__txt {
    font-size: calc(14px + 2 * (100vw - 320px) / 703);
  }
}
#rkt-philips-bhb887-00 li {
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  line-height: 1.2;
}
@media (max-width: 1023px) {
  #rkt-philips-bhb887-00 li {
    font-size: calc(14px + 2 * (100vw - 320px) / 703);
  }
}
#rkt-philips-bhb887-00 i {
  line-height: 1.2;
  font-size: 16px;
  margin-top: 0.5rem;
  display: block;
  font-style: italic;
}
@media (max-width: 1023px) {
  #rkt-philips-bhb887-00 i {
    font-size: calc(14px + 2 * (100vw - 320px) / 703);
  }
}

.philips {
  width: 100%;
  max-width: 1536px;
  margin: 0 auto;
  height: auto;
  display: block;
  box-sizing: border-box;
  overflow: hidden;
}
.philips img {
  margin: 0 auto;
  opacity: 1 !important;
  max-width: 100%;
  display: block;
  height: auto;
}
.philips img:hover {
  opacity: 1 !important;
}
.philips div {
  line-height: normal;
}
.philips ul {
  margin: 0;
  padding: 0;
  display: block;
}

.features-desc__text img {
  margin-bottom: 0rem;
}

.philips .container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

.fast {
  padding: 2em 0 0;
  text-align: center;
}

.fast__cont {
  margin-bottom: 2em;
}

.func {
  padding: 2em 2em 0 2em;
}

.func__items {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.func__item {
  display: flex;
  align-items: center;
  gap: 50px;
}

.txt__center {
  text-align: center !important;
}

.func__i {
  min-width: 192px;
  max-width: 192px;
}

.invis {
  padding: 2em;
}
.invis iframe {
  display: block;
  max-width: 100%;
  width: 100%;
  height: 30vw;
  max-height: 100%;
}

.invis__cont {
  margin-bottom: 30px;
}

.philips__block {
  padding: 0 2em;
}

.philips__row {
  display: flex;
  align-items: center;
  gap: 4em;
  padding-top: 2em;
  justify-content: space-between;
}
.philips__row > div {
  flex-basis: 50%;
  box-sizing: border-box;
}
.philips__row:nth-of-type(even) {
  flex-direction: row-reverse;
}

.senselq {
  padding: 2em 10px 0;
}

.senselq__row {
  display: flex;
  gap: 14px;
}

.senselq__cal {
  flex: 1;
}

.senselq__cont {
  margin-top: 14px;
  margin-right: 5%;
}

.philips__block__two .philips__row {
  flex-direction: row-reverse;
}
.philips__block__two .philips__row:nth-of-type(even) {
  flex-direction: row;
}

.philips__list {
  list-style-position: inside;
}

.productline {
  padding: 2em 0 0;
}
.productline .philips__title {
  text-align: center;
}

.philips__vs {
  padding: 2em 10px 2em;
}

.philips__vs__row {
  display: flex;
  gap: 16px;
  text-align: center;
}

.philips__table__title {
  margin-bottom: 0 !important;
}

.philips__table {
  margin-top: 25px;
}

.philips__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "cal1 cal1" "cal2 cal3";
}
.philips__grid .cal1 {
  grid-area: cal1;
  background: #EABEDB;
}
.philips__grid .cal2 {
  grid-area: cal2;
  text-align: center !important;
}
.philips__grid .cal3 {
  grid-area: cal3;
  text-align: center !important;
}
.philips__grid > div {
  padding: 11px 20px;
}

.philips__note {
  font-size: 14px;
  margin: 2em 2em 0;
}

@media (max-width: 1201px) {
  .philips .container {
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box !important;
  }
  .fast {
    padding-top: 2em;
  }
  .philips__title,
  .fast__txt {
    font-size: 24px;
  }
  .func {
    padding: 2em 0 0;
  }
  .philips__block {
    padding: 0;
  }
  .philips__row {
    gap: 4em;
  }
  .philips__vs {
    padding-top: 2em;
    padding-bottom: 2em;
  }
  .philips__list li {
    font-size: 16px;
  }
  .productline__txt {
    font-size: 16px;
  }
  .philips__vs {
    padding-right: 0;
    padding-left: 0;
  }
  .func__i {
    max-width: 15vw;
    min-width: 15vw;
  }
  .invis {
    padding: 2em 0;
  }
}
@media (max-width: 767.9px) {
  .philips .container {
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
  }
  .fast {
    padding-top: 1em;
  }
  .fast__img img {
    min-width: 150%;
  }
  .fast__i {
    max-width: 30%;
    left: 1em;
  }
  .func__items {
    gap: 1em;
  }
  .func__item {
    gap: 1em;
  }
  .func__item .philips__title {
    font-size: 16px;
  }
  .func__i {
    min-width: 92px;
    max-width: 92px;
  }
  .philips__row {
    flex-direction: column !important;
    gap: 1em;
    padding-top: 2em;
  }
  .philips__cont {
    min-width: unset;
    max-width: unset;
  }
  .senselq__row {
    flex-direction: column;
    gap: 2em;
  }
  .senselq__cont {
    margin-right: unset;
  }
  .productline__img img {
    min-width: 140%;
    margin-left: -20% !important;
  }
  .productline__txt:nth-of-type(1) {
    left: 4%;
    bottom: unset;
    top: 2%;
  }
  .productline__txt:nth-of-type(2) {
    right: 35%;
    bottom: 10%;
    top: unset;
  }
  .productline__txt:nth-of-type(3) {
    right: 15%;
  }
  .philips__grid .philips__txt {
    font-size: 12px !important;
  }
  .philips__table__title {
    font-size: 14px;
  }
  .philips__grid > div {
    padding: 5px 10px;
  }
  .philips__grid .mark {
    margin: 10px 0 10px 10px;
    width: 5px;
    height: 5px;
  }
  .philips__note {
    margin-left: 10px;
    font-size: 12px;
    margin-top: 2em;
  }
}
@media (min-width: 320px) and (max-width: 767.9px) {
  .philips__table__scroll {
    overflow-x: scroll;
  }
  .philips__table__wrap {
    min-width: 760px;
  }
  .philips__note {
    margin-right: 0;
    margin-left: 0;
  }
  .invis iframe {
    height: 50vw;
  }
}
@media (min-width: 1024px) and (max-width: 1201px) {
  .func__item {
    gap: 2em;
  }
  .philips__row {
    flex-direction: column !important;
    align-items: unset;
    gap: 1em;
  }
  .philips__table__scroll {
    overflow-x: scroll;
  }
  .philips__table__wrap {
    min-width: 760px;
  }
  .philips__note {
    margin-right: 0;
    margin-left: 0;
  }
}