/*default styles*/
#airon {
  max-width: 1316px;
  width: 100%;
  margin: 0 auto;
  height: auto;
  display: block;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}
#airon p {
  margin-bottom: 0;
  margin: 0;
  text-align: unset;
}
#airon p:first-letter {
  padding-left: 0;
}
#airon h2 {
  text-align: unset;
  display: block;
  line-height: normal;
  font-size: 41px;
  font-weight: bold;
  padding: 0;
  margin: 0;
}
#airon h3 {
  text-align: unset;
  display: block;
  line-height: normal;
  font-size: 32px;
  font-weight: normal;
  padding: 0;
  margin: 0;
}
#airon h4 {
  text-align: unset;
  display: block;
  line-height: normal;
  font-size: 24px;
  font-weight: bold;
  padding: 0;
  margin: 0;
}
#airon img {
  opacity: 1;
  max-width: 100%;
  display: block;
  height: auto;
}
#airon img:hover {
  opacity: 1;
}
#airon ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#airon span {
  display: block;
  line-height: normal;
}

.features-desc__text img {
  margin-bottom: 0rem;
}

.one-col .features-desc__text p:first-letter {
  padding-left: 0rem !important;
}

/*end default styles*/
#airon .case {
  background-image: url("https://cdn.comfy.ua/media/x/img/1711435/bg1.jpg");
  background-repeat: no-repeat;
  padding: 50px 90px 120px 95px;
  min-height: 650px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
#airon .case .case__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
#airon .case .case__list li {
  width: 100%;
}
#airon .case .case__list li h2 {
  margin-top: 100px;
  margin-right: -1em;
  font-size: 36px;
}
#airon .case .case__list li h3 {
  color: #fff;
  text-align: center;
  margin-top: 130px;
  margin-left: -9em;
  font-size: 29px;
}
#airon .case .case__list li img {
  margin: 0 0 0 auto;
}
#airon .universal {
  background-image: url("https://cdn.comfy.ua/media/x/img/1711435/bg2.jpg");
  background-position: center top;
  min-height: 540px;
  background-repeat: no-repeat;
  padding: 55px 0 20px 110px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
#airon .universal .case__universal {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#airon .universal .case__universal li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
     -moz-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
}
#airon .universal .case__universal li:nth-of-type(2) {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
     -moz-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}
#airon .universal .case__universal li h3 {
  margin-right: -3em;
  margin-top: 1em;
}
#airon .plane {
  background-image: url("https://cdn.comfy.ua/media/x/img/1711435/bg3.jpg");
  background-repeat: no-repeat;
  padding: 60px 60px 75px 160px;
  min-height: 610px;
  max-height: 610px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
#airon .plane .case__plane {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#airon .plane .case__plane li:nth-of-type(odd) {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
#airon .plane .case__plane li:nth-of-type(2) {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
     -moz-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}
#airon .plane .case__plane li .case__plane__txt {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  margin: 0 auto;
}
#airon .plane .case__plane li .case__plane__txt h3 {
  margin-top: 65px;
}
#airon .intelligence {
  background-image: url("https://cdn.comfy.ua/media/x/img/1711435/bg4.jpg");
  background-repeat: no-repeat;
  min-height: 610px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 55px 80px 45px 180px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
#airon .intelligence li {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
     -moz-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  text-align: right;
}
#airon .intelligence li h3 {
  margin-top: 65px;
}
#airon .care {
  background-image: url("https://cdn.comfy.ua/media/x/img/1711435/bg5.jpg");
  background-repeat: no-repeat;
  padding: 90px 45px 180px 90px;
  min-height: 1190px;
  max-height: 1190px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
#airon .care .case__care {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
     -moz-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-left: 40px;
}
#airon .care .case__care li {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
     -moz-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
}
#airon .care .case__care li:nth-of-type(2) {
  text-align: right;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-align-self: stretch;
      -ms-flex-item-align: stretch;
          align-self: stretch;
}
#airon .care .case__care li:nth-of-type(2) p {
  font-size: 27px;
}
#airon .care .life__care {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  margin-top: 170px;
}
#airon .care .life__care li h3 {
  text-align: right;
  top: 147px;
}
#airon .care .life__care li img {
  margin: 80px 2em 0 auto;
}

@media (max-width: 1024px) {
  #airon h3 {
    font-size: 28px;
  }
  #airon .case .case__list li h2 {
    margin-top: 0;
  }
  #airon .plane .case__plane li:nth-of-type(2) {
    margin-left: 1em;
  }
  #airon .care .case__care li:nth-of-type(2) {
    margin-left: 0;
  }
  #airon .care .life__care {
    padding: 0;
  }
  #airon .care .life__care li h2 {
    margin-top: 10em;
  }
  #airon .universal .case__universal li:nth-of-type(1) {
    margin-right: 1em;
  }
  #airon .care .life__care li h2 {
    margin-top: 6em;
  }
  #airon {
    background-image: url("https://cdn.comfy.ua/media/x/img/1711435/all.jpg");
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
  }
  #airon .case,
#airon .universal,
#airon .plane,
#airon .care,
#airon .intelligence {
    background-image: none;
    min-height: unset;
    max-height: unset;
  }
  #airon .case .case__list li h3 {
    margin-top: 6em;
    margin-right: -6em;
  }
  #airon .case {
    padding: 1em 1em 0 1em;
  }
  #airon .universal {
    padding: 1em 0 0 1em;
  }
  #airon .universal .case__universal {
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #airon .universal .case__universal li h3 {
    margin-bottom: 50px;
    margin-left: 0;
  }
  #airon .plane {
    padding: 1em 1em 0 0;
  }
  #airon .plane .case__plane li h2 {
    margin-left: 0;
  }
  #airon .care {
    padding: 1em 1em 0 1em;
  }
  #airon .care .life__care li:nth-of-type(1) {
    padding-left: 1em;
  }
  #airon .care .life__care {
    margin-top: 1em;
  }
  #airon .care {
    padding-left: 0;
    padding-bottom: 1em;
  }
  #airon .care .life__care li p {
    position: unset;
    padding-left: 1em;
    margin-top: 3em;
  }
  #airon .universal .case__universal li p {
    margin: 0 0 0 auto;
  }
  #airon .plane .case__plane li .case__plane__list li:nth-of-type(1) {
    margin-left: unset;
  }
  #airon .care .case__care {
    margin-top: 0;
  }
  #airon .intelligence {
    padding: 1em;
  }
}
@media (max-width: 812px) {
  #airon h2 {
    font-size: 32px;
  }
  #airon h3 {
    font-size: 24px;
  }
  #airon .intelligence li:nth-of-type(2),
#airon .care .life__care li:nth-of-type(2) {
    margin-left: 1em;
  }
  #airon .case,
#airon .plane {
    padding: 1em;
  }
  #airon .case .case__list li h3 {
    margin-top: 5em;
    margin-left: -8em;
    color: #000;
  }
  #airon .plane .case__plane li,
#airon .universal .case__universal li {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 0;
       -moz-box-flex: 1;
        -ms-flex: 1 1 0px;
            flex: 1 1 0;
  }
  #airon .care {
    min-height: unset;
  }
  #airon .care .life__care li h2 span {
    color: #000;
  }
  #airon .care .life__care li h2 {
    margin-top: 10em;
  }
  #airon .care .case__care li:nth-of-type(2) p {
    font-size: 20px;
    margin-left: 2em;
  }
  #airon .case .case__list li {
    overflow: hidden;
  }
  #airon .case .case__list li h2 {
    font-size: 24px;
  }
  #airon .care .life__care li img {
    margin-top: 0;
  }
}
@media (max-width: 480px) {
  #airon .case .case__list {
    display: block;
  }
  #airon .case .case__list li h2 {
    margin-top: 0;
    text-align: center;
    font-size: 20px;
  }
  #airon h2 {
    font-size: 24px;
  }
  #airon .case .case__list li h3 {
    margin-top: 1em;
    margin-bottom: 1em;
    color: #000;
    margin-left: 0;
    margin-right: 0;
    font-size: 18px;
  }
  #airon .universal .case__universal {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
       -moz-box-orient: vertical;
       -moz-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  #airon .universal .case__universal li:nth-of-type(1) {
    margin-right: 0;
    margin-top: 1em;
    max-width: 100%;
  }
  #airon .universal .case__universal li h3 {
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: unset;
  }
  #airon .universal .case__universal li p {
    font-size: 15px;
    text-align: right;
  }
  #airon .universal {
    min-height: unset;
  }
  #airon .plane .case__plane {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
       -moz-box-orient: vertical;
       -moz-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  #airon .plane .case__plane li p {
    color: #000;
  }
  #airon .plane .case__plane li:nth-of-type(2) {
    margin-left: 0;
    margin-bottom: 1em;
    margin-top: 1em;
  }
  #airon .care .case__care,
#airon .care .life__care,
#airon .intelligence {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
       -moz-box-orient: vertical;
       -moz-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  #airon .care .case__care li:nth-of-type(2) {
    margin: 0;
  }
  #airon .care .case__care li:nth-of-type(2) p {
    margin-top: 1em;
  }
  #airon .care .life__care li h2 {
    margin-top: 1em;
    margin-bottom: 1em;
  }
  #airon .plane .case__plane li p {
    margin-top: 20px;
  }
  #airon {
    background-position: center;
  }
  #airon .care .life__care li p {
    font-size: 16px;
    padding-left: 15px;
    margin-bottom: 1em;
  }
  #airon .plane .case__plane li .case__plane__list li:nth-of-type(2) {
    margin-right: -1em;
  }
  #airon .care .life__care li:nth-of-type(2) {
    margin-left: unset;
  }
  #airon .case .case__list li span {
    text-align: center;
  }
  #airon .care {
    padding: 1em;
  }
  #airon .care .case__care {
    padding-left: 0;
  }
  #airon .care .case__care li:nth-of-type(2) {
    margin-bottom: 1em;
  }
  #airon .case .case__list li img {
    margin: 0 -4em 0 auto;
  }
  #airon .intelligence li:nth-of-type(2), #airon .care .life__care li:nth-of-type(2) {
    margin-left: unset;
    margin-bottom: 1em;
  }
  #airon .care .life__care li img {
    margin-top: 1em;
  }
  #airon .care .life__care li:nth-of-type(1) {
    padding-left: 0;
  }
}