.rkt-philips-sonicare-prestige-s-tehnologiej-sense-iq-hx9992-31__container {
  overflow: hidden;
}

.bc-description__content p:first-letter {
  padding-left: 0 !important;
}

#rkt-philips-sonicare-prestige-s-tehnologiej-sense-iq-hx9992-31 {
  max-width: 1023px;
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  background: #fff;
}
#rkt-philips-sonicare-prestige-s-tehnologiej-sense-iq-hx9992-31 h2, #rkt-philips-sonicare-prestige-s-tehnologiej-sense-iq-hx9992-31 h3, #rkt-philips-sonicare-prestige-s-tehnologiej-sense-iq-hx9992-31 h4, #rkt-philips-sonicare-prestige-s-tehnologiej-sense-iq-hx9992-31 h5, #rkt-philips-sonicare-prestige-s-tehnologiej-sense-iq-hx9992-31 h6, #rkt-philips-sonicare-prestige-s-tehnologiej-sense-iq-hx9992-31 p {
  margin: 0;
  padding: 0;
  line-height: 1.2;
}
#rkt-philips-sonicare-prestige-s-tehnologiej-sense-iq-hx9992-31 ul {
  margin: 0;
  padding: 0;
  list-style-type: disc;
  padding-left: 20px;
  margin: 0.5rem 0;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
#rkt-philips-sonicare-prestige-s-tehnologiej-sense-iq-hx9992-31 img {
  display: block;
  max-width: 100%;
  opacity: 1;
  margin: 0 auto;
}
#rkt-philips-sonicare-prestige-s-tehnologiej-sense-iq-hx9992-31 img:hover {
  opacity: 1;
}
#rkt-philips-sonicare-prestige-s-tehnologiej-sense-iq-hx9992-31 h2 {
  font-size: 26px;
  font-weight: 900;
  text-align: left;
  margin-bottom: 1rem;
}
@media (max-width: 1023px) {
  #rkt-philips-sonicare-prestige-s-tehnologiej-sense-iq-hx9992-31 h2 {
    font-size: calc(20px + 6 * (100vw - 320px) / 703);
  }
}
#rkt-philips-sonicare-prestige-s-tehnologiej-sense-iq-hx9992-31 h3 {
  font-size: 20px;
  font-weight: 900;
  text-align: left;
  margin-bottom: 1rem;
}
@media (max-width: 1023px) {
  #rkt-philips-sonicare-prestige-s-tehnologiej-sense-iq-hx9992-31 h3 {
    font-size: calc(18px + 2 * (100vw - 320px) / 703);
  }
}
#rkt-philips-sonicare-prestige-s-tehnologiej-sense-iq-hx9992-31 p {
  font-size: 16px;
  font-weight: 400;
  text-align: left;
}
@media (max-width: 1023px) {
  #rkt-philips-sonicare-prestige-s-tehnologiej-sense-iq-hx9992-31 p {
    font-size: calc(14px + 2 * (100vw - 320px) / 703);
  }
}
#rkt-philips-sonicare-prestige-s-tehnologiej-sense-iq-hx9992-31 li {
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  line-height: 1.2;
}
@media (max-width: 1023px) {
  #rkt-philips-sonicare-prestige-s-tehnologiej-sense-iq-hx9992-31 li {
    font-size: calc(14px + 2 * (100vw - 320px) / 703);
  }
}
#rkt-philips-sonicare-prestige-s-tehnologiej-sense-iq-hx9992-31 i {
  line-height: 1.2;
  font-size: 16px;
  margin-top: 0.5rem;
  display: block;
  font-style: italic;
}
@media (max-width: 1023px) {
  #rkt-philips-sonicare-prestige-s-tehnologiej-sense-iq-hx9992-31 i {
    font-size: calc(14px + 2 * (100vw - 320px) / 703);
  }
}

.philips div {
  line-height: normal;
}
.philips video,
.philips iframe {
  display: block;
  max-width: 100%;
  height: auto;
}

.features-desc__text img {
  margin-bottom: 0rem;
}

.philips .container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

.logo {
  text-align: center;
}

.logo__cont {
  padding: 2em;
}

.philips__title {
  font-size: clamp(20px, 2vw, 26px);
  font-weight: bold;
  margin-bottom: 1rem;
}

.logo__txt {
  font-size: clamp(18px, 2vw, 22px);
}

.care {
  padding: 2em 2em 0;
  box-sizing: border-box;
}
.care .philips__title {
  margin: 0;
}

.care__items {
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin-top: 2em;
}

.care__item {
  display: flex;
  align-items: center;
  gap: 1em;
}

.care__i {
  min-width: -moz-max-content;
  min-width: max-content;
}

.howwork {
  padding: 2em 10px 0;
}

.philips__txt {
  font-size: clamp(14px, 1.3vw, 16px);
}

.txt__center {
  text-align: center;
}

.howwork__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 14px;
  margin-top: 50px;
}

.howwork__cont {
  margin-top: 14px;
}

.philips__video {
  padding: 2em 2em 0;
}
.philips__video iframe {
  height: 520px;
  width: 100%;
}

.func {
  padding: 2em 2em 0;
}

.func__wrap {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.func__row {
  display: flex;
  align-items: center;
  gap: 2em;
  justify-content: space-between;
}
.func__row:nth-of-type(even) {
  flex-direction: row-reverse;
}
.func__row > div {
  box-sizing: border-box;
}

.func__cont {
  flex-basis: 55%;
}

.func__img {
  flex-basis: 45%;
}

.sonicare {
  text-align: center;
}

.sonicare__cont {
  padding: 2em;
}

.care__two {
  padding-top: 0;
}

.complete {
  padding: 2em 2em 0;
}

.complete__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.complete__row > div {
  box-sizing: border-box;
}

.complete__cont {
  flex-basis: 55%;
}

.complete__img {
  flex-basis: 45%;
}

.philips .complete__list {
  list-style-type: disc;
  padding-left: 20px;
}

@media (min-width: 320px) and (max-width: 767.9px) {
  .logo__cont, .sonicare__cont {
    padding: 1em 0;
  }
  .logo__img img {
    min-width: 140%;
    margin-left: -5% !important;
  }
  .care__i {
    min-width: 25vw !important;
    max-width: 25vw !important;
  }
  .care__item .philips__title {
    font-size: clamp(16px, 2vw, 36px);
  }
  .philips__video iframe {
    height: 52vw !important;
  }
  .howwork__grid {
    grid-template-columns: 1fr;
    gap: 2em;
  }
  .func__row {
    flex-direction: column-reverse !important;
    gap: 1em !important;
  }
  .func__cont, .complete__cont {
    max-width: 100% !important;
    text-align: center;
  }
  .philips__video iframe {
    height: 53vw;
  }
  .complete__row {
    flex-direction: column;
  }
}
@media (min-width: 768px) and (max-width: 1023.9px) {
  .philips__video iframe {
    height: 55vw !important;
  }
}
@media (max-width: 1201px) {
  .philips .container {
    padding: 0 15px;
    box-sizing: border-box;
  }
  .logo__cont,
  .sonicare__cont {
    padding: 2em 0;
  }
  .care,
  .howwork,
  .philips__video,
  .complete,
  .func {
    padding: 2em 0 0;
  }
  .care__items {
    margin-top: 1em;
    gap: 2em;
  }
  .care__item {
    padding-right: 0;
  }
  .care__i {
    min-width: 14vw;
    max-width: 14vw;
  }
  .howwork__grid {
    margin-top: 0;
    grid-template-columns: 1fr;
    gap: 2em;
  }
  .howwork__grid > div {
    display: flex;
    flex-direction: column-reverse;
    gap: 1em;
    text-align: center;
  }
  .howwork__cont {
    margin-top: 0;
  }
  .philips__video iframe {
    height: 35vw;
  }
  .func__row {
    gap: 2em;
  }
  .func__cont,
  .complete__cont {
    max-width: 45vw;
  }
  .func__wrap {
    gap: 2em;
  }
}