#chistka-noutbuka
   display: block
   margin: 0 auto
   max-width: 1316px
   width: 100%
   height: auto
   overflow: hidden
   background: #fff
   position: relative
   img
      &:hover
         opacity: 1
   &:first-letter
      padding-left: 0
   img
      display: block
      margin-right: initial
      margin-left: initial
   p
      margin-bottom: 0
   h2
      font-size: 48px
      line-height: 1.1
      letter-spacing: 3px
      line-height: 1
   h3
      font-size: 36px
      margin: 0
      padding-top: 0
      line-height: 1.1
      text-align: inherit
      font-weight: bold
span.word-wrap
   display: block
   word-wrap: break-word
span.word-wrap-header
   display: block
   word-wrap: break-word
// default

// media
// @media (max-width: 1024px)
// @media (max-width: 812px)
// @media (max-width: 480px)
