/*default styles*/
#lg {
  max-width: 1316px;
  width: 100%;
  margin: 0 auto;
  height: auto;
  display: block;
  background-color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#lg .none_pic {
  display: none;
}

#lg p {
  margin-bottom: 0;
  margin: 0;
}

#lg p:first-letter {
  padding-left: 0;
}

#lg h2 {
  display: block;
  line-height: normal;
  font-size: 36px;
  font-weight: normal;
  padding: 0 0 20px 0;
  margin: 0;
}

#lg img {
  opacity: 1;
  max-width: 100%;
  display: block;
  height: auto;
}

#lg img:hover {
  opacity: 1;
}

#lg ul {
  list-style-type: none !important;
  padding: 0;
  margin: 0;
}

.features-desc__text img {
  margin-bottom: 0rem;
}

.one-col .features-desc__text p:first-letter {
  padding-left: 0rem !important;
}

/*end default styles*/
#lg .snoska,
#lg .snoska_black {
  padding: 20px;
  font-size: 14px;
  text-align: center;
  display: block;
}

#lg .snoska_black {
  color: #fff;
  background-color: #000;
}

#lg .wins .wins_txt {
  text-align: center;
  padding: 70px;
  color: #fff;
  background-color: #000;
  background-color: #1b1c1e;
}

#lg .compatibility .compatibility_txt {
  text-align: center;
  padding: 70px;
}

#lg .freesync {
  padding: 70px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

#lg .freesync > div {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  max-width: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#lg .freesync .freesync_txt {
  padding: 40px;
}

#lg .hdr .hdr_txt {
  text-align: center;
  padding: 70px;
  background-image: url("https://cdn.comfy.ua/media/x/img/1543694/5bg.jpg");
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center bottom;
}

#lg .ips {
  position: relative;
}

#lg .ips .ips_txt {
  position: absolute;
  color: #fff;
  padding: 0 70px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 700px;
  right: 0;
  bottom: 50%;
  -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
          transform: translateY(50%);
}

#lg .ultrawide .ultrawide_txt {
  text-align: center;
  padding: 70px;
  color: #fff;
  background-color: #000;
}

#lg .mbr .mbr_txt {
  text-align: center;
  padding: 70px;
  color: #fff;
  background-color: #000;
}

#lg .dynamic {
  padding: 70px;
  background-color: #131313;
}

#lg .dynamic li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

#lg .dynamic li:nth-of-type(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

#lg .dynamic li > div {
  max-width: 50%;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#lg .dynamic li .dynamic_txt {
  color: #fff;
  padding: 40px;
}

#lg .design .design_txt {
  text-align: center;
  padding: 70px;
}

#lg .design .design_img img {
  margin: 0 auto;
}

/*media*****************************************************************/
@media (max-width: 1024px) {
  #lg .ips .ips_txt {
    max-width: 500px;
  }
}

@media (max-width: 812px) {
  #lg .wins .wins_txt,
  #lg .compatibility .compatibility_txt,
  #lg .freesync,
  #lg .freesync .freesync_txt,
  #lg .hdr .hdr_txt,
  #lg .ips .ips_txt,
  #lg .ultrawide .ultrawide_txt,
  #lg .mbr .mbr_txt,
  #lg .dynamic,
  #lg .dynamic li .dynamic_txt,
  #lg .design .design_txt {
    padding: 20px;
  }
  #lg .ips .ips_txt {
    max-width: 400px;
  }
}

@media (max-width: 480px) {
  #lg .none_pic {
    display: block !important;
  }
  #lg h2 {
    font-size: 24px;
  }
  #lg .wins .wins_img img {
    display: none;
  }
  #lg .ips .ips_img img {
    display: none;
  }
  #lg .ips .ips_txt {
    position: unset;
    background-color: #000;
    text-align: center;
  }
  #lg .ultrawide .ultrawide_img img {
    display: none;
  }
  #lg .mbr .mbr_img img {
    display: none;
  }
  #lg .freesync {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  #lg .freesync > div {
    max-width: 100%;
    padding: 0 !important;
  }
  #lg .freesync .freesync_txt {
    text-align: center;
  }
  #lg .dynamic {
    padding: 0;
  }
  #lg .dynamic li {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -webkit-flex-direction: column !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  #lg .dynamic li > div {
    max-width: 100%;
  }
  #lg .dynamic li .dynamic_txt {
    text-align: center;
  }
}
