.rkt-hyundai-sumi42kr__container {
  overflow: hidden;
}

.bc-description__content p:first-letter {
  padding-left: 0 !important;
}

#rkt-hyundai-sumi42kr {
  max-width: 1023px;
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  background: #fff;
}
#rkt-hyundai-sumi42kr h2, #rkt-hyundai-sumi42kr h3, #rkt-hyundai-sumi42kr h4, #rkt-hyundai-sumi42kr h5, #rkt-hyundai-sumi42kr h6, #rkt-hyundai-sumi42kr p {
  margin: 0;
  padding: 0;
  line-height: 1.2;
}
#rkt-hyundai-sumi42kr ul {
  margin: 0;
  padding: 0;
  list-style-type: disc;
  padding-left: 20px;
  margin: 0.5rem 0;
  display: flex;
  flex-direction: column;
}
#rkt-hyundai-sumi42kr img {
  display: block;
  max-width: 100%;
  opacity: 1;
  margin: 0 auto;
}
#rkt-hyundai-sumi42kr img:hover {
  opacity: 1;
}
#rkt-hyundai-sumi42kr h2 {
  font-size: 26px;
  font-weight: 900;
  text-align: left;
  margin-bottom: 1rem;
}
@media (max-width: 1023px) {
  #rkt-hyundai-sumi42kr h2 {
    font-size: calc(20px + 6 * (100vw - 320px) / 703);
  }
}
#rkt-hyundai-sumi42kr h3 {
  font-size: 20px;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
@media (max-width: 1023px) {
  #rkt-hyundai-sumi42kr h3 {
    font-size: calc(18px + 2 * (100vw - 320px) / 703);
  }
}
#rkt-hyundai-sumi42kr p {
  font-size: 14px;
  font-weight: 400;
  text-align: left;
}
#rkt-hyundai-sumi42kr li {
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  line-height: 1.2;
}
#rkt-hyundai-sumi42kr i {
  line-height: 1.2;
  font-size: 12px;
  margin-top: 0.5rem;
  display: block;
  font-style: italic;
}
@media (max-width: 1023px) {
  #rkt-hyundai-sumi42kr i {
    font-size: calc(10px + 2 * (100vw - 320px) / 703);
  }
}

.hyundai__rkt {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.hyundai__block {
  position: relative;
}

.hyundai__abs {
  position: absolute;
  width: 40%;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 25px;
  left: 1em;
  padding: 1em;
  top: 2em;
}

.hyundai__block:nth-of-type(even) .hyundai__abs {
  top: unset;
  left: unset;
  right: 1em;
  top: 2em;
}
.hyundai__block:nth-of-type(1) .hyundai__abs, .hyundai__block:nth-of-type(2) .hyundai__abs {
  top: unset;
  bottom: 2em;
}

@media (max-width: 900px) {
  .hyundai__abs {
    width: 50vw;
  }
}
@media (min-width: 320px) and (max-width: 767.9px), (min-width: 1024px) and (max-width: 1201px) {
  #rkt-hyundai-sumi42kr h3, #rkt-hyundai-sumi42kr p {
    text-align: center;
  }
  #rkt-hyundai-sumi42kr .hyundai__block:nth-of-type(odd) .hyundai__img img {
    min-width: 150%;
    margin-left: -50%;
  }
  #rkt-hyundai-sumi42kr .hyundai__block:nth-of-type(1) .hyundai__img img {
    min-width: unset;
    margin-left: auto;
  }
  .hyundai__rkt {
    gap: 1em;
  }
  .hyundai__abs {
    position: unset;
    background: unset;
    border-radius: unset;
    width: 100%;
  }
}