    #transfer-contacts_service p:first-letter{ padding-left: 0; }
    #transfer-contacts_service p{ margin-bottom: 0; }
    .features-desc__text p { font-size: 1.9rem !important; }
    #transfer-contacts_service img:hover { opacity: 1; }
    #transfer-contacts_service img { opacity: 1; margin-bottom: 0; }

    .product-perenos-kontaktov .tabs-content { padding: 1rem 0 0 0; }

    #transfer-contacts_service {  }

    .container_transfer-contacts { padding: 4.8rem 2.5rem; }
    .container_transfer-contacts .row_transfer-contacts {
        display: flex;
        flex-direction: row;
    }

    .container_transfer-contacts .row_transfer-contacts .row {
        flex-direction: row;
        display: flex;
        align-items: center;
        width: 100%;
    }
    .container_transfer-contacts .row_transfer-contacts .row-reverse {
        flex-direction: row-reverse;
    }

    .container_transfer-contacts .row_transfer-contacts [class^="col-"] {
        flex-direction: column;
        display: flex;
    }
    .container_transfer-contacts .row_transfer-contacts .col-10 {
        flex: 1 1 10%;
        width: 10%;
        align-items: center;
    }
    .container_transfer-contacts .row_transfer-contacts .col-40 {
        flex: 1 1 40%;
        width: 40%;
    }
    .container_transfer-contacts .row_transfer-contacts .col-60 {
        flex: 1 1 60%;
        width: 60%;
    }
    .container_transfer-contacts .row_transfer-contacts .col-80 {
        flex: 1 1 80%;
        width: 80%;
    }
    .container_transfer-contacts .row_transfer-contacts .col-90 {
        flex: 1 1 90%;
        width: 90%;
    }
    .line-large {
        display: none;
    }
    .line-small {
        display: none;}
        .line-large-center {
            display: none;}
            @media screen and (min-width: 767px) {
                .line-large {
                    display: block;
                    position: relative;
                }
                .line-large::before {
                    content: "";
                    width: 453.03px;
                    height: 28px;
                    background: rgba(196, 196, 196, 0.05);
                    transform: rotate(-45deg);
                    bottom: 50px;
                    position: absolute;
                    left: -50px;
                }

                .line-small {
                    display: block;
                    position: relative;
                }
                .line-small::before {
                    content: "";
                    width: 204.75px;
                    height: 28px;
                    background: rgba(196, 196, 196, 0.05);
                    transform: rotate(-45deg);
                    top: -86%;
                    position: absolute;
                    left: 30%;
                }
                .line-small::after {
                    content: "";
                    width: 129.76px;
                    height: 28px;
                    background: rgba(196, 196, 196, 0.05);
                    transform: rotate(-45deg);
                    bottom: -150px;
                    position: absolute;
                    left: 50%;
                }
                .line-large-center {
                    display: block;
                    position: relative;
                }
                .line-large-center::before {
                    content: "";
                    width: 453.03px;
                    height: 28px;
                    background: rgba(196, 196, 196, 0.05);
                    transform: rotate(-45deg);
                    bottom: 50px;
                    position: absolute;
                    left: -50px;
                }
            }

            .container_transfer-contacts .row_transfer-contacts .bg-green {
                background-color: #41B02A;
                color: white;
                max-height: 428px;
            }
            .container_transfer-contacts .row_transfer-contacts .bg-green p {
                font-style: normal;
                font-weight: bold;
                font-size: 20px;
                line-height: 26px;
                padding: 2rem 0 0 2rem;
            }
            .container_transfer-contacts .row_transfer-contacts .bg-green ul {
                margin: 0;
                padding-left: 3rem;
            }
            .container_transfer-contacts .row_transfer-contacts .bg-green li {
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 21px;
                padding-top: 1rem;
            }
            .container_transfer-contacts .row_transfer-contacts .vertical-text {
                width: 1em;
                font-size: 32px;
                line-height: 35px;
                color: #F2F2F2;
            }
            .container_transfer-contacts .row_transfer-contacts .lines {
                padding-left: 4rem;
                margin-top: 4rem;
            }
            .container_transfer-contacts .row_transfer-contacts .bg-green .phones-img {
                height: 100%;
            }
            .container_transfer-contacts .row_transfer-contacts .bg-green .phones-img img {
                width: 70%;
                margin-top: -10vw;
            }

            .container_transfer-contacts .row_transfer-contacts .contacts-text {
                font-size: 126px;
                line-height: 126px;
                letter-spacing: 0.01em;
                color: #F2F2F2;
                margin-top: -2rem;
                padding-left: 1rem;
            }

            .container_transfer-contacts .row_transfer-contacts.transfer-contacts_content {
                flex-direction: column;
                margin-top: 16vw;
            }
            .container_transfer-contacts .row_transfer-contacts.transfer-contacts_content .flex-end {
                align-items: flex-end;
            }
            .container_transfer-contacts .row_transfer-contacts.transfer-contacts_content [class^="col-"] {
                margin: 1rem;
            }
            .container_transfer-contacts .row_transfer-contacts.transfer-contacts_content img {
                width: 100%;
            }
            .container_transfer-contacts .row_transfer-contacts.transfer-contacts_content p {
                font-style: normal;
                font-size: 16px;
                line-height: 21px;
                color: #000000;
            }
            .container_transfer-contacts .row_transfer-contacts.transfer-contacts_content p:nth-child(odd) {
                font-weight: bold;
            }
            .container_transfer-contacts .row_transfer-contacts.transfer-contacts_content p:nth-child(even) {
                font-weight: normal;
            }



            .container_transfer-contacts .row_transfer-contacts.transfer-contacts_title {
                flex-direction: column;
            }

            .container_transfer-contacts .row_transfer-contacts .fl_30 {
                flex: 1 1 30%;
                width: 30%;
                padding-left: 5rem;
                justify-content: center;
                display: flex;
                flex-direction: column;

            }

            .container_transfer-contacts .row_transfer-contacts.how-use {
                justify-content: center;
                padding-top: 8rem;
                flex-direction: column;
            }
            .container_transfer-contacts .row_transfer-contacts.how-use .item_nav {
                padding-left: 3rem;
            }
            .container_transfer-contacts .row_transfer-contacts.how-use .item_nav img {
                padding-right: 1rem;
            }
            .container_transfer-contacts .row_transfer-contacts.how-use &amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;gt; p {
                font-style: normal;
                font-weight: bold;
                font-size: 32px;
                line-height: 41px;
                text-align: center;
                color: #000000;
            }
            .container_transfer-contacts .row_transfer-contacts.how-use .row {
                display: flex;
                flex-direction: row;
                align-items: center;
            }


            @media screen and (min-width: 320px) and (max-width: 1024px) {
                .container_transfer-contacts .row_transfer-contacts.transfer-contacts_title {
                    background-size: cover;
                }
                .container_transfer-contacts .row_transfer-contacts.transfer-contacts_title .row:nth-child(2) {
                    flex-wrap: wrap;
                }
                .container_transfer-contacts .row_transfer-contacts.how-use .item_nav {
                    padding-left: 0;
                }
            }

            @media screen and (min-width: 320px) and (max-width: 480px) {
                .container_transfer-contacts .row_transfer-contacts [class^="col-"] {
                    flex: 1 1 100%;
                    width: 100%;
                }
                .container_transfer-contacts .row_transfer-contacts .lines,
                .container_transfer-contacts .row_transfer-contacts .contacts-text,
                .container_transfer-contacts .row_transfer-contacts .col-10 {
                    display: none;
                }
                .container_transfer-contacts .row_transfer-contacts .bg-green .phones-img img {
                    width: 100%;
                    height: 100%;
                    margin: 0;
                }
                .container_transfer-contacts .row_transfer-contacts.transfer-contacts_content .row {
                    flex-direction: column;
                }
                .container_transfer-contacts .row_transfer-contacts.how-use .item_nav .row {
                    align-items: center;
                    display: flex;
                }
                .container_transfer-contacts .row_transfer-contacts.transfer-contacts_title {
                    background-image: none;
                    background-size: cover;
                    background-repeat: no-repeat;
                    flex-direction: column;
                    align-items: start;
                }
                .container_transfer-contacts .row_transfer-contacts.how-use .item_nav p {
                    text-align: center;
                }
                .container_transfer-contacts .row_transfer-contacts.how-use .item_nav {
                    padding-left: 0;
                }
                .container_transfer-contacts .row_transfer-contacts.how-use .row {
                    flex-direction: column;
                    padding: 0;
                }

            }