// @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap')

// body
//    margin: 0

.rkt-siemens-eh65khfb1e__container
   overflow: hidden

.bc-description__content p:first-letter
   padding-left: 0 !important

$bp-mobile: 320px
$bp-tablet: 768px
$bp-hd-desktop: 1024px
$maxWidthContainer: 1023

@mixin adaptiv-value($property, $startSize, $minSize)
   $addSize: $startSize - $minSize
   #{$property}: $startSize + px
   @media (max-width: #{$maxWidthContainer + px})
      #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}))

#rkt-siemens-eh65khfb1e
   // margin: 0 auto
   // display: grid
   // grid-template-columns: calc(100% - 400px) 400px
   // max-width: 1406px
   // font-family: 'Roboto', sans-serif
   max-width: 1023px
   width: 100%
   height: auto
   position: relative
   overflow: hidden
   background: #fff
   h2, h3, h4, h5, h6, p
      margin: 0
      padding: 0
      line-height: 1.2
   ul
      margin: 0
      padding: 0
      list-style-type: disc
      padding-left: 20px
      margin: 0.5rem 0
      display: flex
      flex-direction: column
      gap: 1em
   img
      display: block
      max-width: 100%
      opacity: 1
      margin: 0 auto
      &:hover
         opacity: 1
   h2
      @include adaptiv-value("font-size", 26, 20)
      font-weight: 900
      text-align: left
      margin-bottom: 1rem
   h3
      @include adaptiv-value("font-size", 20, 18)
      font-weight: 900
      text-align: left
      margin-bottom: 1rem
   p
      @include adaptiv-value("font-size", 16, 14)
      font-weight: 400
      text-align: left
   li
      @include adaptiv-value("font-size", 16, 14)
      font-weight: 400
      text-align: left
      line-height: 1.2
   i
      line-height: 1.2
      @include adaptiv-value("font-size", 16, 14)
      margin-top: 0.5rem
      display: block
      font-style: italic

//siemens__logo

.siemens__logo
   position: relative

.siemens__logo__i
   position: absolute
   top: 2em
   left: 2em
   padding: 2em
   background: #fff
   width: max(6vw, 50px)
   box-sizing: content-box

.logo__abs
   position: absolute
   bottom: 6em
   right: 2em
   max-width: 45vw
   color: #fff

.logo__title
   font-size: clamp(24px, 2vw, 32px)
   text-transform: uppercase
   line-height: normal
   font-weight: bold
   background: #2d373bd5
   padding: .2em .5em 1em .5em

.logo__sub
   background: #2d373bd5
   padding: 0 .5em 1em .5em
   font-size: clamp(18px, 1.5vw, 26px)

.logo__line
   background-image: linear-gradient(90deg, #40aaaa, #0097cae0)
   padding: 1.3em
   margin: 0.5em 0

.logo__txt
   background: #fff
   padding: .7em .7em
   p
      color: #000
      text-align: right !important

.siemens__logo__abs
   position: absolute
   bottom: 0
   right: 0
   left: 0
   display: flex
   justify-content: space-between
   color: #fff
   padding: 1em 2em
   box-sizing: border-box
   p
      font-size: 12px !important

//stove

.stove
   position: relative

//advantages

.advantages
   padding: 2em 2em 1em

.advantages__row
   display: flex
   gap: 1em
   padding-bottom: 2em

.advantages__i
   max-width: max(8vw, 50px)
   margin: 0 0 0 auto !important

.advantages__note
   color: #879baa
   p
      font-size: 12px !important
      text-align: center !important

//func

.func
   padding: 1em 2em
   >p
      max-width: 80%
      margin-bottom: 1em !important
   .advantages__note
      margin: 2em 0

.func__title
   color: #fff
   background-image: linear-gradient(90deg, #4fbdbde4, #0097cae8)
   padding: 0.5em 1em
   margin-bottom: 1em
   margin-left: -3em
   position: relative
   h3
      margin: 0 !important

.func__row
   display: flex
   flex-direction: row
   gap: 2em
   &:nth-of-type(1),
   &:nth-last-child(n-1)
      margin-top: 3em
      .func__txt
         margin-top: -2.2em

.func__rev
   display: flex
   flex-direction: row-reverse
   align-items: flex-end
   margin-top: -5% !important
   gap: 2em
   .func__title
      margin-left: unset
      margin-right: -3em

.func__txt
   flex-basis: 52%

.func__img
   flex-basis: 48%

.func__i
   max-width: max(6vw, 50px)
   margin: 0 0 1em auto !important

//*********************************media*************************

// @media (min-width: $bp-tablet) and (max-width: 1023.9px)
//    #rkt-siemens-eh65khfb1e
//       display: block

@media (min-width: $bp-mobile) and (max-width: 767.9px), (min-width: $bp-hd-desktop) and (max-width: 1201px)
   .logo__abs
      max-width: 33vw

   .func__row,
   .func__rev
      flex-direction: column-reverse
      gap: 1em

   .func__rev
      margin-top: 2em !important

   .func__title
      margin-left: 0 !important
      margin-right: 0 !important

@media (min-width: $bp-mobile) and (max-width: 767.9px)
   // #rkt-siemens-eh65khfb1e
   //    display: block

   .siemens__logo,
   .logo__abs
      position: unset
   .logo__abs
      max-width: 100%
   .siemens__logo__wrap
      position: relative
   .logo__title
      padding-bottom: 0.1em
   .logo__title,
   .logo__sub
      text-align: center
   .siemens__logo__i
      padding: 1em
      left: 1em
      top: 1em
   .siemens__logo__abs
      padding: 1em
      flex-direction: column
      gap: .5em

   .advantages
      padding: 1em
   .advantages__row
      flex-direction: column
   #rkt-siemens-eh65khfb1e
      h3,p
         text-align: center

   .func
      padding: 1em
   .func > p
      max-width: 100%
