/*default styles*/

#lg 
  max-width: 1316px
  width: 100%
  margin: 0 auto
  height: auto
  display: block
  background-color: #fff
  box-sizing: border-box
  p  
    margin-bottom: 0
    font-size: 18px
    &:first-letter
     padding-left: 0
  h2 
    display: block
    line-height: normal
    font-size: 36px
    font-weight: normal
    padding: 20px 0 10px 0
    margin: 0
  img  
    opacity: 1 
    max-width: 100% 
    display: block 
    height: auto
    &:hover  
      opacity: 1 
  ul
    list-style-type: none
    padding: 0
    margin: 0
  

.features-desc__text 
  img
    margin-bottom: 0rem 
.one-col .features-desc__text 
  p:first-letter
    padding-left: 0rem !important 

/*end default styles*/

#lg
  .wins
    .wins_txt
      text-align: center
      max-width: 900px
      padding: 20px
      margin: 0 auto
  .ips
    background-color: #e7e7e7
    .ips_txt
      max-width: 900px
      margin: 0 auto
      text-align: center
      padding: 20px
    .ips_img
      img
        margin: 0 auto
  .nano
    height: 939px
    box-sizing: border-box
    padding: 70px
    background-image: url("https://cdn.comfy.ua/media/x/img/1624893/4.jpg")
    background-repeat: no-repeat
    background-position: center
    .nano_img
      display: none
    .nano_txt
      color: #fff
      max-width: 900px
      margin: 0 auto
      text-align: center
  .refresh
    .refresh_txt
      max-width: 900px
      padding: 20px
      text-align: center
      margin: 0 auto
    .refresh_img
      img
        margin: 0 auto
  .gsync
    padding: 70px
    .gsync_list
      display: flex
      flex-direction: row
      align-items: center
      li
        flex: 1 1 0
        max-width: 50%
        box-sizing: border-box
        &:first-of-type
          padding-right: 40px
      &:nth-of-type(even)
        flex-direction: row-reverse
        li
          &:first-of-type
            padding-left: 40px
            padding-right: 0
      &:nth-of-type(n+2)
        margin-top: 40px

    span
      display: block
      padding: 20px
  .design
    padding: 70px
    height: 707px
    box-sizing: border-box
    background-image: url("https://cdn.comfy.ua/media/x/img/1624893/11.jpg")
    background-repeat: no-repeat
    background-position: center right
    .design_img
      display: none
    .design_txt
      max-width: 620px
      margin-top: 80px
      color: #fff
  .snoska
    span
      display: block
      padding: 20px
  .creative
    background-color: #000
    .creative_txt
      max-width: 900px         
      padding: 20px
      margin: 0 auto
      color: #fff
      text-align: center
          
    

/*media**************************************************************/
@media (max-width: 1024px)
  #lg
    .design
      .design_txt
        max-width: 470px

@media (max-width: 812px)
  #lg
    h2
      font-size: 28px
    p
      >strong
        font-size: 16px
    .nano
      height: auto
      padding: 0
      background-image: unset
      background-color: #000
      display: flex
      flex-direction: column-reverse
      .nano_img
        display: block
      .nano_txt
        padding: 20px
        text-align: center
        margin: 0 auto
    .gsync
      padding: 20px
    .design
        background-color: #000
        padding: 0
        background-image: unset
        height: auto
        .design_img
          display: block
        .design_txt
          max-width: 100%
          text-align: center
          padding: 20px
          margin: 0
    

  @media (max-width: 480px)
    #lg
      .wins
        .wins_txt
          position: unset
          transform: unset
          padding: 20px
      .gsync
        .gsync_list
          flex-direction: column !important
          li
            max-width: 100%
            padding: 0 0 20px 0 !important
            text-align: center
      .work_black,
      .work
        padding: 20px

