// @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap')

// body
//    margin: 0

.rkt-philips-hx6800-44__container
   overflow: hidden

.bc-description__content p:first-letter
   padding-left: 0 !important

$bp-mobile: 320px
$bp-tablet: 768px
$bp-hd-desktop: 1024px
$maxWidthContainer: 1023

@mixin adaptiv-value($property, $startSize, $minSize)
   $addSize: $startSize - $minSize
   #{$property}: $startSize + px
   @media (max-width: #{$maxWidthContainer + px})
      #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}))

#rkt-philips-hx6800-44
   // margin: 0 auto
   // display: grid
   // grid-template-columns: calc(100% - 400px) 400px
   // max-width: 1406px
   // font-family: 'Roboto', sans-serif
   max-width: 1023px
   width: 100%
   height: auto
   position: relative
   overflow: hidden
   background: #fff
   h2, h3, h4, h5, h6, p
      margin: 0
      padding: 0
      line-height: 1.2
   ul
      margin: 0
      padding: 0
      list-style-type: disc
      padding-left: 20px
      margin: 0.5rem 0
      display: flex
      flex-direction: column
      gap: .5em
   img
      display: block
      max-width: 100%
      opacity: 1
      margin: 0 auto
      &:hover
         opacity: 1
   h2
      @include adaptiv-value("font-size", 26, 20)
      font-weight: 900
      text-align: left
      margin-bottom: 1rem
   h3
      @include adaptiv-value("font-size", 20, 18)
      font-weight: 900
      text-align: left
      margin-bottom: 1rem
   p
      @include adaptiv-value("font-size", 16, 14)
      font-weight: 400
      text-align: left
   li
      @include adaptiv-value("font-size", 16, 14)
      font-weight: 400
      text-align: left
      line-height: 1.2
   i
      line-height: 1.2
      @include adaptiv-value("font-size", 16, 14)
      margin-top: 0.5rem
      display: block
      font-style: italic

.philips
   div
      line-height: normal

.features-desc__text
   img
      margin-bottom: 0rem

//end default styles

.philips .container
   width: 100%
   max-width: 100%
   margin: 0 auto

//logo

.logo
   text-align: center

.philips__title
   font-weight: bold
   margin-bottom: 1rem

.philips__title,
.logo__txt
   font-size: clamp(20px, 2vw, 26px)

.logo__cont
   padding: 2em 2em 1em

.logo__wrap
   position: relative

.logo__i
   position: absolute
   top: 0
   left: 2em
   img
      width: 70%
      margin: 0 !important

//func

.func
   padding: 2em 2em 0

.func__items
   display: flex
   flex-direction: column
   gap: 2em

.func__item
   display: flex
   align-items: center
   gap: 1em
   .philips__title
      margin-bottom: 0

.func__i
   min-width: max-content

//twominutes

.twominutes
   padding: 2em 2em 0
   .philips__title
      text-align: center

.twominutes__row
   display: flex
   align-items: center
   gap: 2em
   margin-top: 50px

.twominutes__cal
   flex: 1

.twominutes__img
   min-width: max-content

//tech

.tech
   padding: 60px 60px 40px

.philips__txt
   font-size: clamp(16px, 1.3vw, 24px)

.philips__note
   font-size: clamp(12px, 1.2vw, 16px)
   padding-top: 60px

.tech__wrap
   display: flex
   flex-direction: column
   gap: 2em

.tech__row
   display: flex
   align-items: center
   gap: 2em
   justify-content: space-between
   &:nth-of-type(even)
      flex-direction: row-reverse

.tech__cont
   flex-basis: 55%

.tech__img
   flex-basis: 45%

//*********************************media*************************

@media (min-width: $bp-mobile) and (max-width: 767.9px)
   // #rkt-philips-hx6800-44
   //    display: block

   .logo__i
      max-width: 30vw
      left: .5em
   .logo__img img
      min-width: 150%
      margin-left: -30%

   .func__item .philips__title
      font-size: clamp(16px, 2vw, 26px)
   .func__i
      flex-basis: 25% !important
   .func__items
      gap: 1em
   .func__item
      gap: 1em

   .tech__row
      flex-direction: column !important
      gap: 1em
   .tech__cont
      max-width: 100%
      text-align: center
   .tech__row:last-child
      margin-top: 0
   .philips__note
      padding-top: 4em

// @media (min-width: $bp-tablet) and (max-width: 1023.9px)
//    #rkt-philips-hx6800-44
//       display: block

// @media (min-width: $bp-hd-desktop) and (max-width: 1201px)
//    #rkt-philips-hx6800-44
//       display: grid
//       grid-template-columns: calc(100% - 400px) 400px

@media (max-width: 1201px)
   .philips .container
      padding: 0 15px
      box-sizing: border-box

   .logo__cont
      padding: 1em 0
   .func__item .philips__title
      flex-basis: 80%
   .func__i
      min-width: unset
      flex-basis: 20%
   .func__items
      gap: 1em

   .func,
   .twominutes,
   .tech
      padding: 2em 0 0

   .tech__wrap
      gap: 2em
   .twominutes__row
      flex-direction: column
      gap: 2em
      margin-top: unset
   .twominutes__img img
      max-height: 40vh

   .tech
      padding-bottom: 1em
