/*default styles*/
#wmf {
  max-width: 1316px;
  width: 100%;
  margin: 0 auto;
  height: auto;
  display: block;
  background-color: #fff;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#wmf p {
  margin-bottom: 0;
  margin: 0;
  font-size: 18px;
}

#wmf p:first-letter {
  padding-left: 0;
}

#wmf h2 {
  display: block;
  line-height: normal;
  font-size: 46px;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

#wmf h3 {
  display: block;
  line-height: normal;
  font-size: 30px;
  font-weight: normal;
  padding: 0;
  margin: 0 0 20px 0;
}

#wmf img {
  opacity: 1;
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
}

#wmf img:hover {
  opacity: 1;
}

#wmf ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.breadcrumbs {
  display: none;
}

.features-desc__text img {
  margin-bottom: 0rem;
}

.one-col .features-desc__text p:first-letter {
  padding-left: 0rem !important;
}

/*end default styles*/
#wmf {
  padding: 30px 0;
}

#wmf .logo .logo__icon img {
  margin: 0 auto;
}

#wmf .logo .logo__img {
  margin-bottom: 70px;
}

#wmf .logo .logo__txt {
  text-align: center;
  margin-bottom: 30px;
  max-width: 960px;
  margin: 0 auto 70px auto;
}

#wmf .logo .logo__txt h2 {
  border-bottom: solid black 2px;
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  padding-bottom: 10px;
  margin-bottom: 10px;
  margin-top: 30px;
}

#wmf .logo .logo__txt span {
  font-size: 24px;
  line-height: normal;
  display: block;
  max-width: 640px;
  margin: 0 auto;
}

#wmf .vkus {
  padding: 0 60px;
}

#wmf .quote {
  position: relative;
  margin: 140px auto 110px auto;
  max-width: 960px;
}

#wmf .quote .quote__img {
  position: absolute;
  left: 0;
  bottom: 40px;
}

#wmf .quote .quote__txt {
  color: #fff;
  max-width: 730px;
  width: 100%;
  background-color: #A9B7BD;
  padding: 35px 35px 35px 120px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 0 0 auto;
}

#wmf .quote .quote__txt h2 {
  max-width: 840px;
  margin: 20px 0 30px auto;
}

#wmf .quote .quote__txt p {
  font-size: 22px;
}

#wmf .quote__reverse .quote__img {
  left: unset;
  right: 0;
}

#wmf .quote__reverse .quote__txt {
  padding: 35px 120px 35px 35px;
  margin: 140px 0 110px 0;
}

#wmf .ideal .ideal__title {
  width: 100% !important;
  max-width: 960px;
  text-align: center;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}

#wmf .ideal .ideal__title h3 {
  margin: 30px 0;
  text-transform: uppercase;
}

#wmf .ideal .ideal__img {
  margin-top: 70px;
}

@media (max-width: 1024px) {
  #wmf .quote .quote__img {
    max-width: 200px;
  }
  #wmf .vkus {
    padding: 0 20px;
  }
  #wmf .quote .quote__txt {
    max-width: 870px;
  }
  #wmf .process {
    padding: 0 20px 60px 20px;
  }
  #wmf .wmf__cont {
    padding: 0 20px;
  }
}

@media (max-width: 812px) {
  #wmf .quote__reverse .quote__txt {
    margin: 0 auto;
    padding: 35px 130px 35px 35px;
  }
  #wmf .quote__reverse .quote__img img {
    margin: 0 0 0 auto !important;
  }
  #wmf .quote .quote__img img {
    margin: 0;
  }
  #wmf h2 {
    font-size: 28px;
  }
  #wmf .quote .quote__txt {
    max-width: 600px;
  }
  #wmf .process {
    overflow: hidden;
  }
  #wmf .process .process__list {
    overflow-x: scroll;
  }
  #wmf .process .process__list li {
    min-width: 225px;
  }
  #wmf .wmf__cont .wmf__cont__list li .wmf__cont__txt::before {
    display: none;
  }
  #wmf .wmf__cont .wmf__cont__list li:nth-of-type(even) .wmf__cont__txt::before {
    display: none;
  }
  #wmf .wmf__cont .wmf__cont__list li .wmf__cont__txt h2 {
    margin-bottom: 0;
  }
  #wmf .wmf__cont .wmf__cont__list li .wmf__cont__txt h2::after {
    content: "";
    display: block;
    width: 260px;
    height: 2px;
    background-color: #000;
    margin: 20px 0;
    margin-left: -70px;
  }
  #wmf .wmf__cont .wmf__cont__list li:nth-of-type(even) .wmf__cont__txt h2::after {
    margin: 20px 0;
    margin-left: auto;
    margin-right: -70px;
  }
  #wmf .wmf__cont .wmf__cont__list li > div {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 0;
       -moz-box-flex: 1;
        -ms-flex: 1 1 0px;
            flex: 1 1 0;
  }
}

@media (max-width: 480px) {
  #wmf .logo .logo__txt {
    margin-bottom: 20px;
  }
  #wmf .quote .quote__txt {
    padding: 20px 20px 80px 20px;
  }
  #wmf .quote .quote__txt img {
    max-width: 40px;
  }
  #wmf .quote .quote__img {
    position: unset;
    margin-top: -70px;
    margin-left: -20px;
    z-index: 10;
  }
  #wmf .quote .quote__img img {
    max-width: 200px;
  }
  #wmf .quote {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
       -moz-box-orient: vertical;
       -moz-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin: 20px 0;
  }
  #wmf .wmf__cont .wmf__cont__list li {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -webkit-flex-direction: column !important;
       -moz-box-orient: vertical !important;
       -moz-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  #wmf .wmf__cont .wmf__cont__list li .wmf__cont__txt {
    padding-left: 0;
    text-align: center;
    margin: 20px 0 40px 0;
  }
  #wmf .wmf__cont .wmf__cont__list li .wmf__cont__txt h2::after {
    margin: 20px auto;
  }
  #wmf .wmf__cont .wmf__cont__list li:nth-of-type(even) .wmf__cont__txt {
    padding-right: 0;
    text-align: center;
  }
  #wmf .wmf__cont .wmf__cont__list li:nth-of-type(even) .wmf__cont__txt h2::after {
    margin: 20px auto;
  }
  #wmf .wmf__cont .wmf__cont__list .other .wmf__cont__txt h2::after {
    margin: 20px auto;
  }
  #wmf .wmf__cont .wmf__cont__list li .wmf__cont__txt img {
    margin: 0 auto;
  }
  #wmf .wmf__cont .wmf__cont__list .other:nth-of-type(even) .wmf__cont__txt h2::after {
    margin: 20px auto;
  }
  #wmf .wmf__cont .wmf__cont__list .center img {
    margin: 0 auto;
  }
  #wmf h3 {
    font-size: 20px;
  }
  #wmf .quote .quote__img {
    max-width: 200px;
  }
  #wmf .quote .quote__img img {
    max-width: 100%;
  }
  #wmf .logo .logo__txt {
    padding: 0 20px;
  }
}

@media (max-width: 320px) {
  #wmf h2 {
    font-size: 24px;
  }
}
