/*default styles*/
#halo {
  max-width: 1316px;
  width: 100%;
  margin: 0 auto;
  height: auto;
  display: block;
  background-color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#halo p {
  margin: 0;
  font-size: 18px;
}

#halo p:first-letter {
  padding-left: 0;
}

#halo h2 {
  display: block;
  line-height: normal;
  font-size: 36px;
  font-weight: bold;
  padding: 0 0 15px 0;
  margin: 0;
}

#halo h3 {
  display: block;
  text-align: unset;
  font-weight: bold;
  color: #545454;
  font-size: 24px;
  line-height: normal;
  margin: 0;
  padding: 0;
}

#halo img {
  opacity: 1;
  max-width: 100%;
  display: block;
  height: auto;
}

#halo img:hover {
  opacity: 1;
}

#halo ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.features-desc__text img {
  margin-bottom: 0rem;
}

.one-col .features-desc__text p:first-letter {
  padding-left: 0rem !important;
}

/*end default styles*/
#halo .wifi {
  height: 640px;
  padding: 70px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url("https://cdn.comfy.ua/media/x/img/1635020/1.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

#halo .wifi .wifi_txt span {
  background: #3bb7ff;
  color: #fff;
  -webkit-border-radius: 1em;
          border-radius: 1em;
  display: inline-block;
  font-size: 1.45em;
  line-height: 1.36;
  margin: 1.25em 0 0;
  padding: 0.35em 1em;
}

#halo .home {
  padding: 70px;
}

#halo .home .home_txt {
  text-align: center;
}

#halo .home .home_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 40px;
}

#halo .home .home_list a {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  text-align: center;
}

#halo .home .home_list a::before {
  display: block;
  content: '';
  min-width: 75px;
  height: 75px;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  background-position: center;
  margin: 0 auto;
  margin-bottom: 20px;
}

#halo .home .home_list a:nth-of-type(1):before {
  background-image: url("https://cdn.comfy.ua/media/x/img/1635020/i1.png");
}

#halo .home .home_list a:nth-of-type(2):before {
  background-image: url("https://cdn.comfy.ua/media/x/img/1635020/i2.png");
}

#halo .home .home_list a:nth-of-type(3):before {
  background-image: url("https://cdn.comfy.ua/media/x/img/1635020/i3.png");
}

#halo .home .home_list a:nth-of-type(4):before {
  background-image: url("https://cdn.comfy.ua/media/x/img/1635020/i4.png");
}

#halo .home .home_list a:nth-of-type(5):before {
  background-image: url("https://cdn.comfy.ua/media/x/img/1635020/i5.png");
}

#halo .home .home_list a:nth-of-type(6):before {
  background-image: url("https://cdn.comfy.ua/media/x/img/1635020/i6.png");
}

#halo .home .home_list a:nth-of-type(n+2) {
  margin-left: 40px;
}

#halo .vezde {
  padding: 70px;
  height: 772px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url("https://cdn.comfy.ua/media/x/img/1635020/2.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

#halo .vezde .vezde_txt {
  max-width: 560px;
  margin: 0 0 0 auto;
}

#halo .vezde .vezde_img {
  display: none;
}

#halo .rouming {
  padding: 70px;
}

#halo .rouming .rouming_txt {
  text-align: center;
}

#halo .rouming img {
  margin: 0 auto;
}

#halo .rouming .rouming_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}

#halo .rouming .rouming_list li {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  max-width: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#halo .rouming .rouming_list li:first-of-type {
  margin-right: 80px;
}

#halo .rouming .rouming_list li:first-of-type img:first-of-type {
  margin-bottom: 1.5em;
}

#halo .halo_cont .cont_list > li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

#halo .halo_cont .cont_list > li:nth-of-type(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

#halo .halo_cont .cont_list > li:nth-of-type(even) .cont_txt {
  text-align: left;
}

#halo .halo_cont .cont_list > li:first-of-type .line_list {
  margin-top: 30px;
}

#halo .halo_cont .cont_list > li:first-of-type .line_list li span:nth-of-type(even) {
  height: 0.5em;
  width: 15em;
  background: #0aa6fe;
  margin: 0 1em 0 0.5em;
  display: inline-block;
}

#halo .halo_cont .cont_list > li:first-of-type .line_list li span:nth-of-type(odd) {
  width: 4.5em;
  font-size: 1em;
  text-align: left;
}

#halo .halo_cont .cont_list > li:first-of-type .line_list li:last-of-type {
  margin-top: 20px;
}

#halo .halo_cont .cont_list > li:first-of-type .line_list li:last-of-type span:nth-of-type(even) {
  background: #75d1f9;
  height: 0.5em;
  width: 5em;
  margin: 0 1em 0 0.5em;
}

#halo .halo_cont .cont_list > li > div {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#halo .halo_cont .cont_list > li .cont_img {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

#halo .halo_cont .cont_list > li .cont_txt {
  text-align: right;
  padding: 20px;
}

#halo .halo_cont .cont_list > li:last-of-type p:last-of-type {
  margin: 50px 0 20px 0;
}

#halo .func {
  padding: 40px 0 0 0;
  background-color: #f8f8f8;
}

#halo .func .func_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

#halo .func .func_list li {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  max-width: 33.33%;
  min-width: 33.33%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  padding: 0 50px 40px 50px;
}

#halo .func .func_list li::before {
  content: '';
  display: block;
  min-width: 75px;
  height: 75px;
  background-position: center;
  -webkit-background-size: contain;
          background-size: contain;
  background-repeat: no-repeat;
}

#halo .func .func_list li:nth-of-type(1)::before {
  background-image: url("https://cdn.comfy.ua/media/x/img/1635020/i7.png");
}

#halo .func .func_list li:nth-of-type(2)::before {
  background-image: url("https://cdn.comfy.ua/media/x/img/1635020/i8.png");
}

#halo .func .func_list li:nth-of-type(3)::before {
  background-image: url("https://cdn.comfy.ua/media/x/img/1635020/i9.png");
}

#halo .func .func_list li:nth-of-type(4)::before {
  background-image: url("https://cdn.comfy.ua/media/x/img/1635020/i10.png");
}

#halo .func .func_list li:nth-of-type(5)::before {
  background-image: url("https://cdn.comfy.ua/media/x/img/1635020/i11.png");
}

#halo .func .func_list li:nth-of-type(6)::before {
  background-image: url("https://cdn.comfy.ua/media/x/img/1635020/i12.png");
}

/*media**********************************************/
@media (max-width: 812px) {
  #halo .wifi,
  #halo .home,
  #halo .vezde,
  #halo .rouming {
    padding: 20px;
  }
  #halo .home {
    overflow: hidden;
  }
  #halo .home .home_list {
    overflow-x: scroll;
  }
  #halo .vezde .vezde_txt {
    text-align: center;
    max-width: 100%;
  }
  #halo .halo_cont .cont_list > li .cont_img {
    -webkit-box-flex: 1.3;
    -webkit-flex: 1.3;
        -ms-flex: 1.3;
            flex: 1.3;
  }
  #halo .halo_cont .cont_list > li:first-of-type .line_list li span:nth-of-type(even) {
    width: 5em;
  }
  #halo .halo_cont .cont_list > li:first-of-type .line_list li:last-of-type span:nth-of-type(even) {
    width: 1em;
  }
  #halo .func .func_list li {
    padding: 0 20px 20px 20px;
  }
}

@media (max-width: 480px) and (min-width: 320px) {
  #halo h2 {
    font-size: 28px;
  }
  #halo h3 {
    font-size: 22px;
  }
  #halo .wifi {
    -webkit-background-size: cover;
            background-size: cover;
    height: 500px;
  }
  #halo .vezde {
    height: auto;
    background: unset;
  }
  #halo .vezde .vezde_img {
    display: block;
  }
  #halo .rouming {
    padding: 20px 0;
  }
  #halo .rouming .rouming_txt {
    padding: 0 20px;
  }
  #halo .rouming .rouming_list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #halo .rouming .rouming_list li {
    max-width: 100%;
  }
  #halo .rouming .rouming_list li:first-of-type {
    margin-right: 0;
    margin-bottom: 40px;
  }
  #halo .halo_cont .cont_list > li {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -webkit-flex-direction: column !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  #halo .halo_cont .cont_list > li > div {
    max-width: 100%;
    -webkit-box-flex: unset;
    -webkit-flex: unset;
        -ms-flex: unset;
            flex: unset;
  }
  #halo .halo_cont .cont_list > li .cont_txt {
    text-align: center !important;
  }
  #halo .func .func_list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #halo .func .func_list li {
    max-width: 100%;
  }
}
