/*default styles*/

.features-desc__text img {
  margin-bottom: 0rem !important;
}

#tcl p:first-letter {
  padding-left: 0;
}

#tcl p {
  margin-bottom: 0;
  margin: 0;
  padding: 0;
  line-height: normal;
  font-size: 18px;
}

#tcl img:hover {
  opacity: 1;
}

#tcl img {
  display: block;
  margin-right: initial;
  margin-left: initial;
  opacity: 1;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

#tcl h2,
#tcl h3,
#tcl h4 {
  font-weight: bold;
  margin: 0;
  padding: 0;
  display: block;
  line-height: normal;
}

#tcl h4 {
  font-size: 15px;
}

#tcl ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

#tcl ul li {
  font-size: 18px;
  line-height: normal;
}

#tcl {
  max-width: 1000px;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

/*end default styles*/

/*section 1*/

#tcl .tcl_actv100 {
  background-image: url("https://cdn.comfy.ua/media/x/img/1582778/sect1_bg.png");
  background-repeat: no-repeat;
  background-position: center right;
  height: 402px;
  width: 100%;
  padding: 60px 40px;
  box-sizing: border-box;
  position: relative;
}

#tcl .tcl_actv100 .tcl_actv100_txt {
  /* float: right; */
  max-width: 430px;
  position: absolute;
  top: 100px;
}

#tcl .tcl_actv100 .tcl_actv100_txt p:first-of-type {
  margin-bottom: 10px;
}


#tcl .tcl_actv100 .tcl_actv100_txt h2 {
  /* color: #009999; */
  color: #fff;
  margin-bottom: 20px;
}

#tcl .tcl_actv100 .tcl_actv100_txt p {
  color: #fff;
}

/*end section 1*/

/*section 2*/

#tcl .excellence {
  background-color: #dae3f3;
  padding: 40px 20px;
  box-sizing: border-box;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
}

#tcl .excellence div {
  -webkit-box-flex: 1;
  flex: 1 1 0;
}

#tcl .excellence .excellence_txt ul.excellence_list {
  margin-top: 30px;
}

#tcl .excellence .excellence_txt ul.excellence_list li {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 5px;
}

#tcl .excellence .excellence_txt ul.excellence_list li:last-of-type {
  margin-bottom: 0;
}

#tcl .excellence .excellence_txt ul.excellence_list li::before {
  display: block;
  content: '';
  min-width: 18px;
  height: 18px;
  background-image: url("https://cdn.comfy.ua/media/x/img/1582767/marker.png");
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 10px;
}

#tcl .excellence .excellence_txt h2 {
  color: #009999;
}

#tcl .excellence .excellence_txt h2:first-of-type {
  margin-bottom: 30px;
  color: #990033;
}

#tcl .excellence .excellence_txt h3 {
  color: #1f4d79;
  text-align: left;
}

#tcl .excellence .excellence_txt h3:first-of-type {
  margin-bottom: 40px;
}

#tcl .excellence .excellence_txt ul.excellence_icon {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
}

#tcl .excellence .excellence_txt ul.excellence_icon li {
  -webkit-box-flex: 1;
  flex: 1 1 0;
  text-align: center;
}

#tcl .excellence .excellence_txt ul.excellence_icon li>h4 {
  margin-bottom: 5px;
}

#tcl .excellence .excellence_txt ul.excellence_icon li>p {
  font-size: 15px;
}


#tcl .excellence .excellence_img {
  padding-right: 20px;
}

/*end section 2*/


/*section 3*/

#tcl .tlc_icon {
  padding: 40px 20px;
  background-color: #ededed;
}

#tcl .tlc_icon ul.icon_list {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  flex-wrap: wrap;
}

#tcl .tlc_icon ul.icon_list li {
  -webkit-box-flex: 1;
  flex: 1 1 0;
  min-width: 50%;
  text-align: center;
}

#tcl .tlc_icon ul.icon_list li:nth-of-type(1),
#tcl .tlc_icon ul.icon_list li:nth-of-type(2),
#tcl .tlc_icon ul.icon_list li:nth-of-type(3),
#tcl .tlc_icon ul.icon_list li:nth-of-type(4) {
  margin-bottom: 40px;
}

#tcl .tlc_icon ul.icon_list li .icon_img {
  min-height: 155px;
  margin-bottom: 10px;
}

#tcl .tlc_icon ul.icon_list li .icon_img img {
  margin: 0 auto;
}

#tcl .tlc_icon ul.icon_list li .icon_txt h4 {
  margin-bottom: 5px;
}

/*end section 3*/

/*section 4*/

#tcl .design {
  height: 433px;
  width: 100%;
  background-image: url("https://cdn.comfy.ua/media/x/img/1582765/sect4_bg.png");
  background-repeat: no-repeat;
  background-position: center left;
  padding: 40px 60px;
  box-sizing: border-box;
}

#tcl .design h2 {
  color: #fff;
}

#tcl .design .design_txt {
  max-width: 400px;
  padding-left: 20px;
  box-sizing: border-box;
  margin-top: 9%;
}

#tcl .design .design_txt p:first-of-type {
  margin-bottom: 10px;
}

/*end section 4*/


/*section 5*/

#tcl ul.content li {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  padding: 40px 0;
}

#tcl ul.content li div {
  -webkit-box-flex: 1;
  flex: 1 1 0;
  max-width: 50%;
  box-sizing: border-box;
}

#tcl ul.content li:nth-of-type(1) {
  background-color: #fff2cc;
}

#tcl ul.content li:nth-of-type(2) {
  box-sizing: border-box;
  background-image: url("https://cdn.comfy.ua/media/x/img/1582778/sec5_img2.png");
  height: 471px;
  background-position: center right;
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
          flex-direction: row-reverse;
}

#tcl ul.content li:nth-of-type(3) {
  background-image: url("https://cdn.comfy.ua/media/x/img/1582778/sec5_img3.png");
  height: 469px;
  box-sizing: border-box;
  background-position: center right;
}

#tcl ul.content li:nth-of-type(4) {
  background-color: #fff2cc;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
          flex-direction: row-reverse;
}

#tcl ul.content li:nth-of-type(5) {
  background-color: #fff2cc;
}

#tcl ul.content li:nth-of-type(6) {
  padding: 40px 0;
  height: 470px;
  background-image: url("https://cdn.comfy.ua/media/x/img/1582778/sect6_img2.png");
  background-position: center right;
  box-sizing: border-box;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
          flex-direction: row-reverse;
}

#tcl ul.content li .cont_img img {
  margin: 0 auto;
}

#tcl ul.content li:nth-of-type(5) .cont_txt,
#tcl ul.content li:nth-of-type(1) .cont_txt {
  padding-right: 40px;
  padding-left: 20px;
}


#tcl ul.content li:nth-of-type(2) .cont_txt,
#tcl ul.content li:nth-of-type(3) .cont_txt,
#tcl ul.content li:nth-of-type(4) .cont_txt,
#tcl ul.content li:nth-of-type(6) .cont_txt {
  padding-left: 40px;
  padding-right: 20px;
}

#tcl ul.content li:nth-of-type(6) .cont_txt h2,
#tcl ul.content li:nth-of-type(6) .cont_txt p {
  color: #fff;
}

#tcl ul.content li .cont_txt h2 {
  margin-bottom: 20px;
}

#tcl ul.content li:nth-of-type(5) .cont_txt h2 {
  color: #c00000;
}

#tcl ul.content li:nth-of-type(5) .cont_txt p:last-of-type {
  margin-top: 20px;
}

#tcl ul.content li:nth-of-type(1) .cont_txt h2 {
  color: #c00000;
}

#tcl ul.content li:nth-of-type(2) .cont_txt h2 {
  color: #1f4d79;
}

#tcl ul.content li:nth-of-type(4) .cont_txt h2 {
  color: #c00000;
}


#tcl ul.content li:nth-of-type(4) .cont_txt p:nth-of-type(2) {
  margin-bottom: 10px;
}

#tcl ul.content li:nth-of-type(3) .cont_txt h2 {
  color: #c00000;
}

#tcl ul.content li .cont_txt p:nth-of-type(2) {
  margin-top: 10px;
}

/*end section 5*/



/*************************MEDIA******************/

@media (max-width: 812px) and (min-width: 481px) {
  #tcl .tcl_actv100 {
    background-position: center right 82%;
  }

  #tcl ul.content li:nth-of-type(4) {
    height: auto;
    padding: 40px 0px;
    background-size: cover;
    background-position: center;
  }

  #tcl ul.content li:nth-of-type(1) {
    background-position: center right 63%;
  }

  #tcl ul.content li:nth-of-type(5) {
    height: auto;
    background-size: cover;
    background-position: center left 54%;
  }

  #tcl ul.content li:nth-of-type(2) {
    padding-top: 120px;
    background-position: center right 70%;
  }

  #tcl ul.content li:nth-of-type(3) {
    background-position: center right 25%;
  }

  #tcl ul.content li:nth-of-type(6) {
    background-position: center right 76%;
  }
}

@media (max-width: 480px) and (min-width: 320px) {
  #tcl .tcl_actv100 {
    padding: 40px 20px;
    background-position: center right 50%;
  }

  #tcl .tcl_actv100 .tcl_actv100_txt {
    max-width: 65%;
  }

  #tcl .excellence {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }

  #tcl .excellence .excellence_txt ul.excellence_icon {
    flex-wrap: wrap;
  }

  #tcl .excellence .excellence_img {
    padding-right: 0;
    padding-bottom: 20px;
  }

  #tcl .excellence .excellence_txt ul.excellence_icon li {
    min-width: 40%;
  }

  #tcl .excellence .excellence_txt ul.excellence_icon li:nth-of-type(2) {
    padding-right: 0;
  }

  #tcl .excellence .excellence_txt ul.excellence_icon li:nth-of-type(1),
  #tcl .excellence .excellence_txt ul.excellence_icon li:nth-of-type(2) {
    margin-bottom: 20px;
  }


  #tcl .tlc_icon ul.icon_list li {
    min-width: 50% !important;
  }

  #tcl .tlc_icon ul.icon_list li:nth-of-type(1),
  #tcl .tlc_icon ul.icon_list li:nth-of-type(2),
  #tcl .tlc_icon ul.icon_list li:nth-of-type(3),
  #tcl .tlc_icon ul.icon_list li:nth-of-type(4),
  #tcl .tlc_icon ul.icon_list li:nth-of-type(5),
  #tcl .tlc_icon ul.icon_list li:nth-of-type(6) {
    margin-bottom: 20px;
  }

  #tcl .tlc_icon ul.icon_list li:nth-of-type(1),
  #tcl .tlc_icon ul.icon_list li:nth-of-type(3) {
    padding-right: 20px;
    box-sizing: border-box;
  }

  #tcl .design {
    padding: 20px 0;
    background-position: center left 12%;
  }

  #tcl .design h2 {
    display: block;
    padding: 0 20px;
  }

  #tcl .design .design_txt {
    padding-left: 0;
    margin-top: 12%;
    padding: 2rem 1rem;
  }

  #tcl ul.content li {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    flex-direction: column !important;
  }

  #tcl ul.content li div {
    max-width: 100%;
  }

  #tcl ul.content li .cont_txt {
    padding: 0px 20px 20px 20px !important;
  }

  #tcl ul.content li:nth-of-type(4) {
    padding-top: 40px;
    background-size: cover;
  }

  #tcl ul.content li:nth-of-type(4) {
    height: auto;
    padding: 40px 0px;
    background-size: cover;
  }

  #tcl ul.content li:nth-of-type(5) {
    height: auto;
    background-size: cover;
  }

  #tcl ul.content li:nth-of-type(2) {
    padding-top: 140px;
  }

  #tcl ul.content li:nth-of-type(3) {
    background-position: left;
    height: auto;
    background-size: cover;
  }

  #tcl ul.content li:nth-of-type(6) {
    height: auto;
   
  }
}