/*default styles*/
#kiwi {
  max-width: 1316px;
  width: 100%;
  margin: 0 auto;
  height: auto;
  display: block;
  background-color: #fff;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#kiwi p {
  margin-bottom: 0;
  margin: 0;
}

#kiwi p:first-letter {
  padding-left: 0;
}

#kiwi h2 {
  display: block;
  line-height: normal;
  font-size: 36px;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

#kiwi img {
  opacity: 1;
  max-width: 100%;
  display: block;
  height: auto;
}

#kiwi img:hover {
  opacity: 1;
}

#kiwi ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.features-desc__text img {
  margin-bottom: 0rem;
}

.one-col .features-desc__text p:first-letter {
  padding-left: 0rem !important;
}

/*end default styles*/
#kiwi .premium {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 90px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  height: 765px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("https://cdn.comfy.ua/media/x/img/1661820/2.png");
}

#kiwi .premium .premium__txt {
  color: #fff;
  margin-left: 450px;
}

#kiwi span.large {
  font-size: 80px;
  font-weight: bold;
  line-height: normal;
  display: block;
  margin-bottom: 80px;
}

#kiwi .proc {
  padding: 90px;
  height: 748px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("https://cdn.comfy.ua/media/x/img/1661820/1.png");
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
     -moz-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#kiwi .proc .proc__txt {
  max-width: 330px;
  color: #fff;
}

#kiwi .proc .proc__txt p {
  font-size: 24px;
}

#kiwi .tech span.large {
  margin-bottom: 30px;
}

#kiwi .tech .tech__list li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#kiwi .tech .tech__list li > div {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
     -moz-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  max-width: 50%;
}

#kiwi .tech .tech__list li .tech__txt {
  padding: 90px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#kiwi .tech .tech__list li:nth-of-type(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
     -moz-box-orient: horizontal;
     -moz-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

#kiwi .tech .tech__list li .tech__img {
  position: relative;
}

#kiwi .tech .tech__list li .tech__img .abs__elem {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 20px 90px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  bottom: 0;
}

#kiwi .tech .tech__list li .tech__img .abs__elem span {
  display: block;
  color: #fff;
  font-size: 20px;
  background-color: #0a5fda;
  padding: 5px 20px;
  min-width: 102px;
  text-align: center;
}

#kiwi .tech .tech__list li:last-of-type span.large {
  font-size: 60px;
}

#kiwi .android {
  height: 647px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("https://cdn.comfy.ua/media/x/img/1647307/4.png");
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#kiwi .android .android__flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#kiwi .android .android__flex > div {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
     -moz-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
}

#kiwi .android .android__flex .android__item {
  color: #fff;
}

#kiwi .android .android__flex .android__item span.large {
  margin-bottom: 0;
}

#kiwi .android .android__flex .android__item span.kiwi__vision {
  display: block;
  line-height: normal;
  color: #0a5fda;
  font-size: 24px;
  background-color: #fff;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  padding: 5px 20px;
  margin: 30px 0;
}

#kiwi .android .android__flex .android__item:last-of-type {
  padding: 90px;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}

#kiwi .digital {
  background-image: url("https://cdn.comfy.ua/media/x/img/1647307/6.png");
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  padding: 0 0 90px 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  height: 1110px;
}

#kiwi .digital .digital__list {
  -webkit-transform: translateY(-170px);
     -moz-transform: translateY(-170px);
      -ms-transform: translateY(-170px);
       -o-transform: translateY(-170px);
          transform: translateY(-170px);
}

#kiwi .digital .digital__list > li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#kiwi .digital .digital__list > li > div {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
     -moz-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  padding: 90px 90px 0 90px;
}

#kiwi .digital .digital__list > li:nth-of-type(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
     -moz-box-orient: horizontal;
     -moz-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

#kiwi .digital .digital__list > li .digital__txt {
  color: #fff;
}

#kiwi .digital .digital__list > li .digital__txt span.large {
  margin-bottom: 30px;
}

#kiwi .digital .digital__list > li .digital__txt > p {
  margin-bottom: 30px;
}

#kiwi .digital .digital__list > li .digital__list__icon {
  padding-left: 50px;
}

#kiwi .digital .digital__list > li .digital__list__icon li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#kiwi .digital .digital__list > li .digital__list__icon li .digital__list__icon__img {
  min-width: 57px;
  margin-right: 30px;
}

#kiwi .digital .digital__list > li .digital__list__icon li .digital__list__icon__img img {
  -webkit-filter: invert(100%);
          filter: invert(100%);
  margin: 0 auto;
}

#kiwi .digital .digital__list > li .digital__list__icon li:nth-of-type(n+2) {
  margin-top: 10px;
}

#kiwi .interier {
  position: relative;
}

#kiwi .interier .interier__txt {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  position: absolute;
  padding: 90px;
  text-align: center;
  right: 50%;
  -webkit-transform: translateX(50%);
     -moz-transform: translateX(50%);
      -ms-transform: translateX(50%);
       -o-transform: translateX(50%);
          transform: translateX(50%);
}

#kiwi .memc {
  margin-top: 100px;
}

#kiwi .memc .memc__txt {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 90px;
  text-align: center;
  max-width: 660px;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  #kiwi .digital .digital__list {
    -webkit-transform: unset;
       -moz-transform: unset;
        -ms-transform: unset;
         -o-transform: unset;
            transform: unset;
  }
  #kiwi .digital {
    height: 100%;
  }
  #kiwi .tech .tech__list li .tech__txt {
    padding: 40px;
  }
}

@media (max-width: 812px) {
  #kiwi .memc .memc__txt {
    padding: 20px;
  }
  #kiwi .memc .memc__txt span.large {
    margin-bottom: 40px;
  }
  #kiwi .premium {
    padding: 20px;
  }
  #kiwi .premium .premium__txt {
    margin-left: 0;
    text-align: center;
  }
  #kiwi span.large {
    font-size: 45px;
  }
  #kiwi .android {
    height: 400px;
  }
  #kiwi .android .android__flex .android__item:last-of-type {
    padding: 20px;
  }
  #kiwi .digital .digital__list > li > div {
    padding: 20px;
  }
  #kiwi .interier .interier__txt {
    padding: 20px;
  }
  #kiwi .tech .tech__list li:last-of-type span.large {
    font-size: 45px;
  }
}

@media (max-width: 480px) {
  #kiwi .premium {
    height: 500px;
  }
  #kiwi .uniformity .uniformity__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #kiwi .android .android__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #kiwi .android {
    height: 100%;
  }
  #kiwi .android .android__flex .android__item:last-of-type {
    max-width: 100%;
    text-align: center;
  }
  #kiwi .android .android__flex .android__item span.kiwi__vision {
    margin: 30px auto;
  }
  #kiwi .digital .digital__list > li {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
    -webkit-flex-direction: column-reverse !important;
       -moz-box-orient: vertical !important;
       -moz-box-direction: reverse !important;
        -ms-flex-direction: column-reverse !important;
            flex-direction: column-reverse !important;
  }
  #kiwi .digital {
    padding-bottom: 0;
  }
  #kiwi .interier .interier__txt span.large {
    margin-bottom: 0;
    width: 100%;
  }
  #kiwi span.large {
    font-size: 28px;
  }
  #kiwi .tech .tech__list li {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -webkit-flex-direction: column !important;
       -moz-box-orient: vertical !important;
       -moz-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  #kiwi .tech .tech__list li > div {
    max-width: 100%;
  }
  #kiwi .tech .tech__list li .tech__txt {
    padding: 20px 20px 40px 20px;
    text-align: center;
  }
  #kiwi .tech .tech__list li .tech__img .abs__elem {
    padding: 20px;
  }
  #kiwi .tech .tech__list li:last-of-type span.large {
    font-size: 28px;
  }
  #kiwi .proc {
    height: 400px;
    padding: 20px;
    text-align: center;
  }
}
