/*default styles*/

#rowenta
  max-width: 1316px
  width: 100%
  margin: 0 auto
  height: auto
  display: block
  box-sizing: border-box
  overflow: hidden
  p
    margin-bottom: 0
    margin: 0
    text-align: unset
    font-size: 20px
    &:first-letter
      padding-left: 0
  h2
    text-transform: uppercase
    display: block
    line-height: normal
    font-size: 34px
    font-weight: bold
    padding: 0
    margin: 0
    text-align: unset
  h3
    text-transform: uppercase
    display: block
    line-height: normal
    font-size: 26px
    font-weight: bold
    padding: 0
    margin: 0
    text-align: unset
  img
    opacity: 1
    max-width: 100%
    display: block
    height: auto
    &:hover
      opacity: 1
  ul
    list-style-type: none
    padding: 0
    margin: 0
  span
    line-height: normal
    display: block

.features-desc__text
  img
    margin-bottom: 0rem
.one-col .features-desc__text
  p:first-letter
    padding-left: 0rem !important

/*end default styles*/

#rowenta
  .logo
    position: relative
    border-bottom: #a87651 solid 10px
    padding-left: 65px
    .logo__title
      display: flex
      flex-direction: row
      align-items: center
      .logo__title__img
        flex: 1
        padding-right: 15px
      .logo__title__txt
        flex: 2
        background-color: #343e48
        padding: 15px
        span
          font-size: 40px
          font-weight: bold
          color: #fff
    .logo__flex
      display: flex
      flex-direction: row
      align-items: center
      .logo__flex__txt
        flex: 1
        h2
          line-height: 70px
      .logo__flex__img
        flex: 2
    .logo__abs
      position: absolute
      top: 10px
      right: 0px
      z-index: 10

  .design
    position: relative
    .design__txt
      max-width: 50%
      position: absolute
      color: #fff
      padding: 65px
      box-sizing: border-box
      right: 0
      bottom: 50%
      transform: translateY(50%)
      h2
        margin-bottom: 40px

  .nasadka
    position: relative
    .nasadka__txt
      position: absolute
      box-sizing: border-box
      max-width: 400px
      right: 65px
      padding: 15px 15px 0 15px
      top: 65px
      color: #fff
      background-color: rgba(29, 35, 44, 0.89)
      border-radius: 12px
      p
        strong
          text-transform: uppercase
          display: block
          margin-bottom: 40px
        &:nth-of-type(3)
          display: block
          margin: 20px 0
      .nasadka__list
        display: flex
        flex-direction: row
        margin: 20px -15px 0 -15px
        li
          flex: 1 1 0
          img
            margin: 0 auto
          &:nth-of-type(2)
            margin: 0 10px

  .motor
    background-color: #213c50
    .motor__flex
      display: flex
      flex-direction: row
      .motor__txt
        flex: 1
        padding-left: 65px
        box-sizing: border-box
        color: #fff
        img
          margin: unset
          margin-bottom: 40px
          margin-top: -70px
          position: relative
          max-width: 80%
      .motor__img
        flex: 2

  .cyclonic
    position: relative
    .cyclonic__title
      position: absolute
      left: 65px
      top: 50px
      h2
        color: #343e48
        margin-bottom: 10px
      p
        color: #1d232c
    .cyclonic__txt
      position: absolute
      bottom: 50px
      right: 65px
      span
        color: #1d232c
        text-transform: uppercase
        font-weight: bold
        font-size: 28px

  .filter
    display: flex
    flex-direction: row
    align-items: center
    background-color: #213c50
    li
      &:nth-of-type(1)
        img
          margin: auto 0 0 0
          max-width: 90%
      &:nth-of-type(3)
        img
          margin: 0 0 0 auto
      &:nth-of-type(odd)
        flex: 1
      &:nth-of-type(even)
        flex: 2
        padding: 15px
        color: #fff

  .freedom
    position: relative
    .freedom__title
      position: absolute
      color: #343e48
      left: 65px
      top: 40px
    .freedom__txt
      position: absolute
      padding: 15px
      box-sizing: border-box
      color: #fff
      background-color: rgba(33, 60, 80, 0.88)
      border-radius: 20px
    .freedom__txt__one
      left: 65px
      top: 250px
      display: flex
      flex-direction: row
      align-items: center
      max-width: 500px
      img
        margin: -15px -15px -15px 0
    .freedom__txt__two
      right: 65px
      top: 400px
      max-width: 430px
      h3
        margin-bottom: 20px
    .freedom__icon
      padding: 15px 250px
      background-color: #213c50
      display: flex
      flex-direction: row
      justify-content: space-between
      align-items: center

  .clean
    padding: 65px
    box-sizing: border-box
    .clean__title
      color: #343e48
    .clean__sub__title
      color: #343e48
    .clean__list
      display: flex
      flex-direction: row
      justify-content: space-between
      margin: 20px 0
    .clean__sub__list
      display: flex
      flex-direction: row
      justify-content: center
      margin-top: 20px
      li
        &:nth-of-type(1)
          margin-right: 30px

  .extreme
    background-color: #213c50
    color: #fff
    padding: 65px
    box-sizing: border-box
    .extreme__flex
      display: flex
      flex-direction: row
      align-items: center
      margin-top: 65px
      .extreme__wrap
        display: flex
        flex-direction: row
        max-width: 30%
        box-sizing: border-box
        .extreme__list
          display: flex
          flex-direction: column
          justify-content: space-between
          max-width: 50%
          li
            padding: 40px 0
            text-align: center
            span
              font-size: 18px
              color: #3db8e6
              font-weight: bold
      .extreme__txt
        max-width: 70%
        box-sizing: border-box
        display: flex
        flex-direction: row
        align-items: center
        &::before
          content: ""
          display: block
          min-width: 160px
          height: 93px
          background-repeat: no-repeat
          background-position: center
          background-size: contain
          background-image: url("https://cdn.comfy.ua/media/x/img/1616550/arrow.png")
          margin: 0 65px
        .extreme__txt__wrap
          img
            padding: 150px 0
            margin: unset

//media*****************************************************

@media (max-width: 1024px)
  #rowenta .logo
    .logo__abs
      max-width: 55%
      z-index: 10
  #rowenta .motor .motor__flex .motor__txt
    padding-bottom: 1em
  #rowenta .freedom .freedom__txt__one
    top: 170px
  #rowenta .freedom .freedom__icon
    padding: 15px 120px
  #rowenta .clean .clean__list li:nth-of-type(n+2)
    margin-left: 15px
  #rowenta .extreme .extreme__flex .extreme__wrap .extreme__list li
    padding: 20px 0
  #rowenta .logo .logo__abs
    top: 55px
  #rowenta .nasadka .nasadka__txt
    top: 35px
  #rowenta .extreme .extreme__flex .extreme__wrap .extreme__list
    max-width: 43%

@media (max-width: 812px)
  #rowenta h2
    font-size: 24px
  #rowenta .logo
    padding-left: 1em
  #rowenta .logo .logo__flex .logo__flex__txt h2
    line-height: normal
  #rowenta .logo .logo__abs
    max-width: 50%
    top: 100px
  #rowenta .design .design__txt
    padding: 1em
  #rowenta .nasadka .nasadka__txt
    max-width: unset
    left: 3em
    right: 3em
    top: 3em
    padding: 1em
  #rowenta .motor .motor__flex .motor__txt img
    margin-top: unset
  #rowenta .nasadka .nasadka__img img
    min-width: 200%
    margin-left: -85%
  #rowenta .motor .motor__flex
    flex-direction: column
  #rowenta .motor .motor__flex .motor__txt
    padding: 1em
    text-align: center
  #rowenta .motor .motor__flex .motor__txt img
    max-width: 40%
    margin: 0 auto 40px auto
  #rowenta .cyclonic .cyclonic__title
    left: 1em
    top: 1em
  #rowenta .cyclonic .cyclonic__txt
    right: 1em
    bottom: 1em
  #rowenta h3
    font-size: 20px
  #rowenta .freedom .freedom__txt__one
    max-width: 400px
  #rowenta .freedom .freedom__icon
    padding: 1em
  #rowenta .freedom .freedom__icon li:nth-of-type(n+2)
    margin-left: 15px
  #rowenta .clean
    padding: 1em
  #rowenta .extreme
    padding: 1em
  #rowenta .extreme .extreme__flex
    flex-direction: column-reverse
    margin-top: 2em
  #rowenta .extreme .extreme__flex .extreme__wrap
    max-width: 50%
  #rowenta .extreme .extreme__flex .extreme__txt
    max-width: 100%
    text-align: center
    padding: 1em
  #rowenta .extreme .extreme__flex .extreme__txt .extreme__txt__wrap img
    padding: 3em 0
    margin: 0 auto
  #rowenta .extreme .extreme__flex .extreme__txt::before
    display: none
  #rowenta .extreme .extreme__title
    text-align: center
  #rowenta .extreme .extreme__flex .extreme__wrap .extreme__list li
    padding: 40px 0

@media (max-width: 480px)
  #rowenta p
    font-size: unset
  #rowenta .logo .logo__title .logo__title__txt span
    font-size: 16px
  #rowenta .logo .logo__flex
    flex-direction: column
    align-items: flex-start
  #rowenta .design .design__txt
    position: unset
    transform: unset
    background-color: #1d232c
    max-width: 100%
  #rowenta .design .design__img img
    min-width: 200%
  #rowenta .logo .logo__flex
    position: relative
  #rowenta .logo .logo__flex .logo__flex__txt
    padding: 1em 0
    position: absolute
    bottom: 50%
    transform: translateY(50%)
  #rowenta .logo .logo__abs
    display: none
  #rowenta .design .design__txt h2
    margin-bottom: 20px
  #rowenta .nasadka .nasadka__txt
    position: unset
    background-color: rgba(29, 35, 44, 1)
    border-radius: unset
    padding-bottom: 0
  #rowenta .cyclonic .cyclonic__title
    position: unset
  #rowenta .cyclonic .cyclonic__txt
    position: unset
    order: 1
    padding: 0 1em 1em 1em
  #rowenta .cyclonic .cyclonic__txt span
    font-size: 14px
    text-align: right
  #rowenta .cyclonic
    display: flex
    flex-direction: column
  #rowenta .cyclonic .cyclonic__title
    order: 0
    margin-bottom: 20px
    padding: 1em 1em 0 1em
    h2
      font-size: 20px
  #rowenta .cyclonic .cyclonic__img
    order: 2
    img
      min-width: 151%
      margin-left: -16%
  #rowenta .filter
    flex-direction: column
    align-items: stretch
  #rowenta .filter li:nth-of-type(even)
    text-align: center
  #rowenta .filter li:nth-of-type(3) img
    margin: unset
    width: 100%
  #rowenta .freedom
    display: flex
    flex-direction: column
  #rowenta .freedom .freedom__title
    position: unset
    padding: 1em
    order: 0
  #rowenta .freedom .freedom__txt__one
    position: unset
    order: 1
    img
      max-width: 37%
  #rowenta .freedom .freedom__txt__two
    position: unset
    order: 2
    text-align: center
  #rowenta .freedom .freedom__img
    order: 3
  #rowenta .freedom .freedom__icon
    order: 4
    justify-content: unset
    padding: 0
    overflow-x: scroll
    padding: 1em
    li
      min-width: 95px
  #rowenta .freedom .freedom__txt__one,
  #rowenta .freedom .freedom__txt__two
    background-color: rgba(33, 60, 80, 1)
    border-radius: unset
  #rowenta .clean .clean__list
    overflow-x: scroll
    li
      min-width: 95px
  #rowenta .extreme .extreme__flex .extreme__wrap
    max-width: 100%
  #rowenta .extreme .extreme__flex .extreme__wrap .extreme__list li
    padding: 30px 0
