/*default styles*/

#delonghi
  max-width: 1316px
  width: 100%
  margin: 0 auto
  height: auto
  display: block
  box-sizing: border-box
  overflow: hidden
  background-color: #fff
  p
    text-align: unset
    margin-bottom: 0
    margin: 0
    font-size: 20px
    &:first-letter
      padding-left: 0
  h2
    text-align: unset
    display: block
    line-height: normal
    font-size: 28px
    font-weight: bold
    padding: 0
    margin: 0
    margin-bottom: 15px
  h3
    text-align: unset
    display: block
    line-height: normal
    font-size: 24px
    font-weight: bold
    padding: 0
    margin: 0
  img
    opacity: 1
    max-width: 100%
    display: block
    height: auto
    &:hover
      opacity: 1
  ul
    list-style-type: none
    padding: 0
    margin: 0
  span
    line-height: normal
    display: block

.features-desc__text
  img
    margin-bottom: 0rem
.one-col .features-desc__text
  p:first-letter
    padding-left: 0rem !important

/*end default styles*/

#delonghi
  .show__mob
    display: none
  .hide__mob
    display: block
  .hide__txt
    display: unset

  .barista
    position: relative
    .barista__txt
      position: absolute
      padding: 30px
      box-sizing: border-box
      background: rgba(255, 255, 255, 0.8)
      border-radius: 10px
      left: 30px
      bottom: 106px

  .func
    margin: 3px 0
    position: relative
    .func__grid
      top: 147px
      right: 30px
      position: absolute
      display: grid
      grid-template-columns: 1fr 1fr
      grid-template-rows: 1fr 1fr 1fr
      gap: 30px 30px
      grid-template-areas: "cal1 cal2" "cal3 cal5" "cal4 cal6"
      >div
        max-width: 301px
      .cal1
        grid-area: cal1
      .cal2
        grid-area: cal2
      .cal3
        grid-area: cal3
      .cal4
        grid-area: cal4
      .cal5
        grid-area: cal5
      .cal6
        grid-area: cal6
      .func__txt
        padding: 30px
        box-sizing: border-box
        background: rgba(255, 255, 255, 0.8)
        border-radius: 10px
        min-height: 122px
        display: flex
        flex-direction: row
        align-items: center

  .pers
    position: relative
    .pers__txt
      position: absolute
      padding: 30px
      box-sizing: border-box
      bottom: 136px
      left: 30px
      background: rgba(255, 255, 255, 0.8)
      border-radius: 10px

  .tubeless
    position: relative
    margin: 3px 0
    .tubeless__txt
      position: absolute
      background: rgba(255, 255, 255, 0.8)
      border-radius: 10px
      left: 30px
      bottom: 182px
      padding: 30px
      box-sizing: border-box

  .delonghi-menu
    padding: 86px 30px 81px 30px
    box-sizing: border-box
    .delonghi-menu__list
      display: flex
      flex-direction: row
      li
        display: flex
        flex-direction: column
        justify-content: space-between
        &:nth-of-type(2)
          margin: 0 30px
        .delonghi-menu__txt
          text-align: center
          margin-bottom: 48px

  .latte
    margin: 3px 0
    position: relative
    .latte__txt
      position: absolute
      background: rgba(255, 255, 255, 0.8)
      border-radius: 10px
      padding: 30px
      box-sizing: border-box
      bottom: 136px
      left: 30px

  .pomol
    position: relative
    .pomol__txt
      position: absolute
      background: rgba(255, 255, 255, 0.8)
      border-radius: 10px
      padding: 30px
      box-sizing: border-box
      bottom: 136px
      right: 30px

//media******************************************************************

@media (max-width: 1024px)
  #delonghi .func .func__grid
    top: unset
    bottom: 50%
    transform: translateY(50%)
  
  #delonghi .delonghi-menu .delonghi-menu__list li .delonghi-menu__txt h2 br
    display: none

  #delonghi .delonghi-menu .delonghi-menu__list li
    flex: 1 1 0
    box-sizing: border-box

@media (max-width: 812px)
  #delonghi p
    font-size: 14px

  #delonghi h2
    font-size: 18px

  #delonghi .barista .barista__txt
    bottom: 30px

  #delonghi .func .func__grid .func__txt
    padding: 6px 10px
    min-height: 54px
    h3
      font-size: 16px

  #delonghi .func .func__grid > div
    max-width: 181px

  #delonghi .delonghi-menu
    padding: 30px


@media (max-width: 480px)
  #delonghi
    .show__mob
      display: block
      width: 100%
    .hide__mob
      display: none
    .hide__txt
      display: none

  #delonghi .barista .barista__txt
    position: unset
    padding: 30px 15px
    p
      br
        display: none
    h2
      br
        display: none

  #delonghi
    .func
      margin-bottom: 0
      .func__grid
        gap: 8px 8px
        grid-template-areas: "cal1 cal2 cal3" "cal4 cal5 cal6"
        grid-template-columns: 1fr 1fr 1fr
        grid-template-rows: 300px 300px
        bottom: unset
        transform: unset
        left: unset
        top: unset
        bottom: 50%
        right: 50%
        transform: translate(50%, 50%)
        padding: 30px 0
        box-sizing: border-box
        height: 100%
        .cal1
          grid-area: cal1
        .cal2
          grid-area: cal2
        .cal3
          grid-area: cal3
        .cal4
          grid-area: cal4
          align-self: end
        .cal5
          grid-area: cal5
          align-self: end
        .cal6
          grid-area: cal6
          align-self: end
        >div
          width: 91px
          box-sizing: border-box
        .func__txt
          min-height: 54px
          border-radius: 6px
          h3
            font-size: 11px
            text-align: center

  #delonghi
    .pers
      margin-top: 30px
      .pers__txt
        position: unset
        padding: 30px 15px
        p
          br
            display: none
    .tubeless
      margin: 30px 0 0 0
      .tubeless__txt
        position: unset
        padding: 30px 15px
        p
          br
            display: none
        h2
          br
            display: none

  #delonghi 
    .delonghi-menu 
      padding: 30px 15px
      margin-top: 30px
      .delonghi-menu__list 
        flex-direction: column
        li
          .delonghi-menu__txt
            margin-bottom: 0
            h2
              margin-bottom: 15px !important
          &:nth-of-type(2)
            margin: 30px 0

  #delonghi 
    .latte 
      margin: 0
      .latte__txt
        position: unset            
        padding: 30px 15px
        p
          br
            display: none

  #delonghi 
    .pomol 
      margin-top: 30px
      .pomol__txt
        position: unset
        padding: 30px 15px
        h2
          br
            display: none
        p
          br
            display: none

  #delonghi .func .func__grid .func__txt
    padding: 6px 5px
    justify-content: center

@media (max-width: 376px)
  #delonghi .func .func__grid
    grid-template-rows: 270px 270px

@media (max-width: 320px)
  #delonghi .func .func__grid
    grid-template-rows: 220px 220px