#shopsinfo-wrap
   font-family: sans-serif
   width: 100%
   height: auto
   position: relative
   overflow: hidden
.shopsinfo__container
   div
      font-size: 14px
      color: #000
      position: relative
      line-height: 1.2
      margin-bottom: 5px
      span.shopsinfo__boldtext
         font-weight: bold
   .shopsinfo__before
      padding-left: 25px
      &::before
         content: ""
         position: absolute
         left: 0
         top: 0
         width: 18px
         height: 18px
         background-repeat: no-repeat
         background-position: left top
         background-size: contain
   .shopsinfo__parking
      margin-bottom: 10px
   .shopsinfo__accessibility
      margin-top: 10px
   .shopsinfo__district:before
      background-image: url(https://cdn.comfy.ua/media/x/img5/district.svg)
   .shopsinfo__transport-stop:before
      background-image: url(https://cdn.comfy.ua/media/x/img5/transportstop.svg)
   .shopsinfo__minibus:before,
   .shopsinfo__trolleybus:before,
   .shopsinfo__trem:before,
   .shopsinfo__bus:before
      background-image: url(https://cdn.comfy.ua/media/x/img5/attime.svg)
   .shopsinfo__accessibility:before
      background-image: url(https://cdn.comfy.ua/media/x/img5/accessibility2.png)
   .shopsinfo__accessibility-available:before
      background-image: url(https://cdn.comfy.ua/media/x/img5/available.svg)
   .shopsinfo__accessibility-notavailable:before
      background-image: url(https://cdn.comfy.ua/media/x/img5/notavailable.svg)
