@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  padding: 0;
  margin: 0;
}

#app-link {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  display: block;
  background: #43B02A;
}
#app-link img {
  display: block;
  max-width: 100%;
  padding: 0;
  margin: 0;
}
#app-link a {
  font-family: "Roboto", sans-serif;
  color: #fff;
  display: inline-block;
  text-decoration: underline;
}

.main-container.page {
  padding-left: 0;
  padding-right: 0;
}

.breadcrumbs {
  display: none;
}

.app-link__wrap {
  position: relative;
}

.app-link__content {
  position: relative;
}
.app-link__content.only-desk {
  display: block;
}
.app-link__content.only-mob {
  display: none;
}

.app-link__text-wp {
  padding: 112px 0 145px 65px;
  position: relative;
  z-index: 3;
}

.app-link__text-wp__img2 {
  padding: 12px 0 20px 0;
  position: relative;
  left: -4px;
}

.app-link__href-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 40px;
}
.app-link__href-flex a {
  display: block;
  background: #000000;
  -webkit-border-radius: 15px;
          border-radius: 15px;
  padding: 27px 30px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.app-link__href-flex a:first-child {
  margin-right: 32px;
}

.app-link__img-wp {
  position: absolute;
  z-index: 2;
  right: 0;
  bottom: 0;
}

@media (max-width: 1700px) {
  .app-link__text-wp__img1 {
    max-width: 580px;
  }
  .app-link__text-wp__img2 {
    max-width: 580px;
  }
  .app-link__text-wp__img3 {
    max-width: 300px;
  }
  .app-link__img-wp {
    max-width: 845px;
  }
}
@media (max-width: 1366px) {
  .app-link__href-flex a {
    padding: 20px 30px;
  }
  .app-link__img-wp {
    max-width: 760px;
  }
}
@media (max-width: 1270px) {
  .app-link__text-wp__img1 {
    max-width: 520px;
  }
  .app-link__text-wp__img2 {
    max-width: 520px;
  }
  .app-link__text-wp__img3 {
    max-width: 250px;
  }
  .app-link__href-flex a {
    padding: 20px 19px;
  }
  .app-link__img-wp {
    max-width: 690px;
    right: -110px;
  }
}
@media (max-width: 1024px) {
  .app-link__text-wp {
    padding: 60px 0 140px 25px;
  }
}
@media (max-width: 812px) {
  .app-link__text-wp__img1 {
    max-width: 390px;
  }
  .app-link__text-wp__img2 {
    max-width: 398px;
  }
  .app-link__text-wp__img3 {
    max-width: 200px;
  }
  .app-link__href-flex {
    max-width: 350px;
  }
  .app-link__href-flex a:first-child {
    margin-right: 15px;
  }
  .app-link__href-flex a {
    padding: 20px 20px;
  }
  .app-link__text-wp {
    padding: 60px 0 55px 25px;
  }
  .app-link__img-wp {
    max-width: 485px;
    right: -75px;
  }
}
@media (max-width: 650px) {
  .app-link__img-wp {
    display: none;
  }
}
@media (max-width: 480px) {
  .app-link__content {
    position: relative;
  }
  .app-link__content.only-desk {
    display: none;
  }
  .app-link__content.only-mob {
    display: block;
  }
  .app-link__text-wp {
    padding: 40px 15px 55px 15px;
  }
  .app-link__text-wp__img3 {
    max-width: 100%;
  }
  .app-link__text-wp__img4 {
    position: relative;
    right: -15px;
    padding-top: 20px;
  }
  .app-link__href-flex {
    padding-top: 24px;
  }
  .app-link__href-flex {
    max-width: 350px;
    margin: 0 auto;
  }
}