#lp-wrap {
  max-width: 1316px;
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  background-color: #fff;
  margin: 0 auto;
}
#lp-wrap img {
  display: block;
  opacity: 1 !important;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

.bl-img {
  padding: 0 15px;
}

.bl-subtitle, .bl-title, .bl-text {
  display: block;
  line-height: 1.1;
  color: #000;
  text-align: center;
}

.bl-text + .bl-text {
  padding-top: 10px;
}

.bl-subtitle {
  font-size: -webkit-calc(18px + 3 * ((100vw - 320px) / 996));
  font-size: -moz-calc(18px + 3 * ((100vw - 320px) / 996));
  font-size: calc(18px + 3 * ((100vw - 320px) / 996));
  font-weight: normal;
  padding: 10px;
}

.bl-title {
  font-size: -webkit-calc(21px + 9 * ((100vw - 320px) / 996));
  font-size: -moz-calc(21px + 9 * ((100vw - 320px) / 996));
  font-size: calc(21px + 9 * ((100vw - 320px) / 996));
  font-weight: normal;
  padding: 20px 15px 0px 15px;
}

.bl-text {
  font-size: -webkit-calc(16px + 2 * ((100vw - 320px) / 996));
  font-size: -moz-calc(16px + 2 * ((100vw - 320px) / 996));
  font-size: calc(16px + 2 * ((100vw - 320px) / 996));
  font-weight: normal;
  padding: 20px 15px;
}

.bl-list ul {
  list-style-type: disc;
  padding: 20px 15px;
}
.bl-list ul li {
  font-size: -webkit-calc(16px + 2 * ((100vw - 320px) / 996));
  font-size: -moz-calc(16px + 2 * ((100vw - 320px) / 996));
  font-size: calc(16px + 2 * ((100vw - 320px) / 996));
  display: block;
  padding: 0px 0px 8px 16px;
  color: #000;
  line-height: 1;
  position: relative;
}
.bl-list ul li:last-child {
  padding: 0px 0px 0px 16px;
}
.bl-list ul li::before {
  content: "";
  background: #000;
  width: 8px;
  height: 8px;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  position: absolute;
  left: 0;
  top: 6px;
}

.features-desc__text h2 {
  text-align: inherit;
}

.one-col .features-desc__text p {
  text-align: inherit;
}

.bc-description__content p:first-letter {
  padding-left: 0;
}