/*default styles*/
#rowenta {
  max-width: 1316px;
  width: 100%;
  margin: 0 auto;
  height: auto;
  display: block;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}
#rowenta p {
  margin-bottom: 0;
  margin: 0;
  font-size: 20px;
  text-align: unset;
}
#rowenta p:first-letter {
  padding-left: 0;
}
#rowenta h2 {
  display: block;
  line-height: normal;
  font-size: 34px;
  font-weight: bold;
  color: #fff;
  padding: 20px 1em;
  text-transform: uppercase;
  margin: 0;
  text-align: unset;
}
#rowenta img {
  opacity: 1;
  max-width: 100%;
  display: block;
  height: auto;
}
#rowenta img:hover {
  opacity: 1;
}
#rowenta ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#rowenta span {
  display: block;
  line-height: normal;
}

.features-desc__text img {
  margin-bottom: 0rem;
}

.one-col .features-desc__text p:first-letter {
  padding-left: 0rem !important;
}

/*end default styles*/
#rowenta .logo {
  padding: 40px 0 20px 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
#rowenta .logo img {
  margin: 0 auto;
}
#rowenta .easy {
  position: relative;
}
#rowenta .easy .easy__abs__img {
  position: absolute;
  top: 70px;
  right: 0;
}
#rowenta .easy .easy__txt {
  position: absolute;
  bottom: 90px;
  left: 80px;
}
#rowenta .easy .easy__txt span {
  font-size: 44px;
  font-weight: bold;
  text-transform: uppercase;
}
#rowenta .helper .helper__title {
  background-color: #313e48;
  text-align: center;
}
#rowenta .helper .helper__txt {
  text-align: center;
  padding: 70px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
#rowenta .helper .helper__txt .large__txt {
  font-size: 24px;
  margin-bottom: 30px;
}
#rowenta .helper .helper__img {
  padding: 0 70px 70px 70px;
}
#rowenta .map .map__title {
  background-color: #313e48;
  text-align: center;
}
#rowenta .map .map__flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
     -moz-box-orient: horizontal;
     -moz-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  padding: 70px 0;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#rowenta .map .map__flex > div {
  max-width: 50%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
#rowenta .map .map__flex .map__txt {
  padding: 0 70px;
}
#rowenta .house .house__title {
  background-color: #313e48;
  text-align: center;
}
#rowenta .house .house__flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: reverse;
     -moz-box-orient: vertical;
     -moz-box-direction: reverse;
      -ms-flex-direction: reverse;
          flex-direction: reverse;
  padding: 70px 0;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#rowenta .house .house__flex > div {
  max-width: 50%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
#rowenta .house .house__flex .house__txt {
  padding: 0 70px;
}
#rowenta .house .house__flex .house__txt .house__list li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
#rowenta .house .house__flex .house__txt .house__list li::before {
  content: "";
  display: block;
  min-width: 7px;
  height: 7px;
  background-color: #d1d1d1;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  margin-right: 15px;
  margin-top: 10px;
}
#rowenta .house .house__flex .house__txt .house__list li:nth-of-type(n+2) {
  margin-top: 30px;
}
#rowenta .delegation .delegation__title {
  background-color: #313e48;
  text-align: center;
}
#rowenta .delegation .delegation__flex {
  background-color: #21272f;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #fff;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 70px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
#rowenta .delegation .delegation__flex > div {
  max-width: 50%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
#rowenta .delegation .delegation__flex .delegation__cont img {
  max-width: 30%;
  margin: 40px 0 20px 0;
}
#rowenta .cleansys .cleansys__title {
  background-color: #313e48;
  text-align: center;
}
#rowenta .cleansys .cleansys__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding: 70px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#rowenta .cleansys .cleansys__list li {
  max-width: 25%;
}
#rowenta .cleansys .cleansys__list li:nth-of-type(2) {
  max-width: 50%;
}
#rowenta .cleansys .cleansys__list li:nth-of-type(3) .cleansys__icon {
  position: relative;
}
#rowenta .cleansys .cleansys__list li:nth-of-type(3) .cleansys__icon::before {
  position: absolute;
  content: "";
  display: block;
  height: 22px;
  width: 222px;
  background-image: url("https://cdn.comfy.ua/media/x/img/1746474/line1.png");
  bottom: 50%;
  -webkit-transform: translateY(50%);
     -moz-transform: translateY(50%);
      -ms-transform: translateY(50%);
       -o-transform: translateY(50%);
          transform: translateY(50%);
  right: 232px;
  -webkit-background-size: contain;
     -moz-background-size: contain;
       -o-background-size: contain;
          background-size: contain;
  background-repeat: no-repeat;
}
#rowenta .cleansys .cleansys__list li:nth-of-type(4) {
  max-width: 100%;
  margin-top: 40px;
}
#rowenta .cleansys .cleansys__list li:nth-of-type(4) .cleansys__txt {
  text-align: center;
}
#rowenta .cleansys .cleansys__list li:nth-of-type(4) .cleansys__txt p > strong {
  display: block;
  margin-bottom: 20px;
}
#rowenta .cleansys .cleansys__list li:nth-of-type(4) .cleansys__icon {
  position: relative;
}
#rowenta .cleansys .cleansys__list li:nth-of-type(4) .cleansys__icon::before {
  position: absolute;
  content: "";
  display: block;
  height: 336px;
  width: 22px;
  background-image: url("https://cdn.comfy.ua/media/x/img/1746474/line2.png");
  right: 50%;
  bottom: 75px;
  -webkit-transform: translateX(50%);
     -moz-transform: translateX(50%);
      -ms-transform: translateX(50%);
       -o-transform: translateX(50%);
          transform: translateX(50%);
  -webkit-background-size: contain;
     -moz-background-size: contain;
       -o-background-size: contain;
          background-size: contain;
  background-repeat: no-repeat;
}
#rowenta .cleansys .cleansys__list li .cleansys__icon img {
  margin: 0 auto 30px auto;
}
#rowenta .allergic {
  position: relative;
}
#rowenta .allergic .allergic__title {
  background-color: #313e48;
  text-align: center;
}
#rowenta .allergic .allergic__txt {
  position: absolute;
  color: #fff;
  right: 0;
  bottom: 50%;
  -webkit-transform: translateY(50%);
     -moz-transform: translateY(50%);
      -ms-transform: translateY(50%);
       -o-transform: translateY(50%);
          transform: translateY(50%);
  max-width: 50%;
  padding: 0 4em;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
#rowenta .allergic .allergic__txt h2 {
  padding-right: 0;
  padding-left: 0;
}
#rowenta .clean .clean__title {
  background-color: #313e48;
  text-align: center;
}
#rowenta .clean .clean__flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
     -moz-box-orient: horizontal;
     -moz-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 70px 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
#rowenta .clean .clean__flex > div {
  max-width: 50%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
#rowenta .clean .clean__flex .clean__txt {
  padding: 0 70px;
}
#rowenta .clean__reverse .clean__flex {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
#rowenta .complete__wrap .complete__wrap__title {
  background-color: #313e48;
  text-align: center;
}
#rowenta .complete__wrap .complete__title {
  text-align: center;
  padding-top: 70px;
}
#rowenta .complete__wrap .complete {
  padding: 70px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 0px 0px;
  grid-template-areas: "...";
  gap: 90px 90px;
  -webkit-box-align: end;
  -webkit-align-items: end;
     -moz-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
#rowenta .complete__wrap .complete > div {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#rowenta .complete__wrap .complete > div .complete__txt {
  text-align: center;
}
#rowenta .warranty .warranty__title {
  text-align: center;
  background-color: #313e48;
}
#rowenta .warranty .warranty__flex {
  padding: 70px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
#rowenta .warranty .warranty__flex > div {
  max-width: 50%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
#rowenta .warranty .warranty__flex > div:nth-of-type(1) {
  margin-right: 80px;
}
#rowenta .warranty .warranty__flex .warranty__img img {
  max-height: 400px;
  margin: 0 auto;
  margin-bottom: 40px;
}

@media (max-width: 1024px) {
  #rowenta .easy .easy__txt {
    bottom: 65px;
    left: 40px;
  }
  #rowenta .easy .easy__abs__img {
    top: 0;
  }
  #rowenta .cleansys .cleansys__list li:nth-of-type(3) .cleansys__icon::before,
#rowenta .cleansys .cleansys__list li:nth-of-type(4) .cleansys__icon::before {
    display: none;
  }
  #rowenta .easy .easy__txt span {
    font-size: 38px;
  }
}
@media (max-width: 812px) {
  #rowenta h2 {
    font-size: 28px;
  }
  #rowenta p {
    font-size: unset;
  }
  #rowenta .easy .easy__txt span {
    font-size: 28px;
  }
  #rowenta .easy .easy__txt {
    bottom: 50px;
  }
  #rowenta .helper .helper__txt,
#rowenta .delegation .delegation__flex,
#rowenta .cleansys .cleansys__list {
    padding: 1em;
  }
  #rowenta .helper .helper__txt .large__txt {
    font-size: 18px;
  }
  #rowenta .helper .helper__img {
    padding: 0 1em 1em 1em;
  }
  #rowenta .map .map__flex,
#rowenta .house .house__flex,
#rowenta .clean .clean__flex {
    padding: 1em 0;
  }
  #rowenta .map .map__flex .map__txt,
#rowenta .house .house__flex .house__txt,
#rowenta .allergic .allergic__txt,
#rowenta .clean .clean__flex .clean__txt {
    padding: 0 1em;
  }
  #rowenta .cleansys .cleansys__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #rowenta .cleansys .cleansys__list > li:nth-of-type(1) {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
       -moz-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    max-width: 50%;
  }
  #rowenta .cleansys .cleansys__list > li:nth-of-type(2) {
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
       -moz-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    max-width: 100%;
    width: 100%;
    margin-bottom: 40px;
  }
  #rowenta .cleansys .cleansys__list > li:nth-of-type(2) img {
    margin: 0 auto;
  }
  #rowenta .cleansys .cleansys__list > li:nth-of-type(3) {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
       -moz-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    max-width: 50%;
  }
  #rowenta .cleansys .cleansys__list > li:nth-of-type(4) {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
       -moz-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    max-width: 100%;
  }
  #rowenta .complete__wrap .complete,
#rowenta .warranty .warranty__flex {
    padding: 1em;
  }
  #rowenta .complete__wrap .complete__title {
    padding-top: 1em;
    padding-bottom: 1em;
  }
  #rowenta .complete__wrap .complete {
    gap: 40px 40px;
  }
  #rowenta .warranty .warranty__flex > div:nth-of-type(1) {
    margin-right: 40px;
  }
  #rowenta .cleansys .cleansys__list > li:nth-of-type(1) .cleansys__txt,
#rowenta .cleansys .cleansys__list > li:nth-of-type(3) .cleansys__txt {
    padding: 0 1em;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
}
@media (max-width: 480px) {
  #rowenta h2 {
    font-size: 22px;
  }
  #rowenta .logo {
    padding: 20px 0;
  }
  #rowenta .logo img {
    max-width: 80%;
  }
  #rowenta .easy .easy__txt,
#rowenta .easy .easy__abs__img {
    position: unset;
  }
  #rowenta .easy .easy__txt span {
    font-size: 22px;
    text-align: center;
    padding: 15px 0;
  }
  #rowenta .easy .easy__img img {
    min-width: 150%;
    margin-left: -50%;
  }
  #rowenta .helper .helper__txt .large__txt {
    font-size: 16px;
    margin-bottom: 15px;
  }
  #rowenta .map .map__flex, #rowenta .house .house__flex, #rowenta .clean .clean__flex,
#rowenta .helper .helper__txt, #rowenta .delegation .delegation__flex, #rowenta .cleansys .cleansys__list,
#rowenta .complete__wrap, #rowenta .warranty .warranty__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #rowenta .map .map__flex > div, #rowenta .house .house__flex > div, #rowenta .clean .clean__flex > div,
#rowenta .helper .helper__txt > div, #rowenta .delegation .delegation__flex > div, #rowenta .cleansys .cleansys__list > div,
#rowenta .complete__wrap > div, #rowenta .warranty .warranty__flex > div {
    max-width: 100%;
  }
  #rowenta .map .map__flex .map__txt, #rowenta .house .house__flex .house__txt, #rowenta .allergic .allergic__txt, #rowenta .clean .clean__flex .clean__txt {
    padding: 1em;
  }
  #rowenta .house .house__flex .house__txt .house__list li:nth-of-type(n+2) {
    margin-top: 15px;
  }
  #rowenta .map .map__flex .map__txt,
#rowenta .delegation .delegation__flex .delegation__cont {
    text-align: center;
  }
  #rowenta .delegation .delegation__flex .delegation__cont img {
    margin: 1em auto;
  }
  #rowenta .delegation .delegation__flex .delegation__img {
    margin-top: 1em;
  }
  #rowenta .cleansys .cleansys__list li {
    max-width: 100% !important;
    text-align: center;
  }
  #rowenta .cleansys .cleansys__list > li:nth-of-type(1),
#rowenta .cleansys .cleansys__list > li:nth-of-type(3) {
    margin-bottom: 2em;
  }
  #rowenta .allergic .allergic__txt {
    position: unset;
    background-color: #313e48;
    -webkit-transform: unset;
       -moz-transform: unset;
        -ms-transform: unset;
         -o-transform: unset;
            transform: unset;
    max-width: 100%;
    text-align: center;
  }
  #rowenta .allergic .allergic__img img {
    max-width: 160%;
  }
  #rowenta .complete__wrap .complete {
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-template-areas: "." "." ".";
  }
  #rowenta .clean .clean__flex .clean__txt {
    text-align: center;
  }
  #rowenta .warranty .warranty__flex > div:nth-of-type(1) {
    margin-right: 0;
    margin-bottom: 1em;
  }
  #rowenta .warranty .warranty__flex .warranty__txt {
    text-align: center;
  }
}