.philips {
  max-width: 1023px;
  width: 100%;
  margin: 0 auto;
  height: auto;
  display: block;
  box-sizing: border-box;
  overflow: hidden;
  color: #252525;
}
.philips img {
  margin: 0 auto;
  opacity: 1 !important;
  max-width: 100%;
  display: block;
  height: auto;
}
.philips img:hover {
  opacity: 1 !important;
}
.philips div {
  line-height: normal;
}

.features-desc__text img {
  margin-bottom: 0rem;
}

.philips .container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

.logo {
  position: relative;
  color: #91024b;
}

.logo__i {
  position: absolute;
  left: 2em;
  top: -8px;
}
.logo__i img {
  max-width: 70%;
  margin: 0;
}

.logo__abs {
  left: 2em;
  bottom: 2em;
  position: absolute;
  max-width: 30%;
}

.logo__txt {
  margin-bottom: 2rem;
  font-size: clamp(18px, 2vw, 24px);
}

.logo__title {
  font-weight: bold;
  font-size: clamp(20px, 2vw, 30px);
}

.philips__pink {
  color: #fff;
  padding: 1em 1.5em;
  font-size: clamp(20px, 2vw, 30px);
  background-color: #ed4370;
}

.advantages {
  background-image: linear-gradient(90deg, #f9ede3 0%, #ffffff 100%);
  padding: 2em;
}

.advantages__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "cal1 cal2 cal3" "cal4 cal2 cal5" "cal6 cal2 cal7";
}
.advantages__grid > div {
  text-align: right;
  display: flex;
  align-items: center;
  gap: 1em;
}
.advantages__grid > div:nth-of-type(n+5) {
  text-align: left;
  flex-direction: row-reverse;
}

.cal1 {
  grid-area: cal1;
}

.advantages__img {
  grid-area: cal2;
  display: block;
  margin: 0;
}
.advantages__img img {
  max-height: 500px;
}

.cal3 {
  grid-area: cal3;
}

.cal4 {
  grid-area: cal4;
}

.cal5 {
  grid-area: cal5;
}

.cal6 {
  grid-area: cal6;
}

.cal7 {
  grid-area: cal7;
}

.philips__txt {
  font-size: clamp(16px, 2vw, 16px);
}

.advantages__i {
  min-width: 30%;
  max-width: 30%;
}

.philips__note {
  margin-top: 1rem;
  font-size: clamp(12px, 1.2vw, 16px);
}

.skin {
  background-image: linear-gradient(90deg, #f9ede3 0%, #ffffff 100%);
  position: relative;
}

.skin__img img {
  margin: 0;
}

.philips__title {
  font-weight: bold;
  color: #ed4370;
  font-size: clamp(20px, 2vw, 30px);
  margin-bottom: 1rem;
}

.skin__abs {
  position: absolute;
  max-width: 70%;
  top: 2em;
  right: 2em;
}

.skin__item:nth-of-type(2) {
  padding-left: 35%;
  margin-top: 2em;
}

.disks {
  background-image: linear-gradient(90deg, #f9ede3 0%, #ffffff 100%);
}

.disks__row {
  display: flex;
  align-items: center;
  padding-left: 2em;
}

.disks__cont {
  max-width: 45%;
  position: relative;
}

.disks__img {
  margin-left: -400px;
}

.alldays {
  padding: 2em;
  background-image: linear-gradient(90deg, #f9ede3 0%, #ffffff 100%);
}

.alldays__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
}

.alldays__cont {
  margin-top: 1em;
}

.philips__sub {
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #ed4370;
  font-size: clamp(16px, 2vw, 20px);
}

.design {
  position: relative;
}

.design__abs {
  position: absolute;
  left: 2em;
  bottom: 2em;
  max-width: 35%;
}

.philips__slider__wrap {
  padding: 2em;
  background-image: linear-gradient(90deg, #f9ede3 0%, #ffffff 100%);
}

.philips__slider {
  display: flex;
}
.philips__slider .swiper-button-next,
.philips__slider .swiper-button-prev {
  min-width: -moz-max-content;
  min-width: max-content;
  min-height: -moz-max-content;
  min-height: max-content;
}
.philips__slider .swiper-button-next::after,
.philips__slider .swiper-button-prev::after {
  display: none;
}
.philips__slider .swiper-button-prev {
  transform: scale(-1, 1);
}
.philips__slider .swiper-slide {
  display: flex !important;
  align-items: center;
  justify-content: center;
}
.philips__slider .swiper-slide:last-of-type {
  gap: 1em;
}

.slide__cont {
  max-width: 40%;
}
.slide__cont .philips__sub {
  margin-bottom: 0;
}

.slide__img {
  max-width: 40%;
}

.complete {
  background-image: linear-gradient(90deg, #f9ede3 0%, #ffffff 100%);
  padding-bottom: 4em;
}

.complete__grid {
  display: grid;
  grid-template-columns: 0.2666fr 0.2523fr 0.2379fr 0.2432fr;
  grid-template-rows: 0.4798fr 0.5202fr;
  grid-template-areas: "cal1 cal2 cal3 cal4" "cal1 cal5 cal6 cal7";
  text-align: center;
  align-items: end;
}
.complete__grid > div {
  position: relative;
}
.complete__grid .cal1 {
  grid-area: cal1;
}
.complete__grid .cal1 .philips__txt {
  bottom: -20px;
  left: 0;
}
.complete__grid .cal2 {
  grid-area: cal2;
}
.complete__grid .cal2 .philips__txt {
  bottom: 30px;
  left: -6%;
}
.complete__grid .cal3 {
  grid-area: cal3;
}
.complete__grid .cal3 .philips__txt {
  bottom: 30px;
  left: -6%;
}
.complete__grid .cal4 {
  grid-area: cal4;
}
.complete__grid .cal4 .philips__txt {
  bottom: 0px;
  left: 0;
}
.complete__grid .cal5 {
  grid-area: cal5;
}
.complete__grid .cal5 .philips__txt {
  bottom: 30px;
}
.complete__grid .cal6 {
  grid-area: cal6;
}
.complete__grid .cal6 .philips__txt {
  bottom: 30px;
}
.complete__grid .cal7 {
  grid-area: cal7;
}
.complete__grid .cal7 .philips__txt {
  bottom: 10%;
}
.complete__grid .philips__txt {
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translateX(50%);
  width: -moz-max-content;
  width: max-content;
}

.philips__video {
  padding: 2em;
}
.philips__video iframe {
  max-width: 100%;
  width: 100%;
  height: 30vw;
}

.philips__table {
  padding: 2em;
}

.table__grid__two {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
}
.table__grid__two > div {
  padding: 1em 0.5em;
  background-color: #fff5f7;
}
.table__grid__two > div:nth-of-type(even) {
  background-color: #ffdee3;
}
.table__grid__two .philips__txt {
  margin-bottom: 1rem;
}

.table__grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-areas: "cal1 cal1 cal1 cal1 cal1 cal1 cal1";
}
.table__grid > div {
  padding: 0.7em 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fff5f7;
}
.table__grid > div:nth-of-type(odd) {
  background-color: #ffdee3;
}
.table__grid .philips__title {
  margin-bottom: 0;
  grid-area: cal1;
  display: block !important;
  text-align: left;
  background-color: unset !important;
  font-size: clamp(18px, 2vw, 22px);
}

.table__txt {
  font-size: clamp(14px, 1.2vw, 16px);
}

.philips__logo {
  padding: 2em 0;
  background-image: linear-gradient(106deg, #91004b 0%, #ec4371 100%);
}
.philips__logo img {
  max-width: 15%;
}

@media (max-width: 1201px) {
  .philips .container {
    padding: 0 12px;
    box-sizing: border-box;
  }
  .logo__i {
    left: 2em;
    max-width: 20vw;
  }
  .logo__abs {
    left: 2em;
  }
  .philips__pink {
    padding: 0.5em 2em;
  }
  .advantages {
    padding: 2em 0;
  }
  .advantages__grid > div {
    gap: 1em;
    justify-content: center !important;
  }
  .advantages__grid > div .philips__txt {
    flex-basis: 50%;
    box-sizing: border-box;
  }
  .advantages__grid .cal6 > div {
    flex-basis: 50%;
    box-sizing: border-box;
  }
  .skin__abs {
    right: 2em;
    max-width: 70vw;
  }
  .skin .philips__title {
    margin-bottom: 1rem;
  }
  .disks__row {
    padding: 0;
  }
  .alldays {
    padding: 2em 0;
  }
  .alldays__cont {
    margin-top: 1em;
  }
  .philips__sub {
    margin-bottom: 1rem;
  }
  .design__abs {
    left: 1em;
    bottom: 1em;
    max-width: 40%;
  }
  .philips__slider__wrap {
    padding: 2em 0;
  }
  .philips__slider .swiper .swiper-slide {
    padding: 0 4em;
    box-sizing: border-box;
  }
  .slide__cont {
    max-width: 40vw;
  }
  .complete {
    padding-bottom: 6vw;
  }
  .complete__grid .cal4 .philips__txt {
    bottom: 15vw;
  }
  .complete__grid .cal5 .philips__txt {
    bottom: 2vw;
  }
  .complete__grid .cal6 .philips__txt {
    bottom: 0;
  }
  .complete__grid .cal7 .philips__txt {
    bottom: 0;
  }
  .philips__video {
    padding: 2em 0;
  }
  .philips__table {
    padding: 2em 0;
  }
  .table__grid__two .philips__txt {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .table__grid__two > div {
    padding: 20px 10px;
  }
  .philips__logo {
    padding: 2em 0;
  }
  .philips__logo img {
    max-width: 12vw;
  }
}
@media (max-width: 991px) {
  .logo {
    display: flex;
    flex-direction: column-reverse;
  }
  .logo__abs {
    position: unset;
    padding: 1em 0;
    max-width: 100%;
  }
  .logo__txt {
    margin-bottom: 1rem;
  }
  .logo__i {
    max-width: 35vw;
    left: 1em;
  }
  .logo__img img {
    min-width: 150%;
    margin-left: -50%;
  }
  .advantages__img {
    margin: 0;
  }
  .advantages__grid {
    grid-template-columns: 1fr;
    grid-template-areas: "cal1" "cal3" "cal4" "cal5" "cal6" "cal7" "cal2";
    gap: 1em;
  }
  .advantages__grid > div {
    flex-direction: row !important;
    text-align: right !important;
    justify-content: space-between;
  }
  .philips__pink {
    padding: 0.5em;
  }
  .skin {
    display: flex;
    flex-direction: column-reverse;
  }
  .skin__abs {
    position: unset;
    max-width: 100%;
    padding: 1em 0;
  }
  .skin__item:nth-of-type(2) {
    padding: 0;
  }
  .disks__row {
    flex-direction: column-reverse;
  }
  .disks__cont {
    max-width: 100%;
    padding: 1em 0;
  }
  .disks__img {
    margin: 0;
  }
  .disks__img img {
    min-width: 130%;
    margin-left: -30%;
  }
  .alldays__grid {
    grid-template-columns: 1fr;
    gap: 2em;
  }
  .design {
    display: flex;
    flex-direction: column-reverse;
  }
  .design__abs {
    position: unset;
    max-width: 100%;
    padding: 1em 0;
  }
  .design__img img {
    min-width: 150%;
    margin-left: -50%;
  }
  .philips__slider__wrap {
    padding-bottom: 1em;
  }
  .philips__slider .swiper .swiper-slide {
    padding: 0 1em;
  }
  .philips__slider .swiper-slide {
    flex-direction: column;
    gap: 1em !important;
  }
  .slide__cont {
    max-width: 100%;
    padding: 0 2em;
  }
  .philips__slider .swiper-button-next, .philips__slider .swiper-button-prev {
    min-width: unset;
    min-height: unset;
    color: #ed4370;
    top: 20vw;
  }
  .philips__slider .swiper-button-next img, .philips__slider .swiper-button-prev img {
    display: none;
  }
  .philips__slider .swiper-button-next::after, .philips__slider .swiper-button-prev::after {
    display: block;
  }
  .philips__slider .swiper-button-prev {
    transform: unset;
  }
  .complete__grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "cal1" "cal2" "cal3" "cal4" "cal5" "cal6" "cal7";
  }
  .complete__img img {
    max-height: 100vw;
  }
  .complete__grid .philips__txt {
    position: unset;
    transform: unset;
    margin: 0 auto;
  }
  .complete__grid .cal2 .philips__txt,
  .complete__grid .cal4 .philips__txt,
  .complete__grid .cal7 .philips__txt {
    margin-top: -10vw;
  }
  .complete__grid .cal3 .philips__txt,
  .complete__grid .cal6 .philips__txt {
    margin-top: -15vw;
  }
  .complete__grid .cal5 .philips__txt {
    margin-top: -25vw;
  }
  .table__scroll {
    overflow-x: scroll;
  }
  .philips__logo img {
    max-width: 27vw;
  }
}
@media (max-width: 767px) {
  .philips .container {
    width: 540px;
  }
}
@media (max-width: 576px) {
  .philips .container {
    width: 100%;
    box-sizing: border-box;
  }
}
@media (min-width: 320px) {
  .philips__video iframe {
    height: 50vw;
  }
  .slide__img {
    max-width: unset;
  }
  .table__wrap {
    min-width: 900px;
  }
  .philips__slider {
    display: block;
  }
  .alldays__grid {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 768px) {
  .complete__img img {
    max-height: 500px;
  }
  .complete__grid .cal4 .philips__txt,
  .complete__grid .cal5 .philips__txt,
  .complete__grid .cal6 .philips__txt,
  .complete__grid .cal7 .philips__txt,
  .complete__grid .cal8 .philips__txt {
    margin-top: -10vw;
  }
  .alldays__grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1024px) {
  .philips__video iframe {
    height: 30vw;
  }
  .slide__img {
    max-width: 40%;
  }
  .table__wrap {
    min-width: unset;
  }
  .philips__slider {
    display: flex;
  }
}
@media (min-width: 1024px) and (max-width: 1024px) {
  .advantages__grid {
    grid-template-columns: 1fr;
    grid-template-areas: "cal1" "cal3" "cal4" "cal5" "cal6" "cal7" "cal2";
    gap: 1em;
  }
  .advantages__grid > div {
    flex-direction: row !important;
    text-align: right !important;
    justify-content: space-between;
    gap: 1em;
  }
  .skin {
    display: flex;
    flex-direction: column-reverse;
  }
  .skin__abs {
    position: unset;
    max-width: 100%;
    padding: 1em 0;
  }
  .skin__item:nth-of-type(2) {
    padding: 0;
  }
  .philips__slider__wrap {
    padding-bottom: 1em;
  }
  .philips__slider .swiper .swiper-slide {
    padding: 0 1em;
  }
  .philips__slider .swiper-slide {
    flex-direction: column;
    gap: 1em !important;
  }
  .slide__cont {
    max-width: 100%;
    padding: 0 2em;
  }
  .philips__slider .swiper-button-next, .philips__slider .swiper-button-prev {
    min-width: unset;
    min-height: unset;
    color: #ed4370;
    top: 20vw;
  }
  .philips__slider .swiper-button-next img, .philips__slider .swiper-button-prev img {
    display: none;
  }
  .philips__slider .swiper-button-next::after, .philips__slider .swiper-button-prev::after {
    display: block;
  }
  .philips__slider .swiper-button-prev {
    transform: unset;
  }
  .complete__grid {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "cal1 cal2" "cal3 cal4" "cal5 cal6" "cal7 cal7";
    align-items: unset;
  }
  .complete__img img {
    max-height: 300px !important;
  }
  .complete__grid .cal1 .philips__txt {
    left: 15px;
  }
  .complete__grid .cal2 .philips__txt {
    left: 3%;
  }
  .complete__grid .cal3 .philips__txt {
    left: 6%;
  }
  .complete__grid .cal4 .complete__img img {
    max-height: 300px;
  }
  .complete__grid .cal4 .philips__txt {
    bottom: 2vw;
    left: 11%;
  }
  .complete {
    padding-bottom: 2em;
  }
  .table__wrap {
    min-width: 90vw;
  }
  .table__scroll {
    overflow-x: scroll;
  }
  .philips__slider {
    display: block !important;
  }
}