#airon_id p:first-letter {
  padding-left: 0;
}

#airon_id p {
  margin-bottom: 0;
}

#airon_id img:hover {
  opacity: 1;
}

#airon_id img {
  opacity: 1;
  max-width: 100%;
  display: block;
  height: auto;
}

#airon_id {
  max-width: 1316px;
  width: 100%;
  margin: 0 auto;
  height: auto;
  display: block;
  background-color: #fff;
  box-sizing: border-box;
}

.features-desc__text img {
  margin-bottom: 0rem;
}

.one-col .features-desc__text p:first-letter {
  padding-left: 0rem !important;
}

.airon .airon_book {
  width: 100%;
  height: 646px;
  background-image: url("https://cdn.comfy.ua/media/x/img/1095898/sect1_bg1.png");
  background-repeat: no-repeat;
  background-position: center left;
  position: relative;
}

.airon .airon_book .logo {
  padding: 90px 40px;
  position: absolute;
}

.airon .airon_book .book_img {
  position: absolute;
  top: 10%;
  left: 33%;
}

.airon .airon_book .book_img img {
  width: 25%;
  z-index: 2;
  position: relative;
  margin: 0;
}

.airon .airon_book .book_img::after {
  display: block;
  content: '';
  width: 421px;
  height: 480px;
  max-width: 100%;
  background-image: url(https://cdn.comfy.ua/media/x/img/1095898/bg1.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 50px;
  left: -98px;
  z-index: 1;
}

.airon .airon_book .book_city_led {
  position: absolute;
  color: #fff;
  text-transform: uppercase;
  font-size: 40px;
  top: 17%;
  right: 22%;
  line-height: normal;
}

.airon .airon_book .book_city_led span {
  display: block;
  text-align: center;
  font-weight: bold;
  text-shadow: 3px 9px 0px #ffffff47, 0 0 0em black;
}

.airon .airon_book .book_city_led span>strong {
  font-weight: normal;
  font-size: 60px;
  text-shadow: 5px 12px 0px #ffffff47, 0 0 0em black;
}

.airon .airon_book .book_txt {
  position: absolute;
  bottom: 27%;
  right: 9%;
}

.airon .airon_book .book_txt span {
  display: block;
  color: #fff;
  font-weight: normal;
  font-size: 32px;
  text-align: right;
  max-width: 170px;
  line-height: 1;
}

/*section 2*/

.airon .bright {
  height: 652px;
  background-image: url("https://cdn.comfy.ua/media/x/img/1095898/sect2_bg2.png");
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 150px;
  padding-right: 250px;
  box-sizing: border-box;
  text-align: right;
}

.airon .bright .bright_txt {
  float: right;
  max-width: 55%;
  color: #fff;
}

.airon .bright .bright_txt p {
  font-size: 22px !important;
  line-height: 2;
}

/*section 2 - continue*/

.airon .e_ink {
  height: 672px;
  background-image: url("https://cdn.comfy.ua/media/x/img/1095898/sect2_bg3.png");
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  padding: 68px 0px 76px 210px;
  box-sizing: border-box;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.airon .e_ink::before {
  display: block;
  content: '';
  position: absolute;
  width: 54px;
  height: 300px;
  background-color: #ff671f;
  left: 74px;
  top: -55px;
}

.airon .e_ink .e_ink_row {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  max-width: 976px;
  -webkit-box-align: center;
  align-items: center;
}

.airon .e_ink .e_ink_row:last-child {
  -webkit-box-align: end;
  align-items: flex-end;
}

.airon .e_ink .e_ink_row .e_ink_txt,
.airon .e_ink .e_ink_row .e_ink_img {
  -webkit-box-flex: 1;
  flex: 1 1 0;
  margin: 0;
}

.airon .e_ink .e_ink_row:first-child .e_ink_img img,
.airon .e_ink .e_ink_row:last-child .e_ink_img:last-child img {
  float: right;
}


.airon .e_ink .e_ink_row .e_ink_img img {
  max-width: 86.5% !important;
}

.airon .e_ink .e_ink_row:last-child .e_ink_img:first-child img {
  max-width: 90% !important;
}

.airon .e_ink .e_ink_row .e_ink_txt {
  padding-right: 40px;
}

.airon .e_ink .e_ink_row .e_ink_img {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}

.airon .e_ink .e_ink_row .e_ink_txt p {
  font-size: 22px !important;
}

.airon .e_ink .e_ink_row .e_ink_txt p:first-child {
  margin-bottom: 20px !important;
}

/*section 3*/

.airon .book_format {
  height: 648px;
  background-image: url("https://cdn.comfy.ua/media/x/img/1095898/sect3_bg1.png");
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.airon .book_format .form_cont {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  height: 100%;
}

.airon .book_format .form_cont .form_cont_txt {
  width: 397px;
  height: 529px;
  background-image: url("https://cdn.comfy.ua/media/x/img/1095898/bg4.png");
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 10px 10px 32px -15px rgba(0, 0, 0, 0.75);
}

.airon .book_format .form_cont .form_cont_img {
  max-height: 529px;
  width: 100%;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  box-shadow: 10px 10px 32px -15px rgba(0, 0, 0, 0.75);
}

.airon .book_format .form_cont .form_cont_img img {
  max-height: 529px;
}


/* .airon .book_format .form_cont {
  height: 529px;
  width: 1058px;
  max-width: 100%;
  background-image: url("https://cdn.comfy.ua/media/x/img/1095898/sect3_bg2.png");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  box-shadow: 10px 10px 32px -15px rgba(0, 0, 0, 0.75);
} */

.airon .book_format .form_cont .form_cont_txt {
  float: right;
  color: #fff;
  box-sizing: border-box;
  line-height: 2.8;
  padding: 20px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
}

.airon .book_format .form_cont .form_cont_txt p {
  font-size: 22px !important;
  line-height: 2;
  margin: 0;
}



/*section 4*/

.airon .airon_audio {
  height: 655px;
  background-image: url("https://cdn.comfy.ua/media/x/img/1095898/sect4_bg1.png");
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  overflow: hidden;
}

.airon .airon_audio::before {
  content: "";
  display: block;
  width: 750px;
  height: 430px;
  background-image: url(https://cdn.comfy.ua/media/x/img/1095898/img3.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: -90px;
}

.airon .airon_audio .audio_cont {
  width: 1058px;
  height: 528px;
  background-color: #ffffffa6;
  position: absolute;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
  box-shadow: 10px 10px 32px -15px rgba(0, 0, 0, 0.75);
}

.airon .airon_audio .audio_cont::before {
  content: '';
  display: block;
  width: 950px;
  height: 654px;
  position: absolute;
  background-image: url("https://cdn.comfy.ua/media/x/img/1095898/bg2.png");
  background-repeat: no-repeat;
  background-size: contain;
  top: -64px;
  left: -40%;
}

.airon .airon_audio .audio_cont::after {
  content: '';
  display: block;
  width: 777px;
  height: 180px;
  position: absolute;
  background-image: url("https://cdn.comfy.ua/media/x/img/1095898/sect4_img2.png");
  background-repeat: no-repeat;
  background-size: contain;
  bottom: -14%;
  right: -26%;
}

.airon .airon_audio .audio_cont .audio_txt {
  max-width: 40%;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0, -70%);
  transform: translate(0, -70%);
  padding: 0 10px 0 20px;
  box-sizing: border-box;
}

.airon .airon_audio .audio_cont .audio_txt::before {
  content: '';
  display: block;
  width: 25px;
  height: 100px;
  background-color: #ff671f;
  position: absolute;
  top: -20%;
  left: -10%;
}

.airon .airon_audio .audio_cont .audio_txt p {
  font-size: 20px;
  line-height: 1.7;
}

.airon .airon_audio .audio_cont .audio_txt p:last-child {
  margin-top: 20px;
}

/*section 5*/

.airon .airon_cover {
  height: 649px;
  background-image: url("https://cdn.comfy.ua/media/x/img/1095898/sect5_bg1.png");
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  padding: 100px 0 0 200px;
  box-sizing: border-box;
}

.airon .airon_cover::before {
  display: block;
  content: '';
  width: 650px;
  height: 520px;
  background-image: url(https://cdn.comfy.ua/media/x/img/1095898/img4.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  bottom: 20px;
  right: 30px;
  z-index: 2;
}

.airon .airon_cover::after {
  display: block;
  content: '';
  width: 580px;
  height: 440px;
  background-image: url(https://cdn.comfy.ua/media/x/img/1095898/bg3.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  right: 0;
}

.airon .airon_cover .cover_txt {
  max-width: 38%;
}

.airon .airon_cover .cover_txt h2 {
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: bold;
  line-height: normal;
}

.airon .airon_cover .cover_txt p {
  font-size: 22px !important;
  line-height: 2;
}

/********************MEDIA*******************************************/

@media (max-width: 1024px) and (min-width: 813px) {



  .airon .book_format {
    background-position: center right -166px;
  }

  .airon .airon_cover::before {
    bottom: 20px;
    right: 10px;
  }

  .airon .airon_audio::before {
    left: -210px;
  }

  .airon .airon_book .book_img img {
    width: 32%;
  }

  .airon .airon_book .book_city_led {
    right: 10%;
  }

  .airon .airon_book .book_txt {
    right: 14%;
  }

  .airon .e_ink::before {
    display: none;
  }

  .airon .e_ink {
    padding: 68px 0 76px 30px;
  }

  .airon .e_ink .e_ink_row {
    max-width: unset;
  }

  .airon .bright {
    padding-top: 130px;
  }

  .airon .airon_cover {
    padding: 100px 0 0 60px;
  }

  .airon .airon_cover::after {
    width: 560px;
  }

  .airon .airon_audio .audio_cont .audio_txt {
    right: 30px;
  }
}

@media (max-width: 812px) and (min-width: 481px) {

  .airon .airon_audio::before {
    left: -330px;
  }

  .airon .airon_cover::before {
    width: 490px;
    height: 388px;
    bottom: 0;
    right: 0;
  }

  .airon .book_format {
    background-position: center right -256px;
  }

  .airon .book_format .form_cont .form_cont_txt {
    height: 398px;
  }

  .airon .airon_book .book_city_led {
    top: 5%;
    right: 2%;
  }

  .airon .airon_book .book_txt {
    right: 4%;
  }

  .airon .airon_book .book_img img {
    width: 46%;
  }

  .airon .airon_book .book_img {
    top: 16%;
    left: 37%;
  }

  .airon .e_ink::before {
    display: none;
  }

  .airon .bright {
    padding-top: 150px;
    padding-right: 60px;
  }

  .airon .e_ink {
    padding: 60px 0px 67px 20px;
    height: 590px;
    background-size: cover;
    background-position: center right 56%;
  }

  #airon_id p {
    font-size: 18px !important;
  }

  .airon .e_ink .e_ink_row:last-child .e_ink_img:first-child img {
    max-width: 109% !important;
  }

  .airon .airon_audio .audio_cont .audio_txt {
    right: 160px;
  }

  .airon .airon_audio .audio_cont .audio_txt::before {
    top: -32%;
  }

  .airon .airon_cover {
    padding: 100px 0 0 20px;
  }

  .airon .airon_cover::after {
    width: 425px;
    height: 330px;
  }
}

@media (max-width: 480px) and (min-width: 320px) {

  .airon .airon_cover::before {
    width: 100%;
    height: 44%;
    bottom: 10px;
    right: -75px;
  }

  .airon .airon_audio::before {
    width: 650px;
    height: 322px;
    top: 0;
    left: -185px;
  }

  .airon .airon_book .book_img::after {
    width: 350px;
    height: 440px;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }

  .airon .airon_book {
    height: auto;
    background-size: cover;
  }

  .airon .airon_book .book_img {
    position: unset;
    margin: 0 auto;
    height: 530px;
  }

  .airon .airon_book .book_img img {
    width: 60%;
    margin: 0 auto;
  }

  .airon .airon_book .book_city_led {
    position: unset;
    font-size: 24px;
    padding-bottom: 20px;
  }

  .airon .airon_book .logo {
    padding: 40px;
    position: unset;
  }

  .airon .airon_book .book_txt {
    position: unset;
    padding: 20px 0;
  }

  .airon .airon_book .book_city_led span>strong {
    font-size: 34px;
  }

  .airon .airon_book .book_txt span {
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
  }

  .airon .e_ink::before {
    display: none;
  }

  .airon .bright {
    padding: 140px 20px 20px 20px;
  }

  .airon .e_ink {
    padding: 20px 0;
    height: auto;
    background-size: cover;
    padding-top: 140px;
  }

  .airon .e_ink .e_ink_row .e_ink_txt {
    padding-right: 0;
    text-align: center;
    padding: 20px;
  }

  #airon_id p {
    font-size: 18px !important;
  }

  .airon .bright .bright_txt {
    max-width: unset;
  }

  .airon .bright .bright_txt p {
    text-align: center;
  }

  .airon .e_ink .e_ink_row:first-child {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    flex-direction: column-reverse;
  }

  .airon .e_ink .e_ink_row {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }

  .airon .e_ink .e_ink_row .e_ink_img img {
    float: unset !important;
    max-width: unset !important;
    width: 100%;
  }

  .airon .e_ink .e_ink_row:last-child .e_ink_img:first-child img {
    max-width: unset !important;
  }

  .airon .e_ink .e_ink_row:last-child .e_ink_img:last-child img {
    padding-top: 30px;
  }

  .airon .book_format .form_cont {
    box-shadow: 10px 10px 32px -15px rgba(0, 0, 0, 0.75);
    background-position: center right;
    background-size: cover;
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }

  .airon .book_format {
    background-position: center right 25%;
    height: auto;
  }

  .airon .book_format .form_cont .form_cont_txt {
    line-height: 2;
    height: auto;
  }

  .airon .airon_audio .audio_cont .audio_txt::before {
    display: none;
  }

  .airon .airon_audio .audio_cont::before {
    position: unset !important;
    width: 550px;
    height: 322px;
    background-position: center right 285px;
  }

  .airon .airon_audio .audio_cont .audio_txt {
    position: unset !important;
    max-width: unset;
    -webkit-transform: unset;
    transform: unset;
    padding: 40px 20px;
    text-align: center;
  }

  .airon .airon_audio .audio_cont::after {
    position: relative;
    height: 100px;
  }

  .airon .airon_audio {
    height: auto;
    background-size: cover;
  }

  .airon .airon_audio .audio_cont {
    -webkit-transform: unset;
    transform: unset;
    position: unset;
  }

  .airon .airon_audio .audio_cont {
    height: unset;
    max-width: 100%;
  }

  .airon .airon_cover {
    padding: 80px 20px 0 20px;
    background-size: cover;
    height: auto;
    overflow: hidden;
  }

  .airon .airon_cover::after {
    background-size: contain;
    background-position: bottom right;
    height: 250px;
    position: relative;
    width: 370px;
    max-width: 100%;
    right: -100px;
  }

  .airon .airon_cover .cover_txt {
    max-width: unset;
  }

  .airon .airon_cover .cover_txt h2 {
    font-size: 24px;
  }
}