/*default styles*/

#kenwood
  max-width: 1316px
  width: 100%
  margin: 0 auto
  height: auto
  display: block
  box-sizing: border-box
  overflow: hidden
  p
    margin-bottom: 0
    margin: 0
    text-align: unset
    font-size: 22px
    line-height: normal
    &:first-letter
      padding-left: 0
  h2
    display: block
    line-height: normal
    font-size: 44px
    font-weight: bold
    padding: 0
    margin: 0
    text-align: unset
  img
    opacity: 1
    max-width: 100%
    display: block
    height: auto
    &:hover
      opacity: 1
  ul
    list-style-type: none
    padding: 0
    margin: 0
  span
    display: block
    line-height: normal

.features-desc__text
  img
    margin-bottom: 0rem
.one-col .features-desc__text
  p:first-letter
    padding-left: 0rem !important

/*end default styles*/

#kenwood
  .show__tab
    display: none
  .shef
    position: relative
    box-sizing: border-box
    background-image: url("https://cdn.comfy.ua/media/x/img/1762880/1bg.jpg")
    background-size: cover
    background-position: center
    display: flex
    flex-direction: row
    align-items: center
    .shef__abs
      position: absolute
      left: 108px
      top: 55px
      span
        color: #fff
        font-weight: bold
        font-size: 18px
        text-transform: uppercase
    >div,
    .shef__list
      flex: 1 1 0
      max-width: 50%
      box-sizing: border-box
    .shef__img
      padding-right: 30px
    .shef__list
      color: #fff
      padding-left: 108px
      li
        max-width: 363px
        .shef__title
          display: flex
          flex-direction: row
          align-items: center
          margin-bottom: 12px
          p>strong
          font-size: 24px
          &::before
            content: ""
            display: block
            min-width: 48px
            height: 48px
            background-image: url("https://cdn.comfy.ua/media/x/img/1508149/icon1.svg")
            margin-right: 15px
        .shef__txt
          p
            font-size: 18px
        &:nth-of-type(2)
          margin-top: 83px
          .shef__title
            &::before
              background-image: url("https://cdn.comfy.ua/media/x/img/1508149/icon2.svg")
  .shef__reverse
    background-image: url("https://cdn.comfy.ua/media/x/img/1508149/2bg.png")
    background-color: #505050
    flex-direction: row-reverse
    .shef__list
      padding-left: 0
      padding-right: 124px
      li
        margin: 0 0 0 auto
        .shef__title
          &::before
            background-image: url("https://cdn.comfy.ua/media/x/img/1508149/icon3.svg")
        &:nth-of-type(2)
          .shef__title
            &::before
              background-image: url("https://cdn.comfy.ua/media/x/img/1508149/icon4.svg")

  .func
    box-sizing: border-box
    background-image: url("https://cdn.comfy.ua/media/x/img/1508149/4bg.png")
    background-position: top left
    background-repeat: no-repeat
    display: flex
    flex-direction: row-reverse
    align-items: center
    position: relative
    background-size: cover
    .func__abs
      position: absolute
      color: #fff
      left: 108px
      top: 80px
    .func__list,
    .func__img
      flex: 1 1 0
      max-width: 50%
      box-sizing: border-box
    .func__img
      img
        margin: 0 0 0 auto
    .func__list
      display: flex
      flex-direction: row
      flex-wrap: wrap
      padding-right: 30px
      padding-left: 83px
      margin-top: 300px
      margin-bottom: 76px
      flex: 1.5
      max-width: 100%
      li
        flex: 1 1 0
        max-width: 50%
        min-width: 50%
        padding: 0 25px
        box-sizing: border-box
        .func__txt
          p
            font-size: 18px
            color: #fff
            line-height: 25.2px
        .func__title
          display: flex
          flex-direction: row
          align-items: center
          margin-bottom: 10px
          p
            font-size: 24px
            color: #fff
          &::before
            content: ""
            display: block
            min-width: 48px
            height: 48px
            background-repeat: no-repeat
            background-position: center
            background-size: contain
            background-image: url("https://cdn.comfy.ua/media/x/img/1232792/icon5.svg")
            margin-right: 15px
        &:nth-of-type(2)
          .func__title
            &::before
              background-image: url("https://cdn.comfy.ua/media/x/img/1508149/icon6.svg")
        &:nth-of-type(3)
          .func__title
            &::before
              background-image: url("https://cdn.comfy.ua/media/x/img/1508149/icon7.svg")
        &:nth-of-type(4)
          .func__title
            &::before
              background-image: url("https://cdn.comfy.ua/media/x/img/1508149/icon8.svg")
        &:nth-of-type(n+3)
          margin-top: 30px

  .cooking
    box-sizing: border-box
    margin: 30px 30px 30px 108px
    background-image: url("https://cdn.comfy.ua/media/x/img/1232792/3.jpg")
    background-position: right
    background-repeat: no-repeat
    height: 660px
    .cooking__txt
      padding-top: 50px
      h2
        margin-bottom: 60px
      p
        display: block
        max-width: 321px !important
        line-height: 30.8px

  .british
    box-sizing: border-box
    margin: 30px 30px 30px 108px
    background-image: url("https://cdn.comfy.ua/media/x/img/1232792/5.jpg")
    background-position: right
    background-repeat: no-repeat
    height: 660px
    .british__txt
      padding-top: 50px
      h2
        margin-bottom: 60px
      p
        display: block
        max-width: 321px !important
        line-height: 30.8px

  .nasadki
    background-image: url("https://cdn.comfy.ua/media/x/img/1762880/6bg.jpg")
    background-position: center
    background-size: cover
    padding: 80px 0 80px 108px
    box-sizing: border-box
    overflow: hidden
    .nasadki__flex
      display: flex
      flex-direction: row
      color: #fff
      >div
        flex: 1 1 0
      .nasadki__cont
        flex: 2
        margin-right: 20px
        .nasadki__list
          margin-top: 75px
          display: flex
          flex-direction: row
          flex-wrap: wrap
          li
            max-width: 33.33%
            min-width: 33.33%
            display: flex
            flex-direction: row
            align-items: flex-start
            &::before
              content: ""
              display: block
              min-width: 160px
              height: 220px
              background-image: url("https://cdn.comfy.ua/media/x/img/1232792/icon11.png")
              margin-right: 15px
            .nasadki__list__txt
              p
                font-size: 18px
                line-height: 25.2px
                >strong
                  font-size: 24px
                  margin-bottom: 12px
                  display: block
            &:nth-of-type(n+4)
              margin-top: 60px
            &:nth-of-type(1)
              &::before
                display: none
            &:nth-of-type(2)
              &::before
                background-image: url("https://cdn.comfy.ua/media/x/img/1762880/icon6.png")
            &:nth-of-type(3)
              &::before
                background-image: url("https://cdn.comfy.ua/media/x/img/1508149/icon9.png")
            &:nth-of-type(4)
              &::before
                background-image: url("https://cdn.comfy.ua/media/x/img/1232792/icon9.png")
            &:nth-of-type(5)
              &::before
                background-image: url("https://cdn.comfy.ua/media/x/img/1232792/icon10.png")

  .pribor
    padding: 80px 0 80px 108px
    box-sizing: border-box
    .pribor__flex
      display: flex
      flex-direction: row
      align-items: flex-end
      .pribor__img
        min-width: 275px
        margin-left: 78px
      .pribor__cont
        >span
          margin: 40px 0 30px 0
          font-size: 28px
          font-weight: bold
          &:last-of-type
            margin: 73px 0 30px 0
        .pribor__title
          h2
            margin-bottom: 30px
          p
            line-height: 30.8px
        .pribor__list
          display: flex
          flex-direction: row
          li
            flex: 1 1 0
            box-sizing: border-box
            .pribor__list__txt
              span
                color: #878787
                font-size: 18px
                margin: 20px 0 7px 0
              p
                font-size: 16px
                line-height: 22.4px
                >strong
                  display: block
                  margin-bottom: 12px
              &::before
                content: ""
                display: block
                min-width: 20px
                height: 10px
                background-repeat: no-repeat
                background-size: contain
                background-position: center
                background-image: url("https://cdn.comfy.ua/media/x/img/1762880/threeangle.svg")
                margin-top: 20px
            &::before
              content: ""
              display: block
              width: 245px
              height: 190px
              background-repeat: no-repeat
              background-position: center
              background-image: url("https://cdn.comfy.ua/media/x/img/1508149/icon14.jpg")
            &:nth-of-type(2)
              margin: 0 60px
              &::before
                background-image: url("https://cdn.comfy.ua/media/x/img/1508149/icon15.jpg")
            &:nth-of-type(3)
              &::before
                background-image: url("https://cdn.comfy.ua/media/x/img/1508149/icon16.jpg")
          &:last-of-type
            li
              &:nth-of-type(1)
                &::before
                  background-image: url("https://cdn.comfy.ua/media/x/img/1508149/icon17.jpg")
              &:nth-of-type(2)
                &::before
                  background-image: url("https://cdn.comfy.ua/media/x/img/1508149/icon18.jpg")
              &:nth-of-type(3)
                &::before
                  background-image: url("https://cdn.comfy.ua/media/x/img/1508149/icon19.jpg")

  .family
    background-color: #1F3A4B
    .family__wrap
      display: flex
      flex-direction: row
      color: #fff
      padding: 80px 66px 25px 108px
      box-sizing: border-box
      .family__main__title
        flex: 1
      .family__list
        flex: 1.3
        display: flex
        flex-direction: row
        flex-wrap: wrap
        li
          min-width: 50%
          max-width: 50%
          padding: 0 20px
          box-sizing: border-box
          .family__title
            display: flex
            flex-direction: row
            align-items: center
            margin-bottom: 12px
            p
              font-size: 24px
            &::before
              content: ""
              display: block
              min-width: 48px
              height: 48px
              background-size: contain
              background-image: url("https://cdn.comfy.ua/media/x/img/1508149/icon10.svg")
              margin-right: 20px
          .family__txt
            padding-left: 68px
            p
              font-size: 18px
          &:nth-of-type(2)
            .family__title
              &::before
                background-image: url("https://cdn.comfy.ua/media/x/img/1508149/icon11.svg")
          &:nth-of-type(3)
            .family__title
              &::before
                background-image: url("https://cdn.comfy.ua/media/x/img/1508149/icon12.svg")
          &:nth-of-type(4)
            .family__title
              &::before
                background-image: url("https://cdn.comfy.ua/media/x/img/1508149/icon13.svg")
          &:nth-of-type(n+3)
            margin-top: 60px
                
            
    .family__img
      img
        margin: 0 auto

//media****************************************************

@media (max-width: 1024px)
  #kenwood .family .family__wrap
    padding: 1em
  #kenwood .family .family__wrap .family__main__title
    flex: 1.2
  #kenwood .func .func__list
    padding-right: 0
    flex: 1.5
    padding-left: 0
  #kenwood .func .func__abs
    left: 1em
  #kenwood .cooking,
  #kenwood .british
    margin: 30px
  #kenwood .nasadki
    padding: 80px 0 80px 1em
  #kenwood .nasadki .nasadki__flex .nasadki__cont
    flex: 3
  #kenwood .nasadki .nasadki__flex .nasadki__img
    align-self: center
  #kenwood .pribor .pribor__flex .pribor__cont .pribor__list li
    box-sizing: border-box
  #kenwood .pribor .pribor__flex .pribor__cont .pribor__list li::before
    width: 100%
    max-width: 245px
  #kenwood .pribor
    padding-left: 1em
  #kenwood .pribor .pribor__flex .pribor__img
    min-width: 250px
    margin-left: 40px
  #kenwood .func .func__list li
    padding: 0 24px
  #kenwood .shef .shef__list
    padding-left: 1em
  #kenwood .shef .shef__abs
    left: 1em
    top: 1em
  #kenwood .shef__reverse
    flex-direction: row-reverse !important
  #kenwood .shef__reverse .shef__list
    padding-right: 1em
    flex-direction: column !important
    display: block
    flex: 3
    li
      max-width: 100% !important
      &:nth-of-type(2)
        margin-left: 0 !important
        margin-top: 50px !important

@media (max-width: 812px)
  #kenwood .family .family__wrap .family__main__title h2 > br
    display: none
  #kenwood .family .family__wrap
    flex-direction: column
  #kenwood .family .family__wrap .family__list li:nth-of-type(odd)
    padding-left: 0
  #kenwood .family .family__wrap .family__list li:nth-of-type(even)
    padding-right: 0
  #kenwood .family .family__wrap .family__list
    margin-top: 30px
  #kenwood .family .family__wrap .family__list li .family__title
    flex-direction: column
    align-items: flex-start
    margin-bottom: 8px
    &::before
      margin-right: 0
      margin-bottom: 15px
  #kenwood .family .family__wrap .family__list li .family__txt
    padding-left: 0
  #kenwood
    .hide__tab
      display: none
    .show__tab
      display: block
  #kenwood .shef
    flex-direction: column
    padding-top: 1em
  #kenwood .shef > div, #kenwood .shef .shef__list
    max-width: 100%
  #kenwood .shef .shef__txt
    padding-left: 1em
  #kenwood .shef .shef__txt span
    font-size: 32px
  #kenwood .shef .shef__abs
    left: 1em
    position: unset
  #kenwood .shef .shef__list
    display: flex
    flex-direction: row
    margin: 2em 0
    li
      flex: 1 1 0
      max-width: 50%
      &:nth-of-type(2)
        margin-top: 0
        margin-left: 1em
  #kenwood .func .func__list, #kenwood .func .func__img
    margin-left: 0
  #kenwood .func .func__abs
    order: 0
    position: unset
    padding: 1em 1em 0 1em
    align-self: start

  #kenwood .func .func__list
    max-width: 100%
    flex: 6
    order: 1
    margin-top: 30px
    margin-bottom: 20px
  #kenwood .func .func__img
    order: 2
  #kenwood .func
    background-image: unset
    background-color: #212121
    flex-direction: column
  #kenwood .cooking,
  #kenwood .british
    background-image: unset
    height: auto
    margin: 0
  #kenwood .cooking .cooking__txt,
  #kenwood .british .british__txt
    padding: 1em
    margin: 0
    h2
      font-size: 32px
    p
      max-width: 100% !important
  #kenwood .cooking .cooking__txt
    margin-bottom: -40%
    position: relative
  #kenwood h2
    font-size: 34px
  #kenwood .nasadki
    padding: 1em 0 1em 1em
  #kenwood .nasadki .nasadki__flex
    flex-direction: column
  #kenwood .nasadki .nasadki__flex .nasadki__img
    align-self: unset
    margin-bottom: -8%
    img
      max-width: 40%
  #kenwood .nasadki .nasadki__flex .nasadki__cont .nasadki__list li::before
    background-size: contain
    background-repeat: no-repeat
    min-width: 130px
  #kenwood .nasadki .nasadki__flex .nasadki__cont h2
    text-align: center
  #kenwood .pribor .pribor__flex .pribor__cont .pribor__list
    flex-direction: column
  #kenwood .pribor .pribor__flex .pribor__cont .pribor__list li
    display: flex
    flex-direction: row
    align-items: center
    &:nth-of-type(even)
      flex-direction: row-reverse
      &::before
        margin-left: 19px
    &:nth-of-type(odd)
      &::before
        margin-right: 19px
    &:nth-of-type(2)
      margin: 40px 0
  #kenwood .pribor .pribor__flex .pribor__cont .pribor__list li .pribor__list__txt span
    margin-top: 0
  #kenwood .pribor .pribor__flex .pribor__cont .pribor__list li .pribor__list__txt::before
    display: none
  #kenwood .pribor .pribor__flex .pribor__img
    min-width: 200px
    margin-left: 15px
    display: none
  #kenwood .pribor .pribor__flex .pribor__cont > span
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-between
    margin: -40px 0 !important
    &::after
      content: ""
      display: block
      width: 124px
      min-width: 124px
      height: 248px
      background-image: url("https://cdn.comfy.ua/media/x/img/1762880/7_1.png")
      background-size: contain
      background-repeat: no-repeat
    &:nth-of-type(2)
      &::after
        background-image: url("https://cdn.comfy.ua/media/x/img/1762880/7_2.png")
  #kenwood .pribor .pribor__flex .pribor__cont .pribor__list li .pribor__list__txt
    max-width: 45%
  #kenwood .cooking .cooking__txt h2 > br
    display: none
  #kenwood .nasadki .nasadki__flex .nasadki__cont .nasadki__list li
    min-width: 50%
    max-width: 50%
  #kenwood .nasadki .nasadki__flex .nasadki__cont .nasadki__list li:nth-of-type(n+3)
    margin-top: 60px

@media (max-width: 480px)
  #kenwood p
    line-height: 16.9px !important
  #kenwood .shef
    flex-direction: column
    align-items: unset
    padding-top: 0
    background-image: unset
    background-color: #505050

  #kenwood .shef .shef__abs
    position: unset
    span
      font-size: 13px
      padding: 20px 15px
      font-weight: normal
  #kenwood .shef > div
    max-width: 100%
  #kenwood .shef .shef__txt
    padding: 0 15px
  #kenwood .shef .shef__img
    padding: 20px 15px 0 15px
  #kenwood .shef .shef__txt span
    max-width: 266px
  #kenwood .shef .shef__list
    flex-direction: column
    margin: 0 0 28px 0
    li
      &:nth-of-type(2)
        margin-top: 30px
        margin-left: 0
  #kenwood .shef .shef__list li .shef__title::before
    min-width: 38px
    height: 38px
    margin-right: 10px
    background-size: contain
  #kenwood .shef .shef__list li .shef__title p
    font-size: 14px !important
  #kenwood .shef .shef__list li
    max-width: 100%
  #kenwood .shef .shef__txt
    padding-left: 0
  #kenwood .shef .shef__list li .shef__txt p
    font-size: 13px
  #kenwood .func
    padding: 0
  #kenwood .func .func__abs
    padding-top: 40px
    padding-right: 15px
    padding-left: 15px
    h2
      font-size: 22px
      >br
        display: none
  #kenwood .func .func__list li .func__title
    flex-direction: column
    align-items: flex-start
    &::before
      margin-right: 0 !important
      margin-bottom: 15px
  #kenwood .func .func__list li .func__title p
    font-size: 16px
  #kenwood .func .func__list li .func__title::before
    min-width: 38px
    height: 38px
    margin-right: 10px
  #kenwood .func .func__list li .func__txt p
    font-size: 13px
  #kenwood .func .func__list li
    padding-right: 15px
    padding-left: 15px
  #kenwood .func .func__img
    max-width: 100%
  #kenwood .cooking .cooking__txt h2,
  #kenwood .british .british__txt h2
    font-size: 22px
    margin-bottom: 20px
  #kenwood .cooking .cooking__txt,
  #kenwood .british .british__txt
    padding: 40px 15px 0 15px
  #kenwood .cooking .cooking__txt p,
  #kenwood .british .british__txt p
    font-size: 13px
    max-width: 240px
  #kenwood h2
    font-size: 26px
  #kenwood .nasadki .nasadki__flex .nasadki__cont h2
    font-size: 22px
    text-align: left
    >br
      display: none
  #kenwood .nasadki
    padding: 0
  #kenwood .nasadki .nasadki__flex .nasadki__cont
    margin-right: 0
    padding: 40px 15px 10px 15px
  #kenwood .nasadki .nasadki__flex .nasadki__cont .nasadki__list
    margin-top: 0
    flex-direction: column
    li
      justify-content: unset
      align-items: unset
      &:nth-of-type(odd)
        flex-direction: row-reverse
      &:nth-of-type(2)
        margin-top: 30px !important
        
  #kenwood .nasadki .nasadki__flex .nasadki__cont .nasadki__list li::before
    max-width: 115px
    min-width: 115px
    max-height: 132px
  #kenwood .nasadki .nasadki__flex .nasadki__cont .nasadki__list li
    max-width: 100%
  #kenwood .nasadki .nasadki__flex .nasadki__cont .nasadki__list li .nasadki__list__txt p
    font-size: 13px
  #kenwood .nasadki .nasadki__flex .nasadki__cont .nasadki__list li .nasadki__list__txt p > strong
    font-size: 16px
    margin-bottom: 8px
    >br
      display: none
  #kenwood .nasadki .nasadki__flex .nasadki__cont .nasadki__list li:nth-of-type(even)::before
    margin-right: 10px
  #kenwood .nasadki .nasadki__flex .nasadki__cont .nasadki__list li:nth-of-type(odd)::before
    margin-right: 0
    margin-left: 10px
  #kenwood .nasadki .nasadki__flex .nasadki__cont .nasadki__list li
    &:nth-of-type(n+2)
      margin-top: 60px
  #kenwood .nasadki
    background-image: unset
    background-color: #212121
  #kenwood .nasadki .nasadki__flex .nasadki__img img
    max-width: 74%
  #kenwood .nasadki .nasadki__flex .nasadki__img
    margin-bottom: -14%
  #kenwood .pribor
    padding: 40px 0 40px 15px
    p
      font-size: 13px
  #kenwood .pribor .pribor__flex .pribor__cont .pribor__title
    padding-right: 15px
  #kenwood .pribor .pribor__flex .pribor__cont .pribor__title h2
    font-size: 22px
    margin-bottom: 20px
  #kenwood .pribor .pribor__flex .pribor__cont > span
    font-size: 20px
    margin: 0 !important
    margin-bottom: -30px !important
  #kenwood .pribor .pribor__flex .pribor__cont .pribor__list li .pribor__list__txt span
    font-size: 11px
    margin-bottom: 6px
  #kenwood .pribor .pribor__flex .pribor__cont .pribor__list li .pribor__list__txt p > strong
    font-size: 16px
  #kenwood .pribor .pribor__flex .pribor__cont .pribor__list li::before
    width: 115px
    height: 130px
    min-width: 100px
    max-width: unset
    background-size: cover
    max-width: 100%
  #kenwood .pribor .pribor__flex .pribor__cont .pribor__list li .pribor__list__txt
    max-width: 100%
  #kenwood .pribor .pribor__flex .pribor__cont .pribor__list li .pribor__list__txt
    min-width: 155px
    max-width: 100%
    box-sizing: border-box
  #kenwood .pribor .pribor__flex .pribor__cont .pribor__list li:nth-of-type(odd) .pribor__list__txt
    padding-right: 15px
    box-sizing: border-box
  #kenwood .shef__reverse
    background-color: #212121
    align-items: center
  #kenwood .shef__reverse .shef__img
    padding: 0
  #kenwood .shef__reverse .shef__list
    flex: 2.5
    margin: 28px 0
  #kenwood .shef__reverse .shef__list li:nth-of-type(2)
    margin-top: 28px !important
  #kenwood .shef__reverse .shef__txt
    padding-right: 0
  #kenwood .cooking .cooking__txt
    position: relative
    margin-bottom: -50%
  #kenwood .family .family__wrap .family__main__title h2
    font-size: 18px
  #kenwood .family .family__wrap .family__list li .family__title::before
    min-width: 42px
    height: 42px
  #kenwood .family .family__wrap .family__list li .family__title p
    font-size: 16px
  #kenwood .family .family__wrap .family__list li .family__txt p
    font-size: 13px
  #kenwood .family .family__wrap .family__list li:nth-of-type(odd)
    padding-right: 10px
  #kenwood .family .family__wrap .family__list li:nth-of-type(even)
    padding-left: 10px
  #kenwood .family .family__wrap
    padding: 40px 15px 0 15px
