.ecovacs {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
  height: auto;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

.ecovacs p {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 0;
  margin: 0;
  text-align: unset;
}

.ecovacs p:first-letter {
  padding-left: 0;
}

.ecovacs h2 {
  text-align: unset;
  display: block;
  line-height: normal;
  font-size: 32px;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

.ecovacs img {
  margin: 0 auto;
  opacity: 1 !important;
  max-width: 100%;
  display: block;
  height: auto;
}

.ecovacs img:hover {
  opacity: 1 !important;
}

.ecovacs ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.ecovacs span {
  display: block;
  line-height: normal;
}

.features-desc__text img {
  margin-bottom: 0rem;
}

.one-col .features-desc__text p:first-letter {
  padding-left: 0rem !important;
}

.ecovacs__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ecovacs__flex__reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.ecovacs__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 50%;
  max-width: 50%;
}

.ecovacs__txt {
  padding: 1em;
  text-align: right;
}

.ecovacs__txt h2 {
  font-weight: bold;
  margin-bottom: 0.5em;
}

.ecovacs__flex__reverse .ecovacs__txt {
  text-align: left;
}

@media (max-width: 1201px) {
  .ecovacs h2 {
    font-size: 24px;
  }
  .ecovacs p {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (max-width: 767px) {
  .ecovacs__flex {
    display: block !important;
  }
  .ecovacs__item {
    min-width: unset;
    max-width: 100%;
  }
  .ecovacs__txt {
    text-align: left !important;
  }
}
