/*default styles*/

.features-desc__text img {
  margin-bottom: 0rem !important;
}

#mercusys p:first-letter {
  padding-left: 0;
}

#mercusys p {
  margin-bottom: 0;
}

#mercusys img:hover {
  opacity: 1;
}

#mercusys img {
  display: block;
  margin-right: initial;
  margin-left: initial;
  opacity: 1;
  display: block;
  max-width: 100%;
  height: auto;
}

#mercusys ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#mercusys h2,
#mercusys h3,
#mercusys h4 {
  display: block;
  line-height: normal;
  text-align: left;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

#mercusys h2 {
  font-size: 36px;
}

#mercusys h3 {
  font-size: 28px;
}

#mercusys h4 {
  font-size: 24px;
}

#mercusys p {
  font-size: 18px;
  padding: 0;
  margin: 0;
}

#mercusys {
  max-width: 1316px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

/*end default styles*/

/*section 1*/

#mercusys .support {
  height: 592px;
  box-sizing: border-box;
  background-image: url("https://cdn.comfy.ua/media/x/img/1584286/sec1_bg.jpg");
  background-position: center;
  padding: 70px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
}

#mercusys .support .support_txt {
  margin-left: 100px;
}

#mercusys .support .support_txt p {
  padding-top: 10px;
}

#mercusys .support ul.support_list {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-align: center;
          align-items: center;
  margin-left: 100px;
  margin-top: 50px;
}

#mercusys .support ul.support_list li:nth-of-type(2) {
  margin: 0 20px;
}

#mercusys .support ul.support_list li:nth-of-type(2),
#mercusys .support ul.support_list li:nth-of-type(3) {
  border: 1px solid #324251;
  border-radius: .625em;
}

/*end section 1*/

/*section 2*/

#mercusys .func {
  padding: 70px;
}

#mercusys .func ul.func_list {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  flex-wrap: wrap;
}

#mercusys .func ul.func_list li {
  -webkit-box-flex: 1;
          flex: 1 1 0;
  min-width: 25%;
  max-width: 25%;
  text-align: center;
}

#mercusys .func ul.func_list li::before {
  content: "";
  display: block;
  width: 75px;
  height: 75px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 0 auto;
  padding-bottom: 20px;
}

#mercusys .func ul.func_list li:nth-of-type(1)::before {
  background-image: url("https://cdn.comfy.ua/media/x/img/1584286/sec2_icon1.png");
}

#mercusys .func ul.func_list li:nth-of-type(2)::before {
  background-image: url("https://cdn.comfy.ua/media/x/img/1584286/sec2_icon2.png");
}

#mercusys .func ul.func_list li:nth-of-type(3)::before {
  background-image: url("https://cdn.comfy.ua/media/x/img/1584286/sec2_icon3.png");
}

#mercusys .func ul.func_list li:nth-of-type(4)::before {
  background-image: url("https://cdn.comfy.ua/media/x/img/1584286/sec2_icon4.png");
}

#mercusys .func ul.func_list li:nth-of-type(5)::before {
  background-image: url("https://cdn.comfy.ua/media/x/img/1584286/sec2_icon5.png");
}

#mercusys .func ul.func_list li:nth-of-type(6)::before {
  background-image: url("https://cdn.comfy.ua/media/x/img/1584286/sec2_icon6.png");
}

#mercusys .func ul.func_list li:nth-of-type(7)::before {
  background-image: url("https://cdn.comfy.ua/media/x/img/1584286/sec2_icon7.png");
}

#mercusys .func ul.func_list li:nth-of-type(8)::before {
  background-image: url("https://cdn.comfy.ua/media/x/img/1584286/sec2_icon8.png");
}

#mercusys .func ul.func_list li:nth-of-type(1),
#mercusys .func ul.func_list li:nth-of-type(2),
#mercusys .func ul.func_list li:nth-of-type(3),
#mercusys .func ul.func_list li:nth-of-type(4) {
  margin-bottom: 50px;
}

/*end section 2*/

/*section 3*/

#mercusys .distance {
  position: relative;
  padding-top: 70px;
  background: url("https://cdn.comfy.ua/media/x/img/1584286/03-bg.jpg") bottom/contain no-repeat;
  /* padding-bottom: 38.28125vw; */
  padding-bottom: 500px;
  -webkit-transition: background .5s;
  transition: background .5s;
}

#mercusys .distance .distance_text {
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
}

#mercusys .distance .distance_text h2 {
  text-align: center;
}

#mercusys .distance .distance_text p {
  padding-top: 20px;
}

#mercusys .distance .bg-text .prompt {
  z-index: 1;
  cursor: pointer;
  display: block;
  position: absolute;
  /* width: 3.854166666666667vw;
  height: 3.854166666666667vw; */
  width: 50px;
  height: 50px;
  -webkit-transition: .5s;
  transition: .5s;
  bottom: 200px;
  right: 444px;
}

#mercusys .distance .bg-text .prompt:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  opacity: .5;
  border: 2px solid #1bcbff;
  border-radius: 50%;
  box-shadow: inset 0 0 12px 0 #1bcbff;
  -webkit-animation: 1s infinite sizeLarger;
          animation: 1s infinite sizeLarger
}

#mercusys .distance:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url("https://cdn.comfy.ua/media/x/img/1584286/03-bg-phone.png") bottom/contain no-repeat;
  -webkit-transition: background 1s;
  transition: background 1s
}

#mercusys .distance.actived {
  background: url("https://cdn.comfy.ua/media/x/img/1584286/03-bg-dark.jpg") bottom/contain no-repeat
}

#mercusys .distance.actived:before {
  background: url("https://cdn.comfy.ua/media/x/img/1584286/03-bg-dark-phone.png") bottom/contain no-repeat
}

#mercusys .distance:after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url("https://cdn.comfy.ua/media/x/img/1584286/03-bg-btn.png") bottom/contain no-repeat;
  -webkit-transform: none;
          transform: none;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s
}

#mercusys .distance.actived:after {
  -webkit-transform: translateX(-1.0625em);
          transform: translateX(-1.0625em)
}

@-webkit-keyframes sizeLarger {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0)
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1)
  }
}

@keyframes sizeLarger {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0)
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1)
  }
}

/*end section 3*/

/*section 4*/

#mercusys .timer .timer_txt {
  text-align: center;
  padding: 70px;
}

#mercusys .timer .timer_txt h2 {
  text-align: center;
}

#mercusys .timer .timer_txt p {
  padding-top: 20px;
}

#mercusys .timer .timer_bg {
  height: 502px;
  box-sizing: border-box;
  background-image: url("https://cdn.comfy.ua/media/x/img/1584286/sec4_bg.jpg");
  background-position: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  padding: 70px;
  box-sizing: border-box;
  -webkit-box-align: end;
          align-items: flex-end;
}

#mercusys .timer .timer_bg ul.timer_list {
  padding: 2.083333333333333vw 5.208333333333334vw 1.822916666666667vw 1.822916666666667vw;
  background-color: #fff;
  border-radius: .625em;
  box-shadow: -0.875em -0.875em 1.125em #f1f2f2;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

#mercusys .timer .timer_bg ul.timer_list span {
  padding-left: 30px;
}

#mercusys .timer .timer_bg ul.timer_list li {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
}

#mercusys .timer .timer_bg ul.timer_list li:not(:last-of-type) {
  margin-bottom: 10px;
}

#mercusys .timer .timer_bg ul.timer_list li::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 10px;
}

#mercusys .timer .timer_bg ul.timer_list li:nth-of-type(1)::before {
  background-image: url("https://cdn.comfy.ua/media/x/img/1584286/sec4_icon3.png");
}

#mercusys .timer .timer_bg ul.timer_list li:nth-of-type(2)::before {
  background-image: url("https://cdn.comfy.ua/media/x/img/1584286/sec4_icon1.png");
}

#mercusys .timer .timer_bg ul.timer_list li:nth-of-type(3)::before {
  background-image: url("https://cdn.comfy.ua/media/x/img/1584286/sec4_icon1.png");
}

#mercusys .timer .timer_bg ul.timer_list li:nth-of-type(4)::before {
  background-image: url("https://cdn.comfy.ua/media/x/img/1584286/sec4_icon2.png");
}

/*end section 4*/

/*section 5*/

#mercusys .tapo {
  padding: 70px;
}

#mercusys .tapo ul.tapo_list>li {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-align: center;
          align-items: center;
}

#mercusys .tapo ul.tapo_list li:nth-of-type(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
          flex-direction: row-reverse;
}

#mercusys .tapo ul.tapo_list li .tapo_txt {
  padding: 70px;
  box-sizing: border-box;
}

#mercusys .tapo ul.tapo_list>li .tapo_txt>p {
  padding-top: 20px;
}

#mercusys .tapo ul.tapo_list li>div {
  -webkit-box-flex: 1;
          flex: 1 1 0;
  max-width: 50%;
}

#mercusys .tapo .tapo_section .tapo_section_txt {
  padding: 70px;
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
}

#mercusys .tapo .tapo_section .tapo_section_txt h2 {
  text-align: center;
}

#mercusys .tapo .tapo_section .tapo_section_txt p {
  padding-top: 20px;
}

#mercusys .tapo .tapo_section .tapo_section_bg {
  box-sizing: border-box;
  background-image: url("https://cdn.comfy.ua/media/x/img/1584286/sec5_bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 546px;
}

#mercusys .tapo ul.tapo_list:last-of-type {
  margin-top: 70px;
}

#mercusys .tapo ul.tapo_list:last-of-type li .tapo_txt ul.tapo_cont li {
  list-style-type: disc;
  display: list-item;
  margin-left: 20px;
}

#mercusys .tapo ul.tapo_list:last-of-type li .tapo_txt ul.tapo_cont li:first-of-type {
  margin-top: 20px;
}

#mercusys .tapo ul.tapo_list:last-of-type li .tapo_txt ul.tapo_cont li:not(:last-of-type) {
  margin-bottom: 10px;
}

#mercusys .tapo ul.tapo_list:last-of-type li .tapo_txt ul.tapo_icon {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  flex-wrap: wrap;
  margin-top: 40px;
}

#mercusys .tapo ul.tapo_list:last-of-type li .tapo_txt ul.tapo_icon li {
  -webkit-box-flex: 1;
          flex: 1 1 0;
  max-width: 25%;
  min-width: 25%;
  text-align: center;
}

#mercusys .tapo ul.tapo_list:last-of-type li .tapo_txt ul.tapo_icon li::before {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
  margin-bottom: 10px;
}

#mercusys .tapo ul.tapo_list:last-of-type li .tapo_txt ul.tapo_icon li:nth-of-type(1)::before {
  background-image: url("https://cdn.comfy.ua/media/x/img/1584286/sec5_icon1.png");
}

#mercusys .tapo ul.tapo_list:last-of-type li .tapo_txt ul.tapo_icon li:nth-of-type(2)::before {
  background-image: url("https://cdn.comfy.ua/media/x/img/1584286/sec5_icon2.png");
}

#mercusys .tapo ul.tapo_list:last-of-type li .tapo_txt ul.tapo_icon li:nth-of-type(3)::before {
  background-image: url("https://cdn.comfy.ua/media/x/img/1584286/sec5_icon3.png");
}

#mercusys .tapo ul.tapo_list:last-of-type li .tapo_txt ul.tapo_icon li:nth-of-type(4)::before {
  background-image: url("https://cdn.comfy.ua/media/x/img/1584286/sec5_icon4.png");
}

#mercusys .tapo ul.tapo_list:last-of-type li .tapo_txt ul.tapo_icon li span {
  font-size: 16px;
}

/*end section 5*/

/*section 6*/

#mercusys .settings {
  padding: 70px;
  height: 658px;
  box-sizing: border-box;
  background-image: url("https://cdn.comfy.ua/media/x/img/1584286/sec6_bg.jpg");
  background-position: center;

  position: relative;
}

#mercusys .settings .settings_txt {
  text-align: center;
  color: #fff;
}

#mercusys .settings .settings_txt h2 {
  text-align: center;
}

#mercusys .settings .settings_txt p {
  padding-top: 20px;
}

#mercusys .settings ul.settings_icon {
  max-width: 200px;
  position: absolute;
  left: 26%;
  top: 45%;
}

#mercusys .settings ul.settings_icon li:last-of-type {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
}

#mercusys .settings ul.settings_icon li:last-of-type div:nth-of-type(2) {
  margin: 0 10px;
}

#mercusys .settings ul.settings_icon li:nth-of-type(2) {
  margin: 10px 0;
  color: #fff;
}

#mercusys .settings ul.settings_icon li:nth-of-type(2) span {
  font-size: 14px;
}

#mercusys .settings ul.settings_list {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  position: absolute;
  text-align: center;
  color: #fff;
  top: 84%;
  left: 50%;
  -webkit-transform: translate(-50%, 0px);
          transform: translate(-50%, 0px);
}

#mercusys .settings ul.settings_list li {
  -webkit-box-flex: 1;
          flex: 1 1 0;
  min-width: 175px;
}

#mercusys .settings ul.settings_list li:nth-of-type(2) {
  margin: 0 135px;
}

#mercusys .settings ul.settings_icon li:last-of-type div a:hover img {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 10%;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

/*end section 6*/

/*section 7*/

#mercusys .tapo_info {
  padding: 70px;
}

/*end section 7*/




/*media*******************************************************************************/

@media (max-width: 1024px) and (min-width: 813px) {
  #mercusys .distance .bg-text .prompt {
    bottom: 15vw;
    right: 33.5vw;
  }

  #mercusys .tapo ul.tapo_list li .tapo_txt {
    padding: 20px;
  }

  #mercusys .settings ul.settings_icon {
    left: 18%;
  }

  #mercusys .distance {
    padding-bottom: 410px;
  }
}

@media (max-width: 812px) and (min-width: 481px) {

  #mercusys .distance {
    padding-bottom: 320px;
  }

  #mercusys .support {
    padding: 20px;
  }

  #mercusys .support .support_txt,
  #mercusys .support ul.support_list {
    margin-left: 0;
  }

  #mercusys .func {
    padding: 20px;
  }

  #mercusys .func ul.func_list li {
    min-width: 33.3%;
    max-width: 33.3%;
  }

  #mercusys .distance .bg-text .prompt {
    bottom: 15vw;
    right: 33.5vw;
  }

  #mercusys .timer .timer_txt {
    padding: 20px;
  }

  #mercusys .tapo,
  #mercusys .tapo ul.tapo_list li .tapo_txt,
  #mercusys .tapo .tapo_section .tapo_section_txt {
    padding: 20px;
  }

  #mercusys .tapo ul.tapo_list:last-of-type li .tapo_txt ul.tapo_icon li {
    max-width: 50%;
    min-width: 50%;
  }

  #mercusys .tapo ul.tapo_list:last-of-type li .tapo_txt ul.tapo_icon li:nth-of-type(n+3) {
    margin-top: 20px;
  }

  #mercusys .settings ul.settings_icon {
    left: 7%;
  }

  #mercusys .settings ul.settings_list li:nth-of-type(2) {
    margin: 0 70px;
  }

  #mercusys .settings {
    padding: 20px;
  }

  #mercusys .tapo_info {
    padding: 20px;
  }
}

@media (max-width: 480px) and (min-width: 320px) {
  #mercusys h2 {
    font-size: 30px;
  }

  #mercusys h3 {
    font-size: 24px;
  }

  #mercusys h4 {
    font-size: 22px;
  }

  #mercusys p {
    font-size: 16px;
  }

  #mercusys .support {
    padding: 20px;
  }

  #mercusys .support .support_txt,
  #mercusys .support ul.support_list {
    margin-left: 0;
  }

  #mercusys .func {
    padding: 20px;
  }

  #mercusys .func ul.func_list li {
    min-width: 50%;
    max-width: 50%;
  }

  #mercusys .func ul.func_list li:nth-of-type(1),
  #mercusys .func ul.func_list li:nth-of-type(2),
  #mercusys .func ul.func_list li:nth-of-type(3),
  #mercusys .func ul.func_list li:nth-of-type(4),
  #mercusys .func ul.func_list li:nth-of-type(5),
  #mercusys .func ul.func_list li:nth-of-type(6) {
    margin-bottom: 30px;
    box-sizing: border-box;
  }

  #mercusys .func ul.func_list li:nth-of-type(odd) {
    padding-right: 5px;
    box-sizing: border-box;
  }

  #mercusys .func ul.func_list li:nth-of-type(even) {
    padding-left: 5px;
    box-sizing: border-box;
  }

  #mercusys .distance .bg-text .prompt {
    bottom: 15vw;
    right: 33.5vw;
  }

  #mercusys .distance {
    padding-top: 0;
    padding-bottom: 56.25vw;
    background-image: url("https://cdn.comfy.ua/media/x/img/1584286/03-bg_mob.jpg");
  }

  #mercusys .distance:before {
    display: none;
  }

  #mercusys .distance .bg-text .prompt:before {
    display: none;
  }

  #mercusys .timer .timer_txt {
    padding: 20px;
  }

  #mercusys .timer .timer_bg {
    padding: 20px;
    display: block;
  }

  #mercusys .timer .timer_bg ul.timer_list {
    max-width: 100%;
    padding: 1rem;
    box-sizing: border-box;
  }

  #mercusys .tapo {
    padding: 20px 0 0 0;
  }

  #mercusys .tapo ul.tapo_list>li {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
            flex-direction: column-reverse !important;
  }

  #mercusys .tapo ul.tapo_list li>div {
    max-width: 100%;
  }

  #mercusys .tapo ul.tapo_list li .tapo_txt {
    padding: 20px;
  }

  #mercusys .tapo .tapo_section .tapo_section_txt {
    padding: 20px;
  }

  #mercusys .tapo .tapo_section .tapo_section_bg {
    height: 300px;
    background-size: cover;
  }

  #mercusys .tapo ul.tapo_list:last-of-type li .tapo_txt ul.tapo_icon li span {
    font-size: 14px;
  }

  #mercusys .tapo ul.tapo_list:last-of-type li .tapo_txt ul.tapo_icon li {
    min-width: 50%;
    max-width: 50%;
  }

  #mercusys .tapo ul.tapo_list:last-of-type li .tapo_txt ul.tapo_icon li:nth-of-type(n+3) {
    margin-top: 20px;
  }

  #mercusys .tapo ul.tapo_list:first-of-type li .tapo_txt,
  #mercusys .tapo ul.tapo_list li .tapo_txt h2 {
    text-align: center;
  }

  #mercusys .tapo ul.tapo_list:last-of-type {
    margin-top: 40px;
  }

  #mercusys .settings .settings_txt {
    color: #000;
  }

  #mercusys .settings .settings_txt p:last-of-type {
    color: #646464;
  }

  #mercusys .settings {
    padding: 20px;
    background-image: url("https://cdn.comfy.ua/media/x/img/1584286/sec6_bg_mob.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 1070px;
    overflow: hidden;
  }

  #mercusys .settings ul.settings_icon {
    max-width: 170px;
    left: 45%;
    top: 27%;
  }

  #mercusys .settings ul.settings_list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-transform: translate(-50%, 50%);
            transform: translate(-50%, 50%);
    top: 24%;
  }

  #mercusys .settings ul.settings_list li:nth-of-type(2) {
    margin: 200px 0;
  }

  #mercusys .settings ul.settings_list li p {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    line-height: normal;
  }

  #mercusys .settings ul.settings_list li p::before {
    display: block;
    min-width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid #fff;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    padding-left: 4px;
  }

  #mercusys .settings ul.settings_list li:nth-of-type(1) p::before {
    content: "1";
    line-height: normal;
    font-size: 12px;
  }

  #mercusys .settings ul.settings_list li:nth-of-type(2) p::before {
    content: "2";
    line-height: normal;
    font-size: 12px;
  }

  #mercusys .settings ul.settings_list li:nth-of-type(3) p::before {
    content: "3";
    line-height: normal;
    font-size: 12px;
  }

  #mercusys .tapo_info {
    padding: 20px;
  }
}