.samsung {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  height: auto;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  padding-bottom: 88px;
}

.samsung img {
  margin: 0 auto;
  opacity: 1 !important;
  max-width: 100%;
  display: block;
  height: auto;
}

.samsung img:hover {
  opacity: 1 !important;
}

.samsung video {
  display: block;
  max-width: 100%;
  vertical-align: middle;
}

.samsung div {
  line-height: normal;
}

.features-desc__text img {
  margin-bottom: 0rem;
}

.one-col .features-desc__text p:first-letter {
  padding-left: 0rem !important;
}

.samsung .container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

.samsung__title {
  font-size: clamp(26px, 3vw, 48px);
  font-weight: bold;
}

.samsung__subtitle {
  font-size: clamp(16px, 2vw, 28px);
  font-weight: bold;
  margin: 16px 0 24px;
}

.samsung__txt {
  font-size: clamp(16px, 2vw, 18px);
  font-weight: bold;
}

.show__mob {
  display: none !important;
}

.innovation {
  position: relative;
}

.innovation__abs {
  position: absolute;
  max-width: 600px;
  top: 80px;
  left: 80px;
}

.samsung__anchors {
  padding: 48px 84px;
  background-color: #000;
  color: #fff;
}

.samsung__anchors__head {
  font-size: clamp(24px, 2vw, 38px);
  font-weight: bold;
}

.samsung__anchors__i {
  margin-right: 16px;
}

.samsung__anchors__i img {
  max-width: 56px;
  min-width: 56px;
}

.samsung__anchors__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.26);
  border-radius: 20px;
  padding: 20px;
}

.samsung__anchors__row:hover {
  background: rgba(114, 114, 114, 0.72);
  cursor: pointer;
}

.samsung__anchors__title {
  font-size: clamp(14px, 1.5vw, 22px);
  font-weight: bold;
  margin-bottom: 16px;
}

.samsung__anchors__txt {
  font-size: 14px;
}

.samsung__anchors__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 0 24px;
  margin-top: 24px;
}

.light {
  color: #fff;
  position: relative;
}

.light__bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.light__cont {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  padding: 80px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.cpu,
.hdr {
  background-color: #000;
}

.hdr__drag__img__one {
  position: absolute;
}

.hdr__drag {
  position: relative;
}

.hdr__knob {
  position: absolute;
  top: 0;
  left: 50%;
  border-radius: 50%;
  -webkit-transform: translate3d(0px, 301px, 0px);
          transform: translate3d(0px, 301px, 0px);
}

.knob-handle {
  background-color: #fff;
  width: 50px;
  height: 50px;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
}

.knob-handle__arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
}

.knob-handle__arrows img {
  max-width: 30px;
}

.knob-handle__arrows img:nth-of-type(1) {
  -webkit-transform: scale(1, -1);
          transform: scale(1, -1);
}

.hdr__range {
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.hdr__bar {
  width: 2px;
  height: 100%;
  background: #fff;
}

.hdr__bar:hover .knob-handle {
  background-color: #c1c1c1;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.hdr__drag__nav {
  position: absolute;
  right: 8%;
  bottom: 50%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  z-index: 2;
}

.hdr__drag__nav__txt {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.sound {
  overflow: hidden;
}

.sound .light__bg {
  top: -18%;
}

.samsung__picture {
  position: relative;
}

.swiper,
.swiper__two {
  width: 100%;
  height: 100%;
}

.swiper-wrapper {
  padding-left: 88px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.swiper-button-next,
.swiper-button-prev {
  max-width: 24px;
  max-height: 24px;
  padding: 7px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  top: 34% !important;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: #f7f7f7;
}

.swiper__two .swiper-button-next,
.swiper__two .swiper-button-prev {
  top: 42% !important;
}

.swiper-button-next {
  right: 26% !important;
}

.swiper-button-disabled {
  display: none !important;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 20px !important;
  color: #000;
}

.swiper-slide {
  width: 70% !important;
  opacity: .5;
}

.swiper-slide-active {
  opacity: 1 !important;
}

.swiper-pagination {
  position: unset !important;
  -webkit-transform: unset !important;
          transform: unset !important;
  margin-top: 64px;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  margin-right: auto;
  margin-left: auto;
  border-radius: 16px;
  padding: 4px 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  background-color: #000;
}

.gallery__kivi {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 900px;
}

.gallery__kivi img:nth-of-type(1) {
  position: absolute;
}

.dragger {
  position: absolute;
  bottom: 50%;
  right: 50%;
  -webkit-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
}

.dragger img {
  min-width: 156px;
  position: absolute;
  z-index: 10;
  right: 50%;
  bottom: 50%;
  -webkit-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
}

.dragger::before, .dragger::after {
  content: "";
  display: block;
  position: absolute;
  width: 2px;
  height: 9999px;
  -webkit-box-shadow: 0 3px 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
          box-shadow: 0 3px 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
  right: 50%;
  bottom: 50%;
  z-index: 2;
  background: white;
}

.dragger::after {
  top: 50%;
}

.clipped {
  -webkit-clip-path: inset(0px 50% 0px 0px);
          clip-path: inset(0px 50% 0px 0px);
}

.samsung__picture__title {
  font-size: clamp(26px, 4vw, 60px);
  font-weight: bold;
  margin-bottom: 64px;
  padding: 88px 88px 0;
}

.samsung__picture__cont {
  margin-top: 40px;
  max-width: 900px;
}

.samsung__picture__img {
  overflow: hidden;
}

.samsung__picture__img img {
  margin: 0;
}

.samsung__picture__img video {
  margin-bottom: -2px;
}

.samsung__picture__img__videos {
  position: relative;
}

.videos__thumb {
  position: absolute;
  top: 80px;
  width: 96px;
  height: 48px;
  right: 55%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

.videos__thumb:hover {
  cursor: pointer;
}

.videos__thumb:hover .videos__thumb__btn {
  background-color: #eee;
}

.videos__thumb__track {
  height: 42px;
  border: 0;
  background: #313131;
  border-radius: 21px;
}

.videos__thumb__wrap {
  width: 48px;
  height: 48px;
  max-height: 48px;
  position: absolute;
  bottom: 54%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

.videos__thumb__btn {
  height: 100%;
  border: 2px solid #313131;
  background-color: #fff;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.videos__thumb__active .videos__thumb__btn {
  -webkit-transform: translate(100%);
          transform: translate(100%);
  border-color: #006bea;
}

.videos__thumb__active .videos__thumb__track {
  background: #006bea;
}

.design__video {
  padding: 0 88px;
}

.design .samsung__picture__cont {
  padding: 0 88px;
}

@media (max-width: 1441px) {
  .sound .light__bg {
    top: -17%;
  }
}

@media (max-width: 1341px) {
  .swiper-button-next {
    right: 20.5% !important;
  }
}

@media (max-width: 1201px) {
  .samsung .container {
    width: 960px;
    padding: 0 15px;
  }
  .innovation__abs {
    top: 1em;
    left: 32px;
  }
  .samsung__anchors {
    padding-right: 0;
    padding-left: 0;
  }
  .samsung__anchors__grid {
    gap: 0 15px;
  }
  .samsung__anchors__row {
    padding: 15px;
  }
  .samsung__anchors__i {
    margin-right: 10px;
  }
  .samsung__anchors__i img {
    min-width: 40px;
    max-width: 40px;
  }
  .samsung__anchors__title {
    margin-bottom: 10px;
  }
  .samsung__anchors__txt {
    font-size: 12px;
  }
  .light__cont {
    padding: 2em 0;
  }
  .samsung__picture__title {
    padding: 2em 0 0 50px;
    margin-bottom: 1em;
  }
  .swiper-wrapper {
    padding-left: 50px;
  }
  .swiper .swiper-button-next {
    right: 19.5% !important;
  }
  .swiper .swiper-button-prev {
    left: 0%;
  }
  .swiper__two .swiper-button-next {
    right: 21.5% !important;
  }
  .swiper__two .swiper-button-prev {
    left: 3%;
  }
  .design__video {
    padding: 0 50px;
  }
  .design .samsung__picture__cont {
    padding: 0 50px;
  }
  .samsung {
    padding-bottom: 1em;
  }
  .videos__thumb {
    top: 55px;
    right: 50%;
  }
}

@media (max-width: 991px) {
  .samsung .container {
    width: 720px;
  }
  .hide__mob {
    display: none !important;
  }
  .show__mob {
    display: block !important;
  }
  .innovation__abs {
    left: 15px;
  }
  .samsung__anchors {
    padding-bottom: 0;
  }
  .samsung__anchors__grid {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: (1fr)[4];
        grid-template-rows: repeat(4, 1fr);
    gap: 10px 0;
  }
  #light {
    background-color: #000;
  }
  #light .light__bg {
    display: none;
  }
  #light .light__video video {
    min-width: 130%;
    margin-left: -20%;
  }
  #cpu .light__video video {
    min-width: 140%;
    margin-left: -20%;
  }
  .samsung__txt {
    font-weight: normal;
    font-size: 14px;
  }
  .hdr__range {
    height: 42vw;
    padding: 1.5em 1em;
  }
  .knob-handle {
    width: 42px;
    height: 42px;
  }
  .knob-handle__arrows {
    height: 42px;
  }
  .knob-handle__arrows img {
    max-width: 24px;
  }
  .hdr__drag__nav__txt {
    font-size: 14px;
  }
  #sound {
    background-color: #000;
  }
  #sound .light__bg {
    display: none;
  }
  .samsung__picture__title,
  .swiper-wrapper {
    padding-left: 0;
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: none !important;
  }
  .swiper-slide {
    width: 88% !important;
  }
  .swiper-pagination {
    margin-top: 1em;
  }
  .dragger img {
    min-width: 100px;
  }
  .videos__thumb {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: auto;
    top: 30px;
    right: 50%;
  }
  .videos__thumb__track {
    height: 5.83333333vw;
    width: 13vw;
    border-radius: 5.83333333vw;
  }
  .videos__thumb__wrap {
    height: 6.66666667vw;
    max-height: 6.66666667vw;
  }
  .videos__thumb__btn {
    width: 6.66666667vw;
    height: 6.66666667vw;
  }
  .design__video,
  .design .samsung__picture__cont {
    padding: 0;
  }
  .design__video video {
    min-width: 150%;
    margin-left: -25%;
  }
}

@media (max-width: 767px) {
  .samsung .container {
    width: 540px;
  }
}

@media (max-width: 576px) {
  .samsung .container {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}
