/*default styles*/
#acer {
  max-width: 1316px;
  width: 100%;
  margin: 0 auto;
  height: auto;
  display: block;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}
#acer p {
  margin-bottom: 0;
  margin: 0;
  font-size: 15px;
}
#acer p:first-letter {
  padding-left: 0;
}
#acer h2 {
  display: block;
  line-height: normal;
  font-size: 22px;
  font-weight: bold;
  padding: 0;
  margin: 17px 0 10px 0;
}
#acer img {
  opacity: 1;
  max-width: 100%;
  display: block;
  height: auto;
}
#acer img:hover {
  opacity: 1;
}
#acer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#acer sup {
  top: -0.7em;
  font-size: 0.7em;
}

.features-desc__text img {
  margin-bottom: 0rem;
}

.one-col .features-desc__text p:first-letter {
  padding-left: 0rem !important;
}

/*end default styles*/
#acer {
  padding: 0 0.5em;
}
#acer .char {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
#acer .char .char__cont {
  -webkit-box-flex: 3;
  -webkit-flex: 3;
     -moz-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
#acer .char .char__cont .char__cont__img {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
#acer .char .char__cont .char__cont__txt {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
     -moz-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  padding: 0 59px 0 20px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
#acer .char .char__cont .char__cont__txt .char__cont__list {
  margin-top: 10px;
}
#acer .char .char__cont .char__cont__txt .char__cont__list li {
  list-style-type: disc;
  list-style-position: inside;
  font-size: 15px;
  line-height: normal;
}
#acer .char .char__cont .char__cont__txt .char__cont__list li:nth-of-type(n+2) {
  margin-top: 5px;
}
#acer .char .char__acer {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: 30px;
  border-left: 1px solid #ddd;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
#acer .char .char__acer .char__acer__img img {
  margin: 0 auto 10px auto;
}
#acer .char .char__acer .char__acer__txt {
  padding-bottom: 10px;
  color: #888;
}
#acer .plitka {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 35px 35px;
  grid-template-areas: "..." "...";
}
#acer .snoski {
  margin-top: 20px;
}
#acer .snoski li {
  margin-bottom: 10px;
  list-style-type: decimal;
  list-style-position: inside;
  font-size: 15px;
  line-height: normal;
}

@media (max-width: 812px) {
  #acer .char {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #acer .char .char__cont .char__cont__txt {
    padding-right: 0;
  }
  #acer .char .char__acer {
    padding-left: 0;
    border-left: unset;
    margin-top: 1em;
  }
  #acer .plitka {
    gap: 10px 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: unset;
    grid-template-areas: ".." ".." "..";
  }
}
@media (max-width: 480px) {
  #acer h2 {
    font-size: 18px;
  }
  #acer p,
  #acer .snoski li,
  #acer .char .char__cont .char__cont__txt .char__cont__list li {
    font-size: 13px;
  }
  #acer .char .char__cont {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #acer .char .char__cont .char__cont__txt {
    padding-left: 0;
  }
  #acer .plitka {
    grid-template-columns: 1fr;
    grid-template-areas: "." "." "." "." "." ".";
  }
  #acer .char .char__cont .char__cont__img img {
    margin: -50px auto;
  }
  #acer .logo {
    position: relative;
  }
}