#apple-table {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
  padding: 32px 0;
  background: #fff;
}

#apple-table img:hover {
  opacity: 1;
}

#apple-table:first-letter {
  padding-left: 0;
}

#apple-table img {
  display: block;
  margin: 0 auto;
}

#apple-table p {
  margin-bottom: 0;
  color: #000;
  text-align: center;
  line-height: 1;
}

#apple-table h2 {
  font-size: 34px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

#apple-table h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  padding: 10px 0 0 0;
  color: #000;
  text-align: center;
}

.bc-description__content p:first-letter {
  padding-left: 0 !important;
}

.apple-table-wrap {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  height: auto;
}

.apple__h2 {
  padding-bottom: 32px;
}

.apple-wrap__table table, .apple-wrap__table td, .apple-wrap__table tr {
  border: 1px solid #E5E5E5;
}

.apple-wrap__table table {
  width: 100%;
  display: table;
  border-collapse: collapse;
}

.apple-wrap__table table tr {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
     -moz-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.apple-wrap__table table tr td {
  padding: 12px 15px;
}

.apple-wrap__table table tr td p {
  font-weight: 500;
  font-size: 12px;
}

.apple-wrap__table table tr.tr_header td {
  padding: 12px 0;
  width: 250px;
  vertical-align: bottom;
}

.apple-wrap__table table tr.tr_header td a {
  display: block;
}

.apple-wrap__table table tr.tr-colspan {
  background: #F2F2F2;
}

.apple-wrap__table table tr.tr-colspan td p {
  font-weight: 600;
  font-size: 14px;
}

.apple-wrap__table table tr.tr-footer td p {
  font-size: 12px;
  color: #616161 !important;
  line-height: 1.4;
}

@media (max-width: 480px) {
  #apple-table h3 {
    font-size: 12px;
  }
  .apple-wrap__container {
    overflow: scroll;
  }
  .apple-wrap__table {
    width: 745px;
  }
  .apple-wrap__table table tr.tr_header td a img {
    max-width: 37%;
  }
  #apple-table h2 {
    font-size: 20px;
  }
  .apple__h2 {
    padding-bottom: 15px;
    padding-left: 15px;
  }
  .apple-wrap__table table tr.tr-colspan td p {
    position: absolute;
    left: 0;
    right: 0;
    max-width: 320px;
    margin: -8px auto 0px auto;
  }
  .apple-wrap__table table tr.tr-colspan td {
    padding: 18px 0;
  }
  .apple-wrap__table table tr.tr_header td {
    height: 170px;
    width: 170px;
  }
}

@media (max-width: 320px) {
  .apple-wrap__table {
    width: 640px;
  }
}
