/*default styles*/

#archer 
  max-width: 1316px
  width: 100%
  margin: 0 auto
  height: auto
  display: block
  background-color: #fff
  box-sizing: border-box
  p  
    margin: 0
    margin-bottom: 0
    font-size: 18px
    &:first-letter
     padding-left: 0
  h2 
    display: block
    line-height: normal
    font-size: 36px
    font-weight: normal
    padding: 20px 0 10px 0
    margin: 0
  h3
    line-height: normal
    text-align: unset
    font-size: 18px
    margin: 0
    padding: 0
  img  
    opacity: 1 
    max-width: 100% 
    display: block 
    height: auto
    &:hover  
      opacity: 1 
  ul
    list-style-type: none
    padding: 0
    margin: 0
  span
    line-height: normal
  

.features-desc__text 
  img
    margin-bottom: 0rem 
.one-col .features-desc__text 
  p:first-letter
    padding-left: 0rem !important 

/*end default styles*/

#archer
  .wins
    height: 722px
    box-sizing: border-box
    background-image: url("https://cdn.comfy.ua/media/x/img/1494062/1.jpg")
    background-position: center
    padding: 70px
    display: flex
    flex-direction: row
    align-items: center
    justify-content: flex-end 
    .wins_txt
      color: #fff
      h2
        text-transform: uppercase
  .come_time
    overflow: hidden
    padding: 70px
    padding-left: 20em
    box-sizing: border-box
    height: 672px
    background-image: url("https://cdn.comfy.ua/media/x/img/1494062/2.jpg")
    background-position: center
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    position: relative
    .come_time_txt
      color: #fff
      max-width: 500px
      margin-top: -60px
      h2 
        text-transform: uppercase
    .come_time_img
      margin-top: 20px
      width: 500px
      position: relative
      .come_time_img_abs
        span
          display: block
          color: #fff
          position: absolute
          &.bold_span
            font-weight: bold
          &:nth-of-type(1)
            left: 7em
            top: 0
          &:nth-of-type(2)
            right: -1em
            top: 0
          &:nth-of-type(3)
            left: 10em
            bottom: 0.2em
          &:nth-of-type(4)
            right: 0em
            bottom: 0.2em  
    .come_time_abs
      color: #fff
      .come_time_abs_item
        h3
          text-transform: uppercase
        span
          color: #ff5e5e
          font-size: 14px
          display: block
          line-height: 20px
        &:nth-of-type(1)
          position: absolute
          left: 21em;
          top: 37em;
          text-align: right
        &:nth-of-type(2)
          position: absolute
          left: 17em
          top: 40em
          text-align: right
        &:nth-of-type(3)
          position: absolute
          right: 17em
          top: 37em
          text-align: left
        &:nth-of-type(4)
          position: absolute
          right: 19em
          top: 40em
          text-align: left
        &:nth-of-type(5)
          h2
            font-size: 40px
            font-weight: bold
          max-width: 200px
          position: absolute
          right: 50%
          transform: translateX(45%)
          top: 36em
          text-align: center
  .respond
    font-size: 1vw;
    display: flex
    flex-direction: column
    justify-content: space-between
    overflow: hidden
    padding: 50px 70px
    box-sizing: border-box
    height: 61.25em
    background: url("https://cdn.comfy.ua/media/x/img/1494062/4.jpg") 50% no-repeat
    background-size: cover
    .respond_img
      display: none
    .respond_txt 
      text-align: center
      color: #fff
      max-width: 900px
      margin: 0 auto
      h2
        text-transform: uppercase
    .respond_list
      color: #fff
      display: flex
      flex-direction: row
      align-items: center
      padding: 0 0.5em
      li
        max-width: 205px
        &:first-of-type
          flex: 2
          max-width: 300px
        &:nth-of-type(n+2)
          margin-left: 80px
          flex: 1
        h2
          font-weight: bold
          text-transform: uppercase
          font-size: 2vw
        h3
          text-transform: uppercase
          font-size: 1.5vw
        p
          font-size: 1.125vw
  .lags
    padding: 70px
    height: 61.25em
    box-sizing: border-box
    background: url("https://cdn.comfy.ua/media/x/img/1494062/6.jpg") 50%
    position: relative
    background-size: cover
    font-size: 1vw
    h2
      text-transform: uppercase
    .lags_txt
      max-width: 500px
      color: #fff
      .red_text
        padding: 80px
        text-align: center
        max-width: max-content
        background-image: url("https://cdn.comfy.ua/media/x/img/1494062/rec.png")
        background-size: contain
        background-repeat: no-repeat
        background-position: center
        span
          display: block
          &:nth-of-type(n+2)
            margin-top: 10px
      .lags_img
        display: none
    .lags_abs
      position: absolute
      right: 20em
      top: 24em
      span
        font-size: 1.8em
  .stata
    font-size: 1.1111111vw
    background: url("https://cdn.comfy.ua/media/x/img/1494062/7.jpg") 50% no-repeat;
    background-size: cover;
    height: 70em;
    .stata_txt
      max-width: 630px
      text-align: center
      color: #fff
      margin: 0 auto
      padding-top: 20em
      h2
        text-transform: uppercase
  .protect
    font-size: 1.1111111vw
    background: url("https://cdn.comfy.ua/media/x/img/1494062/8.jpg") 50% no-repeat;
    background-size: cover;
    height: 61.25em;
    .protect_txt
      max-width: 900px
      color: #fff
      margin: 0 auto
      text-align: center
      padding: 70px 20px 20px 20px
      h2
        text-transform: uppercase
      img
        margin: 0 auto
        margin-top: 40px
  .diapazon
    background-color: #000
    font-size: 1vw
    padding: 70px 0
    h2
      text-transform: uppercase
    .diapazon_txt
      color: #fff
      max-width: 900px
      margin: 0 auto
      text-align: center     
      padding: 20px       
    .diapazon_bg
      background: url("https://cdn.comfy.ua/media/x/img/1494062/10.png") 50% no-repeat
      background-size: contain
      height: 25em
      margin: 6em auto
      position: relative
      .diapazon_bg_img
        display: none
      .chastota
        color: #fff
        font-size: 20pt
        position: absolute
        bottom: 50%
        transform: translateY(50%)
        left: 4em
        text-align: center
        li
          &:first-of-type
            margin-top: -25px
            color: #f00
            font-weight: bold
          &:nth-of-type(2)
            padding: 35px 0 
      .chanel
        color: #fff
        position: absolute
        display: flex
        flex-direction: row
        right: 5em
        bottom: 4em
        li
          span
            font-size: 0.9em
          &:nth-of-type(n+2)
            padding-left: 1.8em
      .dfs
        position: absolute
        color: #fff
        display: flex
        flex-direction: row
        width: 100%
        justify-content: space-between
        max-width: 50em
        right: 50%
        bottom: 0
        transform: translateX(50%)
        li
          span
            font-size: 1.875em
            text-transform: uppercase
    .power
      background-color: #000
      h2
        text-transform: uppercase
      .power_txt     
        max-width: 900px
        text-align: center
        color: #fff
        margin: 0 auto
        padding: 20px
      .power_bg
        font-size: 1.1111111vw
        background: url("https://cdn.comfy.ua/media/x/img/1494062/11.jpg") 50% / 100% auto no-repeat;
        height: 0;
        margin: 10em 0 0;
        padding-bottom: 25%;
        position: relative;
        .power_bg_list
          display: flex
          flex-direction: row
          align-items: center
          justify-content: space-between
          padding: 0 2em  
          color: #fff
          font-size: 2.25em
          transform: translateY(4em)
          li
            span
              text-shadow: 0 0 1em #ff3434
              text-align: center
              display: block
      

/*media***********************************************************/

@media (max-width: 1366px) and (min-width: 1025px)
  #archer
    .respond,
    .lags,
    .diapazon
      font-size: 1.1111111em

@media (max-width: 1024px)
  #archer 
    .come_time 
      .come_time_abs 
          .come_time_abs_item
            &:nth-of-type(1)
              left: 9em
            &:nth-of-type(2)
              left: 5em
            &:nth-of-type(3)
              right: 5em
            &:nth-of-type(4)
              right: 7em
    .respond
      padding: 35px 20px
      .respond_list
        padding: 0 110px
        li
          &:first-of-type
            max-width: 180px
          &:nth-of-type(n+2)
            margin-left: 50px
          p
            line-height: normal
    .diapazon 
      .diapazon_bg 
        .chastota
          left: 4em
          li
            &:nth-of-type(2)
              padding: 20px 0
        .chanel
          right: 11em
    .lags
      .lags_txt
        .lags_abs
          right: 27em
              
              
@media (max-width: 812px)
  #archer 
    h3
      font-size: 12px
    .come_time
      padding-left: 14em
      .come_time_abs 
        .come_time_abs_item
          span
            font-size: 10px
          &:nth-of-type(1)
            left: 5em
          &:nth-of-type(2)
            left: 2em
          &:nth-of-type(3)
            right: 3em
          &:nth-of-type(4)
            right: 5em
    .respond 
      padding: 25px 20px
      .respond_list 
        padding: 0 50px
        li
          &:nth-of-type(n+2)
            margin-left: 40px
    .lags
      padding: 20px
      .lags_txt
        max-width: 400px
      .lags_abs
        right: 22em
    .diapazon 
      .diapazon_bg 
        .chastota
          left: 2em
          li
            &:nth-of-type(2)
              padding: 10px 0
          span
            font-size: 0.7em

@media (max-width: 736px)
  #archer 
    .respond 
      background: unset
      background-position: center
      height: auto
      font-size: 2.5vw
      padding: 0
      position: relative
      .respond_txt
        background-color: #000
        padding: 20px
      .respond_img
        display: block
        img
          width: 100%
      .respond_list
        padding: 0
        flex-wrap: wrap
        background-color: #000
        li
          flex: unset !important
          h2
            font-size: 2em
          h3
            font-size: 1.5em
          p
            font-size: 1.125em
          &:first-of-type
            position: absolute
            bottom: 16em
            right: 50%
            transform: translateX(50%)
            max-width: max-content
          &:nth-of-type(n+2)
            width: 50%
            min-width: 50%
            margin: 0
            padding: 10px 20px
            box-sizing: border-box
            &::before
              content: ''
              display: block
              width: 30px
              height: 20px
              background-image: url("https://cdn.comfy.ua/media/x/img/1494062/arrow.png")
              background-size: contain
              background-position: center
              background-repeat: no-repeat

@media (max-width: 481px)
  #archer 
    h2
      font-size: 22px
    .wins
      background-size: cover
      height: 500px
      text-align: center
      padding: 20px
      justify-content: center
    .come_time
      padding: 20px 0
      justify-content: flex-start
      height: auto
      background-position: center right 51%
      background-size: cover
      background-repeat: no-repeat
      background-image: url("https://cdn.comfy.ua/media/x/img/1494062/2m.jpg")
      .come_time_txt
        padding: 20px
        margin-top: 0
        text-align: center
      .come_time_img
        width: unset
        margin: 20px
        img
          margin-left: -40px
        .come_time_img_abs 
          span
            font-size: 3vw
            &:nth-of-type(1)
              left: 0em
            &:nth-of-type(2)
              right: 0em
            &:nth-of-type(3)
              left: 0em
            &:nth-of-type(4)
              right: 0em
      .come_time_abs
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        width: 100%
        .come_time_abs_item
          position: unset !important
          transform: unset !important
          text-align: center !important
          &:nth-of-type(1)
            order: 2
            margin-bottom: 20px
          &:nth-of-type(2)
            order: 3
            margin-bottom: 20px
          &:nth-of-type(3)
            order: 4
            margin-bottom: 20px
          &:nth-of-type(4)
            order: 5
          &:nth-of-type(5)
            margin-bottom: 20px
            max-width: 100%
            width: 100%
            margin: 0
            h2
              background-image: url("https://cdn.comfy.ua/media/x/img/1494062/5.png")
              background-size: cover
              background-position: center
    .respond 
      .respond_list 
        li
          &:first-of-type
            bottom: 20em
    .lags
      height: auto
      background: unset
      background-color: #000
      padding: 0
      font-size: 5vw
      text-align: center
      .lags_txt
        h2,
        p
          padding: 20px
        .red_text
          margin: 0 auto
          span

        .lags_img
          display: block
      .lags_abs
        right: 50% !important
        transform: translateX(50%)
        span
          font-size: 0.8em
    .stata 
      font-size: 2vw
      .stata_txt
        padding: 20px
        padding-top: 12em
        h2 
          font-size: 22px
    .protect
      font-size: 2vw
      .protect_txt
        padding: 20px
    .diapazon 
      padding: 0
      
      .diapazon_bg
        display: flex
        flex-direction: column
        height: auto
        background: unset
        .diapazon_bg_img
          display: block
        .chastota
          left: 1em
          top: -2.8em
          li
            &:first-of-type
              margin-top: -30px
            &:nth-of-type(2)
              padding: 0
        .chanel 
          right: 50%
          bottom: 2em
          transform: translateX(50%)
          li 
            span
              font-size: 2.5em
            &:nth-of-type(n+2)
              padding-left: 4.8em;
        .dfs
          bottom: -30px
          li
            span
              font-size: 3.875em
      .power
        .power_bg
          background: unset
          padding-bottom: 170%
          .power_bg_list
            position: unset
            flex-direction: column
            padding-left: 0
            padding-right: 0
            background-color: #000
            li
              background-position: center
              background-repeat: no-repeat
              background-size: 100% 100%
              float: none
              height: 0
              margin: 0 0 3rem
              padding-bottom: 40%
              width: 100%
              &:nth-of-type(1)
                background-image: url("https://cdn.comfy.ua/media/x/img/1494062/13.jpg")
              &:nth-of-type(2)
                background-image: url("https://cdn.comfy.ua/media/x/img/1494062/14.jpg")
              &:nth-of-type(3)
                background-image: url("https://cdn.comfy.ua/media/x/img/1494062/15.jpg")
              span
                font-size: 2em
                padding: 15% 0 0
                
