.rkt-dreame-mova-k10-bvc-t8a__container {
  overflow: hidden;
}

.bc-description__content p:first-letter {
  padding-left: 0 !important;
}

#rkt-dreame-mova-k10-bvc-t8a {
  max-width: 1023px;
  width: 100%;
  height: auto;
  overflow: hidden;
  background: #fff;
}
#rkt-dreame-mova-k10-bvc-t8a h2, #rkt-dreame-mova-k10-bvc-t8a h3, #rkt-dreame-mova-k10-bvc-t8a h4, #rkt-dreame-mova-k10-bvc-t8a h5, #rkt-dreame-mova-k10-bvc-t8a h6, #rkt-dreame-mova-k10-bvc-t8a p {
  margin: 0;
  padding: 0;
  line-height: 1.2;
}
#rkt-dreame-mova-k10-bvc-t8a ul {
  margin: 0;
  padding: 0;
  list-style-type: disc;
  padding-left: 20px;
  margin: 0.5rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
#rkt-dreame-mova-k10-bvc-t8a img {
  display: block;
  max-width: 100%;
  opacity: 1;
  margin: 0 auto;
}
#rkt-dreame-mova-k10-bvc-t8a img:hover {
  opacity: 1;
}
#rkt-dreame-mova-k10-bvc-t8a h2 {
  font-size: 26px;
  font-weight: 900;
  text-align: left;
  margin-bottom: 1rem;
}
#rkt-dreame-mova-k10-bvc-t8a h3 {
  font-size: 20px;
  font-weight: 900;
  text-align: left;
  margin-bottom: 1rem;
}
#rkt-dreame-mova-k10-bvc-t8a p {
  font-size: 16px;
  font-weight: 400;
  text-align: left;
}
#rkt-dreame-mova-k10-bvc-t8a li {
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  line-height: 1.2;
}
@media (max-width: 1023px) {
  #rkt-dreame-mova-k10-bvc-t8a li {
    font-size: calc(14px + 2 * (100vw - 320px) / 703);
  }
}
#rkt-dreame-mova-k10-bvc-t8a i {
  line-height: 1.2;
  font-size: 16px;
  margin-top: 0.5rem;
  display: block;
  font-style: italic;
}
@media (max-width: 1023px) {
  #rkt-dreame-mova-k10-bvc-t8a i {
    font-size: calc(14px + 2 * (100vw - 320px) / 703);
  }
}

.rkt__cont {
  padding: 1em;
}
.rkt__cont h2, .rkt__cont p {
  text-align: center !important;
}

.rkt__list {
  list-style-type: decimal !important;
}