#fifa22 {
  display: block;
  margin: 0 auto;
  max-width: 1316px;
  width: 100%;
  height: auto;
  overflow: hidden;
  background-color: #1c1f26;
  position: relative;
}

#fifa22 img:hover {
  opacity: 1;
}

#fifa22 img:first-letter {
  padding-left: 0;
}

#fifa22 img {
  display: block;
  margin-right: initial;
  margin-left: initial;
}

#fifa22 p {
  font-size: 19px;
  margin-bottom: 0;
  color: #e8f4ea;
}

#fifa22 h2 {
  font-size: 35px;
  line-height: 1;
  font-weight: bold;
  text-align: center;
  color: #c4f750;
}

#fifa22 h3 {
  font-size: 28px;
  margin: 0;
  padding-top: 0;
  line-height: 1;
  text-align: inherit;
  font-weight: bold;
  color: #c4f750;
}

#fifa22 h4 {
  font-size: 23px;
  line-height: 1;
  font-weight: bold;
  margin: 0;
  color: #e8f4ea;
  text-align: center;
  padding: 5px 0 5px 0;
}

#fifa22 i {
  font-size: 12px;
  color: #e8f4ea;
}

#fifa22 a {
  color: #e8f4ea;
  text-decoration: underline;
}

.features-desc__text h2 {
  text-align: inherit;
}

.one-col .features-desc__text p {
  text-align: inherit;
}

span.word-wrap {
  display: block;
  word-wrap: break-word;
}

span.fw-bold {
  font-weight: bold;
}

span.tx-uppercase {
  text-transform: uppercase;
}

.fifa22-wrap__flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.fifa22-wrap__item:first-child {
  width: 40%;
}

.fifa22-wrap__item:last-child {
  width: 60%;
  position: relative;
}

.fifa22-wrap__item:last-child::before, .fifa22-wrap__item:last-child::after {
  content: "";
  background-repeat: no-repeat;
  -webkit-background-size: contain;
     -moz-background-size: contain;
       -o-background-size: contain;
          background-size: contain;
  position: absolute;
}

.fifa22-wrap__item:last-child::before {
  background-image: url(https://cdn.comfy.ua/media/x/img2/fifa22/img6.png);
  left: 0;
  top: 0;
  width: 187px;
  height: 300px;
  z-index: 1;
}

.fifa22-wrap__item:last-child::after {
  background-image: url(https://cdn.comfy.ua/media/x/img2/fifa22/img7.png);
  right: 0;
  bottom: 0;
  width: 159px;
  height: 169px;
  z-index: 1;
}

.fifa22-wrap__content {
  position: relative;
  z-index: 2;
  padding: 20px 15px 10px 15px;
}

.fifa22-wrap__logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fifa22-wrap__logo h3 {
  padding-left: 30px;
}

.fifa22-wrap__h2 {
  padding: 10px 15px;
}

.fifa22-wrap__playflex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.fifa22-wrap__playflex__item {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
     -moz-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  padding: 0px 15px;
  text-align: center;
}

.fifa22-wrap__playflex__item img {
  margin: 0 auto !important;
}

.fifa22-wrap__i {
  text-align: left;
  padding: 10px;
}

@media (max-width: 1250px) {
  .fifa22-wrap__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .fifa22-wrap__item:first-child {
    display: none;
  }
  .fifa22-wrap__item:last-child {
    width: 100%;
    position: relative;
  }
}

@media (max-width: 480px) {
  #fifa22 h3 {
    font-size: 28px;
  }
  #fifa22 h2 {
    font-size: 25px;
  }
  #fifa22 h4 {
    font-size: 18px;
  }
  span.word-wrap {
    display: initial;
  }
  .fifa22-wrap__logo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .fifa22-wrap__logo h3 {
    padding-left: 0;
    margin: 15px 0 5px 0 !important;
  }
  .fifa22-wrap__playflex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .fifa22-wrap__item:first-child {
    width: 100%;
    display: block;
  }
  .fifa22-wrap__playflex__item {
    padding: 0px 15px 15px 15px;
  }
}
