.rkt-philips-multigroom-series-3000-mg3720-15__container {
  overflow: hidden;
}

.bc-description__content p:first-letter {
  padding-left: 0 !important;
}

#rkt-philips-multigroom-series-3000-mg3720-15 {
  max-width: 1023px;
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  background: #fff;
}
#rkt-philips-multigroom-series-3000-mg3720-15 h2, #rkt-philips-multigroom-series-3000-mg3720-15 h3, #rkt-philips-multigroom-series-3000-mg3720-15 h4, #rkt-philips-multigroom-series-3000-mg3720-15 h5, #rkt-philips-multigroom-series-3000-mg3720-15 h6, #rkt-philips-multigroom-series-3000-mg3720-15 p {
  margin: 0;
  padding: 0;
  line-height: 1.2;
}
#rkt-philips-multigroom-series-3000-mg3720-15 ul {
  margin: 0;
  padding: 0;
  list-style-type: disc;
  padding-left: 20px;
  margin: 0.5rem 0;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
#rkt-philips-multigroom-series-3000-mg3720-15 img {
  display: block;
  max-width: 100%;
  opacity: 1;
  margin: 0 auto;
}
#rkt-philips-multigroom-series-3000-mg3720-15 img:hover {
  opacity: 1;
}
#rkt-philips-multigroom-series-3000-mg3720-15 h2 {
  font-size: 26px;
  font-weight: 900;
  text-align: left;
  margin-bottom: 1rem;
}
@media (max-width: 1023px) {
  #rkt-philips-multigroom-series-3000-mg3720-15 h2 {
    font-size: calc(20px + 6 * (100vw - 320px) / 703);
  }
}
#rkt-philips-multigroom-series-3000-mg3720-15 h3 {
  font-size: 20px;
  font-weight: 900;
  text-align: left;
  margin-bottom: 1rem;
}
@media (max-width: 1023px) {
  #rkt-philips-multigroom-series-3000-mg3720-15 h3 {
    font-size: calc(18px + 2 * (100vw - 320px) / 703);
  }
}
#rkt-philips-multigroom-series-3000-mg3720-15 p {
  font-size: 16px;
  font-weight: 400;
  text-align: left;
}
@media (max-width: 1023px) {
  #rkt-philips-multigroom-series-3000-mg3720-15 p {
    font-size: calc(14px + 2 * (100vw - 320px) / 703);
  }
}
#rkt-philips-multigroom-series-3000-mg3720-15 li {
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  line-height: 1.2;
}
@media (max-width: 1023px) {
  #rkt-philips-multigroom-series-3000-mg3720-15 li {
    font-size: calc(14px + 2 * (100vw - 320px) / 703);
  }
}
#rkt-philips-multigroom-series-3000-mg3720-15 i {
  line-height: 1.2;
  font-size: 16px;
  margin-top: 0.5rem;
  display: block;
  font-style: italic;
}
@media (max-width: 1023px) {
  #rkt-philips-multigroom-series-3000-mg3720-15 i {
    font-size: calc(14px + 2 * (100vw - 320px) / 703);
  }
}

.philips div {
  line-height: normal;
}

.features-desc__text img {
  margin-bottom: 0rem;
}

.philips .container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

.logo {
  position: relative;
  color: #fff;
}

.logo__i {
  position: absolute;
  left: 2em;
  top: -7px;
}
.logo__i img {
  width: 70%;
  margin: 0 !important;
}

.logo__abs {
  position: absolute;
  left: 2em;
  bottom: 70px;
  max-width: 35%;
}

.logo__txt {
  font-size: clamp(16px, 2vw, 18px);
  margin-top: 1rem;
}

.logo__title {
  font-weight: bold;
  font-size: clamp(20px, 2vw, 26px);
}

.philips__title,
.philips__blue {
  font-size: clamp(20px, 2vw, 26px);
}

.philips__blue {
  color: #fff;
  margin: 0;
  padding: 1em 2em;
  background-color: #005a8c;
}
.philips__blue i {
  display: block;
  font-style: normal;
  font-size: clamp(16px, 1.4vw, 18px);
  margin-top: 1rem;
}

.tools__wrap {
  padding: 2em;
}
.tools__wrap .philips__title {
  padding-left: 15%;
}

.tools__row {
  display: flex;
  gap: 65px;
}

.tools__cont {
  max-width: 680px;
}
.tools__cont .philips__txt {
  display: flex;
  align-items: center;
  gap: 1em;
}
.tools__cont .philips__txt::before {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  background: url("https://cdn.comfy.ua/media/x/img3/1788234/i1.png") no-repeat center/contain;
}

.tools__items {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-top: 2em;
}

.philips__txt {
  font-size: clamp(14px, 1.2vw, 16px);
}

.advantages {
  color: #fff;
  background-color: #0066a1;
}

.advantages__wrap {
  padding: 2em;
}

.advantages__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em 2em;
}

.advantages__cont {
  margin-top: 1em;
}

.philips__sub {
  font-size: clamp(16px, 1.3vw, 18px);
  font-weight: bold;
  margin-bottom: 1rem;
}

.table__scroll {
  padding: 2em;
}

.table__grid__two {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.table__grid__two > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  background-color: #e4eefb;
  padding: 20px 0;
}
.table__grid__two > div:nth-of-type(even) {
  background-color: #b2c8e6;
}

.table__sub {
  font-size: clamp(14px, 1.2vw, 16px);
}

.table__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "cal1 cal1 cal1 cal1";
}
.table__grid > div {
  padding: 10px;
  background-color: #e4eefb;
}
.table__grid > div:nth-of-type(odd) {
  background-color: #b2c8e6;
}

.table__title {
  grid-area: cal1;
  font-size: clamp(18px, 1.4vw, 20px);
  font-weight: bold;
  color: #005a8c;
  padding-left: 0 !important;
  background-color: unset !important;
}

.table__txt {
  font-size: clamp(14px, 1.2vw, 16px);
}

.lastlogo {
  padding: 2em;
  background-image: linear-gradient(106deg, #0f204b 0%, #0066a1 100%);
}
.lastlogo img {
  max-width: 150px !important;
}

@media (min-width: 320px) and (max-width: 767.9px) {
  .logo {
    display: flex;
    flex-direction: column-reverse;
    background-image: linear-gradient(115deg, #0f204b -24%, #0066a1 40%);
  }
  .logo__i {
    max-width: 35vw;
    left: 1em;
  }
  .logo__i img {
    width: 100% !important;
  }
  .logo__abs {
    position: unset;
    padding: 1em 0;
    max-width: 100%;
    text-align: center;
  }
  .logo__abs .logo__title br {
    display: none;
  }
  .philips__blue {
    padding: 0.5em;
    text-align: center;
  }
  .advantages__grid {
    grid-template-columns: 1fr;
    gap: 2em;
  }
  .advantages__cont {
    margin-top: 1em;
    text-align: center;
  }
  .philips__sub {
    margin-bottom: 1rem;
  }
  .table__scroll {
    overflow-x: scroll;
  }
  .table__wrap {
    min-width: 920px !important;
  }
  .lastlogo {
    padding: 2em 0 !important;
  }
  .lastlogo img {
    max-width: 24vw !important;
  }
}
@media (max-width: 1201px) {
  .philips .container {
    padding: 0 12px;
    box-sizing: border-box;
  }
  .tools__wrap,
  .advantages__wrap,
  .table__scroll {
    padding: 2em 0;
  }
  .lastlogo {
    padding: 4em 0;
  }
  .tools__row {
    flex-direction: column-reverse;
    gap: 2em;
  }
  .tools__items {
    gap: 1em;
    margin-top: 1em;
  }
  .tools__cont .philips__txt {
    gap: 0.5em;
    justify-content: center;
  }
  .tools__cont .philips__txt::before {
    min-width: 20px;
    max-width: 20px;
    height: 20px;
  }
  .tools__wrap .philips__title {
    padding-left: unset;
  }
  .tools__cont {
    text-align: center;
  }
  .advantages__grid {
    gap: 2em 2em;
  }
  .table__scroll {
    overflow-x: scroll;
  }
  .table__wrap {
    min-width: 100vw;
  }
}